Repository carbon-language/carbon-lang, pull requests merged in 2022-08, with the labels that each got.

#1870 Implement unformed state of `returned var`.
  explorer/syntax/parser.ypp
  explorer/testdata/uninitialized/declare_returned_var.carbon
  explorer/testdata/uninitialized/fail_uninitialized_returned_var.carbon
Labels: explorer

#1894 Disable auto-update on RAND test case.
  explorer/testdata/random/random.carbon
Labels: explorer

#1831 Implement static analysis of unformed usage on local variables.
  explorer/interpreter/BUILD
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/resolve_unformed.h
  explorer/testdata/basic_syntax/trace.carbon
  explorer/testdata/uninitialized/fail_local_uninitialized_assign.carbon
  explorer/testdata/uninitialized/fail_local_uninitialized_init.carbon
  explorer/testdata/uninitialized/fail_local_uninitialized_param.carbon
  explorer/testdata/uninitialized/fail_local_uninitialized_pattern.carbon
  explorer/testdata/uninitialized/fail_local_uninitialized_return.carbon
Labels: explorer

#1901 Change remaining uses of `Bool` to `bool`, following #750.
  common/fuzzing/proto_to_carbon.cpp
  docs/design/classes.md
  docs/design/generics/goals.md
  docs/design/generics/overview.md
  docs/design/generics/terminology.md
  docs/design/name_lookup.md
  docs/design/primitive_types.md
  docs/project/principles/error_handling.md
  docs/project/principles/library_apis_only.md
  explorer/ast/expression.cpp
  explorer/data/prelude.carbon
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/value.cpp
  explorer/syntax/lexer.lpp
  explorer/testdata/basic_syntax/not_compare_precedence.carbon
  explorer/testdata/comparison/custom_equality.carbon
  explorer/testdata/comparison/fail_empty_struct.carbon
  explorer/testdata/function/auto_return/fail_direct_recurse.carbon
  explorer/testdata/generic_class/fail_argument_deduction.carbon
  explorer/testdata/generic_class/fail_point_equal.carbon
  explorer/testdata/generic_function/apply.carbon
  explorer/testdata/generic_function/fail_type_deduction_mismatch.carbon
  explorer/testdata/global_variable/fail_init_type_mismatch.carbon
  explorer/testdata/if_else/convert_condition.carbon
  explorer/testdata/if_expression/convert_condition.carbon
  explorer/testdata/if_expression/if_then_else.carbon
  explorer/testdata/impl/fail_ambiguous_impl_generic.carbon
  explorer/testdata/impl/fail_param_interface_in_impl.carbon
  explorer/testdata/operators/shortcircuit_and.carbon
  explorer/testdata/operators/shortcircuit_and_no_shortcircuit.carbon
  explorer/testdata/operators/shortcircuit_or.carbon
  explorer/testdata/operators/shortcircuit_or_no_shortcircuit.carbon
  explorer/testdata/random/random.carbon
  explorer/testdata/returned_var/fail_returned_var_type_mismatch.carbon
  explorer/testdata/struct/equality.carbon
  explorer/testdata/struct/equality_false.carbon
  explorer/testdata/struct/fail_equality_type.carbon
  explorer/testdata/while/convert_condition.carbon
  third_party/examples/re2/re2.carbon
Labels: explorer

#1918 Fix for: missing check that deduced argument converts to type of parameter #1300
  explorer/interpreter/type_checker.cpp
  explorer/testdata/generic_function/fail_wrong_variable_substituation.carbon
Labels: explorer

#1923 Implement more flows on unformed static analysis
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/resolve_unformed.h
  explorer/testdata/unformed/control_flow_defer_to_dynamic.carbon
  explorer/testdata/unformed/dynamic/fail_global.carbon
  explorer/testdata/unformed/dynamic/fail_param.carbon
  explorer/testdata/unformed/dynamic/fail_pattern_declare.carbon
  explorer/testdata/unformed/dynamic/fail_return.carbon
  explorer/testdata/unformed/dynamic/fail_returned_var.carbon
  explorer/testdata/unformed/dynamic/fail_rhs_assign.carbon
  explorer/testdata/unformed/global_assign_before_use.carbon
  explorer/testdata/unformed/global_escape.carbon
  explorer/testdata/unformed/global_unformed_without_use.carbon
  explorer/testdata/unformed/local_assign_before_use.carbon
  explorer/testdata/unformed/local_escape.carbon
  explorer/testdata/unformed/local_unformed_without_use.carbon
  explorer/testdata/unformed/pattern_declare.carbon
  explorer/testdata/unformed/returned_var_assign_before_use.carbon
  explorer/testdata/unformed/static/fail_field_value.carbon
  explorer/testdata/unformed/static/fail_if_cond.carbon
  explorer/testdata/unformed/static/fail_if_else.carbon
  explorer/testdata/unformed/static/fail_if_then.carbon
  explorer/testdata/unformed/static/fail_local_pattern_declare.carbon
  explorer/testdata/unformed/static/fail_local_rhs_assign.carbon
  explorer/testdata/unformed/static/fail_match_clause.carbon
  explorer/testdata/unformed/static/fail_match_expression.carbon
  explorer/testdata/unformed/static/fail_param.carbon
  explorer/testdata/unformed/static/fail_return.carbon
  explorer/testdata/unformed/static/fail_returned_var.carbon
  explorer/testdata/unformed/static/fail_rhs_def.carbon
  explorer/testdata/unformed/static/fail_struct_member_access.carbon
  explorer/testdata/unformed/static/fail_while_body.carbon
  explorer/testdata/unformed/static/fail_while_cond.carbon
Labels: explorer

#2035 Fix source code location on dynamic unformed check of `ReturnVar`.
  explorer/interpreter/interpreter.cpp
  explorer/testdata/unformed/dynamic/fail_returned_var.carbon
Labels: explorer

#2040 Unicode char limit
  docs/design/lexical_conventions/string_literals.md
  proposals/p2040.md
Labels: proposal, proposal rfc

#2089 Add action for wiki change notifications.
  .github/workflows/discord_wiki.yaml
Labels: DO NOT MERGE

#1360 Change raw string literal syntax: `[#]*"` represents single-line string and `[#]*'''` represents block string
  docs/design/lexical_conventions/string_literals.md
  proposals/p1360.md
Labels: proposal, proposal rfc

#1983 Weaken digit separator placement rules
  proposals/p1983.md
Labels: proposal, proposal rfc

#1895 Add Abstract Section
  proposals/scripts/template.md
Labels: proposal, proposal rfc
