Repository carbon-language/carbon-lang, pull requests merged in 2022-12, with the labels that each got.

#2435 Add vlog output to the parser.
  toolchain/driver/driver.cpp
  toolchain/parser/BUILD
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
  toolchain/parser/parse_tree_fuzzer.cpp
  toolchain/parser/parse_tree_test.cpp
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/testdata/BUILD
Labels: toolchain

#2424 Update LLVM and switch to `std::optional`.
  WORKSPACE
  explorer/interpreter/type_checker.cpp
  scripts/forbid_llvm_googletest.py
  toolchain/lexer/numeric_literal.cpp
  toolchain/lexer/numeric_literal.h
  toolchain/lexer/numeric_literal_test.cpp
  toolchain/lexer/string_literal.cpp
  toolchain/lexer/string_literal.h
  toolchain/lexer/string_literal_test.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/lexer/tokenized_buffer_test_helpers.h
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/precedence.cpp
  toolchain/parser/precedence.h
  toolchain/parser/precedence_test.cpp
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/source/source_buffer.cpp
Labels: infrastructure, toolchain

#2376 Constraints must use `Self`
  docs/design/generics/details.md
  proposals/p2376.md
Labels: proposal, proposal rfc

#2434 README.md: add a section with past talks
  README.md
Labels: documentation

#2437 Move parse tree tests to files.
  toolchain/parser/parse_tree_test.cpp
  toolchain/parser/testdata/basics/package.carbon
  toolchain/parser/testdata/operators/fail_infix_uneven_space_after.carbon
  toolchain/parser/testdata/operators/fail_precedence_and_or.carbon
  toolchain/parser/testdata/operators/fail_precedence_or_and.carbon
  toolchain/parser/testdata/operators/fail_precedence_star_minus.carbon
  toolchain/parser/testdata/operators/fail_precedence_star_star.carbon
  toolchain/parser/testdata/operators/fail_star_star_no_space.carbon
  toolchain/parser/testdata/operators/infix.carbon
  toolchain/parser/testdata/operators/infix_no_space.carbon
  toolchain/parser/testdata/operators/infix_with_paren_after.carbon
  toolchain/parser/testdata/operators/infix_with_paren_before.carbon
  toolchain/parser/testdata/operators/postfix.carbon
  toolchain/parser/testdata/operators/postfix_repeat.carbon
  toolchain/parser/testdata/operators/postfix_space_after_op.carbon
  toolchain/parser/testdata/operators/prefix.carbon
  toolchain/parser/testdata/operators/prefix_no_space.carbon
  toolchain/parser/testdata/operators/prefix_repeat.carbon
  toolchain/parser/testdata/operators/recover_infix_uneven_space_before.carbon
  toolchain/parser/testdata/operators/recover_postfix_space.carbon
  toolchain/parser/testdata/operators/recover_postfix_space_before_comma.carbon
  toolchain/parser/testdata/operators/recover_postfix_space_in_call.carbon
  toolchain/parser/testdata/operators/recover_postfix_space_surrounding.carbon
  toolchain/parser/testdata/operators/recover_prefix_space.carbon
  toolchain/parser/testdata/operators/recover_prefix_uneven_space_with_assign.carbon
  toolchain/parser/testdata/package/api.carbon
  toolchain/parser/testdata/package/api_library.carbon
  toolchain/parser/testdata/package/fail_extra_string.carbon
  toolchain/parser/testdata/package/fail_library_is_identifier.carbon
  toolchain/parser/testdata/package/fail_library_skips_name.carbon
  toolchain/parser/testdata/package/fail_name_is_keyword.carbon
  toolchain/parser/testdata/package/fail_no_name.carbon
  toolchain/parser/testdata/package/fail_no_semi.carbon
  toolchain/parser/testdata/package/fail_no_type.carbon
  toolchain/parser/testdata/package/fail_omit_library_keyword.carbon
  toolchain/parser/testdata/package/impl.carbon
  toolchain/parser/testdata/package/impl_library.carbon
  toolchain/parser/testdata/struct/fail_comma_only.carbon
  toolchain/parser/testdata/struct/fail_comma_repeat_in_type.carbon
  toolchain/parser/testdata/struct/fail_comma_repeat_in_value.carbon
  toolchain/parser/testdata/struct/fail_dot_only.carbon
  toolchain/parser/testdata/struct/fail_dot_string_colon.carbon
  toolchain/parser/testdata/struct/fail_dot_string_equals.carbon
  toolchain/parser/testdata/struct/fail_extra_token_in_type.carbon
  toolchain/parser/testdata/struct/fail_extra_token_in_value.carbon
  toolchain/parser/testdata/struct/fail_identifier_colon.carbon
  toolchain/parser/testdata/struct/fail_identifier_equals.carbon
  toolchain/parser/testdata/struct/fail_identifier_only.carbon
  toolchain/parser/testdata/struct/fail_missing_type.carbon
  toolchain/parser/testdata/struct/fail_missing_value.carbon
  toolchain/parser/testdata/struct/fail_mix_type_and_value.carbon
  toolchain/parser/testdata/struct/fail_mix_value_and_type.carbon
  toolchain/parser/testdata/struct/fail_no_colon_or_equals.carbon
  toolchain/parser/testdata/struct/fail_type_no_designator.carbon
  toolchain/parser/testdata/struct/no_entries.carbon
  toolchain/parser/testdata/struct/one_entry_no_comma.carbon
  toolchain/parser/testdata/struct/one_entry_with_comma.carbon
  toolchain/parser/testdata/struct/two_entries.carbon
  toolchain/parser/testdata/tuple/nested.carbon
  toolchain/parser/testdata/tuple/two_entries.carbon
Labels: toolchain

#2423 llvm-ar no such file or directory fix instruction
  docs/project/contribution_tools.md
Labels: documentation

#2441 Explorer: basic `abstract` class support
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/testdata/class/abstract_class.carbon
  explorer/testdata/class/fail_abstract_class_subtyping.carbon
  explorer/testdata/class/fail_instantiate_abstract_class_constructor.carbon
  explorer/testdata/class/fail_instantiate_abstract_class_empty.carbon
  explorer/testdata/class/fail_instantiate_abstract_class_struct.carbon
Labels: explorer

#2417 Explorer: support index-based fields for `FieldPath` and `Members`
  explorer/ast/member.cpp
  explorer/ast/member.h
  explorer/interpreter/field_path.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
Labels: explorer

#1382 Rename `me` -> `self`
  proposals/p1382.md
Labels: proposal, proposal rfc

#2443 Move trace banners to driver and trace intermediate state.
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/parser/parser.cpp
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2439 Add `-march=...` to our compile flags.
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Labels: infrastructure

#2446 Bracket the tokenized buffer output.
  toolchain/driver/driver.cpp
  toolchain/driver/driver_test.cpp
  toolchain/driver/testdata/errors_sorted_test.carbon
  toolchain/driver/testdata/errors_streamed_test.carbon
  toolchain/lexer/testdata/carbon_test.carbon
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer_test.cpp
Labels: toolchain

#2447 Start adding var decls to semantics.
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/var/decl.carbon
  toolchain/semantics/testdata/var/global_decl.carbon
Labels: toolchain

#2449 Change result_id to use is_valid instead of an optional.
  toolchain/common/index_base.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
Labels: toolchain

#2448 Use macros to enforce handling parse nodes in SemanticsIR.
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
Labels: toolchain

#2455 Support `p->member`, rewriting it to `(*p).member` in the parser.
  explorer/syntax/parser.ypp
  explorer/testdata/member_access/arrow.carbon
Labels: explorer

#2456 Make TokenKind's API closer to toolchain's typical API setup.
  toolchain/lexer/BUILD
  toolchain/lexer/token_kind.cpp
  toolchain/lexer/token_kind.def
  toolchain/lexer/token_kind.h
  toolchain/lexer/token_kind_test.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer_test_helpers.h
  toolchain/parser/parser.cpp
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2452 Remove equality on enum types
  toolchain/lexer/token_kind.h
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parser_state.h
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_node_kind.h
Labels: toolchain

#2410 Design updates for #2015 numeric type literal syntax
  docs/design/README.md
  docs/design/expressions/README.md
  docs/design/expressions/literals.md
Labels: design update

#2421 Explorer: split `Member` into dedicated classes
  explorer/ast/BUILD
  explorer/ast/ast_rtti.txt
  explorer/ast/element.cpp
  explorer/ast/element.h
  explorer/ast/element_test.cpp
  explorer/ast/expression.h
  explorer/ast/member.cpp
  explorer/ast/member.h
  explorer/interpreter/BUILD
  explorer/interpreter/address.h
  explorer/interpreter/element_path.h
  explorer/interpreter/heap.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
Labels: explorer

#2388 Design documentation for indexing
  docs/design/README.md
  docs/design/expressions/indexing.md
Labels: design update

#2378 Destroy class hierarchy when destroying class with a `base`
  explorer/interpreter/BUILD
  explorer/interpreter/action.h
  explorer/interpreter/interpreter.cpp
  explorer/testdata/destructor/destroy_base_class.carbon
  explorer/testdata/destructor/destroy_base_class_and_members.carbon
Labels: explorer

#2389 Add `Value` decomposition and use it to implement `Substitute`
  explorer/README.md
  explorer/ast/bindings.h
  explorer/ast/element.cpp
  explorer/ast/element.h
  explorer/interpreter/BUILD
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.h
  explorer/interpreter/value_kinds.def
  explorer/interpreter/value_transform.h
Labels: explorer

#2468 Rename PointerType::type to pointee_type.
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
Labels: explorer

#2467 Add support for empty declarations.
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/basics/empty_decl.carbon
Labels: toolchain

#2459 Move `numeric_literals.md` design doc into `expressions/literals.md` and update
  docs/design/README.md
  docs/design/expressions/literals.md
  docs/design/numeric_literals.md
Labels: design update, documentation

#2470 Automate labeling of explorer and toolchain PRs
  .github/workflows/label_prs.yaml
Labels: infrastructure

#2469 Restructure the patches dir in expectation of non-llvm patches.
  .pre-commit-config.yaml
  WORKSPACE
  bazel/patches/llvm/0001_Patch_for_mallinfo2_when_using_Bazel_build_system.patch
  bazel/patches/llvm/0002_Added_Bazel_build_for_compiler_rt_fuzzer.patch
  bazel/patches/llvm/BUILD
Labels: infrastructure

#2427 [parser] More support for `interface`s: methods and `self` deduced param.
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/lexer/token_kind.def
  toolchain/lexer/token_kind_test.cpp
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/generics/interface/basic.carbon
  toolchain/parser/testdata/generics/interface/empty.carbon
  toolchain/parser/testdata/generics/interface/fail_no_impl_allowed.carbon
  toolchain/parser/testdata/generics/interface/fail_self_param_syntax.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2474 Small cleanups in toolchain code
  toolchain/parser/parser.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/generics/interface/fail_self_param_syntax.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2471 Have the driver return errors on SemanticsIR errors.
  toolchain/driver/driver.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
Labels: toolchain

#2460 Explorer: Support class subtyping
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/testdata/class/abstract_class_subtyping.carbon
  explorer/testdata/class/class_subtyping.carbon
  explorer/testdata/class/fail_invalid_subtyping.carbon
  explorer/testdata/class/non_virtual_dispatch.carbon
  explorer/testdata/pointer/fail_invalid_ptr_conversion1.carbon
  explorer/testdata/pointer/fail_invalid_ptr_conversion2.carbon
Labels: explorer

#2478 Add parentheses to remove ambiguity for `%`.
  docs/design/expressions/arithmetic.md
Labels: documentation

#2486 Explorer: add one missing `Nonnull<>`
  explorer/ast/expression.h
Labels: explorer

#2482 Replace the toolchain README with a docs link.
  toolchain/README.md
Labels: toolchain

#2484 Explorer: move subtyping logic to TypeChecker
  explorer/ast/ast_rtti.txt
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/BUILD
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.cpp
  explorer/testdata/class/class_subtyping_argument.carbon
  explorer/testdata/class/class_subtyping_basic.carbon
  explorer/testdata/class/class_subtyping_multiple.carbon
  explorer/testdata/class/non_virtual_dispatch_abstract.carbon
Labels: explorer

#2360 Types are values of type `type`
  proposals/p2360.md
Labels: proposal, proposal rfc

#2494 The typed_linked_list test trace output is too slow, so stop testing it.
  explorer/testdata/linked_list/typed_linked_list.carbon
Labels: explorer

#2491 Add a location translator for ParseTree::Node.
  toolchain/parser/BUILD
  toolchain/parser/parse_tree_node_location_translator.h
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
Labels: toolchain

#2487 Start building some checking of diagnostic use.
  .pre-commit-config.yaml
  toolchain/diagnostics/check_diagnostics.py
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/parser/parser.cpp
Labels: toolchain

#2490 Add a DiagnosticBuilder to support context on diagnostics.
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/mocks.h
  toolchain/diagnostics/null_diagnostics.h
  toolchain/diagnostics/sorting_diagnostic_consumer.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/var/fail_duplicate_decl.carbon
Labels: toolchain

#2488 Handle `var` init-with-self situations.
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parser/testdata/basics/var.carbon
  toolchain/parser/testdata/operators/fail_infix_uneven_space_after.carbon
  toolchain/parser/testdata/operators/fail_precedence_star_minus.carbon
  toolchain/parser/testdata/operators/fail_precedence_star_star.carbon
  toolchain/parser/testdata/operators/fail_star_star_no_space.carbon
  toolchain/parser/testdata/operators/fixity_in_var.carbon
  toolchain/parser/testdata/operators/infix.carbon
  toolchain/parser/testdata/operators/infix_no_space.carbon
  toolchain/parser/testdata/operators/infix_with_paren_after.carbon
  toolchain/parser/testdata/operators/infix_with_paren_before.carbon
  toolchain/parser/testdata/operators/postfix.carbon
  toolchain/parser/testdata/operators/postfix_space_after_op.carbon
  toolchain/parser/testdata/operators/prefix.carbon
  toolchain/parser/testdata/operators/prefix_no_space.carbon
  toolchain/parser/testdata/operators/recover_infix_uneven_space_before.carbon
  toolchain/parser/testdata/operators/recover_postfix_space.carbon
  toolchain/parser/testdata/operators/recover_postfix_space_before_comma.carbon
  toolchain/parser/testdata/operators/recover_postfix_space_in_call.carbon
  toolchain/parser/testdata/operators/recover_postfix_space_surrounding.carbon
  toolchain/parser/testdata/operators/recover_prefix_space.carbon
  toolchain/parser/testdata/operators/recover_prefix_uneven_space_with_assign.carbon
  toolchain/parser/testdata/struct/fail_comma_only.carbon
  toolchain/parser/testdata/struct/fail_comma_repeat_in_type.carbon
  toolchain/parser/testdata/struct/fail_comma_repeat_in_value.carbon
  toolchain/parser/testdata/struct/fail_dot_only.carbon
  toolchain/parser/testdata/struct/fail_dot_string_colon.carbon
  toolchain/parser/testdata/struct/fail_dot_string_equals.carbon
  toolchain/parser/testdata/struct/fail_extra_token_in_type.carbon
  toolchain/parser/testdata/struct/fail_extra_token_in_value.carbon
  toolchain/parser/testdata/struct/fail_identifier_colon.carbon
  toolchain/parser/testdata/struct/fail_identifier_equals.carbon
  toolchain/parser/testdata/struct/fail_identifier_only.carbon
  toolchain/parser/testdata/struct/fail_missing_type.carbon
  toolchain/parser/testdata/struct/fail_missing_value.carbon
  toolchain/parser/testdata/struct/fail_mix_type_and_value.carbon
  toolchain/parser/testdata/struct/fail_mix_value_and_type.carbon
  toolchain/parser/testdata/struct/fail_no_colon_or_equals.carbon
  toolchain/parser/testdata/struct/fail_type_no_designator.carbon
  toolchain/parser/testdata/struct/no_entries.carbon
  toolchain/parser/testdata/struct/one_entry_no_comma.carbon
  toolchain/parser/testdata/struct/one_entry_with_comma.carbon
  toolchain/parser/testdata/struct/two_entries.carbon
  toolchain/parser/testdata/tuple/two_entries.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/var/fail_duplicate_decl.carbon
  toolchain/semantics/testdata/var/fail_init_with_self.carbon
  toolchain/semantics/testdata/var/global_lookup.carbon
  toolchain/semantics/testdata/var/global_lookup_in_scope.carbon
Labels: toolchain

#2502 Switch Diagnostic structure to use DiagnosticMessage to avoid pointers
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/check_diagnostics.py
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/diagnostics/mocks.cpp
  toolchain/diagnostics/mocks.h
  toolchain/diagnostics/sorting_diagnostic_consumer.h
Labels: toolchain

#2500 Update Bazel & protobufs, then narrow warnings to Carbon.
  .bazeliskrc
  .bazelrc
  WORKSPACE
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  explorer/interpreter/type_checker.cpp
  explorer/syntax/parse_and_lex_context.h
  toolchain/diagnostics/null_diagnostics.h
Labels: explorer, toolchain
