Repository carbon-language/carbon-lang, pull requests merged in 2022-11, with the labels that each got.

#2365 Remove artificial version ceiling on C++ interop.
  docs/design/interoperability/philosophy_and_goals.md
  proposals/p2365.md
Labels: proposal, proposal rfc

#2274 Subscript syntax and semantics
  proposals/p2274.md
Labels: proposal, proposal accepted

#2287 Allow unqualified name lookup for class members
  docs/design/classes.md
  proposals/p2287.md
Labels: proposal, proposal rfc

#2366 explorer: Typed double linked list test
  explorer/testdata/linked_list/typed_linked_list.carbon
Labels: explorer

#2391 Make lit tests small
  bazel/testing/lit.bzl
  explorer/testdata/assoc_const/rewrite_large_type.carbon
Labels: explorer

#2387 Add a ForIn node for a colon, move the error
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/for/fail_colon_instead_of_in.carbon
Labels: toolchain

#2400 Remove pattern evaluation from the interpreter.
  explorer/ast/pattern.h
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/interpreter.h
  explorer/interpreter/type_checker.cpp
Labels: explorer

#2385 Refactor Pattern and FunctionParameter handling for Parser consistency
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
Labels: toolchain

#2386 Clean up Parser stack construction
  toolchain/parser/parser.h
Labels: toolchain

#2396 Change StructLiteral and StructTypeLiteral parsing to use an ambiguous start
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/basics/structs.carbon
Labels: toolchain

#2397 Switch more cases to Consume()
  toolchain/parser/parser.cpp
Labels: toolchain

#2402 Switch testing to pre-installed versions of clang-14
  .github/workflows/tests.yaml
Labels: infrastructure

#2404 Rename to StructLiteralOrStructTypeLiteralStart
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/basics/structs.carbon
Labels: toolchain

#2403 Change ParameterList to use a Start that brackets params
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parse_tree_test.cpp
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/basics/fail_invalid_designators.carbon
  toolchain/parser/testdata/basics/function_call.carbon
  toolchain/parser/testdata/basics/var.carbon
  toolchain/parser/testdata/for/fail_colon_instead_of_in.carbon
  toolchain/parser/testdata/for/fail_missing_in.carbon
  toolchain/parser/testdata/for/fail_missing_var.carbon
  toolchain/parser/testdata/for/nested.carbon
  toolchain/parser/testdata/for/simple.carbon
  toolchain/parser/testdata/function/declaration/basic.carbon
  toolchain/parser/testdata/function/declaration/fail_skip_indented_newline_until_outdent.carbon
  toolchain/parser/testdata/function/declaration/fail_skip_indented_newline_with_semi.carbon
  toolchain/parser/testdata/function/declaration/fail_skip_indented_newline_without_semi.carbon
  toolchain/parser/testdata/function/declaration/fail_skip_to_newline_without_semi.carbon
  toolchain/parser/testdata/function/declaration/fail_skip_without_semi_to_curly.carbon
  toolchain/parser/testdata/function/declaration/fail_with_identifier_as_param.carbon
  toolchain/parser/testdata/function/declaration/with_params.carbon
  toolchain/parser/testdata/function/declaration/with_return_type.carbon
  toolchain/parser/testdata/function/definition/basic.carbon
  toolchain/parser/testdata/function/definition/fail_identifier_in_statements.carbon
  toolchain/parser/testdata/function/definition/with_params.carbon
  toolchain/parser/testdata/function/definition/with_return_type.carbon
  toolchain/parser/testdata/if/basic.carbon
  toolchain/parser/testdata/if/else.carbon
  toolchain/parser/testdata/if/fail_else_unbraced.carbon
  toolchain/parser/testdata/if/fail_errors.carbon
  toolchain/parser/testdata/if/fail_unbraced.carbon
  toolchain/parser/testdata/operators/associative.carbon
  toolchain/parser/testdata/operators/fail_missing_precedence_and_or.carbon
  toolchain/parser/testdata/operators/fail_missing_precedence_or_and.carbon
  toolchain/parser/testdata/operators/fail_variety.carbon
  toolchain/parser/testdata/operators/fixity_in_call.carbon
  toolchain/parser/testdata/operators/fixity_in_params.carbon
  toolchain/parser/testdata/operators/fixity_in_var.carbon
  toolchain/parser/testdata/operators/fixity_with_assign.carbon
  toolchain/parser/testdata/operators/missing_precedence_not.carbon
  toolchain/parser/testdata/operators/postfix_unary.carbon
  toolchain/parser/testdata/operators/prefix_unary.carbon
  toolchain/parser/testdata/return/basic.carbon
  toolchain/parser/testdata/return/expr.carbon
  toolchain/parser/testdata/return/fail_expr_no_semi.carbon
  toolchain/parser/testdata/return/fail_no_semi.carbon
  toolchain/parser/testdata/while/basic.carbon
  toolchain/parser/testdata/while/fail_no_semi.carbon
  toolchain/parser/testdata/while/fail_unbraced.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2405 Add notes to comment on #access-requests as a notification substitute.
  CONTRIBUTING.md
Labels: documentation

#2407 Track the ParseTree::Node with SemanticsNode.
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2408 Replace some reference members with pointer members.
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
Labels: toolchain

#2200 Template generics
  proposals/p2200.md
Labels: proposal, proposal rfc

#2398 For flyweights, shift from llvm::SmallVector to a type that enforces index types.
  toolchain/common/BUILD
  toolchain/common/index_base.h
  toolchain/lexer/BUILD
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
Labels: toolchain

#2414 Introduce verification checks on subtree_size
  toolchain/parser/BUILD
  toolchain/parser/parse_node_kind.cpp
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
Labels: toolchain

#2412 [parser] Start re-implementing interfaces using the stack parser.
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/generics/interface/basic.carbon
  toolchain/parser/testdata/generics/interface/fail_missing_name.carbon
  toolchain/parser/testdata/generics/interface/fail_missing_open_curly.carbon
Labels: toolchain

#2416 Work on ParseTree structure to use more bracketed structures.
  toolchain/parser/parse_node_kind.cpp
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parser/testdata/basics/package.carbon
  toolchain/parser/testdata/basics/structs.carbon
  toolchain/parser/testdata/basics/tuples.carbon
  toolchain/parser/testdata/basics/var.carbon
  toolchain/parser/testdata/for/fail_colon_instead_of_in.carbon
  toolchain/parser/testdata/for/fail_missing_in.carbon
  toolchain/parser/testdata/for/fail_missing_var.carbon
  toolchain/parser/testdata/for/nested.carbon
  toolchain/parser/testdata/for/simple.carbon
  toolchain/parser/testdata/if/basic.carbon
  toolchain/parser/testdata/if/else.carbon
  toolchain/parser/testdata/if/fail_else_unbraced.carbon
  toolchain/parser/testdata/if/fail_errors.carbon
  toolchain/parser/testdata/if/fail_unbraced.carbon
  toolchain/parser/testdata/operators/fixity_in_var.carbon
  toolchain/parser/testdata/while/basic.carbon
  toolchain/parser/testdata/while/fail_no_semi.carbon
  toolchain/parser/testdata/while/fail_unbraced.carbon
Labels: toolchain

#2361 Explorer: support `.base` to initialize parent class from struct
  explorer/ast/declaration.h
  explorer/interpreter/BUILD
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/syntax/parser.ypp
  explorer/testdata/class/base_constructor.carbon
  explorer/testdata/class/class_inheritance_function_call.carbon
  explorer/testdata/class/class_inheritance_methods.carbon
  explorer/testdata/class/class_inheritance_multiple.carbon
  explorer/testdata/class/class_inheritance_shadow.carbon
  explorer/testdata/class/class_inheritance_variables.carbon
  explorer/testdata/class/fail_direct_base_class_init.carbon
  explorer/testdata/class/fail_field_access_mismatch_base.carbon
  explorer/testdata/class/fail_field_assign_mismatch_base.carbon
  explorer/testdata/class/parametrized_base_class.carbon
Labels: explorer

#2430 Finish bracketing of parse nodes.
  toolchain/parser/parse_node_kind.cpp
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/testdata/basics/fail_invalid_designators.carbon
  toolchain/parser/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parser/testdata/basics/function_call.carbon
  toolchain/parser/testdata/basics/tuples.carbon
  toolchain/parser/testdata/for/fail_colon_instead_of_in.carbon
  toolchain/parser/testdata/for/fail_missing_in.carbon
  toolchain/parser/testdata/for/fail_missing_var.carbon
  toolchain/parser/testdata/for/nested.carbon
  toolchain/parser/testdata/for/simple.carbon
  toolchain/parser/testdata/function/definition/with_params.carbon
  toolchain/parser/testdata/generics/interface/fail_missing_name.carbon
  toolchain/parser/testdata/operators/fixity_in_call.carbon
Labels: toolchain

#2415 Fix a couple debug output issues
  bazel/sh_run/rules.bzl
  toolchain/lexer/tokenized_buffer.cpp
Labels: toolchain
