Repository carbon-language/carbon-lang, pull requests merged in 2022-09, with the labels that each got.

#2133 Lex '''-delimited multiline string literals.
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/lexer/BUILD
  toolchain/lexer/string_literal.cpp
  toolchain/lexer/string_literal.h
  toolchain/lexer/string_literal_benchmark.cpp
  toolchain/lexer/string_literal_test.cpp
  toolchain/lexer/tokenized_buffer_test.cpp
Labels: toolchain

#2069 Explorer: Mixin phase 1
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/ast_rtti.txt
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp
  explorer/testdata/mixin/fail-circular-mixing.carbon
  explorer/testdata/mixin/fail-field-member-name-clash.carbon
  explorer/testdata/mixin/fail-method-member-name-clash.carbon
  explorer/testdata/mixin/fail-mix-as-type-expr.carbon
  explorer/testdata/mixin/fail-mix-diamond-clash.carbon
  explorer/testdata/mixin/fail-mix-in-global.carbon
  explorer/testdata/mixin/fail-mix-in-impl.carbon
  explorer/testdata/mixin/fail-mix-members-clash.carbon
  explorer/testdata/mixin/fail-recursive-mixing.carbon
  explorer/testdata/mixin/fail-self-substitution.carbon
  explorer/testdata/mixin/self-substitution.carbon
  explorer/testdata/mixin/simple-mix-in-mixin.carbon
  explorer/testdata/mixin/simple-reuse.carbon
  explorer/testdata/mixin/use-mixin-method-in-class-method.carbon
Labels: explorer

#2107 Clarify rules around `Self` and `.Self`
  docs/design/classes.md
  docs/design/generics/details.md
  docs/design/lexical_conventions/words.md
  proposals/p2107.md
Labels: proposal, proposal rfc

#2015 Numeric type literal syntax
  proposals/p2015.md
Labels: proposal, proposal rfc

#2096 Optional Class
  explorer/data/prelude.carbon
  explorer/testdata/linked_list/linked_list.carbon
  explorer/testdata/optional/init_optional_with_non_value.carbon
  explorer/testdata/optional/init_optional_with_value.carbon
Labels: explorer

#2138 Checked and template generic terminology
  proposals/p2138.md
Labels: proposal, proposal rfc

#2022 Unused Pattern Bindings (Unused Function Parameters)
  proposals/p2022.md
Labels: proposal, proposal rfc
