Repository carbon-language/carbon-lang, pull requests merged in 2023-09, with the labels that each got.

#3181 Fix toolchain glob_sh_run uses.
  toolchain/check/BUILD
  toolchain/driver/driver.cpp
  toolchain/lex/BUILD
  toolchain/lower/BUILD
  toolchain/parse/BUILD
Labels: toolchain

#3183 Merge filesystem logic into FileTest and update test files.
  explorer/file_test.cpp
  testing/file_test/BUILD
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/testdata/args.carbon
  testing/file_test/testdata/fail_example.carbon
  testing/file_test/testdata/two_files.carbon
  toolchain/driver/driver_file_test_base.h
Labels: explorer, toolchain

#3194 Add overflow check for array size
  toolchain/check/handle_array.cpp
  toolchain/check/testdata/array/fail_bound_overflow.carbon
Labels: toolchain

#3199 Fix rejection of arrays with eight or nine elements.
  toolchain/check/handle_array.cpp
  toolchain/check/testdata/array/nine_elements.carbon
Labels: toolchain

#3200 Fix lowering of 8 and 9.
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/operators/assignment.carbon
Labels: toolchain

#3182 Add support for compiling multiple files at once.
  language_server/language_server.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/testdata/fail_errors_in_two_files.carbon
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/lex/tokenized_buffer_fuzzer.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/parse_fuzzer.cpp
  toolchain/parse/tree_test.cpp
  toolchain/source/BUILD
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer.h
  toolchain/source/source_buffer_test.cpp
Labels: toolchain

#3201 Fix printing of integer literals with the high bit set.
  toolchain/check/testdata/array/nine_elements.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_tuple_large_index.carbon
  toolchain/check/testdata/operators/assignment.carbon
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#3202 Improve testing and handling of unsigned APInt values
  toolchain/check/handle_array.cpp
  toolchain/check/testdata/array/nine_elements.carbon
  toolchain/check/testdata/basics/numeric_literals.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_tuple_large_index.carbon
  toolchain/check/testdata/operators/assignment.carbon
  toolchain/lex/testdata/numeric_literals.carbon
  toolchain/lex/tokenized_buffer.h
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/basics/numeric_literals.carbon
  toolchain/parse/testdata/basics/numeric_literals.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/testing/BUILD
Labels: toolchain

#3203 ignore -- fresh test PR for a new set of tooling
  scripts/source_stats.py
  toolchain/check/check.h
Labels: toolchain

#3197 Switch SourceBuffer to diagnostics.
  language_server/language_server.cpp
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/fail_missing_file.carbon
  toolchain/lex/BUILD
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/lex/tokenized_buffer_fuzzer.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/parse_fuzzer.cpp
  toolchain/parse/tree_test.cpp
  toolchain/source/BUILD
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer.h
  toolchain/source/source_buffer_test.cpp
Labels: toolchain

#3206 Merge toolchain file_test children in order to improve linking.
  explorer/file_test.cpp
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/rules.bzl
  toolchain/autoupdate_testdata.py
  toolchain/check/BUILD
  toolchain/check/check_file_test.cpp
  toolchain/codegen/BUILD
  toolchain/codegen/codegen_file_test.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver_file_test.cpp
  toolchain/driver/driver_file_test_base.h
  toolchain/lex/BUILD
  toolchain/lex/lex_file_test.cpp
  toolchain/lower/BUILD
  toolchain/lower/lower_file_test.cpp
  toolchain/parse/BUILD
  toolchain/parse/parse_file_test.cpp
  toolchain/testing/BUILD
  toolchain/testing/file_test.cpp
Labels: explorer, toolchain

#3209 Fix oscillating autoupdate output for empty source files.
  testing/file_test/autoupdate.cpp
  toolchain/driver/testdata/fail_missing_file.carbon
Labels: toolchain

#3211 Fix typo in value_expr_from_reference_deref.carbon
  explorer/testdata/let/value_expr_from_reference_deref.carbon
Labels: explorer

#3216 Explorer: Print self pattern for callable declarations
  explorer/ast/declaration.cpp
Labels: explorer

#3218 In the driver, --dump-semantics-ir -> --dump-sem-ir
  toolchain/check/BUILD
  toolchain/check/check_fuzzer.cpp
  toolchain/check/testdata/basics/builtin_nodes.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/check/testdata/basics/textual_ir.carbon
  toolchain/driver/driver.cpp
  toolchain/sem_ir/file_test.cpp
  toolchain/testing/file_test.cpp
Labels: explorer, toolchain

#3226 Fix handling of missing files.
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/fail_missing_file.carbon
Labels: toolchain

#3220 Switch `GetNodeBlock` and `GetTypeBlock` to return an `ArrayRef`
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_call_expression.cpp
  toolchain/check/testdata/function/call/fail_not_callable.carbon
  toolchain/check/testdata/function/call/fail_param_count.carbon
  toolchain/check/testdata/function/call/fail_param_type.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/file.h
Labels: toolchain

#3221 Remove `Check::Context::AddNodeToBlock` and `SemIR::File::AddNode`.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_if_expression.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/node_block_stack.cpp
  toolchain/check/node_block_stack.h
  toolchain/check/node_stack.h
  toolchain/sem_ir/file.h
Labels: toolchain

#3223 Store contents of incomplete node blocks on the node block stack.
  toolchain/check/context.cpp
  toolchain/check/node_block_stack.cpp
  toolchain/check/node_block_stack.h
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/check/testdata/basics/verbose.carbon
  toolchain/sem_ir/file.h
Labels: toolchain

#3224 Switch to a slab allocator for node and type block storage.
  toolchain/sem_ir/file.h
Labels: toolchain

#3205 Switch to modeling array initialization analogously to a function call.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/testdata/array/assign_return_value.carbon
  toolchain/check/testdata/array/assign_var.carbon
  toolchain/check/testdata/array/base.carbon
  toolchain/check/testdata/array/fail_out_of_bound.carbon
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/array/function_param.carbon
  toolchain/check/testdata/array/nine_elements.carbon
  toolchain/check/testdata/basics/numeric_literals.carbon
  toolchain/check/testdata/index/array_element_access.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/array/assign_return_value.carbon
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/array/function_param.carbon
  toolchain/lower/testdata/basics/numeric_literals.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node.h
  toolchain/sem_ir/node_kind.def
Labels: toolchain

#3229 Clean up interface of node block stack after recent changes.
  toolchain/check/context.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/node_block_stack.cpp
  toolchain/check/node_block_stack.h
  toolchain/check/testdata/basics/verbose.carbon
  toolchain/sem_ir/file.h
Labels: toolchain

#3235 Make toolchain/testing/file_test more robust
  toolchain/testing/file_test.cpp
Labels: toolchain

#3239 Detect invalid yaml.
  toolchain/base/BUILD
  toolchain/driver/BUILD
  toolchain/driver/driver_test.cpp
  toolchain/lex/BUILD
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/BUILD
  toolchain/parse/tree_test.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file_test.cpp
  toolchain/testing/BUILD
  toolchain/testing/yaml_test_helpers.cpp
  toolchain/testing/yaml_test_helpers.h
  toolchain/testing/yaml_test_helpers_test.cpp
Labels: toolchain

#3233 When starting a split file, try adding stdout lines.
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/testdata/file_only_re_multi_file.carbon
  toolchain/lex/testdata/fail_multifile.carbon
  toolchain/lex/testdata/multifile.carbon
Labels: toolchain

#3234 When there are split files, put unattached stdout at the end of the last file.
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate.h
  testing/file_test/testdata/unattached_multi_file.carbon
  toolchain/check/testdata/basics/multifile.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/parse/testdata/basics/multifile.carbon
Labels: toolchain

#3236 Instead of passing lines to AddCheckLines, pass a bool to_file_end
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate.h
Labels: toolchain

#3242 Another LLVM fix for CodeGenFileType
  WORKSPACE
  toolchain/codegen/codegen.cpp
Labels: toolchain

#3244 Move tests to the namespace of the code under test
  common/check_test.cpp
  common/command_line_test.cpp
  common/enum_base_test.cpp
  common/error_test.cpp
  common/indirect_value_test.cpp
  common/string_helpers_test.cpp
  docs/project/cpp_style_guide.md
  explorer/ast/ast_test_matchers_test.cpp
  explorer/ast/element_test.cpp
  explorer/ast/expression_test.cpp
  explorer/ast/pattern_test.cpp
  explorer/base/error_builders_test.cpp
  explorer/base/set_file_context_raii_test.cpp
  explorer/base/set_program_phase_raii_test.cpp
  explorer/parse_and_execute/parse_and_execute_test.cpp
  explorer/syntax/parse_test.cpp
  explorer/syntax/unimplemented_example_test.cpp
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/driver/driver_test.cpp
  toolchain/lex/numeric_literal_test.cpp
  toolchain/lex/string_literal_test.cpp
  toolchain/lex/token_kind_test.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/precedence_test.cpp
  toolchain/parse/tree_test.cpp
  toolchain/sem_ir/file_test.cpp
  toolchain/source/source_buffer_test.cpp
Labels: explorer, toolchain

#3243 Add cache of template instantiations.
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/testdata/template/instantiations_are_cached.carbon
  explorer/testdata/trace/phase_execution.carbon
Labels: explorer

#3248 Stop creating fake integer literals as indexes for tuple initialization.
  toolchain/check/context.cpp
  toolchain/check/testdata/array/assign_var.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/check/testdata/basics/textual_ir.carbon
  toolchain/check/testdata/index/fail_non_deterministic_type.carbon
  toolchain/check/testdata/index/fail_tuple_large_index.carbon
  toolchain/check/testdata/index/fail_tuple_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_tuple_out_of_bound_access.carbon
  toolchain/check/testdata/index/tuple_element_access.carbon
  toolchain/check/testdata/operators/assignment.carbon
  toolchain/check/testdata/operators/fail_assigment_to_non_assignable.carbon
  toolchain/check/testdata/pointer/address_of_lvalue.carbon
  toolchain/check/testdata/return/tuple.carbon
  toolchain/check/testdata/struct/tuple_as_element.carbon
  toolchain/check/testdata/tuples/nested_tuple.carbon
  toolchain/check/testdata/tuples/one_element.carbon
  toolchain/check/testdata/tuples/two_elements.carbon
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/array/assign_return_value.carbon
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/function/call/tuple_param_with_return_slot.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
  toolchain/lower/testdata/index/tuple_element_access.carbon
  toolchain/lower/testdata/index/tuple_return_value_access.carbon
  toolchain/lower/testdata/operators/assignment.carbon
  toolchain/lower/testdata/tuple/one_entry.carbon
  toolchain/lower/testdata/tuple/two_entries.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/node.h
  toolchain/sem_ir/node_kind.def
Labels: toolchain

#3250 Refactor finalization of initializers.
  toolchain/check/context.cpp
  toolchain/check/testdata/expression_category/in_place_tuple_initialization.carbon
Labels: toolchain

#3252 Place the computation of the destination of an initialization into the return slot.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/node_block_stack.cpp
  toolchain/check/node_block_stack.h
  toolchain/check/testdata/array/array_in_place.carbon
  toolchain/check/testdata/array/assign_return_value.carbon
  toolchain/check/testdata/array/assign_var.carbon
  toolchain/check/testdata/array/base.carbon
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/array/nine_elements.carbon
  toolchain/check/testdata/basics/numeric_literals.carbon
  toolchain/check/testdata/expression_category/in_place_tuple_initialization.carbon
  toolchain/check/testdata/index/array_element_access.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/check/testdata/index/fail_tuple_large_index.carbon
  toolchain/check/testdata/index/tuple_element_access.carbon
  toolchain/check/testdata/struct/fail_member_access_type.carbon
  toolchain/check/testdata/struct/fail_non_member_access.carbon
  toolchain/check/testdata/struct/nested_struct_in_place.carbon
  toolchain/check/testdata/struct/one_entry.carbon
  toolchain/check/testdata/struct/tuple_as_element.carbon
  toolchain/check/testdata/tuples/nested_tuple_in_place.carbon
  toolchain/check/testdata/tuples/one_element.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/handle_expression_category.cpp
  toolchain/lower/testdata/array/array_in_place.carbon
  toolchain/lower/testdata/array/assign_return_value.carbon
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
  toolchain/lower/testdata/struct/nested_struct_in_place.carbon
  toolchain/lower/testdata/struct/one_entry.carbon
  toolchain/lower/testdata/tuple/nested_tuple_in_place.carbon
  toolchain/lower/testdata/tuple/one_entry.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node.h
  toolchain/sem_ir/node_kind.def
Labels: toolchain
