Repository carbon-language/carbon-lang, pull requests merged in 2023-02, with the labels that each got.

#2173 Associated constant assignment versus equality
  proposals/p2173.md
Labels: proposal, proposal rfc

#2569 Support for declaring functions within a namespace
  common/ostream.h
  explorer/ast/ast_test_matchers_internal.cpp
  explorer/ast/ast_test_matchers_test.cpp
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/ast/static_scope.cpp
  explorer/ast/static_scope.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/syntax/bison_wrap.h
  explorer/syntax/parser.ypp
  explorer/testdata/class/fail_qualified_method.carbon
  explorer/testdata/interface/fail_qualified_method.carbon
  explorer/testdata/mixin/fail_qualified_method.carbon
  explorer/testdata/namespace/fail_members_not_in_outer_scope.carbon
  explorer/testdata/namespace/fail_qualifier_not_namespace.carbon
  explorer/testdata/namespace/fail_unknown_namespace.carbon
  explorer/testdata/namespace/lookup_scope.carbon
Labels: explorer

#2578 More explicit constructors in toolchain.
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/lexer/string_literal.h
  toolchain/parser/parse_tree.h
  toolchain/parser/parser.h
  toolchain/semantics/semantics_node_stack.h
  toolchain/source/source_buffer.h
Labels: toolchain

#2577 clang-tidy --fix
  common/vlog_internal.h
  explorer/ast/declaration.h
  explorer/ast/statement.h
  explorer/ast/static_scope.h
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value_transform.h
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/parser/parse_tree_test.cpp
  toolchain/semantics/semantics_ir_test.cpp
Labels: explorer, toolchain

#2579 Improve diagnostic for unknown name in name qualifier.
  explorer/ast/static_scope.cpp
  explorer/ast/static_scope.h
  explorer/interpreter/resolve_names.cpp
  explorer/testdata/namespace/fail_unknown_member.carbon
  explorer/testdata/namespace/fail_unknown_namespace.carbon
Labels: explorer

#2581 Switch constexpr factory functions to constexpr values.
  toolchain/parser/parse_tree.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_stack.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2586 Explorer: make use of `!=` in Carbon lit
  explorer/testdata/alias/member_name_alias.carbon
  explorer/testdata/experimental_continuation/recursive.carbon
  explorer/testdata/operators/bitwise.carbon
  explorer/testdata/operators/mod_edges.carbon
  explorer/testdata/operators/shift.carbon
  explorer/testdata/while/basic.carbon
  explorer/testdata/while/continue.carbon
  explorer/testdata/while/convert_condition.carbon
Labels: explorer

#2588 Explorer: drop unused `PrintScopes` method
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
Labels: explorer

#2584 Change the builtin enum approach to enforce addition.
  toolchain/semantics/semantics_builtin_kind.cpp
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
Labels: toolchain

#2587 explorer: assert `Optional` not empty on `Get()`
  explorer/data/prelude.carbon
  explorer/testdata/optional/fail_optional_get_empty.carbon
Labels: explorer

#2597 Fix CrossReference to use NodeId instead of NodeBlockId.
  toolchain/semantics/semantics_node.h
  toolchain/semantics/testdata/basics/empty.carbon
  toolchain/semantics/testdata/basics/empty_decl.carbon
  toolchain/semantics/testdata/basics/fail_name_lookup.carbon
  toolchain/semantics/testdata/function/basic.carbon
  toolchain/semantics/testdata/function/order.carbon
  toolchain/semantics/testdata/function/params_one.carbon
  toolchain/semantics/testdata/function/params_one_comma.carbon
  toolchain/semantics/testdata/function/params_two.carbon
  toolchain/semantics/testdata/function/params_two_comma.carbon
  toolchain/semantics/testdata/operators/binary_op.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/literal.carbon
  toolchain/semantics/testdata/return/trivial.carbon
  toolchain/semantics/testdata/var/decl.carbon
  toolchain/semantics/testdata/var/decl_with_init.carbon
  toolchain/semantics/testdata/var/fail_duplicate_decl.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_init_with_self.carbon
  toolchain/semantics/testdata/var/fail_lookup_outside_scope.carbon
  toolchain/semantics/testdata/var/global_decl.carbon
  toolchain/semantics/testdata/var/global_decl_with_init.carbon
  toolchain/semantics/testdata/var/global_lookup.carbon
  toolchain/semantics/testdata/var/global_lookup_in_scope.carbon
  toolchain/semantics/testdata/var/lookup.carbon
Labels: toolchain

#2598 Remove default constructor from IndexBase
  toolchain/common/index_base.h
  toolchain/lexer/tokenized_buffer.h
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
  toolchain/parser/parse_tree_test.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2600 Explorer: error on bit-shift overflow
  explorer/interpreter/interpreter.cpp
  explorer/testdata/operators/fail_left_shift_large_rhs.carbon
  explorer/testdata/operators/fail_left_shift_negative_rhs.carbon
  explorer/testdata/operators/fail_right_shift_large_rhs.carbon
  explorer/testdata/operators/fail_right_shift_negative_rhs.carbon
Labels: explorer

#2609 Fix mishandling of struct and tuple types in impl matching termination check
  explorer/interpreter/matching_impl_set.cpp
  explorer/interpreter/matching_impl_set.h
  explorer/interpreter/type_checker.cpp
  explorer/testdata/impl_match/fail_struct_recurse.carbon
  explorer/testdata/impl_match/fail_tuple_recurse.carbon
Labels: explorer

#2606 Remove AlternativeValueBase, per review comments on #2605.
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/pattern_analysis.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
Labels: explorer

#2612 Modify lit_autoupdate so that it can handle errors in prelude.carbon
  bazel/testing/lit_autoupdate_base.py
  explorer/lit_autoupdate.py
  explorer/testdata/assert/fail_assert.carbon
  explorer/testdata/operators/fail_left_shift_large_rhs.carbon
  explorer/testdata/operators/fail_left_shift_negative_rhs.carbon
  explorer/testdata/operators/fail_right_shift_large_rhs.carbon
  explorer/testdata/operators/fail_right_shift_negative_rhs.carbon
  explorer/testdata/optional/fail_optional_get_empty.carbon
  toolchain/lexer/lit_autoupdate.py
  toolchain/parser/lit_autoupdate.py
  toolchain/semantics/lit_autoupdate.py
Labels: explorer, toolchain

#2613 Remove unused reference to None.h
  toolchain/lexer/tokenized_buffer_test.cpp
Labels: toolchain

#2607 Add boilerplate framework for lowering.
  bazel/testing/lit.cfg.py
  explorer/__init__.py
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/lower/BUILD
  toolchain/lower/__init__.py
  toolchain/lower/lit_autoupdate.py
  toolchain/lower/lower.cpp
  toolchain/lower/lower.h
  toolchain/lower/testdata/BUILD
  toolchain/lower/testdata/basics/empty.carbon
  toolchain/lower/testdata/lit.cfg.py
Labels: toolchain

#2614 Fix some comments after #2612.
  bazel/testing/lit_autoupdate_base.py
  explorer/testdata/assert/fail_assert.carbon
  explorer/testdata/operators/fail_left_shift_large_rhs.carbon
  explorer/testdata/operators/fail_left_shift_negative_rhs.carbon
  explorer/testdata/operators/fail_right_shift_large_rhs.carbon
  explorer/testdata/operators/fail_right_shift_negative_rhs.carbon
Labels: explorer

#2618 Rename lower to lowering
  bazel/testing/lit.cfg.py
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/lower/testdata/basics/empty.carbon
  toolchain/lowering/BUILD
  toolchain/lowering/__init__.py
  toolchain/lowering/lit_autoupdate.py
  toolchain/lowering/lower_to_llvm.cpp
  toolchain/lowering/lower_to_llvm.h
  toolchain/lowering/testdata/BUILD
  toolchain/lowering/testdata/basics/empty.carbon
  toolchain/lowering/testdata/lit.cfg.py
Labels: toolchain

#2616 Disable most tracing in the prelude.
  explorer/BUILD
  explorer/ast/ast.h
  explorer/fuzzing/BUILD
  explorer/fuzzing/fuzzer_util.cpp
  explorer/interpreter/BUILD
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/exec_program.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/interpreter.h
  explorer/interpreter/trace_stream.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/main.cpp
  explorer/syntax/prelude.cpp
  explorer/syntax/prelude.h
  explorer/testdata/BUILD
  explorer/testdata/basic_syntax/trace.carbon
Labels: explorer

#2620 Unify handling of calls to functions and to methods.
  explorer/interpreter/interpreter.cpp
  explorer/testdata/class/fail_call_method_before_typecheck.carbon
  explorer/testdata/class/fail_call_undefined_method.carbon
  explorer/testdata/generic_function/instantiate_deduced.carbon
Labels: explorer

#2622 Factor out a common base class from function and bound method values.
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.h
Labels: explorer

#2624 IWYU pass on toolchain
  common/check_internal.cpp
  common/check_internal.h
  common/ostream.h
  toolchain/parser/parse_tree_fuzzer.cpp
  toolchain/parser/parse_tree_test.cpp
  toolchain/semantics/semantics_node_block_stack.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2633 Update the LLVM library version in use.
  WORKSPACE
  common/check_internal.cpp
  explorer/ast/declaration.h
Labels: explorer

#2623 Update clang-tidy details for the toolchain
  .clang-tidy
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_node.h
Labels: toolchain

#2639 Explorer: drop outdated TODO comment.
  explorer/ast/declaration.h
Labels: explorer

#2617 Fix string literal parsing escaped whitespace
  toolchain/lexer/string_literal.cpp
  toolchain/lexer/string_literal_test.cpp
Labels: toolchain

#2611 doc: add some more contributing information
  CONTRIBUTING.md
  README.md
Labels: documentation

#2640 Add initial lowering of a trivial function
  toolchain/driver/driver.cpp
  toolchain/lowering/BUILD
  toolchain/lowering/lower_to_llvm.cpp
  toolchain/lowering/lower_to_llvm.h
  toolchain/lowering/lowering.cpp
  toolchain/lowering/lowering.h
  toolchain/lowering/testdata/basics/fail_in_semantics.carbon
  toolchain/lowering/testdata/basics/zero.carbon
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/basics/fail_name_lookup.carbon
  toolchain/semantics/testdata/basics/verbose.carbon
  toolchain/semantics/testdata/function/call/fail_param_count.carbon
  toolchain/semantics/testdata/function/call/fail_param_type.carbon
  toolchain/semantics/testdata/function/call/more_param_ir.carbon
  toolchain/semantics/testdata/function/call/params_one.carbon
  toolchain/semantics/testdata/function/call/params_one_comma.carbon
  toolchain/semantics/testdata/function/call/params_two.carbon
  toolchain/semantics/testdata/function/call/params_two_comma.carbon
  toolchain/semantics/testdata/function/call/params_zero.carbon
  toolchain/semantics/testdata/function/definition/fail_param_name_conflict.carbon
  toolchain/semantics/testdata/function/definition/order.carbon
  toolchain/semantics/testdata/function/definition/params_one.carbon
  toolchain/semantics/testdata/function/definition/params_one_comma.carbon
  toolchain/semantics/testdata/function/definition/params_two.carbon
  toolchain/semantics/testdata/function/definition/params_two_comma.carbon
  toolchain/semantics/testdata/function/definition/params_zero.carbon
  toolchain/semantics/testdata/function/definition/same_param_name.carbon
  toolchain/semantics/testdata/operators/binary_op.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/fail_type_mismatch.carbon
  toolchain/semantics/testdata/return/fail_value_disallowed.carbon
  toolchain/semantics/testdata/return/fail_value_missing.carbon
  toolchain/semantics/testdata/return/no_value.carbon
  toolchain/semantics/testdata/return/value.carbon
  toolchain/semantics/testdata/var/decl.carbon
  toolchain/semantics/testdata/var/decl_with_init.carbon
  toolchain/semantics/testdata/var/fail_duplicate_decl.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_init_with_self.carbon
  toolchain/semantics/testdata/var/fail_lookup_outside_scope.carbon
  toolchain/semantics/testdata/var/global_lookup_in_scope.carbon
  toolchain/semantics/testdata/var/lookup.carbon
Labels: toolchain
