Repository carbon-language/carbon-lang, pull requests merged in 2023-08, with the labels that each got.

#3046 Fix crash type-checking member access into an invalid expression.
  toolchain/semantics/semantics_handle_name.cpp
  toolchain/semantics/testdata/struct/fail_access_into_invalid.carbon
Labels: toolchain

#3047 Fix some minor errors in diagnostic text.
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/testdata/basics/fail_name_lookup.carbon
  toolchain/semantics/testdata/function/call/fail_param_type.carbon
  toolchain/semantics/testdata/if/fail_scope.carbon
  toolchain/semantics/testdata/namespace/fail_unresolved_scope.carbon
  toolchain/semantics/testdata/struct/fail_access_into_invalid.carbon
  toolchain/semantics/testdata/var/fail_init_with_self.carbon
  toolchain/semantics/testdata/var/fail_lookup_outside_scope.carbon
Labels: toolchain

#3043 Implement autoupdate for file_test.
  explorer/file_test.cpp
  scripts/fix_cc_deps.py
  testing/file_test/BUILD
  testing/file_test/README.md
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate.h
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/line.h
  testing/file_test/testdata/args.carbon
  testing/file_test/testdata/example.carbon
  testing/file_test/testdata/fail_example.carbon
  testing/file_test/testdata/two_files.carbon
  toolchain/autoupdate_testdata.py
  toolchain/codegen/testdata/assembly/fail_target_triple.carbon
  toolchain/codegen/testdata/objcode/basic.carbon
  toolchain/codegen/testdata/objcode/fail_no_input_file.carbon
  toolchain/codegen/testdata/objcode/fail_no_output_file.carbon
  toolchain/codegen/testdata/objcode/fail_target_triple.carbon
  toolchain/driver/driver_file_test.cpp
  toolchain/driver/driver_file_test_base.h
  toolchain/driver/testdata/fail_errors_sorted.carbon
  toolchain/driver/testdata/fail_errors_streamed.carbon
  toolchain/lexer/BUILD
  toolchain/lexer/autoupdate_testdata.py
  toolchain/lexer/lexer_file_test.cpp
  toolchain/lexer/testdata/basic_syntax.carbon
  toolchain/lexer/testdata/keywords.carbon
  toolchain/lexer/testdata/printing_digit_padding.carbon
  toolchain/lexer/testdata/printing_integer_literal.carbon
  toolchain/lexer/testdata/printing_real_literal.carbon
  toolchain/lexer/testdata/printing_token.carbon
  toolchain/lowering/autoupdate_testdata.py
  toolchain/parser/autoupdate_testdata.py
  toolchain/semantics/autoupdate_testdata.py
  toolchain/semantics/testdata/basics/builtin_nodes.carbon
Labels: explorer, toolchain

#3050 Migrate explorer tests to file_test and remove lit support.
  explorer/BUILD
  explorer/README.md
  explorer/autoupdate_lit_testdata.py
  explorer/autoupdate_testdata.py
  explorer/autoupdate_testdata.sh
  explorer/autoupdate_trace_testdata.py
  explorer/file_test.cpp
  explorer/lit_testdata/BUILD
  explorer/lit_testdata/fail_compile_error.carbon
  explorer/lit_testdata/lit.cfg.py
  explorer/lit_testdata/trace.carbon
  explorer/lit_testdata/trace_file_filters.carbon
  explorer/lit_testdata/zero.carbon
  explorer/testdata/assert/fail_assert.carbon
  explorer/testdata/assert/fail_convert.carbon
  explorer/testdata/basic_syntax/zero.carbon
  explorer/testdata/destructor/fail_delete_base_without_virtual_destructor.carbon
  explorer/testdata/operators/fail_left_shift_large_rhs.carbon
  explorer/testdata/operators/fail_left_shift_negative_rhs.carbon
  explorer/testdata/operators/fail_right_shift_large_rhs.carbon
  explorer/testdata/operators/fail_right_shift_negative_rhs.carbon
  explorer/testdata/optional/fail_optional_get_empty.carbon
  explorer/testdata/random/fail_empty_range.carbon
  explorer/testdata/random/fail_reverse_range.carbon
  explorer/testdata/trace/context_all.carbon
  explorer/testdata/trace/context_main.carbon
  explorer/testdata/trace/context_prelude.carbon
  explorer/testdata/trace/phase_all.carbon
  explorer/testdata/trace/phase_control_flow_resolution.carbon
  explorer/testdata/trace/phase_declarations.carbon
  explorer/testdata/trace/phase_execution.carbon
  explorer/testdata/trace/phase_name_resolution.carbon
  explorer/testdata/trace/phase_source_program.carbon
  explorer/testdata/trace/phase_timing.carbon
  explorer/testdata/trace/phase_type_checking.carbon
  explorer/testdata/trace/phase_unformed_variables_resolution.carbon
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate.h
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/lit_test/__init__.py
  testing/lit_test/lit.cfg.py
  testing/lit_test/lit_test.py
  testing/lit_test/merge_output.py
  testing/lit_test/rules.bzl
  testing/scripts/__init__.py
  testing/scripts/autoupdate_testdata_base.py
  toolchain/lexer/lexer_file_test.cpp
Labels: explorer, toolchain

#3024 Implement canonicalization of Value and Element
  explorer/ast/BUILD
  explorer/ast/address.h
  explorer/ast/bindings.cpp
  explorer/ast/bindings.h
  explorer/ast/element.h
  explorer/ast/element_path.h
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/ast/value_node.h
  explorer/ast/value_transform.h
  explorer/common/BUILD
  explorer/common/arena.h
  explorer/common/arena_test.cpp
  explorer/common/decompose.h
  explorer/common/decompose_test.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_structure.cpp
Labels: explorer

#3040 Explorer: add more information to stack trace
  explorer/README.md
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.h
  explorer/interpreter/interpreter.cpp
  explorer/testdata/trace/context_all.carbon
  explorer/testdata/trace/context_main.carbon
  explorer/testdata/trace/phase_all.carbon
  explorer/testdata/trace/phase_execution.carbon
  explorer/testdata/trace/phase_type_checking.carbon
Labels: explorer

#3044 Toolchain: Semantics for indexing
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lowering/lowering_handle.cpp
  toolchain/semantics/semantics_handle_index.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_node_stack.h
  toolchain/semantics/testdata/index/element_access.carbon
  toolchain/semantics/testdata/index/fail_empty_tuple_access.carbon
  toolchain/semantics/testdata/index/fail_large_index.carbon
  toolchain/semantics/testdata/index/fail_name_not_found.carbon
  toolchain/semantics/testdata/index/fail_negative_indexing.carbon
  toolchain/semantics/testdata/index/fail_non_deterministic_type.carbon
  toolchain/semantics/testdata/index/fail_non_int_indexing.carbon
  toolchain/semantics/testdata/index/fail_non_tuple_access.carbon
  toolchain/semantics/testdata/index/fail_out_of_bound_access.carbon
  toolchain/semantics/testdata/index/return_value_access.carbon
Labels: toolchain

#3059 Lowering for tuple indexing.
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/index/member_access.carbon
  toolchain/semantics/semantics_handle_index.cpp
Labels: toolchain

#3058 Semantics & Lowering for simple assignment.
  toolchain/lowering/testdata/operators/assignment.carbon
  toolchain/semantics/semantics_handle_operator.cpp
  toolchain/semantics/testdata/operators/assignment.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_assignment.carbon
Labels: toolchain

#2926 Add type_utils file
  explorer/interpreter/BUILD
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/interpreter.h
  explorer/interpreter/pattern_match.cpp
  explorer/interpreter/pattern_match.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_utils.cpp
  explorer/interpreter/type_utils.h
Labels: explorer

#3067 Fix bug in the VFS construction.
  explorer/file_test.cpp
Labels: explorer

#3064 Handle malformed subscript expressions
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parser/parser_context.cpp
  toolchain/parser/parser_context.h
  toolchain/parser/parser_handle_index_expression.cpp
  toolchain/parser/parser_handle_paren_condition.cpp
  toolchain/parser/parser_handle_statement.cpp
  toolchain/parser/testdata/index/fail_malformed_expr.carbon
Labels: toolchain

#2006 Values, variables, pointers, and references
  docs/design/README.md
  docs/design/control_flow/return.md
  docs/design/expressions/README.md
  docs/design/expressions/indexing.md
  docs/design/expressions/member_access.md
  docs/design/expressions/pointer_operators.md
  docs/design/expressions/type_operators.md
  docs/design/generics/terminology.md
  docs/design/type_inference.md
  docs/design/values.md
  docs/design/variables.md
  proposals/p2006.md
Labels: proposal, proposal rfc, long term

#3039 Explorer: improve type checking trace output
  explorer/ast/bindings.cpp
  explorer/ast/bindings.h
  explorer/ast/pattern.h
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/type_checker.cpp
  explorer/testdata/trace/context_all.carbon
  explorer/testdata/trace/context_main.carbon
  explorer/testdata/trace/context_prelude.carbon
  explorer/testdata/trace/phase_all.carbon
  explorer/testdata/trace/phase_type_checking.carbon
Labels: explorer

#3055 Add support for `&` operator.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/pointer/address_of_field.carbon
  toolchain/lowering/testdata/pointer/basic.carbon
  toolchain/parser/testdata/index/fail_malformed_expr.carbon
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle_operator.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/testdata/pointer/address_of_lvalue.carbon
  toolchain/semantics/testdata/pointer/basic.carbon
  toolchain/semantics/testdata/pointer/fail_address_of_value.carbon
Labels: toolchain

#3078 Make LLVM IR emission a bit more concise and readable.
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/basics/type_values.carbon
  toolchain/lowering/testdata/function/call/empty_struct.carbon
  toolchain/lowering/testdata/function/call/empty_tuple.carbon
  toolchain/lowering/testdata/function/call/implicit_empty_tuple_as_arg.carbon
  toolchain/lowering/testdata/function/call/params_one.carbon
  toolchain/lowering/testdata/function/call/params_one_comma.carbon
  toolchain/lowering/testdata/function/call/params_two.carbon
  toolchain/lowering/testdata/function/call/params_two_comma.carbon
  toolchain/lowering/testdata/function/call/params_zero.carbon
  toolchain/lowering/testdata/function/call/return_implicit.carbon
  toolchain/lowering/testdata/function/call/var_param.carbon
  toolchain/lowering/testdata/function/declaration/simple.carbon
  toolchain/lowering/testdata/function/definition/empty_struct.carbon
  toolchain/lowering/testdata/if/else.carbon
  toolchain/lowering/testdata/if/no_else.carbon
  toolchain/lowering/testdata/index/member_access.carbon
  toolchain/lowering/testdata/namespace/function.carbon
  toolchain/lowering/testdata/namespace/nested.carbon
  toolchain/lowering/testdata/operators/assignment.carbon
  toolchain/lowering/testdata/pointer/address_of_field.carbon
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/lowering/testdata/struct/member_access.carbon
  toolchain/lowering/testdata/struct/nested_struct.carbon
  toolchain/lowering/testdata/struct/one_entry.carbon
  toolchain/lowering/testdata/struct/two_entries.carbon
  toolchain/lowering/testdata/tuple/empty.carbon
  toolchain/lowering/testdata/tuple/nested_tuple.carbon
  toolchain/lowering/testdata/tuple/one_entry.carbon
  toolchain/lowering/testdata/tuple/two_entries.carbon
Labels: toolchain

#3080 Explorer: Reduce prelude path when printing source location
  explorer/common/source_location.h
  explorer/testdata/assert/fail_assert.carbon
  explorer/testdata/assert/fail_convert.carbon
  explorer/testdata/destructor/fail_delete_base_without_virtual_destructor.carbon
  explorer/testdata/operators/fail_left_shift_large_rhs.carbon
  explorer/testdata/operators/fail_left_shift_negative_rhs.carbon
  explorer/testdata/operators/fail_right_shift_large_rhs.carbon
  explorer/testdata/operators/fail_right_shift_negative_rhs.carbon
  explorer/testdata/optional/fail_optional_get_empty.carbon
  explorer/testdata/random/fail_empty_range.carbon
  explorer/testdata/random/fail_reverse_range.carbon
  explorer/testdata/trace/context_all.carbon
  explorer/testdata/trace/context_prelude.carbon
Labels: explorer

#3075 Parser for array type.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser_handle_array_expression.cpp
  toolchain/parser/parser_handle_expression.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/array/fail_require_close_bracket.carbon
  toolchain/parser/testdata/array/fail_require_semi.carbon
  toolchain/parser/testdata/array/with_length.carbon
  toolchain/parser/testdata/array/without_length.carbon
  toolchain/semantics/semantics_handle_array.cpp
Labels: toolchain

#3076 Explorer: Add methods to trace for line prefixes
  explorer/ast/static_scope.cpp
  explorer/common/trace_stream.h
  explorer/interpreter/action_stack.h
  explorer/interpreter/heap.cpp
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/type_checker.cpp
  explorer/testdata/trace/context_all.carbon
  explorer/testdata/trace/context_main.carbon
  explorer/testdata/trace/context_prelude.carbon
  explorer/testdata/trace/phase_all.carbon
  explorer/testdata/trace/phase_control_flow_resolution.carbon
  explorer/testdata/trace/phase_execution.carbon
  explorer/testdata/trace/phase_name_resolution.carbon
  explorer/testdata/trace/phase_type_checking.carbon
  explorer/testdata/trace/phase_unformed_variables_resolution.carbon
Labels: explorer

#3077 Only allow assignment to durable reference expressions.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/semantics/semantics_handle_operator.cpp
  toolchain/semantics/testdata/operators/assignment.carbon
  toolchain/semantics/testdata/operators/fail_assigment_to_non_assignable.carbon
Labels: toolchain

#3081 Update precedence rules to match design.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parser/parser_handle_expression.cpp
  toolchain/parser/parser_handle_statement.cpp
  toolchain/parser/precedence.cpp
  toolchain/parser/precedence.h
  toolchain/parser/precedence_test.cpp
  toolchain/parser/testdata/if_expression/in_type.carbon
  toolchain/parser/testdata/operators/assign.carbon
  toolchain/parser/testdata/operators/fail_chained_assign.carbon
  toolchain/parser/testdata/operators/fail_postincrement.carbon
  toolchain/parser/testdata/operators/fail_precedence_as.carbon
  toolchain/parser/testdata/operators/fail_precedence_assign.carbon
  toolchain/parser/testdata/operators/fail_variety.carbon
  toolchain/parser/testdata/operators/postfix_repeat.carbon
  toolchain/parser/testdata/operators/precedence_as.carbon
  toolchain/parser/testdata/operators/precedence_assign.carbon
  toolchain/parser/testdata/operators/precedence_unary.carbon
  toolchain/semantics/testdata/pointer/fail_dereference_type.carbon
Labels: toolchain

#3082 Explorer: Add source snippets to trace output
  explorer/common/trace_stream.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/testdata/trace/context_main.carbon
  explorer/testdata/trace/phase_all.carbon
  explorer/testdata/trace/phase_execution.carbon
  explorer/testdata/trace/phase_type_checking.carbon
Labels: explorer

#3084 Always create a StructType node for every syntactic struct type.
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/testdata/pointer/address_of_lvalue.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/one_entry.carbon
  toolchain/semantics/testdata/struct/tuple_as_element.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
Labels: toolchain

#3088 Explorer: Add heading and sub-heading methods to trace
  explorer/common/trace_stream.h
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/parse_and_execute/parse_and_execute.cpp
  explorer/testdata/trace/context_main.carbon
  explorer/testdata/trace/phase_all.carbon
  explorer/testdata/trace/phase_control_flow_resolution.carbon
  explorer/testdata/trace/phase_declarations.carbon
  explorer/testdata/trace/phase_execution.carbon
  explorer/testdata/trace/phase_name_resolution.carbon
  explorer/testdata/trace/phase_source_program.carbon
  explorer/testdata/trace/phase_timing.carbon
  explorer/testdata/trace/phase_type_checking.carbon
  explorer/testdata/trace/phase_unformed_variables_resolution.carbon
Labels: explorer

#3086 Produce label names based on the reason for the branch.
  toolchain/semantics/semantics_ir_formatter.cpp
  toolchain/semantics/testdata/if/else.carbon
  toolchain/semantics/testdata/if/fail_reachable_fallthrough.carbon
  toolchain/semantics/testdata/if/fail_scope.carbon
  toolchain/semantics/testdata/if/no_else.carbon
  toolchain/semantics/testdata/if/unreachable_fallthrough.carbon
  toolchain/semantics/testdata/if_expression/basic.carbon
  toolchain/semantics/testdata/if_expression/constant_condition.carbon
  toolchain/semantics/testdata/if_expression/control_flow.carbon
  toolchain/semantics/testdata/if_expression/nested.carbon
  toolchain/semantics/testdata/ir/duplicate_name_same_line.carbon
  toolchain/semantics/testdata/operators/and.carbon
  toolchain/semantics/testdata/operators/assignment.carbon
  toolchain/semantics/testdata/operators/fail_assigment_to_non_assignable.carbon
  toolchain/semantics/testdata/operators/or.carbon
Labels: toolchain

#3090 Explorer: Replace StringRef with string_view in trace stream
  explorer/common/trace_stream.h
Labels: explorer

#3041 Explorer: add trace for `InstantiateType`
  explorer/interpreter/interpreter.cpp
  explorer/testdata/trace/phase_execution.carbon
Labels: explorer

#3087 Semantics for array type
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lowering/lowering_handle.cpp
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle_array.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_node_stack.h
  toolchain/semantics/testdata/array/assign_return_value.carbon
  toolchain/semantics/testdata/array/assign_var.carbon
  toolchain/semantics/testdata/array/base.carbon
  toolchain/semantics/testdata/array/fail_invalid_type.carbon
  toolchain/semantics/testdata/array/fail_out_of_bound.carbon
  toolchain/semantics/testdata/array/fail_type_mismatch.carbon
  toolchain/semantics/testdata/array/fail_undefined_bound.carbon
Labels: toolchain

#3093 Explorer: make pattern match trace consistent
  explorer/interpreter/pattern_match.cpp
  explorer/testdata/trace/context_main.carbon
  explorer/testdata/trace/phase_all.carbon
  explorer/testdata/trace/phase_execution.carbon
Labels: explorer

#3098 Remove stray semicolon
  toolchain/semantics/semantics_handle_array.cpp
Labels: toolchain

#3099 Semantics for array index.
  toolchain/lowering/lowering_handle.cpp
  toolchain/semantics/semantics_handle_index.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/testdata/index/array_element_access.carbon
  toolchain/semantics/testdata/index/fail_array_large_index.carbon
  toolchain/semantics/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/semantics/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/semantics/testdata/index/fail_tuple_large_index.carbon
  toolchain/semantics/testdata/index/fail_tuple_non_int_indexing.carbon
  toolchain/semantics/testdata/index/fail_tuple_out_of_bound_access.carbon
  toolchain/semantics/testdata/index/tuple_element_access.carbon
  toolchain/semantics/testdata/index/tuple_return_value_access.carbon
Labels: toolchain

#3096 Explorer: add blank lines between trace of different sections
  explorer/base/trace_stream.h
  explorer/interpreter/type_checker.cpp
  explorer/testdata/trace/context_main.carbon
  explorer/testdata/trace/phase_all.carbon
  explorer/testdata/trace/phase_execution.carbon
  explorer/testdata/trace/phase_type_checking.carbon
Labels: explorer

#3104 Rename //testing/util to base
  common/BUILD
  common/enum_base_test.cpp
  common/error_test.cpp
  common/vlog_test.cpp
  explorer/BUILD
  explorer/ast/BUILD
  explorer/base/BUILD
  explorer/base/error_builders_test.cpp
  explorer/file_test.cpp
  explorer/fuzzing/BUILD
  explorer/fuzzing/ast_to_proto_test.cpp
  explorer/parse_and_execute/BUILD
  explorer/syntax/BUILD
  migrate_cpp/BUILD
  migrate_cpp/cpp_refactoring/BUILD
  testing/base/BUILD
  testing/base/gtest_main.cpp
  testing/base/test_raw_ostream.h
  testing/base/test_raw_ostream_test.cpp
  testing/fuzzing/BUILD
  toolchain/diagnostics/BUILD
  toolchain/driver/BUILD
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_test.cpp
  toolchain/lexer/BUILD
  toolchain/lexer/tokenized_buffer_test.cpp
  toolchain/parser/BUILD
  toolchain/parser/parse_tree_test.cpp
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_ir_test.cpp
  toolchain/source/BUILD
Labels: explorer, toolchain

#3105 Run clang-tidy over toolchain code.
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/lexer/token_kind.cpp
  toolchain/lexer/tokenized_buffer_test.cpp
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_ir_formatter.cpp
Labels: toolchain

#2978 Add a rich command-line argument parsing library.
  common/BUILD
  common/command_line.cpp
  common/command_line.h
  common/command_line_test.cpp
Labels: toolchain

#3107 Fix missing APSInt include.
  toolchain/semantics/semantics_handle_index.cpp
Labels: toolchain

#3095 Lowering for array
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/lowering_handle_type.cpp
  toolchain/lowering/testdata/array/assign_return_value.carbon
  toolchain/lowering/testdata/array/base.carbon
Labels: toolchain

#3110 Lowering bug fix for tuple indexing.
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/index/tuple_element_access.carbon
  toolchain/lowering/testdata/index/tuple_return_value_access.carbon
Labels: toolchain

#2979 Switch the toolchain to the new CLI library.
  toolchain/codegen/codegen.cpp
  toolchain/codegen/codegen.h
  toolchain/codegen/testdata/assembly/basic.carbon
  toolchain/codegen/testdata/fail_target_triple.carbon
  toolchain/codegen/testdata/objcode/basic.carbon
  toolchain/codegen/testdata/objcode/fail_no_input_file.carbon
  toolchain/codegen/testdata/objcode/fail_no_output_file.carbon
  toolchain/codegen/testdata/objcode/fail_target_triple.carbon
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_file_test_base.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_main.cpp
  toolchain/driver/driver_test.cpp
  toolchain/driver/testdata/fail_errors_sorted.carbon
  toolchain/driver/testdata/fail_errors_streamed.carbon
  toolchain/lexer/lexer_file_test.cpp
  toolchain/lowering/lowering_file_test.cpp
  toolchain/parser/parse_tree_file_test.cpp
  toolchain/semantics/semantics_file_test.cpp
  toolchain/semantics/semantics_fuzzer.cpp
  toolchain/semantics/semantics_ir_test.cpp
  toolchain/semantics/testdata/basics/builtin_nodes.carbon
  toolchain/semantics/testdata/basics/textual_ir.carbon
  toolchain/semantics/testdata/basics/verbose.carbon
Labels: toolchain

#3111 Lowering for array index.
  toolchain/lowering/lowering_function_context.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/array/assign_return_value.carbon
  toolchain/lowering/testdata/array/base.carbon
  toolchain/lowering/testdata/index/array_element_access.carbon
  toolchain/lowering/testdata/index/tuple_return_value_access.carbon
Labels: toolchain

#3119 Adjust handling of cases where conditions are missing.
  toolchain/parser/parser_context.cpp
  toolchain/parser/parser_context.h
  toolchain/parser/parser_handle_paren_condition.cpp
  toolchain/parser/parser_handle_statement.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/for/fail_missing_cond.carbon
  toolchain/parser/testdata/for/fail_square_brackets.carbon
  toolchain/parser/testdata/if/fail_missing_cond.carbon
  toolchain/parser/testdata/if/fail_square_brackets.carbon
Labels: toolchain

#3127 Fix diagnostic messages that don't end in a period.
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/testdata/array/fail_undefined_bound.carbon
  toolchain/semantics/testdata/basics/fail_name_lookup.carbon
  toolchain/semantics/testdata/if/fail_scope.carbon
  toolchain/semantics/testdata/index/fail_name_not_found.carbon
  toolchain/semantics/testdata/index/fail_negative_indexing.carbon
  toolchain/semantics/testdata/namespace/fail_unresolved_scope.carbon
  toolchain/semantics/testdata/struct/fail_access_into_invalid.carbon
  toolchain/semantics/testdata/var/fail_init_with_self.carbon
  toolchain/semantics/testdata/var/fail_lookup_outside_scope.carbon
Labels: toolchain

#3128 Flush diagnostics before printing semantics IR rather than after.
  toolchain/driver/driver.cpp
Labels: toolchain

#3126 Fix a stack use after scope and a heap use after free found by fuzzing.
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/fail_flush_errors.carbon
  toolchain/semantics/semantics_ir.h
Labels: toolchain

#3134 Remove automatic flushing in the SortingDiagnosticConsumer destructor.
  toolchain/diagnostics/sorting_diagnostic_consumer.h
  toolchain/driver/driver.cpp
Labels: toolchain

#3109 Add lint fixes to the buildifier setup.
  .pre-commit-config.yaml
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  bazel/cc_toolchains/clang_configuration.bzl
  bazel/check_deps/BUILD
  common/BUILD
  explorer/BUILD
  explorer/ast/BUILD
  explorer/base/BUILD
  explorer/fuzzing/BUILD
  explorer/interpreter/BUILD
  explorer/parse_and_execute/BUILD
  explorer/syntax/BUILD
  github_tools/BUILD
  installers/local/BUILD
  language_server/BUILD
  migrate_cpp/BUILD
  migrate_cpp/cpp_refactoring/BUILD
  proposals/scripts/BUILD
  testing/base/BUILD
  testing/file_test/BUILD
  testing/file_test/rules.bzl
  testing/fuzzing/BUILD
  third_party/examples/woff2/BUILD.original
  third_party/examples/woff2/carbon/BUILD
  third_party/libprotobuf_mutator/BUILD.txt
  toolchain/base/BUILD
  toolchain/codegen/BUILD
  toolchain/diagnostics/BUILD
  toolchain/driver/BUILD
  toolchain/lexer/BUILD
  toolchain/lowering/BUILD
  toolchain/parser/BUILD
  toolchain/semantics/BUILD
  toolchain/source/BUILD
  utils/treesitter/BUILD
Labels: explorer, toolchain

#3135 Make more use of llvm::zip and enumerate in explorer
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/interpreter.h
  explorer/interpreter/type_checker.cpp
Labels: explorer

#3121 Introduce a full lexer benchmark.
  toolchain/lexer/BUILD
  toolchain/lexer/token_kind.h
  toolchain/lexer/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3137 Switch more of toolchain to enumerate/seq
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_handle.cpp
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parser_context.cpp
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle_name.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir_formatter.cpp
  toolchain/semantics/semantics_node_block_stack.cpp
  toolchain/semantics/semantics_node_stack.cpp
Labels: toolchain

#3122 Introduce SIMD optimized scanning for identifiers.
  toolchain/lexer/tokenized_buffer.cpp
Labels: toolchain

#3123 Expand lexing benchmarks a little bit.
  toolchain/lexer/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3144 Model parameters as value expressions rather than reference expressions.
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_handle.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_pattern_binding.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir_formatter.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/testdata/const/collapse.carbon
  toolchain/semantics/testdata/const/fail_collapse.carbon
  toolchain/semantics/testdata/function/call/empty_struct.carbon
  toolchain/semantics/testdata/function/call/empty_tuple.carbon
  toolchain/semantics/testdata/function/call/fail_param_count.carbon
  toolchain/semantics/testdata/function/call/fail_param_type.carbon
  toolchain/semantics/testdata/function/call/i32.carbon
  toolchain/semantics/testdata/function/call/more_param_ir.carbon
  toolchain/semantics/testdata/function/call/params_one.carbon
  toolchain/semantics/testdata/function/call/params_one_comma.carbon
  toolchain/semantics/testdata/function/call/params_two.carbon
  toolchain/semantics/testdata/function/call/params_two_comma.carbon
  toolchain/semantics/testdata/function/definition/fail_param_name_conflict.carbon
  toolchain/semantics/testdata/function/definition/params_one.carbon
  toolchain/semantics/testdata/function/definition/params_one_comma.carbon
  toolchain/semantics/testdata/function/definition/params_two.carbon
  toolchain/semantics/testdata/function/definition/params_two_comma.carbon
  toolchain/semantics/testdata/function/definition/same_param_name.carbon
  toolchain/semantics/testdata/if/else.carbon
  toolchain/semantics/testdata/if/fail_reachable_fallthrough.carbon
  toolchain/semantics/testdata/if/fail_scope.carbon
  toolchain/semantics/testdata/if/no_else.carbon
  toolchain/semantics/testdata/if/unreachable_fallthrough.carbon
  toolchain/semantics/testdata/if_expression/basic.carbon
  toolchain/semantics/testdata/if_expression/control_flow.carbon
  toolchain/semantics/testdata/if_expression/nested.carbon
  toolchain/semantics/testdata/operators/unary_op.carbon
  toolchain/semantics/testdata/pointer/address_of_lvalue.carbon
  toolchain/semantics/testdata/pointer/fail_address_of_value.carbon
  toolchain/semantics/testdata/pointer/fail_dereference_not_pointer.carbon
  toolchain/semantics/testdata/pointer/fail_type_mismatch.carbon
  toolchain/semantics/testdata/pointer/nested_const.carbon
  toolchain/semantics/testdata/pointer/types.carbon
  toolchain/semantics/testdata/return/code_after_return_value.carbon
Labels: toolchain

#3140 Optimize the outer lexer loop.
  toolchain/lexer/token_kind.cpp
  toolchain/lexer/token_kind.def
  toolchain/lexer/token_kind.h
  toolchain/lexer/tokenized_buffer.cpp
Labels: toolchain

#3138 Split Semantics into Check and SemIR namespaces
  common/BUILD
  common/check_internal.h
  toolchain/driver/driver.cpp
  toolchain/lowering/lower_to_llvm.cpp
  toolchain/lowering/lower_to_llvm.h
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_function_context.cpp
  toolchain/lowering/lowering_function_context.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/lowering_handle_type.cpp
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_declaration_name_stack.cpp
  toolchain/semantics/semantics_declaration_name_stack.h
  toolchain/semantics/semantics_file_test.cpp
  toolchain/semantics/semantics_handle_array.cpp
  toolchain/semantics/semantics_handle_call_expression.cpp
  toolchain/semantics/semantics_handle_class.cpp
  toolchain/semantics/semantics_handle_codeblock.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_if_expression.cpp
  toolchain/semantics/semantics_handle_if_statement.cpp
  toolchain/semantics/semantics_handle_index.cpp
  toolchain/semantics/semantics_handle_interface.cpp
  toolchain/semantics/semantics_handle_literal.cpp
  toolchain/semantics/semantics_handle_loop_statement.cpp
  toolchain/semantics/semantics_handle_name.cpp
  toolchain/semantics/semantics_handle_named_constraint.cpp
  toolchain/semantics/semantics_handle_namespace.cpp
  toolchain/semantics/semantics_handle_noop.cpp
  toolchain/semantics/semantics_handle_operator.cpp
  toolchain/semantics/semantics_handle_package.cpp
  toolchain/semantics/semantics_handle_parameter_list.cpp
  toolchain/semantics/semantics_handle_paren.cpp
  toolchain/semantics/semantics_handle_pattern_binding.cpp
  toolchain/semantics/semantics_handle_statement.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_handle_variable.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_ir_formatter.cpp
  toolchain/semantics/semantics_ir_formatter.h
  toolchain/semantics/semantics_ir_test.cpp
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_block_stack.cpp
  toolchain/semantics/semantics_node_block_stack.h
  toolchain/semantics/semantics_node_kind.cpp
  toolchain/semantics/semantics_node_kind.h
  toolchain/semantics/semantics_node_stack.cpp
  toolchain/semantics/semantics_node_stack.h
Labels: toolchain

#3145 Put the IR for the return type in the same block as the IR for the parameters.
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_parameter_list.cpp
  toolchain/semantics/testdata/array/assign_return_value.carbon
  toolchain/semantics/testdata/const/collapse.carbon
  toolchain/semantics/testdata/const/fail_collapse.carbon
  toolchain/semantics/testdata/function/call/empty_struct.carbon
  toolchain/semantics/testdata/function/call/empty_tuple.carbon
  toolchain/semantics/testdata/index/tuple_return_value_access.carbon
  toolchain/semantics/testdata/pointer/fail_address_of_value.carbon
  toolchain/semantics/testdata/pointer/fail_type_mismatch.carbon
  toolchain/semantics/testdata/pointer/nested_const.carbon
  toolchain/semantics/testdata/pointer/types.carbon
  toolchain/semantics/testdata/return/fail_missing_return_empty_tuple.carbon
  toolchain/semantics/testdata/return/struct.carbon
  toolchain/semantics/testdata/return/tuple.carbon
Labels: toolchain

#3151 Fix out-of-bounds array access for option characters >= 128
  common/command_line.cpp
  toolchain/driver/fuzzer_corpus/d6e1cfb07890f99e8e5142c9868cf0a7d07b97ab
Labels: toolchain

#3141 Restructure benchmark for stability.
  toolchain/lexer/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3147 Use `memcpy` for memory-to-memory assignment.
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/array/assign_return_value.carbon
  toolchain/lowering/testdata/array/base.carbon
  toolchain/lowering/testdata/index/array_element_access.carbon
  toolchain/lowering/testdata/index/tuple_element_access.carbon
  toolchain/lowering/testdata/index/tuple_return_value_access.carbon
  toolchain/lowering/testdata/operators/assignment.carbon
  toolchain/lowering/testdata/pointer/address_of_field.carbon
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/lowering/testdata/struct/member_access.carbon
  toolchain/lowering/testdata/struct/two_entries.carbon
  toolchain/lowering/testdata/tuple/empty.carbon
  toolchain/lowering/testdata/tuple/two_entries.carbon
Labels: toolchain

#3149 Take value representation into account when lowering functions and calls.
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/function/call/empty_struct.carbon
  toolchain/lowering/testdata/function/call/empty_tuple.carbon
  toolchain/lowering/testdata/function/call/implicit_empty_tuple_as_arg.carbon
  toolchain/lowering/testdata/function/call/struct_param.carbon
  toolchain/lowering/testdata/function/call/tuple_param.carbon
  toolchain/lowering/testdata/function/call/tuple_param_with_return_slot.carbon
  toolchain/lowering/testdata/function/definition/empty_struct.carbon
Labels: toolchain

#3113 Explorer: Remove `PrintDepth` and implement `PrintIndent`.
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/ast/expression.cpp
  explorer/ast/statement.cpp
  explorer/ast/statement.h
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/interpreter.cpp
  explorer/testdata/class/fail_circular_inheritance.carbon
  explorer/testdata/trace/context_all.carbon
  explorer/testdata/trace/context_main.carbon
  explorer/testdata/trace/phase_all.carbon
  explorer/testdata/trace/phase_declarations.carbon
  explorer/testdata/trace/phase_execution.carbon
  explorer/testdata/trace/phase_name_resolution.carbon
  explorer/testdata/trace/phase_source_program.carbon
  explorer/testdata/trace/phase_type_checking.carbon
  explorer/testdata/trace/phase_unformed_variables_resolution.carbon
Labels: explorer

#3148 Take the value representation into account in BindValue lowering.
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/lowering_handle_expression_category.cpp
  toolchain/lowering/testdata/array/assign_return_value.carbon
  toolchain/lowering/testdata/array/base.carbon
  toolchain/lowering/testdata/function/call/implicit_empty_tuple_as_arg.carbon
  toolchain/lowering/testdata/index/array_element_access.carbon
  toolchain/lowering/testdata/pointer/basic.carbon
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/lowering/testdata/struct/two_entries.carbon
  toolchain/lowering/testdata/tuple/empty.carbon
  toolchain/lowering/testdata/tuple/two_entries.carbon
Labels: toolchain

#3153 Switch index arrays to StringRef arrays
  toolchain/lexer/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3159 Update buildtools versions
  scripts/scripts_utils.py
  toolchain/semantics/BUILD
Labels: toolchain

#3152 Refactor index logic to share more code.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/semantics/semantics_handle_index.cpp
  toolchain/semantics/testdata/index/fail_array_large_index.carbon
  toolchain/semantics/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/semantics/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/semantics/testdata/index/fail_empty_tuple_access.carbon
  toolchain/semantics/testdata/index/fail_non_deterministic_type.carbon
  toolchain/semantics/testdata/index/fail_non_tuple_access.carbon
  toolchain/semantics/testdata/index/fail_tuple_large_index.carbon
  toolchain/semantics/testdata/index/fail_tuple_non_int_indexing.carbon
  toolchain/semantics/testdata/index/fail_tuple_out_of_bound_access.carbon
Labels: toolchain

#3157 Manual cleanup of toolchain clang-tidy/clangd warnings.
  toolchain/base/yaml_test_helpers.cpp
  toolchain/base/yaml_test_helpers.h
  toolchain/codegen/codegen.cpp
  toolchain/codegen/codegen.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/diagnostic_kind.h
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_file_test_base.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_test.cpp
  toolchain/lexer/character_set.h
  toolchain/lexer/lex_helpers.cpp
  toolchain/lexer/numeric_literal.cpp
  toolchain/lexer/numeric_literal.h
  toolchain/lexer/numeric_literal_fuzzer.cpp
  toolchain/lexer/numeric_literal_test.cpp
  toolchain/lexer/string_literal.cpp
  toolchain/lexer/string_literal.h
  toolchain/lexer/string_literal_fuzzer.cpp
  toolchain/lexer/string_literal_test.cpp
  toolchain/lexer/test_helpers.h
  toolchain/lexer/token_kind_test.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/lexer/tokenized_buffer_fuzzer.cpp
  toolchain/lexer/tokenized_buffer_test.cpp
  toolchain/lexer/tokenized_buffer_test_helpers.h
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_function_context.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree_fuzzer.cpp
  toolchain/parser/parser_context.h
  toolchain/parser/parser_handle_declaration_name_and_params.cpp
  toolchain/parser/precedence.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_declaration_name_stack.h
  toolchain/semantics/semantics_handle_if_expression.cpp
  toolchain/semantics/semantics_handle_loop_statement.cpp
  toolchain/semantics/semantics_handle_named_constraint.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_ir_formatter.cpp
  toolchain/semantics/semantics_ir_test.cpp
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node_block_stack.h
  toolchain/semantics/semantics_node_kind.h
  toolchain/semantics/semantics_node_stack.h
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer_test.cpp
Labels: toolchain

#3142 Make `TokenKind` API inlinable.
  toolchain/lexer/token_kind.cpp
  toolchain/lexer/token_kind.h
Labels: toolchain

#1885 ranged-based `for` for user-defined types
  proposals/p1885.md
Labels: proposal, proposal rfc

#3155 Move lowering into a 'Lower' namespace
  toolchain/driver/driver.cpp
  toolchain/lowering/lower_to_llvm.cpp
  toolchain/lowering/lower_to_llvm.h
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_file_test.cpp
  toolchain/lowering/lowering_function_context.cpp
  toolchain/lowering/lowering_function_context.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/lowering_handle_expression_category.cpp
  toolchain/lowering/lowering_handle_type.cpp
Labels: toolchain

#3156 Modify EnumBase to better support the namespacing of toolchain
  .clang-format
  common/enum_base.h
  explorer/ast/ast_rtti.cpp
  explorer/ast/ast_rtti.h
  toolchain/semantics/semantics_builtin_kind.cpp
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.cpp
  toolchain/semantics/semantics_node_kind.h
Labels: explorer, toolchain

#3143 Switch to parameter name based comments.
  toolchain/lexer/tokenized_buffer.cpp
Labels: toolchain

#3139 Doc: Update documentation for trace output
  explorer/README.md
Labels: explorer

#3163 Move PrintAsID into explorer.
  common/ostream.h
  explorer/ast/BUILD
  explorer/ast/declaration.cpp
  explorer/ast/static_scope.cpp
  explorer/base/BUILD
  explorer/base/print_as_id.h
  explorer/interpreter/BUILD
  explorer/interpreter/action.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/type_checker.cpp
Labels: explorer

#3165 Fix ARM build.
  toolchain/lexer/tokenized_buffer.cpp
Labels: toolchain

#3117 Add `addr self` binding support in destructors
  explorer/interpreter/interpreter.cpp
  explorer/testdata/destructor/self_addr.carbon
  explorer/testdata/trace/phase_execution.carbon
Labels: explorer

#3168 Remove `MemberName::Print`.
  explorer/ast/value.cpp
  explorer/ast/value.h
Labels: explorer

#3162 Reduce ambiguity in terminology
  docs/design/README.md
  docs/design/expressions/member_access.md
  docs/design/generics/terminology.md
  proposals/p3162.md
Labels: proposal, proposal rfc

#3166 Provide a Printable CRTP parent to replace HasPrintable templates.
  common/BUILD
  common/enum_base.h
  common/enum_base_test.cpp
  common/error.h
  common/metaprogramming.h
  common/metaprogramming_test.cpp
  common/ostream.h
  explorer/ast/address.h
  explorer/ast/ast_node.h
  explorer/ast/bindings.h
  explorer/ast/declaration.h
  explorer/ast/element.h
  explorer/ast/element_path.h
  explorer/ast/return_term.h
  explorer/ast/value.h
  explorer/ast/value_node.h
  explorer/base/source_location.h
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.h
  explorer/interpreter/heap.h
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/impl_scope.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_structure.h
  toolchain/base/index_base.h
  toolchain/lexer/tokenized_buffer.h
  toolchain/lexer/tokenized_buffer_test_helpers.h
  toolchain/parser/parse_tree.h
  toolchain/parser/parser_context.h
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.h
Labels: explorer, toolchain

#3173 Retain information about how an initializing expression is used in semantics IR
  toolchain/lowering/lowering_function_context.cpp
  toolchain/lowering/lowering_function_context.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/lowering_handle_expression_category.cpp
  toolchain/lowering/testdata/array/assign_return_value.carbon
  toolchain/lowering/testdata/array/base.carbon
  toolchain/lowering/testdata/function/call/tuple_param_with_return_slot.carbon
  toolchain/lowering/testdata/index/array_element_access.carbon
  toolchain/lowering/testdata/index/tuple_element_access.carbon
  toolchain/lowering/testdata/index/tuple_return_value_access.carbon
  toolchain/lowering/testdata/operators/assignment.carbon
  toolchain/lowering/testdata/pointer/address_of_field.carbon
  toolchain/lowering/testdata/struct/member_access.carbon
  toolchain/lowering/testdata/struct/two_entries.carbon
  toolchain/lowering/testdata/tuple/two_entries.carbon
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle_call_expression.cpp
  toolchain/semantics/semantics_handle_operator.cpp
  toolchain/semantics/semantics_handle_statement.cpp
  toolchain/semantics/semantics_handle_variable.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/testdata/array/assign_return_value.carbon
  toolchain/semantics/testdata/expression_category/in_place_tuple_initialization.carbon
  toolchain/semantics/testdata/function/call/empty_struct.carbon
  toolchain/semantics/testdata/function/call/empty_tuple.carbon
  toolchain/semantics/testdata/function/call/return_implicit.carbon
  toolchain/semantics/testdata/if_expression/constant_condition.carbon
  toolchain/semantics/testdata/if_expression/control_flow.carbon
  toolchain/semantics/testdata/index/fail_empty_tuple_access.carbon
  toolchain/semantics/testdata/index/tuple_return_value_access.carbon
  toolchain/semantics/testdata/operators/and.carbon
  toolchain/semantics/testdata/operators/or.carbon
  toolchain/semantics/testdata/pointer/fail_address_of_value.carbon
  toolchain/semantics/testdata/return/tuple.carbon
Labels: toolchain

#2875 Functions, function types, and function calls
  proposals/p2875.md
Labels: proposal, proposal rfc

#3171 Rename some classes in Lex namespace
  toolchain/lexer/numeric_literal.cpp
  toolchain/lexer/numeric_literal.h
  toolchain/lexer/numeric_literal_benchmark.cpp
  toolchain/lexer/numeric_literal_fuzzer.cpp
  toolchain/lexer/numeric_literal_test.cpp
  toolchain/lexer/string_literal.cpp
  toolchain/lexer/string_literal.h
  toolchain/lexer/string_literal_benchmark.cpp
  toolchain/lexer/string_literal_fuzzer.cpp
  toolchain/lexer/string_literal_test.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/lexer/tokenized_buffer_fuzzer.cpp
  toolchain/lexer/tokenized_buffer_test.cpp
  toolchain/lexer/tokenized_buffer_test_helpers.h
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
  toolchain/parser/parse_tree_node_location_translator.h
  toolchain/parser/parser_context.cpp
  toolchain/parser/parser_context.h
  toolchain/parser/parser_handle_array_expression.cpp
  toolchain/parser/parser_handle_paren_condition.cpp
  toolchain/parser/parser_handle_statement.cpp
  toolchain/semantics/semantics_handle_literal.cpp
Labels: explorer, toolchain
