Repository carbon-language/carbon-lang, pull requests merged in 2023-11, with the labels that each got.

#3353 Split out the SharedValueStores to be per-compilation unit.
  toolchain/base/value_store.h
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/dump_shared_values.carbon
  toolchain/lex/testdata/multifile.carbon
Labels: toolchain

#3356 Fix member accesses that name a nested class.
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/class/nested_name.carbon
Labels: toolchain

#3357 Treat field access into a class value expression as a value expression.
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/class/fail_memaccess_category.carbon
  toolchain/check/testdata/class/field_access_in_value.carbon
  toolchain/lower/testdata/class/value_access.carbon
Labels: toolchain

#3352 Split IdentifierId and StringLiteralId from StringId
  language_server/language_server.cpp
  toolchain/base/value_store.h
  toolchain/base/value_store_test.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/declaration_name_stack.cpp
  toolchain/check/declaration_name_stack.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/lex/tokenized_buffer_test_helpers.h
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/entry_point.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3361 Rename sem_ir files node->inst, follow up to #3355
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/inst_block_stack.cpp
  toolchain/check/inst_block_stack.h
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/typed_insts_test.cpp
Labels: toolchain

#3358 Support initializing a class from a struct.
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/testdata/class/fail_init.carbon
  toolchain/check/testdata/class/fail_init_as_inplace.carbon
  toolchain/check/testdata/class/init.carbon
  toolchain/check/testdata/class/init_as.carbon
  toolchain/check/testdata/class/init_nested.carbon
  toolchain/check/testdata/struct/fail_assign_empty.carbon
  toolchain/check/testdata/struct/fail_assign_to_empty.carbon
  toolchain/check/testdata/struct/fail_too_few_values.carbon
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/struct/one_entry.carbon
  toolchain/lower/testdata/tuple/one_entry.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3360 Clarify some comments
  toolchain/check/node_stack.h
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
Labels: toolchain

#3371 Fix comment on Declaration
  explorer/ast/declaration.h
Labels: explorer

#3364 Split build keys so that a read-write key is only used for merged PRs, and read-only is used otherwise.
  .github/workflows/tests.yaml
Labels: toolchain

#3369 handle missing addr in self pointer pattern
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/testdata/addr/fail_missing_addr.carbon
Labels: explorer

#3368 Split handlers for aggregates out of `lower/handle.cpp` into its own file
  toolchain/lower/handle.cpp
  toolchain/lower/handle_aggregates.cpp
Labels: toolchain

#3372 Fix crash when an expression cannot convert to a type.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/testdata/return/fail_call_in_type.carbon
  toolchain/check/testdata/return/fail_error_in_type.carbon
  toolchain/check/testdata/return/fail_let_in_type.carbon
  toolchain/check/testdata/return/fail_var_in_type.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3373 Fix crash when if expressions aren't in a function.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_if_expression.cpp
  toolchain/check/testdata/if_expression/fail_not_in_function.carbon
Labels: toolchain

#3377 Add missing #include of `base/value_store.h`
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/ids.h
Labels: toolchain

#3374 Support for `returned var` and `return var`.
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_expression_statement.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/handle_return_statement.cpp
  toolchain/check/handle_statement.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/node_stack.h
  toolchain/check/return.cpp
  toolchain/check/return.h
  toolchain/check/testdata/return/fail_return_var_no_returned_var.carbon
  toolchain/check/testdata/return/fail_return_with_returned_var.carbon
  toolchain/check/testdata/return/fail_returned_var_no_return_type.carbon
  toolchain/check/testdata/return/fail_returned_var_shadow.carbon
  toolchain/check/testdata/return/fail_returned_var_type.carbon
  toolchain/check/testdata/return/fail_value_disallowed.carbon
  toolchain/check/testdata/return/fail_value_missing.carbon
  toolchain/check/testdata/return/returned_var.carbon
  toolchain/check/testdata/return/returned_var_scope.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/testdata/return/return_var.carbon
  toolchain/lower/testdata/return/return_var_byval.carbon
  toolchain/parse/handle_declaration_scope_loop.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/handle_var.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/for/fail_returned_var.carbon
  toolchain/parse/testdata/return/fail_returned_no_var.carbon
  toolchain/parse/testdata/return/fail_var_no_semi.carbon
  toolchain/parse/testdata/return/returned_var.carbon
  toolchain/sem_ir/file.h
Labels: toolchain

#3380 Add missing periods to diagnostics.
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/testdata/class/fail_addr_not_self.carbon
  toolchain/check/testdata/class/fail_self.carbon
Labels: toolchain

#3383 Subexpr -> SubExpr
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_expression.cpp
Labels: toolchain

#3378 Extend description of parser states to show which tokens they consume.
  toolchain/parse/context.h
  toolchain/parse/handle_expression.cpp
  toolchain/parse/handle_function.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/state.def
Labels: toolchain

#3388 Use x-macro instead of TYPED_TEST for compilation speed
  toolchain/sem_ir/typed_insts_test.cpp
Labels: toolchain

#3365 Split lexing logic and storage to separate files.
  language_server/BUILD
  language_server/language_server.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/lex/BUILD
  toolchain/lex/lex.cpp
  toolchain/lex/lex.h
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/lex/tokenized_buffer_fuzzer.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/BUILD
  toolchain/parse/parse_fuzzer.cpp
  toolchain/parse/tree_test.cpp
Labels: toolchain

#3389 Rename files to use abbreviations
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/lower/handle_expr_category.cpp
  toolchain/parse/handle_array_expr.cpp
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/handle_call_expr.cpp
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/handle_index_expr.cpp
  toolchain/parse/handle_paren_expr.cpp
Labels: toolchain

#3390 Reduce the compile time of the typed_insts_test by a further 40% or so.
  toolchain/sem_ir/typed_insts_test.cpp
Labels: toolchain

#3387 fix crash caused by unicode chars
  toolchain/lex/lex.cpp
  toolchain/lex/testdata/fail_bad_raw_identifier.carbon
Labels: toolchain

#3391 Finish "declaration" -> "decl"
  toolchain/check/handle_function.cpp
  toolchain/check/return.cpp
  toolchain/sem_ir/file.h
Labels: toolchain

#3381 Add some testing that `self` and `Self` don't conflict with `r#self` and `r#Self`.
  toolchain/check/testdata/class/raw_self.carbon
  toolchain/check/testdata/class/raw_self_type.carbon
Labels: toolchain

#3385 Parsing and basic checking for `abstract class` and `base class`.
  toolchain/check/convert.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/handle_return_statement.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/check/testdata/class/fail_redeclaration_introducer.carbon
  toolchain/check/testdata/class/redeclaration_introducer.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/context.h
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/handle_type.cpp
  toolchain/parse/handle_var.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/class/fail_introducer.carbon
  toolchain/parse/testdata/class/introducer.carbon
  toolchain/parse/testdata/for/fail_returned_var.carbon
  toolchain/parse/testdata/return/fail_var_no_semi.carbon
  toolchain/parse/testdata/return/returned_var.carbon
  toolchain/sem_ir/file.h
Labels: toolchain

#3379 Refactor checking flow to allow for ordering based on import/package.
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/handle_import_and_package.cpp
  toolchain/check/testdata/packages/explicit_imports.carbon
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/fail_import_repeat.carbon
  toolchain/check/testdata/packages/fail_package_main.carbon
  toolchain/check/testdata/packages/implicit_imports.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/driver/driver.cpp
  toolchain/parse/BUILD
  toolchain/parse/context.h
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/tree.h
Labels: toolchain

#3397 `parameter` -> `param` file renaming
  toolchain/check/handle_param_list.cpp
  toolchain/parse/handle_param.cpp
Labels: toolchain

#3400 Don't abbreviate 'element'
  toolchain/check/convert.cpp
Labels: toolchain

#3398 Abbreviate "Initialization" -> "Init"
  toolchain/check/convert.cpp
  toolchain/check/testdata/expression_category/in_place_tuple_init.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/handle_expr_category.cpp
Labels: toolchain

#3395 Detect duplicate member names in struct and struct type literals
  toolchain/check/handle_struct.cpp
  toolchain/check/testdata/struct/fail_duplicate_name.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3404 Fix a crash on invalid found by fuzzing.
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/namespace/fail_incomplete.carbon
Labels: toolchain

#3406 Restore interface declaration parse test
  toolchain/parse/testdata/generics/interface/declaration.carbon
  toolchain/parse/testdata/generics/interface/empty_body.carbon
Labels: toolchain

#3403 Change Main//default to an api file
  docs/design/code_and_name_organization/README.md
  proposals/p3403.md
Labels: proposal, proposal rfc

#3408 Diagnose repeat Main//default files as a redundant api file.
  toolchain/check/check.cpp
  toolchain/check/testdata/basics/multifile.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/packages/fail_duplicate_api.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/tree_node_location_translator.h
Labels: toolchain

#2909 Add nested array size deduction from tuple
  explorer/interpreter/BUILD
  explorer/interpreter/interpreter.h
  explorer/interpreter/pattern_match.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_utils.cpp
  explorer/interpreter/type_utils.h
  explorer/testdata/array/fail_to_deduce_nested_array_size_from_tuple_different_subtuples_size.carbon
  explorer/testdata/array/fail_to_deduce_nested_array_size_from_tuple_of_different_types.carbon
  explorer/testdata/array/fail_to_deduce_size_from_tuple_of_different_types.carbon
  explorer/testdata/array/fail_to_index_deduced_nested_size_from_array.carbon
  explorer/testdata/array/fail_to_index_deduced_nested_size_from_tuple.carbon
  explorer/testdata/array/nested_and_external_array_size_deduction_from_tuple.carbon
  explorer/testdata/array/nested_array_size_deduction_from_array.carbon
  explorer/testdata/array/nested_array_size_deduction_from_empty_tuple.carbon
  explorer/testdata/array/nested_array_size_deduction_from_tuple.carbon
  explorer/testdata/array/nested_array_size_deduction_from_tuple_of_tuple_and_array.carbon
  explorer/testdata/array/three_dim_array_size_deduction_from_tuple.carbon
Labels: explorer

#3409 Diagnose incorrect file extensions.
  toolchain/check/check.cpp
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
  toolchain/check/testdata/packages/fail_import_default.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/implicit_imports.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3411 [explorer] Add support for `abstract` virtual methods
  explorer/interpreter/type_checker.cpp
  explorer/testdata/class/abstract_method.carbon
  explorer/testdata/class/abstract_method_base_instance.carbon
  explorer/testdata/class/fail_abstract_method_abstract_class.carbon
  explorer/testdata/class/fail_abstract_method_base_class.carbon
  explorer/testdata/class/fail_abstract_method_body.carbon
  explorer/testdata/class/fail_abstract_method_final_impl.carbon
  explorer/testdata/class/fail_abstract_method_non_abstract_class.carbon
Labels: explorer

#3416 Support for reading source code from stdin and other unusual places.
  toolchain/autoupdate_testdata.py
  toolchain/check/check.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/fail_input_is_directory.carbon
  toolchain/driver/testdata/fail_missing_stdin_output.carbon
  toolchain/driver/testdata/stdin.carbon
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/tree.cpp
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer.h
Labels: toolchain

#3414 Switch cross references to a ValueStore.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
Labels: toolchain

#3407 Clarify name bindings in namespaces.
  docs/design/code_and_name_organization/README.md
  proposals/p3407.md
Labels: proposal, proposal rfc

#3420 Fix minor typos / grammar errors in the driver.
  toolchain/driver/driver.cpp
Labels: toolchain

#3424 Fix crash when array contents aren't an expression.
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/array/fail_require_close_bracket.carbon
  toolchain/parse/testdata/array/fail_require_semi.carbon
  toolchain/parse/testdata/array/fail_syntax.carbon
Labels: toolchain

#3426 Rename files to use "expr" and "deref"
  toolchain/check/testdata/expr_category/in_place_tuple_init.carbon
  toolchain/check/testdata/if_expr/basic.carbon
  toolchain/check/testdata/if_expr/constant_condition.carbon
  toolchain/check/testdata/if_expr/control_flow.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/if_expr/nested.carbon
  toolchain/check/testdata/if_expr/struct.carbon
  toolchain/check/testdata/index/expr_category.carbon
  toolchain/check/testdata/index/fail_expr_category.carbon
  toolchain/check/testdata/pointer/fail_deref_error.carbon
  toolchain/check/testdata/pointer/fail_deref_function.carbon
  toolchain/check/testdata/pointer/fail_deref_namespace.carbon
  toolchain/check/testdata/pointer/fail_deref_not_pointer.carbon
  toolchain/check/testdata/pointer/fail_deref_type.carbon
  toolchain/lower/testdata/if_expr/basic.carbon
  toolchain/lower/testdata/if_expr/empty_block.carbon
  toolchain/parse/testdata/if_expr/basic.carbon
  toolchain/parse/testdata/if_expr/fail_condition_missing.carbon
  toolchain/parse/testdata/if_expr/fail_else_expr_missing.carbon
  toolchain/parse/testdata/if_expr/fail_else_missing.carbon
  toolchain/parse/testdata/if_expr/fail_then_expr_missing.carbon
  toolchain/parse/testdata/if_expr/fail_then_missing.carbon
  toolchain/parse/testdata/if_expr/fail_top_level_if.carbon
  toolchain/parse/testdata/if_expr/in_type.carbon
  toolchain/parse/testdata/if_expr/precedence.carbon
  toolchain/parse/testdata/pointer/fail_pointer_type_in_expr.carbon
Labels: toolchain

#3427 Auto-update pre-commit repositories and fix.
  .pre-commit-config.yaml
  docs/design/generics/details.md
  docs/design/interoperability/philosophy_and_goals.md
  docs/project/principles/safety_strategy.md
  explorer/interpreter/pattern_analysis.cpp
  migrate_cpp/rewriter_test.cpp
  proposals/p0175.md
  proposals/p1964.md
  proposals/p2200.md
Labels: explorer

#3418 Remove nodiscard uses.
  common/enum_base.h
  common/error.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/lex/numeric_literal.h
  toolchain/lex/string_literal.h
  toolchain/lex/token_kind.h
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/precedence.h
  toolchain/parse/tree.h
  toolchain/sem_ir/inst_kind.h
  toolchain/source/source_buffer.h
Labels: explorer, toolchain

#3415 Pass imports to SemIR.
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/testdata/packages/explicit_imports.carbon
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
  toolchain/check/testdata/packages/fail_import_default.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/fail_import_repeat.carbon
  toolchain/check/testdata/packages/implicit_imports.carbon
  toolchain/lower/handle.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/builtin_kind.def
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3428 Align on FileStart/FileEnd for naming.
  toolchain/lex/lex.cpp
  toolchain/lex/testdata/basic_syntax.carbon
  toolchain/lex/testdata/fail_bad_comment_introducers.carbon
  toolchain/lex/testdata/fail_bad_comment_introducers_mid_block_indent_change.carbon
  toolchain/lex/testdata/fail_bad_raw_identifier.carbon
  toolchain/lex/testdata/fail_block_string_second_line.carbon
  toolchain/lex/testdata/fail_multifile.carbon
  toolchain/lex/testdata/fail_trailing_comments.carbon
  toolchain/lex/testdata/keywords.carbon
  toolchain/lex/testdata/multifile.carbon
  toolchain/lex/testdata/numeric_literals.carbon
  toolchain/lex/testdata/printing_digit_padding.carbon
  toolchain/lex/testdata/printing_integer_literal.carbon
  toolchain/lex/testdata/printing_real_literal.carbon
  toolchain/lex/testdata/printing_token.carbon
  toolchain/lex/testdata/raw_identifier.carbon
  toolchain/lex/token_kind.def
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/tree.cpp
  toolchain/testing/file_test.cpp
Labels: toolchain

#3430 FloatingPointLiteral to RealLiteral fixup
  toolchain/check/handle_literal.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/basics/builtin_types.carbon
  toolchain/parse/testdata/basics/numeric_literals.carbon
Labels: toolchain

#3431 Error when passing StringRef to CARBON_DIAGNOSTIC.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/handle_struct.cpp
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/lex/token_kind.h
  toolchain/parse/context.cpp
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/handle_period.cpp
Labels: toolchain

#3433 Rename Lex::{Token,Line} -> Lex::{Token,Line}Index.
  toolchain/lex/lex.cpp
  toolchain/lex/token_kind.def
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_fuzzer.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/handle_paren_condition.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/handle_var.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
Labels: toolchain

#3429 Tidy up lint issues.
  toolchain/base/value_store.h
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_array.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/pending_block.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/mocks.h
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle_aggregates.cpp
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/node_kind.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/typed_insts_test.cpp
Labels: toolchain

#3434 Switch formatv adapters to format_provider
  toolchain/lex/numeric_literal.cpp
  toolchain/parse/context.cpp
Labels: toolchain

#3436 Rename IndexBase -> IdBase, ComparableIndexBase -> IndexBase.
  toolchain/base/index_base.h
  toolchain/base/value_store.h
  toolchain/check/decl_name_stack.h
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/tree.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
Labels: toolchain
