Repository carbon-language/carbon-lang, pull requests merged in 2023-05, with the labels that each got.

#2810 Fix reference to gen_rtti
  explorer/ast/ast_node.h
Labels: explorer

#2813 Extract ParseAndExecute as its own library.
  explorer/BUILD
  explorer/common/BUILD
  explorer/common/trace_stream.h
  explorer/fuzzing/BUILD
  explorer/fuzzing/ast_to_proto.cpp
  explorer/fuzzing/ast_to_proto.h
  explorer/fuzzing/ast_to_proto_main.cpp
  explorer/fuzzing/explorer_fuzzer.cpp
  explorer/fuzzing/fuzzer_util.cpp
  explorer/fuzzing/fuzzer_util.h
  explorer/fuzzing/fuzzer_util_test.cpp
  explorer/interpreter/BUILD
  explorer/interpreter/exec_program.h
  explorer/interpreter/interpreter.h
  explorer/interpreter/type_checker.h
  explorer/main.cpp
  explorer/parse_and_execute/BUILD
  explorer/parse_and_execute/parse_and_execute.cpp
  explorer/parse_and_execute/parse_and_execute.h
  explorer/syntax/BUILD
Labels: explorer

#2814 Add framework for replacing lit with cc_test
  bazel/testing/lit_autoupdate_base.py
  bazel/testing/merge_output.py
  explorer/testdata/string/fail_newline.carbon
  explorer/testdata/string/fail_raw_more_hash_tags_on_left.carbon
  testing/file_test/BUILD
  testing/file_test/example.carbon
  testing/file_test/fail_example.carbon
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/rules.bzl
  toolchain/lowering/testdata/basics/zero.carbon
  toolchain/lowering/testdata/function/definition/params_one.carbon
  toolchain/lowering/testdata/function/definition/params_two.carbon
  toolchain/lowering/testdata/function/definition/params_zero.carbon
  toolchain/lowering/testdata/return/no_value.carbon
  toolchain/lowering/testdata/return/value.carbon
Labels: explorer, toolchain

#2815 Remove dependent issues trigger
  .github/workflows/dependent-issues.yaml
  .github/workflows/pre_commit.yaml
Labels: infrastructure

#2818 Refactor parser logic into separate files.
  toolchain/parser/BUILD
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
  toolchain/parser/parser.cpp
  toolchain/parser/parser_context.cpp
  toolchain/parser/parser_context.h
  toolchain/parser/parser_handle_brace_expression.cpp
  toolchain/parser/parser_handle_call_expression.cpp
  toolchain/parser/parser_handle_code_block.cpp
  toolchain/parser/parser_handle_declaration_name_and_params.cpp
  toolchain/parser/parser_handle_declaration_scope_loop.cpp
  toolchain/parser/parser_handle_designator.cpp
  toolchain/parser/parser_handle_expression.cpp
  toolchain/parser/parser_handle_function.cpp
  toolchain/parser/parser_handle_package.cpp
  toolchain/parser/parser_handle_parameter.cpp
  toolchain/parser/parser_handle_paren_condition.cpp
  toolchain/parser/parser_handle_paren_expression.cpp
  toolchain/parser/parser_handle_pattern.cpp
  toolchain/parser/parser_handle_statement.cpp
  toolchain/parser/parser_handle_type.cpp
  toolchain/parser/parser_handle_var.cpp
Labels: toolchain

#2819 Refactor semantics logic into separate files.
  toolchain/common/BUILD
  toolchain/common/pretty_stack_trace_function.h
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_call_expression.cpp
  toolchain/semantics/semantics_handle_class.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_interface.cpp
  toolchain/semantics/semantics_handle_package.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2820 Refactoring lowering logic into separate files.
  toolchain/lowering/BUILD
  toolchain/lowering/lower_to_llvm.cpp
  toolchain/lowering/lowering.cpp
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_handle.cpp
Labels: toolchain

#2829 Refactor lit test infra under //testing.
  explorer/autoupdate_lit_testdata.py
  explorer/autoupdate_testdata.py
  explorer/lit_testdata/BUILD
  explorer/lit_testdata/lit.cfg.py
  testing/lit_test/BUILD
  testing/lit_test/__init__.py
  testing/lit_test/lit.cfg.py
  testing/lit_test/lit_test.py
  testing/lit_test/merge_output.py
  testing/lit_test/rules.bzl
  testing/scripts/__init__.py
  testing/scripts/autoupdate_testdata_base.py
  toolchain/driver/testdata/BUILD
  toolchain/driver/testdata/lit.cfg.py
  toolchain/lexer/autoupdate_testdata.py
  toolchain/lowering/autoupdate_testdata.py
  toolchain/parser/autoupdate_testdata.py
  toolchain/semantics/autoupdate_testdata.py
Labels: explorer, toolchain

#2822 Start supporting struct type literals in lowering.
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/function/definition/params_one.carbon
  toolchain/lowering/testdata/function/definition/params_two.carbon
  toolchain/lowering/testdata/function/definition/params_zero.carbon
  toolchain/lowering/testdata/return/no_value.carbon
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/lowering/testdata/struct/member_access.carbon
  toolchain/lowering/testdata/struct/one_entry.carbon
  toolchain/lowering/testdata/struct/two_entries.carbon
  toolchain/lowering/testdata/var/local.carbon
Labels: toolchain

#2828 Extract a test helper to its own library.
  common/BUILD
  common/test_raw_ostream.h
  common/test_raw_ostream_test.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver_test.cpp
Labels: toolchain

#2835 Error msg fixed when running dump mode.
  toolchain/driver/driver.cpp
Labels: toolchain

#2836 Add vlog support to lowering.
  toolchain/driver/driver.cpp
  toolchain/lowering/BUILD
  toolchain/lowering/lower_to_llvm.cpp
  toolchain/lowering/lower_to_llvm.h
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
Labels: toolchain

#2832 Add names for LLVM IR entries.
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/function/definition/params_one.carbon
  toolchain/lowering/testdata/function/definition/params_two.carbon
  toolchain/lowering/testdata/function/definition/params_zero.carbon
  toolchain/lowering/testdata/return/no_value.carbon
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/lowering/testdata/struct/member_access.carbon
  toolchain/lowering/testdata/struct/one_entry.carbon
  toolchain/lowering/testdata/struct/two_entries.carbon
  toolchain/lowering/testdata/var/local.carbon
Labels: toolchain

#2834 Refactor diagnostics out of parser_context.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/function/definition/params_one.carbon
  toolchain/lowering/testdata/function/definition/params_two.carbon
  toolchain/lowering/testdata/function/definition/params_zero.carbon
  toolchain/lowering/testdata/return/no_value.carbon
  toolchain/parser/parser_context.cpp
  toolchain/parser/parser_context.h
  toolchain/parser/parser_handle_declaration_name_and_params.cpp
  toolchain/parser/parser_handle_expression.cpp
  toolchain/parser/parser_handle_function.cpp
  toolchain/parser/parser_handle_type.cpp
  toolchain/parser/parser_handle_var.cpp
  toolchain/parser/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parser/testdata/operators/fail_infix_uneven_space_after.carbon
  toolchain/parser/testdata/operators/fail_star_star_no_space.carbon
Labels: toolchain

#2825 Add array size deduction from tuple(fix#1590)
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/type_checker.cpp
  explorer/syntax/parser.ypp
  explorer/testdata/array/deduce_size_from_array.carbon
  explorer/testdata/array/deduce_size_from_array_destructured.carbon
  explorer/testdata/array/deduce_size_from_tuple.carbon
  explorer/testdata/array/deduce_size_from_tuple_destructured.carbon
  explorer/testdata/array/deduce_zero_size_from_array.carbon
  explorer/testdata/array/deduce_zero_size_from_empty_tuple.carbon
  explorer/testdata/array/fail_index_deduced_size_from_array.carbon
  explorer/testdata/array/fail_index_deduced_size_from_tuple.carbon
  explorer/testdata/array/fail_to_deduce_nested_array_size_in_tuple_no_expression_to_deduce_from.carbon
  explorer/testdata/array/fail_to_deduce_size_from_int.carbon
  explorer/testdata/array/fail_to_deduce_size_no_expression_to_deduce_from.carbon
Labels: explorer

#2843 Fix minor $1 use in parser.ypp
  explorer/syntax/parser.ypp
Labels: explorer

#2799 Start handling stack depth issues in explorer
  explorer/interpreter/BUILD
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/stack_space.cpp
  explorer/interpreter/stack_space.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/parse_and_execute/BUILD
  explorer/parse_and_execute/parse_and_execute.cpp
  explorer/parse_and_execute/parse_and_execute_test.cpp
Labels: explorer

#2844 fixed a linting error in action.cpp
  explorer/interpreter/action.cpp
Labels: explorer

#2837 Add lowering for function calls.
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/function/call/i32.carbon
  toolchain/lowering/testdata/function/call/params_one.carbon
  toolchain/lowering/testdata/function/call/params_one_comma.carbon
  toolchain/lowering/testdata/function/call/params_two.carbon
  toolchain/lowering/testdata/function/call/params_two_comma.carbon
  toolchain/lowering/testdata/function/call/params_zero.carbon
  toolchain/semantics/semantics_ir.h
Labels: toolchain

#2839 Handle semantic name lookup for function parameters.
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/testdata/function/call/empty_struct.carbon
  toolchain/semantics/testdata/function/call/i32.carbon
Labels: toolchain

#2847 Fixed typo in comments of numeric literal
  toolchain/lexer/numeric_literal.cpp
Labels: toolchain

#2849 Stop special-casing empty structs.
  toolchain/driver/testdata/semantics_builtin_nodes.carbon
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/function/definition/empty_struct.carbon
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/testdata/function/call/empty_struct.carbon
  toolchain/semantics/testdata/struct/empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_to_empty.carbon
Labels: toolchain

#2850 Remove the builtin empty tuple value (not type).
  toolchain/driver/testdata/semantics_builtin_nodes.carbon
  toolchain/lowering/lowering_context.cpp
  toolchain/semantics/semantics_builtin_kind.cpp
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_ir.cpp
Labels: toolchain

#2855 Canonicalize struct types.
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/lowering/testdata/struct/member_access.carbon
  toolchain/lowering/testdata/struct/one_entry.carbon
  toolchain/lowering/testdata/struct/two_entries.carbon
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/testdata/function/call/empty_struct.carbon
  toolchain/semantics/testdata/return/struct.carbon
  toolchain/semantics/testdata/struct/empty.carbon
  toolchain/semantics/testdata/struct/fail_member_access_type.carbon
  toolchain/semantics/testdata/struct/fail_non_member_access.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/member_access.carbon
  toolchain/semantics/testdata/struct/one_entry.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
Labels: toolchain
