Repository carbon-language/carbon-lang, pull requests merged in 2023-10, with the labels that each got.

#3259 Make autoupdate leave blaze-bin alone and produce less spam.
  explorer/autoupdate_testdata.sh
  testing/file_test/autoupdate_testdata.sh
  toolchain/autoupdate_testdata.py
Labels: explorer, toolchain

#3261 Misc fixes to toolchain
  toolchain/lex/tokenized_buffer.h
  toolchain/sem_ir/file.h
Labels: toolchain

#3146 Don't try to infer where to put loads in lowering.
  toolchain/check/handle_index.cpp
  toolchain/check/testdata/array/function_param.carbon
  toolchain/check/testdata/index/expression_category.carbon
  toolchain/check/testdata/index/fail_expression_category.carbon
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/handle_expression_category.cpp
  toolchain/lower/testdata/function/call/tuple_param_with_return_slot.carbon
  toolchain/lower/testdata/pointer/address_of_field.carbon
  toolchain/lower/testdata/pointer/basic.carbon
  toolchain/lower/testdata/pointer/pointer_to_pointer.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/node.h
  toolchain/sem_ir/node_kind.def
Labels: toolchain

#3264 Update comments in toolchain to point to new names of files
  toolchain/lex/tokenized_buffer_fuzzer.cpp
  toolchain/parse/context.h
Labels: toolchain

#3265 Move dispatch routines to be static member functions.
  toolchain/lex/tokenized_buffer.cpp
Labels: toolchain

#3268 Switch benchmarks to match unit test namespacing.
  toolchain/lex/numeric_literal_benchmark.cpp
  toolchain/lex/string_literal_benchmark.cpp
  toolchain/lex/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3270 Introduce two speed-of-light benchmarks.
  toolchain/lex/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3257 Support for `let` declarations.
  toolchain/check/handle_let.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/let/convert.carbon
  toolchain/check/testdata/let/fail_duplicate_decl.carbon
  toolchain/check/testdata/let/fail_use_in_init.carbon
  toolchain/check/testdata/let/global.carbon
  toolchain/check/testdata/let/local.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/let/local.carbon
  toolchain/lower/testdata/let/tuple.carbon
  toolchain/parse/context.h
  toolchain/parse/handle_declaration_scope_loop.cpp
  toolchain/parse/handle_let.cpp
  toolchain/parse/handle_pattern.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/let/fail_bad_name.carbon
  toolchain/parse/testdata/let/fail_empty.carbon
  toolchain/parse/testdata/let/fail_missing_type.carbon
  toolchain/parse/testdata/let/fail_missing_value.carbon
  toolchain/parse/testdata/let/let.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node.h
  toolchain/sem_ir/node_kind.def
Labels: toolchain

#3272 Remove unnecessory constexpr for lambdas in tests.
  toolchain/lex/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3273 Switch lexer to fully table-driven design.
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer_test.cpp
Labels: toolchain

#3274 Unblock more lexer inlining.
  toolchain/lex/token_kind.h
  toolchain/lex/tokenized_buffer.cpp
Labels: toolchain

#3280 Add typed nodes to SemIR.
  common/BUILD
  common/struct_reflection.h
  common/struct_reflection_test.cpp
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/declaration_name_stack.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_call_expression.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/handle_statement.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/pending_block.h
  toolchain/check/testdata/basics/builtin_nodes.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/handle_expression_category.cpp
  toolchain/lower/handle_type.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/file_test.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node.cpp
  toolchain/sem_ir/node.h
  toolchain/sem_ir/node_kind.def
Labels: toolchain

#3258 Support for `while` statements.
  toolchain/check/context.h
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/while/break_continue.carbon
  toolchain/check/testdata/while/fail_bad_condition.carbon
  toolchain/check/testdata/while/fail_break_continue.carbon
  toolchain/check/testdata/while/unreachable_end.carbon
  toolchain/check/testdata/while/while.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/while/break_continue.carbon
  toolchain/lower/testdata/while/preheader.carbon
  toolchain/lower/testdata/while/unreachable_end.carbon
  toolchain/lower/testdata/while/while.carbon
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#3283 Switch from `SemIR::NodeKind::Foo` to `SemIR::Foo::Kind` wherever possible.
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/declaration_name_stack.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_operator.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node.cpp
Labels: toolchain

#3284 Add `SemIR::Node::Is<TypedNode>()`.
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node.h
Labels: dependent, toolchain

#3275 Enhance the main lexer benchmark.
  toolchain/lex/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3276 Add whitespace- and comment-specific benchmarking.
  toolchain/lex/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3278 Predetermine all the line splits in the lexer.
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
Labels: toolchain

#3286 Add a benchmark to stress test grouping symbols.
  toolchain/lex/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3287 Do more precise table dispatch for symbols.
  toolchain/lex/token_kind.def
  toolchain/lex/token_kind.h
  toolchain/lex/tokenized_buffer.cpp
Labels: toolchain

#3292 Suppress follow-on errors for various forms of expression.
  toolchain/check/convert.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/testdata/index/fail_tuple_index_error.carbon
  toolchain/check/testdata/operators/fail_assignment_to_error.carbon
  toolchain/check/testdata/pointer/fail_address_of_error.carbon
  toolchain/check/testdata/pointer/fail_dereference_error.carbon
  toolchain/check/testdata/pointer/fail_dereference_function.carbon
  toolchain/check/testdata/pointer/fail_dereference_namespace.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#3288 Optimize runs of horizontal whitespace.
  toolchain/lex/tokenized_buffer.cpp
Labels: toolchain

#3294 Bare-bones support for forward-declared classes.
  toolchain/check/context.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/basics/builtin_nodes.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/check/testdata/class/forward_declared.carbon
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/file_test.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node.h
  toolchain/sem_ir/node_kind.def
Labels: toolchain

#3296 Tweak lexer to improve generated code.
  toolchain/lex/tokenized_buffer.cpp
Labels: toolchain

#3293 Rename //toolchain/sem_ir:file_test -> :yaml_test.
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#3295 Validate parse nodes correspond to expected tokens
  toolchain/parse/BUILD
  toolchain/parse/context.cpp
  toolchain/parse/handle_declaration_name_and_params.cpp
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/node_kind.h
  toolchain/parse/testdata/function/declaration/fail_missing_name.carbon
  toolchain/parse/testdata/function/declaration/fail_only_fn_and_semi.carbon
  toolchain/parse/testdata/function/declaration/fail_repeated_fn_and_semi.carbon
  toolchain/parse/testdata/function/declaration/fail_skip_indented_newline_until_outdent.carbon
  toolchain/parse/testdata/function/declaration/fail_skip_indented_newline_with_semi.carbon
  toolchain/parse/testdata/function/declaration/fail_skip_indented_newline_without_semi.carbon
  toolchain/parse/testdata/function/declaration/fail_skip_to_newline_without_semi.carbon
  toolchain/parse/testdata/function/declaration/fail_without_name_and_many_tokens_in_params.carbon
  toolchain/parse/testdata/generics/interface/fail_missing_name.carbon
  toolchain/parse/testdata/namespace/fail_no_name.carbon
Labels: toolchain

#3291 Provide the callee expression to the Call node.
  toolchain/check/convert.cpp
  toolchain/check/handle_call_expression.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/array/array_in_place.carbon
  toolchain/check/testdata/array/assign_return_value.carbon
  toolchain/check/testdata/array/function_param.carbon
  toolchain/check/testdata/expression_category/in_place_tuple_initialization.carbon
  toolchain/check/testdata/function/call/empty_struct.carbon
  toolchain/check/testdata/function/call/empty_tuple.carbon
  toolchain/check/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/check/testdata/function/call/i32.carbon
  toolchain/check/testdata/function/call/more_param_ir.carbon
  toolchain/check/testdata/function/call/params_one.carbon
  toolchain/check/testdata/function/call/params_one_comma.carbon
  toolchain/check/testdata/function/call/params_two.carbon
  toolchain/check/testdata/function/call/params_two_comma.carbon
  toolchain/check/testdata/function/call/params_zero.carbon
  toolchain/check/testdata/function/call/return_implicit.carbon
  toolchain/check/testdata/function/declaration/simple.carbon
  toolchain/check/testdata/if/else.carbon
  toolchain/check/testdata/if/no_else.carbon
  toolchain/check/testdata/if_expression/constant_condition.carbon
  toolchain/check/testdata/if_expression/control_flow.carbon
  toolchain/check/testdata/if_expression/struct.carbon
  toolchain/check/testdata/index/expression_category.carbon
  toolchain/check/testdata/index/fail_empty_tuple_access.carbon
  toolchain/check/testdata/index/fail_expression_category.carbon
  toolchain/check/testdata/index/tuple_return_value_access.carbon
  toolchain/check/testdata/namespace/function.carbon
  toolchain/check/testdata/namespace/nested.carbon
  toolchain/check/testdata/operators/and.carbon
  toolchain/check/testdata/operators/fail_assigment_to_non_assignable.carbon
  toolchain/check/testdata/operators/or.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/check/testdata/struct/literal_member_access.carbon
  toolchain/check/testdata/struct/nested_struct_in_place.carbon
  toolchain/check/testdata/tuples/nested_tuple_in_place.carbon
  toolchain/check/testdata/while/break_continue.carbon
  toolchain/check/testdata/while/unreachable_end.carbon
  toolchain/check/testdata/while/while.carbon
  toolchain/lower/handle.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node.h
Labels: toolchain

#3298 Consolidate indent handling to following newlines.
  toolchain/lex/tokenized_buffer.cpp
Labels: toolchain

#3299 Skip blocks of comments with identical prefixes.
  toolchain/lex/testdata/fail_bad_comment_introducers.carbon
  toolchain/lex/testdata/fail_bad_comment_introducers_mid_block_indent_change.carbon
  toolchain/lex/testdata/fail_trailing_comments.carbon
  toolchain/lex/tokenized_buffer.cpp
Labels: toolchain

#3302 Basic support for incomplete types.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/testdata/array/array_in_place.carbon
  toolchain/check/testdata/array/assign_var.carbon
  toolchain/check/testdata/array/base.carbon
  toolchain/check/testdata/array/fail_incomplete_element.carbon
  toolchain/check/testdata/array/fail_out_of_bound.carbon
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/array/function_param.carbon
  toolchain/check/testdata/array/nine_elements.carbon
  toolchain/check/testdata/basics/fail_bad_run.carbon
  toolchain/check/testdata/basics/numeric_literals.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/check/testdata/basics/textual_ir.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/expression_category/in_place_tuple_initialization.carbon
  toolchain/check/testdata/function/call/empty_struct.carbon
  toolchain/check/testdata/if_expression/struct.carbon
  toolchain/check/testdata/index/array_element_access.carbon
  toolchain/check/testdata/index/expression_category.carbon
  toolchain/check/testdata/index/fail_expression_category.carbon
  toolchain/check/testdata/index/fail_invalid_base.carbon
  toolchain/check/testdata/index/fail_non_deterministic_type.carbon
  toolchain/check/testdata/index/fail_tuple_index_error.carbon
  toolchain/check/testdata/index/fail_tuple_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_tuple_out_of_bound_access.carbon
  toolchain/check/testdata/let/convert.carbon
  toolchain/check/testdata/operators/assignment.carbon
  toolchain/check/testdata/operators/fail_assignment_to_non_assignable.carbon
  toolchain/check/testdata/pointer/address_of_lvalue.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/check/testdata/return/tuple.carbon
  toolchain/check/testdata/struct/empty.carbon
  toolchain/check/testdata/struct/fail_assign_empty.carbon
  toolchain/check/testdata/struct/fail_assign_nested.carbon
  toolchain/check/testdata/struct/fail_assign_to_empty.carbon
  toolchain/check/testdata/struct/fail_nested_incomplete.carbon
  toolchain/check/testdata/struct/literal_member_access.carbon
  toolchain/check/testdata/struct/nested_struct_in_place.carbon
  toolchain/check/testdata/tuples/fail_assign_nested.carbon
  toolchain/check/testdata/tuples/fail_element_type_mismatch.carbon
  toolchain/check/testdata/tuples/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuples/fail_too_few_element.carbon
  toolchain/check/testdata/tuples/nested_tuple.carbon
  toolchain/check/testdata/tuples/nested_tuple_in_place.carbon
  toolchain/check/testdata/tuples/two_elements.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/testdata/pointer/address_of_unused.carbon
  toolchain/sem_ir/file.h
  toolchain/sem_ir/node.h
Labels: toolchain

#3303 Fix follow-on error for member access on an invalid expression.
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/struct/fail_member_of_function.carbon
Labels: toolchain

#3309 SEMANTICS->SEM_IR in macro names. Update comments in `sem_ir/node.h`.
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/sem_ir/builtin_kind.cpp
  toolchain/sem_ir/builtin_kind.def
  toolchain/sem_ir/builtin_kind.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node.cpp
  toolchain/sem_ir/node.h
  toolchain/sem_ir/node_kind.cpp
  toolchain/sem_ir/node_kind.def
  toolchain/sem_ir/node_kind.h
Labels: toolchain

#3307 Add & update comments in `parse/node_kind.def`
  toolchain/parse/node_kind.def
Labels: toolchain

#3305 Support for class definitions with static member functions.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/declaration_name_stack.cpp
  toolchain/check/declaration_name_stack.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/array/fail_incomplete_element.carbon
  toolchain/check/testdata/basics/verbose.carbon
  toolchain/check/testdata/class/basic.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/fail_redefinition.carbon
  toolchain/check/testdata/class/fail_reorder.carbon
  toolchain/check/testdata/class/fail_scope.carbon
  toolchain/check/testdata/class/forward_declared.carbon
  toolchain/check/testdata/class/redeclaration.carbon
  toolchain/check/testdata/class/scope.carbon
  toolchain/check/testdata/namespace/fail_duplicate.carbon
  toolchain/check/testdata/struct/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuples/fail_nested_incomplete.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node.h
Labels: toolchain

#3312 Use the full name declaration logic when adding `var` names to scope.
  toolchain/check/declaration_name_stack.cpp
  toolchain/check/declaration_name_stack.h
  toolchain/check/handle_variable.cpp
  toolchain/check/testdata/class/basic.carbon
  toolchain/check/testdata/ir/duplicate_name_same_line.carbon
  toolchain/check/testdata/var/fail_shadowing.carbon
Labels: toolchain

#3300 Port the comment block scanning SIMD to Arm.
  toolchain/lex/tokenized_buffer.cpp
Labels: toolchain

#3311 Add value store to be shared across compile stages.
  language_server/language_server.cpp
  toolchain/base/BUILD
  toolchain/base/value_store.h
  toolchain/base/value_store_test.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/declaration_name_stack.cpp
  toolchain/check/declaration_name_stack.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/node_stack.h
  toolchain/driver/driver.cpp
  toolchain/lex/BUILD
  toolchain/lex/testdata/multifile.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/lex/tokenized_buffer_fuzzer.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/BUILD
  toolchain/parse/parse_fuzzer.cpp
  toolchain/parse/tree_test.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/node.h
Labels: toolchain

#3313 Extend SharedValueStores to SemIR
  language_server/BUILD
  language_server/language_server.cpp
  toolchain/base/value_store.h
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/basics/builtin_nodes.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/driver/driver.cpp
  toolchain/lex/BUILD
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/lex/tokenized_buffer_test_helpers.h
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/entry_point.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#3318 Fix DenseMapInfo declarations for ValueStore's StringId use.
  toolchain/base/index_base.h
  toolchain/base/value_store.h
  toolchain/sem_ir/node.h
Labels: toolchain

#3310 Remove most of the metaprogramming in node.h in favor of listing all the members in the typed node structs.
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_call_expression.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/handle_statement.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/pending_block.h
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/node.cpp
  toolchain/sem_ir/node.h
  toolchain/sem_ir/node_kind.cpp
  toolchain/sem_ir/node_kind.def
  toolchain/sem_ir/node_kind.h
  toolchain/sem_ir/typed_nodes.h
  toolchain/sem_ir/typed_nodes_test.cpp
Labels: toolchain

#3319 Test for id overflow and string deduplication in `SharedValueStores`
  toolchain/base/value_store.h
  toolchain/base/value_store_test.cpp
Labels: toolchain

#3320 Adding ValueStore printing and --dump-shared-values
  toolchain/base/value_store.h
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/dump_shared_values.carbon
Labels: toolchain

#3316 Switch File functions, classes, and types to ValueStores
  toolchain/base/value_store.h
  toolchain/check/context.cpp
  toolchain/check/declaration_name_stack.cpp
  toolchain/check/handle_call_expression.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_statement.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/entry_point.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#3321 Remove unused `LiteralStringId`
  toolchain/lex/tokenized_buffer.h
Labels: toolchain

#3323 Handle `let` with no closing semicolon
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/let/fail_no_semi.carbon
  toolchain/parse/testdata/var/fail_no_semi.carbon
Labels: toolchain

#3322 Add consistency test between `NodeKind` and `Definition`
  toolchain/sem_ir/typed_nodes_test.cpp
Labels: toolchain

#3324 Lower types in the order they were completed.
  toolchain/check/context.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.h
Labels: toolchain

#3328 Fix missing include for ids.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/ids.h
Labels: toolchain

#3329 Separate `ClassType` from `ClassDeclaration`.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/declaration_name_stack.cpp
  toolchain/check/declaration_name_stack.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/array/fail_incomplete_element.carbon
  toolchain/check/testdata/class/basic.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/fail_member_of_let.carbon
  toolchain/check/testdata/class/fail_redefinition.carbon
  toolchain/check/testdata/class/fail_reorder.carbon
  toolchain/check/testdata/class/fail_scope.carbon
  toolchain/check/testdata/class/forward_declared.carbon
  toolchain/check/testdata/class/redeclaration.carbon
  toolchain/check/testdata/class/scope.carbon
  toolchain/check/testdata/namespace/nested.carbon
  toolchain/check/testdata/struct/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuples/fail_nested_incomplete.carbon
  toolchain/lower/handle_type.cpp
  toolchain/parse/handle_declaration_name_and_params.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/namespace/fail_incomplete_name.carbon
  toolchain/parse/testdata/namespace/nested.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node_kind.def
  toolchain/sem_ir/typed_nodes.h
Labels: toolchain

#3326 Add size="small" to test targets where advised
  bazel/check_deps/BUILD
  common/BUILD
  explorer/ast/BUILD
  explorer/base/BUILD
  explorer/fuzzing/BUILD
  explorer/parse_and_execute/BUILD
  explorer/syntax/BUILD
  github_tools/BUILD
  migrate_cpp/BUILD
  migrate_cpp/cpp_refactoring/BUILD
  proposals/scripts/BUILD
  scripts/BUILD
  testing/base/BUILD
  testing/file_test/BUILD
  testing/fuzzing/BUILD
  toolchain/testing/BUILD
  utils/treesitter/BUILD
Labels: explorer, toolchain

#3325 Cleanups of SIMD code and document no Arm port.
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3317 Add more value store types to File.
  toolchain/base/value_store.h
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/declaration_name_stack.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_call_expression.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expression.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/handle_statement.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/node_block_stack.cpp
  toolchain/check/node_block_stack.h
  toolchain/check/pending_block.h
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3314 Change StringLiteral to less frequently allocate a new string.
  toolchain/lex/string_literal.cpp
  toolchain/lex/string_literal.h
  toolchain/lex/string_literal_benchmark.cpp
  toolchain/lex/string_literal_fuzzer.cpp
  toolchain/lex/string_literal_test.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
Labels: toolchain

#3331 Make SemIR::File access more terse.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/declaration_name_stack.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_call_expression.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expression.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/handle_statement.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/node_block_stack.cpp
  toolchain/check/node_block_stack.h
  toolchain/check/pending_block.h
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/handle_expression_category.cpp
  toolchain/lower/lower.cpp
  toolchain/lower/lower.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
Labels: toolchain

#3333 sem-ir: Write references to the `file` block as `file.` not `package.`
  toolchain/check/testdata/array/array_in_place.carbon
  toolchain/check/testdata/array/assign_return_value.carbon
  toolchain/check/testdata/array/function_param.carbon
  toolchain/check/testdata/class/basic.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/fail_reorder.carbon
  toolchain/check/testdata/class/scope.carbon
  toolchain/check/testdata/expression_category/in_place_tuple_initialization.carbon
  toolchain/check/testdata/function/call/empty_struct.carbon
  toolchain/check/testdata/function/call/empty_tuple.carbon
  toolchain/check/testdata/function/call/fail_param_count.carbon
  toolchain/check/testdata/function/call/fail_param_type.carbon
  toolchain/check/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/check/testdata/function/call/i32.carbon
  toolchain/check/testdata/function/call/more_param_ir.carbon
  toolchain/check/testdata/function/call/params_one.carbon
  toolchain/check/testdata/function/call/params_one_comma.carbon
  toolchain/check/testdata/function/call/params_two.carbon
  toolchain/check/testdata/function/call/params_two_comma.carbon
  toolchain/check/testdata/function/call/params_zero.carbon
  toolchain/check/testdata/function/call/return_implicit.carbon
  toolchain/check/testdata/function/declaration/simple.carbon
  toolchain/check/testdata/if/else.carbon
  toolchain/check/testdata/if/no_else.carbon
  toolchain/check/testdata/if_expression/constant_condition.carbon
  toolchain/check/testdata/if_expression/control_flow.carbon
  toolchain/check/testdata/if_expression/struct.carbon
  toolchain/check/testdata/index/expression_category.carbon
  toolchain/check/testdata/index/fail_empty_tuple_access.carbon
  toolchain/check/testdata/index/fail_expression_category.carbon
  toolchain/check/testdata/index/tuple_return_value_access.carbon
  toolchain/check/testdata/let/global.carbon
  toolchain/check/testdata/namespace/function.carbon
  toolchain/check/testdata/namespace/nested.carbon
  toolchain/check/testdata/operators/and.carbon
  toolchain/check/testdata/operators/fail_assignment_to_non_assignable.carbon
  toolchain/check/testdata/operators/or.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/check/testdata/pointer/fail_dereference_function.carbon
  toolchain/check/testdata/pointer/fail_dereference_namespace.carbon
  toolchain/check/testdata/struct/fail_member_of_function.carbon
  toolchain/check/testdata/struct/literal_member_access.carbon
  toolchain/check/testdata/struct/nested_struct_in_place.carbon
  toolchain/check/testdata/tuples/nested_tuple_in_place.carbon
  toolchain/check/testdata/var/global_lookup_in_scope.carbon
  toolchain/check/testdata/while/break_continue.carbon
  toolchain/check/testdata/while/unreachable_end.carbon
  toolchain/check/testdata/while/while.carbon
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#3330 Refactor SemIR YAML printing to use dashed lists.
  toolchain/base/BUILD
  toolchain/base/value_store.h
  toolchain/base/value_store_test.cpp
  toolchain/check/testdata/basics/builtin_nodes.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/driver/testdata/dump_shared_values.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3334 Basic lowering support for classes.
  toolchain/check/context.cpp
  toolchain/check/declaration_name_stack.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/testdata/class/basic.carbon
  toolchain/check/testdata/class/fail_member_of_let.carbon
  toolchain/check/testdata/class/fail_redefinition.carbon
  toolchain/check/testdata/class/fail_reorder.carbon
  toolchain/check/testdata/class/fail_scope.carbon
  toolchain/check/testdata/class/fail_unbound_field.carbon
  toolchain/check/testdata/class/redeclaration.carbon
  toolchain/check/testdata/class/scope.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/class/basic.carbon
  toolchain/sem_ir/file.h
Labels: toolchain

#3335 Support for member access into classes.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_name.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/testdata/class/basic.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/fail_unbound_field.carbon
  toolchain/check/testdata/class/fail_unknown_member.carbon
  toolchain/check/testdata/class/field_access.carbon
  toolchain/check/testdata/class/field_access_in_value.carbon
  toolchain/check/testdata/class/static_method.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/class/field.carbon
  toolchain/lower/testdata/class/value_access.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/node_kind.def
  toolchain/sem_ir/typed_nodes.h
Labels: toolchain

#3336 Rename Deduced parameters to Implicit parameters.
  toolchain/check/handle_parameter_list.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/context.h
  toolchain/parse/handle_declaration_name_and_params.cpp
  toolchain/parse/handle_parameter.cpp
  toolchain/parse/handle_pattern.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/class/fn_definitions.carbon
  toolchain/parse/testdata/function/declaration/fail_missing_implicit_close.carbon
  toolchain/parse/testdata/function/declaration/implicit_empty.carbon
  toolchain/parse/testdata/function/declaration/implicit_params.carbon
  toolchain/parse/testdata/generics/deduced_params/empty.carbon
  toolchain/parse/testdata/generics/deduced_params/fail_no_parens.carbon
  toolchain/parse/testdata/generics/deduced_params/one.carbon
  toolchain/parse/testdata/generics/deduced_params/one_suffix_comma.carbon
  toolchain/parse/testdata/generics/deduced_params/six.carbon
  toolchain/parse/testdata/generics/deduced_params/two.carbon
  toolchain/parse/testdata/generics/deduced_params/two_suffix_comma.carbon
  toolchain/parse/testdata/generics/interface/basic.carbon
  toolchain/parse/testdata/generics/interface/fail_no_impl_allowed.carbon
  toolchain/parse/testdata/generics/interface/fail_self_param_syntax.carbon
  toolchain/parse/testdata/generics/interface/self_pointer.carbon
  toolchain/parse/testdata/generics/named_constraint/fail_no_impl_allowed.carbon
Labels: toolchain

#3337 Refactor YAML handling to use the llvm::yaml API.
  common/ostream.h
  toolchain/base/BUILD
  toolchain/base/value_store.h
  toolchain/base/value_store_test.cpp
  toolchain/base/yaml.h
  toolchain/check/testdata/basics/builtin_nodes.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/driver/testdata/dump_shared_values.carbon
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/value_stores.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#3340 Fix typo
  toolchain/parse/state.def
Labels: toolchain

#3338 Support for functions with a `self` parameter.
  toolchain/check/context.cpp
  toolchain/check/handle_call_expression.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_parameter_list.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/class/fail_addr_not_self.carbon
  toolchain/check/testdata/class/fail_method.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/class/self.carbon
  toolchain/check/testdata/function/call/fail_not_callable.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/class/self.carbon
  toolchain/parse/handle_expression.cpp
  toolchain/parse/handle_pattern.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/class/fn_definitions.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node_kind.def
  toolchain/sem_ir/typed_nodes.h
Labels: toolchain

#3343 Support for type-checking and lowering method calls.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/handle_call_expression.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/basics/builtin_nodes.carbon
  toolchain/check/testdata/class/fail_addr_self.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/fail_method.carbon
  toolchain/check/testdata/class/fail_redefinition.carbon
  toolchain/check/testdata/class/fail_reorder.carbon
  toolchain/check/testdata/class/fail_scope.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/check/testdata/function/call/fail_not_callable.carbon
  toolchain/check/testdata/function/call/fail_param_count.carbon
  toolchain/check/testdata/function/call/fail_param_type.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/class/method.carbon
  toolchain/sem_ir/builtin_kind.def
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/node_kind.def
  toolchain/sem_ir/typed_nodes.h
Labels: toolchain

#3346 Allow fields to be reordered in struct initialization.
  toolchain/check/convert.cpp
  toolchain/check/testdata/struct/fail_assign_nested.carbon
  toolchain/check/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/check/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/check/testdata/struct/reorder_fields.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3345 Diagnose attempts to copy a non-copyable type.
  toolchain/check/convert.cpp
  toolchain/check/testdata/basics/builtin_types.carbon
  toolchain/check/testdata/var/fail_not_copyable.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/testdata/class/basic.carbon
Labels: toolchain

#3344 Add partial raw identifier support.
  toolchain/check/testdata/basics/raw_identifier.carbon
  toolchain/lex/testdata/fail_bad_raw_identifier.carbon
  toolchain/lex/testdata/raw_identifier.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3348 Support for `as` expressions.
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/handle_operator.cpp
  toolchain/check/testdata/as/as_type.carbon
  toolchain/check/testdata/as/basic.carbon
  toolchain/check/testdata/as/fail_no_conversion.carbon
  toolchain/check/testdata/as/fail_not_type.carbon
  toolchain/check/testdata/as/identity.carbon
  toolchain/check/testdata/as/tuple.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3349 Take the address of the object when calling an `addr self` method.
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/fail_addr_self.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/testdata/class/method.carbon
Labels: toolchain

#3351 Support for `Self` expressions.
  toolchain/check/BUILD
  toolchain/check/handle_class.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/class/self_type.carbon
Labels: toolchain

#3306 Directly convert from an initializer to a value where possible.
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/testdata/array/function_param.carbon
  toolchain/check/testdata/class/basic.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/check/testdata/class/scope.carbon
  toolchain/check/testdata/class/self_type.carbon
  toolchain/check/testdata/class/static_method.carbon
  toolchain/check/testdata/if_expression/constant_condition.carbon
  toolchain/check/testdata/if_expression/control_flow.carbon
  toolchain/check/testdata/operators/and.carbon
  toolchain/check/testdata/operators/or.carbon
  toolchain/check/testdata/struct/reorder_fields.carbon
  toolchain/check/testdata/while/break_continue.carbon
  toolchain/check/testdata/while/unreachable_end.carbon
  toolchain/check/testdata/while/while.carbon
  toolchain/lower/handle_expression_category.cpp
  toolchain/lower/testdata/array/function_param.carbon
  toolchain/lower/testdata/class/field.carbon
  toolchain/lower/testdata/class/method.carbon
  toolchain/lower/testdata/if_expression/basic.carbon
  toolchain/lower/testdata/operators/and.carbon
  toolchain/lower/testdata/operators/or.carbon
  toolchain/lower/testdata/pointer/basic.carbon
  toolchain/lower/testdata/while/break_continue.carbon
  toolchain/lower/testdata/while/preheader.carbon
  toolchain/lower/testdata/while/unreachable_end.carbon
  toolchain/lower/testdata/while/while.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/node_kind.def
  toolchain/sem_ir/typed_nodes.h
Labels: toolchain
