Repository carbon-language/carbon-lang, pull requests merged in 2023-01, with the labels that each got.

#2462 Explorer: support virtual class methods
  explorer/ast/ast_test_matchers_test.cpp
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/interpreter/value_transform.h
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp
  explorer/testdata/class/fail_virtual_class_function.carbon
  explorer/testdata/class/fail_virtual_method_absent.carbon
  explorer/testdata/class/virtual_method.carbon
  explorer/testdata/class/virtual_method_self.carbon
  explorer/testdata/class/virtual_method_shadowed_attr.carbon
  explorer/testdata/impl/fail_bad_member_kind.carbon
  explorer/testdata/mixin/fail_mix_in_impl.carbon
Labels: explorer

#2493 Basic support for `impl` virtual override keyword
  explorer/ast/ast_test_matchers_test.cpp
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/syntax/parser.ypp
  explorer/testdata/class/fail_abstract_method_not_supported.carbon
  explorer/testdata/class/fail_impl_method_not_existing.carbon
  explorer/testdata/class/fail_impl_method_not_virtual.carbon
  explorer/testdata/class/fail_override_virtual_with_non_virtual.carbon
  explorer/testdata/class/fail_redeclare_virtual_method.carbon
  explorer/testdata/class/virtual_method.carbon
  explorer/testdata/class/virtual_method_self.carbon
  explorer/testdata/class/virtual_method_shadowed_attr.carbon
  explorer/testdata/impl/fail_bad_member_kind.carbon
  explorer/testdata/mixin/fail_mix_in_impl.carbon
Labels: explorer

#2506 Fix missing include in element.h
  explorer/ast/element.h
Labels: explorer

#2504 Introduce helpers to build enum-wrapping classes.
  toolchain/common/BUILD
  toolchain/common/enum_base.h
  toolchain/common/enum_base_test.cpp
  toolchain/common/enum_base_test.def
  toolchain/parser/BUILD
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.cpp
  toolchain/parser/parser_state.h
  toolchain/parser/parser_state_test.cpp
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_builtin_kind.cpp
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.cpp
  toolchain/semantics/semantics_node_kind.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2399 Issue #2121: Support new block string literal syntax in explorer
  common/string_helpers.cpp
  common/string_helpers_test.cpp
  explorer/syntax/lexer.lpp
  explorer/testdata/string/block.carbon
  explorer/testdata/string/block_escaped_triple_quotes.carbon
  explorer/testdata/string/block_file_type_indicator.carbon
  explorer/testdata/string/fail_block_quotes_not_on_own_line.carbon
  explorer/testdata/string/fail_raw_block_more_hash_tags_on_left.carbon
  explorer/testdata/string/fail_raw_block_more_hash_tags_on_right.carbon
  explorer/testdata/string/fail_raw_block_quotes_not_on_own_line.carbon
  explorer/testdata/string/fail_raw_block_single_line.carbon
  explorer/testdata/string/raw_block.carbon
  explorer/testdata/string/raw_block_escaped_back_slash.carbon
  explorer/testdata/string/raw_block_escaped_triple_quotes.carbon
Labels: explorer

#2513 Explorer: drop unused `NominalClassType` constructor
  explorer/interpreter/value.h
Labels: explorer

#2514 Hack `clang-format` config to format our macros better.
  .clang-format
  toolchain/common/enum_base.h
  toolchain/common/enum_base_test.cpp
  toolchain/parser/parser_state.h
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_node_kind.h
Labels: toolchain

#2516 Fix typo in extended final class error message
  explorer/interpreter/type_checker.cpp
  explorer/testdata/class/fail_extends_final_class.carbon
Labels: explorer

#2510 Switch ParseNodeKind to EnumBase
  toolchain/parser/BUILD
  toolchain/parser/parse_node_kind.cpp
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parse_node_kind_test.cpp
  toolchain/parser/parser.cpp
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2505 Refactor the node stack into its own class.
  toolchain/common/index_base.h
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_stack.cpp
  toolchain/semantics/semantics_node_stack.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/basics/verbose.carbon
Labels: toolchain

#2520 Explorer: fix `CleanUpAction` class name case
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/interpreter.cpp
Labels: explorer

#2518 [explorer] clarify warning when declaring arguments for 'Main'
  explorer/interpreter/type_checker.cpp
  explorer/testdata/function/fail_main_with_parameters.carbon
Labels: explorer

#2523 Basic support for `match_first` declarations.
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/ast_rtti.txt
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/type_checker.cpp
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp
  explorer/testdata/impl/fail_ambiguous_impl_match_first.carbon
  explorer/testdata/impl/match_first.carbon
Labels: explorer

#2533 Remove cstdint from enum_base.h
  toolchain/common/enum_base.h
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parser_state.h
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_node_kind.h
Labels: toolchain

#2525 Make built-in conversions visible to `ImplicitAs`.
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/data/prelude.carbon
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/testdata/as/struct_as_class.carbon
  explorer/testdata/class/pointer_conversion.carbon
  explorer/testdata/member_access/convert_lhs_struct.carbon
  explorer/testdata/tuple/to_type.carbon
Labels: explorer

#2517 Switch SemanticsIR dumps to produce YAML
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir_test.cpp
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/testdata/basics/empty.carbon
  toolchain/semantics/testdata/basics/empty_decl.carbon
  toolchain/semantics/testdata/basics/fail_name_lookup.carbon
  toolchain/semantics/testdata/basics/verbose.carbon
  toolchain/semantics/testdata/function/basic.carbon
  toolchain/semantics/testdata/function/order.carbon
  toolchain/semantics/testdata/operators/binary_op.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/literal.carbon
  toolchain/semantics/testdata/return/trivial.carbon
  toolchain/semantics/testdata/var/decl.carbon
  toolchain/semantics/testdata/var/decl_with_init.carbon
  toolchain/semantics/testdata/var/fail_duplicate_decl.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_init_with_self.carbon
  toolchain/semantics/testdata/var/fail_lookup_outside_scope.carbon
  toolchain/semantics/testdata/var/global_decl.carbon
  toolchain/semantics/testdata/var/global_decl_with_init.carbon
  toolchain/semantics/testdata/var/global_lookup.carbon
  toolchain/semantics/testdata/var/global_lookup_in_scope.carbon
  toolchain/semantics/testdata/var/lookup.carbon
Labels: toolchain

#2532 Change DiagnosticKind to use EnumBase
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/check_diagnostics.py
  toolchain/diagnostics/diagnostic_kind.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/diagnostics/diagnostic_kind.h
  toolchain/diagnostics/diagnostic_kind_test.cpp
Labels: toolchain

#2536 Explorer: prevent creating invalid class with missing parent
  explorer/interpreter/interpreter.cpp
Labels: explorer

#2537 Support explicit conversion of tuples.
  explorer/data/prelude.carbon
  explorer/testdata/tuple/convert.carbon
  explorer/testdata/tuple/fail_implicit_convert_with_as.carbon
Labels: explorer

#2539 Rename ToString to mention Operator
  explorer/ast/ast_test_matchers_internal.cpp
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
Labels: explorer

#2542 Fix function parameter parsing past 2 params.
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/function/declaration/params_one.carbon
  toolchain/parser/testdata/function/declaration/params_one_suffix_comma.carbon
  toolchain/parser/testdata/function/declaration/params_six.carbon
  toolchain/parser/testdata/function/declaration/params_two.carbon
  toolchain/parser/testdata/function/declaration/params_two_suffix_comma.carbon
Labels: toolchain

#2547 Explorer: move deallocation to `StepCleanUp`
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/interpreter.cpp
Labels: explorer

#2551 Roadmap for 2023 and retrospective for 2022
  README.md
  docs/project/roadmap.md
  proposals/p2551.md
Labels: proposal, proposal rfc

#2549 Switch SemanticsIR::Print to range-based for loops
  toolchain/semantics/semantics_ir.cpp
Labels: toolchain

#2558 Move TODOs from CARBON_CHECK to SemanticsTODO diagnostics
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/semantics/semantics_node_block_stack.h
  toolchain/semantics/semantics_node_stack.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
Labels: toolchain

#2557 Make function definitions allocate the body more lazily.
  toolchain/semantics/semantics_node_block_stack.cpp
  toolchain/semantics/semantics_node_block_stack.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/basics/fail_name_lookup.carbon
  toolchain/semantics/testdata/function/basic.carbon
  toolchain/semantics/testdata/function/order.carbon
  toolchain/semantics/testdata/function/params_one.carbon
  toolchain/semantics/testdata/function/params_one_comma.carbon
  toolchain/semantics/testdata/function/params_two.carbon
  toolchain/semantics/testdata/function/params_two_comma.carbon
  toolchain/semantics/testdata/operators/binary_op.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/literal.carbon
  toolchain/semantics/testdata/return/trivial.carbon
  toolchain/semantics/testdata/var/decl.carbon
  toolchain/semantics/testdata/var/decl_with_init.carbon
  toolchain/semantics/testdata/var/fail_duplicate_decl.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_init_with_self.carbon
  toolchain/semantics/testdata/var/fail_lookup_outside_scope.carbon
  toolchain/semantics/testdata/var/global_lookup_in_scope.carbon
  toolchain/semantics/testdata/var/lookup.carbon
Labels: toolchain

#2555 Refactor `name` property into `FunctionDeclaration`
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
Labels: explorer

#2565 Clean up a couple non-proposal docs links that had access issues.
  docs/design/classes.md
  toolchain/README.md
Labels: toolchain

#2562 Factor `ValueNodeView` out of `StaticScope`.
  explorer/ast/BUILD
  explorer/ast/README.md
  explorer/ast/declaration.h
  explorer/ast/expression.h
  explorer/ast/pattern.h
  explorer/ast/statement.h
  explorer/ast/static_scope.cpp
  explorer/ast/static_scope.h
  explorer/ast/value_node.h
  explorer/interpreter/element_path.h
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_unformed.h
  explorer/interpreter/type_checker.h
Labels: explorer

#2563 Support parsing namespace declarations
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/ast_rtti.txt
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/ast/static_scope.cpp
  explorer/ast/static_scope.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/interpreter/value_kinds.def
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp
  explorer/testdata/namespace/declare.carbon
  explorer/testdata/namespace/fail_unknown_member.carbon
  explorer/testdata/namespace/fail_use_as_expression.carbon
  explorer/testdata/namespace/fail_use_as_value.carbon
Labels: explorer
