Repository carbon-language/carbon-lang, pull requests merged in 2023-07, with the labels that each got.

#2968 Don't return SemanticsFunction by value.
  toolchain/semantics/semantics_handle_call_expression.cpp
  toolchain/semantics/semantics_handle_statement.cpp
  toolchain/semantics/semantics_ir.h
Labels: toolchain

#2965 doc: update PR workflow for GH merge queues
  docs/project/pull_request_workflow.md
Labels: documentation

#2964 Expression phase terminology
  proposals/p2964.md
Labels: proposal, proposal rfc

#2550 Simplified package declaration for the `Main` package
  docs/design/README.md
  docs/design/code_and_name_organization/README.md
  proposals/p2550.md
Labels: proposal, proposal rfc

#2975 Rename semantics InvalidType to Error
  toolchain/driver/testdata/semantics_builtin_nodes.carbon
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_call_expression.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/testdata/basics/fail_qualifier_unsupported.carbon
  toolchain/semantics/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/semantics/testdata/if/fail_scope.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/fail_type_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_assign_empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_to_empty.carbon
  toolchain/semantics/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_member_access_type.carbon
  toolchain/semantics/testdata/struct/fail_non_member_access.carbon
  toolchain/semantics/testdata/struct/fail_too_few_values.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/fail_value_as_type.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_init_with_self.carbon
  toolchain/semantics/testdata/var/fail_lookup_outside_scope.carbon
  toolchain/semantics/testdata/var/fail_storage_is_literal.carbon
Labels: toolchain

#2976 Finish splitting out semantics_handle.cpp
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_literal.cpp
  toolchain/semantics/semantics_handle_name.cpp
  toolchain/semantics/semantics_handle_named_constraint.cpp
  toolchain/semantics/semantics_handle_noop.cpp
  toolchain/semantics/semantics_handle_operator.cpp
  toolchain/semantics/semantics_handle_parameter_list.cpp
  toolchain/semantics/semantics_handle_paren.cpp
  toolchain/semantics/semantics_handle_pattern_binding.cpp
  toolchain/semantics/semantics_handle_variable.cpp
Labels: toolchain

#2977 Basic support for non-defining declarations of functions.
  toolchain/lowering/testdata/function/declaration/simple.carbon
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/testdata/function/declaration/simple.carbon
Labels: toolchain

#2916 Trace output filtering based on file context
  explorer/README.md
  explorer/common/BUILD
  explorer/common/set_file_context_raii_test.cpp
  explorer/common/source_location.h
  explorer/common/trace_stream.h
  explorer/file_test.cpp
  explorer/interpreter/action.h
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/lit_testdata/trace.carbon
  explorer/lit_testdata/trace_file_filters.carbon
  explorer/main.cpp
  explorer/trace_testdata/full_trace.carbon
Labels: explorer

#2955 Creates object file from the module.
  toolchain/codegen/codegen.cpp
  toolchain/codegen/codegen.h
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/codegen_assembly.carbon
  toolchain/driver/testdata/error_codegen_assembly_target_triple.carbon
  toolchain/driver/testdata/error_codegen_objcode_no_output_file.carbon
  toolchain/driver/testdata/error_codegen_objcode_target_triple.carbon
  toolchain/driver/testdata/success_codegen_objfile.carbon
Labels: explorer, toolchain

#2985 Start node stack push/pop setting IdT based on ParseNodeKind.
  common/enum_base.h
  toolchain/parser/parse_node_kind.h
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle_call_expression.cpp
  toolchain/semantics/semantics_handle_codeblock.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_if_expression.cpp
  toolchain/semantics/semantics_handle_if_statement.cpp
  toolchain/semantics/semantics_handle_name.cpp
  toolchain/semantics/semantics_handle_parameter_list.cpp
  toolchain/semantics/semantics_handle_paren.cpp
  toolchain/semantics/semantics_handle_pattern_binding.cpp
  toolchain/semantics/semantics_handle_statement.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_handle_variable.cpp
  toolchain/semantics/semantics_node_stack.h
Labels: toolchain

#2988 Add a name to glob_lit_tests
  explorer/lit_testdata/BUILD
  testing/lit_test/rules.bzl
  toolchain/driver/testdata/BUILD
Labels: explorer, toolchain

#2987 Finish refactoring Push/Pop for stronger type handling.
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle_call_expression.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_if_expression.cpp
  toolchain/semantics/semantics_handle_if_statement.cpp
  toolchain/semantics/semantics_handle_name.cpp
  toolchain/semantics/semantics_handle_operator.cpp
  toolchain/semantics/semantics_handle_paren.cpp
  toolchain/semantics/semantics_handle_pattern_binding.cpp
  toolchain/semantics/semantics_handle_statement.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_handle_variable.cpp
  toolchain/semantics/semantics_node_stack.h
Labels: toolchain

#2989 Refactor declaration name context logic to its own class.
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser_handle_declaration_name_and_params.cpp
  toolchain/parser/testdata/namespace/fail_incomplete_name.carbon
  toolchain/parser/testdata/namespace/nested.carbon
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_declaration_name_stack.cpp
  toolchain/semantics/semantics_declaration_name_stack.h
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_name.cpp
  toolchain/semantics/semantics_handle_namespace.cpp
  toolchain/semantics/semantics_node_stack.h
  toolchain/semantics/testdata/namespace/fail_unresolved_scope.carbon
Labels: toolchain

#2993 Use lit to provide a temp for driver output files.
  toolchain/driver/testdata/error_codegen_objcode_target_triple.carbon
  toolchain/driver/testdata/success_codegen_objfile.carbon
Labels: toolchain

#2996 Disallow namespaces as class members
  explorer/syntax/parser.ypp
  explorer/testdata/namespace/fail_member_namespace.carbon
Labels: explorer

#2997 Fix crash if no input file is given to `carbon dump objcode`
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/error_codegen_objcode_no_input_file.carbon
Labels: toolchain

#2999 Track the file kind on SourceLocation rather than computing it from the file name.
  explorer/ast/ast_test_matchers_test.cpp
  explorer/ast/element_test.cpp
  explorer/ast/expression_test.cpp
  explorer/ast/pattern_test.cpp
  explorer/common/BUILD
  explorer/common/error_builders_test.cpp
  explorer/common/set_file_context_raii_test.cpp
  explorer/common/source_location.h
  explorer/common/trace_stream.h
  explorer/file_test.cpp
  explorer/fuzzing/ast_to_proto_main.cpp
  explorer/fuzzing/ast_to_proto_test.cpp
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/interpreter.cpp
  explorer/main.cpp
  explorer/parse_and_execute/parse_and_execute.cpp
  explorer/parse_and_execute/parse_and_execute_test.cpp
  explorer/syntax/BUILD
  explorer/syntax/parse.cpp
  explorer/syntax/parse.h
  explorer/syntax/parse_and_lex_context.h
  explorer/syntax/parse_test.cpp
  explorer/syntax/prelude.cpp
  explorer/syntax/unimplemented_example_test.cpp
  explorer/testdata/limits/fail_allocate.carbon
  explorer/testdata/limits/fail_function_recursion.carbon
  explorer/testdata/limits/fail_loop.carbon
  explorer/testdata/limits/fail_type_check_loop.carbon
Labels: explorer

#3002 Consolidate ParseTree onto PrettyStackTraceFunction
  toolchain/parser/BUILD
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parser_context.cpp
  toolchain/parser/parser_context.h
Labels: toolchain

#3001 Reduce special-casing of parameters in ParamOrArgSave.
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_node_stack.h
Labels: toolchain

#2986 Add name resolution information to trace stream
  explorer/ast/BUILD
  explorer/ast/static_scope.cpp
  explorer/ast/static_scope.h
  explorer/interpreter/BUILD
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_names.h
  explorer/trace_testdata/full_trace.carbon
Labels: explorer

#3006 Clean up uncommented SmallVector size parameters.
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/sorting_diagnostic_consumer.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_main.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/parser/parse_tree.h
Labels: toolchain

#2982 Trace stack and memory only when there is change in state
  explorer/interpreter/BUILD
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
  explorer/interpreter/heap.cpp
  explorer/interpreter/heap.h
  explorer/interpreter/interpreter.cpp
  explorer/trace_testdata/full_trace.carbon
Labels: explorer

#3004 Clean up unnecessary Carbon:: uses in the node stack.
  toolchain/semantics/semantics_node_stack.h
Labels: toolchain

#2995 Temporary restriction that `extend base` is first in a class to avoid #2994
  explorer/interpreter/type_checker.cpp
  explorer/testdata/class/fail_extend_after_var.carbon
  explorer/testdata/class/fail_extend_member_class.carbon
Labels: explorer

#3019 Fix missing assignment to me_value found by msan.
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/interpreter/interpreter.cpp
Labels: explorer

#3011 Clean up handling of incomplete line locations.
  toolchain/lexer/testdata/fail_block_string_second_line.carbon
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree_node_location_translator.h
Labels: toolchain

#3020 Move explorer timing matching out of the shared script.
  explorer/autoupdate_trace_testdata.py
  testing/scripts/autoupdate_testdata_base.py
Labels: explorer

#3016 Lowering for tuple
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_function_context.cpp
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/function/call/empty_tuple.carbon
  toolchain/lowering/testdata/struct/nested_struct.carbon
  toolchain/lowering/testdata/tuple/empty.carbon
  toolchain/lowering/testdata/tuple/nested_tuple.carbon
  toolchain/lowering/testdata/tuple/one_entry.carbon
  toolchain/lowering/testdata/tuple/two_entries.carbon
Labels: toolchain

#3023 Use precise line numbers in trace test.
  explorer/autoupdate_trace_testdata.py
  explorer/trace_testdata/full_trace.carbon
Labels: explorer

#3015 Explorer: add trace for unformed variable resolution
  explorer/interpreter/BUILD
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/resolve_unformed.h
  explorer/trace_testdata/full_trace.carbon
Labels: explorer

#3007 treesitter: implement strings completely
  explorer/BUILD
  utils/treesitter/BUILD
  utils/treesitter/grammar.js
  utils/treesitter/queries/highlights.scm
  utils/treesitter/src/scanner.c
  utils/treesitter/test_runner.cpp
  utils/treesitter/testdata/string/block_inside_quotes.carbon
  utils/treesitter/testdata/string/fail_block_not_enough_quotes.carbon
  utils/treesitter/testdata/string/fail_block_single_quote.carbon
  utils/treesitter/testdata/string/fail_block_unclosed_string.carbon
  utils/treesitter/testdata/string/fail_newline.carbon
  utils/treesitter/testdata/string/fail_raw_block_more_hash_tags_on_left.carbon
  utils/treesitter/testdata/string/fail_raw_block_more_hash_tags_on_right.carbon
  utils/treesitter/testdata/string/fail_raw_block_quotes_not_on_own_line.carbon
  utils/treesitter/testdata/string/fail_raw_more_hash_tags_on_left.carbon
  utils/treesitter/testdata/string/fail_raw_more_hash_tags_on_right.carbon
  utils/treesitter/testdata/string/fail_simple_escaped_newline.carbon
  utils/treesitter/testdata/string/fail_unclosed_string.carbon
Labels: explorer

#3025 Fix `class_value_ptr` invariant bug found by fuzzer
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/testdata/linked_list/fuzzed_linked_list.carbon
Labels: explorer

#3030 Introduce flag handling into file_test.
  explorer/BUILD
  explorer/file_test.cpp
  scripts/fix_cc_deps.py
  testing/file_test/BUILD
  testing/file_test/file_test_base.cpp
  testing/file_test/rules.bzl
Labels: explorer

#3032 Change explorer's file_test to support argument passing to main.
  explorer/BUILD
  explorer/common/source_location.h
  explorer/file_test.cpp
  explorer/fuzzing/ast_to_proto_main.cpp
  explorer/fuzzing/ast_to_proto_test.cpp
  explorer/fuzzing/fuzzer_util.cpp
  explorer/main.cpp
  explorer/main.h
  explorer/parse_and_execute/parse_and_execute.cpp
  explorer/parse_and_execute/parse_and_execute.h
  explorer/parse_and_execute/parse_and_execute_test.cpp
  explorer/syntax/BUILD
  explorer/syntax/parse.cpp
  explorer/syntax/parse.h
  explorer/syntax/prelude.cpp
  explorer/syntax/prelude.h
  explorer/trace_testdata/full_trace.carbon
  toolchain/driver/driver_file_test_base.h
Labels: explorer, toolchain

#3033 Parser for index expression such as a[0]
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser_handle_expression.cpp
  toolchain/parser/parser_handle_index_expression.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/index/assign_to_var.carbon
  toolchain/parser/testdata/index/fail_empty_expr.carbon
  toolchain/semantics/semantics_handle_index.cpp
Labels: toolchain
