Repository carbon-language/carbon-lang, pull requests merged in 2023-04, with the labels that each got.

#2726 Improve parsing of invalid expressions.
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/if/fail_errors.carbon
  toolchain/parser/testdata/operators/fail_invalid_infix.carbon
  toolchain/parser/testdata/return/fail_no_semi.carbon
  toolchain/parser/testdata/struct/fail_missing_type.carbon
  toolchain/parser/testdata/struct/fail_missing_value.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2735 Explorer: Fuzzer issue around divide-by-zero
  explorer/interpreter/interpreter.cpp
  explorer/testdata/operators/fail_div_by_zero.carbon
  explorer/testdata/operators/fail_mod_by_zero.carbon
Labels: explorer

#2660 Change InstantiateType to be an Action
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/interpreter.cpp
Labels: explorer

#2744 Explorer: rename value categories to expression categories
  explorer/ast/BUILD
  explorer/ast/declaration.h
  explorer/ast/element_test.cpp
  explorer/ast/expression.h
  explorer/ast/expression_category.h
  explorer/ast/impl_binding.h
  explorer/ast/pattern.h
  explorer/ast/statement.h
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/ast/value_category.h
  explorer/ast/value_kinds.def
  explorer/ast/value_node.h
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/syntax/BUILD
  explorer/syntax/parser.ypp
  explorer/testdata/addr/fail_method_let.carbon
  explorer/testdata/basic_syntax/fail_assign_to_function.carbon
  explorer/testdata/basic_syntax/fail_assign_to_rval.carbon
  explorer/testdata/let/fail_function_args.carbon
  explorer/testdata/let/fail_global_assign.carbon
  explorer/testdata/let/fail_local_assign.carbon
  explorer/testdata/let/fail_match_choice.carbon
  explorer/testdata/let/fail_method_args.carbon
  explorer/testdata/let/fail_tuple_pattern_let_context.carbon
  explorer/testdata/pointer/fail_rvalue_addressof.carbon
Labels: explorer

#2746 Explorer: fix assignment error typo
  explorer/interpreter/type_checker.cpp
  explorer/testdata/basic_syntax/fail_assign_to_function.carbon
  explorer/testdata/basic_syntax/fail_assign_to_rval.carbon
  explorer/testdata/let/fail_function_args.carbon
  explorer/testdata/let/fail_global_assign.carbon
  explorer/testdata/let/fail_local_assign.carbon
  explorer/testdata/let/fail_match_choice.carbon
  explorer/testdata/let/fail_method_args.carbon
  explorer/testdata/let/fail_tuple_pattern_let_context.carbon
Labels: explorer

#2741 Explorer: Fuzzer issue around infinite recursion
  explorer/interpreter/action_stack.h
  explorer/interpreter/interpreter.cpp
  explorer/testdata/function/fail_recursion_stackoverflow.carbon
Labels: explorer

#2737 Explorer: Fuzzer issue around integer overflow
  explorer/interpreter/interpreter.cpp
  explorer/testdata/operators/fail_overflow_add.carbon
  explorer/testdata/operators/fail_overflow_div.carbon
  explorer/testdata/operators/fail_overflow_multiply.carbon
  explorer/testdata/operators/fail_overflow_sub.carbon
Labels: explorer

#2748 Explorer: Report compiletime error when global variable type is abstract
  explorer/interpreter/type_checker.cpp
  explorer/testdata/global_variable/fail_instantiate_global_abstract.carbon
Labels: explorer

#2750 Explorer: Move Concrete type check for Variable Definition to the type checker
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/testdata/class/fail_instantiate_abstract_class_constructor.carbon
  explorer/testdata/class/fail_instantiate_abstract_class_empty.carbon
  explorer/testdata/class/fail_instantiate_abstract_class_struct.carbon
Labels: explorer

#2687 Termination algorithm for impl selection
  proposals/p2687.md
Labels: proposal, proposal rfc

#2754 fix: incorrect index in TypeEqual for ConstraintType
  explorer/ast/value.cpp
  explorer/testdata/constraint/where_multiple_equality.carbon
Labels: explorer

#2752 fix: set StaticScope::NameStatus correctly for Associated Constants
  explorer/interpreter/resolve_names.cpp
  explorer/testdata/interface/fail_use_assoc_const_before_decl.carbon
  explorer/testdata/interface/fail_use_assoc_const_in_defn.carbon
Labels: explorer

#2751 fix: incorrect loop in builtins_indexes
  explorer/interpreter/builtins.cpp
  explorer/testdata/interface/interface_name_invalid.carbon
Labels: explorer

#2755 Fix handling of invalid struct entries
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/struct/fail_mix_with_unknown.carbon
Labels: toolchain

#2758 Fix handling of struct conversions in deduction
  explorer/interpreter/type_checker.cpp
  explorer/testdata/impl/struct.carbon
Labels: explorer

#2757 Validate that the argument to __mix is a mixin.
  explorer/interpreter/type_checker.cpp
  explorer/testdata/mixin/fail_mix_invalid.carbon
Labels: explorer

#2763 Fix poor dyn_cast usage
  explorer/ast/element.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
Labels: explorer

#2764 Detect duplicate struct member names
  explorer/interpreter/resolve_names.cpp
  explorer/testdata/struct/fail_struct_literal_duplicate_member.carbon
  explorer/testdata/struct/fail_struct_type_literal_duplicate_member.carbon
Labels: explorer

#2756 Switch bison variables to $[...]
  explorer/syntax/parser.ypp
Labels: explorer

#2767 Add some validation of `as` intrinsics.
  explorer/testdata/as/fail_intrinsic_convert_no_args.carbon
  explorer/testdata/as/fail_intrinsic_convert_non_type.carbon
  explorer/testdata/as/fail_intrinsic_no_args.carbon
  explorer/testdata/as/fail_intrinsic_non_type.carbon
  explorer/testdata/as/intrinsic_convert_non_value.carbon
Labels: explorer

#2768 Change handling of invalid patterns to produce a valid parse tree.
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parser/testdata/function/declaration/fail_missing_deduced_close.carbon
  toolchain/parser/testdata/function/declaration/fail_with_identifier_as_param.carbon
  toolchain/parser/testdata/generics/interface/fail_self_param_syntax.carbon
  toolchain/parser/testdata/if/fail_errors.carbon
  toolchain/parser/testdata/operators/fail_invalid_infix.carbon
  toolchain/parser/testdata/return/fail_no_semi.carbon
  toolchain/parser/testdata/struct/fail_missing_type.carbon
  toolchain/parser/testdata/struct/fail_missing_value.carbon
  toolchain/parser/testdata/var/fail_bad_name.carbon
  toolchain/parser/testdata/var/fail_empty.carbon
  toolchain/parser/testdata/var/var.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2774 clang-tidy cleanup
  explorer/ast/clone_context.cpp
  explorer/ast/declaration.cpp
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/type_checker.cpp
Labels: explorer

#2765 Add validation of Print format strings
  explorer/interpreter/interpreter.cpp
  explorer/testdata/print/escaped_brace.carbon
  explorer/testdata/print/fail_index_bounds0.carbon
  explorer/testdata/print/fail_index_bounds1.carbon
  explorer/testdata/print/fail_index_empty.carbon
  explorer/testdata/print/fail_index_incomplete.carbon
  explorer/testdata/print/fail_index_limit.carbon
  explorer/testdata/print/fail_index_negative.carbon
  explorer/testdata/print/fail_index_text.carbon
  explorer/testdata/print/fail_intrinsic_int_format.carbon
  explorer/testdata/print/fail_intrinsic_no_args.carbon
  explorer/testdata/print/fail_intrinsic_too_many_args.carbon
  explorer/testdata/print/fail_intrinsic_type.carbon
  explorer/testdata/print/fail_single_brace.carbon
  explorer/testdata/print/long_index.carbon
Labels: explorer

#2720 feat: implement namespace alias
  explorer/ast/declaration.h
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/type_checker.cpp
  explorer/testdata/alias/fail_namespace_alias_member.carbon
  explorer/testdata/alias/fail_wrong_fn_alias_use.carbon
  explorer/testdata/alias/fail_wrong_fn_alias_use_expr.carbon
  explorer/testdata/alias/fail_wrong_interface_alias_use.carbon
  explorer/testdata/alias/fail_wrong_namepsace_alias_use.carbon
  explorer/testdata/alias/namespace_alias.carbon
  explorer/testdata/alias/namespace_alias_recursive.carbon
Labels: explorer

#2780 Stop printing per-input results in fuzzer
  explorer/fuzzing/explorer_fuzzer.cpp
Labels: explorer

#2776 Remove experimental continuation support
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/README.md
  explorer/ast/ast_kinds.h
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/ast/statement.cpp
  explorer/ast/statement.h
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/ast/value_kinds.def
  explorer/ast/value_transform.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/fuzzing/fuzzer_corpus/37fcecce96eb5c913f090b2f1f588e3b82c9d1be
  explorer/fuzzing/fuzzer_corpus/5947862acd3e020041dcd43ca86f05438a6ab930
  explorer/fuzzing/fuzzer_corpus/63378befc2730b6eeca04e21fc914fce5442844b
  explorer/fuzzing/fuzzer_corpus/879519ec3f915d5bec166b7c1adbea9be016060b
  explorer/fuzzing/fuzzer_corpus/91362973dc5b0ed1e93d5f4e8e1e0b21ed98c3e9
  explorer/fuzzing/fuzzer_corpus/96a504c8350c3d69aef1eb3c63f43f73acc6a899
  explorer/fuzzing/fuzzer_corpus/96f494f4264c4c5ff5f351423d60ab98f6a6b12b
  explorer/fuzzing/fuzzer_corpus/bbabf13bb9fd0c2a5c1b23eaaf572dce295176a8
  explorer/fuzzing/fuzzer_corpus/e347085328903bbd4f362337d32f45315dc3bf18
  explorer/fuzzing/fuzzer_corpus/e38f21d3adb5fb5eb8138b5175401a9ccfe1163d
  explorer/fuzzing/fuzzer_corpus/eb9859dd8a2ab2a66b93655aeb5f01090a55978d
  explorer/interpreter/BUILD
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/stack_fragment.cpp
  explorer/interpreter/stack_fragment.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_structure.cpp
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp
  explorer/testdata/experimental_continuation/await_maintains_scope.carbon
  explorer/testdata/experimental_continuation/convert_run.carbon
  explorer/testdata/experimental_continuation/creation_is_noop.carbon
  explorer/testdata/experimental_continuation/fail_auto_return_await.carbon
  explorer/testdata/experimental_continuation/fail_continuation_syntax.carbon
  explorer/testdata/experimental_continuation/fail_lifetime.carbon
  explorer/testdata/experimental_continuation/fail_recursive_continuation.carbon
  explorer/testdata/experimental_continuation/fail_return_in_continuation.carbon
  explorer/testdata/experimental_continuation/recursive.carbon
  explorer/testdata/experimental_continuation/run.carbon
  explorer/testdata/experimental_continuation/run_with_await.carbon
  explorer/testdata/experimental_continuation/shallow_copy.carbon
Labels: explorer

#2784 Suppress Print intrinsic output in the fuzzer.
  explorer/fuzzing/fuzzer_util.cpp
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/exec_program.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/interpreter.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/main.cpp
Labels: explorer

#2787 Fix BindingPattern type check handling (#2777)
  explorer/interpreter/type_checker.cpp
  explorer/testdata/tuple/fail_length_mismatch_with_auto.carbon
  explorer/testdata/tuple/fail_unexpected_tuple.carbon
Labels: explorer

#2773 fix incorrect condition in InSameMatchFirst
  explorer/interpreter/impl_scope.cpp
Labels: explorer

#2786 fix printing for single element tuple values
  explorer/ast/value.cpp
  explorer/testdata/basic_syntax/fail_alternative_not_type.carbon
  explorer/testdata/impl_match/fail_tuple_recurse.carbon
  explorer/testdata/interface/fail_impl_bad_member.carbon
  explorer/testdata/tuple/fail_equality_type.carbon
Labels: explorer

#2793 Start checking for a few possible resource exhaustion scenarios for explorer
  explorer/common/arena.h
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/stack.h
  explorer/testdata/limits/README.md
  explorer/testdata/limits/fail_allocate.carbon
  explorer/testdata/limits/fail_function_recursion.carbon
  explorer/testdata/limits/fail_loop.carbon
  explorer/testdata/limits/fail_type_check_loop.carbon
Labels: explorer

#2792 [explorer] fix assert when aliasing interface as member
  explorer/interpreter/type_checker.cpp
  explorer/testdata/alias/interface_method_as_class_member.carbon
Labels: explorer

#2796 fix alias resolved_declaration error
  explorer/interpreter/resolve_names.cpp
  explorer/testdata/alias/alias_in_class.carbon
Labels: explorer

#2759 Defining the 0.1 language
  docs/project/milestones.md
  proposals/p2759.md
Labels: proposal, proposal rfc

#2801 Fix lit_autoupdate for explorer
  bazel/testing/lit_autoupdate_base.py
  explorer/testdata/alias/fail_interface_method_as_class_member.carbon
Labels: explorer

#2804 Make stringification non-recursive.
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
Labels: toolchain

#2806 Collapse StringifyNodeImpl
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
Labels: toolchain
