Repository carbon-language/carbon-lang, pull requests merged in 2023-06, with the labels that each got.

#2858 Rename semantics to semantics_ir
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_call_expression.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_ir.cpp
Labels: toolchain

#2861 Switch nodes to a map, and relabel as locals.
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_handle.cpp
Labels: toolchain

#2868 Allow overlap with a `final impl` if identical
  docs/design/generics/details.md
  proposals/p2868.md
Labels: proposal, proposal rfc

#2874 Fixed a clang-tidy warning in source_location.h
  explorer/common/source_location.h
Labels: explorer

#2876 Add support for splitting a test file.
  explorer/file_test.cpp
  testing/file_test/BUILD
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/testdata/example.carbon
  testing/file_test/testdata/fail_example.carbon
  testing/file_test/testdata/two_files.carbon
  toolchain/lexer/lexer_file_test.cpp
  toolchain/lowering/lowering_file_test.cpp
  toolchain/parser/parse_tree_file_test.cpp
  toolchain/semantics/semantics_file_test.cpp
Labels: explorer, toolchain

#2872 explorer/README.md: update test documentation
  explorer/README.md
  testing/file_test/file_test_base.h
  testing/scripts/autoupdate_testdata_base.py
Labels: explorer, documentation

#2879 Fix false positive in potential cycle detection.
  explorer/interpreter/matching_impl_set.cpp
  explorer/interpreter/matching_impl_set.h
  explorer/testdata/impl_match/non_overlapping_labels.carbon
Labels: explorer

#2851 Improved trace output selection using program phase filtering
  explorer/README.md
  explorer/common/trace_stream.h
  explorer/file_test.cpp
  explorer/interpreter/BUILD
  explorer/interpreter/exec_program.cpp
  explorer/lit_testdata/trace.carbon
  explorer/main.cpp
  explorer/parse_and_execute/parse_and_execute.cpp
  testing/lit_test/lit.cfg.py
Labels: explorer

#2884 Refactor toolchain tests so that driver API changes affect fewer files.
  explorer/file_test.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver_file_test_base.h
  toolchain/lexer/BUILD
  toolchain/lexer/lexer_file_test.cpp
  toolchain/lowering/BUILD
  toolchain/lowering/lowering_file_test.cpp
  toolchain/parser/BUILD
  toolchain/parser/parse_tree_file_test.cpp
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_file_test.cpp
Labels: explorer, toolchain

#2885 Switch FileTest to use StringRefs instead of files.
  explorer/file_test.cpp
  explorer/fuzzing/fuzzer_util.cpp
  explorer/parse_and_execute/parse_and_execute.cpp
  explorer/parse_and_execute/parse_and_execute.h
  explorer/parse_and_execute/parse_and_execute_test.cpp
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  toolchain/driver/driver_file_test_base.h
  toolchain/lexer/lexer_file_test.cpp
  toolchain/lowering/lowering_file_test.cpp
  toolchain/parser/parse_tree_file_test.cpp
  toolchain/semantics/semantics_file_test.cpp
Labels: explorer, toolchain

#2878 Bring constraints into scope when a generic calls a template.
  explorer/ast/pattern.h
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/interpreter/type_checker.cpp
  explorer/testdata/template/instantiate_from_generic.carbon
Labels: explorer

#2883 Parsing support for `if` expressions.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser_context.cpp
  toolchain/parser/parser_handle_expression.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/precedence.cpp
  toolchain/parser/testdata/if_expression/basic.carbon
  toolchain/parser/testdata/if_expression/fail_condition_missing.carbon
  toolchain/parser/testdata/if_expression/fail_else_expr_missing.carbon
  toolchain/parser/testdata/if_expression/fail_else_missing.carbon
  toolchain/parser/testdata/if_expression/fail_then_expr_missing.carbon
  toolchain/parser/testdata/if_expression/fail_then_missing.carbon
  toolchain/parser/testdata/if_expression/fail_top_level_if.carbon
  toolchain/parser/testdata/if_expression/precedence.carbon
  toolchain/parser/testdata/operators/precedence_not.carbon
  toolchain/parser/testdata/operators/recover_postfix_space_surrounding.carbon
  toolchain/parser/testdata/operators/recover_prefix_space.carbon
  toolchain/semantics/semantics_handle.cpp
Labels: toolchain

#2888 Add vfs support to toolchain.
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_file_test_base.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_main.cpp
  toolchain/driver/driver_test.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer_fuzzer.cpp
  toolchain/lexer/tokenized_buffer_test.cpp
  toolchain/parser/parse_tree_fuzzer.cpp
  toolchain/parser/parse_tree_test.cpp
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_ir_test.cpp
  toolchain/source/BUILD
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer.h
  toolchain/source/source_buffer_test.cpp
Labels: toolchain

#2889 Switch SemanticsIRTest to just use the driver.
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_ir_test.cpp
Labels: toolchain

#2886 Implemented RAII Type to set current program phase
  explorer/common/BUILD
  explorer/common/set_program_phase_raii_test.cpp
  explorer/common/trace_stream.h
  explorer/interpreter/exec_program.cpp
  explorer/parse_and_execute/parse_and_execute.cpp
Labels: explorer

#2890 Migrate //common test libraries to //testing/util.
  common/BUILD
  common/fuzzing/BUILD
  explorer/ast/BUILD
  explorer/common/BUILD
  explorer/fuzzing/BUILD
  explorer/parse_and_execute/BUILD
  explorer/syntax/BUILD
  migrate_cpp/BUILD
  migrate_cpp/cpp_refactoring/BUILD
  testing/util/BUILD
  testing/util/gtest_main.cpp
  testing/util/test_raw_ostream.h
  testing/util/test_raw_ostream_test.cpp
  toolchain/diagnostics/BUILD
  toolchain/driver/BUILD
  toolchain/driver/driver_test.cpp
  toolchain/lexer/BUILD
  toolchain/parser/BUILD
  toolchain/semantics/BUILD
  toolchain/source/BUILD
Labels: explorer, toolchain

#2896 `true` and `false` support, and lowering for `bool` type.
  toolchain/lexer/token_kind.def
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/basics/false_true.carbon
  toolchain/parser/parser_handle_expression.cpp
  toolchain/parser/testdata/if_expression/fail_else_expr_missing.carbon
  toolchain/parser/testdata/if_expression/fail_else_missing.carbon
  toolchain/parser/testdata/if_expression/fail_then_expr_missing.carbon
  toolchain/parser/testdata/if_expression/fail_then_missing.carbon
  toolchain/parser/testdata/if_expression/fail_top_level_if.carbon
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/testdata/if_expression/constant_condition.carbon
Labels: toolchain

#2898 Fix a BUILD file after #2890.
  explorer/common/BUILD
Labels: explorer

#2891 Migrate compatible uses to TestRawOstream.
  common/BUILD
  common/enum_base_test.cpp
  common/error_test.cpp
  common/vlog_test.cpp
  explorer/BUILD
  explorer/common/BUILD
  explorer/common/error_builders_test.cpp
  explorer/file_test.cpp
  explorer/fuzzing/BUILD
  explorer/fuzzing/ast_to_proto_test.cpp
  testing/file_test/BUILD
  testing/file_test/file_test_base.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver_fuzzer.cpp
  toolchain/lexer/BUILD
  toolchain/lexer/tokenized_buffer_test.cpp
  toolchain/parser/BUILD
  toolchain/parser/parse_tree_test.cpp
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_ir_test.cpp
Labels: explorer, toolchain

#2892 Migrate some lexer tests to file tests.
  toolchain/driver/driver_test.cpp
  toolchain/lexer/testdata/basic_syntax.carbon
  toolchain/lexer/testdata/printing_digit_padding.carbon
  toolchain/lexer/testdata/printing_integer_literal.carbon
  toolchain/lexer/testdata/printing_real_literal.carbon
  toolchain/lexer/testdata/printing_token.carbon
  toolchain/lexer/tokenized_buffer_test.cpp
Labels: explorer, toolchain

#2897 Parsing, semantic analysis, and lowering for `and`, `or`, `not`.
  toolchain/lexer/token_kind.cpp
  toolchain/lexer/token_kind.def
  toolchain/lexer/token_kind.h
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/operators/not.carbon
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
  toolchain/parser/parser_handle_expression.cpp
  toolchain/parser/testdata/if_expression/precedence.carbon
  toolchain/parser/testdata/operators/associative.carbon
  toolchain/parser/testdata/operators/fail_precedence_and_or.carbon
  toolchain/parser/testdata/operators/fail_precedence_or_and.carbon
  toolchain/parser/testdata/operators/precedence_not.carbon
  toolchain/parser/testdata/operators/prefix.carbon
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_if_expression.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_block_stack.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/testdata/operators/and.carbon
  toolchain/semantics/testdata/operators/or.carbon
  toolchain/semantics/testdata/operators/unary_op.carbon
Labels: toolchain

#2900 Semantics handling for grouping parentheses.
  toolchain/parser/testdata/basics/parens.carbon
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/testdata/basics/parens.carbon
Labels: toolchain

#2901 Split out a per-function lowering context from `LoweringContext`.
  toolchain/lowering/BUILD
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_function_context.cpp
  toolchain/lowering/lowering_function_context.h
  toolchain/lowering/lowering_handle.cpp
Labels: toolchain

#2760 Consistent `class` and `interface` syntax
  docs/design/lexical_conventions/words.md
  proposals/p2760.md
Labels: proposal, proposal rfc

#2903 Disallow calling Print() at compile time
  explorer/interpreter/interpreter.cpp
  explorer/testdata/print/fail_call_at_compile_time.carbon
Labels: explorer

#2905 Explorer: readme: clarify fuzzer debugging
  explorer/fuzzing/README.md
Labels: explorer

#2910 Fix merge conflict between #2906 and #2881
  explorer/testdata/class/conversion.carbon
Labels: explorer

#2911 Fix missing forward_list include
  toolchain/lexer/tokenized_buffer_test.cpp
Labels: toolchain

#1964 Character Literals (#1934)
  proposals/p1964.md
Labels: proposal, proposal rfc

#2904 Lowering of `Branch` / `BranchIf` / `BranchWithArg` / `BlockArg`.
  toolchain/lowering/BUILD
  toolchain/lowering/lowering_block_worklist.h
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_function_context.cpp
  toolchain/lowering/lowering_function_context.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/basics/false_true.carbon
  toolchain/lowering/testdata/basics/zero.carbon
  toolchain/lowering/testdata/function/call/empty_struct.carbon
  toolchain/lowering/testdata/function/call/i32.carbon
  toolchain/lowering/testdata/function/call/params_one.carbon
  toolchain/lowering/testdata/function/call/params_one_comma.carbon
  toolchain/lowering/testdata/function/call/params_two.carbon
  toolchain/lowering/testdata/function/call/params_two_comma.carbon
  toolchain/lowering/testdata/function/call/params_zero.carbon
  toolchain/lowering/testdata/function/call/var_param.carbon
  toolchain/lowering/testdata/function/definition/empty_struct.carbon
  toolchain/lowering/testdata/function/definition/params_one.carbon
  toolchain/lowering/testdata/function/definition/params_two.carbon
  toolchain/lowering/testdata/function/definition/params_zero.carbon
  toolchain/lowering/testdata/if_expression/basic.carbon
  toolchain/lowering/testdata/if_expression/empty_block.carbon
  toolchain/lowering/testdata/operators/and.carbon
  toolchain/lowering/testdata/operators/and_empty_block.carbon
  toolchain/lowering/testdata/operators/not.carbon
  toolchain/lowering/testdata/operators/or.carbon
  toolchain/lowering/testdata/operators/or_empty_block.carbon
  toolchain/lowering/testdata/return/no_value.carbon
  toolchain/lowering/testdata/return/value.carbon
  toolchain/lowering/testdata/return/var.carbon
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/lowering/testdata/struct/member_access.carbon
  toolchain/lowering/testdata/struct/one_entry.carbon
  toolchain/lowering/testdata/struct/two_entries.carbon
  toolchain/lowering/testdata/var/local.carbon
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_if_expression.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/testdata/if_expression/basic.carbon
  toolchain/semantics/testdata/if_expression/constant_condition.carbon
  toolchain/semantics/testdata/if_expression/control_flow.carbon
  toolchain/semantics/testdata/if_expression/nested.carbon
  toolchain/semantics/testdata/operators/and.carbon
  toolchain/semantics/testdata/operators/or.carbon
Labels: toolchain

#2913 Clean up lit tests and config to reflect current uses.
  explorer/autoupdate_lit_testdata.py
  explorer/lit_testdata/fail_compile_error.carbon
  explorer/lit_testdata/hello.carbon
  explorer/lit_testdata/trace.carbon
  explorer/lit_testdata/zero.carbon
  testing/lit_test/lit.cfg.py
  testing/scripts/autoupdate_testdata_base.py
  toolchain/driver/testdata/errors_sorted_test.carbon
Labels: explorer, toolchain

#2920 Semantics IR building for `if` statements.
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/if/else.carbon
  toolchain/lowering/testdata/if/no_else.carbon
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_codeblock.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_if.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/testdata/if/else.carbon
  toolchain/semantics/testdata/if/fail_scope.carbon
  toolchain/semantics/testdata/if/no_else.carbon
Labels: toolchain

#2921 Toolchain: update keywords to reflect #2760
  toolchain/lexer/token_kind.def
Labels: toolchain

#2925 README.md: Add links to C++Now 2023 talks slides
  README.md
Labels: documentation

#2930 Fix a fuzzer-found crash.
  explorer/interpreter/type_checker.cpp
  explorer/testdata/mixin/fail_mix_as_alias_target.carbon
Labels: explorer

#2937 Switched from raw_ostream to pwrite_stream in the driver.cpp
  explorer/file_test.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/util/BUILD
  testing/util/test_raw_ostream.h
  toolchain/driver/driver.h
  toolchain/driver/driver_file_test_base.h
  toolchain/driver/driver_fuzzer.cpp
Labels: toolchain

#2944 Codegen: Given a carbon file prints the assembly to the stdout
  toolchain/codegen/BUILD
  toolchain/codegen/codegen.cpp
  toolchain/codegen/codegen.h
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/codegen.carbon
  toolchain/driver/testdata/error_codegen_target_triple.carbon
Labels: toolchain

#2933 CI: run tests for GitHub merge groups
  .github/workflows/tests.yaml
Labels: infrastructure

#2948 Flatten two terminator kind macros into one.
  toolchain/semantics/semantics_node_kind.cpp
  toolchain/semantics/semantics_node_kind.def
Labels: toolchain

#2931 Set class static type before base class lookup
  explorer/interpreter/type_checker.cpp
  explorer/testdata/class/fail_circular_inheritance.carbon
Labels: explorer

#2949 Split statement-specific parts of `semantics_handle.cpp` into separate files.
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_if_statement.cpp
  toolchain/semantics/semantics_handle_loop_statement.cpp
  toolchain/semantics/semantics_handle_statement.cpp
Labels: toolchain

#2922 Introduce a new Conduct team
  CODE_OF_CONDUCT.md
  docs/project/teams/conduct_team.md
  proposals/p2922.md
Labels: proposal, proposal rfc

#2935 Explorer: Include `self` pattern in method type
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_structure.cpp
  explorer/testdata/class/bound_method_compound_member_access.carbon
  explorer/testdata/interface/fail_impl_adds_self.carbon
  explorer/testdata/interface/fail_impl_bad_member.carbon
  explorer/testdata/interface/fail_impl_mismatch_self.carbon
  explorer/testdata/interface/fail_impl_missing_self.carbon
  explorer/testdata/member_access/fail_qualified_non_member.carbon
Labels: explorer

#2934 Check explorer's full trace output
  explorer/BUILD
  explorer/autoupdate_trace_testdata.py
  explorer/file_test.cpp
  explorer/trace_testdata/full_trace.carbon
  testing/scripts/autoupdate_testdata_base.py
Labels: explorer

#2956 Require a complete type when enumerating the fields of a class.
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/testdata/class/fail_incomplete_in_conversion.carbon
Labels: explorer

#2952 LLVM should be included using quotes.
  explorer/ast/BUILD
  explorer/ast/expression_category.h
  explorer/interpreter/interpreter.cpp
Labels: explorer

#2957 Error evaluating symbolic tuple
  explorer/interpreter/interpreter.cpp
  explorer/testdata/impl/fail_impl_as_symbolic.carbon
  explorer/testdata/impl/fail_impl_symbolic_as.carbon
Labels: explorer

#2959 GitHub merge queue test commit
  explorer/testdata/var/local/destroyed.carbon
Labels: explorer

#2961 Update toolchain keyword list to match design.
  toolchain/lexer/testdata/keywords.carbon
  toolchain/lexer/token_kind.def
  toolchain/parser/parser_handle_expression.cpp
  toolchain/parser/precedence.cpp
  toolchain/parser/precedence_test.cpp
  toolchain/parser/testdata/operators/fixity_in_var.carbon
  toolchain/parser/testdata/operators/postfix.carbon
  toolchain/parser/testdata/operators/postfix_space_after_op.carbon
  toolchain/parser/testdata/operators/recover_postfix_space.carbon
  toolchain/parser/testdata/operators/recover_postfix_space_surrounding.carbon
Labels: toolchain

#2962 Add -trace_phase option that takes list of allowed phases
  explorer/README.md
  explorer/autoupdate_trace_testdata.py
  explorer/lit_testdata/trace.carbon
  explorer/main.cpp
Labels: explorer

#2963 Comma seperated selection of allowed phases for trace
  explorer/lit_testdata/trace.carbon
  explorer/main.cpp
Labels: explorer
