Repository carbon-language/carbon-lang, pull requests merged in 2023-03, with the labels that each got.

#2642 Shard the explorer fuzzer test
  bazel/fuzzing/rules.bzl
  explorer/fuzzing/BUILD
Labels: explorer

#2621 Clean up clang-tidy issues in explorer.
  .clang-tidy
  explorer/ast/declaration.cpp
  explorer/fuzzing/ast_to_proto.cpp
  explorer/fuzzing/ast_to_proto_test.cpp
  explorer/fuzzing/proto_to_carbon_test.cpp
  explorer/interpreter/matching_impl_set.cpp
  explorer/interpreter/matching_impl_set.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.h
  explorer/interpreter/value_transform.h
Labels: explorer

#2647 Remove ExpectType and some calls to IsImplicitlyConvertible.
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/testdata/array/fail_size_mismatch.carbon
  explorer/testdata/assert/fail_convert.carbon
  explorer/testdata/class/fail_direct_base_class_init.carbon
  explorer/testdata/class/fail_field_mismatch.carbon
  explorer/testdata/class/fail_field_missing.carbon
  explorer/testdata/class/fail_invalid_subtyping.carbon
  explorer/testdata/for/fail_convert.carbon
  explorer/testdata/generic_class/fail_point_equal.carbon
  explorer/testdata/pointer/fail_invalid_ptr_conversion1.carbon
  explorer/testdata/pointer/fail_invalid_ptr_conversion2.carbon
  explorer/testdata/pointer/pointer_to_type_like.carbon
  explorer/testdata/pointer/tuple_pointer.carbon
  explorer/testdata/tuple/fail_implicit_convert_with_as.carbon
  explorer/testdata/tuple/fail_to_array.carbon
Labels: explorer

#2645 Replace ParseContext with an examination of state_stack_.
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
Labels: toolchain

#2650 Do a cleanup of the x-macro enum comments.
  toolchain/lexer/token_kind.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser_state.def
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_node_kind.def
Labels: toolchain

#2658 Decouple `Value` from interpreter-specific representation of continuations.
  explorer/interpreter/BUILD
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/stack_fragment.cpp
  explorer/interpreter/stack_fragment.h
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/interpreter/value_transform.h
Labels: explorer

#2659 Move `Value`, `Address`, and `ElementPath` to ast/.
  explorer/ast/BUILD
  explorer/ast/address.h
  explorer/ast/element_path.h
  explorer/ast/element_test.cpp
  explorer/ast/expression.cpp
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/ast/value_kinds.def
  explorer/ast/value_transform.h
  explorer/interpreter/BUILD
  explorer/interpreter/README.md
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.h
  explorer/interpreter/builtins.h
  explorer/interpreter/heap.cpp
  explorer/interpreter/heap.h
  explorer/interpreter/heap_allocation_interface.h
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/impl_scope.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/interpreter.h
  explorer/interpreter/matching_impl_set.cpp
  explorer/interpreter/matching_impl_set.h
  explorer/interpreter/pattern_analysis.h
  explorer/interpreter/stack_fragment.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
Labels: explorer

#2643 Add lowering for parameters and void returns.
  toolchain/lowering/lowering.cpp
  toolchain/lowering/lowering.h
  toolchain/lowering/testdata/function/definition/params_one.carbon
  toolchain/lowering/testdata/function/definition/params_two.carbon
  toolchain/lowering/testdata/function/definition/params_zero.carbon
  toolchain/lowering/testdata/return/no_value.carbon
  toolchain/lowering/testdata/return/value.carbon
Labels: toolchain

#2626 Fix handling of choice types with a mixture of alternatives with parameters and alternatives without parameters in pattern analysis.
  explorer/data/prelude.carbon
  explorer/interpreter/pattern_analysis.cpp
  explorer/interpreter/type_checker.cpp
  explorer/testdata/choice/mixed_arity.carbon
Labels: explorer

#2661 Replace the map of lowered nodes with an array.
  toolchain/lowering/lowering.cpp
  toolchain/lowering/lowering.h
  toolchain/semantics/semantics_ir.h
Labels: toolchain

#2666 Reorganize `interface` parsing so that it's shared with `class` and `constraint`
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/class/basic.carbon
  toolchain/parser/testdata/function/declaration/fail_missing_name.carbon
  toolchain/parser/testdata/function/declaration/fail_only_fn_and_semi.carbon
  toolchain/parser/testdata/function/declaration/fail_repeated_fn_and_semi.carbon
  toolchain/parser/testdata/function/declaration/fail_skip_indented_newline_until_outdent.carbon
  toolchain/parser/testdata/function/declaration/fail_skip_indented_newline_with_semi.carbon
  toolchain/parser/testdata/function/declaration/fail_skip_indented_newline_without_semi.carbon
  toolchain/parser/testdata/function/declaration/fail_skip_to_newline_without_semi.carbon
  toolchain/parser/testdata/function/declaration/fail_without_name_and_many_tokens_in_params.carbon
  toolchain/parser/testdata/generics/interface/fail_missing_name.carbon
  toolchain/parser/testdata/generics/interface/fail_missing_open_curly.carbon
  toolchain/parser/testdata/generics/named_constraint/basic.carbon
  toolchain/parser/testdata/generics/named_constraint/fail_no_impl_allowed.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2667 edit wrong file name & suggest editing drive document
  toolchain/diagnostics/diagnostic_kind.h
  toolchain/source/source_buffer.cpp
Labels: toolchain

#2679 Add a macro to simplify XAsY variant state generation
  toolchain/parser/parser.cpp
  toolchain/parser/parser_state.def
Labels: toolchain

#2683 Fix check-diagnostics for pre-commit
  .pre-commit-config.yaml
  toolchain/diagnostics/check_diagnostics.py
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#2684 Extend deduced and regular parameter handling to types.
  .codespell_ignore
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/function/declaration/deduced_empty.carbon
  toolchain/parser/testdata/function/declaration/deduced_one.carbon
  toolchain/parser/testdata/function/declaration/deduced_params.carbon
  toolchain/parser/testdata/function/declaration/deduced_six.carbon
  toolchain/parser/testdata/function/declaration/deduced_two_suffix_comma.carbon
  toolchain/parser/testdata/function/declaration/fail_identifier_instead_of_sig.carbon
  toolchain/parser/testdata/function/declaration/fail_missing_deduced_close.carbon
  toolchain/parser/testdata/function/declaration/fail_no_sig_or_semi.carbon
  toolchain/parser/testdata/function/declaration/params.carbon
  toolchain/parser/testdata/function/declaration/params_one.carbon
  toolchain/parser/testdata/function/declaration/params_one_suffix_comma.carbon
  toolchain/parser/testdata/function/declaration/params_six.carbon
  toolchain/parser/testdata/function/declaration/params_two_suffix_comma.carbon
  toolchain/parser/testdata/generics/deduced_params/empty.carbon
  toolchain/parser/testdata/generics/deduced_params/fail_no_parens.carbon
  toolchain/parser/testdata/generics/deduced_params/one.carbon
  toolchain/parser/testdata/generics/deduced_params/one_suffix_comma.carbon
  toolchain/parser/testdata/generics/deduced_params/six.carbon
  toolchain/parser/testdata/generics/deduced_params/two.carbon
  toolchain/parser/testdata/generics/deduced_params/two_suffix_comma.carbon
  toolchain/parser/testdata/generics/params/empty.carbon
  toolchain/parser/testdata/generics/params/one.carbon
  toolchain/parser/testdata/generics/params/one_suffix_comma.carbon
  toolchain/parser/testdata/generics/params/six.carbon
  toolchain/parser/testdata/generics/params/two.carbon
  toolchain/parser/testdata/generics/params/two_suffix_comma.carbon
Labels: toolchain

#2685 Parsing for generic and template parameters.
  toolchain/lexer/token_kind.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/generics/generic_params/basic.carbon
  toolchain/parser/testdata/generics/generic_params/template.carbon
  toolchain/parser/testdata/generics/generic_params/template_addr.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2686 Replace BraceExpressionKind switches with parameters for better consistency.
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
Labels: toolchain

#2665 Semicolons terminate statements
  docs/design/README.md
  proposals/p2665.md
Labels: proposal, proposal rfc

#2689 Remove support for an ImplScope to have multiple parents.
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/impl_scope.h
  explorer/interpreter/type_checker.cpp
Labels: explorer

#2688 Reuse EnumBase for interpreter's Builtin enum
  common/BUILD
  common/enum_base.h
  common/enum_base_test.cpp
  common/enum_base_test.def
  explorer/interpreter/BUILD
  explorer/interpreter/builtins.cpp
  explorer/interpreter/builtins.def
  explorer/interpreter/builtins.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  toolchain/common/BUILD
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/diagnostic_kind.h
  toolchain/lexer/BUILD
  toolchain/lexer/token_kind.h
  toolchain/parser/BUILD
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parser_state.h
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_node_kind.h
Labels: explorer, toolchain

#2694 Propagate errors out of Substitute.
  common/error.h
  explorer/ast/value_transform.h
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
Labels: explorer

#2699 AST cloning mechanism
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/BUILD
  explorer/ast/ast_node.h
  explorer/ast/bindings.cpp
  explorer/ast/bindings.h
  explorer/ast/clone_context.cpp
  explorer/ast/clone_context.h
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/ast/impl_binding.cpp
  explorer/ast/impl_binding.h
  explorer/ast/pattern.cpp
  explorer/ast/pattern.h
  explorer/ast/return_term.h
  explorer/ast/statement.cpp
  explorer/ast/statement.h
  explorer/ast/value.h
  explorer/ast/value_node.h
  explorer/ast/value_transform.h
  explorer/common/arena.h
  explorer/fuzzing/BUILD
  explorer/fuzzing/ast_to_proto.cpp
  explorer/fuzzing/clone_test.cpp
  explorer/gen_rtti.py
  explorer/interpreter/type_checker.cpp
Labels: explorer

#2701 Rename self/Self enums to SelfValueIdentifier/SelfTypeIdentifier
  toolchain/lexer/token_kind.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/class/fn_definitions.carbon
  toolchain/parser/testdata/generics/interface/basic.carbon
  toolchain/parser/testdata/generics/interface/fail_no_impl_allowed.carbon
  toolchain/parser/testdata/generics/interface/fail_self_param_syntax.carbon
  toolchain/parser/testdata/generics/interface/non_instance_fn.carbon
  toolchain/parser/testdata/generics/interface/self_pointer.carbon
  toolchain/parser/testdata/generics/named_constraint/fail_no_impl_allowed.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2702 Modify SemanticsIR printing to produce stable output on builtin changes.
  toolchain/driver/driver.cpp
  toolchain/lowering/testdata/basics/fail_in_semantics.carbon
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_ir_test.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/testdata/basics/builtin_nodes.carbon
  toolchain/semantics/testdata/basics/builtin_types.carbon
  toolchain/semantics/testdata/basics/empty.carbon
  toolchain/semantics/testdata/basics/empty_decl.carbon
  toolchain/semantics/testdata/basics/fail_name_lookup.carbon
  toolchain/semantics/testdata/function/call/fail_param_count.carbon
  toolchain/semantics/testdata/function/call/fail_param_type.carbon
  toolchain/semantics/testdata/function/call/more_param_ir.carbon
  toolchain/semantics/testdata/function/call/params_one.carbon
  toolchain/semantics/testdata/function/call/params_one_comma.carbon
  toolchain/semantics/testdata/function/call/params_two.carbon
  toolchain/semantics/testdata/function/call/params_two_comma.carbon
  toolchain/semantics/testdata/function/call/params_zero.carbon
  toolchain/semantics/testdata/function/definition/fail_param_name_conflict.carbon
  toolchain/semantics/testdata/function/definition/order.carbon
  toolchain/semantics/testdata/function/definition/params_one.carbon
  toolchain/semantics/testdata/function/definition/params_one_comma.carbon
  toolchain/semantics/testdata/function/definition/params_two.carbon
  toolchain/semantics/testdata/function/definition/params_two_comma.carbon
  toolchain/semantics/testdata/function/definition/params_zero.carbon
  toolchain/semantics/testdata/function/definition/same_param_name.carbon
  toolchain/semantics/testdata/operators/binary_op.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/fail_type_mismatch.carbon
  toolchain/semantics/testdata/return/fail_value_disallowed.carbon
  toolchain/semantics/testdata/return/fail_value_missing.carbon
  toolchain/semantics/testdata/return/no_value.carbon
  toolchain/semantics/testdata/return/value.carbon
  toolchain/semantics/testdata/var/decl.carbon
  toolchain/semantics/testdata/var/decl_with_init.carbon
  toolchain/semantics/testdata/var/fail_duplicate_decl.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_init_with_self.carbon
  toolchain/semantics/testdata/var/fail_lookup_outside_scope.carbon
  toolchain/semantics/testdata/var/global_decl.carbon
  toolchain/semantics/testdata/var/global_decl_with_init.carbon
  toolchain/semantics/testdata/var/global_lookup.carbon
  toolchain/semantics/testdata/var/global_lookup_in_scope.carbon
  toolchain/semantics/testdata/var/lookup.carbon
Labels: toolchain

#2700 Support for templated impl declarations
  common/error.h
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/declaration.h
  explorer/ast/pattern.cpp
  explorer/ast/pattern.h
  explorer/data/prelude.carbon
  explorer/fuzzing/BUILD
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp
  explorer/testdata/assoc_const/fail_anonymous.carbon
  explorer/testdata/template/fail_name_lookup.carbon
  explorer/testdata/template/fail_no_member.carbon
  explorer/testdata/template/member_access.carbon
  explorer/testdata/template/name_lookup.carbon
Labels: explorer

#2704 Add stringification for nodes.
  toolchain/lowering/testdata/basics/fail_in_semantics.carbon
  toolchain/semantics/semantics_builtin_kind.cpp
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/function/call/fail_param_type.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/fail_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
Labels: toolchain

#2483 Replace keyword `is` with `impls`
  docs/design/README.md
  docs/design/assignment.md
  docs/design/classes.md
  docs/design/expressions/comparison_operators.md
  docs/design/expressions/if.md
  docs/design/generics/details.md
  docs/design/generics/overview.md
  docs/design/generics/terminology.md
  docs/design/lexical_conventions/words.md
  docs/project/principles/information_accumulation.md
  proposals/p0920.md
  proposals/p0983.md
  proposals/p1088.md
  proposals/p2483.md
Labels: proposal, proposal rfc, explorer

#2712 Update clang-format to 16.0.0
  .pre-commit-config.yaml
  explorer/ast/value_transform.h
Labels: explorer

#2711 Refactor SemanticsNode factory functions into factory templates.
  toolchain/lowering/lowering.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Labels: toolchain

#2723 Restore clone_test, accidentally removed by #2700
  explorer/fuzzing/BUILD
Labels: explorer

#2724 Doc: replace references to #821 by #2006
  docs/design/README.md
Labels: design update

#2718 Clean up a few missed stringification comments and one diagnostic.
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/return/fail_value_missing.carbon
Labels: toolchain

#2703 Replace RTTI generation script with macros.
  .clang-format
  common/enum_base.h
  explorer/BUILD
  explorer/ast/BUILD
  explorer/ast/README.md
  explorer/ast/ast_kinds.h
  explorer/ast/ast_rtti.cpp
  explorer/ast/ast_rtti.h
  explorer/ast/ast_rtti.txt
  explorer/ast/clone_context.cpp
  explorer/ast/clone_context.h
  explorer/gen_rtti.py
  explorer/interpreter/type_checker.cpp
Labels: explorer

#2716 Support designator expressions on structs.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lowering/lowering.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/designators/fail_unsupported.carbon
  toolchain/semantics/testdata/struct/fail_member_access_type.carbon
  toolchain/semantics/testdata/struct/fail_non_member_access.carbon
  toolchain/semantics/testdata/struct/member_access.carbon
Labels: toolchain

#2725 Reduce dumped context on parse verify errors.
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
Labels: toolchain
