Repository carbon-language/carbon-lang, pull requests merged in 2023-12, with the labels that each got.

#3437 Refactor ValueStore to reduce template type repetition.
  toolchain/base/value_store.h
  toolchain/check/context.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3443 Distribute autoupdate across threads.
  testing/file_test/file_test_base.cpp
  toolchain/autoupdate_testdata.py
Labels: toolchain

#3451 Remove `llvm::StringRef` from diagnostic example
  toolchain/diagnostics/diagnostic_emitter.h
Labels: toolchain

#3450 Support for `base: T;`, `.base`, `x.base`.
  testing/file_test/file_test_base.cpp
  toolchain/check/context.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/class/base.carbon
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/check/testdata/class/fail_base_as_declared_name.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_base_misplaced.carbon
  toolchain/check/testdata/class/fail_base_repeated.carbon
  toolchain/check/testdata/class/fail_base_unbound.carbon
  toolchain/check/testdata/struct/fail_keyword_name.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/handle_aggregates.cpp
  toolchain/lower/testdata/class/base.carbon
  toolchain/parse/handle_base.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_period.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/class/base.carbon
  toolchain/parse/testdata/class/base_misplaced.carbon
  toolchain/parse/testdata/class/fail_base.carbon
  toolchain/parse/testdata/class/fail_base_misplaced.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/value_stores.cpp
Labels: toolchain

#3452 Rename SemIR::{Base,Field} -> SemIR::{Base,Field}Decl.
  toolchain/check/context.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/class/base.carbon
  toolchain/check/testdata/class/basic.carbon
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_base_repeated.carbon
  toolchain/check/testdata/class/fail_base_unbound.carbon
  toolchain/check/testdata/class/fail_init.carbon
  toolchain/check/testdata/class/fail_init_as_inplace.carbon
  toolchain/check/testdata/class/fail_memaccess_category.carbon
  toolchain/check/testdata/class/fail_unbound_field.carbon
  toolchain/check/testdata/class/fail_unknown_member.carbon
  toolchain/check/testdata/class/field_access.carbon
  toolchain/check/testdata/class/field_access_in_value.carbon
  toolchain/check/testdata/class/init.carbon
  toolchain/check/testdata/class/init_as.carbon
  toolchain/check/testdata/class/init_nested.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/check/testdata/class/nested.carbon
  toolchain/check/testdata/class/nested_name.carbon
  toolchain/check/testdata/class/raw_self.carbon
  toolchain/check/testdata/class/self.carbon
  toolchain/check/testdata/class/self_type.carbon
  toolchain/check/testdata/return/fail_return_with_returned_var.carbon
  toolchain/check/testdata/return/returned_var.carbon
  toolchain/lower/handle_aggregates.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3456 Remove support for disambiguating a stringified type as being a type.
  toolchain/check/convert.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/return.cpp
  toolchain/check/testdata/as/fail_no_conversion.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/check/testdata/index/fail_empty_tuple_access.carbon
  toolchain/check/testdata/index/fail_invalid_base.carbon
  toolchain/check/testdata/index/fail_non_tuple_access.carbon
  toolchain/check/testdata/index/fail_tuple_large_index.carbon
  toolchain/check/testdata/index/fail_tuple_out_of_bound_access.carbon
  toolchain/check/testdata/pointer/fail_deref_not_pointer.carbon
  toolchain/check/testdata/tuples/fail_assign_to_empty.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#3412 Support declaration modifier keywords
  toolchain/check/BUILD
  toolchain/check/context.h
  toolchain/check/decl_state.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/handle_noop.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/modifiers.cpp
  toolchain/check/modifiers.h
  toolchain/check/node_stack.h
  toolchain/check/testdata/class/fail_field_modifiers.carbon
  toolchain/check/testdata/class/fail_method_modifiers.carbon
  toolchain/check/testdata/class/fail_modifiers.carbon
  toolchain/check/testdata/class/fail_todo_modifiers.carbon
  toolchain/check/testdata/function/declaration/fail_modifiers.carbon
  toolchain/check/testdata/function/declaration/fail_todo_modifiers.carbon
  toolchain/check/testdata/let/fail_modifiers.carbon
  toolchain/check/testdata/let/fail_todo_modifiers.carbon
  toolchain/check/testdata/var/fail_modifiers.carbon
  toolchain/check/testdata/var/fail_todo_modifiers.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/diagnostics/testdata/fail_multiline_token.carbon
  toolchain/lex/testdata/keywords.carbon
  toolchain/lex/token_kind.def
  toolchain/lower/testdata/basics/fail_before_lowering.carbon
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_function.cpp
  toolchain/parse/handle_let.cpp
  toolchain/parse/handle_namespace.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/handle_var.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/basics/empty_decl.carbon
  toolchain/parse/testdata/basics/fail_modifiers_before_semi.carbon
  toolchain/parse/testdata/basics/fail_no_intro_with_semi.carbon
  toolchain/parse/testdata/basics/fail_no_intro_without_semi.carbon
  toolchain/parse/testdata/class/base.carbon
  toolchain/parse/testdata/class/fail_base.carbon
  toolchain/parse/testdata/class/fail_base_misplaced.carbon
  toolchain/parse/testdata/class/fail_introducer.carbon
  toolchain/parse/testdata/class/introducer.carbon
  toolchain/parse/testdata/class/mismatched_introducer.carbon
  toolchain/parse/testdata/function/declaration/fail_impl.carbon
  toolchain/parse/testdata/function/declaration/fail_skip_without_semi_to_curly.carbon
  toolchain/parse/testdata/function/declaration/impl_fn.carbon
  toolchain/parse/testdata/namespace/fail_modifiers.carbon
  toolchain/parse/tree.cpp
Labels: toolchain

#3458 Fix test to use a single test suite with multiple tests.
  explorer/ast/ast_test_matchers_test.cpp
Labels: explorer

#3460 Use the scope stack instead of the decl state stack for context
  toolchain/check/context.h
  toolchain/check/decl_state.h
  toolchain/check/handle_function.cpp
  toolchain/check/modifiers.cpp
Labels: toolchain

#3461 Switch modifiers to use distinct parse nodes.
  toolchain/check/handle_modifier.cpp
  toolchain/check/node_stack.h
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/basics/fail_modifiers_before_semi.carbon
  toolchain/parse/testdata/class/base.carbon
  toolchain/parse/testdata/class/fail_base_misplaced.carbon
  toolchain/parse/testdata/class/introducer.carbon
  toolchain/parse/testdata/class/mismatched_introducer.carbon
  toolchain/parse/testdata/function/declaration/impl_fn.carbon
  toolchain/parse/testdata/namespace/fail_modifiers.carbon
Labels: toolchain

#3462 Support modifiers on namespace, in theory.
  toolchain/check/decl_state.h
  toolchain/check/handle_namespace.cpp
  toolchain/check/testdata/namespace/fail_modifiers.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/namespace/fail_modifiers.carbon
  toolchain/parse/testdata/namespace/modifiers.carbon
Labels: toolchain

#3465 Precedence terminology
  toolchain/parse/testdata/operators/precedence_as.carbon
  toolchain/parse/testdata/operators/precedence_unary.carbon
Labels: toolchain

#3464 Abbreviate "representation" -> "repr"
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/handle.cpp
  toolchain/lower/handle_aggregates.cpp
  toolchain/lower/handle_expr_category.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#3449 Move `llvm::Initialize*` calls to `main`.
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  common/BUILD
  common/all_llvm_targets.cpp
  common/init_llvm.cpp
  common/init_llvm.h
  explorer/BUILD
  testing/base/BUILD
  testing/base/gtest_main.cpp
  testing/file_test/BUILD
  testing/file_test/file_test_base.cpp
  testing/file_test/rules.bzl
  toolchain/codegen/BUILD
  toolchain/codegen/codegen.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver_main.cpp
  toolchain/testing/BUILD
Labels: toolchain

#3454 Factor out common pattern of trying to complete a type then falling back to an error type if that fails.
  toolchain/check/context.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
Labels: toolchain

#3468 Drop `GetDeclContext` from parse, errors will be diagnosed in check
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_function.cpp
  toolchain/parse/testdata/generics/interface/fail_no_impl_allowed.carbon
  toolchain/parse/testdata/generics/interface/final_member_definition.carbon
  toolchain/parse/testdata/generics/named_constraint/defined_method.carbon
  toolchain/parse/testdata/generics/named_constraint/fail_no_impl_allowed.carbon
Labels: toolchain

#3471 Upgrade clang-format version
  .pre-commit-config.yaml
  explorer/syntax/parse_and_lex_context.h
  testing/file_test/file_test_base.h
  toolchain/check/context.h
  toolchain/check/handle_modifier.cpp
  toolchain/lex/lex.cpp
  toolchain/lower/function_context.h
  toolchain/parse/context.h
Labels: explorer, toolchain

#3448 Parse support for tuple patterns in `var` and `let`
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_variable.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/handle_let.cpp
  toolchain/parse/handle_param.cpp
  toolchain/parse/handle_pattern.cpp
  toolchain/parse/handle_var.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parse/testdata/function/declaration/fail_missing_implicit_close.carbon
  toolchain/parse/testdata/function/declaration/fail_with_identifier_as_param.carbon
  toolchain/parse/testdata/generics/interface/fail_self_param_syntax.carbon
  toolchain/parse/testdata/let/fail_bad_name.carbon
  toolchain/parse/testdata/let/fail_empty.carbon
  toolchain/parse/testdata/let/fail_missing_type.carbon
  toolchain/parse/testdata/let/fail_no_semi.carbon
  toolchain/parse/testdata/let/let_tuple.carbon
  toolchain/parse/testdata/package_expr/fail_in_name.carbon
  toolchain/parse/testdata/var/fail_bad_name.carbon
  toolchain/parse/testdata/var/fail_empty.carbon
  toolchain/parse/testdata/var/fail_no_semi.carbon
  toolchain/parse/testdata/var/var_tuple.carbon
Labels: toolchain

#3467 Refactor state construction and change how the decl loop makes state.
  toolchain/parse/context.h
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/state.def
  toolchain/parse/tree.cpp
Labels: toolchain

#3476 Fix LexicalLookupResult's node_id -> inst_id
  toolchain/check/context.cpp
  toolchain/check/context.h
Labels: toolchain

#3444 Clarify naming around paren expressions
  toolchain/check/handle_paren.cpp
  toolchain/check/node_stack.h
  toolchain/parse/handle_paren_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parse/testdata/basics/function_call.carbon
  toolchain/parse/testdata/basics/numeric_literals.carbon
  toolchain/parse/testdata/basics/parens.carbon
  toolchain/parse/testdata/let/let_tuple.carbon
  toolchain/parse/testdata/operators/fail_precedence_assign.carbon
  toolchain/parse/testdata/operators/infix_with_paren_after.carbon
  toolchain/parse/testdata/operators/infix_with_paren_before.carbon
  toolchain/parse/testdata/operators/precedence_assign.carbon
  toolchain/parse/testdata/pointer/const_pointer.carbon
  toolchain/parse/testdata/tuple/nested.carbon
  toolchain/parse/testdata/tuple/two_entries.carbon
  toolchain/parse/testdata/var/var_tuple.carbon
Labels: toolchain

#3455 Simplify interface for getting an instruction from a type.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_operator.cpp
  toolchain/lower/handle.cpp
  toolchain/lower/handle_aggregates.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/type_info.h
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3483 Pop decl state stack earlier
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
Labels: toolchain

#3485 Add `PushState` overload to combine `Parse::State` change with `StateStackEntry`
  toolchain/parse/context.h
  toolchain/parse/handle_array_expr.cpp
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/handle_call_expr.cpp
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/handle_function.cpp
  toolchain/parse/handle_index_expr.cpp
  toolchain/parse/handle_let.cpp
  toolchain/parse/handle_namespace.cpp
  toolchain/parse/handle_paren_condition.cpp
  toolchain/parse/handle_paren_expr.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/handle_type.cpp
  toolchain/parse/handle_var.cpp
Labels: toolchain

#3480 Split out and/or operator handling from infix.
  toolchain/check/handle_operator.cpp
  toolchain/check/node_stack.h
  toolchain/parse/handle_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/if_expr/precedence.carbon
  toolchain/parse/testdata/operators/associative.carbon
  toolchain/parse/testdata/operators/fail_precedence_and_or.carbon
  toolchain/parse/testdata/operators/fail_precedence_or_and.carbon
  toolchain/parse/testdata/operators/precedence_as.carbon
  toolchain/parse/testdata/operators/precedence_not.carbon
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#3473 Parsing `impl`...`as`
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_name.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_decl_definition.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_impl.cpp
  toolchain/parse/handle_type.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/precedence.cpp
  toolchain/parse/precedence.h
  toolchain/parse/state.def
  toolchain/parse/testdata/function/declaration/fail_impl.carbon
  toolchain/parse/testdata/generics/impl/basic.carbon
  toolchain/parse/testdata/generics/impl/class.carbon
  toolchain/parse/testdata/generics/impl/declaration.carbon
  toolchain/parse/testdata/generics/impl/empty_body.carbon
  toolchain/parse/testdata/generics/impl/fail_impl.carbon
  toolchain/parse/testdata/generics/impl/forall.carbon
  toolchain/parse/tree.cpp
Labels: toolchain

#3491 Move add invalid node. Follow up to #3473.
  toolchain/parse/handle_impl.cpp
Labels: toolchain

#3487 Support derived to base conversions.
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/derived_to_base.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_derived_to_base.carbon
  toolchain/check/testdata/class/self_conversion.carbon
  toolchain/lower/testdata/class/base.carbon
Labels: toolchain

#3475 Start adding lazy import references to name lookup.
  toolchain/base/value_store.h
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/testdata/packages/explicit_imports.carbon
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
  toolchain/check/testdata/packages/fail_import_default.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/fail_import_repeat.carbon
  toolchain/check/testdata/packages/fail_name_with_import_failure.carbon
  toolchain/check/testdata/packages/fail_todo_lazy_import_ref.carbon
  toolchain/check/testdata/packages/implicit_imports.carbon
  toolchain/check/testdata/packages/loaded_global.carbon
  toolchain/check/testdata/packages/unused_lazy_import.carbon
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3482 Replace the NodeKind StructFieldUnknown with InvalidParse.
  toolchain/check/handle_struct.cpp
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/struct/fail_comma_only.carbon
  toolchain/parse/testdata/struct/fail_comma_repeat_in_type.carbon
  toolchain/parse/testdata/struct/fail_comma_repeat_in_value.carbon
  toolchain/parse/testdata/struct/fail_dot_only.carbon
  toolchain/parse/testdata/struct/fail_dot_string_colon.carbon
  toolchain/parse/testdata/struct/fail_dot_string_equals.carbon
  toolchain/parse/testdata/struct/fail_identifier_colon.carbon
  toolchain/parse/testdata/struct/fail_identifier_equals.carbon
  toolchain/parse/testdata/struct/fail_identifier_only.carbon
  toolchain/parse/testdata/struct/fail_missing_type.carbon
  toolchain/parse/testdata/struct/fail_missing_value.carbon
  toolchain/parse/testdata/struct/fail_mix_type_and_value.carbon
  toolchain/parse/testdata/struct/fail_mix_value_and_type.carbon
  toolchain/parse/testdata/struct/fail_mix_with_unknown.carbon
  toolchain/parse/testdata/struct/fail_no_colon_or_equals.carbon
  toolchain/parse/testdata/struct/fail_type_no_designator.carbon
Labels: toolchain

#3501 More test cases for interface name collisions
  toolchain/check/testdata/interface/fail_duplicate.carbon
Labels: toolchain

#3481 Split out infix and prefix operators to separate node kinds.
  toolchain/check/handle_operator.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/check/testdata/operators/fail_unimplemented_op.carbon
  toolchain/parse/handle_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/class/fn_definitions.carbon
  toolchain/parse/testdata/function/declaration/addr.carbon
  toolchain/parse/testdata/function/definition/with_params.carbon
  toolchain/parse/testdata/generics/interface/default_fn.carbon
  toolchain/parse/testdata/generics/interface/self_pointer.carbon
  toolchain/parse/testdata/if_expr/in_type.carbon
  toolchain/parse/testdata/operators/assign.carbon
  toolchain/parse/testdata/operators/fail_chained_assign.carbon
  toolchain/parse/testdata/operators/fail_infix_uneven_space_after.carbon
  toolchain/parse/testdata/operators/fail_invalid_infix.carbon
  toolchain/parse/testdata/operators/fail_precedence_as.carbon
  toolchain/parse/testdata/operators/fail_precedence_assign.carbon
  toolchain/parse/testdata/operators/fail_precedence_star_minus.carbon
  toolchain/parse/testdata/operators/fail_precedence_star_star.carbon
  toolchain/parse/testdata/operators/fail_star_star_no_space.carbon
  toolchain/parse/testdata/operators/fail_variety.carbon
  toolchain/parse/testdata/operators/fixity_in_call.carbon
  toolchain/parse/testdata/operators/fixity_in_params.carbon
  toolchain/parse/testdata/operators/fixity_in_var.carbon
  toolchain/parse/testdata/operators/fixity_with_assign.carbon
  toolchain/parse/testdata/operators/infix.carbon
  toolchain/parse/testdata/operators/infix_no_space.carbon
  toolchain/parse/testdata/operators/infix_with_paren_after.carbon
  toolchain/parse/testdata/operators/infix_with_paren_before.carbon
  toolchain/parse/testdata/operators/postfix.carbon
  toolchain/parse/testdata/operators/postfix_repeat.carbon
  toolchain/parse/testdata/operators/postfix_space_after_op.carbon
  toolchain/parse/testdata/operators/precedence_as.carbon
  toolchain/parse/testdata/operators/precedence_assign.carbon
  toolchain/parse/testdata/operators/precedence_not.carbon
  toolchain/parse/testdata/operators/precedence_unary.carbon
  toolchain/parse/testdata/operators/prefix.carbon
  toolchain/parse/testdata/operators/prefix_no_space.carbon
  toolchain/parse/testdata/operators/prefix_repeat.carbon
  toolchain/parse/testdata/operators/recover_infix_uneven_space_before.carbon
  toolchain/parse/testdata/operators/recover_postfix_space.carbon
  toolchain/parse/testdata/operators/recover_postfix_space_before_comma.carbon
  toolchain/parse/testdata/operators/recover_postfix_space_in_call.carbon
  toolchain/parse/testdata/operators/recover_postfix_space_surrounding.carbon
  toolchain/parse/testdata/operators/recover_prefix_repeat.carbon
  toolchain/parse/testdata/operators/recover_prefix_space.carbon
  toolchain/parse/testdata/operators/recover_prefix_uneven_space_with_assign.carbon
  toolchain/parse/testdata/operators/spaceship.carbon
  toolchain/parse/testdata/pointer/const_pointer.carbon
  toolchain/parse/testdata/pointer/fail_pointer_type_in_expr.carbon
  toolchain/parse/testdata/pointer/pointer_type.carbon
  toolchain/parse/testdata/pointer/pointer_value.carbon
Labels: toolchain

#3484 On invalid parse nodes, if the token may vary, allow any token.
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/class/fail_modifiers.carbon
  toolchain/parse/testdata/namespace/fail_modifiers.carbon
Labels: toolchain

#3486 Refactor NodeKind to take advantage of a parse node only having one token kind.
  toolchain/parse/context.cpp
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/node_kind.h
Labels: toolchain

#3488 Remove unused libraries in explorer/main.cpp
  explorer/main.cpp
Labels: explorer

#3504 Add macro for postfix operators.
  toolchain/check/node_stack.h
  toolchain/parse/handle_expr.cpp
  toolchain/parse/node_kind.def
Labels: toolchain

#3508 Underline the complete declaration in diagnostics
  toolchain/check/decl_state.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/testdata/array/fail_incomplete_element.carbon
  toolchain/check/testdata/basics/fail_bad_run.carbon
  toolchain/check/testdata/basics/fail_bad_run_2.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_base_modifiers.carbon
  toolchain/check/testdata/class/fail_base_no_extend.carbon
  toolchain/check/testdata/class/fail_base_repeated.carbon
  toolchain/check/testdata/class/fail_base_unbound.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/fail_method.carbon
  toolchain/check/testdata/class/fail_method_modifiers.carbon
  toolchain/check/testdata/class/fail_redeclaration_introducer.carbon
  toolchain/check/testdata/class/fail_redefinition.carbon
  toolchain/check/testdata/class/fail_reorder.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/function/call/fail_param_count.carbon
  toolchain/check/testdata/function/call/fail_param_type.carbon
  toolchain/check/testdata/interface/fail_duplicate.carbon
  toolchain/check/testdata/namespace/fail_duplicate.carbon
  toolchain/check/testdata/return/fail_returned_var_no_return_type.carbon
  toolchain/check/testdata/return/fail_returned_var_type.carbon
  toolchain/check/testdata/return/fail_value_disallowed.carbon
  toolchain/check/testdata/return/fail_value_missing.carbon
  toolchain/check/testdata/struct/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuples/fail_nested_incomplete.carbon
Labels: toolchain

#3502 If a name is not found in a class, perform lookup into base classes.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/class/base.carbon
  toolchain/check/testdata/class/base_field.carbon
  toolchain/check/testdata/class/base_function_unqualified.carbon
  toolchain/check/testdata/class/base_method.carbon
  toolchain/check/testdata/class/base_method_shadow.carbon
  toolchain/check/testdata/class/derived_to_base.carbon
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_base_method_define.carbon
  toolchain/check/testdata/class/fail_base_modifiers.carbon
  toolchain/check/testdata/class/fail_base_repeated.carbon
  toolchain/check/testdata/class/fail_base_unbound.carbon
  toolchain/check/testdata/class/fail_derived_to_base.carbon
  toolchain/check/testdata/class/self_conversion.carbon
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_name_with_import_failure.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3506 Remove `SelfParam`, add an `AddrPattern` instead.
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/class/base_method.carbon
  toolchain/check/testdata/class/base_method_shadow.carbon
  toolchain/check/testdata/class/fail_addr_self.carbon
  toolchain/check/testdata/class/fail_memaccess_category.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/check/testdata/class/raw_self.carbon
  toolchain/check/testdata/class/self.carbon
  toolchain/check/testdata/class/self_conversion.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3512 Clean up some uses of the node stack.
  toolchain/check/context.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_return_statement.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/node_stack.h
Labels: toolchain

#3505 Start adapting to bzlmod configurations.
  .bazeliskrc
  .bazelrc
  .pre-commit-config.yaml
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  bazel-execroot
  bazel/check_deps/check_non_test_cc_deps.py
  explorer/syntax/format_grammar_test.py
  proposals/scripts/new_proposal_test.py
  scripts/fix_cc_deps.py
  scripts/scripts_utils.py
Labels: explorer

#3514 Move toolchain and llvm WORKSPACE rules to bzlmod
  .pre-commit-config.yaml
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  bazel/cc_toolchains/clang_configs.bzl
  bazel/cc_toolchains/clang_configuration.bzl
  bazel/cc_toolchains/clang_toolchain.BUILD
  bazel/check_deps/check_non_test_cc_deps.py
  bazel/llvm_project/0001_Patch_for_mallinfo2_when_using_Bazel_build_system.patch
  bazel/llvm_project/0002_Added_Bazel_build_for_compiler_rt_fuzzer.patch
  bazel/llvm_project/0003_Add_library_for_clangd.patch
  bazel/llvm_project/BUILD
  bazel/llvm_project/llvm_project.bzl
  bazel/patches/llvm/BUILD
  bazel/patches/m4/BUILD
Labels: explorer

#3519 `startswith` -> `starts_with` to match upstream
  toolchain/lex/lex.cpp
  toolchain/lex/numeric_literal.cpp
  toolchain/lex/string_literal.cpp
Labels: toolchain

#3522 Rename `Carbon::StringLiteralId` -> `Carbon::StringLiteralValueId`.
  toolchain/base/value_store.h
  toolchain/base/value_store_test.cpp
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/check/handle_literal.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_test_helpers.h
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/tree.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3523 Update comment to reflect #3481
  toolchain/check/node_stack.h
Labels: toolchain

#3532 Focus implementation effort on the toolchain
  CONTRIBUTING.md
  README.md
  docs/project/contribution_tools.md
  proposals/p3532.md
Labels: proposal, proposal rfc

#3282 Improve diagnosis of mismatched brackets.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/driver/testdata/fail_errors_in_two_files.carbon
  toolchain/driver/testdata/fail_errors_sorted.carbon
  toolchain/driver/testdata/fail_errors_streamed.carbon
  toolchain/lex/lex.cpp
  toolchain/lex/testdata/fail_mismatched_brackets.carbon
  toolchain/lex/testdata/fail_mismatched_brackets_2.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/testdata/array/fail_require_close_bracket.carbon
  toolchain/parse/testdata/array/fail_syntax.carbon
  toolchain/parse/testdata/function/declaration/fail_missing_implicit_close.carbon
Labels: toolchain

#3536 Handle out-of-line declarations.
  toolchain/check/check.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/testdata/class/fail_base_method_define.carbon
  toolchain/check/testdata/class/fail_out_of_line_decl.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3535 Create a BindName for function parameters.
  toolchain/check/convert.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
Labels: toolchain

#3534 Typed wrappers around parse tree nodes
  common/struct_reflection.h
  common/struct_reflection_test.cpp
  toolchain/check/check.cpp
  toolchain/check/decl_state.h
  toolchain/check/node_stack.h
  toolchain/parse/BUILD
  toolchain/parse/extract.cpp
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/handle_let.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/node_kind.h
  toolchain/parse/testdata/let/fail_empty.carbon
  toolchain/parse/testdata/struct/fail_comma_only.carbon
  toolchain/parse/testdata/struct/fail_comma_repeat_in_type.carbon
  toolchain/parse/testdata/struct/fail_comma_repeat_in_value.carbon
  toolchain/parse/testdata/struct/fail_dot_only.carbon
  toolchain/parse/testdata/struct/fail_dot_string_colon.carbon
  toolchain/parse/testdata/struct/fail_dot_string_equals.carbon
  toolchain/parse/testdata/struct/fail_identifier_colon.carbon
  toolchain/parse/testdata/struct/fail_identifier_equals.carbon
  toolchain/parse/testdata/struct/fail_identifier_only.carbon
  toolchain/parse/testdata/struct/fail_missing_type.carbon
  toolchain/parse/testdata/struct/fail_missing_value.carbon
  toolchain/parse/testdata/struct/fail_mix_type_and_value.carbon
  toolchain/parse/testdata/struct/fail_mix_value_and_type.carbon
  toolchain/parse/testdata/struct/fail_mix_with_unknown.carbon
  toolchain/parse/testdata/struct/fail_no_colon_or_equals.carbon
  toolchain/parse/testdata/struct/fail_type_no_designator.carbon
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.cpp
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/typed_insts_test.cpp
Labels: toolchain

#3542 Fix crash on incomplete `constraint`
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/generics/named_constraint/basic.carbon
  toolchain/parse/testdata/generics/named_constraint/fail_incomplete.carbon
Labels: toolchain

#3544 Fix prelude search path for Bazel 7 runfiles layout.
  explorer/main_bin.cpp
Labels: explorer

#3543 Do TODO to rename `QualifiedDecl` -> `QualifiedName`
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/node_stack.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_period.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/namespace/fail_incomplete_name.carbon
  toolchain/parse/testdata/namespace/nested.carbon
  toolchain/parse/typed_nodes.h
Labels: toolchain

#3545 Test trace output of `Tree::VerifyExtractAs`, fix found bugs
  toolchain/parse/extract.cpp
  toolchain/parse/tree.cpp
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Labels: toolchain

#3548 Make `Parse::NodeCategory` printable
  toolchain/parse/extract.cpp
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.h
Labels: toolchain

#3549 Add a `MemberName` parse node category for member access expressions
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.h
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Labels: toolchain

#3547 Start using typed parse node ids in the check stage
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_codeblock.cpp
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/handle_file.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_import_and_package.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_named_constraint.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_noop.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/handle_return_statement.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/node_stack.h
  toolchain/parse/node_ids.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain
