Repository carbon-language/carbon-lang, pull requests merged in 2024-11, with the labels that each got.

#4467 Fix lowering of a conversion from a type with a pointer value representation to a type with a copy value representation.
  toolchain/check/convert.cpp
  toolchain/check/testdata/operators/overloaded/implicit_as.carbon
  toolchain/lower/constant.cpp
  toolchain/lower/file_context.h
  toolchain/lower/testdata/class/convert.carbon
Labels: toolchain

#4468 Exempt the `clang` subcommand when fuzzing.
  toolchain/driver/clang_subcommand.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_env.h
  toolchain/driver/driver_fuzzer.cpp
Labels: toolchain

#4457 Model return slot as parameter in lowering
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
Labels: toolchain

#4472 Fix use-after-free in return statement handling.
  toolchain/check/return.cpp
  toolchain/check/testdata/return/no_prelude/import_convert_function.carbon
Labels: toolchain

#4476 Rename `BigInt` to `IntLiteral`.
  core/prelude/types.carbon
  toolchain/check/context.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/testdata/array/base.carbon
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/builtin_types.carbon
  toolchain/check/testdata/basics/fail_numeric_literal_overflow.carbon
  toolchain/check/testdata/basics/numeric_literals.carbon
  toolchain/check/testdata/basics/type_literals.carbon
  toolchain/check/testdata/builtins/float/add.carbon
  toolchain/check/testdata/builtins/float/div.carbon
  toolchain/check/testdata/builtins/float/eq.carbon
  toolchain/check/testdata/builtins/float/greater.carbon
  toolchain/check/testdata/builtins/float/greater_eq.carbon
  toolchain/check/testdata/builtins/float/less.carbon
  toolchain/check/testdata/builtins/float/less_eq.carbon
  toolchain/check/testdata/builtins/float/mul.carbon
  toolchain/check/testdata/builtins/float/negate.carbon
  toolchain/check/testdata/builtins/float/neq.carbon
  toolchain/check/testdata/builtins/float/sub.carbon
  toolchain/check/testdata/builtins/int_literal/make_type.carbon
  toolchain/check/testdata/deduce/int_float.carbon
  toolchain/check/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/check/testdata/function/generic/resolve_used.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/check/testdata/return/fail_returned_var_type.carbon
  toolchain/check/testdata/struct/fail_member_access_type.carbon
  toolchain/check/testdata/struct/member_access.carbon
  toolchain/check/testdata/struct/reorder_fields.carbon
  toolchain/lower/constant.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/builtins/int_literal.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
  toolchain/sem_ir/builtin_inst_kind.def
Labels: toolchain

#4431 Start avoiding parse diagnostics on error tokens
  toolchain/check/testdata/basics/type_literals.carbon
  toolchain/parse/handle_expr.cpp
  toolchain/parse/parse.cpp
  toolchain/parse/testdata/array/fail_require_close_bracket.carbon
  toolchain/parse/testdata/array/fail_syntax.carbon
Labels: toolchain

#4477 Refactor value store code to use separate files.
  toolchain/base/BUILD
  toolchain/base/shared_value_stores.h
  toolchain/base/shared_value_stores_test.cpp
  toolchain/base/value_ids.h
  toolchain/base/value_store.h
  toolchain/base/value_store_test.cpp
  toolchain/check/BUILD
  toolchain/check/check.h
  toolchain/check/context.h
  toolchain/check/eval.cpp
  toolchain/check/lexical_lookup.h
  toolchain/driver/BUILD
  toolchain/driver/format_subcommand.cpp
  toolchain/language_server/BUILD
  toolchain/language_server/server.cpp
  toolchain/lex/BUILD
  toolchain/lex/lex.cpp
  toolchain/lex/lex.h
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/lex/tokenized_buffer_fuzzer.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/lex/tokenized_buffer_test_helpers.h
  toolchain/parse/BUILD
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/parse_fuzzer.cpp
  toolchain/parse/tree.h
  toolchain/parse/tree_test.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/name.h
  toolchain/sem_ir/type.h
Labels: toolchain

#4471 Adjust some build troubleshooting notes
  .github/workflows/pre_commit.yaml
  MODULE.bazel.lock
  bazel/cc_toolchains/clang_configuration.bzl
  docs/project/contribution_tools.md
Labels: documentation

#4473 Insert a `value_of_initializer` after a call to `ImplicitAs` where possible.
  toolchain/check/convert.cpp
  toolchain/check/testdata/as/overloaded.carbon
  toolchain/check/testdata/operators/overloaded/implicit_as.carbon
  toolchain/lower/testdata/class/convert.carbon
Labels: toolchain

#4470 Refactor struct literal parse nodes.
  toolchain/check/handle_struct.cpp
  toolchain/check/node_stack.h
  toolchain/check/param_and_arg_refs_stack.h
  toolchain/docs/parse.md
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/basics/fail_bracket_recovery.carbon
  toolchain/parse/testdata/class/adapt.carbon
  toolchain/parse/testdata/class/fn_definitions.carbon
  toolchain/parse/testdata/struct/fail_comma_only.carbon
  toolchain/parse/testdata/struct/fail_comma_repeat_in_type.carbon
  toolchain/parse/testdata/struct/fail_comma_repeat_in_value.carbon
  toolchain/parse/testdata/struct/fail_extra_token_in_type.carbon
  toolchain/parse/testdata/struct/fail_extra_token_in_value.carbon
  toolchain/parse/testdata/struct/fail_mix_type_and_value.carbon
  toolchain/parse/testdata/struct/fail_mix_value_and_type.carbon
  toolchain/parse/testdata/struct/fail_mix_with_unknown.carbon
  toolchain/parse/testdata/struct/fail_period_string_colon.carbon
  toolchain/parse/testdata/struct/fail_period_string_equals.carbon
  toolchain/parse/testdata/struct/one_entry_no_comma.carbon
  toolchain/parse/testdata/struct/one_entry_with_comma.carbon
  toolchain/parse/testdata/struct/two_entries.carbon
  toolchain/parse/typed_nodes.h
Labels: toolchain

#4452 Remove CalleeParamsInfo
  toolchain/check/call.cpp
  toolchain/check/convert.cpp
  toolchain/check/convert.h
Labels: toolchain

#4481 Fix a case of `InvalidParse` with `has_error = false`
  toolchain/parse/context.cpp
  toolchain/parse/testdata/struct/fail_comma_only.carbon
Labels: toolchain

#4460 Add facet type values and an instruction that produces them
  toolchain/check/context.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4474 Refactor subcommand addition for sharing.
  toolchain/driver/clang_subcommand.cpp
  toolchain/driver/clang_subcommand.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/driver/driver.cpp
  toolchain/driver/driver_subcommand.h
  toolchain/driver/format_subcommand.cpp
  toolchain/driver/format_subcommand.h
  toolchain/driver/language_server_subcommand.cpp
  toolchain/driver/language_server_subcommand.h
  toolchain/driver/link_subcommand.cpp
  toolchain/driver/link_subcommand.h
Labels: toolchain

#4482 Require that InvalidParse nodes must have an error
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/handle_if_expr.cpp
  toolchain/parse/handle_impl.cpp
  toolchain/parse/handle_match.cpp
  toolchain/parse/handle_paren_condition.cpp
  toolchain/parse/tree.h
Labels: toolchain

#4483 Abort rather than exiting "normally" if an autoupdate step crashes.
  testing/file_test/file_test_base.cpp
Labels: toolchain

#4485 Don't track generic insts created while importing an impl.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/impl/no_prelude/import_use_generic.carbon
Labels: toolchain

#4484 Add test coverage for `ImplOfUndefinedInterface` diagnostic
  toolchain/check/testdata/impl/no_prelude/fail_undefined_interface.carbon
  toolchain/diagnostics/coverage_test.cpp
Labels: toolchain

#4486 Add capitilization and punctuation to TODO comments
  toolchain/check/check.cpp
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/pattern_match.cpp
  toolchain/codegen/codegen.cpp
  toolchain/diagnostics/diagnostic.cpp
  toolchain/driver/compile_subcommand.cpp
  toolchain/language_server/server.cpp
  toolchain/language_server/server.h
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#4456 Set `.python-version` to 3.10 for pyenv users
  .pre-commit-config.yaml
  .python-version
Labels: infrastructure

#4480 Always call MemUsage::Collect to collect metrics from a field
  toolchain/base/mem_usage.h
  toolchain/base/value_store.h
  toolchain/lex/tokenized_buffer.cpp
  toolchain/parse/tree.cpp
  toolchain/parse/tree_and_subtrees.cpp
  toolchain/sem_ir/block_value_store.h
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/generic.cpp
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/type.h
Labels: toolchain

#4489 Fix crash lowering an imported impl method.
  toolchain/check/import_ref.cpp
  toolchain/lower/testdata/impl/import.carbon
Labels: toolchain

#4491 Don't copy maps and sets when computing their memory usage.
  toolchain/base/mem_usage.h
Labels: toolchain

#4493 Clean up some CopyOnWriteBlock details
  toolchain/check/subst.cpp
  toolchain/sem_ir/copy_on_write_block.h
Labels: toolchain

#4498 Fix the command used for nightly release versions.
  .github/workflows/nightly_release.yaml
Labels: infrastructure

#4495 Remove verbose formatting of instructions on crash messages.
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/inst_block_stack.cpp
  toolchain/check/inst_block_stack.h
  toolchain/check/node_stack.cpp
  toolchain/check/node_stack.h
  toolchain/check/param_and_arg_refs_stack.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
Labels: toolchain

#4500 Support deduction of the types of struct fields
  toolchain/check/deduce.cpp
  toolchain/check/testdata/function/generic/deduce.carbon
Labels: toolchain

#4502 Make empty ids for all block types
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/sem_ir/block_value_store.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#4504 Test `class` with multiple `extend`
  toolchain/check/context.cpp
  toolchain/check/testdata/impl/multiple_extend.carbon
  toolchain/diagnostics/coverage_test.cpp
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#4506 Replace FIXME with TODO in toolchain code
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/docs/check.md
  toolchain/docs/idioms.md
  toolchain/docs/parse.md
  toolchain/lower/file_context.cpp
Labels: toolchain

#4505 Change the bazel-out structure to avoid busybox symlinks.
  docs/project/contribution_tools.md
  toolchain/install/BUILD
  toolchain/install/install_filegroups.bzl
  toolchain/install/run_tool.bzl
  toolchain/install/symlink_helpers.bzl
Labels: toolchain

#4496 Don't eagerly materialize an initializing expression used as the object in a compound member access.
  toolchain/check/member_access.cpp
  toolchain/check/testdata/as/adapter_conversion.carbon
  toolchain/check/testdata/as/overloaded.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/class/init_adapt.carbon
  toolchain/check/testdata/class/self.carbon
  toolchain/check/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/let/fail_generic.carbon
  toolchain/check/testdata/operators/overloaded/implicit_as.carbon
  toolchain/check/testdata/struct/fail_value_as_type.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/fail_type_assign.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/lower/testdata/builtins/overloaded_operator.carbon
Labels: toolchain

#4508 Remove some single-interface restrictions from some uses of facet types
  toolchain/check/context.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/testdata/interface/no_prelude/fail_lookup_in_type_type.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4509 Fix use-after-free printing the name of an interface that might have been invalidated by lazy import.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/member_access.cpp
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
Labels: toolchain

#4511 Include the arguments for a generic class or interface in diagnostics.
  toolchain/check/testdata/array/fail_bound_overflow.carbon
  toolchain/check/testdata/array/fail_invalid_type.carbon
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/as/adapter_conversion.carbon
  toolchain/check/testdata/as/fail_no_conversion.carbon
  toolchain/check/testdata/as/fail_not_type.carbon
  toolchain/check/testdata/basics/fail_non_type_as_type.carbon
  toolchain/check/testdata/class/extend_adapt.carbon
  toolchain/check/testdata/class/fail_adapt_bad_decl.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_compound_type_mismatch.carbon
  toolchain/check/testdata/class/fail_derived_to_base.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/class/generic/stringify.carbon
  toolchain/check/testdata/class/init_adapt.carbon
  toolchain/check/testdata/class/self.carbon
  toolchain/check/testdata/const/fail_collapse.carbon
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/function/call/fail_param_type.carbon
  toolchain/check/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/check/testdata/function/generic/resolve_used.carbon
  toolchain/check/testdata/impl/fail_impl_bad_interface.carbon
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/interface/fail_assoc_const_bad_default.carbon
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/let/fail_generic.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_assignment.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/index.carbon
  toolchain/check/testdata/pointer/fail_type_mismatch.carbon
  toolchain/check/testdata/return/fail_type_mismatch.carbon
  toolchain/check/testdata/struct/fail_type_assign.carbon
  toolchain/check/testdata/struct/fail_value_as_type.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/access/fail_non_int_indexing.carbon
  toolchain/check/testdata/tuple/fail_element_type_mismatch.carbon
  toolchain/check/testdata/tuple/fail_type_assign.carbon
  toolchain/check/testdata/tuple/fail_value_as_type.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/check/testdata/var/fail_storage_is_literal.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/while/fail_bad_condition.carbon
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#4501 Preserve the is_dynamic property of classes when importing them
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
Labels: toolchain

#4513 Add missing `#include`
  explorer/interpreter/type_utils.h
Labels: explorer

#4510 Look in libraries associated with the interface
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
Labels: toolchain

#4512 Collect timing data per unit for each phase
  toolchain/base/BUILD
  toolchain/base/timings.h
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/driver/BUILD
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/driver/testdata/dump_timings.carbon
Labels: toolchain

#4518 Add `facet_types()` accessor to `Check::Context`
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/check/subst.cpp
Labels: toolchain

#4487 Canonicalize away bit width and embed small integers into `IntId`s
  toolchain/base/BUILD
  toolchain/base/int_store.cpp
  toolchain/base/int_store.h
  toolchain/base/int_store_test.cpp
  toolchain/base/shared_value_stores.h
  toolchain/base/shared_value_stores_test.cpp
  toolchain/base/value_ids.h
  toolchain/base/value_store_test.cpp
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/driver/testdata/dump_shared_values.carbon
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lower/constant.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.h
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/type.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4520 Follow-up to #4487 to fix file names
  toolchain/base/BUILD
  toolchain/base/int.cpp
  toolchain/base/int.h
  toolchain/base/int_test.cpp
  toolchain/base/shared_value_stores.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.h
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4521 Fix bazel-bin invocations of run_tool
  toolchain/install/run_tool.bzl
Labels: toolchain

#4524 Support extended scopes that are parameterized types
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/deduce.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/class/base.carbon
  toolchain/check/testdata/class/base_field.carbon
  toolchain/check/testdata/class/base_function_unqualified.carbon
  toolchain/check/testdata/class/base_method.carbon
  toolchain/check/testdata/class/base_method_qualified.carbon
  toolchain/check/testdata/class/base_method_shadow.carbon
  toolchain/check/testdata/class/compound_field.carbon
  toolchain/check/testdata/class/derived_to_base.carbon
  toolchain/check/testdata/class/extend_adapt.carbon
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/check/testdata/class/fail_adapt_modifiers.carbon
  toolchain/check/testdata/class/fail_adapt_with_subobjects.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_base_method_define.carbon
  toolchain/check/testdata/class/fail_base_modifiers.carbon
  toolchain/check/testdata/class/fail_base_repeated.carbon
  toolchain/check/testdata/class/fail_base_unbound.carbon
  toolchain/check/testdata/class/fail_derived_to_base.carbon
  toolchain/check/testdata/class/fail_extend_cycle.carbon
  toolchain/check/testdata/class/generic/base_is_generic.carbon
  toolchain/check/testdata/class/import_base.carbon
  toolchain/check/testdata/class/inheritance_access.carbon
  toolchain/check/testdata/class/self_conversion.carbon
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/check/testdata/impl/extend_impl.carbon
  toolchain/check/testdata/impl/extend_impl_generic.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/fail_extend_impl_type_as.carbon
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/fail_extend_undefined_interface.carbon
  toolchain/check/testdata/impl/lookup/fail_todo_undefined_impl.carbon
  toolchain/check/testdata/impl/lookup/instance_method.carbon
  toolchain/check/testdata/impl/multiple_extend.carbon
  toolchain/check/testdata/impl/no_prelude/import_extend_impl.carbon
  toolchain/check/testdata/interface/no_prelude/fail_lookup_in_type_type.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#4523 Add builtin for performing checked conversion between integer types.
  toolchain/check/eval.cpp
  toolchain/check/testdata/builtins/int/convert_checked.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/handle_call.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
  toolchain/sem_ir/builtin_function_kind.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/type.h
Labels: toolchain

#4522 Fix up busybox detection for relative symlinks
  toolchain/install/BUILD
  toolchain/install/busybox_info.h
  toolchain/install/busybox_info_test.cpp
  toolchain/install/busybox_main.cpp
Labels: toolchain

#4528 Test an absolute symlink
  toolchain/install/busybox_info_test.cpp
Labels: toolchain

#4529 Add a small lowering test with an imported argument.
  toolchain/lower/testdata/packages/cross_package_call.carbon
Labels: toolchain

#4530 Update LLVM
  MODULE.bazel
  toolchain/driver/clang_runner.cpp
  toolchain/lower/file_context.cpp
Labels: infrastructure, toolchain

#4531 Try running 'bazel cquery //...' before target-determinator
  .github/actions/test-setup/action.yml
Labels: infrastructure

#4533 Add support for scoped timings.
  toolchain/base/timings.h
  toolchain/check/check.cpp
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#4539 Use std::ranges::any_of instead of std::any_of
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#4540 Suppress readability-enum-initial-value in clang-tidy
  .clang-tidy
Labels: infrastructure

#4541 Reconstruct rational for disabled clang-tidy checks.
  .clang-tidy
  scripts/run_clang_tidy.py
Labels: infrastructure

#4525 Add prelude support for implicit conversion between integer literals and sized integer types.
  core/prelude/operators/as.carbon
  toolchain/check/call.cpp
  toolchain/check/eval.cpp
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/as/overloaded.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_derived_to_base.carbon
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/self.carbon
  toolchain/check/testdata/function/generic/resolve_used.carbon
  toolchain/check/testdata/impl/fail_impl_bad_interface.carbon
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/interface/fail_assoc_const_bad_default.carbon
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/implicit_as.carbon
  toolchain/check/testdata/operators/overloaded/index.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
Labels: toolchain

#4542 Use llvm::any_of instead of std::ranges::any_of
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#4536 Add blank lines betweeen EntityWithParamsBase members.
  toolchain/sem_ir/entity_with_params_base.h
Labels: toolchain

#4544 Allow `extend adapt` of non-class types.
  toolchain/check/context.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/class/extend_adapt.carbon
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/check/testdata/class/fail_adapt_bad_decl.carbon
  toolchain/check/testdata/packages/no_prelude/export_name.carbon
  toolchain/check/testdata/pointer/fail_deref_error.carbon
  toolchain/check/testdata/pointer/fail_deref_function.carbon
  toolchain/check/testdata/pointer/fail_deref_namespace.carbon
  toolchain/check/testdata/pointer/fail_deref_not_pointer.carbon
  toolchain/check/testdata/pointer/fail_deref_type.carbon
  toolchain/check/testdata/struct/fail_access_into_invalid.carbon
  toolchain/check/testdata/struct/fail_duplicate_name.carbon
  toolchain/check/testdata/struct/fail_member_of_function.carbon
  toolchain/check/testdata/struct/no_prelude/fail_nested_incomplete.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/fail_not_facet.carbon
Labels: toolchain

#4538 Suppress readability-redundant-member-init
  .clang-tidy
  toolchain/driver/driver_subcommand.h
Labels: infrastructure, toolchain

#4547 Correct name of ComparableFromDifference in Generics details
  docs/design/generics/details.md
Labels: documentation

#4537 Propagate `llvm::vfs::FileSystem` from `driver_env` to Clang
  explorer/file_test.cpp
  testing/base/source_gen_test.cpp
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  toolchain/check/check_fuzzer.cpp
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner.h
  toolchain/driver/clang_runner_test.cpp
  toolchain/driver/clang_subcommand.cpp
  toolchain/driver/compile_benchmark.cpp
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_env.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_test.cpp
  toolchain/driver/format_subcommand.cpp
  toolchain/driver/link_subcommand.cpp
  toolchain/install/busybox_main.cpp
  toolchain/install/install_paths_test_helpers.cpp
  toolchain/install/install_paths_test_helpers.h
  toolchain/sem_ir/yaml_test.cpp
  toolchain/testing/file_test.cpp
Labels: toolchain

#4549 Update pre-commit config
  .pre-commit-config.yaml
  common/raw_hashtable_metadata_group.h
  docs/design/code_and_name_organization/README.md
  docs/project/contribution_tools.md
  docs/project/pull_request_workflow.md
  toolchain/sem_ir/id_kind.h
Labels: infrastructure, toolchain, documentation

#4546 Drop std:: on size_t in various spots.
  testing/fuzzing/libfuzzer.h
  toolchain/check/check.cpp
  toolchain/check/check_fuzzer.cpp
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/lex/numeric_literal_fuzzer.cpp
  toolchain/lex/string_literal_fuzzer.cpp
  toolchain/lex/tokenized_buffer_fuzzer.cpp
  toolchain/parse/extract.cpp
  toolchain/parse/parse_fuzzer.cpp
  toolchain/sem_ir/block_value_store.h
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/typed_insts_test.cpp
Labels: toolchain

#4550 Change prettier to a direct node use.
  .pre-commit-config.yaml
  .prettierrc.yaml
  docs/design/pattern_matching.md
  docs/design/values.md
  proposals/p0107.md
  proposals/p1083.md
  proposals/p2188.md
  proposals/p2550.md
  proposals/p3564.md
  proposals/p3720.md
Labels: infrastructure, documentation

#4555 Rename the builtin FloatType to LegacyFloatType, Error to ErrorInst
  toolchain/check/call.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/interface.cpp
  toolchain/check/member_access.cpp
  toolchain/check/operator.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/return.cpp
  toolchain/check/scope_stack.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_inst_kind.def
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/impl.h
Labels: toolchain

#4552 Have sh_test directly invoke benchmarks
  common/BUILD
  common/map_benchmark_test.sh
  common/raw_hashtable_metadata_group_benchmark_test.sh
  common/set_benchmark_test.sh
  toolchain/driver/BUILD
  toolchain/driver/compile_benchmark_test.sh
Labels: toolchain

#4553 Reject/error on base declarations that appear after field declarations
  toolchain/check/.handle_class.cpp.swn
  toolchain/check/.handle_class.cpp.swo
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/class/base.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4567 Switch to our custom benchmark main.
  common/BUILD
Labels: toolchain

#4569 Fix comment in test
  toolchain/check/testdata/impl/no_prelude/self_in_class.carbon
Labels: toolchain

#4558 Remove labels from the builtin inst kind macro
  toolchain/lower/mangler.cpp
  toolchain/sem_ir/builtin_inst_kind.cpp
  toolchain/sem_ir/builtin_inst_kind.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4554 Remove links to weekly sync and open discussion as these docs weren't updated for 2 years and link the Minutes folder instead
  CONTRIBUTING.md
Labels: documentation

#4571 Clarify what specific name in the Core package is looked for when diagnosing that the Core package is not found
  toolchain/check/context.cpp
  toolchain/check/testdata/alias/no_prelude/fail_aliased_name_in_diag.carbon
  toolchain/check/testdata/function/definition/no_prelude/fail_decl_param_mismatch.carbon
  toolchain/check/testdata/function/generic/no_prelude/fail_type_param_mismatch.carbon
  toolchain/check/testdata/impl/no_prelude/fail_impl_bad_type.carbon
  toolchain/check/testdata/impl/no_prelude/import_use_generic.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_not_constant.carbon
  toolchain/check/testdata/interface/no_prelude/fail_member_lookup.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/operators/overloaded/no_prelude/index.carbon
  toolchain/check/testdata/packages/no_prelude/missing_prelude.carbon
  toolchain/check/testdata/var/no_prelude/fail_init_type_mismatch.carbon
Labels: toolchain

#4570 Change the test timeouts for the benchmarks to moderate.
  common/BUILD
Labels: toolchain

#4573 Suppress unused-includes in clangd for false positives
  .clangd
Labels: infrastructure

#4563 Change how CheckParseTrees receives NodeLocConverters
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/check/sem_ir_diagnostic_converter.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/testdata/fail_missing_stdin_output.carbon
  toolchain/driver/testdata/stdin.carbon
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
Labels: toolchain

#4581 Remove vim swap files
  .gitignore
  toolchain/check/.handle_class.cpp.swn
  toolchain/check/.handle_class.cpp.swo
Labels: infrastructure, toolchain

#4565 element index init with vptr
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
Labels: toolchain

#4580 Update links to the DiagnosticConsumers
  toolchain/docs/diagnostics.md
Labels: toolchain

#4586 Refresh the ValueStore api description in idioms.md
  toolchain/docs/idioms.md
Labels: toolchain

#4587 Update idioms.md with changes to match the code now
  toolchain/docs/idioms.md
Labels: toolchain

#4588 Mark instructions that can be deduced through in `typed_insts.h`
  toolchain/check/deduce.cpp
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4589 Make facet type deduction more restrictive and correct
  toolchain/check/deduce.cpp
Labels: toolchain

#4371 Facet member access
  toolchain/check/eval.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/interface/no_prelude/fail_member_lookup.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_facet_lookup.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4584 Switch most of `ImportRefResolver` to non-member functions
  toolchain/check/import_ref.cpp
Labels: toolchain

#4561 Simplify logic in `StringifyTypeExpr` using `push_string`
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#4578 Link to video for 2024 CppNorth talk
  README.md
Labels: documentation

#4585 Improve hashtable prefetching
  common/raw_hashtable.h
Labels: toolchain

#4592 Add "Whether to" in the description of 'debug-info' switch
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#4514 lazy field index
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/class/fail_adapt_with_subobjects.carbon
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/sem_ir/ids.h
Labels: toolchain

#4590 Symbolic aggregate access
  toolchain/check/eval.cpp
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_facet_lookup.carbon
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4568 Refactor command line errors to mirror diagnostic style
  common/BUILD
  common/command_line.cpp
  common/command_line.h
  common/command_line_test.cpp
  common/error.h
  common/error_test.cpp
  common/error_test_helpers.h
  testing/base/source_gen_main.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/driver_test.cpp
  toolchain/driver/testdata/fail_flag.carbon
Labels: toolchain

#4594 Add documentation for the three most common kinds of instruction operand
  toolchain/docs/check.md
Labels: toolchain

#4596 Don't print a comma in a two-item list.
  common/command_line.cpp
  common/command_line_test.cpp
Labels: toolchain

#4583 disallow impl without base
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4597 Refactor `StringifyTypeExpr`
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#4598 Use a switch in StringifyTypeExpr
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#4591 Add a test that verifies we prefer unqualified name lookup from a a non lexical scope over a lexical scope
  toolchain/check/testdata/function/call/prefer_unqualified_lookup.carbon
Labels: toolchain

#4600 Fix importing of the complete_type_witness for a generic class.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/alias/no_prelude/export_name.carbon
  toolchain/check/testdata/alias/no_prelude/import.carbon
  toolchain/check/testdata/alias/no_prelude/import_access.carbon
  toolchain/check/testdata/alias/no_prelude/import_order.carbon
  toolchain/check/testdata/class/cross_package_import.carbon
  toolchain/check/testdata/class/fail_import_misuses.carbon
  toolchain/check/testdata/class/generic/adapt.carbon
  toolchain/check/testdata/class/generic/base_is_generic.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/class/import_base.carbon
  toolchain/check/testdata/class/import_indirect.carbon
  toolchain/check/testdata/class/import_member_cycle.carbon
  toolchain/check/testdata/class/import_struct_cyle.carbon
  toolchain/check/testdata/class/no_prelude/export_name.carbon
  toolchain/check/testdata/class/no_prelude/extern.carbon
  toolchain/check/testdata/class/no_prelude/implicit_import.carbon
  toolchain/check/testdata/class/no_prelude/import_access.carbon
  toolchain/check/testdata/class/no_prelude/indirect_import_member.carbon
  toolchain/check/testdata/class/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_import_incomplete_return.carbon
  toolchain/check/testdata/function/definition/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/no_prelude/import_extend_impl.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
  toolchain/check/testdata/impl/no_prelude/import_use_generic.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/interface/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/namespace/merging_with_indirections.carbon
  toolchain/check/testdata/packages/no_prelude/cross_package_export.carbon
  toolchain/check/testdata/packages/no_prelude/export_import.carbon
  toolchain/check/testdata/packages/no_prelude/export_mixed.carbon
  toolchain/check/testdata/packages/no_prelude/export_name.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_member.carbon
  toolchain/check/testdata/packages/no_prelude/implicit_imports_entities.carbon
  toolchain/check/testdata/return/no_prelude/import_convert_function.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/lower/testdata/class/generic.carbon
Labels: toolchain
