Repository carbon-language/carbon-lang, pull requests merged in 2024-06, with the labels that each got.

#3993 Add utilities for managing a toolchain install, and install and use LLD.
  bazel/carbon_rules/defs.bzl
  bazel/check_deps/check_non_test_cc_deps.py
  explorer/file_test.cpp
  testing/file_test/BUILD
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  toolchain/check/check_fuzzer.cpp
  toolchain/driver/BUILD
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner.h
  toolchain/driver/clang_runner_test.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_main.cpp
  toolchain/driver/driver_test.cpp
  toolchain/install/BUILD
  toolchain/install/install_paths.cpp
  toolchain/install/install_paths.h
  toolchain/install/install_paths_test.cpp
  toolchain/install/symlink_filegroup.bzl
  toolchain/install/test_binary.cpp
  toolchain/sem_ir/yaml_test.cpp
  toolchain/testing/file_test.cpp
Labels: toolchain

#3994 Add very minimal support for packaging the toolchain.
  MODULE.bazel
  MODULE.bazel.lock
  toolchain/install/BUILD
Labels: toolchain

#3995 Move the core standard library to the installation.
  bazel/carbon_rules/defs.bzl
  core/BUILD
  toolchain/check/check_fuzzer.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_main.cpp
  toolchain/driver/driver_test.cpp
  toolchain/install/BUILD
  toolchain/install/install_paths.cpp
  toolchain/install/install_paths.h
  toolchain/install/install_paths_test.cpp
  toolchain/sem_ir/yaml_test.cpp
  toolchain/testing/file_test.cpp
Labels: explorer, toolchain

#4018 Enable a couple of boring warnings.
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  common/struct_reflection.h
  explorer/ast/bindings.cpp
  explorer/ast/statement.h
  explorer/file_test.cpp
  explorer/interpreter/heap.h
  explorer/syntax/BUILD
  explorer/syntax/lex_scan_helper.h
  language_server/language_server.cpp
  testing/file_test/file_test_base_test.cpp
  toolchain/check/context.cpp
  toolchain/install/install_paths.h
  toolchain/lex/lex.cpp
  toolchain/lex/numeric_literal.cpp
  toolchain/lex/token_kind.h
  toolchain/parse/context.h
  toolchain/testing/file_test.cpp
Labels: explorer, toolchain

#4021 Fix install_paths format string.
  toolchain/install/install_paths_test.cpp
Labels: toolchain

#4022 Remove a stale data dependency.
  toolchain/install/BUILD
Labels: toolchain

#4016 Add typed forms of `TokenIndex` for tokens with a known kind.
  toolchain/lex/BUILD
  toolchain/lex/token_index.h
  toolchain/parse/extract.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Labels: toolchain

#4024 Switch to the other repository name.
  toolchain/install/install_paths.cpp
  toolchain/install/install_paths_test.cpp
Labels: toolchain

#4020 Rename enclosing scope to parent scope
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/modifiers.cpp
  toolchain/check/modifiers.h
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/lower/file_context.cpp
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/sem_ir/bind_name.h
  toolchain/sem_ir/class.h
  toolchain/sem_ir/function.h
  toolchain/sem_ir/interface.h
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#4027 Switch decl_state to an arg for modifier functions
  toolchain/check/BUILD
  toolchain/check/context.h
  toolchain/check/decl_introducer_state.h
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_import_and_package.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/modifiers.cpp
  toolchain/check/modifiers.h
Labels: toolchain

#4028 For modifiers, get the TokenKind from DeclKind instead of argument.
  toolchain/check/decl_introducer_state.h
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_import_and_package.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/modifiers.cpp
  toolchain/check/modifiers.h
Labels: toolchain

#4030 Teach fuzzers to initialize their installs from runfiles.
  testing/fuzzing/libfuzzer.h
  toolchain/check/BUILD
  toolchain/check/check_fuzzer.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver_fuzzer.cpp
  toolchain/install/install_paths.h
Labels: toolchain

#4031 Add a macro for introducer tokens.
  toolchain/check/BUILD
  toolchain/check/decl_introducer_state.h
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_import_and_package.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/modifiers.cpp
  toolchain/lex/token_kind.def
  toolchain/lex/token_kind.h
Labels: toolchain

#4026 Add namespace-scoped private keyword support.
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/keyword_modifier_set.h
  toolchain/check/merge.cpp
  toolchain/check/testdata/alias/no_prelude/fail_todo_private.carbon
  toolchain/check/testdata/alias/no_prelude/import_access.carbon
  toolchain/check/testdata/class/fail_modifiers.carbon
  toolchain/check/testdata/class/fail_todo_modifiers.carbon
  toolchain/check/testdata/class/no_prelude/import_access.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_modifiers.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_todo_modifiers.carbon
  toolchain/check/testdata/function/definition/import_access.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_modifiers.carbon
  toolchain/check/testdata/interface/no_prelude/import_access.carbon
  toolchain/check/testdata/let/fail_todo_modifiers.carbon
  toolchain/check/testdata/let/no_prelude/import_access.carbon
  toolchain/check/testdata/var/no_prelude/fail_modifiers.carbon
  toolchain/check/testdata/var/no_prelude/fail_todo_modifiers.carbon
  toolchain/check/testdata/var/no_prelude/import_access.carbon
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#4039 Refactor SemIRDiagnosticConverter out of check.cpp
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/check/sem_ir_diagnostic_converter.h
Labels: toolchain

#4034 More support for generic interfaces, aiming for parity with support for generic classes.
  toolchain/check/BUILD
  toolchain/check/call.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/eval.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/fail_todo_use.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/redeclare.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/interface/no_prelude/fail_generic_redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/interface.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4041 Remove glob_sh_run
  bazel/sh_run/BUILD
  bazel/sh_run/exec.sh
  bazel/sh_run/rules.bzl
  explorer/BUILD
  toolchain/check/BUILD
  toolchain/lex/BUILD
  toolchain/lower/BUILD
  toolchain/parse/BUILD
Labels: explorer, toolchain

#4040 Merge check's handle_let and handle_variable files.
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_variable.cpp
Labels: toolchain

#4032 Start unifying let/var handling.
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/testdata/alias/fail_bool_value.carbon
  toolchain/check/testdata/alias/no_prelude/alias_of_alias.carbon
  toolchain/check/testdata/alias/no_prelude/fail_aliased_name_in_diag.carbon
  toolchain/check/testdata/alias/no_prelude/in_namespace.carbon
  toolchain/check/testdata/array/canonicalize_index.carbon
  toolchain/check/testdata/as/adapter_conversion.carbon
  toolchain/check/testdata/as/as_type.carbon
  toolchain/check/testdata/as/fail_no_conversion.carbon
  toolchain/check/testdata/as/fail_not_type.carbon
  toolchain/check/testdata/basics/builtin_types.carbon
  toolchain/check/testdata/basics/fail_numeric_literal_overflow.carbon
  toolchain/check/testdata/builtins/float/div.carbon
  toolchain/check/testdata/builtins/float/negate.carbon
  toolchain/check/testdata/builtins/int/and.carbon
  toolchain/check/testdata/builtins/int/complement.carbon
  toolchain/check/testdata/builtins/int/left_shift.carbon
  toolchain/check/testdata/builtins/int/or.carbon
  toolchain/check/testdata/builtins/int/right_shift.carbon
  toolchain/check/testdata/builtins/int/sadd.carbon
  toolchain/check/testdata/builtins/int/sdiv.carbon
  toolchain/check/testdata/builtins/int/smod.carbon
  toolchain/check/testdata/builtins/int/smul.carbon
  toolchain/check/testdata/builtins/int/snegate.carbon
  toolchain/check/testdata/builtins/int/ssub.carbon
  toolchain/check/testdata/builtins/int/uadd.carbon
  toolchain/check/testdata/builtins/int/udiv.carbon
  toolchain/check/testdata/builtins/int/umod.carbon
  toolchain/check/testdata/builtins/int/umul.carbon
  toolchain/check/testdata/builtins/int/unegate.carbon
  toolchain/check/testdata/builtins/int/usub.carbon
  toolchain/check/testdata/builtins/int/xor.carbon
  toolchain/check/testdata/class/fail_base_unbound.carbon
  toolchain/check/testdata/class/fail_field_modifiers.carbon
  toolchain/check/testdata/class/fail_member_of_let.carbon
  toolchain/check/testdata/class/init_adapt.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_not_binding.carbon
  toolchain/check/testdata/let/fail_generic_import.carbon
  toolchain/check/testdata/let/fail_missing_value.carbon
  toolchain/check/testdata/let/fail_modifiers.carbon
  toolchain/check/testdata/let/generic_import.carbon
  toolchain/check/testdata/let/global.carbon
  toolchain/check/testdata/let/import.carbon
  toolchain/check/testdata/let/no_prelude/import.carbon
  toolchain/check/testdata/let/no_prelude/import_access.carbon
  toolchain/check/testdata/operators/builtin/unary_op.carbon
  toolchain/check/testdata/pointer/fail_deref_error.carbon
  toolchain/check/testdata/struct/fail_duplicate_name.carbon
  toolchain/check/testdata/struct/two_entries.carbon
  toolchain/check/testdata/tuples/two_elements.carbon
Labels: toolchain

#4042 Import support for tuple, struct and integer values.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
  toolchain/parse/node_kind.def
  toolchain/sem_ir/ids.h
Labels: toolchain

#4043 Factor out common work of building a new constant for an imported instruction.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/interface/no_prelude/export_name.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
Labels: toolchain

#4050 Make representation of call to a generic class / interface more uniform.
  toolchain/check/call.cpp
  toolchain/check/eval.cpp
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/fail_todo_use.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
  toolchain/sem_ir/inst_kind.def
Labels: toolchain

#4051 Remove return_type_id from Function.
  toolchain/check/call.cpp
  toolchain/check/context.cpp
  toolchain/check/function.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/return.cpp
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
Labels: toolchain

#4053 Remove `inst_id` from the public interface of `ConstantId`.
  toolchain/check/context.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/check/operator.cpp
  toolchain/check/subst.cpp
  toolchain/lower/constant.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/type.h
Labels: toolchain

#4054 Introduce version and build info stamping.
  .bazelrc
  .github/workflows/tests.yaml
  bazel/version/BUILD
  bazel/version/compute_version.bzl
  bazel/version/gen_tmpl.py
  bazel/version/rules.bzl
  common/BUILD
  common/version.h
  common/version.tmpl.cpp
  common/version_stamp.tmpl.cpp
  scripts/fix_cc_deps.py
  scripts/workspace_status.py
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/install/BUILD
  toolchain/install/pkg_naming.bzl
  version_base.bzl
Labels: toolchain

#4056 Initial support for CR+LF (DOS / Windows) line endings.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer_test.cpp
Labels: toolchain

#4060 Fix linking to not look for a system libstdc++.
  toolchain/driver/driver.cpp
Labels: toolchain

#4055 Add automated nightly builds, uploaded as pre-releases.
  .github/actions/build-setup-common/action.yml
  .github/actions/build-setup-macos/action.yml
  .github/actions/build-setup-ubuntu/action.yml
  .github/workflows/nightly-release.yaml
  .github/workflows/tests.yaml
Labels: toolchain

#4058 Update bazel modules.
  .bazeliskrc
  MODULE.bazel
  MODULE.bazel.lock
  explorer/fuzzing/BUILD
Labels: explorer

#4064 Fix the installable archive build.
  .github/workflows/nightly-release.yaml
  toolchain/install/BUILD
  toolchain/install/pkg_helpers.bzl
  toolchain/install/pkg_naming.bzl
  toolchain/install/toolchain_tar_test.py
Labels: toolchain

#4069 Update FunctionContext::Inserter::InsertHelper for llvm changes
  MODULE.bazel
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
Labels: toolchain

#4070 Remove another hashtable iteraiton order dependency.
  toolchain/check/context.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.cpp
  toolchain/check/testdata/alias/no_prelude/export_name.carbon
  toolchain/check/testdata/alias/no_prelude/import_order.carbon
  toolchain/check/testdata/class/extern.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/class/import_base.carbon
  toolchain/check/testdata/class/import_forward_decl.carbon
  toolchain/check/testdata/class/import_member_cycle.carbon
  toolchain/check/testdata/class/no_prelude/indirect_import_member.carbon
  toolchain/check/testdata/function/declaration/import.carbon
  toolchain/check/testdata/function/definition/import.carbon
  toolchain/check/testdata/impl/lookup/import.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/no_prelude/import_self.carbon
  toolchain/check/testdata/interface/no_prelude/fail_duplicate.carbon
  toolchain/check/testdata/interface/no_prelude/import.carbon
  toolchain/check/testdata/operators/overloaded/ordered.carbon
  toolchain/check/testdata/packages/no_prelude/export_import.carbon
  toolchain/check/testdata/packages/no_prelude/export_mixed.carbon
  toolchain/check/testdata/packages/no_prelude/export_name.carbon
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#4063 Update google_benchmark and remove the patch
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/google_benchmark/0001-Use-libpfm-by-default-on-supported-platforms.patch
  bazel/google_benchmark/BUILD
Labels: explorer

#4078 Add a basic Core.Print function for ints.
  core/prelude.carbon
  examples/sieve.carbon
  toolchain/check/eval.cpp
  toolchain/check/testdata/builtins/print.carbon
  toolchain/codegen/codegen.cpp
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/builtins/print.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
Labels: toolchain

#4082 Treat constants with symbolic type as being symbolic.
  toolchain/check/eval.cpp
  toolchain/check/subst.cpp
  toolchain/check/testdata/array/generic_empty.carbon
  toolchain/sem_ir/inst.h
Labels: toolchain

#4079 Diagnose missing definitions in impl files
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/class/no_prelude/no_definition_in_impl_file.carbon
  toolchain/check/testdata/function/declaration/no_prelude/implicit_import.carbon
  toolchain/check/testdata/function/declaration/no_prelude/no_definition_in_impl_file.carbon
  toolchain/check/testdata/impl/no_prelude/no_definition_in_impl_file.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4083 Convert Python type hinting to be PEP-585 Compliant
  github_tools/github_helpers.py
  github_tools/pr_comments.py
  migrate_cpp/migrate_cpp.py
  scripts/check_header_guards.py
  scripts/fix_cc_deps.py
  scripts/scripts_utils.py
  scripts/source_stats.py
Labels: infrastructure

#4084 Prefer function-style cast instead of static_cast to convert integers to Ids.
  toolchain/check/subst.cpp
Labels: toolchain

#4085 Add `GenericInstance` type to represent instances of generics.
  toolchain/check/context.h
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/generic.cpp
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#4087 Use the correct type for `Self` in generic classes and generic interfaces
  toolchain/check/eval.cpp
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/subst.cpp
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/generic/basic.carbon
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/fail_todo_use.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_inline.carbon
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic/redeclare.carbon
  toolchain/check/testdata/class/generic/self.carbon
  toolchain/check/testdata/class/generic_method.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/interface/no_prelude/fail_generic_redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
Labels: toolchain

#4093 Fix some subtle UB found by MSan.
  common/raw_hashtable.h
Labels: toolchain
