Repository carbon-language/carbon-lang, pull requests merged in 2024-08, with the labels that each got.

#4179 Import support for generics and specifics
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/syntactic_merge_literal.carbon
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/impl/lookup/import.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/no_prelude/import_self.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/interface/no_prelude/import.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_once.carbon
  toolchain/check/testdata/operators/builtin/fail_unimplemented_op.carbon
  toolchain/check/testdata/operators/overloaded/add.carbon
  toolchain/check/testdata/operators/overloaded/bit_and.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/operators/overloaded/bit_or.carbon
  toolchain/check/testdata/operators/overloaded/bit_xor.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/div.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/left_shift.carbon
  toolchain/check/testdata/operators/overloaded/mod.carbon
  toolchain/check/testdata/operators/overloaded/mul.carbon
  toolchain/check/testdata/operators/overloaded/negate.carbon
  toolchain/check/testdata/operators/overloaded/ordered.carbon
  toolchain/check/testdata/operators/overloaded/right_shift.carbon
  toolchain/check/testdata/operators/overloaded/sub.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
  toolchain/sem_ir/generic.cpp
Labels: toolchain

#4180 When importing symbolic constants and types, also import the associated generic and index.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/function/declaration/import.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_import_incomplete_return.carbon
  toolchain/check/testdata/function/definition/import.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/namespace/merging_with_indirections.carbon
  toolchain/check/testdata/operators/overloaded/add.carbon
  toolchain/check/testdata/operators/overloaded/bit_and.carbon
  toolchain/check/testdata/operators/overloaded/bit_or.carbon
  toolchain/check/testdata/operators/overloaded/bit_xor.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/div.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/left_shift.carbon
  toolchain/check/testdata/operators/overloaded/mod.carbon
  toolchain/check/testdata/operators/overloaded/mul.carbon
  toolchain/check/testdata/operators/overloaded/right_shift.carbon
  toolchain/check/testdata/operators/overloaded/sub.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
Labels: toolchain

#4184 Initial rough support for deducing generic arguments in a call to a generic function.
  toolchain/check/BUILD
  toolchain/check/call.cpp
  toolchain/check/deduce.cpp
  toolchain/check/deduce.h
  toolchain/check/eval.cpp
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/check/testdata/class/generic/method_deduce.carbon
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/function/generic/redeclare.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/no_prelude/self_in_signature.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4185 Support 'bazel run //examples:sieve'
  bazel/carbon_rules/defs.bzl
Labels: infrastructure

#4187 Re-enable TCMalloc on Linux builds.
  .bazelrc
Labels: infrastructure

#4192 Update workflows for security hardening.
  .github/workflows/README.md
  .github/workflows/auto_assign_prs.yaml
  .github/workflows/auto_label_prs.yaml
  .github/workflows/discord_wiki.yaml
  .github/workflows/nightly_release.yaml
  .github/workflows/pre_commit.yaml
  .github/workflows/pre_commit_suggestions.yaml
  .github/workflows/proposal_labeled.yaml
  .github/workflows/proposal_ready.yaml
  .github/workflows/sync_repos.yaml
  .github/workflows/tests.yaml
  .github/workflows/triage_inactive.yaml
  docs/project/code_review.md
  proposals/p1367.md
Labels: infrastructure

#4193 Fix stray quote in action
  .github/workflows/discord_wiki.yaml
Labels: infrastructure

#4197 Fix typo introduced in #4167
  MODULE.bazel
Labels: infrastructure

#4194 Fix formatting for imported `impl`s.
  toolchain/check/testdata/impl/lookup/import.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#4195 Clean up: use across-decl comparison comparing interface.
  toolchain/check/member_access.cpp
Labels: toolchain

#4196 Fix importing of generic types.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/impl/no_prelude/import_self.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_once.carbon
  toolchain/check/testdata/operators/builtin/fail_unimplemented_op.carbon
  toolchain/check/testdata/operators/overloaded/add.carbon
  toolchain/check/testdata/operators/overloaded/bit_and.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/operators/overloaded/bit_or.carbon
  toolchain/check/testdata/operators/overloaded/bit_xor.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/div.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/left_shift.carbon
  toolchain/check/testdata/operators/overloaded/mod.carbon
  toolchain/check/testdata/operators/overloaded/mul.carbon
  toolchain/check/testdata/operators/overloaded/negate.carbon
  toolchain/check/testdata/operators/overloaded/ordered.carbon
  toolchain/check/testdata/operators/overloaded/right_shift.carbon
  toolchain/check/testdata/operators/overloaded/sub.carbon
Labels: toolchain

#4200 Rename check/testdata/tuples to remove the plural
  toolchain/check/testdata/tuple/fail_assign_nested.carbon
  toolchain/check/testdata/tuple/fail_element_type_mismatch.carbon
  toolchain/check/testdata/tuple/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuple/fail_too_few_element.carbon
  toolchain/check/testdata/tuple/fail_type_assign.carbon
  toolchain/check/testdata/tuple/fail_value_as_type.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/check/testdata/tuple/nested_tuple.carbon
  toolchain/check/testdata/tuple/nested_tuple_in_place.carbon
  toolchain/check/testdata/tuple/no_prelude/empty.carbon
  toolchain/check/testdata/tuple/no_prelude/fail_assign_empty.carbon
  toolchain/check/testdata/tuple/no_prelude/fail_assign_to_empty.carbon
  toolchain/check/testdata/tuple/one_element.carbon
  toolchain/check/testdata/tuple/two_elements.carbon
Labels: toolchain

#4198 Fix handling of interface redefinitions.
  toolchain/check/handle_interface.cpp
  toolchain/check/testdata/interface/no_prelude/fail_duplicate.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#4199 Treat the empty inst block as being canonical.
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/check/testdata/class/generic/basic.carbon
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/class/generic/member_inline.carbon
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic/self.carbon
  toolchain/check/testdata/class/generic_method.carbon
  toolchain/check/testdata/interface/fail_todo_define_default_fn_out_of_line.carbon
  toolchain/check/testdata/interface/no_prelude/fail_add_member_outside_definition.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#4201 Add indentation to yaml test failure output to make it easier to read.
  toolchain/testing/BUILD
  toolchain/testing/yaml_test_helpers.h
Labels: toolchain

#4205 add syntax highlighting for `x-macro` files
  .gitattributes
Labels: infrastructure

#4207 Comment fix: `AssociatedConstantDecl` isn't just for associated types
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3980 Singular `extern` declarations
  proposals/p3980.md
Labels: proposal, proposal rfc

#4202 Defer resolving the eval blocks and value blocks of generics and specifics until we've finished other resolution work.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/impl/lookup/import.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/no_prelude/import_self.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/interface/no_prelude/import.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_once.carbon
  toolchain/check/testdata/operators/builtin/fail_unimplemented_op.carbon
  toolchain/check/testdata/operators/overloaded/add.carbon
  toolchain/check/testdata/operators/overloaded/bit_and.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/operators/overloaded/bit_or.carbon
  toolchain/check/testdata/operators/overloaded/bit_xor.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/div.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/left_shift.carbon
  toolchain/check/testdata/operators/overloaded/mod.carbon
  toolchain/check/testdata/operators/overloaded/mul.carbon
  toolchain/check/testdata/operators/overloaded/negate.carbon
  toolchain/check/testdata/operators/overloaded/ordered.carbon
  toolchain/check/testdata/operators/overloaded/right_shift.carbon
  toolchain/check/testdata/operators/overloaded/sub.carbon
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/generic.cpp
Labels: toolchain

#4203 Basic support for implementing and using a parameterized interface.
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/handle_function.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/check/merge.cpp
  toolchain/check/merge.h
  toolchain/check/subst.cpp
  toolchain/check/subst.h
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/function/builtin/method.carbon
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/impl/compound.carbon
  toolchain/check/testdata/impl/extend_impl.carbon
  toolchain/check/testdata/impl/fail_call_invalid.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/impl_as.carbon
  toolchain/check/testdata/impl/impl_forall.carbon
  toolchain/check/testdata/impl/lookup/alias.carbon
  toolchain/check/testdata/impl/lookup/fail_todo_undefined_impl.carbon
  toolchain/check/testdata/impl/lookup/import.carbon
  toolchain/check/testdata/impl/lookup/instance_method.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/no_prelude/basic.carbon
  toolchain/check/testdata/impl/no_prelude/fail_impl_bad_type.carbon
  toolchain/check/testdata/impl/no_prelude/import_self.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/impl/no_prelude/self_in_class.carbon
  toolchain/check/testdata/impl/no_prelude/self_in_signature.carbon
  toolchain/check/testdata/interface/no_prelude/default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/interface/no_prelude/generic_vs_params.carbon
  toolchain/check/testdata/operators/overloaded/add.carbon
  toolchain/check/testdata/operators/overloaded/bit_and.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/operators/overloaded/bit_or.carbon
  toolchain/check/testdata/operators/overloaded/bit_xor.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/div.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/left_shift.carbon
  toolchain/check/testdata/operators/overloaded/mod.carbon
  toolchain/check/testdata/operators/overloaded/mul.carbon
  toolchain/check/testdata/operators/overloaded/negate.carbon
  toolchain/check/testdata/operators/overloaded/ordered.carbon
  toolchain/check/testdata/operators/overloaded/right_shift.carbon
  toolchain/check/testdata/operators/overloaded/sub.carbon
Labels: dependent, toolchain

#4075 Change operator precedence
  docs/design/expressions/README.md
  proposals/p4075.md
Labels: proposal, proposal rfc

#4206 Add fields for extern to EntityWithParamsBase
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/function.cpp
  toolchain/check/global_init.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.h
  toolchain/check/return.cpp
  toolchain/sem_ir/entity_with_params_base.h
  toolchain/sem_ir/function.h
Labels: toolchain

#4212 Update to a recent LLVM version and the changes to LLVM IR.
  MODULE.bazel
  toolchain/lower/testdata/array/assign_return_value.carbon
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/class/adapt.carbon
  toolchain/lower/testdata/class/base.carbon
  toolchain/lower/testdata/class/field.carbon
  toolchain/lower/testdata/class/self.carbon
  toolchain/lower/testdata/class/value_access.carbon
  toolchain/lower/testdata/function/call/tuple_param_with_return_slot.carbon
  toolchain/lower/testdata/impl/assoc_fn_alias.carbon
  toolchain/lower/testdata/impl/impl.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
  toolchain/lower/testdata/index/tuple_element_access.carbon
  toolchain/lower/testdata/index/tuple_return_value_access.carbon
  toolchain/lower/testdata/let/tuple.carbon
  toolchain/lower/testdata/operators/assignment.carbon
  toolchain/lower/testdata/operators/overloaded.carbon
  toolchain/lower/testdata/pointer/address_of_field.carbon
  toolchain/lower/testdata/return/return_var.carbon
  toolchain/lower/testdata/struct/member_access.carbon
  toolchain/lower/testdata/struct/nested_struct_in_place.carbon
  toolchain/lower/testdata/struct/one_entry.carbon
  toolchain/lower/testdata/struct/two_entries.carbon
  toolchain/lower/testdata/tuple/nested_tuple_in_place.carbon
  toolchain/lower/testdata/tuple/one_entry.carbon
  toolchain/lower/testdata/tuple/two_entries.carbon
  toolchain/lower/testdata/tuple/value_formation.carbon
  toolchain/lower/testdata/tuple/value_forwarding.carbon
Labels: infrastructure, toolchain

#4214 Fix a couple fn declarations in generics details
  docs/design/generics/details.md
Labels: documentation

#4211 Address the LocIdAndInst::ReusingLoc TODO
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/interface.cpp
  toolchain/check/pending_block.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4213 Update bazel version and zlib dep
  .bazeliskrc
  MODULE.bazel
  MODULE.bazel.lock
Labels: infrastructure, toolchain

#4215 Error on non-constant parameters to a type.
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/testdata/class/no_prelude/generic_vs_params.carbon
  toolchain/check/testdata/class/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/interface/no_prelude/generic_vs_params.carbon
  toolchain/check/testdata/interface/no_prelude/syntactic_merge.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4124 Introduce a source generator and end-to-end compile benchmarks
  common/BUILD
  common/benchmark_main.cpp
  common/benchmark_main.h
  testing/base/BUILD
  testing/base/source_gen.cpp
  testing/base/source_gen.h
  testing/base/source_gen_main.cpp
  testing/base/source_gen_test.cpp
  toolchain/driver/BUILD
  toolchain/driver/compile_benchmark.cpp
  toolchain/driver/compile_benchmark_test.sh
  toolchain/lex/BUILD
  toolchain/lex/tokenized_buffer_benchmark.cpp
Labels: toolchain

#4216 Refactor testing exe path and benchmark main handling.
  common/BUILD
  testing/base/BUILD
  testing/base/benchmark_main.cpp
  testing/base/global_exe_path.cpp
  testing/base/global_exe_path.h
  testing/base/global_exe_path_test.cpp
  testing/base/gtest_main.cpp
  testing/base/source_gen_test.cpp
  toolchain/driver/BUILD
  toolchain/driver/clang_runner_test.cpp
  toolchain/driver/compile_benchmark.cpp
  toolchain/driver/driver_test.cpp
  toolchain/install/BUILD
  toolchain/install/install_paths_test.cpp
  toolchain/lex/BUILD
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#4217 Adjust check's node formatting in crash output.
  toolchain/check/check.cpp
  toolchain/diagnostics/diagnostic.cpp
  toolchain/diagnostics/diagnostic.h
Labels: toolchain

#4218 change tuple index
  toolchain/check/handle_index.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/member_access.cpp
  toolchain/check/member_access.h
  toolchain/check/testdata/eval/aggregate.carbon
  toolchain/check/testdata/expr_category/in_place_tuple_init.carbon
  toolchain/check/testdata/function/call/more_param_ir.carbon
  toolchain/check/testdata/function/definition/import.carbon
  toolchain/check/testdata/index/fail_empty_tuple_access.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/index/fail_non_deterministic_type.carbon
  toolchain/check/testdata/index/fail_non_tuple_access.carbon
  toolchain/check/testdata/index/fail_out_of_bound_not_literal.carbon
  toolchain/check/testdata/index/fail_tuple_index_error.carbon
  toolchain/check/testdata/index/fail_tuple_large_index.carbon
  toolchain/check/testdata/index/fail_tuple_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_tuple_out_of_bound_access.carbon
  toolchain/check/testdata/index/index_not_literal.carbon
  toolchain/check/testdata/index/tuple_element_access.carbon
  toolchain/check/testdata/index/tuple_return_value_access.carbon
  toolchain/check/testdata/let/convert.carbon
  toolchain/check/testdata/operators/builtin/assignment.carbon
  toolchain/check/testdata/pointer/address_of_lvalue.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/testdata/class/value_access.carbon
  toolchain/lower/testdata/function/call/tuple_param_with_return_slot.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
  toolchain/lower/testdata/index/tuple_element_access.carbon
  toolchain/lower/testdata/index/tuple_return_value_access.carbon
  toolchain/lower/testdata/let/tuple.carbon
  toolchain/parse/handle_period.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.def
  toolchain/parse/node_kind.h
  toolchain/parse/testdata/basics/fail_invalid_designators.carbon
  toolchain/parse/testdata/index/tuple_index.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4222 Fix bumper labeling for accessibility
  README.md
Labels: documentation

#4219 Factor library names into their own ID structure.
  toolchain/check/check.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.h
Labels: toolchain

#4226 move tuple testdata from `index/` to `tuple/access`
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/tuple/access/element_access.carbon
  toolchain/check/testdata/tuple/access/fail_access_error.carbon
  toolchain/check/testdata/tuple/access/fail_empty_access.carbon
  toolchain/check/testdata/tuple/access/fail_large_index.carbon
  toolchain/check/testdata/tuple/access/fail_negative_indexing.carbon
  toolchain/check/testdata/tuple/access/fail_non_deterministic_type.carbon
  toolchain/check/testdata/tuple/access/fail_non_int_indexing.carbon
  toolchain/check/testdata/tuple/access/fail_non_tuple_access.carbon
  toolchain/check/testdata/tuple/access/fail_out_of_bound_access.carbon
  toolchain/check/testdata/tuple/access/fail_out_of_bound_not_literal.carbon
  toolchain/check/testdata/tuple/access/index_not_literal.carbon
  toolchain/check/testdata/tuple/access/return_value_access.carbon
  toolchain/lower/testdata/tuple/access/element_access.carbon
  toolchain/lower/testdata/tuple/access/return_value_access.carbon
  toolchain/parse/testdata/tuple/access/value_access.carbon
Labels: toolchain

#4227 Modify toolchain/autoupdate_testdata.py to use scripts/scripts_utils.py
  toolchain/autoupdate_testdata.py
Labels: infrastructure, toolchain

#4224 Document the export keyword
  docs/design/code_and_name_organization/README.md
  docs/design/lexical_conventions/words.md
Labels: documentation

#4223 Add docs for raw identifier syntax.
  docs/design/lexical_conventions/words.md
Labels: documentation

#4228 Lower global variables
  toolchain/check/global_init.cpp
  toolchain/lower/BUILD
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.h
  toolchain/lower/testdata/global/class_obj.carbon
  toolchain/lower/testdata/global/class_with_fun.carbon
  toolchain/lower/testdata/global/decl.carbon
  toolchain/lower/testdata/global/simple_init.carbon
  toolchain/lower/testdata/global/simple_with_fun.carbon
  toolchain/sem_ir/file.h
Labels: toolchain

#4189 Build a website.
  .codespell_ignore
  .github/workflows/gh_pages_ci.yaml
  .github/workflows/gh_pages_deploy.yaml
  .pre-commit-config.yaml
  SECURITY.md
  docs/images/snippets.md
  explorer/README.md
  explorer/ast/README.md
  explorer/syntax/README.md
  testing/README.md
  testing/file_test/README.md
  website/.ruby-version
  website/404.md
  website/Gemfile
  website/Gemfile.lock
  website/README.md
  website/_config.yml
  website/_includes/footer_custom.html
  website/_includes/nav_footer_custom.html
  website/_sass/custom/custom.scss
  website/_sass/custom/setup.scss
  website/favicon.png
  website/implementation.md
  website/prebuild.py
Labels: infrastructure, documentation

#4234 Minor updates to support newer Clang versions.
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  explorer/interpreter/pattern_analysis.cpp
Labels: explorer, infrastructure

#4230 Add documentation for entity declaration design work
  docs/design/declaring_entities.md
Labels: documentation

#4235 Switch python syntax to use Path.parents
  bazel/check_deps/update_roots.py
  scripts/run_clang_tidy.py
  scripts/scripts_utils.py
  toolchain/autoupdate_testdata.py
  toolchain/diagnostics/check_diagnostics.py
  toolchain/install/toolchain_tar_test.py
  website/prebuild.py
Labels: infrastructure, toolchain

#4237 Report invalid parse on `var x: i32 = {.7 = 8}`
  toolchain/parse/handle_period.cpp
  toolchain/parse/testdata/struct/fail_invalid_struct_designator.carbon
Labels: toolchain

#4238 Remove some explicit (Mutable)ArrayRef constructions
  common/hashing_test.cpp
  common/raw_hashtable_metadata_group_benchmark.cpp
  toolchain/driver/driver.cpp
Labels: toolchain

#4239 Remove excess use of auto on initializers (auto x = Y(z) -> Y x(z))
  explorer/syntax/parse.cpp
  migrate_cpp/cpp_refactoring/matcher.cpp
  testing/base/source_gen.cpp
  toolchain/base/value_store.h
  toolchain/check/import_ref.cpp
  toolchain/check/subst.cpp
  toolchain/lex/lex.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/sem_ir/inst_namer.cpp
Labels: explorer, toolchain

#4236 Implement new precedence from #4075
  toolchain/parse/precedence.cpp
  toolchain/parse/precedence_test.cpp
  toolchain/parse/testdata/operators/fail_precedence_as.carbon
  toolchain/parse/testdata/operators/precedence_as.carbon
  toolchain/parse/testdata/operators/recover_star_minus.carbon
  toolchain/parse/testdata/operators/recover_star_star.carbon
  toolchain/parse/testdata/operators/three_stars.carbon
  toolchain/parse/testdata/pointer/fail_pointer_type_in_expr.carbon
  toolchain/parse/testdata/pointer/pointer_type.carbon
Labels: toolchain

#4245 Collection of minor tweaks to get approx. 10-15% compile time
  common/vlog.h
  toolchain/base/value_store.h
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/ids.h
Labels: toolchain

#4244 Teach source generation to reference more interesting types.
  testing/base/source_gen.cpp
  testing/base/source_gen.h
Labels: toolchain

#4241 Add link for coherence appendix to Swift forums
  docs/design/generics/appendix-coherence.md
Labels: documentation

#4249 Fix crash when disabling debug info
  toolchain/lower/function_context.cpp
  toolchain/lower/testdata/debug/nodebug.carbon
Labels: toolchain

#4256 Change branch-to-fatal to check condition
  toolchain/lower/file_context.cpp
Labels: toolchain

#4257 Add test coverage for lowering raw identifiers in function names
  toolchain/lower/testdata/function/definition/raw_name.carbon
Labels: toolchain

#4258 Fix indirect import handling for functions.
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/merge.cpp
  toolchain/check/merge.h
  toolchain/check/testdata/function/declaration/import.carbon
  toolchain/check/testdata/function/declaration/no_prelude/extern.carbon
  toolchain/check/testdata/function/declaration/no_prelude/extern_library.carbon
  toolchain/check/testdata/function/declaration/no_prelude/implicit_import.carbon
  toolchain/check/testdata/function/definition/import.carbon
  toolchain/check/testdata/function/definition/no_prelude/extern.carbon
  toolchain/check/testdata/function/definition/no_prelude/extern_library.carbon
  toolchain/check/testdata/function/definition/no_prelude/implicit_import.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4263 Rename DotOrArrow to PeriodOrArrow
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_period.cpp
  toolchain/parse/testdata/struct/fail_period_only.carbon
  toolchain/parse/testdata/struct/fail_period_paren.carbon
  toolchain/parse/testdata/struct/fail_period_string_colon.carbon
  toolchain/parse/testdata/struct/fail_period_string_equals.carbon
Labels: toolchain

#4260 Fix match code to consistently diagnose invalid parses.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_match.cpp
  toolchain/parse/testdata/match/fail_missing_guard_close_paren.carbon
  toolchain/parse/testdata/match/fail_missing_guard_open_paren.carbon
Labels: toolchain

#4250 Update group documentation
  docs/project/groups.md
Labels: documentation

#4254 Parsing of designators like `.x` or `.Self`
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/where_expr/no_prelude/fail_designator.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/where_expr/designators.carbon
  toolchain/parse/typed_nodes.h
Labels: toolchain

#4261 Fix parse to use the error tracking consumer for has_errors_.
  toolchain/parse/context.cpp
  toolchain/parse/parse.cpp
  toolchain/parse/testdata/operators/fail_infix_uneven_space_before.carbon
  toolchain/parse/testdata/operators/fail_postfix_space.carbon
  toolchain/parse/testdata/operators/fail_postfix_space_before_comma.carbon
  toolchain/parse/testdata/operators/fail_postfix_space_in_call.carbon
  toolchain/parse/testdata/operators/fail_postfix_space_surrounding.carbon
  toolchain/parse/testdata/operators/fail_prefix_repeat.carbon
  toolchain/parse/testdata/operators/fail_prefix_space.carbon
  toolchain/parse/testdata/operators/fail_prefix_uneven_space_with_assign.carbon
  toolchain/parse/testdata/operators/fail_star_minus.carbon
  toolchain/parse/testdata/operators/fail_star_star.carbon
  toolchain/parse/tree.h
Labels: toolchain

#4265 Add source locations to `interface_witness` and `interface_witness_access` instructions.
  toolchain/check/impl.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/function/builtin/method.carbon
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/impl/compound.carbon
  toolchain/check/testdata/impl/empty.carbon
  toolchain/check/testdata/impl/extend_impl.carbon
  toolchain/check/testdata/impl/fail_call_invalid.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/fail_extend_impl_scope.carbon
  toolchain/check/testdata/impl/fail_extend_impl_type_as.carbon
  toolchain/check/testdata/impl/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/fail_redefinition.carbon
  toolchain/check/testdata/impl/impl_as.carbon
  toolchain/check/testdata/impl/impl_forall.carbon
  toolchain/check/testdata/impl/lookup/alias.carbon
  toolchain/check/testdata/impl/lookup/fail_todo_undefined_impl.carbon
  toolchain/check/testdata/impl/lookup/import.carbon
  toolchain/check/testdata/impl/lookup/instance_method.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/no_prelude/basic.carbon
  toolchain/check/testdata/impl/no_prelude/fail_impl_bad_type.carbon
  toolchain/check/testdata/impl/no_prelude/import_self.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/impl/no_prelude/no_definition_in_impl_file.carbon
  toolchain/check/testdata/impl/no_prelude/self_in_class.carbon
  toolchain/check/testdata/impl/no_prelude/self_in_signature.carbon
  toolchain/check/testdata/impl/redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/interface/no_prelude/generic_vs_params.carbon
  toolchain/check/testdata/operators/overloaded/add.carbon
  toolchain/check/testdata/operators/overloaded/bit_and.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/operators/overloaded/bit_or.carbon
  toolchain/check/testdata/operators/overloaded/bit_xor.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/div.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/left_shift.carbon
  toolchain/check/testdata/operators/overloaded/mod.carbon
  toolchain/check/testdata/operators/overloaded/mul.carbon
  toolchain/check/testdata/operators/overloaded/negate.carbon
  toolchain/check/testdata/operators/overloaded/ordered.carbon
  toolchain/check/testdata/operators/overloaded/right_shift.carbon
  toolchain/check/testdata/operators/overloaded/sub.carbon
  toolchain/lower/testdata/builtins/overloaded_operator.carbon
  toolchain/lower/testdata/operators/overloaded.carbon
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4262 Cleanup unused node_subtree_size
  toolchain/parse/tree.h
Labels: toolchain

#4266 Make the nightly instructions work without modification.
  README.md
Labels: documentation

#4264 Enforce that the parse node for an instruction has the kind specified in the instruction definition
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/generic.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/impl.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/interface.cpp
  toolchain/check/member_access.cpp
  toolchain/check/pending_block.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain
