Repository carbon-language/carbon-lang, pull requests merged in 2024-03, with the labels that each got.

#3738 chore: fix typos
  common/hashing.h
  docs/design/generics/details.md
  explorer/ast/pattern.h
  explorer/base/trace_stream.h
  proposals/p0339.md
  proposals/p2760.md
  toolchain/lex/tokenized_buffer.cpp
  toolchain/parse/handle_expr.cpp
Labels: explorer, toolchain

#3739 Expand handling of function redeclarations.
  toolchain/check/BUILD
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/class/fail_redefinition.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/function/declaration/fail_redecl.carbon
  toolchain/check/testdata/function/definition/fail_decl_param_mismatch.carbon
  toolchain/check/testdata/function/definition/fail_redef.carbon
  toolchain/check/testdata/namespace/fail_duplicate.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3740 Add `Self` into scope in interface definitions and using facets as types.
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/impl/basic.carbon
  toolchain/check/testdata/impl/declaration.carbon
  toolchain/check/testdata/impl/empty.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/fail_extend_impl_scope.carbon
  toolchain/check/testdata/impl/fail_extend_impl_type_as.carbon
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/fail_impl_bad_type.carbon
  toolchain/check/testdata/impl/fail_redefinition.carbon
  toolchain/check/testdata/impl/fail_todo_extend_impl.carbon
  toolchain/check/testdata/impl/impl_as.carbon
  toolchain/check/testdata/impl/impl_forall.carbon
  toolchain/check/testdata/impl/redeclaration.carbon
  toolchain/check/testdata/interface/as_type.carbon
  toolchain/check/testdata/interface/as_type_of_type.carbon
  toolchain/check/testdata/interface/assoc_const.carbon
  toolchain/check/testdata/interface/basic.carbon
  toolchain/check/testdata/interface/fail_add_member_outside_definition.carbon
  toolchain/check/testdata/interface/fail_assoc_const_bad_default.carbon
  toolchain/check/testdata/interface/fail_assoc_const_not_binding.carbon
  toolchain/check/testdata/interface/fail_assoc_const_not_constant.carbon
  toolchain/check/testdata/interface/fail_assoc_const_template.carbon
  toolchain/check/testdata/interface/fail_duplicate.carbon
  toolchain/check/testdata/interface/fail_lookup_undefined.carbon
  toolchain/check/testdata/interface/fail_member_lookup.carbon
  toolchain/check/testdata/interface/fail_modifiers.carbon
  toolchain/check/testdata/interface/fail_redeclare_member.carbon
  toolchain/check/testdata/interface/fail_todo_assoc_const_default.carbon
  toolchain/check/testdata/interface/fail_todo_define_out_of_line.carbon
  toolchain/check/testdata/interface/fail_todo_facet_lookup.carbon
  toolchain/check/testdata/interface/fail_todo_import.carbon
  toolchain/check/testdata/interface/fail_todo_modifiers.carbon
  toolchain/check/testdata/interface/import.carbon
  toolchain/check/testdata/interface/self.carbon
  toolchain/lower/handle_type.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/interface.h
  toolchain/sem_ir/type.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3742 Offer GetTypeIdForTypeInst
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_interface.cpp
Labels: toolchain

#3743 Initial scaffolding for building a witness table for an `impl`.
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl.h
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/impl/basic.carbon
  toolchain/check/testdata/impl/empty.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/fail_extend_impl_scope.carbon
  toolchain/check/testdata/impl/fail_extend_impl_type_as.carbon
  toolchain/check/testdata/impl/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/fail_impl_bad_interface.carbon
  toolchain/check/testdata/impl/fail_impl_bad_type.carbon
  toolchain/check/testdata/impl/fail_redefinition.carbon
  toolchain/check/testdata/impl/fail_todo_extend_impl.carbon
  toolchain/check/testdata/impl/impl_as.carbon
  toolchain/check/testdata/impl/impl_forall.carbon
  toolchain/check/testdata/impl/redeclaration.carbon
  toolchain/lower/handle.cpp
  toolchain/sem_ir/builtin_kind.def
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3755 Add framework for the extern keyword.
  toolchain/check/decl_state.h
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/modifiers.cpp
  toolchain/check/modifiers.h
  toolchain/check/testdata/alias/fail_modifiers.carbon
  toolchain/check/testdata/class/fail_modifiers.carbon
  toolchain/check/testdata/function/declaration/fail_modifiers.carbon
  toolchain/check/testdata/namespace/fail_modifiers.carbon
  toolchain/lex/token_kind.def
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/class/introducer.carbon
  toolchain/parse/testdata/function/declaration/basic.carbon
  toolchain/parse/testdata/function/definition/basic.carbon
  toolchain/parse/testdata/namespace/modifiers.carbon
Labels: toolchain

#3747 Augment the file_test framework to allow per-file fail checks.
  explorer/file_test.cpp
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/testdata/fail_multi_success_overall_fail.carbon
  testing/file_test/testdata/multi_success.carbon
  testing/file_test/testdata/multi_success_and_fail.carbon
  toolchain/check/check_fuzzer.cpp
  toolchain/check/testdata/class/fail_import_misuses.carbon
  toolchain/check/testdata/class/fail_todo_import_forward_decl.carbon
  toolchain/check/testdata/function/definition/fail_todo_import_forward_decl.carbon
  toolchain/check/testdata/interface/fail_todo_import.carbon
  toolchain/check/testdata/let/fail_generic_import.carbon
  toolchain/check/testdata/namespace/fail_conflict_after_merge.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_second.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_second.carbon
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_conflict_no_namespaces.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_duplicate_api.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
  toolchain/check/testdata/packages/fail_import_default.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/fail_import_repeat.carbon
  toolchain/check/testdata/packages/fail_import_type_error.carbon
  toolchain/check/testdata/packages/fail_name_with_import_failure.carbon
  toolchain/check/testdata/packages/fail_package_main.carbon
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_main.cpp
  toolchain/driver/driver_test.cpp
  toolchain/driver/testdata/fail_errors_in_two_files.carbon
  toolchain/lex/testdata/fail_multifile.carbon
  toolchain/parse/testdata/array/fail_syntax.carbon
  toolchain/parse/testdata/packages/library/fail_invalid_name.carbon
  toolchain/testing/file_test.cpp
Labels: explorer, toolchain

#3756 Form the contents of the witness table.
  toolchain/check/BUILD
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/impl.cpp
  toolchain/check/testdata/impl/basic.carbon
  toolchain/check/testdata/impl/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_const.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/fail_todo_extend_impl.carbon
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/impl/fail_todo_self_in_signature.carbon
  toolchain/check/testdata/impl/impl_as.carbon
  toolchain/check/testdata/impl/impl_forall.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3760 Rename parse_node -> node_id
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/eval.cpp
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_choice.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_codeblock.cpp
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/handle_file.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_import_and_package.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_match.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_named_constraint.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_noop.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/handle_return_statement.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/impl.cpp
  toolchain/check/interface.cpp
  toolchain/check/modifiers.cpp
  toolchain/check/node_stack.cpp
  toolchain/check/node_stack.h
  toolchain/check/pending_block.h
  toolchain/check/return.cpp
  toolchain/check/return.h
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_pattern_list.cpp
  toolchain/parse/node_kind.h
  toolchain/sem_ir/constant.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3774 Factor member name lookup out of `handle_name.cpp`.
  toolchain/check/BUILD
  toolchain/check/handle_name.cpp
  toolchain/check/member_access.cpp
  toolchain/check/member_access.h
Labels: toolchain

#3772 Remove legacy repo_name settings
  MODULE.bazel
  MODULE.bazel.lock
  bazel/check_deps/check_non_test_cc_deps.py
  common/BUILD
  explorer/BUILD
  explorer/ast/BUILD
  explorer/base/BUILD
  explorer/fuzzing/BUILD
  explorer/parse_and_execute/BUILD
  explorer/syntax/BUILD
  migrate_cpp/BUILD
  migrate_cpp/cpp_refactoring/BUILD
  scripts/fix_cc_deps.py
  scripts/forbid_llvm_googletest.py
  testing/base/BUILD
  testing/file_test/BUILD
  testing/file_test/README.md
  testing/fuzzing/BUILD
  third_party/libprotobuf_mutator/BUILD.txt
  toolchain/base/BUILD
  toolchain/diagnostics/BUILD
  toolchain/driver/BUILD
  toolchain/lex/BUILD
  toolchain/parse/BUILD
  toolchain/sem_ir/BUILD
  toolchain/source/BUILD
  toolchain/testing/BUILD
Labels: explorer, toolchain

#3773 Add support to fix_cc_deps for canonicalizing #include style.
  scripts/fix_cc_deps.py
Labels: explorer, toolchain

#3775 Refactor member lookup in preparation for adding impl lookup.
  toolchain/check/member_access.cpp
  toolchain/check/testdata/class/base.carbon
  toolchain/check/testdata/class/base_field.carbon
  toolchain/check/testdata/class/base_method.carbon
  toolchain/check/testdata/class/base_method_shadow.carbon
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/check/testdata/class/fail_addr_self.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_memaccess_category.carbon
  toolchain/check/testdata/class/fail_method.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/class/field_access.carbon
  toolchain/check/testdata/class/field_access_in_value.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/class/import_base.carbon
  toolchain/check/testdata/class/import_struct_cyle.carbon
  toolchain/check/testdata/class/init_as.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/check/testdata/class/nested.carbon
  toolchain/check/testdata/class/nested_name.carbon
  toolchain/check/testdata/class/raw_self.carbon
  toolchain/check/testdata/class/self.carbon
  toolchain/check/testdata/class/self_conversion.carbon
  toolchain/check/testdata/class/self_type.carbon
  toolchain/check/testdata/interface/fail_todo_facet_lookup.carbon
  toolchain/lower/file_context.cpp
Labels: toolchain

#3779 Switch Check's TODO to use SemIRLocation
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/eval.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
Labels: toolchain

#3776 Basic support for looking up impl members when naming an associated entity.
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/eval.cpp
  toolchain/check/impl.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/fail_reorder.carbon
  toolchain/check/testdata/impl/basic.carbon
  toolchain/check/testdata/impl/empty.carbon
  toolchain/check/testdata/impl/extend_impl.carbon
  toolchain/check/testdata/impl/fail_extend_impl_scope.carbon
  toolchain/check/testdata/impl/fail_extend_impl_type_as.carbon
  toolchain/check/testdata/impl/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/fail_impl_bad_type.carbon
  toolchain/check/testdata/impl/fail_redefinition.carbon
  toolchain/check/testdata/impl/fail_todo_self_in_signature.carbon
  toolchain/check/testdata/impl/impl_as.carbon
  toolchain/check/testdata/impl/impl_forall.carbon
  toolchain/check/testdata/impl/lookup/alias.carbon
  toolchain/check/testdata/impl/lookup/fail_alias_impl_not_found.carbon
  toolchain/check/testdata/impl/lookup/fail_todo_undefined_impl.carbon
  toolchain/check/testdata/impl/lookup/instance_method.carbon
  toolchain/check/testdata/impl/redeclaration.carbon
  toolchain/check/testdata/interface/fail_lookup_undefined.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/impl/assoc_fn_alias.carbon
  toolchain/lower/testdata/impl/extend_impl.carbon
  toolchain/lower/testdata/impl/instance_method.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3780 Fix toolchain file_test_base multi-file integration.
  testing/file_test/file_test_base.cpp
  toolchain/driver/testdata/fail_missing_file.carbon
  toolchain/testing/file_test.cpp
Labels: toolchain

#3782 Change Namespace formatting to use the scope's name.
  toolchain/check/testdata/alias/fail_local_in_namespace.carbon
  toolchain/check/testdata/alias/in_namespace.carbon
  toolchain/check/testdata/index/fail_invalid_base.carbon
  toolchain/check/testdata/namespace/add_to_import.carbon
  toolchain/check/testdata/namespace/alias.carbon
  toolchain/check/testdata/namespace/fail_conflict_after_merge.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_second.carbon
  toolchain/check/testdata/namespace/fail_decl_in_alias.carbon
  toolchain/check/testdata/namespace/fail_duplicate.carbon
  toolchain/check/testdata/namespace/fail_modifiers.carbon
  toolchain/check/testdata/namespace/function.carbon
  toolchain/check/testdata/namespace/imported.carbon
  toolchain/check/testdata/namespace/imported_indirect.carbon
  toolchain/check/testdata/namespace/merging.carbon
  toolchain/check/testdata/namespace/nested.carbon
  toolchain/check/testdata/namespace/shadow.carbon
  toolchain/check/testdata/namespace/unqualified_lookup.carbon
  toolchain/check/testdata/package_expr/syntax.carbon
  toolchain/check/testdata/pointer/fail_deref_namespace.carbon
  toolchain/check/testdata/var/fail_namespace_conflict.carbon
  toolchain/check/testdata/var/shadowing.carbon
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#3781 Clean up a couple more TODO...GetNodeId
  toolchain/check/member_access.cpp
Labels: toolchain

#3783 Refactor handling of cross-package imports.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/eval.cpp
  toolchain/check/import.cpp
  toolchain/check/import.h
  toolchain/check/testdata/packages/cross_package_import.carbon
  toolchain/check/testdata/packages/explicit_imports.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/fail_import_repeat.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/handle.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/tree.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3785 Factor out CopyOnWriteBlock.
  toolchain/check/convert.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/copy_on_write_block.h
Labels: toolchain

#3787 Factor `IdKind` enum out of node stack.
  toolchain/check/node_stack.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/inst.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_profile.cpp
Labels: toolchain

#3788 Substitute `Self` in associated function signatures before checking them against `impl`s.
  toolchain/check/BUILD
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/impl.cpp
  toolchain/check/member_access.cpp
  toolchain/check/subst.cpp
  toolchain/check/subst.h
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/fail_todo_self_in_signature.carbon
  toolchain/check/testdata/impl/lookup/instance_method.carbon
  toolchain/check/testdata/impl/self_in_signature.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/impl/assoc_fn_alias.carbon
  toolchain/lower/testdata/impl/extend_impl.carbon
  toolchain/lower/testdata/impl/instance_method.carbon
  toolchain/lower/testdata/interface/assoc.carbon
  toolchain/lower/testdata/interface/basic.carbon
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/inst.h
Labels: toolchain

#3789 Start pulling in names from cross-package imports.
  toolchain/base/value_store.h
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/impl.cpp
  toolchain/check/testdata/class/cross_package_import.carbon
  toolchain/check/testdata/packages/cross_package_import.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3790 Parse and check support for compound member access.
  toolchain/check/handle_name.cpp
  toolchain/check/member_access.cpp
  toolchain/check/member_access.h
  toolchain/check/testdata/class/compound_field.carbon
  toolchain/check/testdata/class/fail_compound_type_mismatch.carbon
  toolchain/check/testdata/impl/compound.carbon
  toolchain/check/testdata/impl/fail_call_invalid.carbon
  toolchain/check/testdata/operators/fail_redundant_compound_access.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/testdata/impl/impl.carbon
  toolchain/parse/handle_period.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.h
  toolchain/parse/state.def
  toolchain/parse/testdata/generics/impl/fail_out_of_line_member.carbon
  toolchain/parse/testdata/member_access/compound.carbon
  toolchain/parse/testdata/member_access/fail_keyword.carbon
  toolchain/parse/testdata/member_access/keyword.carbon
  toolchain/parse/testdata/member_access/simple.carbon
  toolchain/parse/testdata/struct/fail_dot_paren.carbon
  toolchain/parse/typed_nodes.h
Labels: toolchain

#3791 file_name -> filename
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/mocks.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/driver_test.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/parse/tree_node_location_translator.h
  toolchain/source/source_buffer.cpp
Labels: toolchain

#3794 Add more testing of compound member access.
  toolchain/check/testdata/class/base_method_qualified.carbon
  toolchain/check/testdata/class/compound_field.carbon
  toolchain/check/testdata/impl/compound.carbon
Labels: toolchain

#3796 Overloaded operator support.
  .pre-commit-config.yaml
  toolchain/check/BUILD
  toolchain/check/call.cpp
  toolchain/check/call.h
  toolchain/check/eval.cpp
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/check/member_access.h
  toolchain/check/operator.cpp
  toolchain/check/operator.h
  toolchain/check/pointer_dereference.cpp
  toolchain/check/testdata/array/fail_bound_overflow.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/interface/fail_todo_import.carbon
  toolchain/check/testdata/interface/import.carbon
  toolchain/check/testdata/let/fail_generic_import.carbon
  toolchain/check/testdata/let/generic_import.carbon
  toolchain/check/testdata/let/import.carbon
  toolchain/check/testdata/operators/builtin/and.carbon
  toolchain/check/testdata/operators/builtin/assignment.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/check/testdata/operators/builtin/fail_assignment_to_error.carbon
  toolchain/check/testdata/operators/builtin/fail_assignment_to_non_assignable.carbon
  toolchain/check/testdata/operators/builtin/fail_redundant_compound_access.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_assignment.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_once.carbon
  toolchain/check/testdata/operators/builtin/fail_unimplemented_op.carbon
  toolchain/check/testdata/operators/builtin/or.carbon
  toolchain/check/testdata/operators/builtin/unary_op.carbon
  toolchain/check/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/check/testdata/operators/overloaded/add.carbon
  toolchain/check/testdata/operators/overloaded/binary_op.carbon.tmpl
  toolchain/check/testdata/operators/overloaded/bit_and.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/operators/overloaded/bit_or.carbon
  toolchain/check/testdata/operators/overloaded/bit_xor.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/div.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/left_shift.carbon
  toolchain/check/testdata/operators/overloaded/make_tests.sh
  toolchain/check/testdata/operators/overloaded/mod.carbon
  toolchain/check/testdata/operators/overloaded/mul.carbon
  toolchain/check/testdata/operators/overloaded/negate.carbon
  toolchain/check/testdata/operators/overloaded/ordered.carbon
  toolchain/check/testdata/operators/overloaded/right_shift.carbon
  toolchain/check/testdata/operators/overloaded/sub.carbon
  toolchain/check/testdata/operators/overloaded/unary_op.carbon.tmpl
  toolchain/check/testdata/operators/overloaded/unary_stmt.carbon.tmpl
  toolchain/parse/node_ids.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3799 Support implicit conversion from specific node IDs to node ID categories
  toolchain/check/handle_operator.cpp
  toolchain/parse/node_ids.h
Labels: toolchain

#3798 Lowering support for overloaded operators.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/inst_block_stack.h
  toolchain/check/testdata/class/cross_package_import.carbon
  toolchain/check/testdata/class/fail_import_misuses.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/class/import_base.carbon
  toolchain/check/testdata/class/import_member_cycle.carbon
  toolchain/check/testdata/class/import_struct_cyle.carbon
  toolchain/check/testdata/interface/import.carbon
  toolchain/check/testdata/operators/overloaded/add.carbon
  toolchain/check/testdata/operators/overloaded/bit_and.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/operators/overloaded/bit_or.carbon
  toolchain/check/testdata/operators/overloaded/bit_xor.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/div.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/left_shift.carbon
  toolchain/check/testdata/operators/overloaded/mod.carbon
  toolchain/check/testdata/operators/overloaded/mul.carbon
  toolchain/check/testdata/operators/overloaded/negate.carbon
  toolchain/check/testdata/operators/overloaded/ordered.carbon
  toolchain/check/testdata/operators/overloaded/right_shift.carbon
  toolchain/check/testdata/operators/overloaded/sub.carbon
  toolchain/check/testdata/packages/cross_package_import.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/operators/overloaded.carbon
Labels: toolchain

#3800 Refactor diagnostic_emitter.h into multiple files.
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/diagnostic.h
  toolchain/diagnostics/diagnostic_consumer.cpp
  toolchain/diagnostics/diagnostic_consumer.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_translator.h
Labels: toolchain

#3803 Initial support for builtin functions.
  common/error.h
  toolchain/check/eval.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/builtins/int_add.carbon
  toolchain/check/testdata/class/fail_addr_self.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/fail_memaccess_category.carbon
  toolchain/check/testdata/class/fail_method.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/function/builtin/call.carbon
  toolchain/check/testdata/function/builtin/call_from_operator.carbon
  toolchain/check/testdata/function/builtin/definition.carbon
  toolchain/check/testdata/function/builtin/fail_redefined.carbon
  toolchain/check/testdata/function/builtin/fail_unknown.carbon
  toolchain/check/testdata/function/builtin/import.carbon
  toolchain/check/testdata/function/builtin/method.carbon
  toolchain/check/testdata/function/call/fail_param_count.carbon
  toolchain/check/testdata/function/call/fail_param_type.carbon
  toolchain/check/testdata/interface/fail_todo_define_default_fn_inline.carbon
  toolchain/check/testdata/interface/fail_todo_define_default_fn_out_of_line.carbon
  toolchain/check/testdata/interface/todo_define_not_default.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/builtins/int.carbon
  toolchain/lower/testdata/builtins/method_vs_nonmethod.carbon
  toolchain/lower/testdata/builtins/overloaded_operator.carbon
  toolchain/parse/extract.cpp
  toolchain/parse/handle_function.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/function/definition/builtin.carbon
  toolchain/parse/testdata/function/definition/fail_builtin.carbon
  toolchain/parse/tree.h
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.h
Labels: toolchain

#3762 Merging forward declarations
  proposals/p3762.md
Labels: proposal, proposal rfc

#3808 Remove a couple unnecessary != operators.
  toolchain/parse/precedence.h
  toolchain/testing/yaml_test_helpers.h
Labels: toolchain

#3804 Rename DiagnosticLocationTranslator -> DiagnosticConverter
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/check/handle_function.cpp
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/diagnostic_converter.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/diagnostic_translator.h
  toolchain/diagnostics/null_diagnostics.h
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/numeric_literal_test.cpp
  toolchain/lex/string_literal_test.cpp
  toolchain/lex/test_helpers.h
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/BUILD
  toolchain/parse/parse.cpp
  toolchain/parse/tree_node_diagnostic_converter.h
  toolchain/sem_ir/ids.h
  toolchain/source/source_buffer.cpp
Labels: toolchain

#3805 Collapse diagnostic errors and notes into a single vector.
  toolchain/diagnostics/diagnostic.h
  toolchain/diagnostics/diagnostic_consumer.cpp
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/mocks.cpp
  toolchain/diagnostics/mocks.h
  toolchain/diagnostics/sorting_diagnostic_consumer.h
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/lex/tokenized_buffer_test.cpp
Labels: toolchain

#3814 Convert literals to `i32` when forming an `i32`-typed `int_literal` instruction.
  toolchain/check/handle_literal.cpp
  toolchain/check/testdata/array/array_vs_tuple.carbon
  toolchain/check/testdata/array/assign_return_value.carbon
  toolchain/check/testdata/array/assign_var.carbon
  toolchain/check/testdata/array/base.carbon
  toolchain/check/testdata/array/canonicalize_index.carbon
  toolchain/check/testdata/array/fail_bound_negative.carbon
  toolchain/check/testdata/array/fail_bound_overflow.carbon
  toolchain/check/testdata/array/fail_out_of_bound_non_literal.carbon
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/array/function_param.carbon
  toolchain/check/testdata/array/index_not_literal.carbon
  toolchain/check/testdata/array/nine_elements.carbon
  toolchain/check/testdata/basics/fail_numeric_literal_overflow.carbon
  toolchain/check/testdata/basics/numeric_literals.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/check/testdata/eval/aggregate.carbon
  toolchain/check/testdata/eval/fail_aggregate.carbon
  toolchain/check/testdata/function/builtin/call_from_operator.carbon
  toolchain/check/testdata/function/builtin/import.carbon
  toolchain/check/testdata/if_expr/basic.carbon
  toolchain/check/testdata/index/array_element_access.carbon
  toolchain/check/testdata/index/expr_category.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_tuple_large_index.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3815 Factor out some parts of builtin handling and add declaration checking.
  toolchain/check/eval.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/builtins/int_add.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/handle.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
  toolchain/sem_ir/builtin_function_kind.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.h
Labels: toolchain

#3816 Add builtins for some basic integer operations.
  toolchain/check/eval.cpp
  toolchain/check/testdata/array/fail_bound_negative.carbon
  toolchain/check/testdata/builtins/int_add.carbon
  toolchain/check/testdata/builtins/int_div.carbon
  toolchain/check/testdata/builtins/int_eq.carbon
  toolchain/check/testdata/builtins/int_mod.carbon
  toolchain/check/testdata/builtins/int_mul.carbon
  toolchain/check/testdata/builtins/int_negate.carbon
  toolchain/check/testdata/builtins/int_neq.carbon
  toolchain/check/testdata/builtins/int_sub.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/handle.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
  toolchain/sem_ir/ids.h
Labels: toolchain

#3818 Add `TypedInt` wrapper for integer formatting in diagnostics.
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/check/diagnostic_helpers.h
  toolchain/check/eval.cpp
  toolchain/check/handle_index.cpp
Labels: toolchain

#3822 Add infrastructure for distinguishing between signed and unsigned integer types.
  toolchain/check/check.cpp
  toolchain/check/eval.cpp
  toolchain/check/testdata/array/fail_bound_negative.carbon
  toolchain/check/testdata/builtins/int_add.carbon
  toolchain/check/testdata/builtins/int_div.carbon
  toolchain/check/testdata/builtins/int_mod.carbon
  toolchain/check/testdata/builtins/int_mul.carbon
  toolchain/check/testdata/builtins/int_negate.carbon
  toolchain/check/testdata/builtins/int_sub.carbon
  toolchain/lower/handle.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/type.h
Labels: toolchain

#3821 Improve conversion to / from `BoolValue`.
  toolchain/check/eval.cpp
  toolchain/check/handle_operator.cpp
  toolchain/sem_ir/ids.h
Labels: toolchain

#3820 Add CARBON_KIND_SWITCH to better handle typed inst switches.
  toolchain/base/BUILD
  toolchain/base/kind_switch.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#3823 Fix order of declarations in Driver, for destruction order.
  toolchain/driver/driver.cpp
Labels: toolchain

#3807 Add import context for locations.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/import.cpp
  toolchain/check/import.h
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/cross_package_import.carbon
  toolchain/check/testdata/class/fail_import_misuses.carbon
  toolchain/check/testdata/class/fail_todo_import_forward_decl.carbon
  toolchain/check/testdata/function/definition/fail_todo_import_forward_decl.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_second.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_second.carbon
  toolchain/check/testdata/packages/cross_package_import.carbon
  toolchain/check/testdata/packages/fail_conflict_no_namespaces.carbon
  toolchain/diagnostics/diagnostic_converter.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/diagnostics/null_diagnostics.h
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/lex/test_helpers.h
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/tree_node_diagnostic_converter.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
  toolchain/source/source_buffer.cpp
Labels: toolchain

#3809 Start adding extern logic for functions.
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/handle_function.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/function/builtin/fail_redefined.carbon
  toolchain/check/testdata/function/declaration/import.carbon
  toolchain/check/testdata/function/definition/extern.carbon
  toolchain/check/testdata/function/definition/fail_todo_import_forward_decl.carbon
  toolchain/check/testdata/function/definition/import.carbon
  toolchain/check/testdata/packages/cross_package_import.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3824 Allow simple uses of `Self` in `impl`s.
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/impl.cpp
  toolchain/check/testdata/function/builtin/call_from_operator.carbon
  toolchain/check/testdata/impl/self_in_class.carbon
  toolchain/check/testdata/impl/self_in_signature.carbon
Labels: toolchain

#3810 Replace NodeId with a hybrid LocationId in SemIR diagnostics.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/diagnostic_helpers.h
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/interface.cpp
  toolchain/check/modifiers.cpp
  toolchain/check/modifiers.h
  toolchain/check/pending_block.h
  toolchain/parse/tree_node_diagnostic_converter.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/constant.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/import_ir.h
  toolchain/sem_ir/inst.h
Labels: toolchain

#3811 Provide locations for indirectly imported instructions.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/pending_block.h
  toolchain/check/testdata/class/cross_package_import.carbon
  toolchain/check/testdata/class/fail_import_misuses.carbon
  toolchain/check/testdata/function/definition/import.carbon
  toolchain/check/testdata/packages/cross_package_import.carbon
  toolchain/sem_ir/inst.h
Labels: toolchain

#3819 Implement merging of conflicts found during import.
  toolchain/check/BUILD
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/import.cpp
  toolchain/check/merge.cpp
  toolchain/check/merge.h
  toolchain/check/testdata/function/declaration/extern.carbon
  toolchain/check/testdata/function/declaration/import.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_first.carbon
  toolchain/check/testdata/packages/cross_package_import.carbon
  toolchain/check/testdata/packages/fail_conflict_no_namespaces.carbon
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#3828 Explicitly flush stream_consumer
  toolchain/diagnostics/diagnostic_consumer.h
  toolchain/driver/driver.cpp
Labels: toolchain

#3826 location -> loc abbreviation
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/diagnostic_helpers.h
  toolchain/check/eval.cpp
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/interface.cpp
  toolchain/check/merge.cpp
  toolchain/check/modifiers.cpp
  toolchain/check/modifiers.h
  toolchain/check/pending_block.h
  toolchain/diagnostics/check_diagnostics.py
  toolchain/diagnostics/diagnostic.h
  toolchain/diagnostics/diagnostic_consumer.cpp
  toolchain/diagnostics/diagnostic_converter.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/mocks.cpp
  toolchain/diagnostics/mocks.h
  toolchain/diagnostics/null_diagnostics.h
  toolchain/diagnostics/sorting_diagnostic_consumer.h
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/test_helpers.h
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/context.cpp
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/tree_node_diagnostic_converter.h
  toolchain/sem_ir/constant.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/import_ir.h
  toolchain/sem_ir/inst.h
  toolchain/source/source_buffer.cpp
Labels: toolchain

#3830 Prevent tuples after `.` and `->`
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_paren_expr.cpp
  toolchain/parse/handle_period.cpp
  toolchain/parse/state.def
  toolchain/parse/testdata/pointer/fail_tuple_instead_of_compound_member_access.carbon
Labels: toolchain
