Repository carbon-language/carbon-lang, pull requests merged in 2024-09, with the labels that each got.

#4271 Add TODO breadcrumb from `for` design to semantics proposal
  docs/design/control_flow/loops.md
Labels: documentation

#4242 Move toolchain architecture to markdown
  toolchain/README.md
  toolchain/docs/README.md
  toolchain/docs/adding_features.md
  toolchain/docs/check.md
  toolchain/docs/check.svg
  toolchain/docs/diagnostics.md
  toolchain/docs/driver.md
  toolchain/docs/idioms.md
  toolchain/docs/lex.md
  toolchain/docs/lower.md
  toolchain/docs/parse.md
  toolchain/docs/parse.svg
  website/prebuild.py
Labels: toolchain

#4246 Getting commit access
  docs/project/commit_access.md
  docs/project/groups.md
  proposals/p4246.md
Labels: proposal, proposal rfc, documentation

#4269 Shrink the lexer's token location and line data structures.
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
Labels: toolchain

#4252 Handle unknown lines in DebugInfo
  toolchain/diagnostics/diagnostic.cpp
  toolchain/diagnostics/diagnostic.h
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.cpp
  toolchain/lower/testdata/global/class_obj.carbon
  toolchain/lower/testdata/global/class_with_fun.carbon
  toolchain/lower/testdata/global/simple_init.carbon
  toolchain/lower/testdata/global/simple_with_fun.carbon
Labels: toolchain

#4268 Refactor FindPreludeFiles into InstallPaths
  testing/base/BUILD
  testing/base/source_gen_test.cpp
  toolchain/driver/BUILD
  toolchain/driver/compile_benchmark.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/install/BUILD
  toolchain/install/install_paths.cpp
  toolchain/install/install_paths.h
  toolchain/install/install_paths_test_helpers.cpp
  toolchain/install/install_paths_test_helpers.h
  toolchain/testing/file_test.cpp
Labels: toolchain

#4277 Fix use-after-free bug in call argument conversion.
  toolchain/check/call.cpp
  toolchain/check/convert.cpp
  toolchain/check/convert.h
Labels: toolchain

#4276 Improve diagnostics for the case where some or all of the prelude is missing.
  toolchain/check/context.cpp
  toolchain/check/testdata/function/definition/no_prelude/fail_decl_param_mismatch.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_not_constant.carbon
  toolchain/check/testdata/packages/no_prelude/missing_prelude.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4270 Bit-pack the lexer's token info
  toolchain/lex/lex.cpp
  toolchain/lex/testdata/basic_syntax.carbon
  toolchain/lex/testdata/fail_bad_comment_introducers.carbon
  toolchain/lex/testdata/fail_bad_comment_introducers_mid_block_indent_change.carbon
  toolchain/lex/testdata/fail_bad_raw_identifier.carbon
  toolchain/lex/testdata/fail_block_string_second_line.carbon
  toolchain/lex/testdata/fail_mismatched_brackets.carbon
  toolchain/lex/testdata/fail_mismatched_brackets_2.carbon
  toolchain/lex/testdata/fail_multifile.carbon
  toolchain/lex/testdata/fail_trailing_comments.carbon
  toolchain/lex/testdata/keywords.carbon
  toolchain/lex/testdata/multifile.carbon
  toolchain/lex/testdata/numeric_literals.carbon
  toolchain/lex/testdata/printing_digit_padding.carbon
  toolchain/lex/testdata/printing_integer_literal.carbon
  toolchain/lex/testdata/printing_real_literal.carbon
  toolchain/lex/testdata/printing_token.carbon
  toolchain/lex/testdata/raw_identifier.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_test.cpp
Labels: toolchain

#4280 Remove `default` from ComputeIdKindTable switch
  toolchain/check/node_stack.h
Labels: toolchain

#4281 Resolve the definition of the self specific when re-entering its scope for an inline method definition.
  toolchain/check/decl_name_stack.cpp
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_inline.carbon
Labels: toolchain

#4287 Manually free up disk space on macOS
  .github/actions/build-setup-macos/action.yml
Labels: infrastructure

#4282 Update LLVM and fix formatv issues.
  MODULE.bazel
  common/command_line.cpp
  common/command_line_test.cpp
  toolchain/check/context.cpp
Labels: infrastructure, toolchain

#4248 Enforce `private` and `protected` access modifiers for class member access
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/impl.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/class/access_modifers.carbon
  toolchain/check/testdata/class/inheritance_access.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4272 Add SemIR support for virtual functions
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/class/todo_access_modifiers.carbon
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.h
Labels: toolchain

#4278 Make the 'library' lines in tests use a substitution.
  testing/file_test/README.md
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base_test.cpp
  testing/file_test/testdata/not_split.carbon
  testing/file_test/testdata/replace_content.carbon
  testing/file_test/testdata/replace_split_content.carbon
  testing/file_test/testdata/two_files.carbon
Labels: toolchain

#4291 Generate and use a manifest for prelude files.
  core/BUILD
  core/manifest.bzl
  toolchain/driver/driver.cpp
  toolchain/install/install_paths.cpp
  toolchain/install/install_paths.h
  toolchain/install/install_paths_test_helpers.cpp
  toolchain/install/symlink_filegroup.bzl
  toolchain/testing/file_test.cpp
Labels: toolchain

#4290 Add KeywordModifierSet helper for conversion to (likely SemIR) enums
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/keyword_modifier_set.h
Labels: toolchain

#4289 docs: add missing syntax highlighting
  testing/file_test/README.md
Labels: toolchain

#4292 Split if expressions out of handle_expr
  toolchain/parse/handle_expr.cpp
  toolchain/parse/handle_if_expr.cpp
Labels: toolchain

#4296 Add `explicit` to match style, appease clang-tidy
  toolchain/check/keyword_modifier_set.h
Labels: toolchain

#4275 Parse support for `where` operator
  toolchain/check/handle_where.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lex/token_kind.def
  toolchain/parse/handle_expr.cpp
  toolchain/parse/handle_requirement.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.def
  toolchain/parse/node_kind.h
  toolchain/parse/precedence.cpp
  toolchain/parse/precedence.h
  toolchain/parse/state.def
  toolchain/parse/testdata/operators/fail_precedence_where.carbon
  toolchain/parse/testdata/operators/precedence_where.carbon
  toolchain/parse/testdata/where_expr/basic.carbon
  toolchain/parse/testdata/where_expr/fail_todo_where_and.carbon
  toolchain/parse/testdata/where_expr/impl_where.carbon
  toolchain/parse/typed_nodes.h
Labels: toolchain

#4283 Switch `CARBON_VLOG` to support a format string API.
  common/BUILD
  common/template_string.h
  common/template_string_test.cpp
  common/vlog.h
  common/vlog_internal.h
  common/vlog_test.cpp
Labels: toolchain

#4284 Migrate all CARBON_VLOG to the format string variant.
  common/BUILD
  common/vlog.h
  common/vlog_internal.h
  common/vlog_test.cpp
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/inst_block_stack.cpp
  toolchain/check/node_stack.h
  toolchain/driver/clang_runner.cpp
  toolchain/driver/driver.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/parse/context.h
Labels: toolchain

#4279 Update the talk list
  README.md
Labels: documentation

#4298 Add parse support for multiple requirements after `where` separated by `and`
  toolchain/check/handle_where.cpp
  toolchain/check/node_stack.h
  toolchain/lex/token_kind.h
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/handle_requirement.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/where_expr/fail_todo_where_and.carbon
  toolchain/parse/testdata/where_expr/where_and.carbon
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/parse/tree_and_subtrees.cpp
  toolchain/parse/typed_nodes.h
Labels: toolchain

#4299 Break out driver environment info into its own type.
  common/vlog.h
  common/vlog_test.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_env.h
Labels: toolchain

#4304 Only allow designators when parsing `where __ = ...`
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_requirement.cpp
  toolchain/parse/state.def
  toolchain/parse/testdata/where_expr/fail_rewrite.carbon
  toolchain/parse/typed_nodes.h
Labels: toolchain

#4305 Switch to ctx.label.package for rule, and adjust relative path handling
  core/manifest.bzl
  toolchain/install/symlink_filegroup.bzl
Labels: toolchain

#4309 Improve error recovery in binding patterns
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/testdata/let/fail_missing_name.carbon
Labels: toolchain

#4306 Assert that the llvm::Function is created with the same name as requested
  toolchain/lower/file_context.cpp
Labels: toolchain

#4308 Move the constants in the precedence table into the header.
  toolchain/parse/precedence.cpp
  toolchain/parse/precedence.h
Labels: toolchain

#4300 Extract subcommand options from the driver file.
  toolchain/driver/BUILD
  toolchain/driver/codegen_options.cpp
  toolchain/driver/codegen_options.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/link_subcommand.cpp
  toolchain/driver/link_subcommand.h
Labels: toolchain

#4311 Move 'core' directory prefix
  toolchain/install/BUILD
  toolchain/install/symlink_filegroup.bzl
Labels: toolchain

#4313 Ignore the .gdb_history that's created next to the project-specific .gdbinit
  .gitignore
Labels: infrastructure

#4315 Omit a trailing `SpecificId` by default when formatting instruction arguments.
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#4303 Refactor link and compile into subcommand objects.
  toolchain/driver/BUILD
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_subcommand.h
  toolchain/driver/link_subcommand.cpp
  toolchain/driver/link_subcommand.h
Labels: toolchain

#4314 Clarify what was missing in binding pattern errors
  toolchain/check/testdata/function/declaration/no_prelude/fail_pattern_in_signature.carbon
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parse/testdata/function/declaration/fail_with_identifier_as_param.carbon
  toolchain/parse/testdata/generics/impl/fail_impl.carbon
  toolchain/parse/testdata/generics/interface/fail_self_param_syntax.carbon
  toolchain/parse/testdata/let/fail_bad_name.carbon
  toolchain/parse/testdata/let/fail_empty.carbon
  toolchain/parse/testdata/let/fail_missing_name.carbon
  toolchain/parse/testdata/let/fail_missing_type.carbon
  toolchain/parse/testdata/let/fail_no_semi.carbon
  toolchain/parse/testdata/match/fail_missing_case_pattern.carbon
  toolchain/parse/testdata/package_expr/fail_in_name.carbon
  toolchain/parse/testdata/var/fail_bad_name.carbon
  toolchain/parse/testdata/var/fail_empty.carbon
  toolchain/parse/testdata/var/fail_no_semi.carbon
Labels: toolchain

#4286 Brief documentation for the current name mangling scheme
  toolchain/docs/lower.md
Labels: toolchain

#4307 Do some tactical inlining across lexer and parser.
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/context.cpp
  toolchain/parse/context.h
Labels: toolchain

#4317 Improve access checking code
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/member_access.cpp
  toolchain/check/testdata/class/access_modifers.carbon
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#4318 Use `TupleAccess` instead of `TupleIndex`
  toolchain/check/eval.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/member_access.cpp
  toolchain/check/member_access.h
  toolchain/check/testdata/eval/aggregate.carbon
  toolchain/check/testdata/expr_category/in_place_tuple_init.carbon
  toolchain/check/testdata/function/call/more_param_ir.carbon
  toolchain/check/testdata/function/definition/import.carbon
  toolchain/check/testdata/let/convert.carbon
  toolchain/check/testdata/operators/builtin/assignment.carbon
  toolchain/check/testdata/pointer/address_of_lvalue.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/check/testdata/tuple/access/element_access.carbon
  toolchain/check/testdata/tuple/access/fail_access_error.carbon
  toolchain/check/testdata/tuple/access/fail_empty_access.carbon
  toolchain/check/testdata/tuple/access/fail_large_index.carbon
  toolchain/check/testdata/tuple/access/fail_negative_indexing.carbon
  toolchain/check/testdata/tuple/access/fail_non_deterministic_type.carbon
  toolchain/check/testdata/tuple/access/fail_non_int_indexing.carbon
  toolchain/check/testdata/tuple/access/fail_out_of_bound_access.carbon
  toolchain/check/testdata/tuple/access/fail_out_of_bound_not_literal.carbon
  toolchain/check/testdata/tuple/access/index_not_literal.carbon
  toolchain/check/testdata/tuple/access/return_value_access.carbon
  toolchain/check/testdata/var/no_prelude/fail_init_type_mismatch.carbon
  toolchain/lower/handle_aggregates.cpp
  toolchain/lower/testdata/class/value_access.carbon
  toolchain/lower/testdata/function/call/tuple_param_with_return_slot.carbon
  toolchain/lower/testdata/let/tuple.carbon
  toolchain/lower/testdata/tuple/access/element_access.carbon
  toolchain/lower/testdata/tuple/access/return_value_access.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4312 Apply `is_closed_import` to imported namespaces
  toolchain/check/import.cpp
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_nested.carbon
Labels: toolchain

#4294 Stop name mangling at an imported package name
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/operators/overloaded.carbon
  toolchain/lower/testdata/packages/cross_package_call.carbon
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#4321 Iterate on diagnostic structure
  toolchain/docs/diagnostics.md
Labels: toolchain

#4326 Fix singular/plural mismatch in design README
  docs/design/README.md
Labels: documentation

#4324 Add usage tips to NOAUTOUPDATE tests
  toolchain/check/testdata/basics/no_prelude/verbose.carbon
  toolchain/codegen/testdata/assembly/basic.carbon
  toolchain/codegen/testdata/fail_target_triple.carbon
  toolchain/driver/testdata/dump_mem_usage.carbon
Labels: toolchain

#4327 Adopt new diagnostic conventions in handle_class.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/class/fail_adapt_bad_decl.carbon
  toolchain/check/testdata/class/fail_adapt_bad_type.carbon
  toolchain/check/testdata/class/fail_adapt_with_subobjects.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_base_misplaced.carbon
  toolchain/check/testdata/class/fail_base_modifiers.carbon
  toolchain/check/testdata/class/fail_base_no_extend.carbon
  toolchain/check/testdata/class/fail_base_repeated.carbon
  toolchain/check/testdata/class/fail_redeclaration_introducer.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3848 Lambdas
  proposals/p3848.md
Labels: proposal, proposal rfc

#4301 Convert CommandLine member references to pointers
  common/command_line.cpp
  common/command_line.h
Labels: toolchain

#4310 Style notes on passing and storing object addresses
  docs/project/cpp_style_guide.md
Labels: documentation

#4331 Improve install_paths handling for relative paths.
  toolchain/BUILD
  toolchain/driver/driver_main.cpp
  toolchain/install/BUILD
  toolchain/install/install_paths.cpp
  toolchain/install/install_paths.h
  toolchain/install/install_paths_test.cpp
  toolchain/install/run_tool.bzl
  toolchain/install/run_tool.py
Labels: toolchain

#4335 Clean up comment about node ID.
  toolchain/check/context.h
Labels: toolchain

#4322 Add a clang subcommand.
  toolchain/driver/BUILD
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner_test.cpp
  toolchain/driver/clang_subcommand.cpp
  toolchain/driver/clang_subcommand.h
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
Labels: toolchain

#4332 Refactor install structure to make changes easier.
  toolchain/driver/BUILD
  toolchain/install/BUILD
  toolchain/install/carbon_install.txt
  toolchain/install/install_filegroups.bzl
  toolchain/install/symlink_filegroup.bzl
  toolchain/install/symlink_helpers.bzl
Labels: toolchain

#4329 `where` check stage, step 1: designators
  toolchain/check/handle_name.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/no_prelude/designator.carbon
  toolchain/check/testdata/where_expr/no_prelude/fail_designator.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/name.cpp
Labels: toolchain

#4338 Disallow compile time bindings where they aren't clearly supported.
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/let/fail_generic_import.carbon
  toolchain/check/testdata/let/generic_import.carbon
  toolchain/check/testdata/let/no_prelude/import.carbon
  toolchain/check/testdata/return/fail_let_in_type.carbon
Labels: toolchain

#4337 Flush pending diagnostics on crash.
  toolchain/diagnostics/diagnostic_consumer.h
  toolchain/driver/BUILD
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#4340 Push a generic region when handling a `where` expression.
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/no_prelude/designator.carbon
  toolchain/check/testdata/where_expr/no_prelude/non_generic.carbon
Labels: toolchain

#4341 Refactor InstallPaths API and comments a little.
  toolchain/install/BUILD
  toolchain/install/install_paths.cpp
  toolchain/install/install_paths.h
  toolchain/install/install_paths_test.cpp
Labels: toolchain

#4345 Remove declare_symlink use
  .bazelrc
  toolchain/install/install_filegroups.bzl
  toolchain/install/symlink_helpers.bzl
Labels: infrastructure, toolchain

#4346 Fix TryEvalInstInContext to be static
  toolchain/check/eval.cpp
Labels: toolchain

#4349 `where` check stage, step 2: SemIR
  toolchain/check/context.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/no_prelude/designator.carbon
  toolchain/check/testdata/where_expr/no_prelude/non_generic.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4339 Add support for capturing console output to FileTest.
  explorer/file_test.cpp
  testing/file_test/README.md
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/testdata/capture_console_output.carbon
  toolchain/driver/BUILD
  toolchain/driver/clang_runner_test.cpp
  toolchain/driver/testdata/fail_clang_no_args.cpp
  toolchain/testing/file_test.cpp
Labels: explorer, toolchain

#4353 Fix invocation issues with clang runner
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner_test.cpp
Labels: toolchain

#4347 Update LLVM and use a hermetic llvm-symbolizer
  MODULE.bazel
  MODULE.bazel.lock
  bazel/cc_toolchains/clang_configuration.bzl
  bazel/cc_toolchains/clang_detected_variables.tpl.bzl
  bazel/cc_toolchains/defs.bzl
  explorer/BUILD
  toolchain/driver/BUILD
  toolchain/install/BUILD
  toolchain/install/run_tool.bzl
  toolchain/install/run_tool.py
  toolchain/testing/BUILD
Labels: infrastructure, toolchain

#4336 Basic support for declaring generic impls.
  toolchain/check/handle_impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.cpp
  toolchain/check/merge.h
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/impl_forall.carbon
  toolchain/check/testdata/impl/lookup/fail_todo_undefined_impl.carbon
  toolchain/check/testdata/impl/lookup/import.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/no_prelude/generic_redeclaration.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/impl/no_prelude/no_definition_in_impl_file.carbon
  toolchain/check/testdata/impl/redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/import_interface_decl.carbon
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/inst_namer.cpp
Labels: toolchain

#4354 Replace llvm_symbolizer with a cc_env_data() array.
  bazel/cc_toolchains/defs.bzl
  explorer/BUILD
  toolchain/driver/BUILD
  toolchain/install/BUILD
  toolchain/testing/BUILD
Labels: explorer, infrastructure, toolchain

#4351 Use more compact storage for impl lookup buckets.
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/impl/no_prelude/generic_redeclaration.carbon
  toolchain/sem_ir/impl.h
Labels: toolchain
