Repository carbon-language/carbon-lang, pull requests merged in 2024-01, with the labels that each got.

#3552 Implement a list of exported names for imports.
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/value_stores.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#3554 Make ID formatting consistently use *this for special cases
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#3556 Split Parse out to its own target.
  language_server/BUILD
  language_server/language_server.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/parse/BUILD
  toolchain/parse/parse.cpp
  toolchain/parse/parse.h
  toolchain/parse/parse_fuzzer.cpp
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/parse/tree_test.cpp
  toolchain/parse/typed_nodes_test.cpp
Labels: toolchain

#3558 Split out context targets for check and parse.
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/parse/BUILD
  toolchain/parse/context.h
  toolchain/parse/parse.cpp
Labels: toolchain

#3560 Use typed parse node ids in SemIR instruction types
  toolchain/base/index_base.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/node_stack.h
  toolchain/check/return.cpp
  toolchain/check/return.h
  toolchain/parse/node_ids.h
  toolchain/parse/tree_node_location_translator.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/typed_insts_test.cpp
Labels: toolchain

#3561 Factor code out of templates to reduce compile time of `parse/extract.cpp`
  toolchain/parse/extract.cpp
Labels: toolchain

#3562 Define `Any`...`DeclId` aliases for brevity
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/parse/node_ids.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3563 Form a struct value directly in tree extraction.
  toolchain/parse/extract.cpp
  toolchain/parse/typed_nodes_test.cpp
Labels: toolchain

#3559 Add support for '--config=clang-tidy'
  .bazelrc
  .clang-tidy
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  common/init_llvm.cpp
  explorer/BUILD
  explorer/ast/BUILD
  explorer/base/BUILD
  explorer/fuzzing/BUILD
  explorer/interpreter/BUILD
  language_server/language_server.cpp
  language_server/language_server.h
  toolchain/check/check.cpp
  toolchain/check/handle_name.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/parse/extract.cpp
  utils/treesitter/test_runner.cpp
Labels: explorer, toolchain

#3565 Add `Tree::TryAs` to cast to a typed parse node id
  toolchain/parse/tree.h
  toolchain/parse/tree_test.cpp
Labels: toolchain

#3570 Suppress clang-tidy error to use `auto` in tree_test.cpp
  toolchain/parse/tree_test.cpp
Labels: toolchain

#3569 Support defining instruction categories with a common representation
  common/struct_reflection.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3566 Refactor BindName to support tracking the enclosing scope.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#3555 Basic support for generic bindings.
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/function/generic/fail_type_param_mismatch.carbon
  toolchain/check/testdata/function/generic/type_param.carbon
  toolchain/check/testdata/let/fail_generic.carbon
  toolchain/check/testdata/let/generic.carbon
  toolchain/check/testdata/var/fail_generic.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/function/generic/type_param.carbon
  toolchain/parse/node_kind.def
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3572 Run clang-tidy on headers
  .pre-commit-config.yaml
  MODULE.bazel
  MODULE.bazel.lock
  bazel/bazel_clang_tidy/0001_Add_hdrs.patch
  bazel/bazel_clang_tidy/BUILD
  common/all_llvm_targets.cpp
  common/init_llvm.cpp
  common/init_llvm.h
  explorer/base/BUILD
  toolchain/check/node_stack.h
  toolchain/parse/node_ids.h
  toolchain/parse/tree.h
  toolchain/parse/tree_node_location_translator.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/inst.h
Labels: explorer, toolchain

#3573 Put check stage handle functions in execution order
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/handle_struct.cpp
Labels: toolchain

#3580 Abbreviate "address" -> "addr"
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/array/fail_incomplete_element.carbon
  toolchain/check/testdata/as/identity.carbon
  toolchain/check/testdata/class/base_field.carbon
  toolchain/check/testdata/class/base_method.carbon
  toolchain/check/testdata/class/base_method_shadow.carbon
  toolchain/check/testdata/class/derived_to_base.carbon
  toolchain/check/testdata/class/fail_addr_self.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_init_as_inplace.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/check/testdata/class/self_conversion.carbon
  toolchain/check/testdata/index/expr_category.carbon
  toolchain/check/testdata/index/fail_expr_category.carbon
  toolchain/check/testdata/operators/assignment.carbon
  toolchain/check/testdata/pointer/address_of_deref.carbon
  toolchain/check/testdata/pointer/address_of_lvalue.carbon
  toolchain/check/testdata/pointer/basic.carbon
  toolchain/check/testdata/pointer/fail_address_of_error.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/check/testdata/struct/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuples/fail_nested_incomplete.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/handle.cpp
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/class/fn_definitions.carbon
  toolchain/parse/testdata/function/declaration/addr.carbon
  toolchain/parse/testdata/generics/generic_params/template_addr.carbon
  toolchain/parse/testdata/generics/interface/self_pointer.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3583 Adjust a few Invalid comparisons to use is_valid
  toolchain/check/context.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3576 Split import logic to its own file.
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/import.cpp
  toolchain/check/import.h
Labels: toolchain

#3586 Delete unused `NoOp` instruction
  toolchain/check/context.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3582 Change lexical lookup to use an array instead of hash map.
  toolchain/base/value_store.h
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.h
  toolchain/check/import.cpp
  toolchain/check/lexical_lookup.h
  toolchain/check/scope_index.h
  toolchain/sem_ir/ids.h
Labels: toolchain

#3587 Change LexicalLookup to not resize, due to lack of current need.
  toolchain/check/context.h
  toolchain/check/import.cpp
  toolchain/check/lexical_lookup.h
Labels: toolchain

#3592 Switch gnu::unused to maybe_unused
  toolchain/lex/tokenized_buffer_benchmark.cpp
Labels: toolchain

#3593 Switch clang::fallthrough to fallthrough
  toolchain/driver/driver.cpp
  toolchain/parse/handle_import_and_package.cpp
Labels: toolchain

#3591 Remove unused default on AllocateName.
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#3594 Add evaluation for `conversion` instructions.
  toolchain/check/eval.cpp
  toolchain/check/testdata/array/array_in_place.carbon
  toolchain/check/testdata/array/assign_return_value.carbon
  toolchain/check/testdata/array/assign_var.carbon
  toolchain/check/testdata/array/base.carbon
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/as/as_type.carbon
  toolchain/check/testdata/as/fail_no_conversion.carbon
  toolchain/check/testdata/as/tuple.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/check/testdata/expr_category/in_place_tuple_init.carbon
  toolchain/check/testdata/function/call/empty_struct.carbon
  toolchain/check/testdata/function/call/empty_tuple.carbon
  toolchain/check/testdata/function/call/more_param_ir.carbon
  toolchain/check/testdata/function/call/return_implicit.carbon
  toolchain/check/testdata/index/fail_invalid_base.carbon
  toolchain/check/testdata/index/fail_non_deterministic_type.carbon
  toolchain/check/testdata/index/fail_tuple_index_error.carbon
  toolchain/check/testdata/index/fail_tuple_large_index.carbon
  toolchain/check/testdata/index/fail_tuple_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_tuple_out_of_bound_access.carbon
  toolchain/check/testdata/index/tuple_element_access.carbon
  toolchain/check/testdata/index/tuple_return_value_access.carbon
  toolchain/check/testdata/let/convert.carbon
  toolchain/check/testdata/namespace/imported.carbon
  toolchain/check/testdata/namespace/imported_indirect.carbon
  toolchain/check/testdata/operators/assignment.carbon
  toolchain/check/testdata/operators/fail_assignment_to_non_assignable.carbon
  toolchain/check/testdata/packages/fail_name_with_import_failure.carbon
  toolchain/check/testdata/packages/fail_todo_lazy_import_ref.carbon
  toolchain/check/testdata/packages/loaded_global.carbon
  toolchain/check/testdata/pointer/address_of_lvalue.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/check/testdata/pointer/fail_deref_not_pointer.carbon
  toolchain/check/testdata/return/fail_returned_var_no_return_type.carbon
  toolchain/check/testdata/return/struct.carbon
  toolchain/check/testdata/struct/empty.carbon
  toolchain/check/testdata/struct/fail_assign_nested.carbon
  toolchain/check/testdata/struct/fail_assign_to_empty.carbon
  toolchain/check/testdata/struct/nested_struct_in_place.carbon
  toolchain/check/testdata/struct/tuple_as_element.carbon
  toolchain/check/testdata/struct/two_entries.carbon
  toolchain/check/testdata/tuples/empty.carbon
  toolchain/check/testdata/tuples/fail_assign_empty.carbon
  toolchain/check/testdata/tuples/fail_assign_nested.carbon
  toolchain/check/testdata/tuples/fail_assign_to_empty.carbon
  toolchain/check/testdata/tuples/fail_element_type_mismatch.carbon
  toolchain/check/testdata/tuples/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuples/fail_too_few_element.carbon
  toolchain/check/testdata/tuples/fail_type_assign.carbon
  toolchain/check/testdata/tuples/fail_value_as_type.carbon
  toolchain/check/testdata/tuples/nested_tuple.carbon
  toolchain/check/testdata/tuples/nested_tuple_in_place.carbon
  toolchain/check/testdata/tuples/one_element.carbon
  toolchain/check/testdata/tuples/two_elements.carbon
Labels: toolchain

#3564 Roadmap for 2024 and a retrospective for 2023
  README.md
  docs/project/roadmap.md
  proposals/p3564.md
Labels: proposal, proposal rfc

#3590 Split parse nodes out from instructions because they're rarely used.
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/import.cpp
  toolchain/check/inst_block_stack.h
  toolchain/check/pending_block.h
  toolchain/check/return.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.cpp
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/typed_insts_test.cpp
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3597 Support passing an InstId for check diagnostics.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/return.cpp
Labels: toolchain

#3550 Refactor Duplicate Code Patterns in StaticScope Class
  explorer/ast/static_scope.cpp
  explorer/ast/static_scope.h
Labels: explorer

#3596 Add TODOs for implicit params to class and interface.
  toolchain/check/handle_class.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/testdata/class/fail_todo_generic.carbon
  toolchain/check/testdata/interface/fail_todo_generic.carbon
Labels: toolchain

#3598 Ensure we evaluate instructions created in uncommon ways.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/import.cpp
  toolchain/check/inst_block_stack.cpp
  toolchain/check/inst_block_stack.h
  toolchain/check/pending_block.h
  toolchain/check/testdata/array/array_in_place.carbon
  toolchain/check/testdata/array/assign_return_value.carbon
  toolchain/check/testdata/array/assign_var.carbon
  toolchain/check/testdata/array/base.carbon
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/array/function_param.carbon
  toolchain/check/testdata/array/nine_elements.carbon
  toolchain/check/testdata/as/as_type.carbon
  toolchain/check/testdata/basics/builtin_types.carbon
  toolchain/check/testdata/basics/numeric_literals.carbon
  toolchain/check/testdata/basics/verbose.carbon
  toolchain/check/testdata/class/fail_field_modifiers.carbon
  toolchain/check/testdata/class/fail_member_of_let.carbon
  toolchain/check/testdata/if_expr/basic.carbon
  toolchain/check/testdata/index/array_element_access.carbon
  toolchain/check/testdata/index/expr_category.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/check/testdata/let/fail_duplicate_decl.carbon
  toolchain/check/testdata/let/fail_generic.carbon
  toolchain/check/testdata/let/fail_modifiers.carbon
  toolchain/check/testdata/let/fail_todo_modifiers.carbon
  toolchain/check/testdata/let/generic.carbon
  toolchain/check/testdata/let/global.carbon
  toolchain/check/testdata/operators/unary_op.carbon
  toolchain/check/testdata/struct/two_entries.carbon
  toolchain/check/testdata/tuples/two_elements.carbon
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3613 Fix reference to package_scope.
  toolchain/check/check.cpp
Labels: toolchain

#3614 Typo fix abokve
  toolchain/lex/token_kind.def
Labels: toolchain

#3616 Change DiagnoseDuplicateName to expect an inst ID for the duplicate.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/testdata/interface/fail_duplicate.carbon
  toolchain/check/testdata/namespace/fail_import_of_repeat.carbon
Labels: toolchain

#3620 Reduce a few cases of retrieving the parse node for conditional diagnostics.
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_function.cpp
Labels: toolchain

#3618 Automatically update constant_values() when adding a constant to the constant store.
  toolchain/check/context.cpp
  toolchain/sem_ir/value_stores.cpp
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3622 Fix typo in comment
  toolchain/check/eval.cpp
Labels: toolchain

#3623 Don't take a NodeId argument for insts that have no parse node.
  toolchain/check/import.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3624 Constant evaluation support for initializing expressions.
  toolchain/check/eval.cpp
  toolchain/check/testdata/array/array_vs_tuple.carbon
  toolchain/check/testdata/array/assign_var.carbon
  toolchain/check/testdata/array/base.carbon
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/array/function_param.carbon
  toolchain/check/testdata/array/nine_elements.carbon
  toolchain/check/testdata/basics/numeric_literals.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/check/testdata/basics/textual_ir.carbon
  toolchain/check/testdata/class/base.carbon
  toolchain/check/testdata/class/derived_to_base.carbon
  toolchain/check/testdata/class/fail_init.carbon
  toolchain/check/testdata/class/fail_init_as_inplace.carbon
  toolchain/check/testdata/class/init_as.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/check/testdata/function/call/more_param_ir.carbon
  toolchain/check/testdata/if_expr/basic.carbon
  toolchain/check/testdata/if_expr/struct.carbon
  toolchain/check/testdata/index/array_element_access.carbon
  toolchain/check/testdata/index/expr_category.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/index/fail_non_deterministic_type.carbon
  toolchain/check/testdata/index/fail_tuple_index_error.carbon
  toolchain/check/testdata/index/fail_tuple_large_index.carbon
  toolchain/check/testdata/index/fail_tuple_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_tuple_out_of_bound_access.carbon
  toolchain/check/testdata/index/tuple_element_access.carbon
  toolchain/check/testdata/let/convert.carbon
  toolchain/check/testdata/operators/assignment.carbon
  toolchain/check/testdata/operators/fail_assignment_to_non_assignable.carbon
  toolchain/check/testdata/pointer/address_of_lvalue.carbon
  toolchain/check/testdata/return/fail_return_with_returned_var.carbon
  toolchain/check/testdata/return/returned_var.carbon
  toolchain/check/testdata/return/tuple.carbon
  toolchain/check/testdata/struct/empty.carbon
  toolchain/check/testdata/struct/fail_member_access_type.carbon
  toolchain/check/testdata/struct/fail_non_member_access.carbon
  toolchain/check/testdata/struct/member_access.carbon
  toolchain/check/testdata/struct/one_entry.carbon
  toolchain/check/testdata/struct/tuple_as_element.carbon
  toolchain/check/testdata/struct/two_entries.carbon
  toolchain/check/testdata/tuples/empty.carbon
  toolchain/check/testdata/tuples/fail_element_type_mismatch.carbon
  toolchain/check/testdata/tuples/nested_tuple.carbon
  toolchain/check/testdata/tuples/nested_tuple_in_place.carbon
  toolchain/check/testdata/tuples/one_element.carbon
  toolchain/check/testdata/tuples/two_elements.carbon
  toolchain/sem_ir/inst_profile.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3625 Constant evaluation for aggregate access.
  toolchain/check/eval.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/testdata/array/fail_bound_overflow.carbon
  toolchain/check/testdata/eval/aggregate.carbon
  toolchain/check/testdata/eval/fail_aggregate.carbon
  toolchain/check/testdata/index/fail_expr_category.carbon
  toolchain/check/testdata/pointer/fail_address_of_error.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3633 Fix crash when `and` or `or` appear outside a function.
  toolchain/check/handle_operator.cpp
  toolchain/check/testdata/operators/fail_and_or_not_in_function.carbon
Labels: toolchain

#3637 Check for a constant rather than a literal in indexing.
  toolchain/check/eval.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/testdata/array/fail_out_of_bound_non_literal.carbon
  toolchain/check/testdata/array/index_not_literal.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/check/testdata/index/fail_empty_tuple_access.carbon
  toolchain/check/testdata/index/fail_non_deterministic_type.carbon
  toolchain/check/testdata/index/fail_out_of_bound_not_literal.carbon
  toolchain/check/testdata/index/fail_tuple_index_error.carbon
  toolchain/check/testdata/index/fail_tuple_large_index.carbon
  toolchain/check/testdata/index/fail_tuple_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_tuple_out_of_bound_access.carbon
  toolchain/check/testdata/index/index_not_literal.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3574 Choice parsing in toolchain
  toolchain/check/handle_choice.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_choice.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/choice/basic.carbon
  toolchain/parse/testdata/choice/fail_alternative_with_implicit_params.carbon
  toolchain/parse/testdata/choice/fail_invalid_alternative_identifier.carbon
  toolchain/parse/testdata/choice/fail_invalid_braces.carbon
  toolchain/parse/testdata/choice/fail_missing_definition.carbon
  toolchain/parse/testdata/choice/fail_missing_definition_parameterized.carbon
  toolchain/parse/testdata/choice/fail_qualified_alternative_name.carbon
  toolchain/parse/testdata/choice/modifiers.carbon
  toolchain/parse/testdata/choice/parameterized.carbon
  toolchain/parse/typed_nodes.h
Labels: toolchain

#3638 Produce a more descriptive error if an array type's bound is too large.
  toolchain/check/eval.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/testdata/array/fail_bound_overflow.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#3636 Provide diagnostic locations for imports.
  toolchain/check/check.cpp
  toolchain/check/testdata/packages/fail_conflict_namespace_first.carbon
  toolchain/check/testdata/packages/fail_conflict_namespace_second.carbon
  toolchain/check/testdata/packages/fail_conflict_no_namespaces.carbon
Labels: toolchain

#3644 Improve source locations for some diagnostics.
  toolchain/check/handle_array.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/array/fail_bound_overflow.carbon
  toolchain/check/testdata/array/fail_invalid_type.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
Labels: toolchain

#3645 Propagate the phase of a type from its constituent types.
  toolchain/check/context.cpp
  toolchain/check/eval.cpp
  toolchain/check/testdata/array/fail_incomplete_element.carbon
  toolchain/check/testdata/array/fail_invalid_type.carbon
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/eval/fail_symbolic.carbon
  toolchain/check/testdata/eval/symbolic.carbon
  toolchain/check/testdata/function/generic/fail_type_param_mismatch.carbon
  toolchain/check/testdata/function/generic/type_param.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/let/generic.carbon
  toolchain/check/testdata/pointer/fail_address_of_error.carbon
  toolchain/check/testdata/struct/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuples/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuples/fail_value_as_type.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/type_info.h
  toolchain/sem_ir/value_stores.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#3650 Clean up some semir uses that can use context accessors.
  toolchain/check/convert.cpp
  toolchain/check/import.cpp
Labels: toolchain

#3647 Implement merging of namespace declarations.
  toolchain/check/context.h
  toolchain/check/handle_namespace.cpp
  toolchain/check/testdata/namespace/fail_conflict_after_merge.carbon
  toolchain/check/testdata/namespace/fail_import_of_repeat.carbon
  toolchain/check/testdata/namespace/merging.carbon
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3651 Add import support for remaining decl types.
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/import.cpp
  toolchain/check/import.h
  toolchain/check/scope_index.h
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/function/declaration/import.carbon
  toolchain/check/testdata/function/definition/import.carbon
  toolchain/check/testdata/interface/import.carbon
Labels: toolchain

#3658 Fix crash attempting to convert a struct to an invalid class.
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/fail_convert_to_invalid.carbon
Labels: toolchain

#3656 Refactor LazyImportRef into ImportRefUnused.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/eval.cpp
  toolchain/check/import.cpp
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/function/declaration/import.carbon
  toolchain/check/testdata/function/definition/import.carbon
  toolchain/check/testdata/interface/import.carbon
  toolchain/check/testdata/namespace/add_to_import.carbon
  toolchain/check/testdata/namespace/fail_conflict_after_merge.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_second.carbon
  toolchain/check/testdata/namespace/imported.carbon
  toolchain/check/testdata/namespace/imported_indirect.carbon
  toolchain/check/testdata/namespace/merging.carbon
  toolchain/check/testdata/packages/fail_conflict_no_namespaces.carbon
  toolchain/check/testdata/packages/unused_lazy_import.carbon
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3657 Start adding ImportRefUsed, removing older copy behavior.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/eval.cpp
  toolchain/check/import.cpp
  toolchain/check/testdata/namespace/add_to_import.carbon
  toolchain/check/testdata/namespace/fail_conflict_after_merge.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_second.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_second.carbon
  toolchain/check/testdata/namespace/fail_todo_imported.carbon
  toolchain/check/testdata/namespace/fail_todo_imported_indirect.carbon
  toolchain/check/testdata/namespace/fail_todo_merging.carbon
  toolchain/check/testdata/packages/fail_todo_loaded_global.carbon
  toolchain/check/testdata/var/fail_todo_import.carbon
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3654 Fix outstanding `clang-tidy` errors.
  .clang-tidy
  explorer/BUILD
  explorer/ast/BUILD
  explorer/base/BUILD
  explorer/fuzzing/BUILD
  explorer/interpreter/BUILD
  explorer/parse_and_execute/BUILD
  explorer/syntax/BUILD
  testing/file_test/file_test_base.cpp
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/eval.cpp
  toolchain/lower/function_context.cpp
  toolchain/parse/parse.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst.cpp
Labels: explorer

#3659 Merging CrossRef into ImportRefUsed, shifting builtins over.
  toolchain/check/context.cpp
  toolchain/check/eval.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/class/fail_todo_import.carbon
  toolchain/check/testdata/function/declaration/fail_todo_import.carbon
  toolchain/check/testdata/function/definition/fail_todo_import.carbon
  toolchain/check/testdata/var/fail_todo_import.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#3648 Support determining `IdKind` from `NodeCategory`, in addition to `NodeKind`
  toolchain/check/context.cpp
  toolchain/check/node_stack.h
  toolchain/parse/node_kind.h
  toolchain/parse/typed_nodes.h
Labels: toolchain

#3662 CrossRefIRId -> ImportIRId
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/import.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#3653 Remove some C++17 workarounds now we build in C++20 mode.
  toolchain/check/handle_binding_pattern.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.cpp
  toolchain/sem_ir/inst_profile.cpp
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/typed_insts_test.cpp
  toolchain/sem_ir/value_stores.h
Labels: toolchain

#3663 Implement some basic ImportRef handling for builtins.
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/testdata/class/fail_todo_import.carbon
  toolchain/check/testdata/const/fail_todo_import.carbon
  toolchain/check/testdata/function/declaration/fail_todo_import.carbon
  toolchain/check/testdata/function/definition/fail_todo_import.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_second.carbon
  toolchain/check/testdata/namespace/fail_todo_imported.carbon
  toolchain/check/testdata/namespace/fail_todo_imported_indirect.carbon
  toolchain/check/testdata/namespace/fail_todo_merging.carbon
  toolchain/check/testdata/packages/fail_todo_loaded_global.carbon
  toolchain/check/testdata/pointer/fail_todo_import.carbon
  toolchain/check/testdata/struct/fail_todo_import.carbon
  toolchain/check/testdata/tuples/fail_todo_import.carbon
  toolchain/check/testdata/var/import.carbon
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
Labels: toolchain

#3666 Use concepts and better comparisons from C++20 in `IndexBase`.
  toolchain/base/index_base.h
Labels: toolchain

#3668 Switch remaining relational operator overloads to spaceship.
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/tree.h
Labels: toolchain

#3672 Scaffolding for checking impls.
  toolchain/check/context.cpp
  toolchain/check/decl_state.h
  toolchain/check/eval.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/impl/basic.carbon
  toolchain/check/testdata/impl/empty.carbon
  toolchain/check/testdata/impl/impl_as.carbon
  toolchain/check/testdata/impl/impl_forall.carbon
  toolchain/check/testdata/interface/as_type.carbon
  toolchain/check/testdata/interface/fail_as_type_of_type.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/handle_type.cpp
  toolchain/parse/node_ids.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#3646 Tuples and tuple indexing
  docs/design/expressions/indexing.md
  docs/design/expressions/member_access.md
  docs/design/lexical_conventions/README.md
  docs/design/lexical_conventions/numeric_literals.md
  docs/design/tuples.md
  proposals/p3646.md
Labels: proposal, proposal rfc
