Repository carbon-language/carbon-lang, pull requests merged in 2024-12, with the labels that each got.

#4572 Add a basic test for name poisoning
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
Labels: toolchain

#4601 Fix impl lookup to look in the arguments of a specific.
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/specific_args.carbon
Labels: toolchain

#4610 [NFC] In DeclNameStack::AddName(), use NameScope::AddRequired() instead of duplicating its logic
  toolchain/check/decl_name_stack.cpp
Labels: toolchain

#4611 Expose InstKind::FromInt for Inst instead of InstKind::Make
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.h
Labels: toolchain

#4608 CHECK that PreCheck and GetCheckUnit are not called twice
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#4614 Support for stringifying int values used as generic arguments.
  toolchain/check/testdata/class/generic/stringify.carbon
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#4616 Factor out machinery for forming int type literals.
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/literal.cpp
  toolchain/check/literal.h
  toolchain/check/testdata/array/fail_out_of_bound_non_literal.carbon
  toolchain/check/testdata/array/function_param.carbon
  toolchain/check/testdata/array/index_not_literal.carbon
  toolchain/check/testdata/basics/fail_bad_run.carbon
  toolchain/check/testdata/basics/run_i32.carbon
  toolchain/check/testdata/class/basic.carbon
  toolchain/check/testdata/class/static_method.carbon
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/eval/fail_aggregate.carbon
  toolchain/check/testdata/if_expr/basic.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/if_expr/nested.carbon
  toolchain/check/testdata/index/array_element_access.carbon
  toolchain/check/testdata/index/expr_category.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/check/testdata/index/fail_expr_category.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/operators/builtin/fail_assignment_to_non_assignable.carbon
  toolchain/check/testdata/tuple/access/return_value_access.carbon
  toolchain/lower/testdata/array/function_param.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
Labels: toolchain

#4607 Use a Timings* in place of optional<Timings>*
  toolchain/base/timings.h
  toolchain/check/check.h
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#4604 Remove Parse::Node, add ElementIndex in docs for typed insts
  toolchain/docs/check.md
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4605 Add comments on the constants for BlockValueStore
  toolchain/sem_ir/ids.h
Labels: toolchain

#4606 Introduce AnyRawId as a polymorphic field type in typed instructions
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4609 Enable libc++ hardening mode in opt builds
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Labels: infrastructure

#4618 Restrict the Cpp package name
  toolchain/check/check.cpp
  toolchain/check/testdata/packages/fail_package_main.carbon
  toolchain/check/testdata/packages/no_prelude/restricted_package_names.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4603 Explain bazel is an alias to bazelisk, and recommend that for linux
  docs/project/contribution_tools.md
Labels: documentation

#4619 Switch TypeId::TypeType to TypeType::SingletonTypeId, and similar
  toolchain/check/call.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/eval.cpp
  toolchain/check/function.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/check/merge.cpp
  toolchain/check/pointer_dereference.cpp
  toolchain/docs/adding_features.md
  toolchain/sem_ir/class.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/ids.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4624 Fix bug introduced in #4613
  toolchain/check/import_ref.cpp
Labels: toolchain

#4625 Fix impl lookup to properly look in the IR containing a transitively-imported entity.
  toolchain/check/handle_function.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/import_ref.h
  toolchain/check/testdata/impl/lookup/transitive.carbon
Labels: toolchain

#4627 Filter out entities transitively imported from the prelude in test output.
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/packages/implicit_imports_prelude.carbon
  toolchain/check/testdata/pointer/import.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#4628 Add a compile-time check that the condition of a CHECK is not constant.
  common/check.h
  common/check_internal.h
  common/check_test.cpp
  common/raw_hashtable_metadata_group.h
  explorer/interpreter/type_checker.cpp
Labels: explorer, toolchain

#4626 Refactor IdBase to provide CRTP-based printing
  toolchain/base/index_base.h
  toolchain/base/int.h
  toolchain/base/value_ids.h
  toolchain/check/node_stack.h
  toolchain/check/scope_index.h
  toolchain/check/testdata/alias/fail_control_flow.carbon
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/verbose.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/lex/token_index.h
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/node_ids.h
  toolchain/parse/tree.h
  toolchain/parse/tree_and_subtrees.cpp
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#4629 Add missing library declarations to test.
  toolchain/check/testdata/class/fail_base_bad_type.carbon
Labels: toolchain

#4630 Avoid relying on an implicit conversion in builtin lowering test.
  toolchain/lower/testdata/builtins/no_prelude/types.carbon
Labels: toolchain

#4634 Factor out common work of determining how inty a type is.
  toolchain/sem_ir/type.cpp
Labels: toolchain

#4632 Remove InstId::Builtin members
  toolchain/check/call.cpp
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/impl.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/interface.cpp
  toolchain/check/member_access.cpp
  toolchain/check/operator.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/return.cpp
  toolchain/check/scope_stack.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/class.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/singleton_insts.h
  toolchain/sem_ir/type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4635 In indirect_import_member test, make the alias avoid name poisoning
  toolchain/check/testdata/class/no_prelude/indirect_import_member.carbon
Labels: toolchain

#4636 Change the IdBase operator== to fix reversed operator warnings
  toolchain/base/index_base.h
  toolchain/check/handle_modifier.cpp
Labels: toolchain

#4639 Convert unsupported qualifier test to be no_prelude.
  toolchain/check/testdata/basics/fail_qualifier_unsupported.carbon
  toolchain/check/testdata/basics/no_prelude/fail_qualifier_unsupported.carbon
Labels: toolchain

#4637 Finish removing BuiltinInstKind
  toolchain/check/call.cpp
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/impl.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/literal.cpp
  toolchain/check/member_access.cpp
  toolchain/docs/adding_features.md
  toolchain/docs/idioms.md
  toolchain/lower/function_context.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/builtin_inst_kind.cpp
  toolchain/sem_ir/builtin_inst_kind.h
  toolchain/sem_ir/ids.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/singleton_insts.h
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/type.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4640 Remove some assumptions that the object representation for a type is that type itself.
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/adapter/adapt.carbon
  toolchain/check/testdata/class/adapter/adapt_copy.carbon
  toolchain/check/testdata/class/adapter/extend_adapt.carbon
  toolchain/check/testdata/class/adapter/fail_adapt_bad_decl.carbon
  toolchain/check/testdata/class/adapter/fail_adapt_bad_type.carbon
  toolchain/check/testdata/class/adapter/fail_adapt_modifiers.carbon
  toolchain/check/testdata/class/adapter/fail_adapt_with_base.carbon
  toolchain/check/testdata/class/adapter/fail_adapt_with_subobjects.carbon
  toolchain/check/testdata/class/adapter/init_adapt.carbon
  toolchain/sem_ir/type_info.cpp
  toolchain/sem_ir/type_info.h
Labels: toolchain

#4641 Add video from LLVM Dev meeting
  README.md
Labels: documentation

#4642 Enable gdb_index unconditionally for gdb usage
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Labels: infrastructure

#4643 When a builtin function expects type T also allow an adapter for T.
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/function/builtin/no_prelude/adapted_type.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
Labels: toolchain

#4631 Fix crash in lowering use of a global variable
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/global/use.carbon
Labels: toolchain

#4633 Add an instruction for vptr initialization
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4623 [NFC] Convert NameScope from struct to class
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.cpp
  toolchain/lower/mangler.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/name_scope.cpp
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/name_scope_test.cpp
Labels: toolchain

#4650 Add more tests of indexing a tuple with a non-literal
  toolchain/check/testdata/tuple/access/index_not_literal.carbon
Labels: toolchain

#4656 Disable modernize-use-trailing-return-type on MATCHER_P
  toolchain/sem_ir/name_scope_test.cpp
Labels: toolchain

#4659 Rename mutable accessor in `InstBlock` store.
  toolchain/sem_ir/block_value_store.h
  toolchain/sem_ir/copy_on_write_block.h
Labels: toolchain

#4646 Mark some //common, //toolchain/driver, //‎toolchain/install tests as small per 'Test execution time' warning
  common/BUILD
  toolchain/driver/BUILD
  toolchain/install/BUILD
Labels: toolchain

#4658 Rename various `TryToCompleteType` functions to better describe what they do.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/function.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/member_access.cpp
Labels: toolchain

#4649 Refactor single-unit checking out of check.cpp
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/context.cpp
  toolchain/check/context.h
Labels: toolchain

#4660 Update the vscode extension for publishing.
  utils/vscode/images/icon.png
  utils/vscode/package.json
  website/prebuild.py
Labels: utilities

#4661 Switch from recommending a local workspace extension to recommending our published extension.
  .vscode/extensions.json
  .vscode/extensions/carbon-lang
Labels: infrastructure

#2240 Proposal: Variadics
  docs/design/variadics.md
  docs/project/principles/library_apis_only.md
  proposals/p2240.md
Labels: proposal, proposal rfc, long term

#4657 Include a fully-qualified name when stringifying types.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/array/fail_bound_overflow.carbon
  toolchain/check/testdata/array/fail_invalid_type.carbon
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/as/adapter_conversion.carbon
  toolchain/check/testdata/as/fail_no_conversion.carbon
  toolchain/check/testdata/as/fail_not_type.carbon
  toolchain/check/testdata/basics/fail_non_type_as_type.carbon
  toolchain/check/testdata/class/adapter/extend_adapt.carbon
  toolchain/check/testdata/class/adapter/fail_adapt_bad_decl.carbon
  toolchain/check/testdata/class/adapter/init_adapt.carbon
  toolchain/check/testdata/class/cross_package_import.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_compound_type_mismatch.carbon
  toolchain/check/testdata/class/fail_derived_to_base.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/class/generic/adapt.carbon
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/class/generic/stringify.carbon
  toolchain/check/testdata/class/self.carbon
  toolchain/check/testdata/const/fail_collapse.carbon
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/function/call/fail_param_type.carbon
  toolchain/check/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/check/testdata/impl/fail_impl_bad_interface.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/interface/fail_assoc_const_bad_default.carbon
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/let/fail_generic.carbon
  toolchain/check/testdata/namespace/imported_indirect.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_assignment.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_once.carbon
  toolchain/check/testdata/operators/builtin/fail_unimplemented_op.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/index.carbon
  toolchain/check/testdata/operators/overloaded/ordered.carbon
  toolchain/check/testdata/pointer/fail_type_mismatch.carbon
  toolchain/check/testdata/return/fail_type_mismatch.carbon
  toolchain/check/testdata/struct/fail_type_assign.carbon
  toolchain/check/testdata/struct/fail_value_as_type.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/access/fail_negative_indexing.carbon
  toolchain/check/testdata/tuple/access/fail_non_int_indexing.carbon
  toolchain/check/testdata/tuple/fail_element_type_mismatch.carbon
  toolchain/check/testdata/tuple/fail_type_assign.carbon
  toolchain/check/testdata/tuple/fail_value_as_type.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/check/testdata/var/fail_storage_is_literal.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/check/testdata/while/fail_bad_condition.carbon
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#4668 Make more use of llvm STLExtras
  common/array_stack.h
  common/command_line.cpp
  common/hashing_test.cpp
  common/raw_hashtable_benchmark_helpers.cpp
  testing/base/source_gen.cpp
  testing/file_test/autoupdate.h
  toolchain/check/deduce.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/scope_stack.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/numeric_literal.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/parse/extract.cpp
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/testing/coverage_helper.h
Labels: toolchain

#4665 Pacify CHECK failure on invalid code.
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/impl/no_prelude/error_recovery.carbon
Labels: toolchain

#4662 Produce a note indicating where the specific was used from if monomorphization fails.
  toolchain/check/check_unit.cpp
  toolchain/check/context.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/eval.h
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/impl.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/subst.cpp
  toolchain/check/testdata/function/generic/resolve_used.carbon
  toolchain/check/testdata/generic/complete_type.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#4670 Provide a location for monomorphization failures resulting from `TryToCompleteType`.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/generic.cpp
  toolchain/check/testdata/class/generic/complete_in_conversion.carbon
Labels: toolchain

#4669 Add `Dump` functions to Check, Parse, and Lex
  common/ostream.h
  toolchain/check/BUILD
  toolchain/check/context.h
  toolchain/check/dump.cpp
  toolchain/docs/adding_features.md
  toolchain/lex/BUILD
  toolchain/lex/dump.cpp
  toolchain/lex/dump.h
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/BUILD
  toolchain/parse/context.cpp
  toolchain/parse/dump.cpp
  toolchain/parse/dump.h
Labels: toolchain

#4667 Allow defining .h files in tests without trying to compile them as Carbon files
  testing/file_test/file_test_base.cpp
  toolchain/check/testdata/interop/cpp/no_prelude/test_support.carbon
Labels: toolchain

#4674 Lower global variables as global definitions, not global declarations.
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/global/class_obj.carbon
  toolchain/lower/testdata/global/class_with_fun.carbon
  toolchain/lower/testdata/global/decl.carbon
  toolchain/lower/testdata/global/simple_init.carbon
  toolchain/lower/testdata/global/simple_with_fun.carbon
  toolchain/lower/testdata/global/use.carbon
Labels: toolchain

#4675 Import support for array types.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/array/import.carbon
Labels: toolchain

#4664 Support stringifying tuple values.
  toolchain/check/testdata/tuple/import.carbon
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#4677 Use a filename without a line number as a cue for autoupdate.
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate_testdata.sh
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base_test.cpp
  testing/file_test/testdata/no_line_number.carbon
  toolchain/check/testdata/class/syntactic_merge_literal.carbon
  toolchain/check/testdata/packages/fail_duplicate_api.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
Labels: toolchain

#4678 Clean up missing library in test
  toolchain/check/testdata/class/syntactic_merge_literal.carbon
Labels: toolchain

#4676 Avoid printing enums as characters
  common/check_internal.h
Labels: toolchain

#4684 Fix mem usage tracking of semir
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#4686 Fix lowering of array indexing with an int literal.
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/array/array_in_place.carbon
  toolchain/lower/testdata/array/assign_return_value.carbon
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/array/field.carbon
  toolchain/lower/testdata/array/function_param.carbon
  toolchain/lower/testdata/basics/numeric_literals.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
Labels: toolchain

#4690 Shuffle around yaml formatting in .clang-tidy
  .clang-tidy
Labels: infrastructure

#4692 Do not resolve the declaration when forming a specific for use in an eval block
  toolchain/check/subst.cpp
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/generic/adapt.carbon
  toolchain/check/testdata/class/generic/base_is_generic.carbon
  toolchain/check/testdata/class/generic/basic.carbon
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/complete_in_conversion.carbon
  toolchain/check/testdata/class/generic/field.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/init.carbon
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/class/generic/member_inline.carbon
  toolchain/check/testdata/class/generic/member_lookup.carbon
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic/method_deduce.carbon
  toolchain/check/testdata/class/generic/self.carbon
  toolchain/check/testdata/class/generic/stringify.carbon
  toolchain/check/testdata/class/generic_method.carbon
  toolchain/check/testdata/class/no_prelude/generic_vs_params.carbon
  toolchain/check/testdata/deduce/generic_type.carbon
  toolchain/check/testdata/deduce/tuple.carbon
  toolchain/check/testdata/deduce/type_operator.carbon
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/function/generic/no_prelude/call.carbon
  toolchain/check/testdata/function/generic/no_prelude/import_specific.carbon
  toolchain/check/testdata/function/generic/redeclare.carbon
  toolchain/check/testdata/function/generic/return_slot.carbon
  toolchain/check/testdata/generic/complete_type.carbon
  toolchain/check/testdata/impl/extend_impl_generic.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/fail_self_type_mismatch.carbon
  toolchain/check/testdata/impl/impl_forall.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/specific_args.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
  toolchain/check/testdata/impl/no_prelude/import_use_generic.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/interface/member_lookup.carbon
  toolchain/check/testdata/interface/no_prelude/assoc_const_in_generic.carbon
  toolchain/check/testdata/interface/no_prelude/fail_generic_redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/interface/no_prelude/generic_vs_params.carbon
  toolchain/check/testdata/interface/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/operators/overloaded/implicit_as.carbon
  toolchain/check/testdata/operators/overloaded/no_prelude/index.carbon
  toolchain/check/testdata/return/no_prelude/import_convert_function.carbon
  toolchain/check/testdata/where_expr/dot_self_index.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
Labels: toolchain

#4673 Add solutions for advent of code 2024 day 1 to `examples/`.
  core/BUILD
  core/io.carbon
  core/prelude.carbon
  examples/advent2024/BUILD
  examples/advent2024/README.md
  examples/advent2024/day1_common.carbon
  examples/advent2024/day1_part1.carbon
  examples/advent2024/day1_part2.carbon
  examples/advent2024/io_utils.carbon
  examples/advent2024/sort.carbon
  examples/sieve.carbon
  toolchain/check/eval.cpp
  toolchain/check/testdata/builtins/print/char.carbon
  toolchain/check/testdata/builtins/print/int.carbon
  toolchain/check/testdata/builtins/read/int.carbon
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/builtins/print.carbon
  toolchain/lower/testdata/builtins/print_read.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
Labels: infrastructure, toolchain, documentation

#4685 Ensure that all allocas are created in the entry block.
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/alias/local.carbon
  toolchain/lower/testdata/array/array_in_place.carbon
  toolchain/lower/testdata/array/assign_return_value.carbon
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/basics/numeric_literals.carbon
  toolchain/lower/testdata/builtins/no_prelude/types.carbon
  toolchain/lower/testdata/class/adapt.carbon
  toolchain/lower/testdata/class/basic.carbon
  toolchain/lower/testdata/class/convert.carbon
  toolchain/lower/testdata/class/field.carbon
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/lower/testdata/function/call/empty_struct.carbon
  toolchain/lower/testdata/function/call/empty_tuple.carbon
  toolchain/lower/testdata/function/call/i32.carbon
  toolchain/lower/testdata/function/call/implicit_empty_tuple_as_arg.carbon
  toolchain/lower/testdata/function/call/return_implicit.carbon
  toolchain/lower/testdata/function/call/var_param.carbon
  toolchain/lower/testdata/function/generic/call.carbon
  toolchain/lower/testdata/function/generic/call_method.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
  toolchain/lower/testdata/let/tuple.carbon
  toolchain/lower/testdata/operators/assignment.carbon
  toolchain/lower/testdata/pointer/address_of_field.carbon
  toolchain/lower/testdata/pointer/address_of_unused.carbon
  toolchain/lower/testdata/pointer/basic.carbon
  toolchain/lower/testdata/pointer/pointer_to_pointer.carbon
  toolchain/lower/testdata/return/return_var_byval.carbon
  toolchain/lower/testdata/return/var.carbon
  toolchain/lower/testdata/struct/empty.carbon
  toolchain/lower/testdata/struct/member_access.carbon
  toolchain/lower/testdata/struct/nested_struct_in_place.carbon
  toolchain/lower/testdata/struct/one_entry.carbon
  toolchain/lower/testdata/struct/two_entries.carbon
  toolchain/lower/testdata/tuple/access/element_access.carbon
  toolchain/lower/testdata/tuple/access/return_value_access.carbon
  toolchain/lower/testdata/tuple/empty.carbon
  toolchain/lower/testdata/tuple/nested_tuple_in_place.carbon
  toolchain/lower/testdata/tuple/one_entry.carbon
  toolchain/lower/testdata/tuple/two_entries.carbon
  toolchain/lower/testdata/tuple/value_formation.carbon
  toolchain/lower/testdata/var/local.carbon
  toolchain/lower/testdata/var/nested.carbon
Labels: toolchain

#4651 Add bit packing to NodeImpl
  toolchain/lex/lex.cpp
  toolchain/lex/token_index.h
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
Labels: toolchain

#4691 Update files and clang-tidy config to pass with clang-tidy-20
  .clang-tidy
  common/hashing.h
  common/indirect_value_test.cpp
  common/raw_hashtable_metadata_group_benchmark.cpp
  scripts/run_clang_tidy.py
  testing/base/source_gen.h
  testing/file_test/autoupdate.h
  testing/file_test/file_test_base.cpp
  testing/file_test/line.h
  toolchain/check/param_and_arg_refs_stack.h
  toolchain/check/pattern_match.cpp
  toolchain/driver/compile_benchmark.cpp
  toolchain/language_server/server.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/extract.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/singleton_insts.h
  toolchain/testing/coverage_helper.h
  toolchain/testing/file_test.cpp
Labels: infrastructure, toolchain

#4695 Import support for `Call` and `BoundMethod`.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/impl/no_prelude/import_builtin_call.carbon
Labels: toolchain

#4688 Remove `CHECK` from `GetCurrentReturnSlot`
  toolchain/check/return.cpp
  toolchain/check/testdata/return/fail_returned_var_no_return_type.carbon
Labels: toolchain

#4696 Support `StructValue` in `StringifyTypeExpr`
  toolchain/check/testdata/class/generic/stringify.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#4654 Basic name poisoning support
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/name_scope.cpp
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/name_scope_test.cpp
Labels: toolchain

#4699 Look at flipping clang-tidy's misc-* to enable-by-default
  .clang-tidy
  common/command_line.cpp
  common/command_line.h
  migrate_cpp/cpp_refactoring/fn_inserter.cpp
  migrate_cpp/cpp_refactoring/for_range.cpp
  migrate_cpp/cpp_refactoring/var_decl.cpp
  migrate_cpp/rewriter.cpp
  testing/fuzzing/proto_to_carbon.cpp
  toolchain/base/value_ids.h
  toolchain/check/convert.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/subst.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/testing/yaml_test_helpers.cpp
Labels: infrastructure, toolchain

#4687 Document StepStack
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#4647 Fix Devcontainer build errors
  .devcontainer/devcontainer.json
  docker/README.md
  docker/ubuntu2404/Dockerfile
  docker/ubuntu2404/base/Dockerfile
  docker/ubuntu2404/github/Dockerfile
Labels: infrastructure

#4700 Abort checking when encountering an invalid parse node
  toolchain/check/check_unit.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_noop.cpp
  toolchain/check/testdata/basics/type_literals.carbon
  toolchain/check/testdata/class/fail_base_as_declared_name.carbon
  toolchain/check/testdata/class/fail_base_misplaced.carbon
  toolchain/check/testdata/class/fail_self_type_member.carbon
  toolchain/check/testdata/class/fail_todo_local_class.carbon
  toolchain/check/testdata/function/declaration/no_prelude/extern_library.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_pattern_in_signature.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_todo_no_params.carbon
  toolchain/check/testdata/packages/no_prelude/export_import.carbon
  toolchain/check/testdata/struct/fail_keyword_name.carbon
  toolchain/lower/testdata/basics/fail_before_lowering.carbon
Labels: toolchain

#4701 Add equality comparison support for `bool`.
  core/prelude/operators/comparison.carbon
  toolchain/check/eval.cpp
  toolchain/check/testdata/builtins/bool/eq.carbon
  toolchain/check/testdata/builtins/bool/neq.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/ordered.carbon
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/builtins/no_prelude/bool.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
Labels: toolchain

#4705 Fix default for Carbon Path
  utils/vscode/package-lock.json
  utils/vscode/package.json
Labels: utilities

#4707 Undo formatting changes for clang-tidy-16 compatibility.
  .clang-tidy
Labels: infrastructure

#4712 Change Dump functions to static where appropriate.
  toolchain/check/BUILD
  toolchain/check/dump.cpp
Labels: toolchain

#4703 Do a pass on vscode development instructions
  utils/vscode/development.md
Labels: utilities

#4702 Enable misc-non-private-member-variables-in-classes and adjust style to match
  .clang-tidy
  docs/project/cpp_style_guide.md
  migrate_cpp/cpp_refactoring/matcher_test_base.h
  toolchain/check/node_stack.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/driver/driver_test.cpp
  toolchain/install/busybox_info_test.cpp
  toolchain/install/install_paths_test.cpp
  toolchain/lex/string_literal_test.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/typed_nodes_test.cpp
Labels: infrastructure, toolchain, documentation

#4710 Add documentation for running GDB and LLDB
  .bazelrc
  .vscode/gdb_launch.json
  .vscode/lldb_launch.json
  docs/project/contribution_tools.md
Labels: infrastructure, documentation

#4704 Fix incorrect lowering of mixed constant / non-constant aggregate initialization.
  toolchain/check/testdata/struct/partially_const.carbon
  toolchain/lower/handle_aggregates.cpp
  toolchain/lower/testdata/return/return_var.carbon
  toolchain/lower/testdata/struct/partially_const.carbon
Labels: toolchain

#4708 Solution for advent of code day 2.
  examples/advent2024/BUILD
  examples/advent2024/day2_common.carbon
  examples/advent2024/day2_part1.carbon
  examples/advent2024/day2_part2.carbon
  examples/advent2024/io_utils.carbon
Labels: documentation

#4713 Solution for advent of code day 3.
  examples/advent2024/BUILD
  examples/advent2024/day3_common.carbon
  examples/advent2024/day3_part1.carbon
  examples/advent2024/day3_part2.carbon
  examples/advent2024/io_utils.carbon
Labels: dependent, documentation

#4715 Enable libc++ and LLVM pretty printers for gdb
  .gdbinit
Labels: infrastructure

#4717 Fix a protected data member in a test.
  toolchain/lex/numeric_literal_test.cpp
  toolchain/parse/tree_test.cpp
Labels: toolchain

#4709 Fix syntactic match of impl decl to definition
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/impl/no_prelude/generic_redeclaration.carbon
  toolchain/check/testdata/impl/redeclaration.carbon
Labels: toolchain

#4527 Replace #4505 with a different set of workarounds
  .vscode/gdb_launch.json
  .vscode/lldb_launch.json
  docs/project/contribution_tools.md
  toolchain/BUILD
  toolchain/docs/adding_features.md
  toolchain/install/BUILD
  toolchain/install/busybox_info.h
  toolchain/install/busybox_info_test.cpp
  toolchain/install/busybox_main.cpp
  toolchain/install/install_filegroups.bzl
  toolchain/install/run_tool.bzl
  toolchain/install/symlink_helpers.bzl
  toolchain/run_tool.bzl
  utils/nvim/carbon.lua
  utils/vscode/package.json
  utils/vscode/src/extension.ts
Labels: toolchain, documentation

#4722 Extension version bump and npm update for a release of #4527
  utils/vscode/package-lock.json
  utils/vscode/package.json
Labels: utilities

#4595 Teach the SIMD metadata group match to defer masking
  common/raw_hashtable_metadata_group.h
  common/raw_hashtable_metadata_group_benchmark.cpp
Labels: toolchain

#4725 Fix VSCode language extension configuration instructions
  utils/vscode/README.md
Labels: utilities

#4723 Fix a clang-tidy issue
  toolchain/check/context.cpp
Labels: toolchain

#4727 Remove stale comment
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#4728 Enable strict action env
  .bazelrc
Labels: infrastructure

#4730 `has_definition_started` accessor for entities
  toolchain/check/context.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/sem_ir/entity_with_params_base.h
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/interface.h
Labels: toolchain

#4733 Fix handling of repeated tuple indexing.
  toolchain/lex/lex.cpp
  toolchain/lex/numeric_literal.cpp
  toolchain/lex/numeric_literal.h
  toolchain/lex/numeric_literal_benchmark.cpp
  toolchain/lex/numeric_literal_fuzzer.cpp
  toolchain/lex/numeric_literal_test.cpp
  toolchain/lex/testdata/repeated_tuple_index.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/testdata/tuple/access/repeated.carbon
Labels: toolchain

#4737 Fix path to carbon binary in nightly builder
  .github/workflows/nightly_release.yaml
Labels: infrastructure

#4736 Fix the forty_two.carbon example in getting started
  README.md
Labels: documentation

#4740 Use unsigned arithmetic builtins for UInt(N) operations
  core/prelude/types/uint.carbon
  toolchain/lower/testdata/operators/arithmetic.carbon
Labels: toolchain

#4744 Make snegate / unegate overflow handling consistent with other builtins.
  core/prelude/types/uint.carbon
  toolchain/check/eval.cpp
  toolchain/check/testdata/builtins/int/unegate.carbon
  toolchain/lower/testdata/operators/arithmetic.carbon
Labels: toolchain

#4745 Drop references to deleted explorer fuzzer
  explorer/BUILD
  explorer/README.md
  explorer/parse_and_execute/BUILD
  explorer/syntax/BUILD
Labels: explorer

#4748 Suppress testing SemIR in int builtin tests.
  testing/file_test/README.md
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  toolchain/check/testdata/basics/no_prelude/raw_identifier.carbon
  toolchain/check/testdata/builtins/float/add.carbon
  toolchain/check/testdata/builtins/float/div.carbon
  toolchain/check/testdata/builtins/float/eq.carbon
  toolchain/check/testdata/builtins/float/greater.carbon
  toolchain/check/testdata/builtins/float/greater_eq.carbon
  toolchain/check/testdata/builtins/float/less.carbon
  toolchain/check/testdata/builtins/float/less_eq.carbon
  toolchain/check/testdata/builtins/float/mul.carbon
  toolchain/check/testdata/builtins/float/negate.carbon
  toolchain/check/testdata/builtins/float/neq.carbon
  toolchain/check/testdata/builtins/float/sub.carbon
  toolchain/check/testdata/builtins/int/and.carbon
  toolchain/check/testdata/builtins/int/complement.carbon
  toolchain/check/testdata/builtins/int/convert_checked.carbon
  toolchain/check/testdata/builtins/int/eq.carbon
  toolchain/check/testdata/builtins/int/greater.carbon
  toolchain/check/testdata/builtins/int/greater_eq.carbon
  toolchain/check/testdata/builtins/int/left_shift.carbon
  toolchain/check/testdata/builtins/int/less.carbon
  toolchain/check/testdata/builtins/int/less_eq.carbon
  toolchain/check/testdata/builtins/int/make_type_signed.carbon
  toolchain/check/testdata/builtins/int/make_type_unsigned.carbon
  toolchain/check/testdata/builtins/int/neq.carbon
  toolchain/check/testdata/builtins/int/or.carbon
  toolchain/check/testdata/builtins/int/right_shift.carbon
  toolchain/check/testdata/builtins/int/sadd.carbon
  toolchain/check/testdata/builtins/int/sdiv.carbon
  toolchain/check/testdata/builtins/int/smod.carbon
  toolchain/check/testdata/builtins/int/smul.carbon
  toolchain/check/testdata/builtins/int/snegate.carbon
  toolchain/check/testdata/builtins/int/ssub.carbon
  toolchain/check/testdata/builtins/int/uadd.carbon
  toolchain/check/testdata/builtins/int/udiv.carbon
  toolchain/check/testdata/builtins/int/umod.carbon
  toolchain/check/testdata/builtins/int/umul.carbon
  toolchain/check/testdata/builtins/int/unegate.carbon
  toolchain/check/testdata/builtins/int/usub.carbon
  toolchain/check/testdata/builtins/int/xor.carbon
  toolchain/check/testdata/builtins/int_literal/make_type.carbon
  toolchain/check/testdata/function/builtin/call.carbon
  toolchain/driver/testdata/compile/multifile_raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/multifile_raw_ir.carbon
  toolchain/driver/testdata/compile/raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/raw_ir.carbon
  toolchain/driver/testdata/compile/textual_ir.carbon
  toolchain/lex/testdata/basic_syntax.carbon
Labels: toolchain

#4741 Align StaticRandomData to cacheline size.
  common/hashing.h
Labels: toolchain

#4749 Don't produce a follow-on error message if we try to perform an impl lookup during error recovery.
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_once.carbon
  toolchain/check/testdata/operators/overloaded/fail_error_recovery.carbon
Labels: toolchain

#4743 Avoid misaligned loads from StaticRandomData in the size [4, 8] hashing case.
  common/hashing.h
Labels: toolchain

#4746 Update Read*To* to improve operation dependency graph.
  common/hashing.h
Labels: toolchain

#4726 Store hash in the probed_indices array in common/raw_hashtable.h to avoid its recomputation.
  common/raw_hashtable.h
Labels: toolchain

#4716 Add support for operators on `Core.IntLiteral`.
  core/io.carbon
  core/prelude/operators/arithmetic.carbon
  core/prelude/operators/bitwise.carbon
  core/prelude/operators/comparison.carbon
  toolchain/base/int.h
  toolchain/check/eval.cpp
  toolchain/check/testdata/array/base.carbon
  toolchain/check/testdata/basics/builtin_types.carbon
  toolchain/check/testdata/basics/fail_numeric_literal_overflow.carbon
  toolchain/check/testdata/basics/numeric_literals.carbon
  toolchain/check/testdata/builtins/float/make_type.carbon
  toolchain/check/testdata/builtins/int/and.carbon
  toolchain/check/testdata/builtins/int/complement.carbon
  toolchain/check/testdata/builtins/int/eq.carbon
  toolchain/check/testdata/builtins/int/greater_eq.carbon
  toolchain/check/testdata/builtins/int/left_shift.carbon
  toolchain/check/testdata/builtins/int/less_eq.carbon
  toolchain/check/testdata/builtins/int/right_shift.carbon
  toolchain/check/testdata/builtins/int/sadd.carbon
  toolchain/check/testdata/builtins/int/sdiv.carbon
  toolchain/check/testdata/builtins/int/smod.carbon
  toolchain/check/testdata/builtins/int/smul.carbon
  toolchain/check/testdata/builtins/int/snegate.carbon
  toolchain/check/testdata/builtins/int/ssub.carbon
  toolchain/check/testdata/builtins/print/char.carbon
  toolchain/check/testdata/builtins/print/int.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/function/builtin/method.carbon
  toolchain/check/testdata/if_expr/control_flow.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_once.carbon
  toolchain/check/testdata/operators/builtin/fail_unimplemented_op.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_error_recovery.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/negate.carbon
  toolchain/check/testdata/packages/implicit_imports_prelude.carbon
  toolchain/check/testdata/pointer/import.carbon
  toolchain/check/testdata/return/returned_var_scope.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/access/fail_negative_indexing.carbon
  toolchain/check/testdata/tuple/access/index_not_literal.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/constant.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.h
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/builtins/int.carbon
  toolchain/lower/testdata/builtins/int_literal.carbon
  toolchain/lower/testdata/builtins/print_read.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.h
Labels: toolchain
