Repository carbon-language/carbon-lang, pull requests merged in 2024-07, with the labels that each got.

#4088 Fix quirks in debug printing
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/import_ir.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#4096 Hack in a unique IDs counter to source stats.
  scripts/source_stats.py
Labels: infrastructure

#4092 Track a list of dependent instructions created within a generic
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/generic_region_stack.cpp
  toolchain/check/generic_region_stack.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/import_ref.cpp
  toolchain/sem_ir/inst.h
Labels: toolchain

#4094 A collection of hashing improvements from using hashtables.
  common/hashing.h
  common/hashing_test.cpp
  common/raw_hashtable_test_helpers.h
  toolchain/sem_ir/bind_name.h
  toolchain/sem_ir/inst.h
Labels: toolchain

#4095 Key context improvements
  .codespell_ignore
  common/BUILD
  common/hashtable_key_context.h
  common/hashtable_key_context_test.cpp
  common/map.h
  common/raw_hashtable.h
  common/raw_hashtable_test_helpers.h
  toolchain/sem_ir/generic.cpp
Labels: infrastructure, toolchain

#4102 Store additional information for symbolic constants.
  toolchain/check/member_access.cpp
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/sem_ir/constant.cpp
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
Labels: toolchain

#4099 Fix drop_back call in scope_stack
  toolchain/check/scope_stack.cpp
Labels: toolchain

#4106 Use separate value stores for identifiers and string literals
  toolchain/base/value_store.h
  toolchain/base/value_store_test.cpp
  toolchain/check/context.h
  toolchain/check/lexical_lookup.h
  toolchain/check/scope_stack.h
  toolchain/driver/testdata/dump_shared_values.carbon
  toolchain/sem_ir/file.h
  toolchain/sem_ir/name.h
Labels: toolchain

#4100 Create an array stack type for a shared use-case
  common/BUILD
  common/array_stack.h
  common/array_stack_test.cpp
  toolchain/check/BUILD
  toolchain/check/generic.cpp
  toolchain/check/generic_region_stack.cpp
  toolchain/check/generic_region_stack.h
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
Labels: toolchain

#4101 Split global init out from InstBlockStack.
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/global_init.cpp
  toolchain/check/global_init.h
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/inst_block_stack.cpp
  toolchain/check/inst_block_stack.h
Labels: toolchain

#4108 Add a few percentiles to histogram output.
  scripts/source_stats.py
Labels: infrastructure

#4104 Refactor InstBlockStack to use ArrayStack.
  common/array_stack.h
  common/array_stack_test.cpp
  toolchain/check/BUILD
  toolchain/check/inst_block_stack.cpp
  toolchain/check/inst_block_stack.h
Labels: toolchain

#4110 Build a list of dependent constants to recompute in each instance of a generic.
  toolchain/check/eval.cpp
  toolchain/check/function.cpp
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/member_access.cpp
  toolchain/check/merge.cpp
  toolchain/check/subst.cpp
  toolchain/check/subst.h
  toolchain/check/testdata/array/generic_empty.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/check/testdata/builtins/int/make_type_signed.carbon
  toolchain/check/testdata/builtins/int/make_type_unsigned.carbon
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/generic/basic.carbon
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/fail_todo_use.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_inline.carbon
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic/redeclare.carbon
  toolchain/check/testdata/class/generic/self.carbon
  toolchain/check/testdata/class/generic_method.carbon
  toolchain/check/testdata/eval/fail_symbolic.carbon
  toolchain/check/testdata/eval/symbolic.carbon
  toolchain/check/testdata/function/builtin/method.carbon
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/function/generic/fail_todo_param_in_type.carbon
  toolchain/check/testdata/function/generic/no_prelude/fail_type_param_mismatch.carbon
  toolchain/check/testdata/function/generic/no_prelude/indirect_generic_type.carbon
  toolchain/check/testdata/function/generic/no_prelude/type_param.carbon
  toolchain/check/testdata/function/generic/no_prelude/type_param_scope.carbon
  toolchain/check/testdata/function/generic/redeclare.carbon
  toolchain/check/testdata/impl/compound.carbon
  toolchain/check/testdata/impl/fail_call_invalid.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/lookup/instance_method.carbon
  toolchain/check/testdata/impl/no_prelude/import_self.carbon
  toolchain/check/testdata/impl/no_prelude/self_in_class.carbon
  toolchain/check/testdata/impl/no_prelude/self_in_signature.carbon
  toolchain/check/testdata/interface/no_prelude/as_type_of_type.carbon
  toolchain/check/testdata/interface/no_prelude/fail_generic_redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_facet_lookup.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_binding_after_assoc_const.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/interface/no_prelude/self.carbon
  toolchain/check/testdata/namespace/fail_params.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/type.h
Labels: toolchain

#4113 Remove SemIR::RealLiteral
  toolchain/check/eval.cpp
  toolchain/lower/constant.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4114 Update the conference talk list for EuroLLVM videos
  README.md
Labels: documentation

#4112 Add comments for instructions that lack it.
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4116 Move Lower::HandleCall out to its own file.
  toolchain/lower/BUILD
  toolchain/lower/handle.cpp
  toolchain/lower/handle_call.cpp
Labels: toolchain

#4118 When performing name lookup, determine the generic instance within which the lookup result was found.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_name.cpp
  toolchain/check/member_access.cpp
  toolchain/check/operator.cpp
  toolchain/check/testdata/class/basic.carbon
  toolchain/check/testdata/class/fail_base_unbound.carbon
  toolchain/check/testdata/class/fail_method.carbon
  toolchain/check/testdata/class/fail_unbound_field.carbon
  toolchain/check/testdata/class/generic/field.carbon
  toolchain/check/testdata/class/nested_name.carbon
  toolchain/check/testdata/class/no_prelude/indirect_import_member.carbon
  toolchain/check/testdata/class/reenter_scope.carbon
  toolchain/check/testdata/class/reorder.carbon
  toolchain/check/testdata/class/scope.carbon
  toolchain/check/testdata/impl/lookup/fail_todo_undefined_impl.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_not_constant.carbon
  toolchain/check/testdata/package_expr/syntax.carbon
Labels: toolchain

#4115 Rename Builtin to BuiltinInst, particularly to get BuiltinInstKind
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/handle_call.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/builtin_inst_kind.cpp
  toolchain/sem_ir/builtin_inst_kind.def
  toolchain/sem_ir/builtin_inst_kind.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/type.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4117 Refactor whether a function is lowered into InstKind::Define
  toolchain/lower/function_context.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4119 Refactor InstKind to move metadata from macros to the type.
  .clang-format
  toolchain/check/context.cpp
  toolchain/lower/constant.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/handle_type.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4123 Add a convenience method for dumping the formatted SemIR file.
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
Labels: toolchain

#4120 Refactor lower handlers to use overloads.
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/handle_aggregates.cpp
  toolchain/lower/handle_call.cpp
  toolchain/lower/handle_expr_category.cpp
Labels: toolchain

#4122 Add an instruction to represent a use of a dependent value from a generic instance.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/eval.cpp
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/member_access.cpp
  toolchain/check/operator.cpp
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/generic/basic.carbon
  toolchain/check/testdata/class/generic/fail_todo_use.carbon
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic/self.carbon
  toolchain/check/testdata/class/generic_method.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/lower/constant.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/generic.cpp
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4126 Adjust driver references to use the install version.
  README.md
  docs/project/contribution_tools.md
  toolchain/BUILD
  toolchain/driver/BUILD
Labels: toolchain, documentation

#4127 Refactor tool fetching for easier updates.
  scripts/calculate_release_shas.py
  scripts/scripts_utils.py
  scripts/target_determinator.py
Labels: infrastructure

#4121 Rename check handlers to HandleParseNode overloads.
  toolchain/check/check.cpp
  toolchain/check/handle.h
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_choice.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_codeblock.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/handle_file.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_import_and_package.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_match.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_named_constraint.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_noop.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_paren_expr.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/handle_return_statement.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_tuple_literal.cpp
Labels: toolchain

#4105 Establish toolchain and language versioning
  docs/project/versioning.md
  proposals/p4105.md
Labels: proposal, proposal rfc, documentation

#4129 Add a run_bazelisk wrapper script for linux.
  README.md
  docs/project/contribution_tools.md
  scripts/run_bazelisk.py
  scripts/scripts_utils.py
Labels: infrastructure, documentation

#4134 Remove unused member.
  toolchain/lex/tokenized_buffer.h
Labels: toolchain

#4131 Build an evaluation block for the definition region of a generic.
  toolchain/check/generic.cpp
  toolchain/check/testdata/array/generic_empty.carbon
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/generic/basic.carbon
  toolchain/check/testdata/class/generic/fail_todo_use.carbon
  toolchain/check/testdata/class/generic/field.carbon
  toolchain/check/testdata/class/generic/self.carbon
  toolchain/check/testdata/class/generic_method.carbon
  toolchain/check/testdata/eval/fail_symbolic.carbon
  toolchain/check/testdata/eval/symbolic.carbon
  toolchain/check/testdata/function/generic/no_prelude/fail_type_param_mismatch.carbon
  toolchain/check/testdata/function/generic/no_prelude/type_param.carbon
  toolchain/check/testdata/function/generic/no_prelude/type_param_scope.carbon
  toolchain/check/testdata/function/generic/redeclare.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/interface/no_prelude/as_type_of_type.carbon
  toolchain/check/testdata/interface/no_prelude/fail_add_member_outside_definition.carbon
  toolchain/check/testdata/interface/no_prelude/fail_generic_redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_facet_lookup.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/sem_ir/formatter.cpp
Labels: dependent

#4138 Rebuild the type of constants during evaluation.
  toolchain/check/eval.cpp
  toolchain/check/testdata/array/generic_empty.carbon
  toolchain/check/testdata/eval/symbolic.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_empty_tuple_access.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/index/fail_non_deterministic_type.carbon
  toolchain/check/testdata/index/fail_out_of_bound_not_literal.carbon
  toolchain/check/testdata/index/fail_tuple_index_error.carbon
  toolchain/check/testdata/index/fail_tuple_large_index.carbon
  toolchain/check/testdata/index/fail_tuple_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_tuple_out_of_bound_access.carbon
Labels: toolchain

#4136 Add basic output of where memory is stored after a compile.
  toolchain/base/BUILD
  toolchain/base/mem_usage.h
  toolchain/base/value_store.h
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/dump_mem_usage.carbon
  toolchain/lex/BUILD
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/sem_ir/block_value_store.h
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/generic.cpp
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/type.h
Labels: toolchain

#4137 Do not query interface's self_param_id unless defined when importing
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/interface/no_prelude/fail_definition_imported.carbon
  toolchain/check/testdata/interface/no_prelude/import_interface_decl.carbon
Labels: toolchain

#4139 Substitute into generic class and interface definitions when we require them to be fully defined.
  toolchain/check/context.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/eval.cpp
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/testdata/array/generic_empty.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/check/testdata/builtins/int/make_type_signed.carbon
  toolchain/check/testdata/builtins/int/make_type_unsigned.carbon
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/generic/basic.carbon
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/fail_todo_use.carbon
  toolchain/check/testdata/class/generic/field.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_inline.carbon
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic/self.carbon
  toolchain/check/testdata/class/generic_method.carbon
  toolchain/check/testdata/eval/fail_symbolic.carbon
  toolchain/check/testdata/eval/symbolic.carbon
  toolchain/check/testdata/function/generic/no_prelude/fail_type_param_mismatch.carbon
  toolchain/check/testdata/function/generic/no_prelude/indirect_generic_type.carbon
  toolchain/check/testdata/function/generic/no_prelude/type_param.carbon
  toolchain/check/testdata/function/generic/no_prelude/type_param_scope.carbon
  toolchain/check/testdata/function/generic/redeclare.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/interface/no_prelude/as_type_of_type.carbon
  toolchain/check/testdata/interface/no_prelude/fail_add_member_outside_definition.carbon
  toolchain/check/testdata/interface/no_prelude/fail_generic_redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_facet_lookup.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/sem_ir/constant.cpp
  toolchain/sem_ir/generic.cpp
Labels: dependent, toolchain

#4142 Enable the more effective version of `-Wnon-virtual-dtor`.
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Labels: infrastructure

#4133 Directly use TCMalloc rather than the system malloc on Linux.
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Labels: infrastructure

#4141 Mark some leaf classes `final` to suppress `-Wnon-virtual-dtor`.
  toolchain/check/generic.cpp
  toolchain/check/subst.cpp
Labels: toolchain

#4125 Use verbose formatting of instructions on crash messages.
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/inst_block_stack.cpp
  toolchain/check/inst_block_stack.h
  toolchain/check/node_stack.cpp
  toolchain/check/node_stack.h
  toolchain/check/param_and_arg_refs_stack.h
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/generic/basic.carbon
  toolchain/check/testdata/class/generic/fail_todo_use.carbon
  toolchain/check/testdata/class/generic/field.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic_method.carbon
  toolchain/check/testdata/function/generic/redeclare.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/fail_redefinition.carbon
  toolchain/check/testdata/impl/no_prelude/self_in_signature.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_not_binding.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_template.carbon
  toolchain/check/testdata/interface/no_prelude/fail_duplicate.carbon
  toolchain/check/testdata/interface/no_prelude/fail_generic_redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
  toolchain/check/testdata/return/fail_let_in_type.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
  toolchain/driver/driver.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
  toolchain/sem_ir/inst_namer.cpp
Labels: toolchain

#4140 Change TypeId to be a thin wrapper around ConstantId.
  toolchain/check/context.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/verbose.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/testdata/function/generic/type_param.carbon
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/type.h
  toolchain/sem_ir/type_info.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#4143 Basic testing for generic methods using `Self`.
  toolchain/check/testdata/class/generic/member_inline.carbon
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
Labels: toolchain

#4144 Move `GetTypeInInstance` from `Check` to `SemIR`.
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/member_access.cpp
  toolchain/sem_ir/generic.cpp
  toolchain/sem_ir/generic.h
Labels: toolchain

#4107 Reserve memory for the identifiers hashtable.
  toolchain/base/value_store.h
  toolchain/base/value_store_test.cpp
  toolchain/lex/lex.cpp
Labels: toolchain

#4146 Abbreviate instruction as inst in formatter.
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#4147 Try some crash recovery in autoupdate threads.
  testing/file_test/file_test_base.cpp
Labels: toolchain

#4150 Remove irregular digit placement check from NumericLiteral.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lex/numeric_literal.cpp
  toolchain/lex/numeric_literal_test.cpp
Labels: toolchain

#4090 Rename BindNameInfo to EntityName
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/eval.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/impl.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/import_ref.h
  toolchain/check/member_access.cpp
  toolchain/check/subst.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/entity_name.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#4148 Remove already-done no_prelude todo.
  toolchain/check/check.cpp
Labels: toolchain

#4149 Implement syntactic merge checks for parameters.
  toolchain/check/decl_name_stack.cpp
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/global_init.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.cpp
  toolchain/check/merge.h
  toolchain/check/name_component.cpp
  toolchain/check/name_component.h
  toolchain/check/testdata/class/base_method.carbon
  toolchain/check/testdata/class/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/class/syntactic_merge_literal.carbon
  toolchain/check/testdata/function/definition/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/interface/no_prelude/syntactic_merge.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/sem_ir/class.h
  toolchain/sem_ir/function.h
  toolchain/sem_ir/interface.h
Labels: toolchain

#4159 Remove overeager CHECK.
  toolchain/check/eval.cpp
  toolchain/check/testdata/class/generic/call.carbon
Labels: toolchain

#4160 Convert `EvalContext` into a class.
  toolchain/check/eval.cpp
Labels: toolchain

#4158 Add a mention of our nightly builds to our `README.md`.
  README.md
Labels: documentation

#4156 Support for calling non-generic methods in a specific class.
  toolchain/check/call.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/eval.cpp
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/handle_function.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.cpp
  toolchain/check/return.cpp
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/basics/no_prelude/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/check/testdata/builtins/int/make_type_signed.carbon
  toolchain/check/testdata/builtins/int/make_type_unsigned.carbon
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/generic/basic.carbon
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/fail_todo_use.carbon
  toolchain/check/testdata/class/generic/field.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/init.carbon
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/class/generic/member_inline.carbon
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic/self.carbon
  toolchain/check/testdata/class/generic_method.carbon
  toolchain/check/testdata/function/builtin/method.carbon
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/function/generic/no_prelude/indirect_generic_type.carbon
  toolchain/check/testdata/function/generic/no_prelude/type_param_scope.carbon
  toolchain/check/testdata/function/generic/redeclare.carbon
  toolchain/check/testdata/function/generic/return_slot.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/no_prelude/import_self.carbon
  toolchain/check/testdata/impl/no_prelude/self_in_class.carbon
  toolchain/check/testdata/impl/no_prelude/self_in_signature.carbon
  toolchain/check/testdata/interface/no_prelude/fail_add_member_outside_definition.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/interface/no_prelude/self.carbon
  toolchain/check/testdata/return/fail_let_in_type.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/typed_insts.h
Labels: dependent, toolchain

#4162 When reentering an interface scope, reintroduce the `Self` parameter.
  toolchain/check/decl_name_stack.cpp
  toolchain/check/testdata/interface/fail_todo_define_default_fn_out_of_line.carbon
  toolchain/check/testdata/interface/no_prelude/fail_add_member_outside_definition.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
Labels: toolchain

#4161 Move common entity fields to a 'base' struct.
  toolchain/check/call.cpp
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/global_init.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.h
  toolchain/check/testdata/basics/no_prelude/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/class.h
  toolchain/sem_ir/entity_with_params_base.h
  toolchain/sem_ir/function.h
  toolchain/sem_ir/interface.h
Labels: toolchain

#4135 docs: add a note on setting up `clangd`
  docs/project/contribution_tools.md
Labels: documentation

#4164 fix: `clangd: -32001: invalid AST`
  .clangd
Labels: infrastructure

#4163 Remove caching of return slot usage.
  toolchain/check/call.cpp
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/global_init.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/return.cpp
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_import_incomplete_return.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
Labels: toolchain

#4167 Improve notes on MODULE.bazel.lock changes
  MODULE.bazel
Labels: infrastructure

#4170 Move definition of member of Function to function.cpp where it belongs.
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/function.cpp
Labels: toolchain

#4169 Refactor `ReturnTypeInfo` and `InitRepr`.
  toolchain/check/call.cpp
  toolchain/check/convert.cpp
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/return.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/handle.cpp
  toolchain/lower/handle_aggregates.cpp
  toolchain/lower/handle_call.cpp
  toolchain/lower/handle_expr_category.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/type_info.cpp
  toolchain/sem_ir/type_info.h
Labels: toolchain

#4173 Add initial parsing for 'extern library'
  toolchain/check/handle_modifier.cpp
  toolchain/check/testdata/function/declaration/no_prelude/extern.carbon
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/function/declaration/basic.carbon
  toolchain/parse/testdata/function/declaration/extern.carbon
  toolchain/parse/testdata/function/definition/basic.carbon
  toolchain/parse/testdata/function/definition/extern.carbon
  toolchain/parse/testdata/packages/import/fail_library_is_identifier.carbon
  toolchain/parse/testdata/packages/package/fail_library_is_identifier.carbon
  toolchain/parse/typed_nodes.h
Labels: toolchain

#4171 Refactor some commonality in formatter.
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#4175 Refactor some check-phase postorder iterator use.
  toolchain/check/check.cpp
  toolchain/check/merge.cpp
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
Labels: toolchain

#4177 Temporarily disable tcmalloc due to compiler-explorer crash
  .bazelrc
Labels: infrastructure

#4178 Fix incorrect `value_id` and location in imported `BindSymbolicName`.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
Labels: toolchain

#4174 Separate subtree size information from parse nodes.
  language_server/language_server.cpp
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_impl.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/parse/BUILD
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/extract.cpp
  toolchain/parse/handle_array_expr.cpp
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/handle_call_expr.cpp
  toolchain/parse/handle_choice.cpp
  toolchain/parse/handle_code_block.cpp
  toolchain/parse/handle_decl_definition.cpp
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/handle_function.cpp
  toolchain/parse/handle_impl.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/handle_index_expr.cpp
  toolchain/parse/handle_let.cpp
  toolchain/parse/handle_match.cpp
  toolchain/parse/handle_paren_expr.cpp
  toolchain/parse/handle_pattern_list.cpp
  toolchain/parse/handle_period.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/handle_var.cpp
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/parse/tree_and_subtrees.cpp
  toolchain/parse/tree_and_subtrees.h
  toolchain/parse/tree_node_diagnostic_converter.h
  toolchain/parse/tree_test.cpp
  toolchain/parse/typed_nodes_test.cpp
Labels: toolchain
