Repository carbon-language/carbon-lang, pull requests merged in 2024-10, with the labels that each got.

#4355 When converting an expression to type `type`, retain the resulting instruction as well as the `TypeId`.
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/testdata/impl/no_prelude/import_self.carbon
  toolchain/check/testdata/impl/no_prelude/self_in_class.carbon
  toolchain/check/testdata/impl/no_prelude/self_in_signature.carbon
Labels: toolchain

#4357 Update instructions for running tests
  toolchain/docs/adding_features.md
Labels: toolchain

#4360 Remove parameter-constant arrays from import_ref
  toolchain/check/import_ref.cpp
Labels: toolchain

#4361 Handle runtime implicit parameters, and `self` outside of methods
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/testdata/class/fail_addr_not_self.carbon
  toolchain/check/testdata/class/fail_self_param.carbon
  toolchain/check/testdata/function/call/no_prelude/fail_explicit_self_param.carbon
  toolchain/check/testdata/function/call/no_prelude/fail_runtime_implicit_param.carbon
  toolchain/check/testdata/function/definition/no_prelude/syntactic_merge.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4365 Increase test timeout to unblock submit
  toolchain/testing/BUILD
Labels: toolchain

#4350 Reject abstract function definitions
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/class/fail_modifiers.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4366 Change how to get info for a parameter
  toolchain/check/convert.cpp
  toolchain/check/generic.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
Labels: toolchain

#4364 `where` check stage, step 3: some type checking
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.h
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/fail_not_facet.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4375 Disable the Bazel disk cache on CI.
  .github/actions/build-setup-common/action.yml
Labels: infrastructure

#4367 Remove redundant optional wrapping llvm::function_ref
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/member_access.cpp
  toolchain/check/member_access.h
  toolchain/check/operator.cpp
  toolchain/check/operator.h
Labels: toolchain

#4377 Add link to video for C++Now variadics talk
  README.md
Labels: documentation

#4362 Some trivial check-phase inlining.
  toolchain/base/value_store.h
  toolchain/check/context.cpp
  toolchain/check/context.h
Labels: toolchain

#4363 Fix our default `fastbuild` Bazel config
  .bazelrc
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  bazel/malloc/BUILD
Labels: infrastructure

#4379 Handle block scopes in compile-time binding check
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/testdata/let/compile_time_bindings.carbon
Labels: toolchain

#4374 Improve infrastructure for formatting types in diagnostics.
  toolchain/check/BUILD
  toolchain/check/call.cpp
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/diagnostic_helpers.h
  toolchain/check/eval.cpp
  toolchain/check/function.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/member_access.cpp
  toolchain/check/return.cpp
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/docs/diagnostics.md
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/stringify_type.h
Labels: toolchain

#4380 Basic support for argument deduction in generic `impl`s.
  toolchain/check/deduce.cpp
  toolchain/check/deduce.h
  toolchain/check/handle_impl.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/impl_forall.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/testdata/impl/no_prelude/generic_redeclaration.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
Labels: toolchain

#4389 Add support for deduction of most kinds of type constant.
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/deduce/generic_type.carbon
  toolchain/check/testdata/deduce/int_float.carbon
  toolchain/check/testdata/deduce/tuple.carbon
  toolchain/check/testdata/deduce/type_operator.carbon
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
Labels: dependent, toolchain

#4390 Remove out-of-date TODO
  toolchain/check/convert.h
Labels: toolchain

#4382 Improve `-c dbg`, enabling Split DWARF and other enhancements
  .bazelrc
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  docs/project/contribution_tools.md
Labels: infrastructure, documentation

#4383 Add skeletal format subcommand.
  toolchain/driver/BUILD
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/format_subcommand.cpp
  toolchain/driver/format_subcommand.h
  toolchain/format/BUILD
  toolchain/format/format.cpp
  toolchain/format/format.h
  toolchain/format/testdata/basics/empty.carbon
  toolchain/format/testdata/basics/fail_invalid_comment.carbon
  toolchain/format/testdata/basics/fail_nonexistent.carbon
  toolchain/format/testdata/basics/simple.carbon
  toolchain/source/source_buffer.h
  toolchain/testing/BUILD
  toolchain/testing/file_test.cpp
Labels: toolchain

#4392 Update CoC team members
  CODE_OF_CONDUCT.md
Labels: documentation

#4385 Add tracking of lexed comments, with skeletal formatting.
  .codespell_ignore
  toolchain/base/index_base.h
  toolchain/format/format.cpp
  toolchain/format/testdata/basics/comments.carbon
  toolchain/format/testdata/basics/fail_invalid_comment.carbon
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
Labels: toolchain

#4396 Refactor compile-related tests to share construction.
  toolchain/lex/BUILD
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/BUILD
  toolchain/parse/tree_test.cpp
  toolchain/parse/typed_nodes_test.cpp
  toolchain/testing/BUILD
  toolchain/testing/compile_helper.cpp
  toolchain/testing/compile_helper.h
Labels: toolchain

#4394 Update conduct team member list
  docs/project/teams/conduct_team.md
Labels: documentation

#4395 Track and resolve the specific callee in a call to a generic function
  toolchain/check/call.cpp
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/eval.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/class/generic/method_deduce.carbon
  toolchain/check/testdata/class/generic/self.carbon
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/deduce/generic_type.carbon
  toolchain/check/testdata/deduce/int_float.carbon
  toolchain/check/testdata/deduce/tuple.carbon
  toolchain/check/testdata/deduce/type_operator.carbon
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/function/generic/no_prelude/call.carbon
  toolchain/check/testdata/function/generic/redeclare.carbon
  toolchain/check/testdata/function/generic/resolve_used.carbon
  toolchain/check/testdata/function/generic/return_slot.carbon
  toolchain/check/testdata/function/generic/undefined.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/testdata/interface/no_prelude/assoc_const_in_generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/operators/overloaded/implicit_as.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/constant.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/builtin_inst_kind.def
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4397 Stitch together adjacent comments using the indent.
  toolchain/format/testdata/basics/comments.carbon
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_test.cpp
Labels: toolchain

#4398 Store pointer not reference in `ConstantStore`
  toolchain/sem_ir/constant.cpp
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/file.cpp
Labels: toolchain

#4386 Implement some token-based formatting structure.
  toolchain/format/BUILD
  toolchain/format/format.cpp
  toolchain/format/formatter.cpp
  toolchain/format/formatter.h
  toolchain/format/testdata/basics/braces.carbon
  toolchain/format/testdata/basics/comments.carbon
  toolchain/format/testdata/basics/empty.carbon
  toolchain/format/testdata/basics/simple.carbon
Labels: toolchain

#4399 Initial, very rough lowering for calls to specific functions and specific function declarations.
  toolchain/lower/constant.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.h
  toolchain/lower/handle_call.cpp
  toolchain/lower/mangler.cpp
  toolchain/lower/mangler.h
  toolchain/lower/testdata/function/generic/call.carbon
Labels: toolchain

#4402 Rename "partial facet" and to "partial class type"
  docs/design/classes.md
Labels: documentation

#4401 Document that `extend base` must appear early in a class definition
  docs/design/classes.md
Labels: documentation

#4403 Fix missing `
  toolchain/docs/adding_features.md
Labels: toolchain

#4404 Use @bazel_tools//tools/cpp:malloc instead of defining a library
  .bazelrc
  bazel/malloc/BUILD
Labels: infrastructure

#4381 Disallow creating instances of abstract classes
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/function.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/array/fail_incomplete_element.carbon
  toolchain/check/testdata/class/cross_package_import.carbon
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/check/testdata/class/fail_import_misuses.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/struct/no_prelude/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuple/fail_nested_incomplete.carbon
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4405 Fix InitLLVM argv
  common/init_llvm.cpp
Labels: toolchain

#4409 Remove unused benchmark_main.h
  common/benchmark_main.h
Labels: toolchain

#4410 Switch back to the system llvm-symbolizer.
  MODULE.bazel.lock
  bazel/cc_toolchains/clang_configuration.bzl
  bazel/cc_toolchains/clang_detected_variables.tpl.bzl
  bazel/cc_toolchains/defs.bzl
  explorer/BUILD
  toolchain/driver/BUILD
  toolchain/install/BUILD
  toolchain/testing/BUILD
Labels: explorer, infrastructure, toolchain

#4413 Adjust libpfm4 dep to use git instead of the tar.
  MODULE.bazel
Labels: infrastructure

#4407 Add vtable pointers to class layout
  common/array_stack.h
  toolchain/check/context.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/inst_block_stack.h
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/class/fail_modifiers.carbon
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/sem_ir/builtin_inst_kind.def
  toolchain/sem_ir/class.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/name.cpp
Labels: toolchain

#4412 Drop macos-12 runners due to shutdown
  .github/actions/build-setup-macos/action.yml
  .github/workflows/tests.yaml
Labels: infrastructure

#4411 Implement basic bool and int formatting for diagnostics
  toolchain/check/BUILD
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/merge.cpp
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/format_providers.cpp
  toolchain/diagnostics/format_providers.h
  toolchain/diagnostics/format_providers_test.cpp
  toolchain/parse/BUILD
  toolchain/parse/context.cpp
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/handle_period.cpp
Labels: toolchain

#4417 Clean up format_provider uses
  toolchain/check/context.cpp
  toolchain/check/testdata/class/access_modifers.carbon
  toolchain/check/testdata/class/inheritance_access.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/docs/diagnostics.md
  toolchain/lex/BUILD
  toolchain/lex/numeric_literal.cpp
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#4424 Remove mistaken asserts and add regression test
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/self.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4423 Add s plural format to IntAsSelect
  toolchain/check/call.cpp
  toolchain/check/convert.cpp
  toolchain/check/testdata/array/fail_out_of_bound.carbon
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/builtins/float/negate.carbon
  toolchain/check/testdata/builtins/int/sadd.carbon
  toolchain/check/testdata/builtins/int/snegate.carbon
  toolchain/check/testdata/builtins/int/uadd.carbon
  toolchain/check/testdata/builtins/int/unegate.carbon
  toolchain/check/testdata/class/fail_init.carbon
  toolchain/check/testdata/class/fail_method.carbon
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/check/testdata/function/call/fail_param_count.carbon
  toolchain/check/testdata/function/generic/redeclare.carbon
  toolchain/check/testdata/struct/fail_assign_empty.carbon
  toolchain/check/testdata/struct/fail_assign_to_empty.carbon
  toolchain/check/testdata/struct/fail_too_few_values.carbon
  toolchain/check/testdata/tuple/fail_assign_nested.carbon
  toolchain/check/testdata/tuple/fail_too_few_element.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/check/testdata/tuple/no_prelude/fail_assign_empty.carbon
  toolchain/check/testdata/tuple/no_prelude/fail_assign_to_empty.carbon
  toolchain/diagnostics/format_providers.cpp
  toolchain/diagnostics/format_providers.h
  toolchain/diagnostics/format_providers_test.cpp
Labels: toolchain

#4421 Remove a couple std::string uses in diagnostics.
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_struct.cpp
  toolchain/source/BUILD
Labels: toolchain

#4420 More focused diagnostic notes for parameters
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/function/call/fail_param_type.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
Labels: toolchain

#4418 Refactor modifier formatting to remove string passing.
  toolchain/check/check.cpp
  toolchain/check/modifiers.cpp
  toolchain/check/modifiers.h
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_field_modifiers.carbon
  toolchain/check/testdata/class/fail_method_modifiers.carbon
  toolchain/check/testdata/class/fail_modifiers.carbon
  toolchain/check/testdata/class/no_prelude/extern.carbon
  toolchain/check/testdata/function/declaration/no_prelude/extern.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_modifiers.carbon
  toolchain/check/testdata/interface/no_prelude/fail_modifiers.carbon
  toolchain/check/testdata/let/fail_modifiers.carbon
  toolchain/check/testdata/var/no_prelude/fail_modifiers.carbon
  toolchain/diagnostics/diagnostic.h
  toolchain/diagnostics/diagnostic_converter.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/file_context.cpp
Labels: toolchain

#4415 Don't deduce values for explicitly-specified generic bindings.
  toolchain/check/deduce.cpp
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4427 Update for llvm::formatv changes
  MODULE.bazel
  toolchain/check/merge.cpp
  toolchain/diagnostics/format_providers.cpp
  toolchain/diagnostics/format_providers.h
  toolchain/diagnostics/format_providers_test.cpp
Labels: infrastructure, toolchain

#4416 Remove uses of StringLiteral in format strings.
  toolchain/check/call.cpp
  toolchain/check/check.cpp
  toolchain/check/eval.cpp
  toolchain/check/testdata/packages/fail_extension.carbon
  toolchain/diagnostics/diagnostic.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/docs/diagnostics.md
  toolchain/lex/token_kind.def
  toolchain/parse/context.cpp
  toolchain/parse/handle_binding_pattern.cpp
Labels: toolchain

#4426 Add tests to catch untested diagnostics.
  bazel/manifest/BUILD
  bazel/manifest/defs.bzl
  core/BUILD
  core/manifest.bzl
  testing/file_test/rules.bzl
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/emitted_diagnostics_test.cpp
  toolchain/driver/testdata/fail_missing_file.carbon
  toolchain/lex/testdata/numeric_literals.carbon
  toolchain/lex/testdata/string_literals.carbon
  toolchain/testing/BUILD
Labels: infrastructure, toolchain

#4408 Add more compile benchmark stats
  toolchain/driver/BUILD
  toolchain/driver/compile_benchmark.cpp
Labels: toolchain

#4435 Move impl lookup out into its own file.
  toolchain/check/BUILD
  toolchain/check/impl_lookup.cpp
  toolchain/check/impl_lookup.h
  toolchain/check/member_access.cpp
Labels: toolchain

#4439 Pass the manifest path by flag.
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/emitted_diagnostics_test.cpp
Labels: toolchain

#4438 Add data_runfiles to manifests
  bazel/manifest/defs.bzl
Labels: infrastructure

#4440 Fix use of runfiles
  bazel/manifest/defs.bzl
Labels: infrastructure

#4436 Add coverage testing for parse node kinds.
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/emitted_diagnostics_test.cpp
  toolchain/parse/BUILD
  toolchain/parse/coverage_test.cpp
  toolchain/parse/testdata/operators/infix.carbon
  toolchain/testing/BUILD
  toolchain/testing/coverage_helper.h
Labels: toolchain

#4441 Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#4433 Modify lex yaml output to elide FileStart/End in tests.
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/lex/testdata/basic_syntax.carbon
  toolchain/lex/testdata/fail_bad_comment_introducers.carbon
  toolchain/lex/testdata/fail_bad_comment_introducers_mid_block_indent_change.carbon
  toolchain/lex/testdata/fail_bad_raw_identifier.carbon
  toolchain/lex/testdata/fail_block_string_second_line.carbon
  toolchain/lex/testdata/fail_mismatched_brackets.carbon
  toolchain/lex/testdata/fail_mismatched_brackets_2.carbon
  toolchain/lex/testdata/fail_multifile.carbon
  toolchain/lex/testdata/fail_trailing_comments.carbon
  toolchain/lex/testdata/keywords.carbon
  toolchain/lex/testdata/multifile.carbon
  toolchain/lex/testdata/numeric_literals.carbon
  toolchain/lex/testdata/printing_digit_padding.carbon
  toolchain/lex/testdata/printing_integer_literal.carbon
  toolchain/lex/testdata/printing_real_literal.carbon
  toolchain/lex/testdata/printing_token.carbon
  toolchain/lex/testdata/raw_identifier.carbon
  toolchain/lex/testdata/string_literals.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/testing/file_test.cpp
Labels: toolchain

#4430 Speed up type literal lexing and make it more strict.
  toolchain/check/testdata/basics/type_literals.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/testing/compile_helper.cpp
  toolchain/testing/compile_helper.h
Labels: toolchain

#4444 Small refactoring to Extract for compile time.
  toolchain/parse/extract.cpp
Labels: toolchain

#4447 Don't eagerly import all impls.
  toolchain/check/check.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/import_ref.h
  toolchain/check/testdata/impl/lookup/import.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/no_prelude/no_definition_in_impl_file.carbon
Labels: toolchain

#4449 Try working around xcrun failures
  .github/actions/build-setup-macos/action.yml
Labels: infrastructure

#4450 Switch to using `Core.BigInt` as the type of the size of a type literal.
  core/prelude/types.carbon
  toolchain/check/handle_literal.cpp
  toolchain/check/testdata/array/base.carbon
  toolchain/check/testdata/basics/builtin_types.carbon
  toolchain/check/testdata/basics/fail_numeric_literal_overflow.carbon
  toolchain/check/testdata/basics/numeric_literals.carbon
  toolchain/check/testdata/basics/type_literals.carbon
  toolchain/check/testdata/builtins/float/add.carbon
  toolchain/check/testdata/builtins/float/div.carbon
  toolchain/check/testdata/builtins/float/eq.carbon
  toolchain/check/testdata/builtins/float/greater.carbon
  toolchain/check/testdata/builtins/float/greater_eq.carbon
  toolchain/check/testdata/builtins/float/less.carbon
  toolchain/check/testdata/builtins/float/less_eq.carbon
  toolchain/check/testdata/builtins/float/mul.carbon
  toolchain/check/testdata/builtins/float/negate.carbon
  toolchain/check/testdata/builtins/float/neq.carbon
  toolchain/check/testdata/builtins/float/sub.carbon
  toolchain/check/testdata/deduce/int_float.carbon
  toolchain/check/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/check/testdata/function/generic/resolve_used.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/check/testdata/return/fail_returned_var_type.carbon
  toolchain/check/testdata/struct/fail_member_access_type.carbon
  toolchain/check/testdata/struct/member_access.carbon
  toolchain/check/testdata/struct/reorder_fields.carbon
  toolchain/lower/constant.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
Labels: toolchain

#4451 Fix `where` crash when empty `decl_name_stack`
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/fail_not_facet.carbon
Labels: toolchain

#4455 Replace dict.update call with explicit dict
  bazel/cc_toolchains/defs.bzl
Labels: infrastructure

#4406 Implement a basic busybox for carbon/clang.
  bazel/check_deps/BUILD
  toolchain/driver/BUILD
  toolchain/driver/clang_runner.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/driver_main.cpp
  toolchain/install/BUILD
  toolchain/install/busybox_main.cpp
  toolchain/install/install_filegroups.bzl
  toolchain/install/install_paths.cpp
  toolchain/install/install_paths.h
  toolchain/install/install_paths_test.cpp
Labels: infrastructure, toolchain

#4459 Refactor run_tool
  toolchain/install/run_tool.bzl
  toolchain/install/run_tool.py
Labels: toolchain

#4458 Switch tar verification to a manifest comparison.
  toolchain/install/BUILD
  toolchain/install/pkg_helpers.bzl
  toolchain/install/toolchain_tar_test.py
Labels: toolchain

#4461 Fix deduction crash for function with missing parameters.
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/function/declaration/no_prelude/fail_todo_no_params.carbon
Labels: toolchain

#4462 Switch eval of ArrayIndex to use CARBON_KIND
  toolchain/check/eval.cpp
Labels: toolchain

#4463 Don't create a compile time binding after CompileTimeBindingInVarDecl
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/testdata/function/declaration/no_prelude/fail_todo_no_params.carbon
  toolchain/check/testdata/var/no_prelude/fail_generic.carbon
Labels: toolchain

#4465 Add import support for `specific_function` constants.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/function/generic/no_prelude/import_specific.carbon
Labels: toolchain

#4466 Add import support for `int_type`.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/builtins/int/make_type_signed.carbon
Labels: toolchain
