Repository carbon-language/carbon-lang, pull requests merged in 2025-06, with the labels that each got.

#5586 Fix `stack-use-after-scope` issue by making `LangOptions` parameter non temporary
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon
Labels: toolchain

#5578 Add an int min_prelude
  toolchain/testing/min_prelude/int.carbon
Labels: toolchain

#5547 Update eval tests
  toolchain/check/testdata/eval/aggregate.carbon
  toolchain/check/testdata/eval/fail_aggregate.carbon
  toolchain/check/testdata/eval/min_prelude/aggregates.carbon
  toolchain/check/testdata/eval/symbolic.carbon
Labels: toolchain

#5475 Support lowering specifics for an imported generic function.
  toolchain/lower/context.cpp
  toolchain/lower/context.h
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/handle_call.cpp
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/function/generic/cross_library_name_collision_private.carbon
  toolchain/lower/testdata/function/generic/import.carbon
  toolchain/sem_ir/generic.cpp
  toolchain/sem_ir/generic.h
Labels: toolchain

#5590 Move TokenOnly to LocIdForDiagnostics
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/diagnostic_emitter.h
  toolchain/check/diagnostic_helpers.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_operator.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/ids_test.cpp
Labels: toolchain

#5540 Add C++ struct parameter tests with data members
  toolchain/check/testdata/interop/cpp/no_prelude/function/struct.carbon
Labels: toolchain

#5587 Flip the dump-sem-ir-ranges default in file_test
  toolchain/check/testdata/basics/no_prelude/dump_sem_ir_ranges.carbon
  toolchain/check/testdata/basics/no_prelude/dump_sem_ir_ranges_only.carbon
  toolchain/check/testdata/packages/implicit_imports_prelude.carbon
  toolchain/testing/file_test.cpp
Labels: toolchain

#5585 Refactor interface and impl NameScope importing to resemble classes
  toolchain/check/import_ref.cpp
Labels: toolchain

#5589 Fearlessly hold references into ValueStore again
  toolchain/check/convert.cpp
  toolchain/check/deduce.cpp
  toolchain/check/deduce.h
  toolchain/check/handle_choice.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/impl_validation.cpp
  toolchain/check/import.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/return.cpp
  toolchain/check/thunk.cpp
  toolchain/sem_ir/name_scope.h
Labels: infrastructure, toolchain

#5598 Add docs for dump-sem-ir-ranges
  toolchain/docs/adding_features.md
Labels: toolchain

#5605 Update LLVM
  MODULE.bazel
  MODULE.bazel.lock
  toolchain/check/import_cpp.cpp
  toolchain/driver/clang_runner.cpp
Labels: infrastructure, toolchain

#5603 Fix crash when impl lookup fails and the type of `.Self` is symbolic.
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/subst.cpp
  toolchain/check/subst.h
  toolchain/check/testdata/generic/dot_self_symbolic_type.carbon
Labels: toolchain

#5595 In `test_clang_cpp`, if `CalledProcessError` is raised, log the stderr for easier debugging
  toolchain/install/llvm_symlinks_test.py
Labels: toolchain

#5612 Mark stdin output file test as no-prelude
  toolchain/driver/testdata/fail_missing_stdin_output.carbon
Labels: toolchain

#5622 Mention where vsce is installed
  utils/vscode/development.md
Labels: utilities

#5628 Add a fixed-size ValueStore
  toolchain/base/BUILD
  toolchain/base/fixed_size_value_store.h
  toolchain/base/value_store.h
  toolchain/parse/BUILD
  toolchain/parse/tree_and_subtrees.cpp
  toolchain/parse/tree_and_subtrees.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
Labels: toolchain

#5620 Resolve rewrites in facet types, looking for duplicates
  toolchain/check/eval.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/facet_type.h
  toolchain/check/testdata/facet/facet_assoc_const.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
  toolchain/check/testdata/impl/impl_assoc_const_with_prelude.carbon
  toolchain/check/testdata/impl/import_interface_assoc_const.carbon
Labels: toolchain

#5633 Switch token_infos_ to a ValueStore
  toolchain/base/value_store.h
  toolchain/lex/BUILD
  toolchain/lex/lex.cpp
  toolchain/lex/token_index.h
  toolchain/lex/token_info.h
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
Labels: toolchain

#5614 Use `InImport` pointing to C++ imports in `ConvertLocInFile()` instead of adding a separate `InCppImport` when emitting
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/diagnostic_emitter.h
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/bad_import.carbon
  toolchain/check/testdata/interop/cpp/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/file_not_found.carbon
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/language_server/testdata/text_document/open_with_cpp_nonexistent.carbon
Labels: toolchain

#5608 Avoid moving around large suspended function states in the deferred definition worklist.
  common/BUILD
  common/emplace_by_calling.h
  common/emplace_by_calling_test.cpp
  toolchain/check/BUILD
  toolchain/check/deferred_definition_worklist.cpp
  toolchain/check/deferred_definition_worklist.h
  toolchain/check/node_id_traversal.cpp
  toolchain/check/node_id_traversal.h
Labels: toolchain

#5631 Fix lowering of thunks in generic impls
  toolchain/check/BUILD
  toolchain/check/handle_name.cpp
  toolchain/check/name_ref.cpp
  toolchain/check/name_ref.h
  toolchain/check/testdata/impl/fail_call_invalid.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/fail_self_type_mismatch.carbon
  toolchain/check/testdata/impl/impl_thunk.carbon
  toolchain/check/testdata/impl/import_thunk.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/thunk.cpp
  toolchain/lower/testdata/impl/thunk.carbon
Labels: toolchain

#5609 Track pending thunks on the deferred definition worklist.
  toolchain/check/BUILD
  toolchain/check/check_unit.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/deferred_definition_scope.h
  toolchain/check/deferred_definition_worklist.cpp
  toolchain/check/deferred_definition_worklist.h
  toolchain/check/function.h
  toolchain/check/handle.h
  toolchain/check/handle_function.cpp
  toolchain/check/node_id_traversal.cpp
  toolchain/check/node_id_traversal.h
  toolchain/check/testdata/impl/impl_thunk.carbon
  toolchain/check/testdata/impl/impl_thunk_min_prelude.carbon
  toolchain/check/testdata/impl/import_thunk.carbon
  toolchain/check/thunk.cpp
  toolchain/check/thunk.h
Labels: toolchain

#5641 Add a new facility GrowingRange for a range that might grow during iteration.
  common/BUILD
  common/growing_range.h
  common/growing_range_test.cpp
  toolchain/check/BUILD
  toolchain/check/check_unit.cpp
  toolchain/check/import_ref.cpp
  toolchain/lower/BUILD
  toolchain/lower/context.cpp
Labels: toolchain

#5594 Update most `toolchain/check/testdata/interop/cpp` tests to use sem ir ranges
  toolchain/check/testdata/interop/cpp/bad_import.carbon
  toolchain/check/testdata/interop/cpp/class.carbon
  toolchain/check/testdata/interop/cpp/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/cpp_namespace.carbon
  toolchain/check/testdata/interop/cpp/fail_fuzzing.carbon
  toolchain/check/testdata/interop/cpp/file_not_found.carbon
  toolchain/check/testdata/interop/cpp/function/function.carbon
  toolchain/check/testdata/interop/cpp/function/inline.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function_param_unsupported.carbon
  toolchain/check/testdata/interop/cpp/include.carbon
  toolchain/check/testdata/interop/cpp/multiple_imports.carbon
  toolchain/check/testdata/interop/cpp/namespace.carbon
  toolchain/check/testdata/interop/cpp/struct.carbon
  toolchain/check/testdata/interop/cpp/union.carbon
  toolchain/check/testdata/interop/cpp/unsupported_decl_type.carbon
Labels: toolchain

#5648 Remove redundant ranges=only flag settings
  toolchain/check/testdata/deduce/symbolic_facets.carbon
  toolchain/check/testdata/interop/cpp/bad_import.carbon
  toolchain/check/testdata/interop/cpp/class.carbon
  toolchain/check/testdata/interop/cpp/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/cpp_namespace.carbon
  toolchain/check/testdata/interop/cpp/file_not_found.carbon
  toolchain/check/testdata/interop/cpp/function/function.carbon
  toolchain/check/testdata/interop/cpp/function/inline.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function_param_unsupported.carbon
  toolchain/check/testdata/interop/cpp/include.carbon
  toolchain/check/testdata/interop/cpp/multiple_imports.carbon
  toolchain/check/testdata/interop/cpp/namespace.carbon
  toolchain/check/testdata/interop/cpp/struct.carbon
  toolchain/check/testdata/interop/cpp/union.carbon
  toolchain/check/testdata/interop/cpp/unsupported_decl_type.carbon
Labels: toolchain

#5639 Resolve the RHS of rewrite constraints in facets
  toolchain/check/facet_type.cpp
  toolchain/check/subst.cpp
  toolchain/check/subst.h
  toolchain/check/testdata/facet/facet_assoc_const.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#5642 When making a direct call to a thunk, inline the call in SemIR.
  toolchain/check/call.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/impl/fail_call_invalid.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/fail_self_type_mismatch.carbon
  toolchain/check/testdata/impl/impl_thunk.carbon
  toolchain/check/testdata/impl/impl_thunk_min_prelude.carbon
  toolchain/check/testdata/impl/import_thunk.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/thunk.cpp
  toolchain/check/thunk.h
  toolchain/lower/file_context.cpp
  toolchain/lower/handle_call.cpp
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/impl/import_thunk.carbon
  toolchain/lower/testdata/impl/thunk.carbon
  toolchain/sem_ir/builtin_function_kind.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/inst_namer.cpp
Labels: toolchain

#5401 Alphabetize typed_insts.h
  toolchain/check/eval.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/function.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_categories.h
  toolchain/sem_ir/inst_namer.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5647 Call GetConstantFacetTypeInfo on fully constructed FacetTypeInfo in WhereExpr and BitAnd
  toolchain/check/eval.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/facet_type.h
  toolchain/check/testdata/impl/impl_assoc_const.carbon
  toolchain/check/testdata/impl/impl_assoc_const_with_prelude.carbon
  toolchain/check/testdata/impl/import_interface_assoc_const.carbon
  toolchain/check/testdata/impl/lookup/import_error.carbon
Labels: toolchain

#5658 Add pre-commit check for invalid build graph state
  .pre-commit-config.yaml
  scripts/check_build_graph.py
Labels: infrastructure

#5644 Nested facets
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/facet_type.h
  toolchain/check/testdata/facet/access.carbon
  toolchain/check/testdata/facet/facet_assoc_const.carbon
  toolchain/check/testdata/facet/nested_facet_types.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
Labels: toolchain

#5660 Restructure WhereExpr eval to use `continue` less
  toolchain/check/eval.cpp
  toolchain/check/testdata/where_expr/constraints.carbon
Labels: toolchain

#5665 Manually update `gh` to fix PR labeling for now
  .github/workflows/auto_label_prs.yaml
Labels: infrastructure

#5664 Fix sorting of instructions in Facet Type resolution
  toolchain/check/facet_type.cpp
  toolchain/check/testdata/facet/facet_assoc_const.carbon
  toolchain/check/testdata/facet/nested_facet_types.carbon
Labels: toolchain

#5669 Add repo flag to gh
  .github/workflows/auto_label_prs.yaml
Labels: infrastructure

#5651 Improve backtrace for lowering crashes.
  toolchain/check/BUILD
  toolchain/check/check_unit.cpp
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/diagnostic_emitter.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/lower/BUILD
  toolchain/lower/context.cpp
  toolchain/lower/context.h
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/lower.cpp
  toolchain/lower/lower.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/absolute_node_id.cpp
  toolchain/sem_ir/diagnostic_loc_converter.cpp
  toolchain/sem_ir/diagnostic_loc_converter.h
Labels: toolchain

#5655 Modernize some of our examples.
  examples/advent2024/day10_part1.carbon
  examples/advent2024/day10_part2.carbon
  examples/advent2024/day11_common.carbon
  examples/advent2024/day11_part1.carbon
  examples/advent2024/day11_part2.carbon
  examples/advent2024/day13_common.carbon
  examples/advent2024/day13_part1.carbon
  examples/advent2024/day13_part2.carbon
  examples/advent2024/day5_common.carbon
  examples/advent2024/day6_part2.carbon
  examples/advent2024/day7_common.carbon
  examples/advent2024/day7_part1.carbon
  examples/advent2024/day7_part2.carbon
Labels: dependent

#5677 Add min_prelude/convert.carbon to tests missing ImplicitAs
  toolchain/check/testdata/array/basics.carbon
  toolchain/check/testdata/array/element_mismatches.carbon
  toolchain/check/testdata/function/generic/fail_type_param_mismatch.carbon
  toolchain/check/testdata/impl/fail_impl_bad_type.carbon
  toolchain/check/testdata/impl/impl_thunk.carbon
  toolchain/check/testdata/interop/cpp/class.carbon
  toolchain/check/testdata/interop/cpp/struct.carbon
  toolchain/check/testdata/var/fail_init_type_mismatch.carbon
Labels: toolchain

#5683 Reduce use of the prelude in tests
  toolchain/check/testdata/builtins/int/make_type_signed.carbon
  toolchain/check/testdata/builtins/int/snegate.carbon
  toolchain/check/testdata/class/fail_convert_to_invalid.carbon
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/fail_member_of_let.carbon
  toolchain/check/testdata/class/fail_scope.carbon
  toolchain/check/testdata/class/fail_self_param.carbon
  toolchain/check/testdata/class/generic/redeclare.carbon
  toolchain/check/testdata/class/redeclaration.carbon
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/function/generic/deduce_nested_facet_value.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/lower/testdata/function/generic/call_impl_function.carbon
  toolchain/lower/testdata/function/generic/cross_library_name_collision_private.carbon
Labels: toolchain

#5654 Remove unused vlog_stream_ member.
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
Labels: toolchain

#5630 Add ranges to where_expr tests
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/dot_self_index.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/check/testdata/where_expr/fail_not_facet.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
Labels: toolchain

#5663 Document our practices around using auto and naming variable types
  docs/project/cpp_style_guide.md
Labels: documentation

#5694 Introduce the `none.carbon` min-prelude
  toolchain/check/testdata/alias/basics.carbon
  toolchain/check/testdata/alias/in_namespace.carbon
  toolchain/check/testdata/alias/preserve_in_type_printing.carbon
  toolchain/check/testdata/basics/dump_sem_ir_ranges_only.carbon
  toolchain/check/testdata/basics/duplicate_name_same_line.carbon
  toolchain/check/testdata/basics/name_lookup.carbon
  toolchain/check/testdata/basics/raw_sem_ir/builtins.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/builtins/no_op.carbon
  toolchain/check/testdata/class/name_poisoning.carbon
  toolchain/check/testdata/const/import.carbon
  toolchain/check/testdata/function/declaration/name_poisoning.carbon
  toolchain/check/testdata/generic/dot_self_symbolic_type.carbon
  toolchain/check/testdata/global/basics.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
  toolchain/check/testdata/impl/impl_self_as.carbon
  toolchain/check/testdata/impl/impl_where_redecl.carbon
  toolchain/check/testdata/impl/import_impl_with_no_interface.carbon
  toolchain/check/testdata/impl/name_poisoning.carbon
  toolchain/check/testdata/interface/fail_assoc_const_not_constant.carbon
  toolchain/check/testdata/interface/name_poisoning.carbon
  toolchain/check/testdata/interop/cpp/bad_import.carbon
  toolchain/check/testdata/interop/cpp/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/cpp_namespace.carbon
  toolchain/check/testdata/interop/cpp/file_not_found.carbon
  toolchain/check/testdata/interop/cpp/function/function.carbon
  toolchain/check/testdata/interop/cpp/function/inline.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/include.carbon
  toolchain/check/testdata/interop/cpp/multiple_imports.carbon
  toolchain/check/testdata/interop/cpp/namespace.carbon
  toolchain/check/testdata/interop/cpp/union.carbon
  toolchain/check/testdata/interop/cpp/unsupported_decl_type.carbon
  toolchain/check/testdata/packages/core_name_poisoning.carbon
  toolchain/check/testdata/packages/fail_modifiers.carbon
  toolchain/check/testdata/tuple/basics.carbon
  toolchain/check/testdata/var/fail_in_interface.carbon
  toolchain/lower/testdata/builtins/bool.carbon
  toolchain/lower/testdata/builtins/no_op.carbon
  toolchain/lower/testdata/builtins/types.carbon
  toolchain/testing/testdata/min_prelude/none.carbon
Labels: toolchain

#5685 Remove requirement that the pattern in a `for` starts with `var`.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_statement.cpp
  toolchain/parse/handle_var.cpp
  toolchain/parse/state.def
  toolchain/parse/testdata/for/fail_colon_instead_of_in.carbon
  toolchain/parse/testdata/for/fail_missing_cond.carbon
  toolchain/parse/testdata/for/fail_missing_in.carbon
  toolchain/parse/testdata/for/fail_missing_var.carbon
  toolchain/parse/testdata/for/fail_returned_var.carbon
  toolchain/parse/testdata/for/fail_square_brackets.carbon
  toolchain/parse/testdata/for/nested.carbon
  toolchain/parse/testdata/for/pattern.carbon
  toolchain/parse/testdata/for/simple.carbon
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Labels: toolchain

#5701 Move `EntityName`'s `CarbonHashValue()` to be a "hidden friend", like `CarbonHashtableEq()`
  toolchain/sem_ir/entity_name.h
Labels: toolchain

#5707 Replace `EXTRA-ARGS: --no-prelude-import` with `INCLUDE-FILE: toolchain/testing/testdata/min_prelude/none.carbon`
  toolchain/check/testdata/interop/cpp/function/class.carbon
Labels: toolchain

#5708 Remove TODOs from the test of a declared but not defined struct as a by value parameter/return value
  toolchain/check/testdata/interop/cpp/function/struct.carbon
Labels: toolchain

#5697 Fix tuple patterns matching expressions with atomic tuple form.
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/patterns/tuple.carbon
Labels: toolchain

#5715 Replace `isStruct() || isClass()` with `!isUnion()`
  toolchain/check/import_cpp.cpp
Labels: toolchain

#5716 Move `function_` test files to be in `function` dir and remove the `function_` prefix
  toolchain/check/testdata/interop/cpp/function/full_semir.carbon
  toolchain/check/testdata/interop/cpp/function/param_int16.carbon
  toolchain/check/testdata/interop/cpp/function/param_int32.carbon
  toolchain/check/testdata/interop/cpp/function/param_unsupported.carbon
  toolchain/check/testdata/interop/cpp/function/return.carbon
Labels: toolchain

#5702 Add tests for accessing an aggregate member constant through an ImplWitnessAccess
  toolchain/check/testdata/facet/aggregate_through_access.carbon
Labels: toolchain

#5684 Optimize specific function coalescing in lowering.
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/testdata/function/generic/call_recursive_reorder_more.carbon
Labels: toolchain

#5721 Helper to flag unexpected instructions on branches
  toolchain/sem_ir/inst_namer.cpp
Labels: toolchain

#5731 Remove the IsPeriodSelf function, use constant value comparison instead
  toolchain/check/eval.cpp
Labels: toolchain

#5698 Check and lowering support for `for` loops.
  core/prelude.carbon
  core/prelude/iterate.carbon
  core/prelude/types.carbon
  core/prelude/types/optional.carbon
  toolchain/check/BUILD
  toolchain/check/eval_inst.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/node_stack.h
  toolchain/check/pattern.cpp
  toolchain/check/pattern.h
  toolchain/check/testdata/for/basic.carbon
  toolchain/check/testdata/for/pattern.carbon
  toolchain/lower/handle_aggregates.cpp
  toolchain/lower/testdata/for/bindings.carbon
  toolchain/lower/testdata/for/break_continue.carbon
  toolchain/lower/testdata/for/for.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/typed_insts.h
  toolchain/testing/file_test.cpp
  toolchain/testing/testdata/min_prelude/for.carbon
  toolchain/testing/testdata/min_prelude/parts/iterate.carbon
  toolchain/testing/testdata/min_prelude/parts/optional.carbon
Labels: dependent, toolchain

#5732 Adding additional test for specific coalescing.
  toolchain/lower/testdata/function/generic/call_different_specific.carbon
Labels: toolchain

#5713 Add a test where `impls` requires things of another generic type
  toolchain/check/testdata/facet/validate_impl_constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
Labels: toolchain

#5740 Print captured stdout/stderr on test crashes
  common/pretty_stack_trace_function.h
  testing/file_test/BUILD
  testing/file_test/run_test.cpp
Labels: toolchain

#5736 Basic SemIR `partial` support
  toolchain/check/eval_inst.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/testdata/class/partial.carbon
  toolchain/check/type_completion.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/type.cpp
  toolchain/sem_ir/type_iterator.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5743 Key-type customization in `CanonicalValueStore` and `ClangDecl` cleanups
  toolchain/base/value_store.h
  toolchain/check/import_cpp.cpp
  toolchain/sem_ir/clang_decl.h
Labels: toolchain
