Repository carbon-language/carbon-lang, pull requests merged in 2025-07, with the labels that each got.

#5747 Move dumping into the phase factory functions
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/testdata/basics/raw_sem_ir/builtins.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file_with_textual_ir.carbon
  toolchain/driver/BUILD
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/driver/testdata/stdin.carbon
  toolchain/driver/testdata/verbose.carbon
  toolchain/lex/BUILD
  toolchain/lex/lex.cpp
  toolchain/lex/lex.h
  toolchain/lower/BUILD
  toolchain/lower/context.cpp
  toolchain/lower/context.h
  toolchain/lower/lower.cpp
  toolchain/lower/lower.h
  toolchain/parse/parse.cpp
  toolchain/parse/parse.h
Labels: toolchain

#5754 Split value store related types to separate files
  toolchain/base/BUILD
  toolchain/base/canonical_value_store.h
  toolchain/base/canonical_value_store_test.cpp
  toolchain/base/fixed_size_value_store.h
  toolchain/base/int.h
  toolchain/base/relational_value_store.h
  toolchain/base/shared_value_stores.h
  toolchain/base/value_store.h
  toolchain/base/value_store_test.cpp
  toolchain/base/value_store_types.h
  toolchain/check/BUILD
  toolchain/check/context.h
  toolchain/check/eval.cpp
  toolchain/check/lexical_lookup.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/block_value_store.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/name.h
Labels: toolchain

#5755 Add a ValueT to RelationalValueStore
  toolchain/base/relational_value_store.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
Labels: toolchain

#5756 Refactor ValueStoreChunk and ValueStoreRange into ValueStore
  toolchain/base/BUILD
  toolchain/base/canonical_value_store.h
  toolchain/base/value_store.h
  toolchain/base/value_store_chunk.h
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/inst.h
Labels: toolchain

#5757 Make ValueStore require a ValueT parameter
  toolchain/base/canonical_value_store.h
  toolchain/base/shared_value_stores.h
  toolchain/base/value_ids.h
  toolchain/base/value_store.h
  toolchain/base/value_store_test.cpp
  toolchain/check/BUILD
  toolchain/check/context.h
  toolchain/check/eval.cpp
  toolchain/check/lexical_lookup.h
  toolchain/docs/adding_features.md
  toolchain/docs/idioms.md
  toolchain/lex/lex.cpp
  toolchain/lex/token_index.h
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/tree.h
  toolchain/sem_ir/associated_constant.h
  toolchain/sem_ir/block_value_store.h
  toolchain/sem_ir/class.h
  toolchain/sem_ir/entity_name.h
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/function.h
  toolchain/sem_ir/generic.cpp
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/import_cpp.h
  toolchain/sem_ir/import_ir.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/interface.h
  toolchain/sem_ir/name.h
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/vtable.h
Labels: toolchain

#5758 Change BlockValueStore to take ElementT as a parameter
  toolchain/sem_ir/block_value_store.h
  toolchain/sem_ir/copy_on_write_block.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/struct_type_field.h
Labels: toolchain

#5761 Remove IdT from ValueStoreTypes
  toolchain/base/canonical_value_store.h
  toolchain/base/fixed_size_value_store.h
  toolchain/base/relational_value_store.h
  toolchain/base/value_store.h
  toolchain/base/value_store_types.h
Labels: toolchain

#5768 Delete files that were moved in #5716 but got undeleted in #5678
  toolchain/check/testdata/interop/cpp/function_param_int16.carbon
  toolchain/check/testdata/interop/cpp/function_param_int32.carbon
Labels: toolchain

#5765 Remove prebuilt_binary from file_test rules
  testing/file_test/rules.bzl
Labels: toolchain

#5770 Use `Core.Print` instead of `Carbon.Print` in documentation
  docs/design/README.md
  utils/highlightjs/highlightjs_example.html
Labels: documentation, utilities

#5778 Document and test that structs with different field orders are different types for impl lookup
  toolchain/check/testdata/impl/lookup/struct.carbon
Labels: toolchain

#5769 When adding an imported C++ name, make sure that its `clang::Decl` is mapped if import failed
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
Labels: toolchain

#5763 Try using clangd-tidy
  .github/actions/build-setup-common/action.yml
  .github/actions/test-setup/action.yml
  .github/workflows/clangd_tidy.yaml
  scripts/create_compdb.py
Labels: infrastructure

#5783 Track the location of the Cpp import for use in Clang diagnostics.
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate.h
  testing/file_test/testdata/multiple_file_refs_in_line.carbon
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/bad_import.carbon
  toolchain/check/testdata/interop/cpp/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/file_not_found.carbon
Labels: toolchain

#5782 Fix clangd-tidy to avoid blocking merges while testing
  .github/workflows/clangd_tidy.yaml
Labels: infrastructure

#5779 Move BlockValueStore from sem_ir to base
  toolchain/base/BUILD
  toolchain/base/block_value_store.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/struct_type_field.h
Labels: toolchain

#5786 Set an explicit size for lexical lookup's vector
  toolchain/check/lexical_lookup.h
Labels: toolchain

#5773 Support importing C++ `_Nonnull` pointers as function parameters or return values
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/param_int16.carbon
  toolchain/check/testdata/interop/cpp/function/param_int32.carbon
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
Labels: toolchain

#5787 Support import of typedefs.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/param_int16.carbon
  toolchain/check/testdata/interop/cpp/function/param_int32.carbon
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/check/testdata/interop/cpp/include_paths.carbon
  toolchain/check/testdata/interop/cpp/typedef.carbon
  toolchain/check/testdata/interop/cpp/unsupported_decl_type.carbon
Labels: toolchain

#5792 Change SemIR formed for 'as' errors
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/impl/extend_impl.carbon
  toolchain/check/testdata/impl/fail_extend_impl_scope.carbon
  toolchain/check/testdata/impl/fail_impl_as_scope.carbon
Labels: toolchain

#5795 Improve handling of carbon-busybox symlinks in bazel
  toolchain/install/busybox_info.cpp
Labels: toolchain

#5794 Support for importing const-qualified types from C++.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/function/param_int16.carbon
  toolchain/check/testdata/interop/cpp/function/param_int32.carbon
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/check/type.cpp
  toolchain/check/type.h
Labels: toolchain

#5802 Support importing vtables for generic classes
  toolchain/check/convert.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
Labels: toolchain

#5796 Basic support for calling class methods imported from C++.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/class/class.carbon
  toolchain/check/testdata/interop/cpp/class/method.carbon
  toolchain/check/testdata/interop/cpp/class/struct.carbon
  toolchain/check/testdata/interop/cpp/class/union.carbon
  toolchain/check/testdata/interop/cpp/function/function.carbon
  toolchain/lower/testdata/interop/cpp/method.carbon
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5789 When importing a looked up name, reuse previously imported declaration instead of importing the same declaration again
  toolchain/check/BUILD
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/class/class.carbon
  toolchain/check/testdata/interop/cpp/class/struct.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
Labels: toolchain

#5760 Merge `i16` and `i32` param and return test files
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_mapped.carbon
  toolchain/check/testdata/interop/cpp/function/return.carbon
Labels: toolchain

#5809 Allow interop with templated but non-template functions.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/function/in_template.carbon
  toolchain/lower/testdata/interop/cpp/function_in_template.carbon
Labels: toolchain

#5812 Make NameScope move constructor noexcept
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#5814 Remove outdated comment about generic vtable inst naming
  toolchain/sem_ir/inst_namer.cpp
Labels: toolchain

#5813 Clean up some TODO and other comments
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/handle_operator.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/lower/testdata/class/virtual.carbon
Labels: toolchain

#5784 Build the clang::CompilerInvocation in the driver.
  toolchain/base/BUILD
  toolchain/base/clang_invocation.cpp
  toolchain/base/clang_invocation.h
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/import_cpp.cpp
  toolchain/check/import_cpp.h
  toolchain/diagnostics/coverage_test.cpp
  toolchain/driver/BUILD
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/driver/testdata/compile/clang_args_warning.carbon
  toolchain/driver/testdata/compile/fail_clang_arg_extra_input.carbon
  toolchain/driver/testdata/compile/fail_clang_args.carbon
  toolchain/driver/testdata/compile/fail_clang_args_error.carbon
  toolchain/language_server/BUILD
  toolchain/language_server/context.cpp
Labels: infrastructure, toolchain

#5823 pre-commit autoupdate
  .pre-commit-config.yaml
Labels: infrastructure

#5831 Use `llvm::reverse()` instead of `pop_back_val()` in `ImportDeclAndDependencies()`
  toolchain/check/import_cpp.cpp
Labels: toolchain

#5828 Add a comment on EntityName's CarbonHashtableEq about its requirements
  toolchain/sem_ir/entity_name.h
Labels: toolchain

#5836 Interop: support all C++ integer types that map to `intN_t` or `uintN_t`.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/fail_todo_arithmetic_types_unmapped.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_direct.carbon
  toolchain/check/testdata/interop/cpp/include_paths.carbon
Labels: toolchain

#5838 Fix a crash when Core is poisoned
  toolchain/check/import.cpp
  toolchain/check/testdata/packages/core_name_poisoning.carbon
Labels: toolchain

#5839 Allow formatting instructions with a missing name
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#5840 Add comment to FindAssociatedImportIRs
  toolchain/check/impl_lookup.cpp
Labels: toolchain

#5841 Include the virtual modifier when importing functions
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
Labels: toolchain

#5834 Add support for a custom error type in `ErrorOr`
  common/error.h
  common/error_test.cpp
  common/error_test_helpers.h
Labels: toolchain

#5843 Mark VtablePtr always constant
  toolchain/lower/handle.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5473 Update/clarify documentation of generic constants
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/inst_kind.h
Labels: toolchain

#5842 Fix variadic arguments test to use the format that is not deprecated in C++26 and fix the call site to be valid
  toolchain/check/testdata/interop/cpp/function/function.carbon
Labels: toolchain

#5847 Change CodeGen to use a diagnostic consumer
  toolchain/codegen/BUILD
  toolchain/codegen/codegen.cpp
  toolchain/codegen/codegen.h
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#5848 Update prelude files to increase destroy dependencies
  core/prelude/operators.carbon
  core/prelude/types.carbon
  core/prelude/types/int.carbon
  core/prelude/types/optional.carbon
  core/prelude/types/uint.carbon
  toolchain/check/testdata/array/bound_values.carbon
  toolchain/check/testdata/builtins/print/char.carbon
  toolchain/check/testdata/builtins/print/int.carbon
  toolchain/check/testdata/for/actual.carbon
  toolchain/check/testdata/impl/impl_assoc_const_with_prelude.carbon
  toolchain/check/testdata/operators/overloaded/index_with_prelude.carbon
  toolchain/lower/testdata/for/bindings.carbon
  toolchain/lower/testdata/for/break_continue.carbon
  toolchain/lower/testdata/for/for.carbon
  toolchain/lower/testdata/operators/increment.carbon
  toolchain/testing/testdata/min_prelude/parts/optional.carbon
Labels: toolchain

#5849 Initial support for interop with class/struct/union fields.
  toolchain/check/BUILD
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/import.cpp
  toolchain/check/import.h
  toolchain/check/import_cpp.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/import_ref.h
  toolchain/check/testdata/interop/cpp/class/class.carbon
  toolchain/check/testdata/interop/cpp/class/field.carbon
  toolchain/check/testdata/interop/cpp/class/method.carbon
  toolchain/check/testdata/interop/cpp/class/struct.carbon
  toolchain/check/testdata/interop/cpp/class/union.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/in_template.carbon
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/check/testdata/interop/cpp/namespace.carbon
  toolchain/check/type_completion.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/handle_aggregates.cpp
  toolchain/lower/testdata/interop/cpp/field.carbon
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/import_ir.cpp
  toolchain/sem_ir/inst_categories.h
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5824 Add a `dump` command in lldb for dumping from ids
  docs/project/contribution_tools.md
  scripts/lldbinit.py
Labels: toolchain

#5861 Note we are using Clang 16+ in the contribution tools docs
  docs/project/contribution_tools.md
Labels: documentation

#5855 Support C++ import for anonymous struct and union members.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/class/field.carbon
  toolchain/lower/testdata/interop/cpp/field.carbon
Labels: toolchain

#5856 Support for importing C++ base classes.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/class/base.carbon
  toolchain/check/testdata/interop/cpp/class/class.carbon
  toolchain/check/testdata/interop/cpp/class/struct.carbon
  toolchain/lower/testdata/interop/cpp/base.carbon
Labels: toolchain

#5853 Ensure vtable entries for generics are attached constants
  toolchain/check/class.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
Labels: toolchain

#5689 Semantic Identity and Order-Dependent Resolution for Rewrite Constraints
  docs/design/generics/appendix-rewrite-constraints.md
  proposals/p5689.md
Labels: proposal, documentation

#5860 Add support for using C++ `bool` type in imported function declarations.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
Labels: toolchain

#5858 Add support for importing access from C++ to Carbon
  toolchain/check/import_cpp.cpp
  toolchain/check/import_cpp.h
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/interop/cpp/class/access.carbon
  toolchain/check/testdata/interop/cpp/class/class.carbon
  toolchain/check/testdata/interop/cpp/class/struct.carbon
  toolchain/check/testdata/interop/cpp/class/union.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
Labels: toolchain

#5867 Migrate away from llvm::ArrayRef(std::nullopt_t)
  toolchain/lower/file_context.cpp
Labels: toolchain

#5673 Find cycles in rewrite constraints without performing the full exponential expansion of the RHS
  toolchain/check/eval.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/facet_type.h
  toolchain/check/generic.cpp
  toolchain/check/subst.cpp
  toolchain/check/subst.h
  toolchain/check/testdata/facet/facet_assoc_const.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
Labels: toolchain

#5869 Remove outdated piece of comment on `SubstInst`
  toolchain/check/subst.h
Labels: toolchain

#5870 Adjust ordering of EXTRA-ARGS to allow tests to override includes
  testing/file_test/README.md
  testing/file_test/test_file.cpp
  testing/file_test/testdata/include_extra_args.carbon
Labels: toolchain

#5864 Dedupe rewrite constraints without sorting
  toolchain/check/facet_type.cpp
Labels: toolchain

#5866 Import C++ `class A final` as Carbon `final class`.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/class/abstract.carbon
  toolchain/check/testdata/interop/cpp/class/base.carbon
  toolchain/check/testdata/interop/cpp/class/union.carbon
Labels: toolchain

#5875 Fix crash when importing an invalid impl
  toolchain/check/testdata/impl/basic.carbon
  toolchain/sem_ir/type_iterator.cpp
Labels: toolchain

#5882 Add braces for CARBON_KIND uses that lack them
  toolchain/base/kind_switch.h
  toolchain/base/kind_switch_test.cpp
  toolchain/check/impl_validation.cpp
  toolchain/check/type_structure.cpp
  toolchain/lex/lex.cpp
  toolchain/sem_ir/stringify.cpp
Labels: toolchain

#5881 Switch handling of errors in impls to not build a type structure
  toolchain/check/impl_lookup.cpp
  toolchain/check/impl_validation.cpp
  toolchain/check/testdata/impl/basic.carbon
  toolchain/check/type_structure.cpp
  toolchain/check/type_structure.h
  toolchain/sem_ir/type_iterator.cpp
  toolchain/sem_ir/type_iterator.h
Labels: toolchain

#5876 Emit diagnostics produced by Clang after the ASTUnit is constructed.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/namespace.carbon
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#5885 Add some tests for constraints depending on resolving other constraints
  toolchain/check/testdata/facet/early_rewrites.carbon
Labels: toolchain
