Repository carbon-language/carbon-lang, pull requests merged in 2025-09, with the labels that each got.

#6003 Remove redundant if condition after #5971
  toolchain/check/convert.cpp
Labels: toolchain

#5973 Decouple associated constants from let
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/for/actual.carbon
  toolchain/check/testdata/for/basic.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/fail_undefined_interface.carbon
  toolchain/check/testdata/impl/forward_decls.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
  toolchain/check/testdata/impl/import_interface_assoc_const.carbon
  toolchain/check/testdata/impl/lookup/specialization_with_symbolic_rewrite.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/interface/compound_member_access.carbon
  toolchain/check/testdata/interface/fail_assoc_const_alias.carbon
  toolchain/check/testdata/interface/fail_assoc_const_not_binding.carbon
  toolchain/check/testdata/interface/fail_assoc_const_not_constant.carbon
  toolchain/check/testdata/interface/fail_assoc_const_template.carbon
  toolchain/check/testdata/interface/fail_member_lookup.carbon
  toolchain/check/testdata/interface/import.carbon
  toolchain/check/testdata/patterns/underscore.carbon
  toolchain/check/testdata/tuple/tuple_pattern.carbon
  toolchain/check/testdata/var/fail_in_interface.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/context.cpp
  toolchain/parse/handle_decl_definition.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_let.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/parse.cpp
  toolchain/parse/state.def
  toolchain/parse/testdata/generics/interface/associated_constants.carbon
  toolchain/parse/testdata/generics/interface/fail_associated_constants.carbon
  toolchain/parse/testdata/let/fail_missing_name.carbon
  toolchain/parse/testdata/let/missing_value.carbon
  toolchain/parse/testdata/var/fail_in_interface.carbon
  toolchain/parse/testdata/where_expr/basic.carbon
  toolchain/parse/testdata/where_expr/impl_where.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5999 Improve support for qualification conversions.
  toolchain/check/convert.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/as/const.carbon
  toolchain/check/testdata/as/maybe_unformed.carbon
  toolchain/check/testdata/as/partial.carbon
  toolchain/check/testdata/as/unsafe_as.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/interop/cpp/class/base.carbon
  toolchain/check/type.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/inst_categories.h
  toolchain/sem_ir/type.cpp
  toolchain/sem_ir/type.h
  toolchain/testing/testdata/min_prelude/parts/maybe_unformed.carbon
  toolchain/testing/testdata/min_prelude/unformed.carbon
Labels: toolchain

#6009 Always import canonical instructions except for exceptional Decl cases
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/for/actual.carbon
  toolchain/check/testdata/impl/import_builtin_call.carbon
  toolchain/check/testdata/impl/import_thunk.carbon
Labels: toolchain

#6012 Support lowering of functions with variable binding parameters.
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/function/definition/var_param.carbon
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/inst.h
Labels: toolchain

#6014 Allow a value of type `MaybeUnformed(T)` to convert to `T` with `unsafe as`
  toolchain/check/convert.cpp
  toolchain/check/testdata/as/maybe_unformed.carbon
Labels: toolchain

#6022 Update LLVM
  MODULE.bazel
  toolchain/check/cpp_thunk.cpp
  toolchain/check/import_cpp.cpp
  toolchain/driver/build_runtimes_subcommand.cpp
  toolchain/sem_ir/inst_namer.h
Labels: infrastructure, toolchain

#5991 Hello world C++ interop example
  examples/interop/cpp/BUILD
  examples/interop/cpp/hello_world.carbon
Labels: documentation

#6020 C++ interop: Support unary operators
  toolchain/check/import_cpp.cpp
  toolchain/check/operator.cpp
  toolchain/check/testdata/interop/cpp/function/operators.carbon
Labels: toolchain

#6023 Update LLVM to pick up new compiler-rt build rules
  MODULE.bazel
  bazel/llvm_project/0004_Introduce_filegroups_for_compiler_rt_builtins_runtime.patch
Labels: infrastructure

#6030 C++ interop: Add a test for calling an operator on an inner class
  toolchain/check/testdata/interop/cpp/function/operators.carbon
Labels: toolchain

#6024 C++ interop: Support importing operators defined in namespaces
  toolchain/check/import_cpp.cpp
  toolchain/check/import_cpp.h
  toolchain/check/operator.cpp
  toolchain/check/testdata/interop/cpp/function/operators.carbon
Labels: toolchain

#6039 Use explicit(false) for implicit construction
  common/enum_base.h
  common/error.h
  common/error_test_helpers.h
  common/map.h
  common/raw_hashtable.h
  common/set.h
  common/struct_reflection.h
  common/template_string.h
  common/template_string_test.cpp
  common/type_enum.h
  toolchain/check/diagnostic_helpers.h
  toolchain/check/keyword_modifier_set.h
  toolchain/diagnostics/format_providers.h
  toolchain/lex/lex.cpp
  toolchain/parse/node_category.h
  toolchain/parse/node_ids.h
  toolchain/parse/precedence.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/type_iterator.h
Labels: toolchain

#6000 Many improvements to the filesystem library
  common/filesystem.cpp
  common/filesystem.h
  common/filesystem_test.cpp
  common/ostream.h
Labels: toolchain

#6044 Stop round tripping through an InstId to get the ConstantId of a TypeId
  toolchain/check/member_access.cpp
Labels: toolchain

#6046 Improve building of generated sources for ClangD
  scripts/create_compdb.py
Labels: infrastructure

#6056 Add tests that show `.X` and `.Self.X` are treated the same on the RHS of a rewrite constraint
  toolchain/check/testdata/facet/facet_assoc_const.carbon
Labels: toolchain

#6075 Add a test for importing a C++ namespace indirectly
  toolchain/check/testdata/interop/cpp/import.carbon
Labels: toolchain

#6078 Add support for `char` keyword per #5903.
  toolchain/check/handle_literal.cpp
  toolchain/check/testdata/function/call/fail_not_callable.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/operators.carbon
  toolchain/check/testdata/interop/cpp/stdlib/string_view.carbon
  toolchain/check/testdata/primitives/import_symbolic.carbon
  toolchain/check/testdata/primitives/string_literals.carbon
  toolchain/check/testdata/primitives/type_literals.carbon
  toolchain/lex/testdata/basic_syntax.carbon
  toolchain/lex/testdata/fail_block_string_second_line.carbon
  toolchain/lex/token_kind.def
  toolchain/parse/handle_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/basics/type_literals.carbon
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/type_info.cpp
  toolchain/sem_ir/type_info.h
  toolchain/testing/testdata/min_prelude/parts/char.carbon
  toolchain/testing/testdata/min_prelude/primitives.carbon
Labels: toolchain

#6080 Support for passing pointers to function templates.
  toolchain/check/cpp_import.cpp
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
Labels: toolchain

#6079 Support for mapping str to std::string_view in interop.
  toolchain/check/cpp_import.cpp
  toolchain/check/cpp_type_mapping.cpp
  toolchain/check/testdata/interop/cpp/stdlib/string_view.carbon
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/type_info.cpp
Labels: toolchain

#6083 Make `str` copyable.
  core/prelude/types/string.carbon
  toolchain/lower/testdata/primitives/string.carbon
Labels: toolchain

#6081 docs/design: object-safe has been named to dyn-compatible
  docs/design/generics/appendix-witness.md
Labels: documentation

#6082 Add reference support to C++ interop.
  toolchain/check/cpp_import.cpp
  toolchain/check/cpp_thunk.cpp
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_direct.carbon
  toolchain/check/testdata/interop/cpp/function/reference.carbon
  toolchain/lower/testdata/interop/cpp/reference.carbon
Labels: toolchain

#6096 C++ interop: Don't crash when looking up names inside an incomplete C++ class/struct/union
  toolchain/check/cpp/import.cpp
  toolchain/check/testdata/interop/cpp/class/constructor.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
Labels: toolchain

#6094 Add `Check::Context::clang_decls()` methods
  toolchain/check/context.h
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/thunk.cpp
  toolchain/check/cpp/type_mapping.cpp
Labels: toolchain

#6091 Improve diagnostics for overload resolution failure.
  toolchain/check/BUILD
  toolchain/check/context.h
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/location.cpp
  toolchain/check/cpp/location.h
  toolchain/check/cpp/overload_resolution.cpp
  toolchain/check/cpp/type_mapping.cpp
  toolchain/check/testdata/interop/cpp/class/method.carbon
  toolchain/check/testdata/interop/cpp/fail_todo_arithmetic_types_unmapped.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/function.carbon
  toolchain/check/testdata/interop/cpp/function/inline.carbon
  toolchain/check/testdata/interop/cpp/function/operators.carbon
  toolchain/check/testdata/interop/cpp/function/overloads.carbon
  toolchain/check/testdata/interop/cpp/function/param_unsupported.carbon
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
  toolchain/check/testdata/interop/cpp/function/reference.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#6109 Use `context.x()` instead of `context.sema_ir().x()` in `check/cpp/` when possible
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/thunk.cpp
  toolchain/check/cpp/type_mapping.cpp
Labels: toolchain

#6106 Remove redundant SemIR:: uses in SemIR
  toolchain/sem_ir/constant.cpp
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/diagnostic_loc_converter.cpp
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/import_ir.cpp
  toolchain/sem_ir/import_ir.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/pattern.cpp
  toolchain/sem_ir/type.cpp
  toolchain/sem_ir/type.h
Labels: toolchain

#6105 Update TypeIterator to use CARBON_KIND_SWITCH
  toolchain/sem_ir/type_iterator.cpp
  toolchain/sem_ir/type_iterator.h
Labels: toolchain

#6110 Add `Check::Context::clang_sema()` method and use it
  toolchain/check/context.h
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/operators.cpp
  toolchain/check/cpp/overload_resolution.cpp
  toolchain/check/cpp/thunk.cpp
  toolchain/check/cpp/type_mapping.cpp
Labels: toolchain

#6104 Switch CalleeFunction to a variant
  toolchain/check/call.cpp
  toolchain/check/cpp/thunk.cpp
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/member_access.cpp
  toolchain/check/thunk.cpp
  toolchain/lower/handle_call.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify.cpp
Labels: toolchain

#6108 C++ interop: support for default arguments.
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.h
  toolchain/check/cpp/overload_resolution.cpp
  toolchain/check/cpp/thunk.cpp
  toolchain/check/cpp/type_mapping.cpp
  toolchain/check/testdata/basics/raw_sem_ir/builtins.carbon
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file_with_textual_ir.carbon
  toolchain/check/testdata/interop/cpp/class/constructor.carbon
  toolchain/check/testdata/interop/cpp/enum/anonymous.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_direct.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/decayed_param.carbon
  toolchain/check/testdata/interop/cpp/function/default_arg.carbon
  toolchain/check/testdata/interop/cpp/function/overloads.carbon
  toolchain/check/testdata/interop/cpp/function/qualified_param.carbon
  toolchain/check/testdata/interop/cpp/function/reference.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/check/testdata/interop/cpp/namespace.carbon
  toolchain/check/testdata/interop/cpp/stdlib/string_view.carbon
  toolchain/driver/testdata/stdin.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/interop/cpp/constructor.carbon
  toolchain/lower/testdata/interop/cpp/enum.carbon
  toolchain/lower/testdata/interop/cpp/extern_c.carbon
  toolchain/lower/testdata/interop/cpp/function_decl.carbon
  toolchain/lower/testdata/interop/cpp/method.carbon
  toolchain/lower/testdata/interop/cpp/parameters.carbon
  toolchain/lower/testdata/interop/cpp/reference.carbon
  toolchain/lower/testdata/interop/cpp/return.carbon
  toolchain/lower/testdata/interop/cpp/template.carbon
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/clang_decl.cpp
  toolchain/sem_ir/clang_decl.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#6112 Add support for C++ member operators
  toolchain/check/call.cpp
  toolchain/check/cpp/overload_resolution.cpp
  toolchain/check/cpp/overload_resolution.h
  toolchain/check/testdata/interop/cpp/function/operators.carbon
Labels: toolchain

#6126 Core.Char -> char in a couple spots
  examples/interop/cpp/hello_world.carbon
  toolchain/lower/testdata/builtins/char.carbon
Labels: toolchain, documentation

#6129 Fix handling of deleted and templated constructors.
  toolchain/check/cpp/import.cpp
  toolchain/check/testdata/interop/cpp/class/constructor.carbon
Labels: toolchain

#6128 Implement system header lookup for interop import
  toolchain/check/cpp/import.cpp
  toolchain/check/testdata/interop/cpp/cpp_namespace.carbon
Labels: toolchain

#6136 Drop fn destroy support
  core/prelude/destroy.carbon
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/node_stack.h
  toolchain/check/scope_stack.h
  toolchain/check/testdata/class/destroy_calls.carbon
  toolchain/check/testdata/class/destroy_decl.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lex/token_kind.def
  toolchain/lower/testdata/function/definition/destroy.carbon
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/function/declaration.carbon
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/name.cpp
  toolchain/testing/testdata/min_prelude/parts/destroy.carbon
Labels: toolchain

#6137 Implement support for mixed-access overload sets.
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.h
  toolchain/check/cpp/operators.cpp
  toolchain/check/cpp/overload_resolution.cpp
  toolchain/check/member_access.cpp
  toolchain/check/member_access.h
  toolchain/check/name_lookup.cpp
  toolchain/check/name_lookup.h
  toolchain/check/testdata/interop/cpp/class/access.carbon
  toolchain/check/testdata/interop/cpp/function/overloads.carbon
  toolchain/sem_ir/cpp_overload_set.h
Labels: toolchain

#6113 Rearrange convert: construct FacetAccessType from a facet value before impl lookup instead of after
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/generic/member_type.carbon
  toolchain/check/testdata/facet/call_combined_impl_witness.carbon
  toolchain/check/testdata/facet/convert_class_type_to_facet_type.carbon
  toolchain/check/testdata/facet/convert_facet_value_as_type_knows_original_type.carbon
  toolchain/check/testdata/facet/convert_facet_value_to_itself.carbon
  toolchain/check/testdata/facet/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/convert_interface.carbon
  toolchain/check/testdata/for/actual.carbon
  toolchain/check/testdata/for/pattern.carbon
  toolchain/check/testdata/function/generic/call.carbon
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/function/generic/deduce_nested_facet_value.carbon
  toolchain/check/testdata/generic/dependent_param.carbon
  toolchain/check/testdata/generic/dot_self_symbolic_type.carbon
  toolchain/check/testdata/impl/compound.carbon
  toolchain/check/testdata/impl/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/fail_self_type_mismatch.carbon
  toolchain/check/testdata/impl/forward_decls.carbon
  toolchain/check/testdata/impl/import_compound.carbon
  toolchain/check/testdata/impl/import_thunk.carbon
  toolchain/check/testdata/impl/import_use_generic.carbon
  toolchain/check/testdata/impl/interface_args.carbon
  toolchain/check/testdata/impl/lookup/canonical_query_self.carbon
  toolchain/check/testdata/impl/lookup/lookup_interface_with_enclosing_generic_inside_rewrite_constraint.carbon
  toolchain/check/testdata/impl/lookup/specialization_with_symbolic_rewrite.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/interface/compound_member_access.carbon
  toolchain/check/testdata/interface/fail_assoc_const_alias.carbon
  toolchain/check/testdata/interface/fail_member_lookup.carbon
  toolchain/check/testdata/interface/generic.carbon
  toolchain/check/testdata/interface/generic_method.carbon
  toolchain/check/testdata/primitives/import_symbolic.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/sem_ir/constant.h
Labels: toolchain

#6138 Set the location for the candidate set when looking up C++ operators
  toolchain/check/cpp/operators.cpp
  toolchain/check/testdata/interop/cpp/function/operators.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#6133 Use a thread pool when building runtimes
  toolchain/driver/BUILD
  toolchain/driver/build_runtimes_subcommand.cpp
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner.h
  toolchain/driver/clang_runner_test.cpp
  toolchain/driver/clang_subcommand.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/driver_env.h
  toolchain/driver/link_subcommand.cpp
  toolchain/driver/lld_runner_test.cpp
Labels: toolchain

#6146 Simplify member access in facet values
  toolchain/check/member_access.cpp
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/facet/access.carbon
  toolchain/check/testdata/facet/call_combined_impl_witness.carbon
  toolchain/check/testdata/impl/lookup/canonical_query_self.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/interface/compound_member_access.carbon
  toolchain/check/testdata/interface/fail_assoc_const_alias.carbon
Labels: toolchain

#5890 Update Documentation to use new expression terminology
  docs/design/expressions/member_access.md
  docs/design/generics/appendix-rewrite-constraints.md
  docs/design/generics/details.md
  docs/design/generics/overview.md
  toolchain/check/testdata/deduce/symbolic_facets.carbon
  toolchain/check/testdata/impl/lookup/symbolic_lookup.carbon
  toolchain/check/type_structure.h
Labels: toolchain, documentation
