Repository carbon-language/carbon-lang, pull requests merged in 2025-03, with the labels that each got.

#5020 Add more empty stack verification
  toolchain/check/check_unit.cpp
  toolchain/check/context.cpp
  toolchain/check/decl_introducer_state.h
  toolchain/check/decl_name_stack.h
  toolchain/check/generic_region_stack.h
  toolchain/check/region_stack.h
Labels: toolchain

#5030 Move None to IdBase
  toolchain/base/index_base.h
  toolchain/check/scope_index.h
  toolchain/parse/tree.h
  toolchain/sem_ir/ids.h
Labels: toolchain

#5048 Factor out fuzzing disablement in the driver
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/driver/BUILD
  toolchain/driver/clang_subcommand.cpp
  toolchain/driver/driver_subcommand.cpp
  toolchain/driver/driver_subcommand.h
  toolchain/driver/lld_subcommand.cpp
  toolchain/driver/testdata/fail_clang_fuzzing.cpp
  toolchain/driver/testdata/fail_lld_fuzzing.carbon
Labels: toolchain

#5045 Add parsing for 'fn destroy'
  toolchain/check/handle_name.cpp
  toolchain/check/name_component.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/class/no_prelude/destroy.carbon
  toolchain/lex/token_kind.def
  toolchain/parse/BUILD
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/node_category.h
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/alias/basic.carbon
  toolchain/parse/testdata/class/local.carbon
  toolchain/parse/testdata/function/declaration.carbon
  toolchain/parse/testdata/generics/impl/fail_out_of_line_member.carbon
  toolchain/parse/testdata/namespace/fail_incomplete_name.carbon
  toolchain/parse/testdata/namespace/nested.carbon
  toolchain/parse/testdata/packages/export.carbon
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Labels: toolchain

#5053 Add `--no-dump-sem-ir` to all `name_poisoning` tests
  toolchain/check/testdata/class/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/impl/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/interface/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/namespace/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/packages/no_prelude/core_name_poisoning.carbon
Labels: toolchain

#5057 Test that `(T as I) as type` recovers its original type
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_facet_value_as_type_knows_original_type.carbon
Labels: toolchain

#5058 Perform member lookup on FacetAccessType
  toolchain/check/member_access.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/facet/no_prelude/access.carbon
Labels: toolchain

#4982 Allow making sets and maps with move-only keys and/or values
  common/map_test.cpp
  common/raw_hashtable.h
  common/raw_hashtable_test_helpers.h
  common/set_test.cpp
Labels: toolchain

#5052 Clarify conversion diagnostic
  toolchain/check/convert.cpp
  toolchain/check/testdata/array/fail_bound_overflow.carbon
  toolchain/check/testdata/array/fail_invalid_type.carbon
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/as/adapter_conversion.carbon
  toolchain/check/testdata/as/fail_no_conversion.carbon
  toolchain/check/testdata/as/fail_not_type.carbon
  toolchain/check/testdata/basics/fail_non_type_as_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_facet_value_shouldnt_know_concrete_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_facet_value_to_missing_impl.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_type_erased_type_to_facet.carbon
  toolchain/check/testdata/builtins/int/convert.carbon
  toolchain/check/testdata/class/adapter/extend_adapt.carbon
  toolchain/check/testdata/class/adapter/fail_adapt_bad_decl.carbon
  toolchain/check/testdata/class/adapter/init_adapt.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_compound_type_mismatch.carbon
  toolchain/check/testdata/class/fail_derived_to_base.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/class/generic/adapt.carbon
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/class/generic/stringify.carbon
  toolchain/check/testdata/class/self.carbon
  toolchain/check/testdata/const/fail_collapse.carbon
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/facet/no_prelude/combine.carbon
  toolchain/check/testdata/function/call/fail_param_type.carbon
  toolchain/check/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/fail_impl_bad_interface.carbon
  toolchain/check/testdata/impl/fail_todo_use_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/impl_cycle.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/interface/fail_assoc_const_bad_default.carbon
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/let/fail_generic.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_assignment.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/index.carbon
  toolchain/check/testdata/pointer/fail_type_mismatch.carbon
  toolchain/check/testdata/return/fail_type_mismatch.carbon
  toolchain/check/testdata/struct/fail_type_assign.carbon
  toolchain/check/testdata/struct/fail_value_as_type.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/access/fail_non_int_indexing.carbon
  toolchain/check/testdata/tuple/fail_element_type_mismatch.carbon
  toolchain/check/testdata/tuple/fail_type_assign.carbon
  toolchain/check/testdata/tuple/fail_value_as_type.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/check/testdata/var/fail_storage_is_literal.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/check/testdata/while/fail_bad_condition.carbon
Labels: toolchain

#5055 2 small simplifications in member access
  toolchain/check/member_access.cpp
Labels: toolchain

#5070 Consolidate on @platforms//os:macos
  bazel/cc_toolchains/BUILD
Labels: infrastructure

#5050 Add remaining clang symlinks and test them
  scripts/target_determinator.py
  toolchain/install/BUILD
  toolchain/install/busybox_main.cpp
  toolchain/install/llvm_symlinks_test.py
Labels: infrastructure, toolchain

#5065 Update pip3 mentions to pipx
  docs/project/contribution_tools.md
Labels: documentation

#5017 Destructor syntax
  docs/design/README.md
  docs/design/classes.md
  docs/design/lexical_conventions/words.md
  proposals/p5017.md
Labels: proposal, proposal rfc, documentation

#5074 Fix crash when exporting a poisoned name
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_export.cpp
  toolchain/check/testdata/packages/no_prelude/export_import.carbon
Labels: toolchain

#5047 Support impl lookup for multiple interfaces in a facet type
  toolchain/check/deduce.cpp
  toolchain/check/deduce.h
  toolchain/check/eval_inst.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/no_prelude/combine.carbon
  toolchain/check/testdata/facet/no_prelude/fail_todo_call_combined_impl_witness.carbon
  toolchain/check/testdata/impl/fail_todo_use_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/impl_cycle.carbon
  toolchain/sem_ir/constant.h
Labels: toolchain

#5077 Fix the error message in fail_todo_convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_todo_convert_facet_value_to_narrowed_facet_type.carbon
Labels: toolchain

#5071 Add a test that should catch checking poisoned names when extending a class
  toolchain/check/testdata/class/no_prelude/name_poisoning.carbon
Labels: toolchain

#5060 Find impl witnesses in facets
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_todo_convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/subtyping.carbon
Labels: toolchain

#5051 Handle impl with bad interface on import
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/impl/no_prelude/import_impl_with_no_interface.carbon
Labels: toolchain

#5069 Add support for `var` patterns
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/class/no_prelude/comp_time_field.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_todo_no_params.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_not_binding.carbon
  toolchain/check/testdata/var/no_prelude/fail_generic.carbon
  toolchain/check/testdata/var/no_prelude/var_pattern.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/handle_pattern.cpp
  toolchain/parse/handle_var.cpp
  toolchain/parse/state.def
  toolchain/parse/testdata/var/var_pattern.carbon
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/entity_with_params_base.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/pattern.cpp
  toolchain/sem_ir/pattern.h
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5059 Fix non-instance compound member access
  toolchain/check/member_access.cpp
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_facet_value_shouldnt_know_concrete_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_facet_value_to_missing_impl.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_type_erased_type_to_facet.carbon
  toolchain/check/testdata/builtins/bool/eq.carbon
  toolchain/check/testdata/builtins/bool/neq.carbon
  toolchain/check/testdata/facet/no_prelude/access.carbon
  toolchain/check/testdata/facet/no_prelude/fail_todo_call_combined_impl_witness.carbon
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/specific_args.carbon
  toolchain/check/testdata/impl/lookup/transitive.carbon
  toolchain/check/testdata/impl/no_prelude/compound.carbon
  toolchain/check/testdata/impl/no_prelude/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/no_prelude/import_builtin_call.carbon
  toolchain/check/testdata/impl/no_prelude/import_compound.carbon
  toolchain/check/testdata/impl/no_prelude/import_use_generic.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/interface/no_prelude/compound_member_access.carbon
  toolchain/check/testdata/interface/no_prelude/fail_member_lookup.carbon
  toolchain/check/testdata/return/no_prelude/import_convert_function.carbon
  toolchain/check/testdata/tuple/access/fail_negative_indexing.carbon
Labels: toolchain

#5083 Fix empty arg handling in extension
  utils/vscode/package.json
  utils/vscode/src/extension.ts
Labels: utilities

#5082 Update LLVM
  MODULE.bazel
  MODULE.bazel.lock
  toolchain/codegen/codegen.cpp
Labels: infrastructure, toolchain

#5086 Fix test that used `i32` in a `no_prelude` directory
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_not_constant.carbon
Labels: toolchain

#5088 Improve debug `Dump` for `NameScopeId`s
  toolchain/sem_ir/dump.cpp
Labels: toolchain

#5099 Reuse a merged function's type ID
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic_method.carbon
  toolchain/check/testdata/function/call/prefer_unqualified_lookup.carbon
  toolchain/check/testdata/interface/fail_todo_define_default_fn_out_of_line.carbon
Labels: toolchain

#5105 Make file test readme refer to toolchain docs
  testing/file_test/README.md
Labels: toolchain

#5104 Move the test for unsupported C++ interop decl type out of `function_decl.carbon`
  toolchain/check/testdata/interop/cpp/no_prelude/function_decl.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/unsupported_decl_type.carbon
Labels: toolchain

#5107 Remove redundant deduced specifics
  toolchain/check/deduce.cpp
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/function/generic/call_method_on_generic_facet.carbon
Labels: toolchain

#5108 Move impl cycle tests to min-prelude
  toolchain/check/testdata/impl/lookup/min_prelude/impl_cycle.carbon
Labels: toolchain

#5098 Refactor BuildFunctionDecl
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_function.cpp
Labels: toolchain

#5089 Associated constants can be used in member function signatures
  toolchain/check/convert.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/builtin_conversions/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_facet_value_shouldnt_know_concrete_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_facet_value_to_missing_impl.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_type_erased_type_to_facet.carbon
  toolchain/check/testdata/facet/min_prelude/fail_incomplete.carbon
  toolchain/check/testdata/facet/min_prelude/fail_todo_call_combined_impl_witness.carbon
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/impl/fail_self_type_mismatch.carbon
  toolchain/check/testdata/impl/fail_todo_use_assoc_const.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/specific_args.carbon
  toolchain/check/testdata/impl/lookup/transitive.carbon
  toolchain/check/testdata/impl/no_prelude/compound.carbon
  toolchain/check/testdata/impl/no_prelude/import_builtin_call.carbon
  toolchain/check/testdata/impl/no_prelude/import_compound.carbon
  toolchain/check/testdata/impl/no_prelude/import_use_generic.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/interface/min_prelude/compound_member_access.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_alias.carbon
  toolchain/check/testdata/interface/no_prelude/fail_member_lookup.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/return/no_prelude/import_convert_function.carbon
  toolchain/check/type_completion.cpp
  toolchain/check/type_completion.h
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#5084 Change NodeIdOneOf and similar to use "requires" and explicit UnsafeMake
  toolchain/check/check_unit.cpp
  toolchain/check/import.cpp
  toolchain/check/node_stack.h
  toolchain/parse/context.cpp
  toolchain/parse/extract.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/tree.h
Labels: toolchain

#5113 Renumber inner parameters when checking an impl function against an interface function.
  toolchain/check/eval.cpp
  toolchain/check/impl.cpp
  toolchain/check/interface.cpp
  toolchain/check/interface.h
  toolchain/check/testdata/interface/no_prelude/generic_method.carbon
  toolchain/sem_ir/entity_name.h
Labels: toolchain

#5111 Prevent BitAnd for facet types from matching non-type values
  core/prelude/operators/bitwise.carbon
  toolchain/check/testdata/builtin_conversions/value_with_type_through_access.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/facet/min_prelude/combine.carbon
  toolchain/check/testdata/function/generic/undefined.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/operators/builtin/bit_and.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/access/fail_negative_indexing.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
Labels: toolchain

#5095 Initialize `cpp_mangle_context_` in `Mangler`'s constructor
  toolchain/driver/compile_subcommand.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/lower.cpp
  toolchain/lower/lower.h
  toolchain/lower/mangler.cpp
  toolchain/lower/mangler.h
  toolchain/sem_ir/file.h
Labels: toolchain

#5112 Remove method keywords from class functions.
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
Labels: toolchain

#5115 Get impl witnesses from facets cast to `type`
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/builtin_conversions/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/interface/min_prelude/compound_member_access.carbon
Labels: toolchain

#5100 Fix crash discovered by fuzzer.
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/class/no_prelude/fail_error_recovery.carbon
Labels: toolchain

#5078 Allow LSP test_file to autofill didOpen params from previous splits
  testing/file_test/README.md
  testing/file_test/test_file.cpp
  testing/file_test/testdata/lsp_autofill.carbon
  testing/file_test/testdata/lsp_keywords.carbon
  toolchain/language_server/testdata/document_symbol/nested.carbon
Labels: toolchain

#5126 Avoid UAF in impl lookup when deduce imports an impl from Core
  toolchain/check/deduce.cpp
  toolchain/check/deduce.h
  toolchain/check/impl_lookup.cpp
Labels: toolchain

#5125 Use the NameComponent's name_id when making an entity base
  toolchain/check/decl_name_stack.h
  toolchain/check/testdata/class/fail_base_method_define.carbon
  toolchain/check/testdata/class/fail_extend_cycle.carbon
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/fail_import_misuses.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/fail_member_of_let.carbon
  toolchain/check/testdata/class/fail_method_redefinition.carbon
  toolchain/check/testdata/class/fail_redeclaration_scope.carbon
  toolchain/check/testdata/class/fail_redefinition.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic/redeclare.carbon
  toolchain/check/testdata/class/no_prelude/extern.carbon
  toolchain/check/testdata/class/no_prelude/implicit_import.carbon
  toolchain/check/testdata/class/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/class/syntactic_merge_literal.carbon
  toolchain/check/testdata/function/builtin/fail_redefined.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_redecl.carbon
  toolchain/check/testdata/function/definition/import.carbon
  toolchain/check/testdata/function/definition/no_prelude/fail_decl_param_mismatch.carbon
  toolchain/check/testdata/function/definition/no_prelude/fail_redef.carbon
  toolchain/check/testdata/function/definition/no_prelude/implicit_import.carbon
  toolchain/check/testdata/function/definition/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/function/generic/redeclare.carbon
  toolchain/check/testdata/generic/local.carbon
  toolchain/check/testdata/interface/fail_todo_define_default_fn_out_of_line.carbon
  toolchain/check/testdata/interface/no_prelude/fail_add_member_outside_definition.carbon
  toolchain/check/testdata/interface/no_prelude/fail_definition_imported.carbon
  toolchain/check/testdata/interface/no_prelude/fail_duplicate.carbon
  toolchain/check/testdata/interface/no_prelude/fail_generic_redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/fail_lookup_undefined.carbon
  toolchain/check/testdata/interface/no_prelude/fail_redeclare_member.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/namespace/fail_conflict_after_merge.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_second.carbon
  toolchain/check/testdata/namespace/fail_decl_in_alias.carbon
  toolchain/check/testdata/namespace/fail_duplicate.carbon
  toolchain/check/testdata/namespace/fail_params.carbon
  toolchain/check/testdata/namespace/fail_unresolved_scope.carbon
  toolchain/check/testdata/packages/no_prelude/cross_package_import.carbon
Labels: toolchain

#5130 Fix use of keyword names in qualifiers with params
  toolchain/check/handle_name.cpp
  toolchain/check/node_stack.h
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/function/declaration.carbon
  toolchain/parse/testdata/generics/params/name_qualifier.carbon
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Labels: toolchain

#5129 Writeup for why we don't do deeply restrictive parsing
  toolchain/docs/parse.md
Labels: toolchain

#5127 Add declaration checking for `fn destroy`
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/class/no_prelude/destroy.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/name.cpp
Labels: toolchain

#5134 Print NOAUTOUPDATE when _not_ autoupdate
  testing/file_test/file_test_base.cpp
Labels: toolchain

#5085 Support conversion from facet value to facet value
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/impl_lookup.h
  toolchain/check/testdata/builtin_conversions/min_prelude/convert_facet_value_to_facet_value.carbon
  toolchain/check/testdata/builtin_conversions/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_facet_value_to_facet_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/call_combined_impl_witness.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_alias.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
Labels: toolchain

#5132 Impl lookup allowed for incomplete facet types
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_alias.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
Labels: toolchain

#5131 Add some tests for lowering generics.
  toolchain/lower/testdata/function/generic/call_basic.carbon
  toolchain/lower/testdata/function/generic/call_impl_function.carbon
Labels: toolchain

#5103 Add support for importing C++ namespaces
  toolchain/check/import.cpp
  toolchain/check/import.h
  toolchain/check/import_cpp.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/interop/cpp/no_prelude/bad_import.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_namespace.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/file_not_found.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function_decl.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/include.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/multiple_imports.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/namespace.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/unsupported_decl_type.carbon
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#5097 Add support for `_` binding patterns
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/patterns/no_prelude/underscore.carbon
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/let/let.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/name.cpp
  toolchain/sem_ir/pattern.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5135 Fix parse support for 'fn F[];'
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/name_component.cpp
  toolchain/check/testdata/class/no_prelude/destroy.carbon
  toolchain/check/testdata/class/no_prelude/generic_vs_params.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_todo_no_params.carbon
  toolchain/check/testdata/function/definition/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/interface/no_prelude/generic_vs_params.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/testdata/generics/deduced_params/fail_no_parens.carbon
  toolchain/parse/testdata/generics/deduced_params/no_parens.carbon
Labels: toolchain

#5120 Clean up node kind information for namespaces
  toolchain/check/check_unit.h
  toolchain/check/import.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/import_forward_decl.carbon
  toolchain/check/testdata/class/no_prelude/implicit_import.carbon
  toolchain/check/testdata/class/no_prelude/no_definition_in_impl_file.carbon
  toolchain/check/testdata/class/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/function/declaration/no_prelude/implicit_import.carbon
  toolchain/check/testdata/function/declaration/no_prelude/no_definition_in_impl_file.carbon
  toolchain/check/testdata/function/definition/no_prelude/extern.carbon
  toolchain/check/testdata/function/definition/no_prelude/extern_library.carbon
  toolchain/check/testdata/function/definition/no_prelude/implicit_import.carbon
  toolchain/check/testdata/function/definition/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/impl/no_prelude/no_definition_in_impl_file.carbon
  toolchain/check/testdata/interface/no_prelude/import_interface_decl.carbon
  toolchain/check/testdata/interface/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/bad_import.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_namespace.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/fail_fuzzing.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/file_not_found.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_nested.carbon
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_duplicate_api.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
  toolchain/check/testdata/packages/fail_import_default.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/fail_import_repeat.carbon
  toolchain/check/testdata/packages/fail_name_with_import_failure.carbon
  toolchain/check/testdata/packages/implicit_imports_prelude.carbon
  toolchain/check/testdata/packages/no_prelude/cross_package_import.carbon
  toolchain/check/testdata/packages/no_prelude/export_import.carbon
  toolchain/check/testdata/packages/no_prelude/export_name.carbon
  toolchain/check/testdata/packages/no_prelude/fail_modifiers.carbon
  toolchain/check/testdata/packages/no_prelude/implicit_imports_empty.carbon
  toolchain/check/testdata/packages/no_prelude/implicit_imports_entities.carbon
  toolchain/check/testdata/packages/no_prelude/restricted_package_names.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/parse/context.h
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/tree.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5139 Update comment following a rename
  common/array_stack.h
Labels: toolchain

#5141 Delete the GetConstantValue overload for AbsoluteInstBlockId
  toolchain/check/eval.cpp
Labels: toolchain

#5123 Add a typed node return to AddNode
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/extract.cpp
  toolchain/parse/handle_import_and_package.cpp
Labels: toolchain

#5138 Dump the inst block with the specific
  toolchain/sem_ir/dump.cpp
Labels: toolchain

#5140 Dump the LocId with the InstId from Check
  toolchain/check/dump.cpp
Labels: toolchain

#5116 Compute a correct `SpecificFunction` when resolving an indirect call to an impl function
  toolchain/check/call.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/testdata/facet/min_prelude/call_combined_impl_witness.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/no_prelude/access.carbon
  toolchain/check/testdata/function/generic/call_method_on_generic_facet.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/interface/min_prelude/compound_member_access.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_alias.carbon
  toolchain/check/testdata/interface/no_prelude/generic_method.carbon
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/function/generic/call_impl_function.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5147 Append the source-map configs for lldb
  .vscode/lldb_launch.json
Labels: infrastructure

#5146 [Refactor] Move call_params_id from EntityBase to FunctionFields.
  toolchain/check/decl_name_stack.h
  toolchain/check/global_init.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/import_ref.cpp
  toolchain/driver/testdata/compile/multifile_raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/multifile_raw_ir.carbon
  toolchain/driver/testdata/compile/raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/raw_ir.carbon
  toolchain/sem_ir/entity_with_params_base.h
  toolchain/sem_ir/function.h
Labels: toolchain

#5145 Delete the GetConstantValue overload for AbsoluteInstId
  toolchain/check/eval.cpp
Labels: toolchain

#5148 Remove some unnecessary / unused SFINAE support.
  toolchain/check/inst.h
Labels: toolchain

#5087 Qualified lookup into types being defined
  proposals/p5087.md
Labels: proposal, proposal rfc

#5151 Clean up LocIdAndInst::UncheckedLoc uses
  toolchain/check/context.h
  toolchain/check/handle_choice.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/import_ref.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/typed_nodes_test.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5121 Never perform instance binding with implicit `Self` in an interface
  toolchain/check/member_access.cpp
  toolchain/check/member_access.h
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/facet/no_prelude/access.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_alias.carbon
Labels: toolchain

#5155 Add a newline to the end of Printable::Dump()
  common/ostream.h
Labels: toolchain

#5157 Add test with example from 2025-03-19 discussion
  toolchain/check/testdata/impl/lookup/min_prelude/find_in_final.carbon
Labels: toolchain

#5149 In C++ interop, stop referring to the diagnostics consumer before deleting it
  toolchain/check/import_cpp.cpp
Labels: toolchain

#5162 Fix clang-tidy action handling of deletes
  .github/actions/test-setup/action.yml
Labels: infrastructure, toolchain

#5160 Look through FacetAccessType and FacetValue self types in impl lookup
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/facet/min_prelude/convert_facet_type_to_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_facet_value_shouldnt_know_concrete_type.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_alias.carbon
Labels: toolchain

#5158 Deduce through FacetValue
  toolchain/check/BUILD
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/generic/template/unimplemented.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/impl_cycle.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/specialization.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/type_structure.cpp
  toolchain/check/type_structure.h
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5161 Minor test updates to out of date comments
  toolchain/lower/testdata/class/virtual.carbon
Labels: toolchain

#5163 Use CARBON_KIND in deduce for FacetAccessType
  toolchain/check/deduce.cpp
Labels: toolchain

#5124 Use a "type structure" of each impl to choose the best match
  toolchain/check/testdata/generic/template/unimplemented.carbon
  toolchain/check/type_structure.cpp
Labels: toolchain

#5159 Make INCLUDE-FILE less sensitive to path changes
  testing/file_test/BUILD
  testing/file_test/README.md
  testing/file_test/file_system.cpp
  testing/file_test/file_system.h
  testing/file_test/run_test.cpp
  testing/file_test/test_file.cpp
  testing/file_test/test_file.h
  testing/file_test/testdata/include_file.carbon
  toolchain/check/testdata/facet/min_prelude/call_combined_impl_witness.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_type_to_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_value_to_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_as_type_knows_original_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_itself.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_itself.carbon
  toolchain/check/testdata/facet/min_prelude/convert_interface.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_facet_value_to_missing_impl.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_type_erased_type_to_facet.carbon
  toolchain/check/testdata/facet/min_prelude/fail_deduction_uses_runtime_type_conversion.carbon
  toolchain/check/testdata/interface/min_prelude/compound_member_access.carbon
  toolchain/testing/BUILD
  toolchain/testing/file_test.cpp
Labels: toolchain

#5165 Add some test cases of specialization
  toolchain/check/testdata/impl/lookup/min_prelude/specialization.carbon
Labels: toolchain

#5153 Reduce explicit SemIR::LocIdAndInst construction
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_choice.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/inst.h
  toolchain/check/pending_block.h
  toolchain/check/type_completion.cpp
Labels: toolchain

#5154 Rewrite symbolic constants in generic redeclarations
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic/redeclare.carbon
  toolchain/check/testdata/class/generic_method.carbon
  toolchain/check/testdata/class/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/class/syntactic_merge_literal.carbon
  toolchain/check/testdata/function/call/prefer_unqualified_lookup.carbon
  toolchain/check/testdata/function/generic/redeclare.carbon
  toolchain/check/testdata/function/generic/undefined.carbon
  toolchain/check/testdata/generic/forward_decl.carbon
  toolchain/check/testdata/impl/no_prelude/generic_redeclaration.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
  toolchain/check/testdata/interface/fail_todo_define_default_fn_out_of_line.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/syntactic_merge.carbon
Labels: toolchain

#5166 Refactor InstBlockStore's API, AddDefaultValue -> AddPlaceholder
  toolchain/base/value_store.h
  toolchain/check/check_unit.cpp
  toolchain/check/control_flow.cpp
  toolchain/check/inst_block_stack.cpp
  toolchain/check/subpattern.cpp
  toolchain/docs/idioms.md
  toolchain/sem_ir/block_value_store.h
  toolchain/sem_ir/inst.h
Labels: toolchain

#5170 Fix a compilation error with a recent Clang
  common/set.h
Labels: toolchain

#5142 When import C++ names, add the note on the `ClangLookup()` as well
  toolchain/check/import_cpp.cpp
Labels: toolchain

#5172 Narrowing facet type conversion tests
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/subtyping.carbon
Labels: toolchain

#5180 Refactor StringifyTypeExpr to use overloads
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#5174 Rebuild the type of a `bind_symbolic_name` when building an eval block
  toolchain/check/generic.cpp
  toolchain/check/subst.cpp
  toolchain/check/subst.h
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic/redeclare.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/facet/min_prelude/call_combined_impl_witness.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_type_to_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_value_to_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_as_type_knows_original_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_itself.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_itself.carbon
  toolchain/check/testdata/facet/min_prelude/convert_interface.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_facet_value_to_missing_impl.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_type_erased_type_to_facet.carbon
  toolchain/check/testdata/facet/min_prelude/fail_deduction_uses_runtime_type_conversion.carbon
  toolchain/check/testdata/facet/no_prelude/access.carbon
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/function/generic/call_method_on_generic_facet.carbon
  toolchain/check/testdata/generic/dependent_param.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/extend_impl_generic.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/fail_self_type_mismatch.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/specific_args.carbon
  toolchain/check/testdata/impl/no_prelude/compound.carbon
  toolchain/check/testdata/impl/no_prelude/import_compound.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/interface/member_lookup.carbon
  toolchain/check/testdata/interface/min_prelude/compound_member_access.carbon
  toolchain/check/testdata/interface/no_prelude/assoc_const_in_generic.carbon
  toolchain/check/testdata/interface/no_prelude/fail_add_member_outside_definition.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_alias.carbon
  toolchain/check/testdata/interface/no_prelude/fail_generic_redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/fail_member_lookup.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/interface/no_prelude/generic_method.carbon
  toolchain/check/testdata/interface/no_prelude/generic_vs_params.carbon
  toolchain/check/testdata/interface/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/operators/overloaded/no_prelude/index.carbon
  toolchain/check/testdata/packages/no_prelude/missing_prelude.carbon
  toolchain/check/testdata/return/no_prelude/import_convert_function.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/check/testdata/where_expr/dot_self_index.carbon
Labels: toolchain

#5169 Support specialization in impl lookup with a symbolic query/impl.
  toolchain/check/BUILD
  toolchain/check/context.h
  toolchain/check/diagnostic_helpers.h
  toolchain/check/dump.cpp
  toolchain/check/eval.cpp
  toolchain/check/eval.h
  toolchain/check/eval_inst.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/impl_lookup.h
  toolchain/check/import_ref.cpp
  toolchain/check/subst.cpp
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/specialization.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/testdata/impl/no_prelude/import_builtin_call.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_alias.carbon
  toolchain/check/type_completion.cpp
  toolchain/check/type_structure.cpp
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/dump.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/inst_namer.h
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5183 Minor refactor to reduce indentation
  toolchain/lower/file_context.cpp
Labels: toolchain

#5185 Cleanup pass over llvm::seq uses
  common/command_line.cpp
  common/command_line.h
  testing/base/source_gen.cpp
  testing/base/source_gen_test.cpp
  toolchain/check/impl.cpp
  toolchain/check/subst.cpp
  toolchain/driver/compile_benchmark.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/tree_and_subtrees.cpp
Labels: toolchain

#5184 Fix crash in lowering vptr initialization
  toolchain/check/convert.cpp
  toolchain/lower/testdata/class/virtual.carbon
Labels: toolchain

#5191 Add tests for poisoning specializations and final associated constants
  toolchain/check/testdata/impl/lookup/min_prelude/specialization.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/specialization_poison.carbon
Labels: toolchain

#5190 Add more output in dump for generics, impls
  toolchain/check/dump.cpp
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/impl.h
Labels: toolchain

#5192 Replace GetInstForSpecific with direct support for rendering a SpecificId in diagnostics.
  toolchain/check/eval.cpp
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/name_lookup.cpp
  toolchain/check/sem_ir_loc_diagnostic_emitter.cpp
  toolchain/check/testdata/alias/no_prelude/fail_local_in_namespace.carbon
  toolchain/check/testdata/alias/no_prelude/import_access.carbon
  toolchain/check/testdata/class/adapter/adapt.carbon
  toolchain/check/testdata/class/adapter/extend_adapt.carbon
  toolchain/check/testdata/class/adapter/fail_adapt_bad_decl.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_unknown_member.carbon
  toolchain/check/testdata/class/generic/member_lookup.carbon
  toolchain/check/testdata/class/no_prelude/import_access.carbon
  toolchain/check/testdata/class/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/function/definition/import_access.carbon
  toolchain/check/testdata/generic/template/member_access.carbon
  toolchain/check/testdata/interface/member_lookup.carbon
  toolchain/check/testdata/interface/no_prelude/import_access.carbon
  toolchain/check/testdata/interface/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function_decl.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/namespace.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/unsupported_decl_type.carbon
  toolchain/check/testdata/let/no_prelude/import_access.carbon
  toolchain/check/testdata/namespace/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/package_expr/fail_not_found.carbon
  toolchain/check/testdata/packages/no_prelude/cross_package_import.carbon
  toolchain/check/testdata/packages/raw_core.carbon
  toolchain/check/testdata/var/no_prelude/import_access.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/stringify_type.h
Labels: toolchain

#5194 Small cleanups to impl.cpp
  toolchain/check/impl.cpp
Labels: toolchain

#5188 Use DiagnosticEmitter for phase-specific types
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.h
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/diagnostic_emitter.h
  toolchain/check/diagnostic_helpers.h
  toolchain/check/eval.cpp
  toolchain/check/modifiers.cpp
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/language_server/context.cpp
  toolchain/lex/string_literal.cpp
  toolchain/lower/BUILD
  toolchain/lower/file_context.h
  toolchain/parse/context.h
Labels: toolchain

#5189 Diagnose the unused generic params on an impl decl
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/impl/lookup/generic.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/unused_generic_binding.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#5198 Test cleanup: remove old todo and duplicate test
  toolchain/check/testdata/impl/lookup/min_prelude/specialization.carbon
Labels: toolchain

#5196 Replace uses of "defined" with "complete"
  toolchain/check/check_unit.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/no_prelude/fail_extend_impl_scope.carbon
  toolchain/check/testdata/impl/no_prelude/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/interface/no_prelude/fail_lookup_undefined.carbon
  toolchain/check/type_completion.cpp
  toolchain/check/type_completion.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/class.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/interface.h
  toolchain/sem_ir/type.cpp
Labels: toolchain

#5195 Rewrite Dump calls to use std::string returns
  .vscode/lldb_launch.json
  common/ostream.h
  toolchain/check/BUILD
  toolchain/check/dump.cpp
  toolchain/lex/BUILD
  toolchain/lex/dump.cpp
  toolchain/lex/dump.h
  toolchain/parse/BUILD
  toolchain/parse/dump.cpp
  toolchain/parse/dump.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/dump.h
Labels: toolchain

#5201 Rename ImplSymblicWitness to LookupImplWitness
  toolchain/check/eval_inst.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/impl_lookup.h
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/testdata/impl/no_prelude/import_builtin_call.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_alias.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5171 Support destruction of storage
  toolchain/check/action.cpp
  toolchain/check/action.h
  toolchain/check/call.cpp
  toolchain/check/control_flow.cpp
  toolchain/check/control_flow.h
  toolchain/check/convert.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/inst.h
  toolchain/check/member_access.cpp
  toolchain/check/member_access.h
  toolchain/check/pattern_match.cpp
  toolchain/check/pending_block.h
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/class/no_prelude/destroy.carbon
  toolchain/check/testdata/class/no_prelude/destroy_calls.carbon
  toolchain/check/testdata/class/no_prelude/destroy_decl.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5177 When compiling C++, output a diagnostic per C++ diagnostic
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/no_prelude/bad_import.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/file_not_found.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#5205 Change `RebuildGenericConstantInEvalBlockCallbacks.context_` from reference to pointer
  toolchain/check/generic.cpp
Labels: toolchain

#5204 Change `DeductionWorklist.context_` from reference to pointer
  toolchain/check/deduce.cpp
Labels: toolchain

#5200 Handle FacetAccessType as the self type in symbolic impl lookups
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/impl/lookup/min_prelude/symbolic_lookup.carbon
Labels: toolchain

#5208 Change `SubstConstantCallbacks.context_` from reference to pointer
  toolchain/check/subst.cpp
Labels: toolchain

#5209 Change `PendingBlock.context_` from reference to pointer
  toolchain/check/convert.cpp
  toolchain/check/pending_block.h
Labels: toolchain

#5210 Change `NodeIdTraversal.context_` from reference to pointer
  toolchain/check/check_unit.cpp
  toolchain/check/node_id_traversal.cpp
  toolchain/check/node_id_traversal.h
Labels: toolchain

#5211 Change `TypeStructureBuilder.context_` from reference to pointer
  toolchain/check/type_structure.cpp
Labels: toolchain

#5212 Remove ArgKinds to encourage safer coding patterns
  toolchain/check/action.cpp
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/subst.cpp
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_fingerprinter.cpp
Labels: toolchain

#5213 Preserve source locations in imported eval blocks
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/basics/type_literals.carbon
  toolchain/check/testdata/function/generic/resolve_used.carbon
  toolchain/testing/BUILD
  toolchain/testing/file_test.cpp
Labels: toolchain

#5216 Extend CARBON_KIND_SWITCH to support ArgAndKind
  .codespell_ignore
  toolchain/base/kind_switch.h
  toolchain/check/action.cpp
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/subst.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_kind.h
Labels: infrastructure, toolchain

#5207 Change `ImportContext.context_` from reference to pointer
  toolchain/check/import_ref.cpp
Labels: toolchain

#5221 Change conversion diagnostic from saying "value" to "expression"
  toolchain/check/convert.cpp
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/as/adapter_conversion.carbon
  toolchain/check/testdata/as/fail_no_conversion.carbon
  toolchain/check/testdata/builtins/int/convert.carbon
  toolchain/check/testdata/class/adapter/extend_adapt.carbon
  toolchain/check/testdata/class/adapter/init_adapt.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_compound_type_mismatch.carbon
  toolchain/check/testdata/class/fail_derived_to_base.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/class/generic/adapt.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/class/generic/stringify.carbon
  toolchain/check/testdata/const/fail_collapse.carbon
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/function/call/fail_param_type.carbon
  toolchain/check/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/check/testdata/generic/template/convert.carbon
  toolchain/check/testdata/generic/template/member_access.carbon
  toolchain/check/testdata/generic/template/unimplemented.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/find_in_final.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/specialization.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/let/fail_generic.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_assignment.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/index.carbon
  toolchain/check/testdata/pointer/fail_type_mismatch.carbon
  toolchain/check/testdata/return/fail_type_mismatch.carbon
  toolchain/check/testdata/struct/fail_type_assign.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/access/fail_non_int_indexing.carbon
  toolchain/check/testdata/tuple/fail_element_type_mismatch.carbon
  toolchain/check/testdata/tuple/fail_type_assign.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/check/testdata/while/fail_bad_condition.carbon
Labels: toolchain

#5222 More `Dump()` output for constants, generics, specifics
  toolchain/sem_ir/dump.cpp
Labels: toolchain

#5220 Builtin facet type conversion is final
  toolchain/check/convert.cpp
  toolchain/check/testdata/facet/min_prelude/combine.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_type_to_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_facet_value_to_missing_impl.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_type_erased_type_to_facet.carbon
  toolchain/check/testdata/facet/min_prelude/fail_incomplete.carbon
  toolchain/check/testdata/facet/no_prelude/access.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/impl_cycle.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_alias.carbon
  toolchain/check/testdata/interface/no_prelude/fail_member_lookup.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
Labels: toolchain

#5226 Make ImplWitness constant_kind=Always
  toolchain/sem_ir/typed_insts.h
Labels: toolchain
