Repository carbon-language/carbon-lang, pull requests merged in 2025-02, with the labels that each got.

#4864 No predeclared identifiers, `Core` is a keyword
  docs/design/code_and_name_organization/README.md
  docs/design/lexical_conventions/words.md
  docs/project/principles/namespace_cleanliness.md
  proposals/p4864.md
  utils/textmate/Syntaxes/carbon.tmLanguage.json
  utils/tree_sitter/queries/highlights.scm
Labels: proposal, proposal rfc, documentation, utilities

#4887 Remove legacy migration prototype
  bazel/check_deps/BUILD
  migrate_cpp/BUILD
  migrate_cpp/README.md
  migrate_cpp/clang_tidy.yaml
  migrate_cpp/cpp_refactoring/BUILD
  migrate_cpp/cpp_refactoring/fn_inserter.cpp
  migrate_cpp/cpp_refactoring/fn_inserter.h
  migrate_cpp/cpp_refactoring/fn_inserter_test.cpp
  migrate_cpp/cpp_refactoring/for_range.cpp
  migrate_cpp/cpp_refactoring/for_range.h
  migrate_cpp/cpp_refactoring/for_range_test.cpp
  migrate_cpp/cpp_refactoring/main.cpp
  migrate_cpp/cpp_refactoring/matcher.cpp
  migrate_cpp/cpp_refactoring/matcher.h
  migrate_cpp/cpp_refactoring/matcher_manager.h
  migrate_cpp/cpp_refactoring/matcher_test_base.h
  migrate_cpp/cpp_refactoring/var_decl.cpp
  migrate_cpp/cpp_refactoring/var_decl.h
  migrate_cpp/cpp_refactoring/var_decl_test.cpp
  migrate_cpp/migrate_cpp.py
  migrate_cpp/output_segment.h
  migrate_cpp/rewriter.cpp
  migrate_cpp/rewriter.h
  migrate_cpp/rewriter_test.cpp
Labels: infrastructure

#4860 When diagnosing name used before declared, set the location of the usage
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/impl.cpp
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/interface/no_prelude/import_access.carbon
  toolchain/sem_ir/name_scope.cpp
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/name_scope_test.cpp
Labels: toolchain

#4816 Diagnose impl function with mismatched signature compared to virtual
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
Labels: toolchain

#4890 Update actions/cache version
  .github/actions/build-setup-macos/action.yml
  .github/actions/build-setup-ubuntu/action.yml
Labels: infrastructure

#4886 Update LLVM version, fix breaks
  MODULE.bazel
  MODULE.bazel.lock
  bazel/llvm_project/0001_Patch_for_mallinfo2_when_using_Bazel_build_system.patch
  bazel/llvm_project/0003_Comment_out_unloaded_proto_library_dependencies.patch
  toolchain/lower/testdata/alias/local.carbon
  toolchain/lower/testdata/array/array_in_place.carbon
  toolchain/lower/testdata/array/assign_return_value.carbon
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/array/field.carbon
  toolchain/lower/testdata/array/function_param.carbon
  toolchain/lower/testdata/basics/numeric_literals.carbon
  toolchain/lower/testdata/builtins/no_prelude/types.carbon
  toolchain/lower/testdata/class/adapt.carbon
  toolchain/lower/testdata/class/base.carbon
  toolchain/lower/testdata/class/basic.carbon
  toolchain/lower/testdata/class/convert.carbon
  toolchain/lower/testdata/class/field.carbon
  toolchain/lower/testdata/class/generic.carbon
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/lower/testdata/function/call/empty_struct.carbon
  toolchain/lower/testdata/function/call/empty_tuple.carbon
  toolchain/lower/testdata/function/call/i32.carbon
  toolchain/lower/testdata/function/call/implicit_empty_tuple_as_arg.carbon
  toolchain/lower/testdata/function/call/return_implicit.carbon
  toolchain/lower/testdata/function/call/var_param.carbon
  toolchain/lower/testdata/function/generic/call.carbon
  toolchain/lower/testdata/function/generic/call_method.carbon
  toolchain/lower/testdata/global/class_obj.carbon
  toolchain/lower/testdata/global/class_with_fun.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
  toolchain/lower/testdata/let/tuple.carbon
  toolchain/lower/testdata/operators/assignment.carbon
  toolchain/lower/testdata/pointer/address_of_field.carbon
  toolchain/lower/testdata/pointer/address_of_unused.carbon
  toolchain/lower/testdata/pointer/basic.carbon
  toolchain/lower/testdata/pointer/pointer_to_pointer.carbon
  toolchain/lower/testdata/return/return_var_byval.carbon
  toolchain/lower/testdata/return/var.carbon
  toolchain/lower/testdata/struct/empty.carbon
  toolchain/lower/testdata/struct/member_access.carbon
  toolchain/lower/testdata/struct/nested_struct_in_place.carbon
  toolchain/lower/testdata/struct/one_entry.carbon
  toolchain/lower/testdata/struct/two_entries.carbon
  toolchain/lower/testdata/tuple/access/element_access.carbon
  toolchain/lower/testdata/tuple/access/return_value_access.carbon
  toolchain/lower/testdata/tuple/empty.carbon
  toolchain/lower/testdata/tuple/nested_tuple_in_place.carbon
  toolchain/lower/testdata/tuple/one_entry.carbon
  toolchain/lower/testdata/tuple/two_entries.carbon
  toolchain/lower/testdata/tuple/value_formation.carbon
  toolchain/lower/testdata/var/local.carbon
  toolchain/lower/testdata/var/nested.carbon
Labels: infrastructure, toolchain

#4888 Update to bazel 8.0.1
  .bazelrc
  .bazelversion
  MODULE.bazel.lock
Labels: infrastructure

#4889 Support references in `ErrorOr`
  common/error.h
  common/error_test.cpp
Labels: toolchain

#4892 Don't recover from import errors by producing an error constant.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/alias/no_prelude/import.carbon
  toolchain/check/testdata/var/no_prelude/export_name.carbon
Labels: toolchain

#4891 Update bazel incompatible flag list
  .bazelrc
Labels: infrastructure

#4869 Adds help and alsologtostderr flags to comp database generation script
  scripts/create_compdb.py
Labels: infrastructure

#4856 Add a writeup for how associated constants are processed.
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_not_binding.carbon
  toolchain/docs/README.md
  toolchain/docs/check/README.md
  toolchain/docs/check/associated_constant.md
  toolchain/docs/parse.md
Labels: toolchain

#4894 Update llvm for string changes
  MODULE.bazel
Labels: infrastructure

#4881 Make the constant value of AsCompatible match its type
  toolchain/check/eval.cpp
  toolchain/check/testdata/as/adapter_conversion.carbon
  toolchain/check/testdata/function/builtin/no_prelude/adapted_type.carbon
  toolchain/check/testdata/impl/no_prelude/import_builtin_call.carbon
Labels: toolchain

#4876 Refactor resolving a location into a SemIR library
  toolchain/check/BUILD
  toolchain/check/check.h
  toolchain/check/check_unit.h
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/check/sem_ir_diagnostic_converter.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/lower/BUILD
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/lower.cpp
  toolchain/lower/lower.h
  toolchain/parse/BUILD
  toolchain/parse/tree_and_subtrees.cpp
  toolchain/parse/tree_and_subtrees.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/absolute_node_id.cpp
  toolchain/sem_ir/absolute_node_id.h
Labels: toolchain

#4899 Add a test and check-support for positional params with a return type
  toolchain/check/handle_function.cpp
  toolchain/check/name_component.cpp
  toolchain/check/testdata/function/declaration/no_prelude/fail_todo_no_params.carbon
Labels: toolchain

#4905 Remove deprecated python_version setting
  bazel/version/BUILD
  github_tools/BUILD
Labels: infrastructure

#4863 Support implicit conversion from a type value to a facet value
  toolchain/check/convert.cpp
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_class_type_to_facet_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_todo_convert_facet_value_to_facet_value.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
Labels: toolchain

#4904 Fix comment on DeclNameAndParamsAfterImplicit
  toolchain/parse/state.def
Labels: toolchain

#4906 Fix bazel warning
  .bazelrc
Labels: infrastructure

#4897 Cache calculated file state in LSP
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/language_server/BUILD
  toolchain/language_server/context.cpp
  toolchain/language_server/context.h
  toolchain/language_server/handle.h
  toolchain/language_server/handle_document_symbol.cpp
  toolchain/language_server/handle_text_document.cpp
  toolchain/language_server/incoming_messages.cpp
  toolchain/language_server/language_server.cpp
  toolchain/language_server/testdata/basics/exit.carbon
  toolchain/language_server/testdata/basics/fail_empty_stdin.carbon
  toolchain/language_server/testdata/basics/fail_no_stdin.carbon
  toolchain/language_server/testdata/basics/initialize.carbon
  toolchain/language_server/testdata/basics/notify_parse_error.carbon
  toolchain/language_server/testdata/basics/unexpected_reply.carbon
  toolchain/language_server/testdata/basics/unsupported_call.carbon
  toolchain/language_server/testdata/basics/unsupported_notification.carbon
  toolchain/language_server/testdata/basics/verbose.carbon
  toolchain/language_server/testdata/document_symbol/basics.carbon
  toolchain/language_server/testdata/document_symbol/language.carbon
  toolchain/language_server/testdata/document_symbol/unknown.carbon
  toolchain/language_server/testdata/text_document/change_count.carbon
  toolchain/language_server/testdata/text_document/change_unknown.carbon
  toolchain/language_server/testdata/text_document/close_unknown.carbon
  toolchain/language_server/testdata/text_document/open_change_close.carbon
  toolchain/language_server/testdata/text_document/open_duplicate.carbon
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer.h
Labels: toolchain

#4913 Add notes about PR labels
  docs/project/code_review.md
Labels: documentation

#4911 Avoid redundantly specifying Id::Kind.
  toolchain/check/node_stack.cpp
  toolchain/check/node_stack.h
  toolchain/parse/typed_nodes.h
Labels: toolchain

#4912 Add support for publishDiagnostics
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/diagnostic.h
  toolchain/diagnostics/diagnostic_consumer.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/diagnostics/mocks.cpp
  toolchain/diagnostics/mocks.h
  toolchain/language_server/BUILD
  toolchain/language_server/context.cpp
  toolchain/language_server/context.h
  toolchain/language_server/handle_document_symbol.cpp
  toolchain/language_server/handle_text_document.cpp
  toolchain/language_server/language_server.cpp
  toolchain/language_server/testdata/document_symbol/basics.carbon
  toolchain/language_server/testdata/text_document/change_count.carbon
  toolchain/language_server/testdata/text_document/diagnostics.carbon
  toolchain/language_server/testdata/text_document/open_change_close.carbon
  toolchain/language_server/testdata/text_document/open_duplicate.carbon
Labels: toolchain

#4900 Add a test showing how `Core` can be implicitly poisoned
  toolchain/check/testdata/packages/no_prelude/core_name_poisoning.carbon
Labels: toolchain

#4882 Deduce the FacetValue for an argument for a generic FacetType parameter
  toolchain/check/deduce.cpp
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_deduction_uses_runtime_type_conversion.carbon
  toolchain/check/testdata/function/generic/call_method_on_generic_facet.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4915 Update HandleDocumentSymbol to provide accurate symbol ranges
  toolchain/language_server/handle_document_symbol.cpp
  toolchain/language_server/testdata/document_symbol/basics.carbon
Labels: toolchain

#4919 Switch to trailing returns in toolchain and related code.
  common/command_line.cpp
  common/command_line.h
  common/command_line_test.cpp
  common/error.h
  common/hashing_benchmark.cpp
  common/map.h
  common/map_test.cpp
  common/raw_hashtable.h
  common/raw_string_ostream.h
  common/set.h
  common/set_test.cpp
  common/vlog_test.cpp
  docs/project/cpp_style_guide.md
  testing/file_test/autoupdate.h
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  toolchain/base/pretty_stack_trace_function.h
  toolchain/base/yaml.h
  toolchain/check/deduce.cpp
  toolchain/check/import.cpp
  toolchain/diagnostics/diagnostic.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/mocks.cpp
  toolchain/diagnostics/mocks.h
  toolchain/diagnostics/sorting_diagnostic_consumer.h
  toolchain/driver/codegen_options.cpp
  toolchain/driver/compile_subcommand.cpp
  toolchain/language_server/handle.h
  toolchain/language_server/handle_document_symbol.cpp
  toolchain/language_server/handle_initialize.cpp
  toolchain/language_server/handle_shutdown.cpp
  toolchain/language_server/incoming_messages.cpp
  toolchain/language_server/incoming_messages.h
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/lower/function_context.h
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/tree_and_subtrees.h
  toolchain/sem_ir/inst_kind.h
Labels: toolchain, documentation

#4922 Move TypeCompleter and closely related helper functions to their own file
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/function.cpp
  toolchain/check/generic.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/impl.cpp
  toolchain/check/member_access.cpp
  toolchain/check/type_completion.cpp
  toolchain/check/type_completion.h
Labels: toolchain

#4910 Handle building a value repr when the type is named through an aggregate
  toolchain/check/testdata/builtin_conversions/value_with_type_through_access.carbon
  toolchain/check/testdata/facet/no_prelude/access.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/type_completion.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4924 Handle `extend impl` in function body
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/impl/fail_extend_impl_scope.carbon
  toolchain/check/testdata/impl/no_prelude/fail_extend_impl_scope.carbon
Labels: toolchain

#4914 Organize symbol hierarchy in LSP documentSymbol handler
  toolchain/language_server/BUILD
  toolchain/language_server/handle_document_symbol.cpp
  toolchain/language_server/testdata/document_symbol/nested.carbon
Labels: toolchain

#4921 Move control flow block functions to their own file.
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/control_flow.cpp
  toolchain/check/control_flow.h
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_operator.cpp
Labels: toolchain

#4927 Refactor region_stack logic out of Context
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/control_flow.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/region_stack.h
Labels: toolchain

#4932 Replace GetImportIRId with check_ir_map accessor logic
  toolchain/check/context.h
  toolchain/check/import_ref.cpp
Labels: toolchain

#4873 Generate Cpp namespace when import Cpp is used
  toolchain/check/check.cpp
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/eval.cpp
  toolchain/check/import.cpp
  toolchain/check/import.h
  toolchain/check/import_cpp.cpp
  toolchain/check/import_cpp.h
  toolchain/check/testdata/interop/cpp/no_prelude/bad_import.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_namespace.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/file_not_found.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function_decl.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/include.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/multiple_imports.carbon
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/import_cpp.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4880 Safety milestones and a 2025 roadmap
  README.md
  docs/project/milestones.md
  docs/project/roadmap.md
  proposals/p4880.md
Labels: proposal, proposal rfc, documentation

#4917 Add a test where a FacetType is deduced as another FacetType
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_interface.carbon
Labels: toolchain

#4885 Improve comments on conversion from type value to type id
  toolchain/check/context.cpp
  toolchain/check/context.h
Labels: toolchain

#4929 Refactor subpattern logic out of Context
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/subpattern.cpp
  toolchain/check/subpattern.h
Labels: toolchain

#4931 Change Context::IsImplFile to File::is_impl
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/merge.cpp
  toolchain/check/scope_stack.h
  toolchain/sem_ir/file.h
Labels: toolchain

#4934 Improve `match` parsing diagnostics
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_match.cpp
  toolchain/parse/testdata/match/fail_missing_guard_close_paren.carbon
  toolchain/parse/testdata/match/fail_missing_guard_open_paren.carbon
  toolchain/parse/testdata/match/fail_missing_guard_parens_only_parse_errors.carbon
Labels: toolchain

#4940 Register a vscode build task to save all files and run autoupdate.
  .vscode/tasks.json
Labels: infrastructure

#4938 When diagnosing poisoned name, point to the declared name instead of the entire declaration
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/interface/no_prelude/import_access.carbon
Labels: toolchain

#4930 Refactor name lookup logic out of Context
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/impl.cpp
  toolchain/check/literal.cpp
  toolchain/check/member_access.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/name_lookup.h
  toolchain/check/operator.cpp
Labels: toolchain

#4945 Remove explorer from issue templates
  .github/ISSUE_TEMPLATE/01_explorer_bug.yml
  .github/ISSUE_TEMPLATE/01_toolchain_bug.yml
  .github/ISSUE_TEMPLATE/02_documentation_bug.yml
  .github/ISSUE_TEMPLATE/03_leads_question.yml
Labels: infrastructure

#4942 Delete unused ParamPatternInfo::GetNameId
  toolchain/check/pattern_match.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
Labels: toolchain

#4946 Update compiler explorer mentions in README
  README.md
Labels: documentation

#4943 Avoid speculatively pushing a pattern block in impl handling
  toolchain/check/handle_impl.cpp
  toolchain/check/node_stack.h
  toolchain/parse/handle_impl.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/generics/impl/fail_impl.carbon
  toolchain/parse/testdata/generics/impl/forall.carbon
  toolchain/parse/typed_nodes.h
Labels: toolchain

#4948 Superficial support for `template` modifier on symbolic bindings.
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/generic.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/node_stack.h
  toolchain/check/subst.cpp
  toolchain/check/testdata/array/init_dependent_bound.carbon
  toolchain/check/testdata/class/no_prelude/comp_time_field.carbon
  toolchain/check/testdata/function/generic/no_prelude/template_param.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_template.carbon
  toolchain/check/testdata/interface/no_prelude/fail_incomplete_type.carbon
  toolchain/check/testdata/return/fail_let_in_type.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/driver/testdata/compile/multifile_raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/multifile_raw_ir.carbon
  toolchain/driver/testdata/compile/raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/raw_ir.carbon
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/generics/generic_params/fail_template_no_param.carbon
  toolchain/parse/testdata/generics/generic_params/template.carbon
  toolchain/parse/testdata/generics/generic_params/template_addr.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/entity_name.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_fingerprinter.cpp
Labels: toolchain

#4949 Move diagnostic helpers from Context to other files
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/name_lookup.h
  toolchain/check/type_completion.cpp
  toolchain/check/type_completion.h
Labels: toolchain

#4928 Refactor implicit Self param into a member on SemIR::Function
  toolchain/check/convert.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/import_ref.cpp
  toolchain/sem_ir/function.h
Labels: toolchain

#4884 Avoid poisoning non identifier names
  toolchain/check/name_lookup.h
  toolchain/sem_ir/name_scope.cpp
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/name_scope_test.cpp
Labels: toolchain

#4951 Move type functions off Context
  toolchain/check/BUILD
  toolchain/check/call.cpp
  toolchain/check/check_unit.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/generic.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_tuple_literal.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/impl.cpp
  toolchain/check/import.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/interface.cpp
  toolchain/check/literal.cpp
  toolchain/check/member_access.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/subst.cpp
  toolchain/check/type.cpp
  toolchain/check/type.h
  toolchain/check/type_completion.cpp
  toolchain/docs/adding_features.md
  toolchain/sem_ir/type.cpp
  toolchain/sem_ir/type.h
Labels: toolchain

#4965 Update rules_cc to 0.1.1
  MODULE.bazel
  MODULE.bazel.lock
Labels: infrastructure

#4957 Reduce clangd-displayed errors for def files
  .clangd
  common/enum_base_test.def
  toolchain/diagnostics/check_diagnostics.py
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/sem_ir/builtin_function_kind.def
  toolchain/sem_ir/inst_kind.def
Labels: infrastructure, toolchain

#4953 When diagnosing a duplicate name, point to the name instead of the instruction
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/class/no_prelude/implicit_import.carbon
  toolchain/check/testdata/function/definition/no_prelude/implicit_import.carbon
  toolchain/check/testdata/generic/local.carbon
  toolchain/check/testdata/interface/fail_todo_define_default_fn_out_of_line.carbon
  toolchain/check/testdata/interface/no_prelude/fail_definition_imported.carbon
  toolchain/check/testdata/interface/no_prelude/fail_duplicate.carbon
  toolchain/check/testdata/interface/no_prelude/fail_redeclare_member.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_namespace.carbon
  toolchain/check/testdata/namespace/fail_conflict_after_merge.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_nested.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_second.carbon
  toolchain/check/testdata/packages/no_prelude/cross_package_import.carbon
Labels: toolchain

#4941 Refactor AddInst-family functions to their own file
  toolchain/check/BUILD
  toolchain/check/call.cpp
  toolchain/check/check_unit.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/control_flow.cpp
  toolchain/check/convert.cpp
  toolchain/check/global_init.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_tuple_literal.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/impl.cpp
  toolchain/check/import.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/import_ref.h
  toolchain/check/inst.cpp
  toolchain/check/inst.h
  toolchain/check/interface.cpp
  toolchain/check/literal.cpp
  toolchain/check/member_access.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/pending_block.h
  toolchain/check/pointer_dereference.cpp
  toolchain/check/return.cpp
  toolchain/check/subpattern.cpp
  toolchain/check/type_completion.cpp
  toolchain/docs/adding_features.md
Labels: toolchain

#4960 Add a test for the case that `extend` poisons a class member
  toolchain/check/testdata/class/no_prelude/name_poisoning.carbon
Labels: toolchain

#4966 Allow pre-commit to talk to googleapis
  .github/workflows/pre_commit.yaml
Labels: infrastructure

#4901 Add the used name to the `NameUseBeforeDecl` diagnostic
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/name_lookup.h
  toolchain/check/testdata/class/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/interface/no_prelude/import_access.carbon
Labels: toolchain

#4947 Diagnose cycles in impl lookup
  toolchain/check/context.h
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/impl/no_prelude/impl_cycle.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4954 Publish empty diagnostics on close
  toolchain/language_server/context.cpp
  toolchain/language_server/context.h
  toolchain/language_server/handle_text_document.cpp
  toolchain/language_server/testdata/text_document/diagnostics.carbon
  toolchain/language_server/testdata/text_document/open_change_close.carbon
Labels: toolchain

#4967 Share ReadFile in tests
  testing/base/BUILD
  testing/base/file_helpers.cpp
  testing/base/file_helpers.h
  testing/file_test/BUILD
  testing/file_test/file_test_base.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver_test.cpp
  utils/tree_sitter/BUILD
  utils/tree_sitter/test_runner.cpp
Labels: toolchain, utilities

#4969 Clean up Context API
  toolchain/check/context.cpp
  toolchain/check/context.h
Labels: toolchain

#4958 Remove obsolete '...' hints on node kind macros
  toolchain/check/handle_modifier.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/typed_nodes.h
Labels: toolchain

#4926 Language Server - implement incremental document sync
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/language_server/context.h
  toolchain/language_server/handle_initialize.cpp
  toolchain/language_server/handle_text_document.cpp
  toolchain/language_server/testdata/basics/fail_shutdown_without_exit.carbon
  toolchain/language_server/testdata/basics/initialize.carbon
  toolchain/language_server/testdata/basics/notify_parse_error.carbon
  toolchain/language_server/testdata/document_symbol/basics.carbon
  toolchain/language_server/testdata/document_symbol/language.carbon
  toolchain/language_server/testdata/document_symbol/unknown.carbon
  toolchain/language_server/testdata/text_document/change_count.carbon
  toolchain/language_server/testdata/text_document/change_unknown.carbon
  toolchain/language_server/testdata/text_document/close_unknown.carbon
  toolchain/language_server/testdata/text_document/diagnostics.carbon
  toolchain/language_server/testdata/text_document/incremental_sync.carbon
  toolchain/language_server/testdata/text_document/open_change_close.carbon
  toolchain/language_server/testdata/text_document/open_duplicate.carbon
Labels: toolchain

#4959 Begin packaging builtin Clang headers
  toolchain/driver/clang_runner_test.cpp
  toolchain/install/BUILD
  toolchain/install/install_filegroups.bzl
  toolchain/install/symlink_helpers.bzl
Labels: toolchain

#4970 Refactor `stdout` and `stderr` capturing to a library
  testing/base/BUILD
  testing/base/capture_std_streams.cpp
  testing/base/capture_std_streams.h
  toolchain/driver/BUILD
  toolchain/driver/clang_runner_test.cpp
Labels: toolchain

#4971 Move test file writing to our common testing `file_helpers`
  testing/base/BUILD
  testing/base/file_helpers.cpp
  testing/base/file_helpers.h
  toolchain/driver/BUILD
  toolchain/driver/clang_runner_test.cpp
Labels: toolchain

#4968 Refactor FileTestBase to split logic between multiple files
  testing/file_test/BUILD
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/run_test.cpp
  testing/file_test/run_test.h
  testing/file_test/test_file.cpp
  testing/file_test/test_file.h
Labels: toolchain, utilities

#4956 Support conversion of facet-ish values for type deduction
  toolchain/check/convert.cpp
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_class_type_to_facet_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_facet_value_to_facet_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_facet_value_to_itself.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_interface.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_facet_value_shouldnt_know_concrete_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_facet_value_to_missing_impl.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_todo_convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
Labels: toolchain

#4964 Add and propagate template phase for constants.
  toolchain/check/eval.cpp
  toolchain/check/generic.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/array/init_dependent_bound.carbon
  toolchain/check/testdata/function/generic/no_prelude/template_param.carbon
  toolchain/check/testdata/generic/template_dependence.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/fail_impl_bad_interface.carbon
  toolchain/check/testdata/impl/fail_todo_use_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/impl_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
  toolchain/check/testdata/interface/no_prelude/fail_lookup_in_type_type.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/dot_self_index.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
  toolchain/driver/testdata/compile/raw_ir.carbon
  toolchain/sem_ir/constant.cpp
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#4902 When diagnosing a duplicated name, add the name to the diagnosis
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/import_ref.h
  toolchain/check/name_lookup.cpp
  toolchain/check/name_lookup.h
  toolchain/check/testdata/alias/no_prelude/fail_name_conflict.carbon
  toolchain/check/testdata/class/cross_package_import.carbon
  toolchain/check/testdata/class/no_prelude/extern.carbon
  toolchain/check/testdata/class/no_prelude/implicit_import.carbon
  toolchain/check/testdata/function/declaration/fail_param_redecl.carbon
  toolchain/check/testdata/function/declaration/import.carbon
  toolchain/check/testdata/function/declaration/no_prelude/extern_library.carbon
  toolchain/check/testdata/function/definition/no_prelude/implicit_import.carbon
  toolchain/check/testdata/generic/local.carbon
  toolchain/check/testdata/interface/fail_todo_define_default_fn_out_of_line.carbon
  toolchain/check/testdata/interface/no_prelude/fail_definition_imported.carbon
  toolchain/check/testdata/interface/no_prelude/fail_duplicate.carbon
  toolchain/check/testdata/interface/no_prelude/fail_redeclare_member.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_namespace.carbon
  toolchain/check/testdata/let/fail_duplicate_decl.carbon
  toolchain/check/testdata/namespace/fail_conflict_after_merge.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_nested.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_second.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_second.carbon
  toolchain/check/testdata/packages/fail_conflict_no_namespaces.carbon
  toolchain/check/testdata/packages/no_prelude/cross_package_export.carbon
  toolchain/check/testdata/packages/no_prelude/cross_package_import.carbon
  toolchain/check/testdata/packages/no_prelude/implicit_imports_entities.carbon
  toolchain/check/testdata/var/no_prelude/fail_duplicate_decl.carbon
  toolchain/check/testdata/var/no_prelude/fail_namespace_conflict.carbon
Labels: toolchain

#4975 Add enumerate() for ValueStore and ImplStore
  toolchain/base/value_store.h
  toolchain/check/import_ref.cpp
  toolchain/lower/constant.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/block_value_store.h
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_namer.cpp
Labels: toolchain

#4978 Remove Context::DumpFormattedFile
  toolchain/check/context.cpp
  toolchain/check/context.h
Labels: toolchain

#4976 Avoid diagnosing conversion errors inside deduction of impl arguments
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/deduce.cpp
  toolchain/check/testdata/impl/no_prelude/impl_cycle.carbon
Labels: toolchain

#4920 First iteration of completing and resolving facet types
  toolchain/base/value_store.h
  toolchain/check/BUILD
  toolchain/check/call.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/dump.cpp
  toolchain/check/eval.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/facet_type.h
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl.h
  toolchain/check/import_ref.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/subst.cpp
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/fail_extend_undefined_interface.carbon
  toolchain/check/testdata/impl/fail_impl_bad_interface.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/no_prelude/fail_extend_impl_scope.carbon
  toolchain/check/testdata/impl/no_prelude/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/no_prelude/fail_undefined_interface.carbon
  toolchain/check/testdata/impl/no_prelude/impl_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/interface/no_prelude/fail_lookup_undefined.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/check/type.cpp
  toolchain/check/type.h
  toolchain/check/type_completion.cpp
  toolchain/check/type_completion.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/dump.h
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/impl.h
Labels: toolchain

#4979 Remove FileTestBase::ValidateRun
  explorer/file_test.cpp
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
Labels: explorer, toolchain

#4972 Fix `clang` runner to avoid leaking memory
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner.h
  toolchain/driver/clang_runner_test.cpp
  toolchain/driver/clang_subcommand.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_env.h
  toolchain/install/busybox_main.cpp
Labels: toolchain

#4980 Document grammar of field and associated constant decls
  docs/design/classes.md
  docs/design/generics/details.md
Labels: documentation

#4983 Fix `NodeCategory` printing.
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.h
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Labels: toolchain

#4984 Reorder the token in a parse node to match its actual location.
  toolchain/parse/typed_nodes.h
Labels: toolchain

#4682 The Core.Array type for direct-storage immutably-sized buffers
  proposals/p4682.md
Labels: proposal, proposal rfc

#4974 Add and correct tests of impl lookup on generic interfaces
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_todo_convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/impl/no_prelude/impl_cycle.carbon
Labels: toolchain

#4985 Should-fail tests using abstract tuples and structs
  toolchain/check/testdata/class/no_prelude/fail_abstract.carbon
  toolchain/check/testdata/class/no_prelude/todo_fail_abstract_in_struct.carbon
  toolchain/check/testdata/class/no_prelude/todo_fail_abstract_in_tuple.carbon
Labels: toolchain

#4988 Make open question on class variables more explicit
  docs/design/classes.md
Labels: documentation

#4992 Configure lldb to support /proc/self/cwd paths
  .vscode/lldb_launch.json
Labels: infrastructure

#4993 Find the exe prior to busybox resolution
  toolchain/install/busybox_main.cpp
Labels: toolchain

#4986 Tuples and structs with abstract types are abstract
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/class/no_prelude/fail_abstract_in_struct.carbon
  toolchain/check/testdata/class/no_prelude/fail_abstract_in_tuple.carbon
  toolchain/check/type_completion.cpp
  toolchain/driver/testdata/compile/multifile_raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/multifile_raw_ir.carbon
  toolchain/driver/testdata/compile/raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/raw_ir.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/type.h
  toolchain/sem_ir/type_info.h
Labels: toolchain

#4995 Update pre-commit
  .github/workflows/nightly_release.yaml
  .pre-commit-config.yaml
  common/raw_hashtable.h
  proposals/p0253.md
  proposals/p0257.md
  proposals/p2006.md
  proposals/p3833.md
Labels: infrastructure, toolchain

#4973 Add LLD subcommand and busybox support
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/driver/BUILD
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner.h
  toolchain/driver/driver.cpp
  toolchain/driver/lld_runner.cpp
  toolchain/driver/lld_runner.h
  toolchain/driver/lld_runner_test.cpp
  toolchain/driver/lld_subcommand.cpp
  toolchain/driver/lld_subcommand.h
  toolchain/driver/testdata/fail_lld_fuzzing.carbon
  toolchain/driver/tool_runner_base.cpp
  toolchain/driver/tool_runner_base.h
  toolchain/install/BUILD
  toolchain/install/busybox_main.cpp
  toolchain/install/install_paths.cpp
  toolchain/install/install_paths.h
  toolchain/install/install_paths_test.cpp
Labels: toolchain

#5000 Small rephrasing of 'partial' interaction with final classes
  docs/design/classes.md
Labels: documentation

#4997 Use llvm::map_range() instead of using mapped_iterator directly
  toolchain/base/value_store.h
  toolchain/sem_ir/constant.h
Labels: toolchain

#4962 Emit diagnostics missing declaration of owned function.
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/import.cpp
  toolchain/check/testdata/function/declaration/import.carbon
  toolchain/check/testdata/function/definition/no_prelude/extern_library.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#5004 Completing a type no longer ignores facet types
  toolchain/check/eval.cpp
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_impl.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_todo_convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/function/generic/call_method_on_generic_facet.carbon
  toolchain/check/testdata/impl/extend_impl_generic.carbon
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/fail_extend_undefined_interface.carbon
  toolchain/check/testdata/impl/fail_self_type_mismatch.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/testdata/impl/no_prelude/fail_extend_impl_scope.carbon
  toolchain/check/testdata/impl/no_prelude/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/no_prelude/fail_undefined_interface.carbon
  toolchain/check/testdata/interface/no_prelude/assoc_const_in_generic.carbon
  toolchain/check/testdata/interface/no_prelude/fail_lookup_undefined.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/where_expr/dot_self_index.carbon
  toolchain/check/type_completion.cpp
  toolchain/check/type_completion.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/testdata/interface/basic.carbon
Labels: toolchain

#4987 Refactor name poisoning tests to be more organized, complete and consistent
  toolchain/check/testdata/class/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/impl/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/namespace/no_prelude/name_poisoning.carbon
Labels: toolchain

#5002 Move ChoiceDeferredBinding for style
  toolchain/check/context.h
Labels: toolchain

#5003 Consolidate post-check logic
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/param_and_arg_refs_stack.h
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
Labels: toolchain

#5009 Add parsing for partial types
  toolchain/check/handle_operator.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/precedence.cpp
  toolchain/parse/testdata/operators/prefix.carbon
Labels: toolchain

#5012 InvalidIndex -> NoneIndex in comments
  toolchain/sem_ir/inst.h
Labels: toolchain

#5018 Use an x-macro for special NameId values.
  toolchain/sem_ir/ids.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/name.cpp
Labels: toolchain

#5019 Disable misc-confusable-identifiers clang-tidy check for now.
  .clang-tidy
Labels: infrastructure

#4998 Improve diagnostics for impl lookup cycles
  toolchain/check/context.h
  toolchain/check/deduce.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/impl/no_prelude/impl_cycle.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#5007 Move diagnostic usings off Context
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/deduce.cpp
  toolchain/check/diagnostic_helpers.h
  toolchain/check/eval.cpp
  toolchain/check/impl.cpp
  toolchain/check/member_access.cpp
  toolchain/check/member_access.h
  toolchain/check/operator.cpp
  toolchain/check/operator.h
  toolchain/check/return.cpp
  toolchain/check/type_completion.cpp
  toolchain/check/type_completion.h
Labels: toolchain

#5014 Refactor function definition lowering.
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
Labels: toolchain

#5023 Rename 'long term' to 'long term issue'
  .github/workflows/triage_inactive.yaml
Labels: infrastructure

#5001 Avoid crash when deduce fails for imported generic
  toolchain/check/deduce.cpp
  toolchain/check/testdata/function/generic/no_prelude/fail_deduce_imported_function.carbon
Labels: toolchain

#5013 Update icons for slightly better sizing
  utils/vscode/images/icon.png
  website/favicon.png
Labels: utilities

#5025 Change manifest passing to drop the flag outside explorer
  explorer/file_test.cpp
  testing/file_test/BUILD
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_manifest.cpp
  testing/file_test/rules.bzl
Labels: explorer, toolchain

#5024 Add `TypeId::is_symbolic` and `is_concrete`.
  toolchain/check/deduce.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/ids.h
Labels: toolchain

#5029 Refactor NodeCategory for X-macros
  toolchain/parse/BUILD
  toolchain/parse/node_category.cpp
  toolchain/parse/node_category.h
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.h
  toolchain/parse/typed_nodes_test.cpp
Labels: toolchain

#5008 Split evaluation up into one function per instruction kind
  toolchain/check/eval.cpp
  toolchain/check/testdata/array/fail_bound_negative.carbon
  toolchain/check/testdata/array/fail_bound_overflow.carbon
  toolchain/check/testdata/array/fail_incomplete_element.carbon
  toolchain/check/testdata/array/fail_out_of_bound_non_literal.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_todo_convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/builtin_conversions/value_with_type_through_access.carbon
  toolchain/check/testdata/choice/fail_invalid.carbon
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/fail_init.carbon
  toolchain/check/testdata/class/fail_self_param.carbon
  toolchain/check/testdata/class/no_prelude/import_access.carbon
  toolchain/check/testdata/class/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/deduce/int_float.carbon
  toolchain/check/testdata/function/declaration/fail_param_in_type.carbon
  toolchain/check/testdata/function/definition/no_prelude/fail_decl_param_mismatch.carbon
  toolchain/check/testdata/generic/complete_type.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/fail_call_invalid.carbon
  toolchain/check/testdata/impl/fail_self_type_mismatch.carbon
  toolchain/check/testdata/impl/fail_todo_use_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_not_constant.carbon
  toolchain/check/testdata/interface/no_prelude/import_access.carbon
  toolchain/check/testdata/let/generic_import.carbon
  toolchain/check/testdata/operators/builtin/fail_assignment_to_error.carbon
  toolchain/check/testdata/packages/fail_import_type_error.carbon
  toolchain/check/testdata/packages/no_prelude/core_name_poisoning.carbon
  toolchain/check/testdata/pointer/fail_deref_error.carbon
  toolchain/check/testdata/pointer/fail_deref_function.carbon
  toolchain/check/testdata/pointer/fail_deref_namespace.carbon
  toolchain/check/testdata/pointer/fail_deref_not_pointer.carbon
  toolchain/check/testdata/pointer/fail_deref_type.carbon
  toolchain/check/testdata/struct/no_prelude/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuple/fail_nested_incomplete.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/check/testdata/where_expr/fail_not_facet.carbon
  toolchain/lower/constant.cpp
  toolchain/lower/function_context.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4996 Document abbreviation style things
  common/hashing_test.cpp
  common/hashtable_key_context.h
  common/map_test.cpp
  common/raw_hashtable_metadata_group.h
  common/raw_hashtable_metadata_group_benchmark.cpp
  common/set_test.cpp
  docs/project/cpp_style_guide.md
  testing/base/source_gen.cpp
  testing/base/source_gen.h
  testing/base/source_gen_main.cpp
  testing/base/source_gen_test.cpp
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/docs/adding_features.md
  toolchain/driver/compile_benchmark.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/tree_test.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain, documentation

#5005 Add error for virtual member function without self
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/merge.cpp
  toolchain/check/merge.h
  toolchain/check/testdata/class/adapter/fail_adapt_with_base.carbon
  toolchain/check/testdata/class/fail_modifiers.carbon
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/testdata/class/virtual.carbon
Labels: toolchain

#5034 Use the constant value unconditionally in deduce diagnostic
  toolchain/check/deduce.cpp
Labels: toolchain

#5022 Support BitAnd operator between facet types
  core/prelude/operators/bitwise.carbon
  toolchain/check/eval.cpp
  toolchain/check/testdata/builtin_conversions/value_with_type_through_access.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/facet/no_prelude/combine.carbon
  toolchain/check/testdata/function/generic/undefined.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/access/fail_negative_indexing.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/check/type_completion.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/handle_call.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
  toolchain/sem_ir/facet_type_info.h
Labels: toolchain

#5026 Allow facet types to be combined
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/facet/no_prelude/combine.carbon
  toolchain/check/testdata/facet/no_prelude/fail_incomplete.carbon
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
Labels: toolchain

#5015 Add basic lowering of generic function definitions.
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/testdata/function/generic/call.carbon
  toolchain/lower/testdata/function/generic/call_basic.carbon
  toolchain/lower/testdata/function/generic/call_method.carbon
Labels: dependent, toolchain

#5032 Avoid copying `NameScope` and only allow moving it
  toolchain/check/import.cpp
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#5036 Switch test manifests to embedded C++
  .vscode/gdb_launch.json
  .vscode/lldb_launch.json
  bazel/manifest/defs.bzl
  explorer/BUILD
  explorer/file_test.cpp
  scripts/fix_cc_deps.py
  testing/file_test/BUILD
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_manifest.cpp
  testing/file_test/manifest.cpp
  testing/file_test/manifest.h
  testing/file_test/rules.bzl
Labels: explorer, infrastructure, toolchain

#5040 Move the `EvalConstantInst` overloads out of `eval.cpp` into their own file.
  toolchain/check/BUILD
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/eval_inst.h
  toolchain/check/type.cpp
  toolchain/check/type.h
Labels: toolchain

#5031 Split `impl/no_prelude/name_poisoning.carbon` to `interface/no_prelude/name_poisoning.carbon` and move `interface` tests there
  toolchain/check/testdata/impl/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/interface/no_prelude/name_poisoning.carbon
Labels: toolchain

#5039 Consolidate parse function tests
  toolchain/parse/testdata/function/decl_statement.carbon
  toolchain/parse/testdata/function/declaration.carbon
  toolchain/parse/testdata/function/declaration/addr.carbon
  toolchain/parse/testdata/function/declaration/basic.carbon
  toolchain/parse/testdata/function/declaration/fail_identifier_instead_of_sig.carbon
  toolchain/parse/testdata/function/declaration/fail_missing_implicit_close.carbon
  toolchain/parse/testdata/function/declaration/fail_missing_name.carbon
  toolchain/parse/testdata/function/declaration/fail_no_sig_or_semi.carbon
  toolchain/parse/testdata/function/declaration/fail_only_fn_and_semi.carbon
  toolchain/parse/testdata/function/declaration/fail_repeated_fn_and_semi.carbon
  toolchain/parse/testdata/function/declaration/fail_skip_indented_newline_until_outdent.carbon
  toolchain/parse/testdata/function/declaration/fail_skip_indented_newline_with_semi.carbon
  toolchain/parse/testdata/function/declaration/fail_skip_indented_newline_without_semi.carbon
  toolchain/parse/testdata/function/declaration/fail_skip_to_newline_without_semi.carbon
  toolchain/parse/testdata/function/declaration/fail_skip_without_semi_to_curly.carbon
  toolchain/parse/testdata/function/declaration/fail_with_identifier_as_param.carbon
  toolchain/parse/testdata/function/declaration/fail_without_name_and_many_tokens_in_params.carbon
  toolchain/parse/testdata/function/declaration/impl_fn.carbon
  toolchain/parse/testdata/function/declaration/implicit_empty.carbon
  toolchain/parse/testdata/function/declaration/implicit_params.carbon
  toolchain/parse/testdata/function/declaration/no_params.carbon
  toolchain/parse/testdata/function/declaration/params.carbon
  toolchain/parse/testdata/function/declaration/with_return_type.carbon
  toolchain/parse/testdata/function/definition.carbon
  toolchain/parse/testdata/function/definition/basic.carbon
  toolchain/parse/testdata/function/definition/builtin.carbon
  toolchain/parse/testdata/function/definition/extern.carbon
  toolchain/parse/testdata/function/definition/fail_builtin.carbon
  toolchain/parse/testdata/function/definition/fail_identifier_in_statements.carbon
  toolchain/parse/testdata/function/definition/nested.carbon
  toolchain/parse/testdata/function/definition/with_params.carbon
  toolchain/parse/testdata/function/definition/with_return_type.carbon
  toolchain/parse/testdata/function/extern.carbon
Labels: toolchain

#5044 Refactor HandleIdentifierName away
  toolchain/check/handle_name.cpp
Labels: toolchain

#4950 Add a test for the case that `impl` function is poisoned
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/impl/no_prelude/name_poisoning.carbon
Labels: toolchain

#5043 Narrow the CRC scope in file_test
  explorer/file_test.cpp
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/run_test.cpp
  testing/file_test/run_test.h
  toolchain/testing/file_test.cpp
Labels: explorer, toolchain

#5046 Fix multiline incremental sync.
  toolchain/language_server/handle_text_document.cpp
  toolchain/language_server/testdata/text_document/incremental_sync.carbon
  toolchain/language_server/testdata/text_document/incremental_sync_multiline.carbon
Labels: toolchain
