Repository carbon-language/carbon-lang, pull requests merged in 2025-01, with the labels that each got.

#4752 Fix a bug importing declarations in generics
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/import.carbon
Labels: toolchain

#4714 Fix CC1Main setting trigger undefined behavior
  toolchain/driver/clang_runner.cpp
Labels: toolchain

#4755 Do not try to recover from using impl outside class error
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/impl/fail_impl_as_scope.carbon
Labels: toolchain

#4747 Add more `Dump` methods for debugging
  toolchain/check/BUILD
  toolchain/check/dump.cpp
  toolchain/driver/BUILD
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/dump.h
Labels: toolchain

#4757 Fix redundant void return
  toolchain/check/impl.cpp
Labels: toolchain

#4729 Update to bazel 8.0.0
  .bazelignore
  .bazelrc
  .bazelversion
  .gdbinit
  .vscode/lldb_launch.json
  MODULE.bazel
  MODULE.bazel.lock
  bazel/check_deps/check_non_test_cc_deps.py
  docs/project/contribution_tools.md
  scripts/scripts_utils.py
Labels: explorer, infrastructure, toolchain, documentation

#4759 Add `Make...Id` functions for debugging
  toolchain/sem_ir/dump.cpp
Labels: toolchain

#4758 Late response to comments on #4698
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/pattern_match.cpp
Labels: toolchain

#4750 Solutions for advent of code, day 4 - 13.
  examples/advent2024/BUILD
  examples/advent2024/README.md
  examples/advent2024/day10_common.carbon
  examples/advent2024/day10_part1.carbon
  examples/advent2024/day10_part2.carbon
  examples/advent2024/day11_common.carbon
  examples/advent2024/day11_part1.carbon
  examples/advent2024/day11_part2.carbon
  examples/advent2024/day12_common.carbon
  examples/advent2024/day12_part1.carbon
  examples/advent2024/day12_part2.carbon
  examples/advent2024/day13_common.carbon
  examples/advent2024/day13_part1.carbon
  examples/advent2024/day13_part2.carbon
  examples/advent2024/day1_common.carbon
  examples/advent2024/day1_part1.carbon
  examples/advent2024/day1_part2.carbon
  examples/advent2024/day2_common.carbon
  examples/advent2024/day2_part1.carbon
  examples/advent2024/day2_part2.carbon
  examples/advent2024/day3_common.carbon
  examples/advent2024/day3_part1.carbon
  examples/advent2024/day3_part2.carbon
  examples/advent2024/day4_common.carbon
  examples/advent2024/day4_part1.carbon
  examples/advent2024/day4_part2.carbon
  examples/advent2024/day5_common.carbon
  examples/advent2024/day5_part1.carbon
  examples/advent2024/day5_part2.carbon
  examples/advent2024/day6_common.carbon
  examples/advent2024/day6_part1.carbon
  examples/advent2024/day6_part2.carbon
  examples/advent2024/day7_common.carbon
  examples/advent2024/day7_part1.carbon
  examples/advent2024/day7_part2.carbon
  examples/advent2024/day8_common.carbon
  examples/advent2024/day8_part1.carbon
  examples/advent2024/day8_part2.carbon
  examples/advent2024/day9_common.carbon
  examples/advent2024/day9_part1.carbon
  examples/advent2024/day9_part2.carbon
  examples/advent2024/io_utils.carbon
Labels: documentation

#4765 Add danakj to autoassign
  .github/workflows/auto_assign_prs.yaml
Labels: infrastructure

#4761 Enable as many bazel incompatible flags as possible.
  .bazelrc
  bazel/carbon_rules/BUILD
  bazel/cc_toolchains/BUILD
  bazel/cc_toolchains/clang_toolchain.BUILD
  bazel/manifest/defs.bzl
Labels: infrastructure, documentation

#4762 Syntactic `impl` declaration matching updates
  toolchain/check/handle_impl.cpp
  toolchain/check/merge.cpp
  toolchain/check/testdata/impl/no_prelude/impl_self_as.carbon
  toolchain/check/testdata/impl/no_prelude/impl_where_redecl.carbon
  toolchain/sem_ir/impl.cpp
  toolchain/sem_ir/impl.h
Labels: toolchain

#4768 Address clang-tidy findings from #4763.
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_namer.cpp
Labels: toolchain

#4756 Fix unchecked optional access in compile subcommand
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/driver_test.cpp
Labels: toolchain

#4760 Fix job name for clang tidy
  .github/workflows/clang_tidy.yaml
Labels: infrastructure

#4721 Refactor the language server structure.
  toolchain/language_server/BUILD
  toolchain/language_server/context.h
  toolchain/language_server/handle.h
  toolchain/language_server/handle_document_symbol.cpp
  toolchain/language_server/handle_initialize.cpp
  toolchain/language_server/handle_text_document.cpp
  toolchain/language_server/incoming_messages.cpp
  toolchain/language_server/incoming_messages.h
  toolchain/language_server/language_server.cpp
  toolchain/language_server/outgoing_messages.h
  toolchain/language_server/server.cpp
  toolchain/language_server/server.h
Labels: toolchain

#4753 Add support for converting between integer types
  core/prelude/types/int.carbon
  core/prelude/types/uint.carbon
  toolchain/check/eval.cpp
  toolchain/check/testdata/builtins/int/convert.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/operators/overloaded/fail_error_recovery.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/builtins/int.carbon
  toolchain/lower/testdata/function/generic/call.carbon
  toolchain/lower/testdata/function/generic/call_method.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
Labels: toolchain

#4739 Explain BoundMethod and function_id a bit more
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4764 Change name poisoning implementation to allow better diagnostics
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/impl.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/name_scope.cpp
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/name_scope_test.cpp
Labels: toolchain

#4767 Slightly simplify int value lowering.
  toolchain/lower/constant.cpp
Labels: toolchain

#4773 Fix clang-tidy to run on the merge queue
  .github/workflows/clang_tidy.yaml
Labels: infrastructure

#4774 Add a test that shows names are not poisoned when lookup fails
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
Labels: toolchain

#4775 Rename BoundMethod::function_id to function_decl_id
  toolchain/check/eval.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/lower/constant.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4771 Include a fingerprint of the specific arguments in mangled names.
  toolchain/lower/mangler.cpp
  toolchain/lower/mangler.h
  toolchain/lower/testdata/function/generic/call.carbon
  toolchain/lower/testdata/function/generic/call_method.carbon
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_fingerprinter.h
Labels: toolchain

#4784 Get the tcmalloc build fix
  .bazelrc
  MODULE.bazel
Labels: infrastructure

#4751 Support array types with dependent bounds.
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/testdata/array/init_dependent_bound.carbon
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/eval/fail_symbolic.carbon
  toolchain/check/testdata/eval/symbolic.carbon
  toolchain/check/testdata/function/generic/fail_todo_param_in_type.carbon
  toolchain/check/testdata/function/generic/param_in_type.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#4787 Remove clangd Function.h include, fix Protocol.h location
  toolchain/language_server/BUILD
  toolchain/language_server/context.h
  toolchain/language_server/handle.h
Labels: toolchain

#4781 Remove woff2 from third_party
  WORKSPACE
  third_party/examples/woff2/BUILD.original
  third_party/examples/woff2/WORKSPACE.original
  third_party/examples/woff2/carbon/BUILD
  third_party/examples/woff2/carbon/LICENSE
  third_party/examples/woff2/carbon/WORKSPACE
  third_party/examples/woff2/carbon/include/woff2/decode.carbon
  third_party/examples/woff2/carbon/include/woff2/encode.carbon
  third_party/examples/woff2/carbon/include/woff2/output.carbon
  third_party/examples/woff2/carbon/src/buffer.carbon
  third_party/examples/woff2/carbon/src/convert_woff2ttf_fuzzer.impl.carbon
  third_party/examples/woff2/carbon/src/convert_woff2ttf_fuzzer_new_entry.impl.carbon
  third_party/examples/woff2/carbon/src/file.carbon
  third_party/examples/woff2/carbon/src/font.carbon
  third_party/examples/woff2/carbon/src/font.impl.carbon
  third_party/examples/woff2/carbon/src/glyph.carbon
  third_party/examples/woff2/carbon/src/glyph.impl.carbon
  third_party/examples/woff2/carbon/src/normalize.carbon
  third_party/examples/woff2/carbon/src/normalize.impl.carbon
  third_party/examples/woff2/carbon/src/port.carbon
  third_party/examples/woff2/carbon/src/round.carbon
  third_party/examples/woff2/carbon/src/store_bytes.carbon
  third_party/examples/woff2/carbon/src/table_tags.carbon
  third_party/examples/woff2/carbon/src/table_tags.impl.carbon
  third_party/examples/woff2/carbon/src/transform.carbon
  third_party/examples/woff2/carbon/src/transform.impl.carbon
  third_party/examples/woff2/carbon/src/variable_length.carbon
  third_party/examples/woff2/carbon/src/variable_length.impl.carbon
  third_party/examples/woff2/carbon/src/woff2_common.carbon
  third_party/examples/woff2/carbon/src/woff2_common.impl.carbon
  third_party/examples/woff2/carbon/src/woff2_compress.impl.carbon
  third_party/examples/woff2/carbon/src/woff2_dec.impl.carbon
  third_party/examples/woff2/carbon/src/woff2_decompress.impl.carbon
  third_party/examples/woff2/carbon/src/woff2_enc.impl.carbon
  third_party/examples/woff2/carbon/src/woff2_info.impl.carbon
  third_party/examples/woff2/carbon/src/woff2_out.impl.carbon
  third_party/examples/woff2/compile_flags.carbon.txt
  third_party/examples/woff2/migrate_cpp.sh
Labels: infrastructure, documentation

#4785 Update clang-tidy and compile-commands git commits
  MODULE.bazel
Labels: infrastructure

#4786 Fix clang-tidy issues
  common/raw_hashtable.h
  toolchain/install/busybox_info_test.cpp
Labels: toolchain

#4788 Fill in videos and slides for talks
  README.md
Labels: documentation

#4778 Change how diagnostics are ordered
  toolchain/check/BUILD
  toolchain/check/check_unit.cpp
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/check/sem_ir_diagnostic_converter.h
  toolchain/check/testdata/alias/no_prelude/fail_modifiers.carbon
  toolchain/check/testdata/class/fail_modifiers.carbon
  toolchain/check/testdata/function/declaration/no_prelude/extern_library.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_modifiers.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_todo_no_params.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/impl/fail_extend_impl_type_as.carbon
  toolchain/check/testdata/impl/fail_extend_undefined_interface.carbon
  toolchain/check/testdata/impl/lookup/fail_todo_undefined_impl.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_not_constant.carbon
  toolchain/check/testdata/let/fail_modifiers.carbon
  toolchain/check/testdata/namespace/fail_modifiers.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/check/testdata/packages/no_prelude/fail_modifiers.carbon
  toolchain/check/testdata/pointer/fail_address_of_error.carbon
  toolchain/check/testdata/return/fail_let_in_type.carbon
  toolchain/check/testdata/var/fail_todo_control_flow_init.carbon
  toolchain/check/testdata/var/no_prelude/fail_modifiers.carbon
  toolchain/diagnostics/diagnostic.h
  toolchain/diagnostics/diagnostic_converter.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/null_diagnostics.h
  toolchain/diagnostics/sorting_diagnostic_consumer.h
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/lex/test_helpers.h
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lower/file_context.cpp
  toolchain/parse/BUILD
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/parse.cpp
  toolchain/parse/tree_node_diagnostic_converter.h
  toolchain/source/source_buffer.cpp
Labels: toolchain

#4792 Use explicit conversion between integer types in examples.
  examples/advent2024/day5_common.carbon
  examples/advent2024/day9_common.carbon
  examples/advent2024/io_utils.carbon
Labels: documentation

#4770 Support associated constants in impl witnesses
  toolchain/check/check_unit.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl.h
  toolchain/check/testdata/impl/fail_extend_impl_type_as.carbon
  toolchain/check/testdata/impl/fail_extend_non_interface.carbon
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/fail_extend_undefined_interface.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/impl/fail_todo_use_assoc_const.carbon
  toolchain/check/testdata/impl/lookup/fail_todo_undefined_impl.carbon
  toolchain/check/testdata/impl/no_prelude/fail_impl_bad_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/impl_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/impl_self_as.carbon
  toolchain/check/testdata/impl/no_prelude/impl_where_redecl.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
  toolchain/check/testdata/impl/no_prelude/no_definition_in_impl_file.carbon
  toolchain/check/testdata/interface/no_prelude/import_interface_decl.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4791 Rename parameters in int conversions.
  core/prelude/types/int.carbon
  core/prelude/types/uint.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/import.carbon
Labels: toolchain

#4783 Migrate tree-sitter support to MODULE.bazel
  .bazelrc
  .gitignore
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  bazel/check_deps/BUILD
  docs/design/lexical_conventions/words.md
  explorer/BUILD
  scripts/create_compdb.py
  scripts/forbid_llvm_googletest.py
  utils/README.md
  utils/nvim/setup.sh
  utils/tree_sitter/.gitignore
  utils/tree_sitter/BUILD
  utils/tree_sitter/README.md
  utils/tree_sitter/grammar.js
  utils/tree_sitter/helix.sh
  utils/tree_sitter/queries/highlights.scm
  utils/tree_sitter/src/scanner.c
  utils/tree_sitter/test_runner.cpp
  utils/tree_sitter/testdata/string/block_inside_quotes.carbon
  utils/tree_sitter/testdata/string/fail_block_not_enough_quotes.carbon
  utils/tree_sitter/testdata/string/fail_block_single_quote.carbon
  utils/tree_sitter/testdata/string/fail_block_unclosed_string.carbon
  utils/tree_sitter/testdata/string/fail_newline.carbon
  utils/tree_sitter/testdata/string/fail_raw_block_more_hash_tags_on_left.carbon
  utils/tree_sitter/testdata/string/fail_raw_block_more_hash_tags_on_right.carbon
  utils/tree_sitter/testdata/string/fail_raw_block_quotes_not_on_own_line.carbon
  utils/tree_sitter/testdata/string/fail_raw_more_hash_tags_on_left.carbon
  utils/tree_sitter/testdata/string/fail_raw_more_hash_tags_on_right.carbon
  utils/tree_sitter/testdata/string/fail_simple_escaped_newline.carbon
  utils/tree_sitter/testdata/string/fail_unclosed_string.carbon
  utils/treesitter/BUILD
Labels: explorer, infrastructure, documentation, utilities

#4793 Fix introduction of class and interface names in local scopes.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/scope_index.h
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/class/local.carbon
  toolchain/check/testdata/generic/local.carbon
  toolchain/check/testdata/interface/no_prelude/local.carbon
  toolchain/check/testdata/namespace/fail_not_top_level.carbon
Labels: toolchain

#4794 Support importing associated constant declarations
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
Labels: toolchain

#4797 Add newline to vlog message
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#4798 Stop merging invalid impl redefinitions
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/impl/fail_redefinition.carbon
  toolchain/check/testdata/impl/no_prelude/fail_alias.carbon
  toolchain/check/testdata/impl/no_prelude/generic_redeclaration.carbon
Labels: toolchain

#4766 Rearrange name poisoning logic to do a little less work.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/import.cpp
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/interface/no_prelude/import_access.carbon
  toolchain/check/testdata/namespace/merging_with_indirections.carbon
  toolchain/sem_ir/name_scope.cpp
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/name_scope_test.cpp
Labels: toolchain

#4790 Generate AST when importing a cpp file
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/import_cpp.cpp
  toolchain/check/import_cpp.h
  toolchain/check/testdata/interop/cpp/no_prelude/bad_import.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/file_not_found.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function_decl.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/multiple_imports.carbon
  toolchain/check/testdata/packages/no_prelude/restricted_package_names.carbon
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#4800 Refactor CheckIsAllowedRedecl and stop function definition merging
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/merge.cpp
  toolchain/check/merge.h
  toolchain/check/testdata/class/fail_method_redefinition.carbon
  toolchain/check/testdata/class/fail_redefinition.carbon
  toolchain/check/testdata/function/builtin/fail_redefined.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_redecl.carbon
  toolchain/check/testdata/function/definition/import.carbon
  toolchain/check/testdata/function/definition/no_prelude/fail_redef.carbon
  toolchain/check/testdata/function/definition/no_prelude/implicit_import.carbon
  toolchain/check/testdata/namespace/fail_duplicate.carbon
  toolchain/check/testdata/packages/no_prelude/cross_package_import.carbon
Labels: toolchain

#4807 Update LLVM
  MODULE.bazel
  explorer/ast/element.cpp
  explorer/interpreter/pattern_analysis.cpp
Labels: explorer, infrastructure

#4809 Add Support for #include in cpp files imported from Carbon
  toolchain/check/check_unit.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/import_cpp.h
  toolchain/check/testdata/interop/cpp/no_prelude/include.carbon
Labels: toolchain

#4801 Remove node_stack Peek templating where possible
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/node_stack.h
Labels: toolchain

#4813 Update a few faq questions which are showing their age
  docs/project/faq.md
Labels: documentation

#4820 Add dwblaikie as a toolchain reviewer
  .github/workflows/auto_assign_prs.yaml
Labels: infrastructure

#4817 Add RawStringOstream for slightly simpler streaming to strings
  common/BUILD
  common/command_line.cpp
  common/command_line_test.cpp
  common/enum_base_test.cpp
  common/error.h
  common/error_test.cpp
  common/hashing_test.cpp
  common/raw_string_ostream.h
  common/raw_string_ostream_test.cpp
  common/vlog_test.cpp
  explorer/BUILD
  explorer/base/BUILD
  explorer/base/error_builders_test.cpp
  explorer/file_test.cpp
  testing/base/BUILD
  testing/base/source_gen.cpp
  testing/base/test_raw_ostream.h
  testing/file_test/BUILD
  testing/file_test/autoupdate.cpp
  testing/file_test/file_test_base.cpp
  toolchain/base/BUILD
  toolchain/base/shared_value_stores_test.cpp
  toolchain/check/BUILD
  toolchain/check/import_cpp.cpp
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/driver/BUILD
  toolchain/driver/clang_runner_test.cpp
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_test.cpp
  toolchain/driver/format_subcommand.cpp
  toolchain/language_server/BUILD
  toolchain/language_server/language_server.cpp
  toolchain/lex/BUILD
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/lower/BUILD
  toolchain/lower/mangler.cpp
  toolchain/parse/BUILD
  toolchain/parse/tree_test.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/type_info.cpp
  toolchain/sem_ir/yaml_test.cpp
  toolchain/testing/BUILD
  toolchain/testing/yaml_test_helpers.cpp
Labels: explorer, toolchain

#4814 Support multiple `import Cpp library` in a single unit
  toolchain/check/check_unit.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/import_cpp.h
  toolchain/check/testdata/interop/cpp/no_prelude/bad_import.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/file_not_found.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/multiple_imports.carbon
Labels: toolchain

#4823 Remove extra `SemIR::` qualification in `NameScope` since it's already in `SemIR` namespace
  toolchain/sem_ir/name_scope.cpp
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#4826 When adding a namespace, explicitly unpoison an optimistically poisoned name
  toolchain/check/import.cpp
  toolchain/check/testdata/namespace/merging_with_indirections.carbon
Labels: toolchain

#4825 Reformat `CompilationUnit` function definitions out-of-line
  toolchain/driver/compile_subcommand.cpp
Labels: toolchain

#4812 Add stdin to driver's streams, and refactor stream passing
  testing/base/source_gen_test.cpp
  toolchain/check/check_fuzzer.cpp
  toolchain/driver/BUILD
  toolchain/driver/clang_subcommand.cpp
  toolchain/driver/compile_benchmark.cpp
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_env.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_test.cpp
  toolchain/driver/format_subcommand.cpp
  toolchain/driver/language_server_subcommand.cpp
  toolchain/install/busybox_main.cpp
  toolchain/language_server/language_server.cpp
  toolchain/language_server/language_server.h
  toolchain/sem_ir/yaml_test.cpp
  toolchain/testing/file_test.cpp
Labels: toolchain

#4821 Update TODO for semantic checking
  toolchain/check/impl.cpp
Labels: toolchain

#4827 Remove comment about `inst_id` not being poisoned
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#4819 Add support for testing with stdin
  explorer/file_test.cpp
  testing/file_test/README.md
  testing/file_test/autoupdate.h
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/testdata/capture_console_output.carbon
  testing/file_test/testdata/stdin.carbon
  toolchain/testing/file_test.cpp
Labels: explorer, toolchain

#4832 Remove unused parameter
  toolchain/check/import_ref.cpp
Labels: toolchain

#4833 Sink comment into implementation
  toolchain/check/function.cpp
  toolchain/check/impl.cpp
Labels: toolchain

#4836 Invalid comment cleanup
  toolchain/base/int.h
  toolchain/check/check.cpp
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/deduce.cpp
  toolchain/check/dump.cpp
  toolchain/check/eval.cpp
  toolchain/check/generic.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/import.h
  toolchain/check/import_ref.cpp
  toolchain/check/import_ref.h
  toolchain/check/inst_block_stack.h
  toolchain/check/member_access.cpp
  toolchain/check/merge.cpp
  toolchain/check/merge.h
  toolchain/check/node_stack.h
  toolchain/check/pattern_match.cpp
  toolchain/check/pattern_match.h
  toolchain/check/scope_stack.h
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/lex/dump.cpp
  toolchain/lower/file_context.h
  toolchain/parse/node_ids.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/name.h
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/type.h
  toolchain/sem_ir/type_info.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#4829 Use FullPatternStack instead of node stack for binding context
  toolchain/check/full_pattern_stack.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/testdata/array/fail_incomplete_element.carbon
  toolchain/check/testdata/class/cross_package_import.carbon
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/check/testdata/class/fail_import_misuses.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/struct/no_prelude/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuple/fail_nested_incomplete.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#4838 Make binary operators non-member
  common/raw_hashtable_metadata_group.h
  toolchain/base/index_base.h
  toolchain/parse/node_kind.h
  toolchain/parse/tree.h
  toolchain/parse/tree_and_subtrees.h
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/import_ir.h
Labels: toolchain

#4835 Add a flag to make `CHECK` failures non-fatal for debugging.
  .bazelrc
  common/check_internal.cpp
  common/check_internal.h
  toolchain/autoupdate_testdata.py
Labels: infrastructure, toolchain

#4839 Refactor ToolchainFileTest functions out-of-line
  toolchain/testing/file_test.cpp
Labels: toolchain

#4842 Document numeric type literals in lexical conventions.
  docs/design/expressions/literals.md
  docs/design/lexical_conventions/words.md
Labels: documentation

#4840 Fix autoupdate handling of carriage return
  testing/file_test/BUILD
  testing/file_test/autoupdate.cpp
  testing/file_test/file_test_base_test.cpp
  testing/file_test/testdata/escaping.carbon
  toolchain/lex/testdata/string_literals.carbon
Labels: toolchain

#4845 Clean up a few details of lex yaml printing
  common/ostream.h
  testing/file_test/file_test_base.h
  toolchain/check/dump.cpp
  toolchain/check/import_cpp.cpp
  toolchain/lex/testdata/basic_syntax.carbon
  toolchain/lex/testdata/fail_bad_raw_identifier.carbon
  toolchain/lex/testdata/fail_block_string_second_line.carbon
  toolchain/lex/testdata/fail_mismatched_brackets.carbon
  toolchain/lex/testdata/fail_mismatched_brackets_2.carbon
  toolchain/lex/testdata/fail_multifile.carbon
  toolchain/lex/testdata/fail_trailing_comments.carbon
  toolchain/lex/testdata/keywords.carbon
  toolchain/lex/testdata/multifile.carbon
  toolchain/lex/testdata/multiline_string_literals.carbon
  toolchain/lex/testdata/numeric_literals.carbon
  toolchain/lex/testdata/printing_digit_padding.carbon
  toolchain/lex/testdata/printing_integer_literal.carbon
  toolchain/lex/testdata/printing_real_literal.carbon
  toolchain/lex/testdata/printing_token.carbon
  toolchain/lex/testdata/raw_identifier.carbon
  toolchain/lex/testdata/repeated_tuple_index.carbon
  toolchain/lex/testdata/string_literals.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#4847 Fix crash when driver fuzzer finds language-server.
  toolchain/driver/driver_test.cpp
  toolchain/driver/language_server_subcommand.cpp
Labels: toolchain

#4841 Add a framework for LSP testing.
  testing/file_test/README.md
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/testdata/lsp_calls.carbon
  testing/file_test/testdata/stdin.carbon
  toolchain/language_server/BUILD
  toolchain/language_server/language_server.cpp
  toolchain/language_server/testdata/exit.carbon
  toolchain/language_server/testdata/fail_empty_stdin.carbon
  toolchain/language_server/testdata/initialize.carbon
  toolchain/testing/BUILD
  toolchain/testing/file_test.cpp
Labels: toolchain

#4849 Switch Driver back to parameters for construction
  testing/base/source_gen_test.cpp
  toolchain/check/check_fuzzer.cpp
  toolchain/driver/compile_benchmark.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_env.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_test.cpp
  toolchain/install/busybox_main.cpp
  toolchain/sem_ir/yaml_test.cpp
  toolchain/testing/file_test.cpp
Labels: toolchain

#4850 Stop allowing `impl` redeclarations to differ syntactically in `where` clause
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl.h
  toolchain/check/testdata/impl/no_prelude/impl_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/impl_where_redecl.carbon
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/testdata/where_expr/impl_where.carbon
Labels: toolchain

#4851 When looking up a name in a scope, propagate the lookup result when it's poisoned
  toolchain/check/context.cpp
Labels: toolchain

#4852 Change `DeclNameStack::LookupOrAddName()` to return `SemIR::ScopeLookupResult` instead of a `pair`
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_namespace.cpp
Labels: toolchain

#4857 Clean up obsolete import handling in class/function
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
Labels: toolchain

#4858 Change LookupNameInCore to use a LocId
  toolchain/check/context.cpp
  toolchain/check/context.h
Labels: toolchain

#4861 Return the `NameId` for a new instruction regardless if it's unresolved because it's poisoned or not
  toolchain/check/decl_name_stack.h
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/interface/no_prelude/import_access.carbon
Labels: toolchain

#4862 Add SemIR::MakeSymbolicConstantId(int)
  toolchain/sem_ir/dump.cpp
Labels: toolchain

#4867 Make SemIRLoc data private to diagnostics
  toolchain/check/diagnostic_helpers.h
  toolchain/check/eval.cpp
  toolchain/check/sem_ir_diagnostic_converter.cpp
Labels: toolchain

#4854 Broaden file_test support for LSP requests
  testing/file_test/README.md
  testing/file_test/file_test_base.cpp
  testing/file_test/testdata/lsp_calls.carbon
  toolchain/language_server/testdata/exit.carbon
  toolchain/language_server/testdata/initialize.carbon
Labels: toolchain

#4846 Switch custom error stream output to diagnostic
  toolchain/check/check_unit.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/fail_fuzzing.carbon
  toolchain/codegen/testdata/assembly/basic.carbon
  toolchain/codegen/testdata/fail_target_triple.carbon
  toolchain/codegen/testdata/objcode/basic.carbon
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/diagnostic.cpp
  toolchain/diagnostics/diagnostic.h
  toolchain/diagnostics/diagnostic_consumer.cpp
  toolchain/diagnostics/diagnostic_consumer.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/diagnostics/file_diagnostics.h
  toolchain/diagnostics/testdata/fail_multiline_token.carbon
  toolchain/driver/clang_subcommand.cpp
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/driver/driver.cpp
  toolchain/driver/driver_env.h
  toolchain/driver/driver_test.cpp
  toolchain/driver/format_subcommand.cpp
  toolchain/driver/language_server_subcommand.cpp
  toolchain/driver/testdata/compile/multifile_raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/multifile_raw_ir.carbon
  toolchain/driver/testdata/compile/raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/raw_ir.carbon
  toolchain/driver/testdata/compile/textual_ir.carbon
  toolchain/driver/testdata/dump_mem_usage.carbon
  toolchain/driver/testdata/dump_shared_values.carbon
  toolchain/driver/testdata/dump_timings.carbon
  toolchain/driver/testdata/fail_clang_fuzzing.cpp
  toolchain/driver/testdata/fail_clang_no_args.cpp
  toolchain/driver/testdata/fail_dump_phase_conflict.carbon
  toolchain/driver/testdata/fail_flag.carbon
  toolchain/driver/testdata/fail_flush_errors.carbon
  toolchain/driver/testdata/fail_input_is_directory.carbon
  toolchain/driver/testdata/fail_missing_file.carbon
  toolchain/driver/testdata/fail_missing_stdin_output.carbon
  toolchain/driver/testdata/fail_output_is_directory.carbon
  toolchain/driver/testdata/stdin.carbon
  toolchain/format/testdata/basics/fail_invalid_comment.carbon
  toolchain/format/testdata/basics/fail_multi_file_one_output.carbon
  toolchain/format/testdata/basics/fail_nonexistent.carbon
  toolchain/language_server/BUILD
  toolchain/language_server/language_server.cpp
  toolchain/language_server/language_server.h
  toolchain/language_server/testdata/fail_empty_stdin.carbon
  toolchain/language_server/testdata/fail_no_stdin.carbon
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/lower/testdata/debug/nodebug.carbon
  toolchain/source/BUILD
  toolchain/source/source_buffer.cpp
  toolchain/testing/file_test.cpp
Labels: toolchain

#4855 Clean up language server's output handling
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/driver/language_server_subcommand.cpp
  toolchain/language_server/BUILD
  toolchain/language_server/context.h
  toolchain/language_server/incoming_messages.cpp
  toolchain/language_server/incoming_messages.h
  toolchain/language_server/language_server.cpp
  toolchain/language_server/language_server.h
  toolchain/language_server/testdata/parse_error.carbon
  toolchain/language_server/testdata/unexpected_reply.carbon
  toolchain/language_server/testdata/unsupported_call.carbon
  toolchain/language_server/testdata/unsupported_notification.carbon
  toolchain/language_server/testdata/verbose.carbon
Labels: toolchain

#4870 Eliminate NodeLocConverter
  toolchain/check/BUILD
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/diagnostic_helpers.h
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/check/sem_ir_diagnostic_converter.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/BUILD
  toolchain/parse/context.h
  toolchain/parse/tree_and_subtrees.cpp
  toolchain/parse/tree_and_subtrees.h
  toolchain/parse/tree_node_diagnostic_converter.h
Labels: toolchain

#4871 Refactor diagnostic_emitter.h
  toolchain/check/sem_ir_diagnostic_converter.h
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/diagnostic_converter.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/parse/context.h
Labels: toolchain

#4875 Check explicit params exist.
  toolchain/check/name_component.cpp
Labels: toolchain
