Repository carbon-language/carbon-lang, pull requests merged in 2025-10, with the labels that each got.

#6153 Add CODEOWNERS for review assignment
  .github/workflows/auto_assign_prs.yaml
  CODEOWNERS
  docs/project/code_review.md
  proposals/p1367.md
Labels: infrastructure

#6154 Add some autoassigner notes
  docs/project/code_review.md
Labels: documentation

#6149 Add tests for returning a C++ reference type, rvalue and const reference
  toolchain/check/testdata/interop/cpp/function/reference.carbon
Labels: toolchain

#6151 Fix a crash caused by a bug introduced in C++ overloads support in `GetScopeIdOffset()`
  toolchain/check/testdata/interop/cpp/builtins.carbon
  toolchain/check/testdata/interop/cpp/class/access.carbon
  toolchain/check/testdata/interop/cpp/class/base.carbon
  toolchain/check/testdata/interop/cpp/class/class.carbon
  toolchain/check/testdata/interop/cpp/class/constructor.carbon
  toolchain/check/testdata/interop/cpp/class/method.carbon
  toolchain/check/testdata/interop/cpp/class/struct.carbon
  toolchain/check/testdata/interop/cpp/class/template.carbon
  toolchain/check/testdata/interop/cpp/class/union.carbon
  toolchain/check/testdata/interop/cpp/cpp_namespace.carbon
  toolchain/check/testdata/interop/cpp/enum/anonymous.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_direct.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/decayed_param.carbon
  toolchain/check/testdata/interop/cpp/function/default_arg.carbon
  toolchain/check/testdata/interop/cpp/function/full_semir.carbon
  toolchain/check/testdata/interop/cpp/function/function.carbon
  toolchain/check/testdata/interop/cpp/function/in_template.carbon
  toolchain/check/testdata/interop/cpp/function/inline.carbon
  toolchain/check/testdata/interop/cpp/function/multiple_too_few_args_calls.carbon
  toolchain/check/testdata/interop/cpp/function/operators.carbon
  toolchain/check/testdata/interop/cpp/function/overloads.carbon
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
  toolchain/check/testdata/interop/cpp/function/qualified_param.carbon
  toolchain/check/testdata/interop/cpp/function/reference.carbon
  toolchain/check/testdata/interop/cpp/function/return.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/check/testdata/interop/cpp/inline.carbon
  toolchain/check/testdata/interop/cpp/namespace.carbon
  toolchain/check/testdata/interop/cpp/stdlib/string_view.carbon
  toolchain/sem_ir/inst_namer.cpp
Labels: toolchain

#6119 Find the builtin TypeCanAggregateDestroy in the FacetType for facet values
  toolchain/check/convert.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/builtins/type/can_destroy.carbon
Labels: toolchain

#6158 Deduce arguments against the canonical facet value
  toolchain/check/deduce.cpp
  toolchain/check/testdata/facet/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/facet/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/generic/template/unimplemented.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/interface/fail_assoc_const_alias.carbon
Labels: toolchain
