Repository carbon-language/carbon-lang, pull requests merged in 2025-05, with the labels that each got.

#5390 Generate thunks for functions in `impl`s
  toolchain/check/BUILD
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl.h
  toolchain/check/inst.h
  toolchain/check/pattern.cpp
  toolchain/check/pattern.h
  toolchain/check/pattern_match.cpp
  toolchain/check/pointer_dereference.cpp
  toolchain/check/pointer_dereference.h
  toolchain/check/return.cpp
  toolchain/check/return.h
  toolchain/check/subpattern.cpp
  toolchain/check/testdata/impl/fail_call_invalid.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/fail_self_type_mismatch.carbon
  toolchain/check/testdata/impl/no_prelude/impl_thunk.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/thunk.cpp
  toolchain/check/thunk.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/block_value_store.h
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5404 Don't require a thunk for parameter name differences.
  toolchain/check/merge.cpp
  toolchain/check/testdata/impl/no_prelude/impl_thunk.carbon
Labels: toolchain

#5391 Move the logic in `TryConvertClangDiagnosticLoc()` to `ConvertLocInFile()`
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/diagnostic_emitter.h
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/absolute_node_id.cpp
  toolchain/sem_ir/absolute_node_id.h
  toolchain/sem_ir/ids.h
Labels: toolchain

#5407 Set ASAN_SYMBOLIZER_PATH in addition to LLVM_SYMBOLIZER_PATH
  bazel/cc_toolchains/defs.bzl
Labels: infrastructure

#5410 Restore disabled CHECK in pattern handling.
  toolchain/check/pattern.cpp
Labels: toolchain

#5399 Consolidate token-related range handling to one struct
  toolchain/lex/lex.cpp
  toolchain/lex/testdata/dump_sem_ir_range.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/tree_and_subtrees.cpp
  toolchain/parse/tree_and_subtrees.h
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#5408 Cache multi-IR info, particularly include_in_dumps
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/language_server/context.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
Labels: toolchain

#5415 Update LLVM version
  MODULE.bazel
  toolchain/check/import_cpp.cpp
Labels: infrastructure, toolchain

#5168 Forward `impl` declaration of an incomplete interface
  proposals/p5168.md
Labels: proposal, proposal rfc

#5419 Add tests for where you can or can't write a final impl
  toolchain/check/testdata/impl/lookup/min_prelude/final_placement.carbon
Labels: toolchain

#5416 Add test for impl lookup on struct types with different field names and orders
  toolchain/check/testdata/impl/lookup/min_prelude/struct.carbon
Labels: toolchain

#5418 Don't use `GetCanonicalLocId` when determining what instruction an instruction was imported from.
  toolchain/check/check_unit.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/impl/no_prelude/import_thunk.carbon
  toolchain/sem_ir/formatter.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/import_ir.cpp
  toolchain/sem_ir/inst.h
Labels: toolchain

#5421 Avoid unused case variable
  toolchain/check/type_structure.cpp
Labels: toolchain

#5423 Do a stable sort when splitting up impls by interface
  toolchain/check/check_unit.cpp
Labels: toolchain

#5424 Add mangling support for thunks.
  toolchain/check/import_ref.cpp
  toolchain/check/thunk.cpp
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/impl/import_thunk.carbon
  toolchain/lower/testdata/impl/thunk.carbon
  toolchain/sem_ir/function.h
Labels: toolchain

#5425 Clean up `KeywordModifierSet` after #5345
  toolchain/check/keyword_modifier_set.h
Labels: toolchain

#5429 Print ubsan stack traces
  .bazelrc
  bazel/cc_toolchains/defs.bzl
Labels: infrastructure

#5432 Fix debug location for variable allocas and lifetime markers.
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/basics/numeric_literals.carbon
  toolchain/lower/testdata/builtins/no_prelude/types.carbon
  toolchain/lower/testdata/class/basic.carbon
  toolchain/lower/testdata/class/field.carbon
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/lower/testdata/function/generic/call.carbon
  toolchain/lower/testdata/function/generic/call_basic.carbon
  toolchain/lower/testdata/function/generic/call_basic_depth.carbon
  toolchain/lower/testdata/function/generic/call_dedup_ptr.carbon
  toolchain/lower/testdata/function/generic/call_method.carbon
  toolchain/lower/testdata/function/generic/call_recursive_basic.carbon
  toolchain/lower/testdata/function/generic/call_recursive_diamond.carbon
  toolchain/lower/testdata/function/generic/call_recursive_mutual.carbon
  toolchain/lower/testdata/function/generic/call_recursive_sccs_deep.carbon
  toolchain/lower/testdata/function/generic/call_specific_in_class.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
  toolchain/lower/testdata/let/tuple.carbon
  toolchain/lower/testdata/operators/assignment.carbon
  toolchain/lower/testdata/pointer/pointer_to_pointer.carbon
  toolchain/lower/testdata/struct/empty.carbon
  toolchain/lower/testdata/struct/member_access.carbon
  toolchain/lower/testdata/struct/one_entry.carbon
  toolchain/lower/testdata/struct/two_entries.carbon
  toolchain/lower/testdata/tuple/access/element_access.carbon
  toolchain/lower/testdata/tuple/empty.carbon
  toolchain/lower/testdata/tuple/one_entry.carbon
  toolchain/lower/testdata/tuple/two_entries.carbon
  toolchain/lower/testdata/tuple/value_formation.carbon
  toolchain/lower/testdata/var/nested.carbon
Labels: toolchain

#5366 The name of an `impl` in `class` scope
  proposals/p5366.md
Labels: proposal, proposal rfc

#5443 Remove `needs_substitution` logic
  toolchain/check/deduce.cpp
  toolchain/check/testdata/deduce/min_prelude/binding_pattern.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
Labels: toolchain

#5403 Defer building thunks until the end of the enclosing definition.
  common/BUILD
  common/array_stack.h
  common/move_only.h
  toolchain/check/BUILD
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/deferred_definition_scope.h
  toolchain/check/deferred_definition_worklist.cpp
  toolchain/check/deferred_definition_worklist.h
  toolchain/check/function.h
  toolchain/check/handle.h
  toolchain/check/handle_function.cpp
  toolchain/check/node_id_traversal.cpp
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/min_prelude/impl_thunk.carbon
  toolchain/check/testdata/impl/no_prelude/impl_thunk.carbon
  toolchain/check/thunk.cpp
  toolchain/check/thunk.h
Labels: toolchain

#5428 Fix handling of null StringRef file buffers
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/tree_test.cpp
  toolchain/testing/compile_helper.cpp
Labels: toolchain

#5442 Make the `file_test` binary work without custom environment variables.
  testing/base/file_helpers.cpp
  testing/base/file_helpers.h
  testing/file_test/BUILD
  testing/file_test/autoupdate.cpp
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/run_test.cpp
  toolchain/driver/driver_test.cpp
  toolchain/testing/file_test.cpp
Labels: toolchain

#5444 Don't crash if a builtin fn is declared with positional parameters.
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/function/builtin/positional.carbon
Labels: toolchain

#5445 Update to bazel 8.2.1
  .bazelrc
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  bazel/check_deps/check_non_test_cc_deps.py
  common/BUILD
  testing/file_test/rules.bzl
  toolchain/driver/BUILD
Labels: infrastructure, toolchain

#5392 [Carbon/C++ interop] Add more tests for `int` function params support
  toolchain/check/testdata/interop/cpp/function_decl.carbon
Labels: toolchain

#5446 Update tool versions beyond just bazel
  .pre-commit-config.yaml
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  common/check_test.cpp
  common/set_test.cpp
  scripts/scripts_utils.py
  toolchain/check/eval.cpp
  toolchain/lex/lex.cpp
  toolchain/parse/handle.h
  toolchain/sem_ir/inst.h
Labels: infrastructure, toolchain

#5430 Pull type iteration out into a TypeIterator, build the TypeStructureBuilder on it
  toolchain/check/BUILD
  toolchain/check/testdata/impl/lookup/min_prelude/specialization_poison.carbon
  toolchain/check/testdata/impl/lookup/overlap_with_non_types.carbon
  toolchain/check/type_structure.cpp
  toolchain/check/type_structure.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/type_iterator.cpp
  toolchain/sem_ir/type_iterator.h
Labels: toolchain

#5431 Include concrete non-type values in the type structure and use for impl candidate selection
  toolchain/check/testdata/facet/min_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/type_structure.cpp
  toolchain/check/type_structure.h
  toolchain/sem_ir/type_iterator.cpp
  toolchain/sem_ir/type_iterator.h
Labels: toolchain

#5447 Don't CHECK-fail when emitting IR with cross-file locations.
  toolchain/lower/function_context.cpp
  toolchain/lower/testdata/impl/import_thunk.carbon
Labels: toolchain

#5438 Add build option `--features=poison_value_stores`.
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  toolchain/base/value_store.h
  toolchain/check/convert.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import_ref.cpp
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/impl.h
Labels: infrastructure, toolchain

#5393 [Carbon/C++ interop] Add support for C++ type short
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/function_decl.carbon
Labels: toolchain

#5406 Add C++ interop inline function tests
  toolchain/check/testdata/interop/cpp/no_prelude/function_decl_inline.carbon
  toolchain/lower/testdata/interop/cpp/function_decl.carbon
Labels: toolchain

#5452 Convert discarded calls in thunks.
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/thunk.cpp
Labels: toolchain

#5456 Don't reuse the reference into the ImplStore after doing deduce
  toolchain/check/handle_impl.cpp
Labels: toolchain

#5450 Add --dump-sem-ir-ranges for controlling dump output
  toolchain/check/testdata/basics/no_prelude/dump_sem_ir_ranges.carbon
  toolchain/check/testdata/basics/no_prelude/dump_sem_ir_ranges_ignore.carbon
  toolchain/check/testdata/basics/no_prelude/dump_sem_ir_ranges_only.carbon
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
Labels: toolchain

#5440 Bump clang version to 19
  .github/actions/build-setup-common/action.yml
  .github/actions/build-setup-macos/action.yml
  .github/actions/build-setup-ubuntu/action.yml
  .github/workflows/clang_tidy.yaml
  .github/workflows/nightly_release.yaml
  .github/workflows/pre_commit.yaml
  .github/workflows/tests.yaml
  common/ostream.h
  docs/project/contribution_tools.md
Labels: infrastructure

#5454 Have FormatScopeIfUsed consider ranges before printing
  toolchain/check/testdata/basics/no_prelude/dump_sem_ir_ranges.carbon
  toolchain/check/testdata/basics/no_prelude/dump_sem_ir_ranges_only.carbon
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#5458 Switch clang-tidy config comment format
  .clang-tidy
Labels: infrastructure

#5459 Require clang 19 in bazel
  MODULE.bazel.lock
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  bazel/cc_toolchains/clang_configuration.bzl
Labels: infrastructure

#5433 Allow using CARBON_KIND_SWITCH on a std::variant
  toolchain/base/BUILD
  toolchain/base/for_each_macro.h
  toolchain/base/kind_switch.h
  toolchain/base/kind_switch_test.cpp
  toolchain/check/BUILD
  toolchain/check/type_structure.cpp
Labels: toolchain

#5460 Remove old clang-format workaround for attr on enum
  toolchain/sem_ir/id_kind.h
Labels: toolchain

#5461 Preserve the `is_final` bit when importing an `impl` declaration
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/impl/lookup/min_prelude/final_placement.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/import_final.carbon
Labels: toolchain

#5437 Remove VariantMatch; use CARBON_KIND_SWITCH for std::variants
  common/BUILD
  common/variant_helpers.h
  toolchain/base/kind_switch.h
  toolchain/check/BUILD
  toolchain/check/deferred_definition_worklist.cpp
  toolchain/lex/BUILD
  toolchain/lex/lex.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/stringify.cpp
Labels: toolchain

#5453 Flatten TypeIterator::Step::Any to not use nested variants
  toolchain/base/kind_switch.h
  toolchain/check/type_structure.cpp
  toolchain/sem_ir/type_iterator.cpp
  toolchain/sem_ir/type_iterator.h
Labels: toolchain

#5463 Pin the version of prettier used by pre-commit
  .pre-commit-config.yaml
Labels: infrastructure

#5464 Switch BuildData to char arrays
  common/BUILD
  common/build_data.cpp
  common/build_data.h
  common/build_data_linkstamp.cpp
  common/build_data_linkstamp.h
Labels: toolchain

#5469 Make `patterns/min_prelude/underscore.carbon` into a min_prelude test
  toolchain/check/testdata/patterns/min_prelude/underscore.carbon
Labels: toolchain

#5470 Clean up bazel config comment change made in #5459
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Labels: infrastructure

#5457 Refactor `toolchain/check/testdata/interop/cpp/function_decl.carbon`
  toolchain/check/testdata/interop/cpp/function_decl.carbon
  toolchain/check/testdata/interop/cpp/function_param_int16.carbon
  toolchain/check/testdata/interop/cpp/function_param_int32.carbon
  toolchain/check/testdata/interop/cpp/function_param_unsupported.carbon
  toolchain/check/testdata/interop/cpp/function_return.carbon
Labels: toolchain

#5479 Revert to Ubuntu 22 builders
  .github/actions/build-setup-ubuntu/action.yml
  .github/workflows/clang_tidy.yaml
  .github/workflows/nightly_release.yaml
  .github/workflows/pre_commit.yaml
  .github/workflows/tests.yaml
Labels: infrastructure

#5481 Substitute into the type of BindSymbolicName or SymbolicBindingPattern
  toolchain/check/subst.cpp
  toolchain/check/testdata/impl/lookup/min_prelude/lookup_interface_with_enclosing_generic_inside_rewrite_constraint.carbon
Labels: toolchain

#5485 Gracefully error in non-compound member lookup into a runtime facet value
  toolchain/check/member_access.cpp
  toolchain/check/testdata/facet/min_prelude/runtime_value.carbon
Labels: toolchain

#5488 Update the test comment explaining the fix for #5481
  toolchain/check/testdata/impl/lookup/min_prelude/lookup_interface_with_enclosing_generic_inside_rewrite_constraint.carbon
Labels: toolchain

#5487 Update LLVM
  MODULE.bazel
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/lower/testdata/function/call/tuple_param_with_return_slot.carbon
  toolchain/lower/testdata/global/simple_init.carbon
  toolchain/lower/testdata/global/simple_with_fun.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
  toolchain/lower/testdata/let/tuple.carbon
  toolchain/lower/testdata/operators/overloaded.carbon
  toolchain/lower/testdata/struct/member_access.carbon
  toolchain/lower/testdata/struct/two_entries.carbon
  toolchain/lower/testdata/tuple/access/element_access.carbon
  toolchain/lower/testdata/tuple/one_entry.carbon
  toolchain/lower/testdata/tuple/two_entries.carbon
  toolchain/lower/testdata/var/nested.carbon
Labels: infrastructure, toolchain

#5493 Get type in specific when lowering certain instructions.
  toolchain/lower/handle_expr_category.cpp
  toolchain/lower/testdata/function/generic/call_deref_ptr.carbon
Labels: toolchain

#5474 Adjust formatting of blocks and scopes
  toolchain/check/testdata/alias/fail_control_flow.carbon
  toolchain/check/testdata/basics/no_prelude/dump_sem_ir_ranges.carbon
  toolchain/check/testdata/basics/no_prelude/dump_sem_ir_ranges_only.carbon
  toolchain/check/testdata/basics/type_literals.carbon
  toolchain/check/testdata/class/fail_base_as_declared_name.carbon
  toolchain/check/testdata/class/fail_self_type_member.carbon
  toolchain/check/testdata/class/no_prelude/comp_time_field.carbon
  toolchain/check/testdata/facet/min_prelude/access.carbon
  toolchain/check/testdata/facet/min_prelude/runtime_value.carbon
  toolchain/check/testdata/function/declaration/no_prelude/extern_library.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_todo_no_params.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_not_binding.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/check/testdata/packages/no_prelude/export_import.carbon
  toolchain/check/testdata/packages/no_prelude/missing_prelude.carbon
  toolchain/check/testdata/patterns/min_prelude/underscore.carbon
  toolchain/check/testdata/struct/fail_keyword_name.carbon
  toolchain/check/testdata/tuple/min_prelude/tuple_pattern.carbon
  toolchain/check/testdata/var/fail_todo_control_flow_init.carbon
  toolchain/check/testdata/var/min_prelude/var_pattern.carbon
  toolchain/check/testdata/var/no_prelude/fail_generic.carbon
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
Labels: toolchain

#5455 Update tests of alias for ranges, splits, and min_prelude
  toolchain/check/testdata/alias/builtins.carbon
  toolchain/check/testdata/alias/fail_bool_value.carbon
  toolchain/check/testdata/alias/fail_builtins.carbon
  toolchain/check/testdata/alias/fail_control_flow.carbon
  toolchain/check/testdata/alias/min_prelude/local.carbon
  toolchain/check/testdata/alias/no_prelude/alias_of_alias.carbon
  toolchain/check/testdata/alias/no_prelude/basics.carbon
  toolchain/check/testdata/alias/no_prelude/export_name.carbon
  toolchain/check/testdata/alias/no_prelude/fail_aliased_name_in_diag.carbon
  toolchain/check/testdata/alias/no_prelude/fail_local_in_namespace.carbon
  toolchain/check/testdata/alias/no_prelude/fail_modifiers.carbon
  toolchain/check/testdata/alias/no_prelude/fail_name_conflict.carbon
  toolchain/check/testdata/alias/no_prelude/fail_not_constant.carbon
  toolchain/check/testdata/alias/no_prelude/fail_params.carbon
  toolchain/check/testdata/alias/no_prelude/import.carbon
  toolchain/check/testdata/alias/no_prelude/import_access.carbon
  toolchain/check/testdata/alias/no_prelude/import_order.carbon
  toolchain/check/testdata/alias/no_prelude/in_namespace.carbon
  toolchain/check/testdata/alias/no_prelude/preserve_in_type_printing.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
Labels: toolchain

#5478 Improve `toolchain/check/testdata/interop/cpp/no_prelude/namespace.carbon`
  toolchain/check/testdata/interop/cpp/no_prelude/namespace.carbon
Labels: toolchain

#5476 Rename `toolchain/check/testdata/interop/cpp/no_prelude/function_decl_inline.carbon` and its shard files to simpler names
  toolchain/check/testdata/interop/cpp/no_prelude/function_inline.carbon
Labels: toolchain

#5499 Fix `speicifc` typo
  toolchain/sem_ir/absolute_node_id.h
Labels: toolchain

#5483 Use `GetWithAttachedType` consistently in import
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/generic/adapt.carbon
  toolchain/check/testdata/class/generic/base_is_generic.carbon
  toolchain/check/testdata/class/generic/import.carbon
Labels: toolchain

#5498 Reformat banner comments in `toolchain/check/testdata/interop/cpp/function_param_*.carbon` , following the agreed format in #5467
  toolchain/check/testdata/interop/cpp/function_param_int16.carbon
  toolchain/check/testdata/interop/cpp/function_param_int32.carbon
  toolchain/check/testdata/interop/cpp/function_param_unsupported.carbon
Labels: toolchain

#5497 Add section descriptions in `toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon` as agreed in #5467
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon
Labels: toolchain

#5500 Remove docker and devcontainer as unused
  .devcontainer/devcontainer.json
  docker/README.md
  docker/ubuntu2404/Dockerfile
  docker/ubuntu2404/base/Dockerfile
  docker/ubuntu2404/github/Dockerfile
  docs/project/contribution_tools.md
Labels: infrastructure

#5477 Refactor `toolchain/check/testdata/interop/cpp/no_prelude/function_decl.carbon`
  toolchain/check/testdata/interop/cpp/no_prelude/function.carbon
Labels: toolchain

#5504 Better diagnostic message in CHECK
  toolchain/check/pattern_match.cpp
Labels: toolchain

#5164 Updates to pattern matching for objects
  docs/design/pattern_matching.md
  docs/design/values.md
  proposals/p5164.md
Labels: proposal, proposal rfc, documentation

#5337 Interface extension and `final impl` update
  proposals/p5337.md
Labels: proposal, proposal rfc

#5491 Use TypeEnum for ScopeId to refactor call structure
  common/BUILD
  common/type_enum.h
  toolchain/base/kind_switch.h
  toolchain/check/eval.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/formatter.h
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/inst_namer.h
Labels: toolchain

#5494 Restructure FormatInstRhs to allow for better logic sharing
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
Labels: toolchain

#5427 Add support for importing C++ inline functions
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/import_cpp.cpp
  toolchain/check/import_cpp.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/language_server/BUILD
  toolchain/language_server/context.cpp
  toolchain/lower/BUILD
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/lower.cpp
  toolchain/lower/lower.h
  toolchain/lower/testdata/interop/cpp/function_decl.carbon
  toolchain/sem_ir/function.h
Labels: toolchain

#5505 Unwrap FormatInst templating
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
Labels: toolchain

#5507 Update array tests for ranges, splits, and min_prelude
  toolchain/check/testdata/array/array_in_place.carbon
  toolchain/check/testdata/array/array_vs_tuple.carbon
  toolchain/check/testdata/array/assign_return_value.carbon
  toolchain/check/testdata/array/assign_var.carbon
  toolchain/check/testdata/array/base.carbon
  toolchain/check/testdata/array/bound_values.carbon
  toolchain/check/testdata/array/canonicalize_index.carbon
  toolchain/check/testdata/array/fail_bound_negative.carbon
  toolchain/check/testdata/array/fail_bound_overflow.carbon
  toolchain/check/testdata/array/fail_incomplete_element.carbon
  toolchain/check/testdata/array/fail_invalid_type.carbon
  toolchain/check/testdata/array/fail_out_of_bound.carbon
  toolchain/check/testdata/array/fail_out_of_bound_non_literal.carbon
  toolchain/check/testdata/array/fail_type_mismatch.carbon
  toolchain/check/testdata/array/function_param.carbon
  toolchain/check/testdata/array/generic_empty.carbon
  toolchain/check/testdata/array/import.carbon
  toolchain/check/testdata/array/index_not_literal.carbon
  toolchain/check/testdata/array/init_dependent_bound.carbon
  toolchain/check/testdata/array/nine_elements.carbon
  toolchain/check/testdata/array/no_prelude/basics.carbon
  toolchain/check/testdata/array/no_prelude/element_mismatches.carbon
Labels: toolchain

#5508 Update `as` tests for ranges, splits, and min_prelude
  toolchain/check/testdata/as/adapter_conversion.carbon
  toolchain/check/testdata/as/as_type.carbon
  toolchain/check/testdata/as/basic.carbon
  toolchain/check/testdata/as/fail_no_conversion.carbon
  toolchain/check/testdata/as/fail_not_type.carbon
  toolchain/check/testdata/as/identity.carbon
  toolchain/check/testdata/as/min_prelude/basics.carbon
  toolchain/check/testdata/as/min_prelude/tuple.carbon
  toolchain/check/testdata/as/overloaded.carbon
Labels: toolchain

#5515 Deduplicate getting the function in `HandleInst()` for `Call`
  toolchain/lower/handle_call.cpp
Labels: toolchain

#5516 Change range formatting to be more conservative about specifics
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#5518 Add missing `library` in destroy_calls.carbon test file split
  toolchain/check/testdata/class/min_prelude/destroy_calls.carbon
Labels: toolchain

#5519 Give different inst id types different labels in CARBON_CHECK output
  toolchain/sem_ir/ids.h
Labels: toolchain

#5520 Stop emitting `llvm.ident` metadata saying the compiler was Clang.
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/interop/cpp/function_decl.carbon
Labels: toolchain

#5420 Add diagnostics for invalid impl declarations
  toolchain/check/BUILD
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/impl_lookup.cpp
  toolchain/check/impl_validation.cpp
  toolchain/check/impl_validation.h
  toolchain/check/testdata/impl/lookup/min_prelude/final_placement.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/impl_cycle.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/impl_overlap.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/specialization_poison.carbon
  toolchain/check/testdata/impl/min_prelude/generic_redeclaration.carbon
  toolchain/check/type_structure.cpp
  toolchain/check/type_structure.h
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#5521 Force -fPIE for compiles
  toolchain/check/import_cpp.cpp
  toolchain/lower/testdata/interop/cpp/function_decl.carbon
  toolchain/testing/file_test.cpp
Labels: toolchain

#5503 Refactor CollectNamesInBlock to put the switch on its own
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/inst_namer.h
Labels: toolchain

#5525 Update choice tests for ranges
  toolchain/check/testdata/choice/basic.carbon
  toolchain/check/testdata/choice/fail_invalid.carbon
  toolchain/check/testdata/choice/fail_todo_params.carbon
  toolchain/check/testdata/choice/generic.carbon
  toolchain/check/testdata/choice/params.carbon
Labels: toolchain

#5517 Avoid resolving the decl block for specifics in imported instructions
  toolchain/check/BUILD
  toolchain/check/eval.cpp
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/testdata/impl/no_prelude/import_builtin_call.carbon
Labels: toolchain

#5527 Fix crash on 'destroy' with return type and no params
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/class/min_prelude/destroy_decl.carbon
Labels: toolchain

#5541 Use C++ trailing return type in `toolchain/check/testdata/interop/cpp/no_prelude/function.carbon`
  toolchain/check/testdata/interop/cpp/no_prelude/function.carbon
Labels: toolchain

#5532 Update const tests for splits, preludes, and ranges
  toolchain/check/testdata/const/basic.carbon
  toolchain/check/testdata/const/collapse.carbon
  toolchain/check/testdata/const/fail_collapse.carbon
  toolchain/check/testdata/const/import.carbon
  toolchain/check/testdata/const/min_prelude/basics.carbon
  toolchain/check/testdata/const/no_prelude/import.carbon
Labels: toolchain

#5535 Make `MatchContext::WorkItem`, `CalleeFunction`, `InitRepr`, `ReturnTypeInfo` `Printable`
  toolchain/check/pattern_match.cpp
  toolchain/sem_ir/class.h
  toolchain/sem_ir/function.h
  toolchain/sem_ir/type_info.h
Labels: toolchain

#5542 Don't wrap an ErrorInst as a subpattern of another pattern
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/testdata/var/min_prelude/var_pattern.carbon
  toolchain/check/testdata/var/no_prelude/fail_in_interface.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#5510 Move the ir test
  toolchain/check/testdata/basics/no_prelude/duplicate_name_same_line.carbon
  toolchain/check/testdata/ir/duplicate_name_same_line.carbon
Labels: toolchain

#5486 Add missing standard library header inclusions
  common/check_test.cpp
  common/command_line_test.cpp
  common/struct_reflection_test.cpp
  common/template_string_test.cpp
  toolchain/check/check_unit.cpp
  toolchain/check/generic.cpp
  toolchain/check/thunk.cpp
  toolchain/sem_ir/import_ir.cpp
Labels: toolchain

#5557 Add range flag settings to facet files
  toolchain/check/testdata/facet/min_prelude/access.carbon
  toolchain/check/testdata/facet/min_prelude/call_combined_impl_witness.carbon
  toolchain/check/testdata/facet/min_prelude/combine.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_type_to_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_value_to_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_type_to_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_as_type_knows_original_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_itself.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_itself.carbon
  toolchain/check/testdata/facet/min_prelude/convert_interface.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_facet_value_to_missing_impl.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_type_erased_type_to_facet.carbon
  toolchain/check/testdata/facet/min_prelude/fail_deduction_uses_runtime_type_conversion.carbon
  toolchain/check/testdata/facet/min_prelude/fail_incomplete.carbon
  toolchain/check/testdata/facet/min_prelude/fail_namespace_type.carbon
  toolchain/check/testdata/facet/min_prelude/tuple_and_struct_type_literal.carbon
Labels: toolchain

#5562 Add range flag settings to if_expr files
  toolchain/check/testdata/if_expr/basic.carbon
  toolchain/check/testdata/if_expr/constant_condition.carbon
  toolchain/check/testdata/if_expr/control_flow.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/if_expr/fail_partial_constant.carbon
  toolchain/check/testdata/if_expr/nested.carbon
  toolchain/check/testdata/if_expr/struct.carbon
Labels: toolchain

#5564 Add range flag settings to interop files
  toolchain/check/testdata/interop/cpp/function_param_int16.carbon
  toolchain/check/testdata/interop/cpp/function_param_int32.carbon
  toolchain/check/testdata/interop/cpp/function_param_unsupported.carbon
  toolchain/check/testdata/interop/cpp/function_return.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/bad_import.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/class.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_namespace.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/file_not_found.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function_inline.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/include.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/multiple_imports.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/namespace.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/struct.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/union.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/unsupported_decl_type.carbon
Labels: toolchain

#5550 Update while tests, adding a bool min_prelude
  toolchain/check/testdata/while/break_continue.carbon
  toolchain/check/testdata/while/fail_bad_condition.carbon
  toolchain/check/testdata/while/fail_break_continue.carbon
  toolchain/check/testdata/while/min_prelude/while.carbon
  toolchain/check/testdata/while/unreachable_end.carbon
  toolchain/check/testdata/while/while.carbon
  toolchain/testing/min_prelude/bool.carbon
Labels: toolchain

#5575 Use `linkonce_odr` linkage for specific functions.
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/function/generic/call.carbon
  toolchain/lower/testdata/function/generic/call_basic.carbon
  toolchain/lower/testdata/function/generic/call_basic_depth.carbon
  toolchain/lower/testdata/function/generic/call_dedup_ptr.carbon
  toolchain/lower/testdata/function/generic/call_deref_ptr.carbon
  toolchain/lower/testdata/function/generic/call_different_associated_const.carbon
  toolchain/lower/testdata/function/generic/call_different_impls.carbon
  toolchain/lower/testdata/function/generic/call_impl_function.carbon
  toolchain/lower/testdata/function/generic/call_method.carbon
  toolchain/lower/testdata/function/generic/call_recursive_basic.carbon
  toolchain/lower/testdata/function/generic/call_recursive_diamond.carbon
  toolchain/lower/testdata/function/generic/call_recursive_impl.carbon
  toolchain/lower/testdata/function/generic/call_recursive_mutual.carbon
  toolchain/lower/testdata/function/generic/call_recursive_sccs_deep.carbon
  toolchain/lower/testdata/function/generic/call_specific_in_class.carbon
Labels: toolchain

#5530 Fix formatting of forward declared generics
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
Labels: toolchain

#5571 Add range flag settings to pointer files
  toolchain/check/testdata/pointer/address_of_deref.carbon
  toolchain/check/testdata/pointer/address_of_lvalue.carbon
  toolchain/check/testdata/pointer/arrow.carbon
  toolchain/check/testdata/pointer/basic.carbon
  toolchain/check/testdata/pointer/fail_address_of_error.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/check/testdata/pointer/fail_deref_error.carbon
  toolchain/check/testdata/pointer/fail_deref_function.carbon
  toolchain/check/testdata/pointer/fail_deref_namespace.carbon
  toolchain/check/testdata/pointer/fail_deref_not_pointer.carbon
  toolchain/check/testdata/pointer/fail_deref_type.carbon
  toolchain/check/testdata/pointer/fail_type_mismatch.carbon
  toolchain/check/testdata/pointer/import.carbon
  toolchain/check/testdata/pointer/nested_const.carbon
  toolchain/check/testdata/pointer/types.carbon
Labels: toolchain

#5572 Add range flag settings to return files
  toolchain/check/testdata/return/code_after_return.carbon
  toolchain/check/testdata/return/code_after_return_value.carbon
  toolchain/check/testdata/return/fail_call_in_type.carbon
  toolchain/check/testdata/return/fail_error_in_type.carbon
  toolchain/check/testdata/return/fail_let_in_type.carbon
  toolchain/check/testdata/return/fail_missing_return.carbon
  toolchain/check/testdata/return/fail_missing_return_empty_tuple.carbon
  toolchain/check/testdata/return/fail_return_var_no_returned_var.carbon
  toolchain/check/testdata/return/fail_return_with_returned_var.carbon
  toolchain/check/testdata/return/fail_returned_var_no_return_type.carbon
  toolchain/check/testdata/return/fail_returned_var_shadow.carbon
  toolchain/check/testdata/return/fail_returned_var_type.carbon
  toolchain/check/testdata/return/fail_type_mismatch.carbon
  toolchain/check/testdata/return/fail_value_disallowed.carbon
  toolchain/check/testdata/return/fail_value_missing.carbon
  toolchain/check/testdata/return/fail_var_in_type.carbon
  toolchain/check/testdata/return/min_prelude/import_convert_function.carbon
  toolchain/check/testdata/return/missing_return_no_return_type.carbon
  toolchain/check/testdata/return/no_value.carbon
  toolchain/check/testdata/return/returned_var.carbon
  toolchain/check/testdata/return/returned_var_scope.carbon
  toolchain/check/testdata/return/struct.carbon
  toolchain/check/testdata/return/tuple.carbon
  toolchain/check/testdata/return/value.carbon
Labels: toolchain

#5574 Add range flag settings to var files
  toolchain/check/testdata/var/fail_not_copyable.carbon
  toolchain/check/testdata/var/fail_storage_is_literal.carbon
  toolchain/check/testdata/var/fail_todo_control_flow_init.carbon
  toolchain/check/testdata/var/min_prelude/decl.carbon
  toolchain/check/testdata/var/min_prelude/decl_with_init.carbon
  toolchain/check/testdata/var/min_prelude/fail_duplicate_decl.carbon
  toolchain/check/testdata/var/min_prelude/fail_init_with_self.carbon
  toolchain/check/testdata/var/min_prelude/fail_lookup_outside_scope.carbon
  toolchain/check/testdata/var/min_prelude/global_lookup_in_scope.carbon
  toolchain/check/testdata/var/min_prelude/lookup.carbon
  toolchain/check/testdata/var/min_prelude/shadowing.carbon
  toolchain/check/testdata/var/min_prelude/var_pattern.carbon
  toolchain/check/testdata/var/no_prelude/export_name.carbon
  toolchain/check/testdata/var/no_prelude/fail_generic.carbon
  toolchain/check/testdata/var/no_prelude/fail_init_type_mismatch.carbon
  toolchain/check/testdata/var/no_prelude/fail_modifiers.carbon
  toolchain/check/testdata/var/no_prelude/fail_namespace_conflict.carbon
  toolchain/check/testdata/var/no_prelude/global_decl.carbon
  toolchain/check/testdata/var/no_prelude/global_decl_with_init.carbon
  toolchain/check/testdata/var/no_prelude/global_lookup.carbon
  toolchain/check/testdata/var/no_prelude/import.carbon
  toolchain/check/testdata/var/no_prelude/import_access.carbon
Labels: toolchain

#5314 Prototype for coalescing equivalent specifics of the same generic.
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/handle_call.cpp
  toolchain/lower/handle_expr_category.cpp
  toolchain/lower/testdata/function/generic/call.carbon
  toolchain/lower/testdata/function/generic/call_basic.carbon
  toolchain/lower/testdata/function/generic/call_dedup_ptr.carbon
  toolchain/lower/testdata/function/generic/call_different_impls_with_const.carbon
  toolchain/lower/testdata/function/generic/call_recursive_basic.carbon
  toolchain/lower/testdata/function/generic/call_recursive_diamond.carbon
  toolchain/lower/testdata/function/generic/call_recursive_mutual.carbon
  toolchain/lower/testdata/function/generic/call_recursive_reorder.carbon
  toolchain/lower/testdata/function/generic/call_recursive_reorder_more.carbon
  toolchain/lower/testdata/function/generic/call_recursive_sccs_deep.carbon
  toolchain/lower/testdata/function/generic/call_specific_in_class.carbon
Labels: toolchain

#5577 Use concat in formatter
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#5567 Add range flag settings to operators files
  toolchain/check/testdata/operators/builtin/and.carbon
  toolchain/check/testdata/operators/builtin/assignment.carbon
  toolchain/check/testdata/operators/builtin/bit_and.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_partial_constant.carbon
  toolchain/check/testdata/operators/builtin/fail_assignment_to_error.carbon
  toolchain/check/testdata/operators/builtin/fail_assignment_to_non_assignable.carbon
  toolchain/check/testdata/operators/builtin/fail_redundant_compound_access.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_assignment.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_once.carbon
  toolchain/check/testdata/operators/builtin/fail_unimplemented_op.carbon
  toolchain/check/testdata/operators/builtin/or.carbon
  toolchain/check/testdata/operators/builtin/unary_op.carbon
  toolchain/check/testdata/operators/overloaded/add.carbon
  toolchain/check/testdata/operators/overloaded/binary_op.carbon.tmpl
  toolchain/check/testdata/operators/overloaded/bit_and.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/operators/overloaded/bit_or.carbon
  toolchain/check/testdata/operators/overloaded/bit_xor.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/div.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/check/testdata/operators/overloaded/fail_error_recovery.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/implicit_as.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/index.carbon
  toolchain/check/testdata/operators/overloaded/left_shift.carbon
  toolchain/check/testdata/operators/overloaded/mod.carbon
  toolchain/check/testdata/operators/overloaded/mul.carbon
  toolchain/check/testdata/operators/overloaded/negate.carbon
  toolchain/check/testdata/operators/overloaded/no_prelude/index.carbon
  toolchain/check/testdata/operators/overloaded/ordered.carbon
  toolchain/check/testdata/operators/overloaded/right_shift.carbon
  toolchain/check/testdata/operators/overloaded/sub.carbon
  toolchain/check/testdata/operators/overloaded/unary_op.carbon.tmpl
  toolchain/check/testdata/operators/overloaded/unary_stmt.carbon.tmpl
Labels: toolchain

#5580 Revert "Add FUZZING_BUILD_MODE_UNSAFE_FOR_PRODUCTION to fuzzer mode and enable DCHECKs under fuzzing (#5489)"
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  common/check.h
  common/raw_hashtable_metadata_group.h
Labels: infrastructure, toolchain

#5552 Update global tests
  toolchain/check/testdata/global/class_obj.carbon
  toolchain/check/testdata/global/class_with_fun.carbon
  toolchain/check/testdata/global/decl.carbon
  toolchain/check/testdata/global/no_prelude/basics.carbon
  toolchain/check/testdata/global/simple_init.carbon
  toolchain/check/testdata/global/simple_with_fun.carbon
Labels: toolchain

#5581 Add ranges flags in a smattering of files missed in other PRs
  toolchain/check/testdata/builtins/print/int.carbon
  toolchain/check/testdata/class/min_prelude/destroy_calls.carbon
  toolchain/check/testdata/class/min_prelude/fail_abstract.carbon
  toolchain/check/testdata/class/min_prelude/fail_abstract_in_tuple.carbon
  toolchain/check/testdata/function/call/min_prelude/alias.carbon
  toolchain/check/testdata/function/call/min_prelude/return_implicit.carbon
  toolchain/check/testdata/function/declaration/min_prelude/fail_import_incomplete_return.carbon
  toolchain/check/testdata/function/definition/min_prelude/fail_local_decl.carbon
  toolchain/check/testdata/function/generic/min_prelude/call.carbon
  toolchain/check/testdata/function/generic/min_prelude/fail_type_param_mismatch.carbon
  toolchain/check/testdata/function/generic/min_prelude/type_param.carbon
  toolchain/check/testdata/var/no_prelude/global_decl_import.carbon
Labels: toolchain

#5537 Test C++ structs as parameters and return types as declarations and definitions
  toolchain/check/testdata/interop/cpp/no_prelude/function/function.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function/inline.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function/struct.carbon
Labels: toolchain

#5584 Assert that non-`None` `NameScope`s import as non-`None`
  toolchain/check/import_ref.cpp
Labels: toolchain

#5579 Add range flag settings to deduce files
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/deduce/generic_type.carbon
  toolchain/check/testdata/deduce/int_float.carbon
  toolchain/check/testdata/deduce/min_prelude/binding_pattern.carbon
  toolchain/check/testdata/deduce/tuple.carbon
  toolchain/check/testdata/deduce/type_operator.carbon
  toolchain/check/testdata/deduce/value_with_type_through_access.carbon
Labels: toolchain

#5582 Add range flag settings to where_expr files
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/dot_self_index.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/check/testdata/where_expr/fail_not_facet.carbon
  toolchain/check/testdata/where_expr/min_prelude/dot_self_impls.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
Labels: toolchain

#5528 Try out a different IdKind table approach
  toolchain/check/eval.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
  toolchain/sem_ir/inst_fingerprinter.cpp
Labels: toolchain
