Repository carbon-language/carbon-lang, pull requests merged in 2025-08, with the labels that each got.

#5846 Document pattern-matching implementation
  docs/design/pattern_matching.md
  docs/design/variadics.md
  toolchain/docs/check/README.md
  toolchain/docs/check/pattern_matching.md
Labels: toolchain

#5893 Support lexing characters
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lex/BUILD
  toolchain/lex/lex.cpp
  toolchain/lex/string_literal.cpp
  toolchain/lex/string_literal.h
  toolchain/lex/string_literal_benchmark.cpp
  toolchain/lex/string_literal_fuzzer.cpp
  toolchain/lex/string_literal_test.cpp
  toolchain/lex/testdata/char_literals.carbon
  toolchain/lex/testdata/string_literals.carbon
  toolchain/lex/token_info.h
  toolchain/lex/token_kind.def
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
Labels: toolchain

#5886 Docs for specific coalescing.
  toolchain/docs/coalesce_generic_lowering.md
  toolchain/docs/lower.md
Labels: toolchain

#5892 More tests for early rewrite application and implied constraints
  toolchain/check/testdata/facet/early_rewrites.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
Labels: toolchain

#5909 Remove clang prefixes from isa/cast when optional
  toolchain/check/import_cpp.cpp
  toolchain/lower/constant.cpp
  toolchain/lower/mangler.cpp
Labels: toolchain

#5910 Don't use `Check::Context` when emitting C++ diagnostics.
  toolchain/check/import_cpp.cpp
Labels: toolchain

#5904 Support `import Cpp inline "some code";`.
  toolchain/check/check.cpp
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/handle_import_and_package.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/interop/cpp/bad_import.carbon
  toolchain/check/testdata/interop/cpp/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/inline.carbon
  toolchain/check/testdata/packages/fail_import_inline_not_cpp.carbon
  toolchain/check/testdata/packages/restricted_package_names.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lex/token_kind.def
  toolchain/lower/testdata/interop/cpp/import_inline.carbon
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/packages/import/cpp_inline.carbon
  toolchain/parse/tree.h
  toolchain/parse/typed_nodes.h
Labels: toolchain

#5850 Generate and use a C++ thunk to call non simple ABI C++ functions
  toolchain/check/BUILD
  toolchain/check/call.cpp
  toolchain/check/cpp_thunk.cpp
  toolchain/check/cpp_thunk.h
  toolchain/check/import_cpp.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_direct.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/full_semir.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/check/testdata/interop/cpp/import.carbon
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/interop/cpp/thunk.carbon
  toolchain/sem_ir/function.h
Labels: toolchain

#5918 Add a flag to dump the C++ AST
  testing/file_test/autoupdate.cpp
  testing/file_test/file_test_base.cpp
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/cpp_thunk.cpp
  toolchain/check/testdata/interop/cpp/function/full_semir.carbon
  toolchain/check/testdata/interop/cpp/function/thunk_ast.carbon
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/testing/file_test.cpp
Labels: toolchain

#5925 Simpler regex for a multi-line capture group
  scripts/lldbinit.py
Labels: infrastructure

#5926 Rename `cpp_ast` to `clang_ast_unit`
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/context.h
  toolchain/check/cpp_thunk.cpp
  toolchain/check/import_cpp.cpp
  toolchain/driver/compile_subcommand.cpp
  toolchain/language_server/context.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/sem_ir/diagnostic_loc_converter.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
Labels: toolchain

#5935 Don't require writing a return type on lambdas
  .clang-tidy
Labels: infrastructure

#5883 Compare ImplWitnessAccess into Self as canonical constants
  toolchain/check/context.h
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/facet_type.h
  toolchain/check/handle_where.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/deduce/binding_pattern.carbon
  toolchain/check/testdata/facet/access.carbon
  toolchain/check/testdata/facet/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/early_rewrites.carbon
  toolchain/check/testdata/facet/facet_assoc_const.carbon
  toolchain/check/testdata/facet/nested_facet_types.carbon
  toolchain/check/testdata/for/actual.carbon
  toolchain/check/testdata/for/pattern.carbon
  toolchain/check/testdata/generic/dot_self_symbolic_type.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/fail_impl_bad_interface.carbon
  toolchain/check/testdata/impl/fail_undefined_interface.carbon
  toolchain/check/testdata/impl/forward_decls.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
  toolchain/check/testdata/impl/impl_assoc_const_with_prelude.carbon
  toolchain/check/testdata/impl/import_interface_assoc_const.carbon
  toolchain/check/testdata/impl/lookup/lookup_interface_with_enclosing_generic_inside_rewrite_constraint.carbon
  toolchain/check/testdata/impl/lookup/specialization_with_symbolic_rewrite.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/interface/fail_assoc_const_alias.carbon
  toolchain/check/testdata/interface/fail_lookup_in_type_type.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/dot_self_index.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
  toolchain/check/type.cpp
  toolchain/check/type.h
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5912 Use canonical constant values as the keys for ImplWitnessAccess in AccessRewriteValues
  toolchain/check/facet_type.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
Labels: toolchain

#5938 Implement initialization for C++ thunk parameters.
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/cpp_thunk.cpp
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/full_semir.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/lower/testdata/interop/cpp/thunk.carbon
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5931 Create LoadedImportRefs for vtable entries with import insts instead of local insts
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
Labels: toolchain

#5942 Improve autoupdate diagnostic CHECK line positioning.
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate.h
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/line.h
  toolchain/check/testdata/basics/type_literals.carbon
  toolchain/check/testdata/function/generic/resolve_used.carbon
  toolchain/testing/BUILD
  toolchain/testing/file_test.cpp
Labels: toolchain

#5888 Introduce a custom filesystem library
  common/BUILD
  common/filesystem.cpp
  common/filesystem.h
  common/filesystem_benchmark.cpp
  common/filesystem_test.cpp
Labels: toolchain

#5905 Port //toolchain/install to new filesystem library
  toolchain/driver/clang_runner_test.cpp
  toolchain/install/BUILD
  toolchain/install/busybox_info.cpp
  toolchain/install/busybox_info_test.cpp
  toolchain/install/busybox_main.cpp
  toolchain/install/install_paths.cpp
  toolchain/install/install_paths.h
  toolchain/install/install_paths_test.cpp
  toolchain/install/install_paths_test_helpers.cpp
  toolchain/install/install_paths_test_helpers.h
  toolchain/testing/file_test.cpp
Labels: toolchain

#5939 Convert LegacyFloatType into FloatLiteralType.
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/testdata/basics/raw_sem_ir/builtins.carbon
  toolchain/check/testdata/builtins/float/add.carbon
  toolchain/check/testdata/builtins/float/add_assign.carbon
  toolchain/check/testdata/builtins/float/convert_checked.carbon
  toolchain/check/testdata/builtins/float/div.carbon
  toolchain/check/testdata/builtins/float/div_assign.carbon
  toolchain/check/testdata/builtins/float/eq.carbon
  toolchain/check/testdata/builtins/float/less_eq.carbon
  toolchain/check/testdata/builtins/float/mul.carbon
  toolchain/check/testdata/builtins/float/mul_assign.carbon
  toolchain/check/testdata/builtins/float/sub.carbon
  toolchain/check/testdata/builtins/float/sub_assign.carbon
  toolchain/check/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/return/fail_returned_var_type.carbon
  toolchain/check/testdata/struct/fail_member_access_type.carbon
  toolchain/check/testdata/struct/member_access.carbon
  toolchain/check/type_completion.cpp
  toolchain/lower/constant.cpp
  toolchain/lower/context.h
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.h
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/basics/numeric_literals.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/singleton_insts.h
  toolchain/sem_ir/type.cpp
  toolchain/sem_ir/type.h
  toolchain/sem_ir/type_iterator.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5944 Switch to representing FloatLiteralType as a RealId.
  toolchain/base/value_ids.h
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/testdata/basics/numeric_literals.carbon
  toolchain/check/testdata/builtins/float/add.carbon
  toolchain/check/testdata/builtins/float/convert_checked.carbon
  toolchain/check/testdata/builtins/float/div.carbon
  toolchain/check/testdata/builtins/float/eq.carbon
  toolchain/check/testdata/builtins/float/less_eq.carbon
  toolchain/check/testdata/builtins/float/mul.carbon
  toolchain/check/testdata/builtins/float/sub.carbon
  toolchain/check/testdata/builtins/float_literal/make_type.carbon
  toolchain/check/testdata/function/call/fail_param_type.carbon
  toolchain/check/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/param_unsupported.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_assignment.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_once.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/check/testdata/return/fail_returned_var_type.carbon
  toolchain/check/testdata/return/fail_type_mismatch.carbon
  toolchain/check/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/check/testdata/struct/fail_member_access_type.carbon
  toolchain/check/testdata/struct/member_access.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/constant.cpp
  toolchain/lower/testdata/array/base.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/typed_insts.h
Labels: dependent, toolchain

#5953 Improve recovery from bad type imports.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/class/class.carbon
  toolchain/check/testdata/interop/cpp/class/field.carbon
  toolchain/check/testdata/interop/cpp/class/method.carbon
  toolchain/check/testdata/interop/cpp/class/struct.carbon
  toolchain/check/testdata/interop/cpp/class/union.carbon
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
  toolchain/check/testdata/interop/cpp/unsupported_decl_type.carbon
  toolchain/lower/testdata/interop/cpp/fail_extern_c.carbon
Labels: toolchain

#5954 Support imports of more literal values
  core/prelude/types.carbon
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/array/import.carbon
  toolchain/check/testdata/for/actual.carbon
  toolchain/check/testdata/primitives/import_symbolic.carbon
  toolchain/check/testdata/primitives/numeric_literals.carbon
  toolchain/check/testdata/primitives/type_literals.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/import.carbon
Labels: toolchain

#5956 Change tests in check/testdata/builtins/char to be tests for the builtin char functions.
  toolchain/check/testdata/builtins/char/basics.carbon
  toolchain/check/testdata/builtins/char/convert_checked.carbon
  toolchain/check/testdata/builtins/char_literal/make_type.carbon
Labels: toolchain

#5945 Add a vtableDecl inst and use that in classes instead of VtablePtr
  toolchain/check/class.cpp
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/sem_ir/class.h
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5961 Add a feature to explicitly include a file's SemIR
  toolchain/check/check.cpp
  toolchain/check/testdata/basics/dump_sem_ir_ranges.carbon
  toolchain/check/testdata/basics/dump_sem_ir_ranges_ignore.carbon
  toolchain/check/testdata/basics/dump_sem_ir_ranges_only.carbon
  toolchain/check/testdata/basics/include_in_dumps.carbon
  toolchain/docs/adding_features.md
  toolchain/driver/compile_subcommand.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/testdata/include_in_dumps.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
Labels: toolchain

#5963 Add basic support for strings to core, check, and lower.
  core/prelude/types.carbon
  core/prelude/types/string.carbon
  toolchain/check/BUILD
  toolchain/check/handle_literal.cpp
  toolchain/check/literal.cpp
  toolchain/check/literal.h
  toolchain/check/testdata/array/element_mismatches.carbon
  toolchain/check/testdata/for/actual.carbon
  toolchain/check/testdata/function/call/fail_not_callable.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/check/testdata/primitives/string_literals.carbon
  toolchain/check/testdata/primitives/type_literals.carbon
  toolchain/check/testdata/var/fail_not_copyable.carbon
  toolchain/check/testdata/while/while.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/driver/testdata/dump_shared_values.carbon
  toolchain/driver/testdata/fail_flush_errors.carbon
  toolchain/lex/testdata/basic_syntax.carbon
  toolchain/lex/testdata/fail_block_string_second_line.carbon
  toolchain/lex/token_kind.def
  toolchain/lower/constant.cpp
  toolchain/lower/testdata/primitives/false_true.carbon
  toolchain/lower/testdata/primitives/int_types.carbon
  toolchain/lower/testdata/primitives/numeric_literals.carbon
  toolchain/lower/testdata/primitives/string.carbon
  toolchain/lower/testdata/primitives/type_values.carbon
  toolchain/lower/testdata/primitives/zero.carbon
  toolchain/parse/testdata/basics/type_literals.carbon
  toolchain/parse/testdata/basics/value_literals.carbon
  toolchain/parse/testdata/generics/impl/empty_body.carbon
  toolchain/parse/testdata/generics/impl/fail_impl.carbon
  toolchain/parse/testdata/let/let.carbon
  toolchain/parse/testdata/let/let_tuple.carbon
  toolchain/parse/testdata/return/fail_returned_no_var.carbon
  toolchain/parse/testdata/return/returned_var.carbon
  toolchain/parse/testdata/var/var.carbon
  toolchain/parse/testdata/var/var_tuple.carbon
  toolchain/testing/testdata/min_prelude/parts/string.carbon
  toolchain/testing/testdata/min_prelude/primitives.carbon
Labels: toolchain

#5955 Support importing nested types from C++.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/class/nested.carbon
  toolchain/check/testdata/interop/cpp/namespace.carbon
Labels: toolchain

#5914 Updating Carbon's safety strategy
  README.md
  docs/design/README.md
  docs/design/safety/README.md
  docs/design/safety/terminology.md
  docs/project/faq.md
  docs/project/principles/README.md
  proposals/p5914.md
Labels: proposal, proposal rfc, documentation

#5971 Support conversion from T* to const T*.
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/derived_to_base.carbon
  toolchain/check/testdata/const/import.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_direct.carbon
  toolchain/check/testdata/pointer/convert_qualifiers.carbon
  toolchain/check/type.cpp
  toolchain/check/type.h
  toolchain/sem_ir/type.cpp
  toolchain/sem_ir/type.h
Labels: toolchain

#5974 Tweak the name for the function that diagnoses when fuzzing external libraries
  toolchain/driver/clang_subcommand.cpp
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/driver_subcommand.cpp
  toolchain/driver/driver_subcommand.h
  toolchain/driver/lld_subcommand.cpp
  toolchain/driver/llvm_subcommand.cpp
Labels: toolchain

#5981 Rework the `IsSuccess` matcher to be fully polymorphic
  common/error_test.cpp
  common/error_test_helpers.h
Labels: toolchain

#5972 Support for building thunks for C++ methods.
  toolchain/check/cpp_thunk.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/class/base.carbon
  toolchain/check/testdata/interop/cpp/class/method.carbon
  toolchain/check/testdata/interop/cpp/class/template.carbon
  toolchain/check/testdata/interop/cpp/function/thunk_ast.carbon
  toolchain/lower/testdata/interop/cpp/method.carbon
Labels: toolchain

#5977 Support for building thunks for C++ constructors.
  toolchain/check/cpp_thunk.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/class/constructor.carbon
  toolchain/lower/testdata/interop/cpp/constructor.carbon
Labels: toolchain

#5978 Support for importing C++ enum types.
  toolchain/base/int.h
  toolchain/check/import_cpp.cpp
  toolchain/check/import_cpp.h
  toolchain/check/testdata/interop/cpp/class/base.carbon
  toolchain/check/testdata/interop/cpp/class/template.carbon
  toolchain/check/testdata/interop/cpp/enum/anonymous.carbon
  toolchain/check/testdata/interop/cpp/enum/convert.carbon
  toolchain/check/testdata/interop/cpp/enum/copy.carbon
  toolchain/check/testdata/interop/cpp/enum/fixed.carbon
  toolchain/check/testdata/interop/cpp/enum/incomplete.carbon
  toolchain/check/testdata/interop/cpp/enum/member.carbon
  toolchain/check/testdata/interop/cpp/enum/scoped.carbon
  toolchain/check/testdata/interop/cpp/enum/unscoped.carbon
  toolchain/check/type_completion.cpp
  toolchain/lower/testdata/interop/cpp/enum.carbon
Labels: toolchain

#5998 Fix a use of an imported InstId used where a local InstId is required
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/for/actual.carbon
Labels: toolchain

#5988 C++ Interop: Add support for `char`
  toolchain/check/import_cpp.cpp
  toolchain/check/literal.cpp
  toolchain/check/literal.h
  toolchain/check/testdata/interop/cpp/class/field.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
Labels: toolchain

#6001 Properly dump SemIR for inline C++ imports
  toolchain/check/testdata/interop/cpp/inline.carbon
  toolchain/sem_ir/formatter.cpp
Labels: toolchain
