Repository carbon-language/carbon-lang, pull requests merged in 2025-04, with the labels that each got.

#5230 Change `CopyOnWriteBlock::file_` from reference to pointer
  toolchain/check/convert.cpp
  toolchain/check/subst.cpp
  toolchain/sem_ir/copy_on_write_block.h
Labels: toolchain

#5228 Change `Lexer::ErrorRecoveryBuffer::buffer_` from reference to pointer
  toolchain/lex/lex.cpp
Labels: toolchain

#5199 Generalize non-const ClassInit lowering beyond only InitializeFrom insts
  toolchain/check/BUILD
  toolchain/check/convert.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/member_access.cpp
  toolchain/check/pattern_match.cpp
  toolchain/lower/BUILD
  toolchain/lower/handle_aggregates.cpp
  toolchain/lower/handle_expr_category.cpp
  toolchain/lower/testdata/class/field.carbon
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/expr_info.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#5219 Forward `impl` declarations of incomplete facet types
  toolchain/check/context.h
  toolchain/check/dump.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/facet_type.h
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl.h
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/impl/extend_impl_generic.carbon
  toolchain/check/testdata/impl/fail_extend_impl_type_as.carbon
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/fail_extend_undefined_interface.carbon
  toolchain/check/testdata/impl/lookup/fail_todo_undefined_impl.carbon
  toolchain/check/testdata/impl/min_prelude/forward_decls.carbon
  toolchain/check/testdata/impl/no_prelude/fail_extend_impl_scope.carbon
  toolchain/check/testdata/impl/no_prelude/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/no_prelude/fail_undefined_interface.carbon
  toolchain/check/testdata/impl/no_prelude/impl_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/no_definition_in_impl_file.carbon
  toolchain/check/type_completion.cpp
  toolchain/check/type_completion.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/dump.h
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5234 Reduce redundant diagnostics
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/impl/fail_extend_non_interface.carbon
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/fail_extend_undefined_interface.carbon
  toolchain/check/testdata/impl/min_prelude/forward_decls.carbon
  toolchain/check/testdata/impl/no_prelude/impl_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
Labels: toolchain

#5227 Change `OutputMapping::Map::io_` from reference to pointer
  toolchain/base/yaml.h
Labels: toolchain

#5231 Emit (relative) vtables
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/mangler.cpp
  toolchain/lower/mangler.h
  toolchain/lower/testdata/class/virtual.carbon
Labels: toolchain

#5217 Don't re-evaluate imported constants.
  toolchain/check/eval.cpp
  toolchain/check/eval.h
  toolchain/check/import_ref.cpp
Labels: toolchain

#5236 Update stringifying of array types to match the new array syntax.
  toolchain/check/testdata/array/fail_incomplete_element.carbon
  toolchain/check/testdata/array/fail_out_of_bound_non_literal.carbon
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/tuple/access/fail_non_tuple_access.carbon
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#5090 Emit function definitions in check, for all specifics seen.
  toolchain/check/call.cpp
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/context.h
  toolchain/check/eval_inst.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_itself.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_itself.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/fail_deduction_uses_runtime_type_conversion.carbon
  toolchain/check/testdata/generic/call_basic_depth.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/lower/testdata/function/generic/call_basic_depth.carbon
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5232 Replace `GetTypeInSpecific` with `GetTypeOfInstInSpecific`.
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/interface.cpp
  toolchain/check/member_access.cpp
  toolchain/check/merge.cpp
  toolchain/check/pattern_match.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/handle_call.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/generic.cpp
  toolchain/sem_ir/generic.h
Labels: toolchain

#5242 Facet values (like type values) can be copied around at runtime
  toolchain/check/convert.cpp
  toolchain/check/testdata/facet/min_prelude/convert_class_type_to_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_as_type_knows_original_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_interface.carbon
  toolchain/check/testdata/facet/min_prelude/runtime_value.carbon
  toolchain/check/testdata/impl/min_prelude/forward_decls.carbon
  toolchain/check/testdata/impl/no_prelude/generic_redeclaration.carbon
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_alias.carbon
  toolchain/check/testdata/interface/no_prelude/import.carbon
  toolchain/check/testdata/operators/overloaded/add.carbon
  toolchain/check/testdata/operators/overloaded/bit_and.carbon
  toolchain/check/testdata/operators/overloaded/bit_or.carbon
  toolchain/check/testdata/operators/overloaded/bit_xor.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/div.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/left_shift.carbon
  toolchain/check/testdata/operators/overloaded/mod.carbon
  toolchain/check/testdata/operators/overloaded/mul.carbon
  toolchain/check/testdata/operators/overloaded/right_shift.carbon
  toolchain/check/testdata/operators/overloaded/sub.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/check/type_completion.cpp
  toolchain/lower/testdata/interface/basic.carbon
Labels: toolchain

#5240 Simplify `GetAbsoluteNodeIdImpl()` by merging `while (true)` with the first `if`
  toolchain/sem_ir/absolute_node_id.cpp
Labels: toolchain

#5243 Avoid crashing during associated constant lookup on a runtime facet value
  toolchain/check/member_access.cpp
  toolchain/check/testdata/facet/min_prelude/runtime_value.carbon
Labels: toolchain

#5237 Handle `EntityNameId::None` during evaluation.
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/testdata/patterns/no_prelude/underscore.carbon
Labels: toolchain

#5239 Remove unused variable `diagnostics_stream`
  toolchain/check/import_cpp.cpp
Labels: toolchain

#5233 Towards more async "sync"-ing
  proposals/p5233.md
Labels: proposal, proposal rfc

#5248 Minor clang-tidy recommended cleanup
  explorer/file_test.cpp
  explorer/interpreter/matching_impl_set.cpp
  explorer/interpreter/type_checker.cpp
Labels: explorer

#5249 Rename `Parse::State` to `Parse::StateKind`
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_adapt.cpp
  toolchain/parse/handle_alias.cpp
  toolchain/parse/handle_array_expr.cpp
  toolchain/parse/handle_base.cpp
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/handle_call_expr.cpp
  toolchain/parse/handle_choice.cpp
  toolchain/parse/handle_code_block.cpp
  toolchain/parse/handle_decl_definition.cpp
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/handle_function.cpp
  toolchain/parse/handle_if_expr.cpp
  toolchain/parse/handle_impl.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/handle_index_expr.cpp
  toolchain/parse/handle_let.cpp
  toolchain/parse/handle_match.cpp
  toolchain/parse/handle_namespace.cpp
  toolchain/parse/handle_paren_condition.cpp
  toolchain/parse/handle_paren_expr.cpp
  toolchain/parse/handle_pattern.cpp
  toolchain/parse/handle_pattern_list.cpp
  toolchain/parse/handle_period.cpp
  toolchain/parse/handle_requirement.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/handle_type.cpp
  toolchain/parse/handle_var.cpp
  toolchain/parse/parse.cpp
  toolchain/parse/state.cpp
  toolchain/parse/state.def
  toolchain/parse/state.h
Labels: toolchain

#5244 Initialize vptrs to point to vtables
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5256 Rename `StateStackEntry` to `State`
  toolchain/docs/parse.md
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/handle_paren_expr.cpp
  toolchain/parse/state.def
Labels: toolchain

#5238 Implement ...`where .Self impls`...
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/subst.cpp
  toolchain/check/testdata/facet/min_prelude/combine.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/impl/fail_impl_bad_interface.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/impl_cycle.carbon
  toolchain/check/testdata/impl/no_prelude/fail_undefined_interface.carbon
  toolchain/check/testdata/interface/no_prelude/fail_lookup_in_type_type.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/check/testdata/where_expr/min_prelude/dot_self_impls.carbon
  toolchain/check/type_completion.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#5267 Fix clang-tidy: result of a `data()` call may not be null terminated, provide size information to the callee to prevent potential issues [bugprone-suspicious-stringview-data-usage,-warnings-as-errors]
  testing/file_test/file_test_base.cpp
Labels: toolchain

#5268 Fix clang-tidy: use a ranges version of this algorithm [modernize-use-ranges,-warnings-as-errors]
  toolchain/check/scope_stack.cpp
Labels: toolchain

#5254 Add/update lowering tests.
  toolchain/lower/testdata/function/generic/call_basic.carbon
  toolchain/lower/testdata/function/generic/call_basic_depth.carbon
  toolchain/lower/testdata/function/generic/call_dedup_ptr.carbon
  toolchain/lower/testdata/function/generic/call_different_impls.carbon
  toolchain/lower/testdata/function/generic/call_recursive_basic.carbon
  toolchain/lower/testdata/function/generic/call_recursive_diamond.carbon
  toolchain/lower/testdata/function/generic/call_recursive_impl.carbon
  toolchain/lower/testdata/function/generic/call_recursive_mutual.carbon
  toolchain/lower/testdata/function/generic/call_recursive_sccs_deep.carbon
  toolchain/lower/testdata/function/generic/call_specific_in_class.carbon
Labels: toolchain

#5247 Include all symbolic parts in structure comparison
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/impl/lookup/min_prelude/specialization.carbon
  toolchain/check/type_structure.cpp
  toolchain/check/type_structure.h
Labels: toolchain

#5258 Add an `EvalOrAddInst` function.
  toolchain/check/eval.cpp
  toolchain/check/eval.h
  toolchain/check/eval_inst.h
  toolchain/check/impl_lookup.cpp
  toolchain/check/inst.cpp
  toolchain/check/inst.h
  toolchain/check/subst.cpp
  toolchain/check/testdata/facet/min_prelude/convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/fail_deduction_uses_runtime_type_conversion.carbon
  toolchain/check/testdata/function/generic/call_method_on_generic_facet.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5260 Store an `InstId` instead of a `TypeId` in `UnboundElementType`.
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/generic/adapt.carbon
  toolchain/check/testdata/class/generic/base_is_generic.carbon
  toolchain/check/testdata/class/generic/basic.carbon
  toolchain/check/testdata/class/generic/complete_in_conversion.carbon
  toolchain/check/testdata/class/generic/field.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/init.carbon
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/class/generic/member_inline.carbon
  toolchain/check/testdata/class/generic/member_lookup.carbon
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic_method.carbon
  toolchain/check/testdata/generic/complete_type.carbon
  toolchain/check/testdata/generic/local.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/type.cpp
  toolchain/check/type.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5197 [Carbon/C++ interop] Add support for int function params
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/function_decl.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function_decl.carbon
Labels: toolchain

#5265 Fix clang-tidy: function 'rewind' has no error detection; 'fseek' should be used instead [bugprone-unsafe-functions,-warnings-as-errors]
  testing/file_test/run_test.cpp
Labels: toolchain

#5270 Move explorer out of toolchain git repo
  proposals/p5270.md
Labels: proposal, proposal rfc

#5273 Reuse LLVM global constants.
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/lower/testdata/global/class_with_fun.carbon
Labels: toolchain

#5275 Create a single global for the PrintInt format string.
  toolchain/lower/file_context.h
  toolchain/lower/function_context.h
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/function/generic/call_different_impls.carbon
  toolchain/lower/testdata/function/generic/call_recursive_diamond.carbon
  toolchain/lower/testdata/function/generic/call_recursive_impl.carbon
  toolchain/lower/testdata/function/generic/call_recursive_sccs_deep.carbon
Labels: toolchain

#5274 Add tests and range enforcement for current LocId use-cases
  toolchain/lex/token_index.h
  toolchain/parse/node_ids.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/ids_test.cpp
Labels: toolchain

#5282 Don't define an unscoped enumeration out of line.
  toolchain/parse/precedence.h
Labels: toolchain

#5283 Stop erasing ImplWitnessAssociatedConstant instructions from the witness table
  toolchain/check/facet_type.cpp
  toolchain/check/testdata/facet/min_prelude/runtime_value.carbon
  toolchain/check/testdata/facet/no_prelude/access.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/min_prelude/forward_decls.carbon
  toolchain/check/testdata/impl/no_prelude/impl_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/interface/no_prelude/fail_assoc_const_alias.carbon
Labels: toolchain

#5281 Represent rewrite constraints in `FacetTypeInfo` with `InstId` not `ConstantId`.
  toolchain/check/eval.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/subst.cpp
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/where_expr/dot_self_index.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/stringify_type.cpp
Labels: toolchain

#5156 C++ Interop: Basic C++ record (class/struct/union) import support
  toolchain/check/BUILD
  toolchain/check/class.cpp
  toolchain/check/class.h
  toolchain/check/handle_class.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/no_prelude/class.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/struct.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/union.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/unsupported_decl_type.carbon
Labels: toolchain

#5269 Look for final impl when accessing associated constant in facet
  toolchain/check/BUILD
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl.h
  toolchain/check/impl_lookup.cpp
  toolchain/check/impl_lookup.h
  toolchain/check/member_access.cpp
  toolchain/check/testdata/impl/lookup/min_prelude/find_in_final.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/specialization.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/specialization_with_symbolic_rewrite.carbon
  toolchain/sem_ir/impl.h
Labels: toolchain

#5286 Rename rewrite_value to rewrite_inst_id to clarify what it's holding
  toolchain/check/facet_type.cpp
  toolchain/sem_ir/facet_type_info.h
Labels: toolchain

#5285 Rename `StringifyType` to reflect that it can stringify non-type constants.
  toolchain/check/BUILD
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/diagnostic_helpers.h
  toolchain/check/facet_type.cpp
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/impl_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/stringify.h
  toolchain/sem_ir/stringify_type.h
Labels: toolchain

#5289 Remove toolchain/check/testdata/impl/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/fail_impl_as_scope.carbon
Labels: toolchain

#5287 Remove references to explorer
  .github/release.yaml
  .github/workflows/auto_assign_prs.yaml
  .github/workflows/auto_label_prs.yaml
  .pre-commit-config.yaml
  README.md
  bazel/check_deps/BUILD
  docs/README.md
  proposals/p2107.md
Labels: infrastructure, documentation

#5288 Introduce TypeInstId
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/facet_type.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/node_stack.h
  toolchain/check/subst.cpp
  toolchain/check/type.cpp
  toolchain/check/type.h
  toolchain/driver/testdata/compile/raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/raw_ir.carbon
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/type.cpp
  toolchain/sem_ir/type.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5292 Switch tree-sitter from explorer to toolchain testdata
  toolchain/check/BUILD
  toolchain/codegen/BUILD
  toolchain/diagnostics/BUILD
  toolchain/driver/BUILD
  toolchain/format/BUILD
  toolchain/language_server/BUILD
  toolchain/lex/BUILD
  toolchain/lower/BUILD
  toolchain/parse/BUILD
  toolchain/testing/BUILD
  utils/tree_sitter/BUILD
Labels: toolchain, utilities

#5284 Refactor LocId to merge in SemIRLoc
  toolchain/check/check_unit.cpp
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/diagnostic_emitter.h
  toolchain/check/diagnostic_helpers.h
  toolchain/check/dump.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/driver/compile_subcommand.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/absolute_node_id.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/ids_test.cpp
  toolchain/sem_ir/inst_namer.cpp
Labels: toolchain

#5277 Add cc rule wrappers for cc_env
  bazel/cc_rules/BUILD
  bazel/cc_rules/defs.bzl
  bazel/malloc/BUILD
  common/BUILD
  testing/base/BUILD
  testing/file_test/BUILD
  testing/file_test/rules.bzl
  testing/fuzzing/BUILD
  testing/fuzzing/rules.bzl
  toolchain/base/BUILD
  toolchain/check/BUILD
  toolchain/codegen/BUILD
  toolchain/diagnostics/BUILD
  toolchain/driver/BUILD
  toolchain/format/BUILD
  toolchain/install/BUILD
  toolchain/language_server/BUILD
  toolchain/lex/BUILD
  toolchain/lower/BUILD
  toolchain/parse/BUILD
  toolchain/sem_ir/BUILD
  toolchain/source/BUILD
  toolchain/testing/BUILD
  utils/tree_sitter/BUILD
Labels: explorer, infrastructure, toolchain, utilities

#5294 Convert remaining type-value InstId fields to TypeInstId
  toolchain/check/action.cpp
  toolchain/check/action.h
  toolchain/check/class.cpp
  toolchain/check/convert.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/inst.h
  toolchain/check/member_access.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/subst.cpp
  toolchain/check/type_completion.cpp
  toolchain/check/type_structure.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/struct_type_field.h
  toolchain/sem_ir/type.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5296 Even more usage of TypeInstId
  toolchain/check/action.cpp
  toolchain/check/action.h
  toolchain/check/eval.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/inst.h
  toolchain/check/node_stack.h
  toolchain/check/subst.cpp
  toolchain/check/subst.h
  toolchain/check/type.cpp
  toolchain/check/type.h
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/singleton_insts.h
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5298 Collapse GetAbsoluteNodeId overload
  toolchain/sem_ir/absolute_node_id.cpp
  toolchain/sem_ir/absolute_node_id.h
Labels: toolchain

#5297 cc_toolchains has defs.bzl, fix references
  bazel/cc_toolchains/BUILD
Labels: infrastructure

#5299 Remove the SemIRLoc typedef
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/diagnostic_emitter.h
  toolchain/check/diagnostic_helpers.h
  toolchain/check/eval.cpp
  toolchain/check/eval.h
  toolchain/check/facet_type.cpp
  toolchain/check/facet_type.h
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_class.cpp
  toolchain/check/import.cpp
  toolchain/check/import.h
  toolchain/check/import_cpp.cpp
  toolchain/check/interface.cpp
  toolchain/check/interface.h
  toolchain/check/merge.cpp
  toolchain/check/merge.h
  toolchain/check/name_lookup.cpp
  toolchain/check/name_lookup.h
  toolchain/check/region_stack.h
  toolchain/check/type.cpp
  toolchain/check/type.h
  toolchain/check/type_completion.cpp
  toolchain/check/type_completion.h
Labels: toolchain

#5303 Specialization test with final assoc constant can pass now
  toolchain/check/testdata/impl/lookup/min_prelude/specialization.carbon
Labels: toolchain

#5306 Add a no-op builtin function which shouldn't generate code.
  toolchain/check/eval.cpp
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/testdata/builtins/no_prelude/no_op.carbon
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/builtins/no_prelude/no_op.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
Labels: toolchain

#5302 Refactor PerformCall
  toolchain/check/call.cpp
Labels: toolchain

#5312 Remove the indirect_value library
  common/BUILD
  common/indirect_value.h
  common/indirect_value_test.cpp
Labels: toolchain

#5311 Update check_deps roots
  bazel/check_deps/BUILD
  bazel/check_deps/update_roots.py
  toolchain/diagnostics/BUILD
Labels: infrastructure, toolchain

#5318 Allow no-op functions to have unused arguments
  toolchain/check/testdata/builtins/no_prelude/no_op.carbon
  toolchain/lower/testdata/builtins/no_prelude/no_op.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
Labels: toolchain

#5317 Stop using `Add*InstInNoBlock` during import.
  toolchain/check/import_ref.cpp
Labels: toolchain

#5308 Implement virtual call dispatch
  toolchain/check/class.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.h
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/sem_ir/function.h
Labels: toolchain

#5323 Rename singleton InstId constants to TypeInstId
  toolchain/check/call.cpp
  toolchain/check/check_unit.cpp
  toolchain/check/class.cpp
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_choice.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/literal.cpp
  toolchain/check/member_access.cpp
  toolchain/check/type_completion.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/singleton_insts.h
  toolchain/sem_ir/type.cpp
  toolchain/sem_ir/typed_insts.h
Labels: toolchain

#5325 Allow a struct/tuple type literal to implicitly convert into a facet value
  toolchain/check/convert.cpp
  toolchain/check/testdata/facet/min_prelude/tuple_and_struct_type_literal.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
Labels: toolchain

#5324 Document and configure running lldb from the command line
  .lldbinit
  .vscode/lldb_launch.json
  docs/project/contribution_tools.md
  scripts/lldbinit.py
Labels: infrastructure, documentation

#5327 Make toolchain/check/testdata/facet/no_prelude/access.carbon into a min-prelude test
  toolchain/check/testdata/facet/min_prelude/access.carbon
Labels: toolchain

#5326 Stop pushing a fake generic for the duration of check.
  toolchain/check/check_unit.cpp
  toolchain/check/generic_region_stack.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_choice.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_namespace.cpp
Labels: toolchain

#5329 `definitions_required` -> `definitions_required_by_decl` in toolchain/check/check_unit.cpp
  toolchain/check/check_unit.cpp
Labels: toolchain

#5330 Fix comment typo in `toolchain/sem_ir/inst_kind.h`
  toolchain/sem_ir/inst_kind.h
Labels: toolchain

#5331 Add TODOs re: `pattern_block_id` to `inst_namer.cpp`
  toolchain/sem_ir/inst_namer.cpp
Labels: toolchain

#5333 Update LLVM, picking up new `-disable-free` flag logic
  MODULE.bazel
  toolchain/codegen/codegen.cpp
  toolchain/codegen/codegen.h
  toolchain/lower/file_context.cpp
Labels: infrastructure, toolchain

#5322 Introduce FindIfOrNull() FindIfOrNone() and Contains()
  common/BUILD
  common/find.h
  common/find_test.cpp
  testing/file_test/BUILD
  testing/file_test/test_file.cpp
  toolchain/check/BUILD
  toolchain/check/handle_function.cpp
  toolchain/parse/BUILD
  toolchain/parse/extract.cpp
  toolchain/testing/BUILD
  toolchain/testing/coverage_helper.h
Labels: toolchain

#5332 Fix handling of member types of generic classes.
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/testdata/class/generic/member_type.carbon
  toolchain/check/testdata/class/no_prelude/fail_error_recovery.carbon
  toolchain/check/testdata/class/no_prelude/generic_vs_params.carbon
  toolchain/check/testdata/function/call/prefer_unqualified_lookup.carbon
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/min_prelude/forward_decls.carbon
  toolchain/check/testdata/interface/fail_todo_define_default_fn_out_of_line.carbon
  toolchain/check/testdata/interface/no_prelude/fail_add_member_outside_definition.carbon
  toolchain/check/testdata/interface/no_prelude/generic_vs_params.carbon
Labels: toolchain

#5334 Simplify freeing with new LLVM
  toolchain/driver/clang_runner.cpp
Labels: toolchain

#5335 Add builtins for compound assignment operators.
  core/prelude/types/int.carbon
  core/prelude/types/uint.carbon
  toolchain/check/eval.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/array/canonicalize_index.carbon
  toolchain/check/testdata/builtins/int/and_assign.carbon
  toolchain/check/testdata/builtins/int/left_shift_assign.carbon
  toolchain/check/testdata/builtins/int/or_assign.carbon
  toolchain/check/testdata/builtins/int/right_shift_assign.carbon
  toolchain/check/testdata/builtins/int/sadd_assign.carbon
  toolchain/check/testdata/builtins/int/sdiv_assign.carbon
  toolchain/check/testdata/builtins/int/smod_assign.carbon
  toolchain/check/testdata/builtins/int/smul_assign.carbon
  toolchain/check/testdata/builtins/int/ssub_assign.carbon
  toolchain/check/testdata/builtins/int/uadd_assign.carbon
  toolchain/check/testdata/builtins/int/udiv_assign.carbon
  toolchain/check/testdata/builtins/int/umod_assign.carbon
  toolchain/check/testdata/builtins/int/umul_assign.carbon
  toolchain/check/testdata/builtins/int/usub_assign.carbon
  toolchain/check/testdata/builtins/int/xor_assign.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/function/generic/param_in_type.carbon
  toolchain/check/testdata/if_expr/constant_condition.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/interop/cpp/function_decl.carbon
  toolchain/check/testdata/pointer/address_of_deref.carbon
  toolchain/check/testdata/pointer/basic.carbon
  toolchain/check/testdata/pointer/import.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/access/fail_negative_indexing.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/builtins/int.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
Labels: toolchain

#5328 Stop substituting into `MetaInstId` operands.
  toolchain/check/inst.cpp
  toolchain/check/subst.cpp
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/generic/template/unimplemented.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/specialization_with_symbolic_rewrite.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/let/fail_generic.carbon
Labels: toolchain

#5340 Collect per-entity names when processing the entity, not each declaration.
  toolchain/sem_ir/inst_namer.cpp
Labels: toolchain

#5341 Clarify generic design about the type before `as`
  docs/design/generics/details.md
Labels: documentation

#5336 Detect control flow in entities nested inside functions
  toolchain/check/check_unit.cpp
  toolchain/check/context.h
  toolchain/check/control_flow.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_choice.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_codeblock.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/return.cpp
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/alias/fail_control_flow.carbon
  toolchain/check/testdata/class/no_prelude/destroy_calls.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/check/testdata/var/fail_todo_control_flow_init.carbon
Labels: toolchain

#5344 Test clean up follow up to #5320
  toolchain/check/testdata/class/fail_todo_field_initializer.carbon
  toolchain/parse/testdata/class/fail_var_name.carbon
Labels: toolchain

#5348 Mangle impls even if they impl an interface with associated constants
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/interface/where.carbon
Labels: toolchain

#5349 Skip upfront emission of vtables for generic classes
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/class/virtual.carbon
Labels: toolchain

#5350 Fix single-threaded runs for single test
  testing/file_test/file_test_base.cpp
Labels: toolchain

#5266 Fix clang-tidy: move assignment operators should be marked noexcept [performance-noexcept-move-constructor,-warnings-as-errors]
  toolchain/sem_ir/name_scope.h
Labels: toolchain

#5354 Adjust patch indent for buildifier
  bazel/llvm_project/0002_Added_Bazel_build_for_compiler_rt_fuzzer.patch
Labels: infrastructure

#5357 Add lexing for dump-sem-ir-start and end
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lex/lex.cpp
  toolchain/lex/testdata/dump_sem_ir_range.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
Labels: toolchain

#5356 Reject generic virtual functions
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/diagnostics/diagnostic_kind.def
Labels: toolchain

#5262 Introduce a Clang diagnostic instruction and use it to point to C++ source locations on Clang errors and warnings
  toolchain/check/check_unit.cpp
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/diagnostic_emitter.h
  toolchain/check/dump.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/import_ref.h
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/bad_import.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/file_not_found.carbon
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/testdata/compile/multifile_raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/multifile_raw_ir.carbon
  toolchain/driver/testdata/compile/raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/raw_ir.carbon
  toolchain/sem_ir/absolute_node_id.cpp
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/import_ir.h
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/yaml_test.cpp
Labels: toolchain

#5359 Disable clang-tidy `modernize-use-ranges`
  .clang-tidy
Labels: infrastructure

#5358 Remove SemIR:: from most sem_ir files
  toolchain/sem_ir/absolute_node_id.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/class.cpp
  toolchain/sem_ir/constant.cpp
  toolchain/sem_ir/copy_on_write_block.h
  toolchain/sem_ir/entity_with_params_base.h
  toolchain/sem_ir/entry_point.cpp
  toolchain/sem_ir/entry_point.h
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/ids_test.cpp
  toolchain/sem_ir/impl.cpp
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/import_ir.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/inst_namer.h
  toolchain/sem_ir/name.h
  toolchain/sem_ir/pattern.h
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/stringify.h
  toolchain/sem_ir/type.h
  toolchain/sem_ir/type_info.cpp
  toolchain/sem_ir/type_info.h
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/typed_insts_test.cpp
Labels: toolchain

#5362 Factor out GetCanonicalFileAndInstId for code sharing.
  toolchain/check/import_ref.cpp
  toolchain/check/import_ref.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/import_ir.cpp
  toolchain/sem_ir/import_ir.h
Labels: toolchain

#5363 Make it easier to see test performance
  testing/file_test/file_test_base.cpp
  testing/file_test/run_test.cpp
  testing/file_test/test_file.h
  toolchain/autoupdate_testdata.py
Labels: toolchain

#5368 Disable clang-tidy `performance-enum-size`
  .clang-tidy
Labels: infrastructure

#5369 Properly link to the discussion in the TODO
  toolchain/check/diagnostic_emitter.cpp
Labels: toolchain

#5364 Default FileTest to brief output
  testing/file_test/file_test_base.cpp
Labels: toolchain

#5370 Remove exceptions for `performance-enum-size`
  toolchain/check/keyword_modifier_set.h
  toolchain/diagnostics/diagnostic_kind.h
  toolchain/parse/context.h
  toolchain/parse/node_category.h
  toolchain/sem_ir/inst_namer.h
Labels: toolchain

#5355 Construct LocId from InstId directly (explicitly) instead of doing lookups when possible
  toolchain/check/call.cpp
  toolchain/check/check_unit.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/control_flow.h
  toolchain/check/convert.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/diagnostic_emitter.h
  toolchain/check/diagnostic_helpers.h
  toolchain/check/dump.cpp
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/generic.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_export.cpp
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/inst.h
  toolchain/check/interface.cpp
  toolchain/check/member_access.cpp
  toolchain/check/modifiers.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/name_lookup.h
  toolchain/check/operator.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/pending_block.h
  toolchain/check/subst.cpp
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/absolute_node_id.cpp
  toolchain/sem_ir/absolute_node_id.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/ids_test.cpp
  toolchain/sem_ir/import_ir.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_namer.cpp
Labels: toolchain

#5300 Document lambdas
  docs/design/README.md
  docs/design/lambdas.md
Labels: documentation

#5382 Fix "is is" typo
  toolchain/sem_ir/absolute_node_id.cpp
Labels: toolchain

#5372 Split SemIR's formatter class into a more typical h+cpp
  toolchain/check/BUILD
  toolchain/check/inst_block_stack.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
Labels: toolchain

#5375 Make children of InstId directly use the FormatName overload
  toolchain/sem_ir/formatter.h
Labels: toolchain

#5387 Stop mutating the original tests array when sorting.
  testing/file_test/file_test_base.cpp
Labels: toolchain

#5378 Switch dump-sem-ir-start to dump-sem-ir-begin
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lex/lex.cpp
  toolchain/lex/testdata/dump_sem_ir_range.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
Labels: toolchain

#5386 Adds a bazel query to retry syncing deps
  .github/actions/build-setup-common/action.yml
  scripts/run_bazel.py
Labels: infrastructure

#5373 Poison impl lookup queries with concrete results
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/context.h
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/diagnostic_helpers.h
  toolchain/check/eval_inst.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/impl_lookup.h
  toolchain/check/testdata/impl/lookup/min_prelude/specialization_poison.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/stringify.h
Labels: toolchain

#5376 Update documentation to match #5355.
  toolchain/docs/check/README.md
Labels: toolchain

#5379 Add formatter support for dump-sem-ir ranges
  toolchain/check/testdata/basics/no_prelude/dump_sem_ir_range.carbon
  toolchain/driver/compile_subcommand.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
Labels: toolchain

#5388 Factor out `GetInstWithConstantValue` and use it from another place that duplicates the same logic.
  toolchain/check/import_ref.cpp
  toolchain/sem_ir/constant.cpp
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/formatter.cpp
Labels: toolchain

#5395 Remove unnecessary abs
  toolchain/parse/tree_and_subtrees.h
Labels: toolchain

#5396 Remove the stack from postorder tree printing
  toolchain/parse/tree_and_subtrees.cpp
Labels: toolchain
