Repository carbon-language/carbon-lang, changes with the owners that CODEOWNERS names for each.
All owners: @carbon-language/admin-team, @carbon-language/core-team, @carbon-language/review-managers, @carbon-language/infra-team

CODEOWNERS:

# Global owners.
*           @carbon-language/admin-team

# The core team owns the core language and project documentation.
/docs/      @carbon-language/core-team

# The review managers own updates to the proposals.
/proposals/ @carbon-language/review-managers

# This directory contains infrastructure and support scripts
/src/       @carbon-language/infra-team

[RuntimeDyld][COFF] Report fatal error on error, rather than emiting diagnostic.
  llvm/lib/ExecutionEngine/RuntimeDyld/Targets/RuntimeDyldCOFFX86_64.h
Owners: @carbon-language/admin-team

Fix out-of-tree clang build due to sysexits change
  llvm/include/llvm/Config/config.h.cmake
  llvm/include/llvm/Config/llvm-config.h.cmake
  llvm/include/llvm/Support/ExitCodes.h
Owners: @carbon-language/admin-team

Relax FuseTensorReshapeOpAsproducer identity mapping constraint
  mlir/lib/Dialect/Linalg/Transforms/FusionOnTensors.cpp
  mlir/test/Dialect/Linalg/fusion-tensor.mlir
Owners: @carbon-language/admin-team

[gn build] manually port 5e4409f308177
  llvm/utils/gn/secondary/llvm/include/llvm/Config/BUILD.gn
Owners: @carbon-language/admin-team

[lldb] Change the xcrun (fallback) logic in GetXcodeSDK
  lldb/source/Host/macosx/objcxx/HostInfoMacOSX.mm
Owners: @carbon-language/admin-team

Add yaml files to site to allow doc references
  src/jekyll/_config.yml
  src/jekyll/site/.pre-commit-config.yaml
  src/jekyll/site/.prettierrc.yaml
Owners: @carbon-language/infra-team

[Attributor] Give up early on AANoReturn::initialize
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/test/Transforms/Attributor/ArgumentPromotion/X86/thiscall.ll
  llvm/test/Transforms/Attributor/ArgumentPromotion/byval.ll
  llvm/test/Transforms/Attributor/ArgumentPromotion/fp80.ll
  llvm/test/Transforms/Attributor/ArgumentPromotion/live_called_from_dead.ll
  llvm/test/Transforms/Attributor/ArgumentPromotion/live_called_from_dead_2.ll
  llvm/test/Transforms/Attributor/ArgumentPromotion/musttail.ll
  llvm/test/Transforms/Attributor/IPConstantProp/PR16052.ll
  llvm/test/Transforms/Attributor/IPConstantProp/multiple_callbacks.ll
  llvm/test/Transforms/Attributor/IPConstantProp/musttail-call.ll
  llvm/test/Transforms/Attributor/IPConstantProp/naked-return.ll
  llvm/test/Transforms/Attributor/alwaysinline.ll
  llvm/test/Transforms/Attributor/internalize.ll
  llvm/test/Transforms/Attributor/misc.ll
  llvm/test/Transforms/Attributor/noalias.ll
  llvm/test/Transforms/Attributor/nocapture-2.ll
  llvm/test/Transforms/Attributor/read_write_returned_arguments_scc.ll
  llvm/test/Transforms/Attributor/readattrs.ll
  llvm/test/Transforms/Attributor/returned.ll
Owners: @carbon-language/admin-team

[Attributor] Ignore read accesses to constant memory
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/test/Transforms/Attributor/ArgumentPromotion/aggregate-promote.ll
  llvm/test/Transforms/Attributor/ArgumentPromotion/invalidation.ll
  llvm/test/Transforms/Attributor/readattrs.ll
Owners: @carbon-language/admin-team

[Attributor] Use smarter way to determine alignment of GEPs
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/test/Transforms/Attributor/ArgumentPromotion/aggregate-promote.ll
  llvm/test/Transforms/Attributor/align.ll
Owners: @carbon-language/admin-team

[flang][openacc] Fix device_num and device_type clauses for init directive
  flang/lib/Parser/openacc-parsers.cpp
  flang/test/Semantics/acc-clause-validity.f90
  llvm/include/llvm/Frontend/OpenACC/ACC.td
Owners: @carbon-language/admin-team

[CodeGen][TailDuplicator] Don't duplicate blocks with INLINEASM_BR
  llvm/lib/CodeGen/TailDuplicator.cpp
  llvm/test/CodeGen/X86/tail-dup-asm-goto.ll
Owners: @carbon-language/admin-team

changes from pre-commit?
  proposals/README.md
  proposals/p0162.md
  proposals/semantic-analysis.md~
Owners: @carbon-language/review-managers

[PowerPC] add more builtins for PPCTargetLowering::getTgtMemIntrinsic
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
Owners: @carbon-language/admin-team

[PowerPC] implement target hook getTgtMemIntrinsic
  llvm/lib/Target/PowerPC/PPCTargetTransformInfo.cpp
  llvm/lib/Target/PowerPC/PPCTargetTransformInfo.h
  llvm/test/Transforms/LoopStrengthReduce/Power/memory-intrinsic.ll
Owners: @carbon-language/admin-team

[MachineInstr] exclude call instruction in mayAlias
  llvm/lib/CodeGen/MachineInstr.cpp
Owners: @carbon-language/admin-team

Reapply "[OpenMP][FIX] Verify compatible types for declare variant calls" D88384
  clang/lib/AST/ASTContext.cpp
  clang/lib/Sema/SemaOpenMP.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/AST/ast-dump-openmp-begin-declare-variant_template_3.cpp
Owners: @carbon-language/admin-team

[Test] Add test showing that we can avoid inserting trunc/zext
  llvm/test/Transforms/IndVarSimplify/widen-loop-comp.ll
Owners: @carbon-language/admin-team

BPF: avoid duplicated globals for CORE relocations
  llvm/lib/Target/BPF/BPFAbstractMemberAccess.cpp
  llvm/lib/Target/BPF/BPFPreserveDIType.cpp
  llvm/test/CodeGen/BPF/CORE/btf-id-duplicate.ll
  llvm/test/CodeGen/BPF/CORE/field-reloc-duplicate.ll
Owners: @carbon-language/admin-team

[SROA] rewritePartition()/findCommonType(): if uses have conflicting type, try getTypePartition() before falling back to largest integral use type (PR47592)
  llvm/lib/Transforms/Scalar/SROA.cpp
  llvm/test/DebugInfo/ARM/sroa-complex.ll
  llvm/test/Transforms/SROA/ppcf128-no-fold.ll
  llvm/test/Transforms/SROA/preserve-nonnull.ll
Owners: @carbon-language/admin-team

[lldb] Format unix signal table (NFC)
  lldb/source/Target/UnixSignals.cpp
Owners: @carbon-language/admin-team

[NFC] Use getZero instead of getConstant(0)
  llvm/lib/Transforms/Scalar/IndVarSimplify.cpp
Owners: @carbon-language/admin-team

[Support][unittests] Enforce alignment in ConvertUTFTest
  llvm/lib/Support/ConvertUTFWrapper.cpp
  llvm/unittests/Support/ConvertUTFTest.cpp
Owners: @carbon-language/admin-team

[AST][RecoveryExpr] Support dependent conditional operators in C for error recovery.
  clang/lib/Sema/SemaExpr.cpp
  clang/test/AST/ast-dump-recovery.c
  clang/test/Sema/error-dependence.c
Owners: @carbon-language/admin-team

[clang] Use isCompoundAssignmentOp to simplify the code, NFC.
  clang/lib/Sema/SemaOverload.cpp
Owners: @carbon-language/admin-team

[clangd] Don't set the Underlying bit on targets of UsingDecls.
  clang-tools-extra/clangd/FindTarget.cpp
  clang-tools-extra/clangd/FindTarget.h
  clang-tools-extra/clangd/XRefs.cpp
  clang-tools-extra/clangd/unittests/FindTargetTests.cpp
  clang-tools-extra/clangd/unittests/XRefsTests.cpp
Owners: @carbon-language/admin-team

[mlir][NFC] Style cleanup in comments
  mlir/include/mlir/Dialect/Shape/Transforms/Passes.td
  mlir/lib/Dialect/Shape/Transforms/ShapeTypeConversion.cpp
Owners: @carbon-language/admin-team

[Test] Add one more test where we can avoid creating trunc
  llvm/test/Transforms/IndVarSimplify/widen-loop-comp.ll
Owners: @carbon-language/admin-team

[SDag] SimplifyDemandedBits: simplify to FP constant if all bits known
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/test/CodeGen/ARM/fcopysign.ll
  llvm/test/CodeGen/X86/combine-bextr.ll
  llvm/test/CodeGen/X86/copysign-constant-magnitude.ll
  llvm/test/CodeGen/X86/fp-intrinsics.ll
  llvm/test/CodeGen/X86/fp-round.ll
  llvm/test/CodeGen/X86/fp-strict-scalar-inttofp.ll
  llvm/test/CodeGen/X86/fp128-cast.ll
  llvm/test/CodeGen/X86/scalar-int-to-fp.ll
  llvm/test/CodeGen/X86/uint_to_fp-2.ll
  llvm/test/CodeGen/X86/vector-shuffle-combining.ll
Owners: @carbon-language/admin-team

[LAA] Add test for PR47751, which currently uses wrong bounds.
  llvm/test/Transforms/LoopVectorize/runtime-check-pointer-element-type.ll
Owners: @carbon-language/admin-team

[ARM] Regenerate vldlane tests
  llvm/test/CodeGen/ARM/vldlane.ll
Owners: @carbon-language/admin-team

[InstCombine] Tweak funnel by constant tests for better shl/lshr commutation coverage
  llvm/test/Transforms/InstCombine/funnel.ll
Owners: @carbon-language/admin-team

[AMDGPU] Implement hardware bug workaround for image instructions
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPUInstructionSelector.cpp
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.cpp
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.h
  llvm/lib/Target/AMDGPU/AMDGPUSubtarget.cpp
  llvm/lib/Target/AMDGPU/AMDGPUSubtarget.h
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.h
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-llvm.amdgcn.image.store.2d.d16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.image.store.2d.d16.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.image.d16.dim.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.image.gather4.d16.dim.ll
Owners: @carbon-language/admin-team

InstCombine: Negator: don't rely on complexity sorting already being performed (PR47752)
  llvm/lib/Transforms/InstCombine/InstCombineInternal.h
  llvm/lib/Transforms/InstCombine/InstCombineNegator.cpp
  llvm/test/Transforms/InstCombine/sub-of-negatible.ll
Owners: @carbon-language/admin-team

[LLD] [MinGW] Move an option definitions to alphabetical order, wrap a line. NFC.
  lld/MinGW/Options.td
Owners: @carbon-language/admin-team

[mlir] Add support for diagnostics in C API.
  mlir/include/mlir-c/Diagnostics.h
  mlir/include/mlir-c/Support.h
  mlir/include/mlir/CAPI/Diagnostics.h
  mlir/include/mlir/CAPI/Support.h
  mlir/lib/CAPI/IR/CMakeLists.txt
  mlir/lib/CAPI/IR/Diagnostics.cpp
  mlir/test/CAPI/ir.c
Owners: @carbon-language/admin-team

[libc++] Make sure __clear_and_shrink() maintains string invariants
  libcxx/include/string
Owners: @carbon-language/admin-team

[lldb/docs] Clarify python/swig version incompatibility
  lldb/docs/resources/build.rst
Owners: @carbon-language/admin-team

[lldb] Check for and use ptsname_r if available
  lldb/cmake/modules/LLDBGenerateConfig.cmake
  lldb/include/lldb/Host/Config.h.cmake
  lldb/include/lldb/Host/PseudoTerminal.h
  lldb/source/Host/common/ProcessLaunchInfo.cpp
  lldb/source/Host/common/PseudoTerminal.cpp
  lldb/source/Plugins/Platform/MacOSX/objcxx/PlatformiOSSimulatorCoreSimulatorSupport.mm
  lldb/source/Plugins/Process/FreeBSD/ProcessFreeBSD.cpp
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
Owners: @carbon-language/admin-team

[libc++] Use the existing CMake caches when running build bots
  libcxx/utils/ci/run-buildbot.sh
Owners: @carbon-language/admin-team

[AMDGPU][MC] Improved diagnostics for instructions with missing features
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/test/MC/AMDGPU/add-sub-no-carry.s
  llvm/test/MC/AMDGPU/buf-fmt-d16-packed.s
  llvm/test/MC/AMDGPU/buf-fmt-d16-unpacked.s
  llvm/test/MC/AMDGPU/gfx1030_err.s
  llvm/test/MC/AMDGPU/gfx10_asm_dpp16.s
  llvm/test/MC/AMDGPU/gfx10_asm_dpp8.s
  llvm/test/MC/AMDGPU/gfx10_asm_mimg_err.s
  llvm/test/MC/AMDGPU/lds_direct-err.s
  llvm/test/MC/AMDGPU/literals.s
  llvm/test/MC/AMDGPU/mtbuf.s
  llvm/test/MC/AMDGPU/mubuf.s
  llvm/test/MC/AMDGPU/smem.s
  llvm/test/MC/AMDGPU/smrd.s
  llvm/test/MC/AMDGPU/vop2.s
  llvm/test/MC/AMDGPU/vop3-gfx9.s
  llvm/test/MC/AMDGPU/vop3-literal.s
  llvm/test/MC/AMDGPU/vop_sdwa.s
  llvm/test/MC/AMDGPU/wave32.s
Owners: @carbon-language/admin-team
