Repository carbon-language/carbon-lang, changes with the owners that CODEOWNERS names for each.
All owners: @carbon-language/admin-team, @carbon-language/core-team, @carbon-language/review-managers, @carbon-language/infra-team

Remove D80713.diff added in 528057c19755ad842052fba3a42dcbf7deafc6de
  D80713.diff
Owners: @carbon-language/admin-team

[InstCombine] Add checks for and(logicalshift(zext(x),undef),y) cases
  llvm/test/Transforms/InstCombine/and-narrow.ll
Owners: @carbon-language/admin-team

more rationale in discussion of alternatives
  proposals/p0162.md
Owners: @carbon-language/review-managers

[SVE] Add legalisation tests to sve-fixed-length-fp-reduce.ll
  llvm/test/CodeGen/AArch64/sve-fixed-length-fp-reduce.ll
Owners: @carbon-language/admin-team

[BasicBlockSections] Make sure that the labels for address-taken blocks are emitted after switching the seciton.
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/test/CodeGen/X86/basic-block-sections-blockaddress-taken.ll
Owners: @carbon-language/admin-team

[NFC][MLInliner] Getters should return by reference
  llvm/lib/Analysis/DevelopmentModeInlineAdvisor.cpp
Owners: @carbon-language/admin-team

Add validity assert on entry to CastInst::isNoopCast [NFC]
  llvm/include/llvm/IR/InstrTypes.h
  llvm/lib/IR/Instructions.cpp
Owners: @carbon-language/admin-team

[mlir] [sparse] Rename getSparseMatrix to getMatrix
  mlir/integration_test/Sparse/CPU/matrix-market-example.mlir
  mlir/lib/ExecutionEngine/SparseUtils.cpp
Owners: @carbon-language/admin-team

Add regular expressions to and DWARF Call Frame Information tests in case the architecture specific target is not compiled into LLVM.
  llvm/test/DebugInfo/dwarfdump-debug-frame-simple.test
Owners: @carbon-language/admin-team

[NPM] Port strip nonlinetable debuginfo pass to the new pass manager
  llvm/include/llvm/InitializePasses.h
  llvm/include/llvm/Transforms/Utils.h
  llvm/include/llvm/Transforms/Utils/StripNonLineTableDebugInfo.h
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Passes/PassRegistry.def
  llvm/lib/Transforms/Utils/StripNonLineTableDebugInfo.cpp
  llvm/lib/Transforms/Utils/Utils.cpp
  llvm/test/Transforms/Util/strip-nonlinetable-debuginfo-cus.ll
Owners: @carbon-language/admin-team

Port StripGCRelocates pass to NPM
  llvm/include/llvm/InitializePasses.h
  llvm/include/llvm/Transforms/Utils/StripGCRelocates.h
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Passes/PassRegistry.def
  llvm/lib/Transforms/Utils/StripGCRelocates.cpp
  llvm/lib/Transforms/Utils/Utils.cpp
  llvm/test/Transforms/Util/strip-gc-relocates.ll
Owners: @carbon-language/admin-team

[flang] Semantic checks for bad usage of whole assumed-size arrays
  flang/include/flang/Semantics/expression.h
  flang/lib/Semantics/assignment.cpp
  flang/lib/Semantics/check-io.cpp
  flang/lib/Semantics/expression.cpp
  flang/test/Semantics/assign04.f90
  flang/test/Semantics/io03.f90
Owners: @carbon-language/admin-team

[NFC][regalloc] Use MCRegister instead of unsigned in InterferenceCache
  llvm/lib/CodeGen/InterferenceCache.cpp
  llvm/lib/CodeGen/InterferenceCache.h
  llvm/lib/CodeGen/RegAllocGreedy.cpp
Owners: @carbon-language/admin-team

[M680x0] Add google/benchmark's CycleTimer support for M68K
  libcxx/utils/google-benchmark/AUTHORS
  libcxx/utils/google-benchmark/CONTRIBUTORS
  libcxx/utils/google-benchmark/README.LLVM
  libcxx/utils/google-benchmark/src/cycleclock.h
  llvm/utils/benchmark/AUTHORS
  llvm/utils/benchmark/CONTRIBUTORS
  llvm/utils/benchmark/README.LLVM
  llvm/utils/benchmark/src/cycleclock.h
Owners: @carbon-language/admin-team

Fix a macOS build break caused by 3dfb94986170.
  lldb/source/Plugins/Platform/MacOSX/objcxx/PlatformiOSSimulatorCoreSimulatorSupport.mm
Owners: @carbon-language/admin-team

[libc++] Remove unused includes of Availability.h
  libcxx/include/iterator
  libcxx/include/locale
Owners: @carbon-language/admin-team

[flang][msvc] Avoid dependence on long double
  flang/include/flang/Common/real.h
  flang/include/flang/Decimal/binary-floating-point.h
  flang/include/flang/Evaluate/type.h
  flang/runtime/descriptor-io.h
  flang/runtime/edit-input.cpp
  flang/runtime/edit-input.h
  flang/runtime/edit-output.cpp
  flang/runtime/edit-output.h
Owners: @carbon-language/admin-team

[sanitizer] Skip stack symbolization when not required for print format
  compiler-rt/lib/hwasan/hwasan_report.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_stacktrace_libcdep.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_stacktrace_printer.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_stacktrace_printer.h
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer_report.cpp
  compiler-rt/lib/sanitizer_common/tests/sanitizer_stacktrace_printer_test.cpp
  compiler-rt/lib/tsan/rtl/tsan_report.cpp
  compiler-rt/test/sanitizer_common/TestCases/print-stack-trace.cpp
Owners: @carbon-language/admin-team

[BOLT] Refactor relocations class impl per arch, NFC
  bolt/src/Relocation.cpp
  bolt/src/Relocation.h
  bolt/src/RewriteInstance.cpp
Owners: @carbon-language/admin-team

Moving github scripts to carbon-project-tools
  docs/project/contribution_tools.md
  docs/project/groups.md
  src/scripts/github_helpers.py
  src/scripts/github_helpers_test.py
  src/scripts/pr_comments.py
  src/scripts/pr_comments_test.py
  src/scripts/update_label_access.py
  src/scripts/update_label_access_test.py
Owners: @carbon-language/core-team, @carbon-language/infra-team

Add test for disabling Dead Virtual Function Elimination
  clang/test/CodeGenCXX/virtual-function-elimination.cpp
Owners: @carbon-language/admin-team

[X86] Defer the creation of LCMPXCHG16B_SAVE_RBX until finalize-isel
  llvm/lib/Target/X86/X86ExpandPseudo.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86ISelLowering.h
  llvm/lib/Target/X86/X86InstrCompiler.td
  llvm/lib/Target/X86/X86InstrInfo.td
  llvm/test/CodeGen/X86/pr42064.ll
Owners: @carbon-language/admin-team

Add ToolPath field to MachORewriteInstance
  bolt/src/MachORewriteInstance.cpp
  bolt/src/MachORewriteInstance.h
  bolt/src/llvm-bolt.cpp
Owners: @carbon-language/admin-team

[ImplicitNullChecks] Support complex addressing mode
  llvm/include/llvm/CodeGen/TargetInstrInfo.h
  llvm/lib/CodeGen/ImplicitNullChecks.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.h
  llvm/lib/Target/X86/X86InstrInfo.cpp
  llvm/lib/Target/X86/X86InstrInfo.h
  llvm/test/CodeGen/X86/implicit-null-check-negative.ll
  llvm/test/CodeGen/X86/implicit-null-check.ll
  llvm/test/CodeGen/X86/implicit-null-checks.mir
Owners: @carbon-language/admin-team

[libcxx] Use runtime rather then compile-time glibc version check
  libcxx/test/std/localization/locale.categories/category.monetary/locale.money.get/locale.money.get.members/get_long_double_fr_FR.pass.cpp
  libcxx/test/std/localization/locale.categories/category.monetary/locale.money.put/locale.money.put.members/put_long_double_fr_FR.pass.cpp
  libcxx/test/std/localization/locale.categories/category.monetary/locale.moneypunct.byname/curr_symbol.pass.cpp
  libcxx/test/std/localization/locale.categories/category.monetary/locale.moneypunct.byname/decimal_point.pass.cpp
  libcxx/test/std/localization/locale.categories/category.monetary/locale.moneypunct.byname/thousands_sep.pass.cpp
  libcxx/test/std/localization/locale.categories/facet.numpunct/locale.numpunct.byname/thousands_sep.pass.cpp
  libcxx/test/support/platform_support.h
Owners: @carbon-language/admin-team

[IRMover] Avoid materializing global value that belongs to not-yet-linked module
  llvm/lib/Linker/IRMover.cpp
  llvm/test/LTO/X86/Inputs/type-mapping-bug4_0.ll
  llvm/test/LTO/X86/Inputs/type-mapping-bug4_1.ll
  llvm/test/LTO/X86/type-mapping-bug4.ll
Owners: @carbon-language/admin-team

Remove unused variables
  llvm/lib/CodeGen/ImplicitNullChecks.cpp
Owners: @carbon-language/admin-team

[X86] Move findDeadCallerSavedReg() into X86RegisterInfo
  llvm/lib/Target/X86/X86FrameLowering.cpp
  llvm/lib/Target/X86/X86RegisterInfo.cpp
  llvm/lib/Target/X86/X86RegisterInfo.h
Owners: @carbon-language/admin-team

[X86] Fix bug in -mlvi-cfi that may clobber a live register
  llvm/lib/Target/X86/X86LoadValueInjectionRetHardening.cpp
  llvm/test/CodeGen/X86/lvi-hardening-ret.ll
Owners: @carbon-language/admin-team

BPF: fix incorrect DAG2DAG load optimization
  llvm/lib/Target/BPF/BPFISelDAGToDAG.cpp
  llvm/test/CodeGen/BPF/rodata_6.ll
  llvm/test/CodeGen/BPF/rodata_7.ll
Owners: @carbon-language/admin-team

Revert "[Support][unittests] Enforce alignment in ConvertUTFTest"
  llvm/lib/Support/ConvertUTFWrapper.cpp
  llvm/unittests/Support/ConvertUTFTest.cpp
Owners: @carbon-language/admin-team

[NewPM] Use PassInstrumentation for -verify-each
  llvm/include/llvm/Passes/PassBuilder.h
  llvm/include/llvm/Passes/StandardInstrumentations.h
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Passes/StandardInstrumentations.cpp
  llvm/test/Other/new-pass-manager-verify-each.ll
  llvm/test/Other/new-pass-manager.ll
  llvm/tools/llvm-opt-fuzzer/llvm-opt-fuzzer.cpp
  llvm/tools/opt/NewPMDriver.cpp
  llvm/unittests/IR/PassBuilderCallbacksTest.cpp
  polly/lib/Support/RegisterPasses.cpp
Owners: @carbon-language/admin-team

Return "[SCEV] Prove implicaitons via AddRec start"
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/test/Transforms/IndVarSimplify/addrec_no_exec_on_every_iteration.ll
  llvm/unittests/Analysis/ScalarEvolutionTest.cpp
Owners: @carbon-language/admin-team

Update documentation and implementation of stage3 build
  clang/cmake/caches/3-stage-base.cmake
  llvm/docs/AdvancedBuilds.rst
Owners: @carbon-language/admin-team

[LLD] [ELF] Fix up a comment regarding the --wrap option. NFC.
  lld/ELF/Driver.cpp
Owners: @carbon-language/admin-team

[LLD] Ignore ELF tests when ld.lld defaults to MinGW
  lld/test/CMakeLists.txt
  lld/test/lit.cfg.py
  lld/test/lit.site.cfg.py.in
Owners: @carbon-language/admin-team

[ARM] Replace llvm.experimental.vector.reduce.smax with llvm.vector.reduce.smax. NFC
  llvm/test/CodeGen/Thumb2/mve-vmaxv-vminv-scalar.ll
Owners: @carbon-language/admin-team

[LV] Collect dead induction truncates
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/test/Transforms/LoopVectorize/ARM/tail-folding-not-allowed.ll
  llvm/test/Transforms/LoopVectorize/X86/pr36524.ll
  llvm/test/Transforms/LoopVectorize/X86/tail_loop_folding.ll
  llvm/test/Transforms/LoopVectorize/followup.ll
  llvm/test/Transforms/LoopVectorize/if-pred-stores.ll
Owners: @carbon-language/admin-team

[clangd] Fix a typo, NFC.
  clang-tools-extra/clangd/ClangdServer.h
Owners: @carbon-language/admin-team

[AST][RecoveryExpr] Support dependent cast-expr in C for error-recovery.
  clang/lib/Sema/SemaCast.cpp
  clang/test/AST/ast-dump-recovery.c
  clang/test/Sema/error-dependence.c
Owners: @carbon-language/admin-team

CODEOWNERS:

# Global owners.
*           @carbon-language/admin-team

# The core team owns the core language and project documentation.
/docs/      @carbon-language/core-team

# The review managers own updates to the proposals.
/proposals/ @carbon-language/review-managers

# This directory contains infrastructure and support scripts
/src/       @carbon-language/infra-team
