Repository carbon-language/carbon-lang, changes with the owners that CODEOWNERS names for each.
All owners: @carbon-language/admin-team, @carbon-language/core-team, @carbon-language/review-managers, @carbon-language/infra-team

CODEOWNERS:

# Part of the Carbon Language project, under the Apache License v2.0 with LLVM
# Exceptions. See /LICENSE for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# Global owners.
*           @carbon-language/admin-team

# The core team owns the core language and project documentation.
/docs/      @carbon-language/core-team

# The review managers own updates to the proposals.
/proposals/ @carbon-language/review-managers

# This directory contains infrastructure and support scripts
/src/       @carbon-language/infra-team

Make test/tools/llvm-dlltool/tool-name.test pass, and make it run
  llvm/test/lit.cfg.py
  llvm/test/tools/llvm-dlltool/lit.local.cfg
Owners: @carbon-language/admin-team

[crashlog] Move crash log parsing into its own class
  lldb/examples/python/crashlog.py
  lldb/test/Shell/ScriptInterpreter/Python/Crashlog/crashlog.test
  lldb/test/Shell/ScriptInterpreter/Python/Crashlog/interactive.test
  lldb/test/Shell/ScriptInterpreter/Python/Crashlog/lit.local.cfg
Owners: @carbon-language/admin-team

Apply suggestions from code review
  proposals/p0175.md
Owners: @carbon-language/review-managers

[libc++] Move <memory> helpers outside of std::allocator_traits
  libcxx/include/memory
  libcxx/include/vector
Owners: @carbon-language/admin-team

[AMDGPU] Regenerate load i16 tests to use update_llc_test_checks.py script. NFCI.
  llvm/test/CodeGen/AMDGPU/load-constant-i16.ll
  llvm/test/CodeGen/AMDGPU/load-global-i16.ll
Owners: @carbon-language/admin-team

[DAG] computeKnownBits - Move (most) ISD::SRL handling into KnownBits::lshr
  llvm/include/llvm/Support/KnownBits.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/Support/KnownBits.cpp
  llvm/test/CodeGen/AMDGPU/load-constant-i16.ll
  llvm/test/CodeGen/AMDGPU/load-global-i16.ll
Owners: @carbon-language/admin-team

Incorporate proposals P0142 and P0143 (Unicode source files and numeric literals) into the design.
  docs/design/code_and_name_organization.md
  docs/design/code_and_name_organization/source_files.md
  docs/design/lexical_conventions.md
  docs/design/lexical_conventions/numeric_literals.md
  docs/design/lexical_conventions/whitespace.md
  docs/design/lexical_conventions/words.md
Owners: @carbon-language/core-team

Further hyperlinking fixups.
  docs/design/code_and_name_organization/README.md
  docs/design/lexical_conventions/README.md
Owners: @carbon-language/core-team

Give an example of the most common case of numeric literal.
  docs/design/README.md
Owners: @carbon-language/core-team

Replace Pro/Con with Advantages/Disadvantages and bolden description of each alternative.
  docs/design/code_and_name_organization/source_files.md
  docs/design/lexical_conventions/numeric_literals.md
  docs/design/lexical_conventions/words.md
Owners: @carbon-language/core-team

Address review feedback.
  docs/design/README.md
  docs/design/code_and_name_organization/README.md
  docs/design/lexical_conventions/README.md
Owners: @carbon-language/core-team

Add TODOs next to references to proposals; remove a spurious "Pull Request" link.
  docs/design/lexical_conventions/whitespace.md
  docs/design/lexical_conventions/words.md
Owners: @carbon-language/core-team

Fix links after file moves.
  docs/design/README.md
  docs/design/code_and_name_organization/README.md
  docs/design/lexical_conventions/README.md
Owners: @carbon-language/core-team

[RISCV] Add missing patterns for rotr with immediate for Zbb/Zbp extensions.
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.h
  llvm/lib/Target/RISCV/RISCVInstrInfoB.td
  llvm/test/CodeGen/RISCV/rv32Zbbp.ll
  llvm/test/CodeGen/RISCV/rv32Zbp.ll
  llvm/test/CodeGen/RISCV/rv64Zbbp.ll
  llvm/test/CodeGen/RISCV/rv64Zbp.ll
Owners: @carbon-language/admin-team

[DAG] computeKnownBits - Move ISD::SRA handling into KnownBits::ashr
  llvm/include/llvm/Support/KnownBits.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/Support/KnownBits.cpp
Owners: @carbon-language/admin-team

Cleanup namespace comment to fix clang-tidy warning. NFCI.
  llvm/lib/Support/APFloat.cpp
Owners: @carbon-language/admin-team

[crashlog] Modularize parser
  lldb/examples/python/crashlog.py
Owners: @carbon-language/admin-team

[GVN] small improvements to comments
  llvm/lib/Transforms/Scalar/GVN.cpp
  llvm/lib/Transforms/Utils/VNCoercion.cpp
Owners: @carbon-language/admin-team

[CUDA] Allow local static variables with target attributes.
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaCUDA.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/CodeGenCUDA/static-device-var-no-rdc.cu
  clang/test/SemaCUDA/bad-attributes.cu
  clang/test/SemaCUDA/device-var-init.cu
Owners: @carbon-language/admin-team

[HIP] Use argv[0] as the default choice for the Executable name.
  clang/tools/clang-offload-bundler/ClangOffloadBundler.cpp
Owners: @carbon-language/admin-team

[HIP] Math Headers to use type promotion
  clang/lib/Headers/__clang_hip_cmath.h
Owners: @carbon-language/admin-team

[WebAssembly] Implement ref.null
  llvm/lib/Target/WebAssembly/AsmParser/WebAssemblyAsmParser.cpp
  llvm/lib/Target/WebAssembly/Disassembler/WebAssemblyDisassembler.cpp
  llvm/lib/Target/WebAssembly/MCTargetDesc/WebAssemblyInstPrinter.cpp
  llvm/lib/Target/WebAssembly/MCTargetDesc/WebAssemblyInstPrinter.h
  llvm/lib/Target/WebAssembly/MCTargetDesc/WebAssemblyMCCodeEmitter.cpp
  llvm/lib/Target/WebAssembly/MCTargetDesc/WebAssemblyMCTargetDesc.h
  llvm/lib/Target/WebAssembly/WebAssemblyInstrInfo.td
  llvm/lib/Target/WebAssembly/WebAssemblyInstrRef.td
  llvm/lib/Target/WebAssembly/WebAssemblyMCInstLower.cpp
  llvm/test/MC/WebAssembly/reference-types.s
Owners: @carbon-language/admin-team

Return actual type from SBType::GetArrayElementType
  lldb/source/API/SBType.cpp
  lldb/test/API/python_api/type/TestTypeList.py
  lldb/test/API/python_api/type/main.cpp
Owners: @carbon-language/admin-team

Precommit LTO pipeline test
  llvm/test/Other/opt-LTO-pipeline.ll
Owners: @carbon-language/admin-team

Add loop distribution to the LTO pipeline
  llvm/lib/Transforms/IPO/PassManagerBuilder.cpp
  llvm/test/Other/opt-LTO-pipeline.ll
Owners: @carbon-language/admin-team

Fix - [Clang] Add the ability to map DLL storage class to visibility
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/test/CodeGenCXX/visibility-dllstorageclass.cpp
Owners: @carbon-language/admin-team

[AMDGPU] Add some missing tests for GFX10.3 subtargets
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/subtarget.ll
Owners: @carbon-language/admin-team

[BOLT] Remove threaded EliminateUnreachableBlock version
  bolt/src/Passes/BinaryPasses.cpp
Owners: @carbon-language/admin-team

Revert "Add loop distribution to the LTO pipeline"
  llvm/lib/Transforms/IPO/PassManagerBuilder.cpp
  llvm/test/Other/opt-LTO-pipeline.ll
Owners: @carbon-language/admin-team

Revert "Precommit LTO pipeline test"
  llvm/test/Other/opt-LTO-pipeline.ll
Owners: @carbon-language/admin-team

[mlir][vector] Add canonicalization patterns for ExtractStride/ShapeCast + Splat constant
  mlir/include/mlir/Dialect/Vector/VectorOps.td
  mlir/lib/Dialect/Vector/VectorOps.cpp
  mlir/test/Dialect/Vector/canonicalize.mlir
Owners: @carbon-language/admin-team

[Reassociate] Convert `add`-like `or`'s into an `add`'s to allow reassociation
  llvm/lib/Transforms/Scalar/Reassociate.cpp
  llvm/test/Transforms/Reassociate/add-like-or.ll
Owners: @carbon-language/admin-team

[NFC][Reassociate] Add tests with `add`-like `or` (w/ no common bits set)
  llvm/test/Transforms/Reassociate/add-like-or.ll
Owners: @carbon-language/admin-team

[memprof] Don't protect destructor in final
  compiler-rt/lib/memprof/memprof_thread.h
Owners: @carbon-language/admin-team

[compiler-rt] Use empty SuspendedThreadsList for Fuchsia
  compiler-rt/lib/lsan/lsan_common_fuchsia.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_stoptheworld_fuchsia.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_stoptheworld_fuchsia.h
Owners: @carbon-language/admin-team

[musttail] Unify musttail call preceding return checking
  llvm/lib/Transforms/Instrumentation/AddressSanitizer.cpp
  llvm/lib/Transforms/Utils/EntryExitInstrumenter.cpp
  llvm/lib/Transforms/Utils/EscapeEnumerator.cpp
Owners: @carbon-language/admin-team

[crashlog] Print the actual exception in the CommandReturnObject
  lldb/examples/python/crashlog.py
Owners: @carbon-language/admin-team

[libc++] NFC: Simplify how we run config tests
  libcxx/test/libcxx/selftest/dsl/dsl.sh.py
  libcxx/utils/libcxx/test/dsl.py
Owners: @carbon-language/admin-team

[unittest][TrasnformerTest] Fix asan stack-use-after-return
  clang/unittests/Tooling/TransformerTest.cpp
Owners: @carbon-language/admin-team

[libc++] Remove support for .run.fail.cpp tests
  libcxx/test/libcxx/selftest/run.fail.cpp/compile-error.run.fail.cpp
  libcxx/test/libcxx/selftest/run.fail.cpp/link-error.run.fail.cpp
  libcxx/test/libcxx/selftest/run.fail.cpp/run-error.run.fail.cpp
  libcxx/test/libcxx/selftest/run.fail.cpp/run-success.run.fail.cpp
  libcxx/utils/libcxx/test/format.py
Owners: @carbon-language/admin-team
