Repository carbon-language/carbon-lang, changes with the owners that CODEOWNERS names for each.
All owners: @chandlerc, @jonmeow, @zygoloid, @carbon-language/core-team, @carbon-language/review-managers

Use std::make_tuple instead initializer list
  llvm/lib/Transforms/Scalar/LowerExpectIntrinsic.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[HIP] Move HIP Linking Logic into HIP ToolChain
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  clang/lib/Driver/ToolChains/CommonArgs.h
  clang/lib/Driver/ToolChains/Gnu.cpp
  clang/lib/Driver/ToolChains/HIP.cpp
  clang/lib/Driver/ToolChains/HIP.h
  clang/test/Driver/hip-binding.hip
  clang/test/Driver/hip-link-save-temps.hip
  clang/test/Driver/hip-link-shared-library.hip
  clang/test/Driver/hip-phases.hip
  clang/test/Driver/hip-save-temps.hip
  clang/test/Driver/hip-toolchain-rdc-separate.hip
  clang/test/Driver/hip-toolchain-rdc.hip
Owners: @chandlerc, @jonmeow, @zygoloid

Add Statically Linked Libraries
  clang/include/clang/Driver/Action.h
  clang/include/clang/Driver/Driver.h
  clang/include/clang/Driver/Options.td
  clang/include/clang/Driver/ToolChain.h
  clang/lib/Driver/Action.cpp
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChain.cpp
  clang/lib/Driver/ToolChains/Gnu.cpp
  clang/lib/Driver/ToolChains/Gnu.h
  clang/lib/Driver/ToolChains/Linux.cpp
  clang/lib/Driver/ToolChains/Linux.h
  clang/test/Driver/bindings.c
  clang/test/Driver/hip-link-save-temps.hip
  clang/test/Driver/hip-link-static-library.hip
  clang/test/Driver/hip-toolchain-rdc-static-lib.hip
Owners: @chandlerc, @jonmeow, @zygoloid

[BOLT] Fixes for scanExternalRefs()
  bolt/src/BinaryFunction.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[BOLT] Ignore functions that failed validation
  bolt/src/Passes/ValidateInternalCalls.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[BOLT] Create entry points for internal refs from external code
  bolt/src/RewriteInstance.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

llvm-nm: Implement --special-syms.
  lld/test/ELF/aarch64-thunk-script.s
  llvm/docs/CommandGuide/llvm-nm.rst
  llvm/docs/ReleaseNotes.rst
  llvm/test/MC/AArch64/mapping-within-section.s
  llvm/test/tools/llvm-nm/AArch64/special-syms.test
  llvm/test/tools/llvm-nm/debug-syms.test
  llvm/tools/llvm-nm/llvm-nm.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[BOLT] Add '-force-patch' to forcefully patch old entries
  bolt/src/BinaryFunction.cpp
  bolt/src/Passes/PatchEntries.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Fix the verification of DIEs with DW_AT_ranges.
  llvm/include/llvm/DebugInfo/DWARF/DWARFAddressRange.h
  llvm/include/llvm/DebugInfo/DWARF/DWARFVerifier.h
  llvm/lib/DebugInfo/DWARF/DWARFVerifier.cpp
  llvm/test/tools/llvm-dwarfdump/X86/verify_overlapping_cu_ranges.yaml
Owners: @chandlerc, @jonmeow, @zygoloid

Recommit "[X86] Calculate the needed size of the feature arrays in _cpu_indicator_init and getHostCPUName using the size of the feature enum."
  compiler-rt/lib/builtins/cpu_model.c
  llvm/include/llvm/Support/X86TargetParser.h
  llvm/lib/Support/Host.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

codespell
  docs/design/tuples.md
Owners: @carbon-language/core-team, @jonmeow

Syntactic conventions
  docs/design/README.md
  docs/design/functions.md
  docs/design/syntactic_conventions.md
Owners: @carbon-language/core-team, @jonmeow

codespell
  docs/design/interoperability/type_mapping.md
Owners: @carbon-language/core-team, @jonmeow

[BOLT] Allow to overwrite -use-old-text option
  bolt/src/RewriteInstance.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Enable codespell pre-commit
  .pre-commit-config.yaml
  docs/project/evolution.md
  docs/project/principles/README.md
  proposals/p0044-decision.md
  src/jekyll/theme/_includes/sidebar_link.html
Owners: @chandlerc, @jonmeow, @zygoloid, @carbon-language/core-team, @carbon-language/review-managers

codespell docs
  docs/project/contribution_tools.md
  docs/project/evolution.md
  docs/project/review_managers.md
Owners: @carbon-language/core-team, @jonmeow

Enable pagination.
  src/scripts/update-label-access.js
Owners: @jonmeow

[mlir][ods] Allow filtering of ops
  mlir/test/mlir-tblgen/op-decl.td
  mlir/tools/mlir-tblgen/OpDefinitionsGen.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[Coroutines] Ensure co_await promise.final_suspend() does not throw
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaCoroutine.cpp
  clang/lib/Sema/SemaExceptionSpec.cpp
  clang/test/AST/Inputs/std-coroutine.h
  clang/test/AST/coroutine-source-location-crash.cpp
  clang/test/Analysis/more-dtors-cfg-output.cpp
  clang/test/CodeGenCXX/ubsan-coroutines.cpp
  clang/test/CodeGenCoroutines/Inputs/coroutine.h
  clang/test/CodeGenCoroutines/coro-alloc.cpp
  clang/test/CodeGenCoroutines/coro-always-inline.cpp
  clang/test/CodeGenCoroutines/coro-await-domination.cpp
  clang/test/CodeGenCoroutines/coro-await-resume-eh.cpp
  clang/test/CodeGenCoroutines/coro-await.cpp
  clang/test/CodeGenCoroutines/coro-dest-slot.cpp
  clang/test/CodeGenCoroutines/coro-gro-nrvo.cpp
  clang/test/CodeGenCoroutines/coro-newpm-pipeline.cpp
  clang/test/CodeGenCoroutines/coro-params.cpp
  clang/test/CodeGenCoroutines/coro-promise-dtor.cpp
  clang/test/CodeGenCoroutines/coro-ret-void.cpp
  clang/test/CodeGenCoroutines/coro-return-voidtype-initlist.cpp
  clang/test/CodeGenCoroutines/coro-return.cpp
  clang/test/CodeGenCoroutines/coro-unhandled-exception.cpp
  clang/test/Index/coroutines.cpp
  clang/test/SemaCXX/Inputs/std-coroutine.h
  clang/test/SemaCXX/co_await-range-for.cpp
  clang/test/SemaCXX/coreturn-eh.cpp
  clang/test/SemaCXX/coreturn.cpp
  clang/test/SemaCXX/coroutine-final-suspend-noexcept.cpp
  clang/test/SemaCXX/coroutine-rvo.cpp
  clang/test/SemaCXX/coroutine-unhandled_exception-warning.cpp
  clang/test/SemaCXX/coroutine-uninitialized-warning-crash.cpp
  clang/test/SemaCXX/coroutines.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Fix dynamic alloca detection in CloneBasicBlock
  llvm/lib/Transforms/Utils/CloneFunction.cpp
  llvm/unittests/Transforms/Utils/CloningTest.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[SVE] Remove calls to VectorType::getNumElements from ARM
  llvm/lib/Target/ARM/MVEGatherScatterLowering.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

add copy of MLIR .clang-tidy to squelch noise in phabricator reviews
  flang/include/flang/Lower/.clang-tidy
  flang/include/flang/Optimizer/.clang-tidy
  flang/lib/Lower/.clang-tidy
  flang/lib/Optimizer/.clang-tidy
Owners: @chandlerc, @jonmeow, @zygoloid

[WebAssembly] Add support for externalref to MC and wasm-ld
  lld/test/wasm/externref.s
  lld/wasm/WriterUtils.cpp
  llvm/include/llvm/BinaryFormat/Wasm.h
  llvm/lib/MC/WasmObjectWriter.cpp
  llvm/lib/Object/WasmObjectFile.cpp
  llvm/lib/ObjectYAML/WasmYAML.cpp
  llvm/lib/Target/WebAssembly/AsmParser/WebAssemblyAsmParser.cpp
  llvm/test/MC/WebAssembly/externref.s
Owners: @chandlerc, @jonmeow, @zygoloid

↔ -> <-> due to github emoji weirdness
  docs/design/interoperability/README.md
Owners: @carbon-language/core-team, @jonmeow

De-emphasize alternatives
  docs/design/interoperability/name_mapping.md
  docs/design/interoperability/type_mapping.md
Owners: @carbon-language/core-team, @jonmeow

Lang markers
  docs/design/interoperability/migration_examples.md
Owners: @carbon-language/core-team, @jonmeow

Proposal
  proposals/p0080.md
Owners: @carbon-language/review-managers

[BOLT] Fix getNewValueForSymbol()
  bolt/src/RewriteInstance.cpp
  bolt/src/RewriteInstance.h
Owners: @chandlerc, @jonmeow, @zygoloid

Cleanup
  docs/design/interoperability/README.md
  docs/design/interoperability/name_mapping.md
  docs/design/interoperability/other_syntax.md
  docs/design/interoperability/type_mapping.md
Owners: @carbon-language/core-team, @jonmeow

[MLIR][NFC] Adopt hasNItems() for SizedRegion predicate
  mlir/include/mlir/IR/OpBase.td
Owners: @chandlerc, @jonmeow, @zygoloid

Fix multilevel deduction where an outer pack is used in the type of an inner non-type pack at a different index.
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/test/SemaTemplate/deduction-guide.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Add -ast-dump-decl-types flag to include types of value and type declarations in AST dumps.
  clang/include/clang/Driver/CC1Options.td
  clang/include/clang/Frontend/ASTConsumers.h
  clang/include/clang/Frontend/FrontendOptions.h
  clang/lib/Frontend/ASTConsumers.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/lib/Frontend/FrontendActions.cpp
  clang/test/SemaTemplate/deduction-guide.cpp
  clang/tools/clang-check/ClangCheck.cpp
  clang/tools/clang-import-test/clang-import-test.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[llvm-install-name-tool] Implement delete_rpath option
  llvm/test/tools/llvm-objcopy/MachO/install-name-tool-delete-rpath.test
  llvm/test/tools/llvm-objcopy/MachO/remove-lc-index-update.test
  llvm/tools/llvm-objcopy/CopyConfig.cpp
  llvm/tools/llvm-objcopy/CopyConfig.h
  llvm/tools/llvm-objcopy/InstallNameToolOpts.td
  llvm/tools/llvm-objcopy/MachO/MachOObjcopy.cpp
  llvm/tools/llvm-objcopy/MachO/Object.cpp
  llvm/tools/llvm-objcopy/MachO/Object.h
Owners: @chandlerc, @jonmeow, @zygoloid

[AVR] Don't adjust for instruction size
  llvm/lib/Target/AVR/MCTargetDesc/AVRAsmBackend.cpp
  llvm/test/CodeGen/AVR/jmp-long.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[AVR] Decode single register instructions
  llvm/lib/Target/AVR/AVRInstrFormats.td
  llvm/lib/Target/AVR/Disassembler/AVRDisassembler.cpp
  llvm/test/MC/AVR/inst-asr.s
  llvm/test/MC/AVR/inst-com.s
  llvm/test/MC/AVR/inst-dec.s
  llvm/test/MC/AVR/inst-inc.s
  llvm/test/MC/AVR/inst-lsr.s
  llvm/test/MC/AVR/inst-neg.s
  llvm/test/MC/AVR/inst-pop.s
  llvm/test/MC/AVR/inst-push.s
  llvm/test/MC/AVR/inst-ror.s
  llvm/test/MC/AVR/inst-swap.s
Owners: @chandlerc, @jonmeow, @zygoloid

[AVR] Disassemble multiplication instructions
  llvm/lib/Target/AVR/AVRInstrFormats.td
  llvm/lib/Target/AVR/Disassembler/AVRDisassembler.cpp
  llvm/test/MC/AVR/inst-fmul.s
  llvm/test/MC/AVR/inst-fmuls.s
  llvm/test/MC/AVR/inst-fmulsu.s
  llvm/test/MC/AVR/inst-muls.s
  llvm/test/MC/AVR/inst-mulsu.s
Owners: @chandlerc, @jonmeow, @zygoloid

[AVR] Disassemble instructions with fixed Z operand
  llvm/lib/Target/AVR/AVRInstrFormats.td
  llvm/lib/Target/AVR/Disassembler/AVRDisassembler.cpp
  llvm/lib/Target/AVR/MCTargetDesc/AVRInstPrinter.cpp
  llvm/test/MC/AVR/inst-elpm.s
  llvm/test/MC/AVR/inst-lac.s
  llvm/test/MC/AVR/inst-las.s
  llvm/test/MC/AVR/inst-lat.s
  llvm/test/MC/AVR/inst-lpm.s
  llvm/test/MC/AVR/inst-spm.s
  llvm/test/MC/AVR/inst-xch.s
Owners: @chandlerc, @jonmeow, @zygoloid

[AVR] Disassemble double register instructions
  llvm/lib/Target/AVR/AVRInstrFormats.td
  llvm/lib/Target/AVR/Disassembler/AVRDisassembler.cpp
  llvm/test/MC/AVR/inst-adiw.s
  llvm/test/MC/AVR/inst-movw.s
  llvm/test/MC/AVR/inst-sbiw.s
Owners: @chandlerc, @jonmeow, @zygoloid

Restructuring
  docs/design/interoperability/README.md
  docs/design/interoperability/enums.md
  docs/design/interoperability/example_framework.md
  docs/design/interoperability/example_incremental.md
  docs/design/interoperability/functions_and_overload_sets.md
  docs/design/interoperability/name_mapping.md
  docs/design/interoperability/other_syntax.md
  docs/design/interoperability/primitive_types.md
  docs/design/interoperability/templates_and_generics.md
  docs/design/interoperability/type_mapping.md
  docs/design/interoperability/user_defined_types.md
  docs/design/interoperability/vocabulary_types.md
Owners: @carbon-language/core-team, @jonmeow

[VectorCombine] do not use magic number for undef mask element; NFC
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

CODEOWNERS:

# Global owners.
* @chandlerc @jonmeow @zygoloid

# Owners for the the language and project documentation.
/docs/ @carbon-language/core-team @jonmeow

# Owners for the proposals.
/proposals/ @carbon-language/review-managers

# Owners for the website and related utilities.
/src/ @jonmeow
