Repository carbon-language/carbon-lang, changes with the owners that CODEOWNERS names for each.
All owners: @carbon-language/admin-team, @carbon-language/core-team, @carbon-language/review-managers, @carbon-language/infra-team

CODEOWNERS:

# Global owners.
*           @carbon-language/admin-team

# The core team owns the core language and project documentation.
/docs/      @carbon-language/core-team

# The review managers own updates to the proposals.
/proposals/ @carbon-language/review-managers

# This directory contains infrastructure and support scripts
/src/       @carbon-language/infra-team

[llvm-readelf] - Implement --addrsig option.
  llvm/test/tools/llvm-readobj/ELF/addrsig.test
  llvm/test/tools/llvm-readobj/ELF/demangle.test
  llvm/tools/llvm-readobj/ELFDumper.cpp
Owners: @carbon-language/admin-team

[obj2yaml] - Rename `Group` to `GroupSection`. NFC.
  llvm/include/llvm/ObjectYAML/ELFYAML.h
  llvm/lib/ObjectYAML/ELFEmitter.cpp
  llvm/lib/ObjectYAML/ELFYAML.cpp
  llvm/tools/obj2yaml/elf2yaml.cpp
Owners: @carbon-language/admin-team

[mlir] fix the types used during the generation of the kernel param array
  mlir/lib/Conversion/GPUCommon/ConvertLaunchFuncToRuntimeCalls.cpp
Owners: @carbon-language/admin-team

[ADT] function_ref's constructor is unavailable if the argument is not callable.
  llvm/include/llvm/ADT/STLExtras.h
  llvm/lib/AsmParser/LLParser.h
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/unittests/ADT/FunctionRefTest.cpp
Owners: @carbon-language/admin-team

[gn build] (manually) port ce1365f8f7e
  libcxx/src/CMakeLists.txt
  llvm/utils/gn/secondary/libcxx/src/BUILD.gn
Owners: @carbon-language/admin-team

Revert "[ADT] function_ref's constructor is unavailable if the argument is not callable."
  llvm/include/llvm/ADT/STLExtras.h
  llvm/lib/AsmParser/LLParser.h
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/unittests/ADT/FunctionRefTest.cpp
Owners: @carbon-language/admin-team

[AMDGPU] Use @LINE for error checking in gfx10.3 assembler tests
  llvm/test/MC/AMDGPU/gfx1030_err.s
Owners: @carbon-language/admin-team

[SVE] Lower fixed length VECREDUCE_OR operation
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-fixed-length-log-reduce.ll
Owners: @carbon-language/admin-team

[AMDGPU] Support disassembly for AMDGPU kernel descriptors
  D80713.diff
  llvm/include/llvm/Support/AMDHSAKernelDescriptor.h
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.h
  llvm/test/CodeGen/AMDGPU/nop-data.ll
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-failure.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-sgpr.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-vgpr.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-zeroed-gfx10.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-zeroed-gfx9.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-zeroed-raw.s
  llvm/tools/llvm-objdump/llvm-objdump.cpp
Owners: @carbon-language/admin-team

[clangd] Fix argument type (bool->float).
  clang-tools-extra/clangd/tool/ClangdMain.cpp
Owners: @carbon-language/admin-team

Introduce subtraction for FlatAffineConstraints
  mlir/include/mlir/Analysis/AffineStructures.h
  mlir/include/mlir/Analysis/Presburger/Simplex.h
  mlir/include/mlir/Analysis/PresburgerSet.h
  mlir/lib/Analysis/AffineStructures.cpp
  mlir/lib/Analysis/CMakeLists.txt
  mlir/lib/Analysis/Presburger/CMakeLists.txt
  mlir/lib/Analysis/Presburger/Simplex.cpp
  mlir/lib/Analysis/PresburgerSet.cpp
  mlir/unittests/Analysis/AffineStructuresTest.cpp
  mlir/unittests/Analysis/CMakeLists.txt
  mlir/unittests/Analysis/Presburger/CMakeLists.txt
  mlir/unittests/Analysis/PresburgerSetTest.cpp
Owners: @carbon-language/admin-team

[SystemZ][z/OS] Add test of zero length bitfield type size larger than target zero length bitfield boundary
  clang/test/CodeGen/zos-alignment.c
Owners: @carbon-language/admin-team

BPF: add AdjustOpt IR pass to generate verifier friendly codes
  llvm/lib/Target/BPF/BPF.h
  llvm/lib/Target/BPF/BPFAdjustOpt.cpp
  llvm/lib/Target/BPF/BPFTargetMachine.cpp
  llvm/lib/Target/BPF/CMakeLists.txt
  llvm/test/CodeGen/BPF/adjust-opt-icmp1.ll
  llvm/test/CodeGen/BPF/adjust-opt-icmp2.ll
  llvm/test/CodeGen/BPF/adjust-opt-speculative1.ll
  llvm/test/CodeGen/BPF/adjust-opt-speculative2.ll
Owners: @carbon-language/admin-team

[gn build] Port ddf1864ace4
  llvm/utils/gn/secondary/llvm/lib/Target/BPF/BUILD.gn
Owners: @carbon-language/admin-team

[Tests] Precommit test showing gap around load forwarding of vectors in instcombine
  llvm/test/Transforms/InstCombine/load.ll
Owners: @carbon-language/admin-team

[NFC][InstCombine] Autogenerate a few tests being affected by upcoming patch
  llvm/test/Transforms/InstCombine/PR30597.ll
  llvm/test/Transforms/InstCombine/intptr1.ll
  llvm/test/Transforms/InstCombine/load-bitcast32.ll
  llvm/test/Transforms/InstCombine/memset_chk-1.ll
Owners: @carbon-language/admin-team

[MemCpyOpt] Add additional callslot test cases (NFC)
  llvm/test/Transforms/MemCpyOpt/callslot.ll
Owners: @carbon-language/admin-team

[clang-format][NFC] Store FormatToken::Type as an enum instead of bitfield
  clang/lib/Format/FormatToken.h
  clang/lib/Format/UnwrappedLineParser.cpp
Owners: @carbon-language/admin-team

[clang-format][tests] Fix MacroExpander lexer not parsing C++ keywords
  clang/unittests/Format/MacroExpanderTest.cpp
  clang/unittests/Format/TestLexer.h
Owners: @carbon-language/admin-team

Reapply [ADT] function_ref's constructor is unavailable if the argument is not callable.
  llvm/include/llvm/ADT/STLExtras.h
  llvm/lib/AsmParser/LLParser.h
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/unittests/ADT/FunctionRefTest.cpp
Owners: @carbon-language/admin-team

[json] Provide a means to delegate writing a value to another API
  llvm/include/llvm/Support/JSON.h
  llvm/lib/Support/JSON.cpp
  llvm/unittests/Support/JSONTest.cpp
Owners: @carbon-language/admin-team

[WebAssembly] Rename Emscripten EH functions
  llvm/lib/Target/WebAssembly/WebAssemblyAsmPrinter.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyAsmPrinter.h
  llvm/lib/Target/WebAssembly/WebAssemblyLowerEmscriptenEHSjLj.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyMCInstLower.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyTargetMachine.cpp
  llvm/test/CodeGen/WebAssembly/function-bitcasts.ll
  llvm/test/CodeGen/WebAssembly/lower-em-ehsjlj-multi-return.ll
  llvm/test/CodeGen/WebAssembly/lower-em-ehsjlj-options.ll
  llvm/test/CodeGen/WebAssembly/lower-em-sjlj-sret.ll
  llvm/test/CodeGen/WebAssembly/lower-em-sjlj.ll
Owners: @carbon-language/admin-team

[mlir][CAPI] Attribute set/remove on operations.
  mlir/include/mlir-c/IR.h
  mlir/lib/CAPI/IR/IR.cpp
  mlir/test/CAPI/ir.c
Owners: @carbon-language/admin-team

Add yaml files to site to allow doc references (#169)
  src/jekyll/_config.yml
  src/jekyll/site/.pre-commit-config.yaml
  src/jekyll/site/.prettierrc.yaml
Owners: @carbon-language/infra-team

[NFC] Add contributors names to CREDITS.TXT
  llvm/CREDITS.TXT
Owners: @carbon-language/admin-team

[clangd] Disambiguate overloads of std::move for header insertion.
  clang-tools-extra/clangd/index/CanonicalIncludes.cpp
  clang-tools-extra/clangd/index/SymbolCollector.cpp
  clang-tools-extra/clangd/index/SymbolCollector.h
  clang-tools-extra/clangd/unittests/CanonicalIncludesTests.cpp
  clang-tools-extra/clangd/unittests/SymbolCollectorTests.cpp
Owners: @carbon-language/admin-team

Rename the VECREDUCE_STRICT_{FADD,FMUL} SDNodes to VECREDUCE_SEQ_{FADD,FMUL}.
  llvm/include/llvm/CodeGen/ISDOpcodes.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGDumper.cpp
Owners: @carbon-language/admin-team

[AMDGPU] Use default zero flag operands in flat scratch
  llvm/lib/Target/AMDGPU/FLATInstructions.td
Owners: @carbon-language/admin-team

[LAA] Use DL to get element size for bound computation.
  llvm/lib/Analysis/LoopAccessAnalysis.cpp
  llvm/test/Transforms/LoopVectorize/X86/pr23997.ll
  llvm/test/Transforms/LoopVectorize/runtime-check-pointer-element-type.ll
Owners: @carbon-language/admin-team

[test][MC] Use %python in llvm/test/MC/COFF/bigobj.py
  llvm/test/MC/COFF/bigobj.py
Owners: @carbon-language/admin-team

[AMDGPU] Add tied operand to d16 scratch loads
  llvm/lib/Target/AMDGPU/FLATInstructions.td
Owners: @carbon-language/admin-team

[mlir] Fix build after 322d0afd875df66b36e4810a2b95c20a8f22ab9b due to change in intrinsic overloads.
  mlir/include/mlir/Dialect/LLVMIR/LLVMOpBase.td
  mlir/test/Target/llvmir-intrinsics.mlir
Owners: @carbon-language/admin-team

[CodeGen][X86] Cleanup labels on some sse/avx intrinsics tests. NFCI.
  clang/test/CodeGen/X86/avx-builtins-constrained-cmp.c
  clang/test/CodeGen/X86/avx-builtins.c
  clang/test/CodeGen/X86/avx-shuffle-builtins.c
  clang/test/CodeGen/X86/sse-builtins-constrained-cmp.c
  clang/test/CodeGen/X86/sse-builtins.c
  clang/test/CodeGen/X86/sse2-builtins.c
Owners: @carbon-language/admin-team

Fix Wdocumentation warnings due to case mismatch. NFCI.
  llvm/include/llvm/CodeGen/CalcSpillWeights.h
Owners: @carbon-language/admin-team

changes based on meeting today
  proposals/p0162.md
Owners: @carbon-language/review-managers

Fix MSVC "not all control paths return a value" warning. NFCI.
  llvm/lib/Target/WebAssembly/WebAssemblyAsmPrinter.cpp
Owners: @carbon-language/admin-team

describe alternatives regarding methods
  proposals/p0162.md
Owners: @carbon-language/review-managers

Add a clarifying a comment on CastInst::isNoopCast
  llvm/include/llvm/IR/InstrTypes.h
Owners: @carbon-language/admin-team

[clangd] Add a NewName optional parameter to clangdServer::prepareRename.
  clang-tools-extra/clangd/ClangdLSPServer.cpp
  clang-tools-extra/clangd/ClangdServer.cpp
  clang-tools-extra/clangd/ClangdServer.h
  clang-tools-extra/clangd/unittests/RenameTests.cpp
  clang-tools-extra/clangd/unittests/SyncAPI.cpp
  clang-tools-extra/clangd/unittests/SyncAPI.h
Owners: @carbon-language/admin-team

Add REQUIRES: x86-registered-target to test as it was failing on build bots without x86.
  llvm/test/DebugInfo/dwarfdump-debug-frame-simple.test
Owners: @carbon-language/admin-team
