Repository carbon-language/carbon-lang, changes with the owners that CODEOWNERS names for each.
All owners: @carbon-language/admin-team, @carbon-language/core-team, @carbon-language/review-managers, @carbon-language/infra-team

CODEOWNERS:

# Global owners.
*           @carbon-language/admin-team

# The core team owns the core language and project documentation.
/docs/      @carbon-language/core-team

# The review managers own updates to the proposals.
/proposals/ @carbon-language/review-managers

# This directory contains infrastructure and support scripts
/src/       @carbon-language/infra-team

[test][NewPM] Make dead-uses.ll work under NPM
  llvm/test/Analysis/GlobalsModRef/dead-uses.ll
Owners: @carbon-language/admin-team

[test][InstCombine][NewPM] Fix InstCombine tests under NPM
  llvm/test/Transforms/InstCombine/cast-call-combine.ll
  llvm/test/Transforms/InstCombine/early_dce_clobbers_callgraph.ll
  llvm/test/Transforms/InstCombine/fputs-opt-size.ll
  llvm/test/Transforms/InstCombine/gep-combine-loop-invariant.ll
  llvm/test/Transforms/InstCombine/infinite-loop-postdom.ll
Owners: @carbon-language/admin-team

[BPF][NewPM] Make BPFTargetMachine properly adjust NPM optimizer pipeline
  llvm/lib/Target/BPF/BPF.h
  llvm/lib/Target/BPF/BPFAbstractMemberAccess.cpp
  llvm/lib/Target/BPF/BPFPreserveDIType.cpp
  llvm/lib/Target/BPF/BPFTargetMachine.cpp
  llvm/lib/Target/BPF/BPFTargetMachine.h
  llvm/test/CodeGen/BPF/CORE/store-addr.ll
Owners: @carbon-language/admin-team

[HIP] Restructure hip headers to add cmath
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/__clang_hip_cmath.h
  clang/lib/Headers/__clang_hip_libdevice_declares.h
  clang/lib/Headers/__clang_hip_math.h
  clang/lib/Headers/__clang_hip_runtime_wrapper.h
Owners: @carbon-language/admin-team

[gn build] Port aa2b593f149
  llvm/utils/gn/secondary/clang/lib/Headers/BUILD.gn
Owners: @carbon-language/admin-team

[SimplifyLibCalls] Optimize mempcpy_chk to mempcpy
  llvm/include/llvm/Analysis/TargetLibraryInfo.def
  llvm/include/llvm/Transforms/Utils/BuildLibCalls.h
  llvm/include/llvm/Transforms/Utils/SimplifyLibCalls.h
  llvm/lib/Analysis/TargetLibraryInfo.cpp
  llvm/lib/Transforms/Utils/BuildLibCalls.cpp
  llvm/lib/Transforms/Utils/SimplifyLibCalls.cpp
  llvm/test/Transforms/InstCombine/fortify-folding.ll
  llvm/unittests/Analysis/TargetLibraryInfoTest.cpp
Owners: @carbon-language/admin-team

[HIP] NFC Add comments to cmath functions
  clang/lib/Headers/__clang_hip_cmath.h
Owners: @carbon-language/admin-team

[X86] .code16: temporarily set Mode32Bit when matching an instruction with the data32 prefix
  llvm/lib/Target/X86/AsmParser/X86AsmParser.cpp
  llvm/test/MC/X86/data-prefix-fail.s
  llvm/test/MC/X86/x86-16.s
Owners: @carbon-language/admin-team

[libc++] Allow retries in two flaky tests
  libcxx/test/std/thread/thread.mutex/thread.mutex.requirements/thread.sharedtimedmutex.requirements/thread.sharedtimedmutex.class/try_lock_shared_until.pass.cpp
  libcxx/test/std/thread/thread.mutex/thread.mutex.requirements/thread.timedmutex.requirements/thread.timedmutex.class/lock.pass.cpp
Owners: @carbon-language/admin-team

[APIntTest] Extend extractBits to check 'lshr+trunc' pattern for each case as well.
  llvm/unittests/ADT/APIntTest.cpp
Owners: @carbon-language/admin-team

[flang] Track CHARACTER length better in TypeAndShape
  flang/include/flang/Evaluate/characteristics.h
  flang/lib/Evaluate/characteristics.cpp
  flang/lib/Evaluate/shape.cpp
  flang/lib/Semantics/check-call.cpp
Owners: @carbon-language/admin-team

Update docs/design/code_and_name_organization.md
  docs/design/code_and_name_organization.md
Owners: @carbon-language/core-team

[libc++] Check _LIBCPP_USE_CLOCK_GETTIME before using clock_gettime
  libcxx/src/chrono.cpp
Owners: @carbon-language/admin-team

[MemCpyOpt] Add separate statistic for call slot optimization (NFC)
  llvm/lib/Transforms/Scalar/MemCpyOptimizer.cpp
Owners: @carbon-language/admin-team

[MemCpyOpt] Check for throwing calls during call slot optimization
  llvm/include/llvm/Transforms/Scalar/MemCpyOptimizer.h
  llvm/lib/Transforms/Scalar/MemCpyOptimizer.cpp
  llvm/test/Transforms/MemCpyOpt/callslot.ll
Owners: @carbon-language/admin-team

[MemCpyOpt] Use dereferenceable pointer helper
  llvm/lib/Transforms/Scalar/MemCpyOptimizer.cpp
  llvm/test/Transforms/MemCpyOpt/callslot.ll
Owners: @carbon-language/admin-team

[AMDGPU] Remove SIInstrInfo::calculateLDSSpillAddress
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
Owners: @carbon-language/admin-team

[X86][SSE] combineX86ShuffleChain add 'CanonicalizeShuffleInput' helper. NFCI.
  llvm/lib/Target/X86/X86ISelLowering.cpp
Owners: @carbon-language/admin-team

[SystemZ][z/OS] Set default alignment rules for z/OS target
  clang/lib/Basic/Targets/OSTargets.h
  clang/test/CodeGen/zos-alignment.c
Owners: @carbon-language/admin-team

[AMDGPU] Create isGFX9Plus utility function
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
Owners: @carbon-language/admin-team

[mlir][vector] Fold extractOp coming from broadcastOp
  mlir/lib/Dialect/Vector/VectorOps.cpp
  mlir/test/Dialect/Vector/canonicalize.mlir
Owners: @carbon-language/admin-team

[AMDGPU] Emit correct kernel descriptor on big-endian hosts
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUTargetStreamer.cpp
  llvm/test/MC/AMDGPU/hsa-sgpr-init-bug-v3.s
  llvm/test/MC/AMDGPU/hsa-v3.s
Owners: @carbon-language/admin-team

[mlir][spirv] Fix extended insts deserialization generation
  mlir/tools/mlir-tblgen/SPIRVUtilsGen.cpp
Owners: @carbon-language/admin-team

[mlir][Linalg] Implement tiling on tensors
  mlir/include/mlir/Dialect/Linalg/IR/LinalgStructuredOpsInterface.td
  mlir/include/mlir/Dialect/Linalg/Transforms/Transforms.h
  mlir/include/mlir/Dialect/Linalg/Utils/Utils.h
  mlir/include/mlir/Dialect/StandardOps/IR/Ops.h
  mlir/lib/Dialect/Affine/IR/AffineOps.cpp
  mlir/lib/Dialect/Linalg/Transforms/Fusion.cpp
  mlir/lib/Dialect/Linalg/Transforms/Loops.cpp
  mlir/lib/Dialect/Linalg/Transforms/Tiling.cpp
  mlir/lib/Dialect/Linalg/Transforms/Transforms.cpp
  mlir/lib/Dialect/Linalg/Utils/Utils.cpp
  mlir/test/Dialect/Linalg/tile-tensors.mlir
Owners: @carbon-language/admin-team

[SystemZ][z/OS] Set default alignment rules for z/OS target
  clang/test/CodeGen/zos-alignment.c
Owners: @carbon-language/admin-team

[NFC][flang] Add the header file Todo.h. This file is being upstreamed to satisfy dependencies and enable continued progress on lowering of OpenMP, OpenACC, etc.
  flang/include/flang/Lower/Todo.h
Owners: @carbon-language/admin-team

[AMDGPU] Fix remaining kernel descriptor test
  llvm/test/MC/AMDGPU/hsa-gfx10-v3.s
Owners: @carbon-language/admin-team

[mlir][spirv] Add Vector to SPIR-V conversion pass
  mlir/include/mlir/Conversion/Passes.h
  mlir/include/mlir/Conversion/Passes.td
  mlir/include/mlir/Conversion/VectorToSPIRV/ConvertVectorToSPIRV.h
  mlir/include/mlir/Conversion/VectorToSPIRV/ConvertVectorToSPIRVPass.h
  mlir/include/mlir/Dialect/SPIRV/SPIRVCompositeOps.td
  mlir/lib/Conversion/CMakeLists.txt
  mlir/lib/Conversion/VectorToSPIRV/CMakeLists.txt
  mlir/lib/Conversion/VectorToSPIRV/VectorToSPIRV.cpp
  mlir/lib/Dialect/SPIRV/SPIRVOps.cpp
  mlir/test/Conversion/VectorToSPIRV/simple.mlir
Owners: @carbon-language/admin-team

[NFC][MC] Type uses of MCRegUnitIterator as MCRegister
  llvm/include/llvm/CodeGen/LiveIntervals.h
  llvm/include/llvm/CodeGen/TargetRegisterInfo.h
  llvm/lib/CodeGen/BreakFalseDeps.cpp
  llvm/lib/CodeGen/EarlyIfConversion.cpp
Owners: @carbon-language/admin-team

[c++17] Implement P0145R3 during constant evaluation.
  clang/lib/AST/ExprConstant.cpp
  clang/test/SemaCXX/constant-expression-cxx1z.cpp
  clang/www/cxx_status.html
Owners: @carbon-language/admin-team

[libc++] Add a script to setup CI on macOS nodes
  libcxx/utils/ci/macos-ci-setup
Owners: @carbon-language/admin-team

Revert [lit] Support running tests on Windows without GnuWin32
  llvm/utils/lit/lit/llvm/config.py
Owners: @carbon-language/admin-team

Remove unneeded "allow-unregistered-dialect" from shape-type-conversion.mlir test (NFC)
  mlir/test/Dialect/Shape/shape-type-conversion.mlir
Owners: @carbon-language/admin-team

[mlir] [sparse] convenience runtime support to read Matrix Market format
  mlir/integration_test/CMakeLists.txt
  mlir/integration_test/Sparse/CPU/lit.local.cfg
  mlir/integration_test/Sparse/CPU/matrix-market-example.mlir
  mlir/integration_test/data/test.mtx
  mlir/lib/ExecutionEngine/CMakeLists.txt
  mlir/lib/ExecutionEngine/SparseUtils.cpp
Owners: @carbon-language/admin-team

[libc++] Add assert to check bounds in `constexpr string_view::operator[]`
  libcxx/include/string_view
Owners: @carbon-language/admin-team

[CMake] Track TSan's dependency on C++ headers
  compiler-rt/cmake/Modules/AddCompilerRT.cmake
  compiler-rt/lib/tsan/CMakeLists.txt
Owners: @carbon-language/admin-team

Updates
  docs/design/code_and_name_organization.md
  proposals/p0107.md
Owners: @carbon-language/core-team, @carbon-language/review-managers

Minor adjustment
  docs/design/code_and_name_organization.md
Owners: @carbon-language/core-team

Replace shadow space zero-out by madvise at mmap
  compiler-rt/lib/dfsan/dfsan_interceptors.cpp
  compiler-rt/test/dfsan/munmap_release_shadow.c
  compiler-rt/test/dfsan/release_shadow_space.c
Owners: @carbon-language/admin-team

docs: Emphasize ArrayRef over SmallVectorImpl
  llvm/docs/ProgrammersManual.rst
Owners: @carbon-language/admin-team
