Repository carbon-language/carbon-lang, changes with the owners that CODEOWNERS names for each.
All owners: @carbon-language/admin-team, @carbon-language/core-team, @carbon-language/review-managers, @carbon-language/infra-team

Fix a bad merge
  docs/project/contribution_tools.md
Owners: @carbon-language/core-team

Remove proposal document.
  proposals/p0048.md
Owners: @carbon-language/review-managers

[X86] Add X86ISD opcodes for the Key Locker AESENC*KL and AESDEC*KL instructions
  llvm/lib/Target/X86/X86ISelDAGToDAG.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86ISelLowering.h
  llvm/lib/Target/X86/X86InstrInfo.td
  llvm/lib/Target/X86/X86InstrKL.td
  llvm/test/CodeGen/X86/keylocker-intrinsics.ll
Owners: @carbon-language/admin-team

[RFC] Factor out repetitive cmake patterns for llvm-style projects
  llvm/cmake/modules/LLVMProjectOptions.cmake
  llvm/cmake/modules/LLVMProjectTargets.cmake
  mlir/CMakeLists.txt
  mlir/cmake/modules/AddMLIR.cmake
  mlir/examples/standalone/CMakeLists.txt
  mlir/examples/standalone/standalone-opt/CMakeLists.txt
  mlir/examples/standalone/standalone-translate/CMakeLists.txt
  mlir/examples/toy/CMakeLists.txt
  mlir/test/Examples/standalone/test.toy
  mlir/tools/mlir-cpu-runner/CMakeLists.txt
  mlir/tools/mlir-cuda-runner/CMakeLists.txt
  mlir/tools/mlir-linalg-ods-gen/CMakeLists.txt
  mlir/tools/mlir-opt/CMakeLists.txt
  mlir/tools/mlir-reduce/CMakeLists.txt
  mlir/tools/mlir-rocm-runner/CMakeLists.txt
  mlir/tools/mlir-translate/CMakeLists.txt
  mlir/tools/mlir-vulkan-runner/CMakeLists.txt
Owners: @carbon-language/admin-team

[X86] Move ENCODEKEY128/256 handling from lowering to selection.
  llvm/lib/Target/X86/X86ISelDAGToDAG.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
Owners: @carbon-language/admin-team

[X86] Remove X86ISD::MWAITX_DAG. Just match the intrinsic to the custom inserter pseudo instruction during isel.
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86ISelLowering.h
  llvm/lib/Target/X86/X86InstrCompiler.td
  llvm/lib/Target/X86/X86InstrInfo.td
  llvm/test/tools/llvm-mca/X86/Generic/resources-mwaitx.s
  llvm/test/tools/llvm-mca/X86/Znver1/resources-mwaitx.s
  llvm/test/tools/llvm-mca/X86/Znver2/resources-mwaitx.s
Owners: @carbon-language/admin-team

[X86] Add memory operand to AESENC/AESDEC Key Locker instructions.
  llvm/lib/Target/X86/X86ISelDAGToDAG.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86ISelLowering.h
  llvm/lib/Target/X86/X86InstrInfo.td
  llvm/lib/Target/X86/X86InstrKL.td
  llvm/test/CodeGen/X86/keylocker-intrinsics.ll
Owners: @carbon-language/admin-team

[X86] LOADIWKEY, ENCODEKEY128 and ENCODEKEY256 clobber EFLAGS.
  llvm/lib/Target/X86/X86InstrKL.td
Owners: @carbon-language/admin-team

[lldb] [test/Register] Mark new FP reg tests XFAIL on Darwin
  lldb/test/Shell/Register/x86-64-fp-write.test
  lldb/test/Shell/Register/x86-fp-read.test
Owners: @carbon-language/admin-team

[RISCV][ASAN] unwind fixup
  compiler-rt/lib/sanitizer_common/sanitizer_stacktrace.cpp
Owners: @carbon-language/admin-team

[OldPM] Pass manager: run SROA after (simple) loop unrolling
  clang/test/CodeGenCXX/union-tbaa2.cpp
  clang/test/Misc/loop-opt-setup.c
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/lib/Transforms/IPO/PassManagerBuilder.cpp
  llvm/test/Other/opt-O2-pipeline.ll
  llvm/test/Other/opt-O3-pipeline-enable-matrix.ll
  llvm/test/Other/opt-O3-pipeline.ll
  llvm/test/Other/opt-Os-pipeline.ll
  llvm/test/Transforms/PhaseOrdering/X86/SROA-after-loop-unrolling.ll
Owners: @carbon-language/admin-team

Cleanup formatting
  docs/project/pull_request_workflow.md
Owners: @carbon-language/core-team

[RISCV][ASAN] support code for architecture-specific parts of asan
  compiler-rt/lib/asan/asan_allocator.h
  compiler-rt/lib/asan/asan_mapping.h
  compiler-rt/lib/asan/asan_shadow_setup.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_common.h
  compiler-rt/lib/sanitizer_common/sanitizer_common_syscalls.inc
  compiler-rt/lib/sanitizer_common/sanitizer_linux.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_linux_libcdep.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_platform.h
  compiler-rt/lib/sanitizer_common/sanitizer_platform_interceptors.h
  compiler-rt/lib/sanitizer_common/sanitizer_platform_limits_posix.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_platform_limits_posix.h
  compiler-rt/lib/sanitizer_common/sanitizer_stacktrace.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_stacktrace.h
  compiler-rt/lib/sanitizer_common/sanitizer_stoptheworld_linux_libcdep.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer_libcdep.cpp
Owners: @carbon-language/admin-team

[CodeGen] Improve likelihood branch weights
  clang/lib/CodeGen/CGStmt.cpp
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/test/CodeGenCXX/attr-likelihood-if-vs-builtin-expect.cpp
Owners: @carbon-language/admin-team

[RISCV][ASAN] instrumentation pass now uses proper shadow offset
  llvm/lib/Transforms/Instrumentation/AddressSanitizer.cpp
Owners: @carbon-language/admin-team

[X86][SSE] isTargetShuffleEquivalent - ensure shuffle inputs are the correct size.
  llvm/lib/Target/X86/X86ISelLowering.cpp
Owners: @carbon-language/admin-team

[MemCpyOpt] Add additional call slot tests (NFC)
  llvm/test/Transforms/MemCpyOpt/callslot.ll
Owners: @carbon-language/admin-team

[SDAG] fold x * 0.0 at node creation time
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/ARM/softfp-constant-comparison.ll
  llvm/test/CodeGen/X86/fmul-combines.ll
Owners: @carbon-language/admin-team

[PowerPC] Add builtins for xvtdiv(dp|sp) and xvtsqrt(dp|sp).
  clang/include/clang/Basic/BuiltinsPPC.def
  clang/lib/Headers/altivec.h
  clang/test/CodeGen/builtins-ppc-vsx.c
  llvm/include/llvm/IR/IntrinsicsPowerPC.td
  llvm/lib/Target/PowerPC/PPCInstrVSX.td
  llvm/test/CodeGen/PowerPC/vsx_builtins.ll
Owners: @carbon-language/admin-team

[NFC][clang][codegen] Autogenerate a few ARM SVE tests that are being affected by an upcoming patch
  clang/test/CodeGen/attr-arm-sve-vector-bits-bitcast.c
  clang/test/CodeGen/attr-arm-sve-vector-bits-call.c
  clang/test/CodeGen/attr-arm-sve-vector-bits-cast.c
  clang/test/CodeGen/attr-arm-sve-vector-bits-globals.c
Owners: @carbon-language/admin-team

[VPlan] Account for removed users in replaceAllUsesWith.
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/unittests/Transforms/Vectorize/VPlanTest.cpp
Owners: @carbon-language/admin-team

[VPlan] Add VPRecipeBase::toVPUser helper (NFC).
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/unittests/Transforms/Vectorize/VPlanTest.cpp
Owners: @carbon-language/admin-team

[X86] Consolidate wide Key Locker intrinsics into the same header as the other Key Locker intrinsics.
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/immintrin.h
  clang/lib/Headers/keylocker_wide_intrin.h
  clang/lib/Headers/keylockerintrin.h
Owners: @carbon-language/admin-team

[X86] Synchronize the loadiwkey builtin operand order with gcc version.
  clang/include/clang/Basic/BuiltinsX86.def
  clang/lib/Headers/keylockerintrin.h
  llvm/include/llvm/IR/IntrinsicsX86.td
  llvm/lib/Target/X86/X86InstrKL.td
  llvm/test/CodeGen/X86/keylocker-intrinsics.ll
Owners: @carbon-language/admin-team

[X86] Synchronize the encodekey builtins with gcc. Don't assume void* is 16 byte aligned.
  clang/include/clang/Basic/BuiltinsX86.def
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Headers/keylockerintrin.h
  clang/test/CodeGen/X86/keylocker.c
  llvm/test/CodeGen/X86/keylocker-intrinsics-fast-isel.ll
Owners: @carbon-language/admin-team

[X86] Sync AESENC/DEC Key Locker builtins with gcc.
  clang/include/clang/Basic/BuiltinsX86.def
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Headers/keylockerintrin.h
  clang/test/CodeGen/X86/keylocker.c
  llvm/test/CodeGen/X86/keylocker-intrinsics-fast-isel.ll
Owners: @carbon-language/admin-team

[gn build] Port 6c6cd5f8a97
  llvm/utils/gn/secondary/clang/lib/Headers/BUILD.gn
Owners: @carbon-language/admin-team

[SDA] Fix -Wunused-function in -DLLVM_ENABLE_ASSERTIONS=off builds
  llvm/lib/Analysis/SyncDependenceAnalysis.cpp
Owners: @carbon-language/admin-team

[X86] Remove an accidentally added file. NFC.
  llvm/lib/Target/X86/X86InstrInfo.td.rej
Owners: @carbon-language/admin-team

[MemCpyOpt] Don't use array allocas in tests (NFC)
  llvm/test/Transforms/MemCpyOpt/callslot.ll
Owners: @carbon-language/admin-team

Implement callee/caller type checking for llvm.call
  mlir/include/mlir/Dialect/LLVMIR/LLVMOps.td
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/test/Dialect/LLVMIR/invalid.mlir
Owners: @carbon-language/admin-team

[MemCpyOpt] Add tests for call slot optimization with GEPs (NFC)
  llvm/test/Transforms/MemCpyOpt/callslot.ll
Owners: @carbon-language/admin-team

llvm-dwarfdump: Skip tombstoned address ranges
  lldb/source/Plugins/SymbolFile/DWARF/DWARFUnit.cpp
  llvm/include/llvm/BinaryFormat/Dwarf.h
  llvm/include/llvm/DebugInfo/DWARF/DWARFDebugRnglists.h
  llvm/lib/DebugInfo/DWARF/DWARFDebugLine.cpp
  llvm/lib/DebugInfo/DWARF/DWARFDebugRangeList.cpp
  llvm/lib/DebugInfo/DWARF/DWARFDebugRnglists.cpp
  llvm/lib/DebugInfo/DWARF/DWARFDie.cpp
  llvm/test/tools/llvm-dwarfdump/X86/tombstone.s
Owners: @carbon-language/admin-team

[NFC][SCEV] Add a test with some patterns where we could treat inttoptr/ptrtoint as semi-transparent
  llvm/test/Analysis/ScalarEvolution/semi-transparent-inttoptr-ptrtoint-casts.ll
Owners: @carbon-language/admin-team

[Coroutines][NewPM] Fix coroutine tests under new pass manager
  llvm/test/Transforms/Coroutines/coro-retcon-alloca.ll
  llvm/test/Transforms/Coroutines/coro-retcon-once-value.ll
  llvm/test/Transforms/Coroutines/coro-retcon-resume-values.ll
  llvm/test/Transforms/Coroutines/coro-retcon-value.ll
  llvm/test/Transforms/Coroutines/coro-retcon.ll
  llvm/test/Transforms/Coroutines/coro-swifterror.ll
Owners: @carbon-language/admin-team

Revert "[RFC] Factor out repetitive cmake patterns for llvm-style projects"
  llvm/cmake/modules/LLVMProjectOptions.cmake
  llvm/cmake/modules/LLVMProjectTargets.cmake
  mlir/CMakeLists.txt
  mlir/cmake/modules/AddMLIR.cmake
  mlir/examples/standalone/CMakeLists.txt
  mlir/examples/standalone/standalone-opt/CMakeLists.txt
  mlir/examples/standalone/standalone-translate/CMakeLists.txt
  mlir/examples/toy/CMakeLists.txt
  mlir/test/Examples/standalone/test.toy
  mlir/tools/mlir-cpu-runner/CMakeLists.txt
  mlir/tools/mlir-cuda-runner/CMakeLists.txt
  mlir/tools/mlir-linalg-ods-gen/CMakeLists.txt
  mlir/tools/mlir-opt/CMakeLists.txt
  mlir/tools/mlir-reduce/CMakeLists.txt
  mlir/tools/mlir-rocm-runner/CMakeLists.txt
  mlir/tools/mlir-translate/CMakeLists.txt
  mlir/tools/mlir-vulkan-runner/CMakeLists.txt
Owners: @carbon-language/admin-team

[X86] Remove usesCustomInserter from MWAITX_SAVE_EBX and MWAITX_SAVE_RBX. NFC
  llvm/lib/Target/X86/X86InstrCompiler.td
Owners: @carbon-language/admin-team

[X86] Correct the implicit defs/uses for the MWAITX pseudo instructions.
  llvm/lib/Target/X86/X86InstrCompiler.td
Owners: @carbon-language/admin-team

[DomTree] findNearestCommonDominator: assert the nodes are in tree
  llvm/include/llvm/Support/GenericDomTree.h
Owners: @carbon-language/admin-team

llvm-dwarfdump: Dump address forms in their encoded length rather than always in 64 bits
  llvm/include/llvm/DebugInfo/DWARF/DWARFFormValue.h
  llvm/lib/DebugInfo/DWARF/DWARFAddressRange.cpp
  llvm/lib/DebugInfo/DWARF/DWARFDebugArangeSet.cpp
  llvm/lib/DebugInfo/DWARF/DWARFDebugRnglists.cpp
  llvm/lib/DebugInfo/DWARF/DWARFDie.cpp
  llvm/lib/DebugInfo/DWARF/DWARFFormValue.cpp
  llvm/test/DebugInfo/MIR/ARM/subregister-full-piece.mir
  llvm/test/DebugInfo/MIR/Hexagon/bundled-call-pr44001.mir
  llvm/test/DebugInfo/Mips/dbg-call-site-low-pc.ll
  llvm/test/DebugInfo/X86/debug-loc-offset.mir
  llvm/test/DebugInfo/X86/debug_addr.ll
  llvm/test/MC/ARM/dwarf-asm-multiple-sections-dwarf-2.s
  llvm/test/MC/ARM/dwarf-asm-nonstandard-section.s
  llvm/test/MC/ARM/dwarf-asm-single-section.s
  llvm/test/MC/MachO/gen-dwarf.s
  llvm/test/MC/WebAssembly/debug-localvar.ll
  llvm/test/MC/WebAssembly/dwarfdump.ll
  llvm/test/tools/llvm-dwarfdump/X86/gnu_call_site.s
  llvm/test/tools/llvm-dwarfdump/X86/tombstone.s
Owners: @carbon-language/admin-team

CODEOWNERS:

# Global owners.
*           @carbon-language/admin-team

# The core team owns the core language and project documentation.
/docs/      @carbon-language/core-team

# The review managers own updates to the proposals.
/proposals/ @carbon-language/review-managers

# This directory contains infrastructure and support scripts
/src/       @carbon-language/infra-team
