Repository carbon-language/carbon-lang, changes with the owners that CODEOWNERS names for each.
All owners: @chandlerc, @jonmeow, @zygoloid, @carbon-language/core-team, @carbon-language/review-managers

CODEOWNERS:

# Global owners.
* @chandlerc @jonmeow @zygoloid

# Owners for the the language and project documentation.
/docs/ @carbon-language/core-team @jonmeow

# Owners for the proposals.
/proposals/ @carbon-language/review-managers

# Owners for the website and related utilities.
/src/ @jonmeow

[lldb] Fix the modules build
  llvm/include/llvm/Analysis/Utils/Local.h
Owners: @chandlerc, @jonmeow, @zygoloid

[clang][driver] allow macOS 11 OS version in the driver
  clang/lib/Driver/ToolChains/Darwin.cpp
  clang/test/Driver/darwin-version.c
Owners: @chandlerc, @jonmeow, @zygoloid

Remove clang::Codegen::EHPadEndScope as unused
  clang/lib/CodeGen/CGCleanup.h
  clang/lib/CodeGen/CGException.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[mlir] [integration-test] Let target check-mlir imply target check-mlir-integration too
  mlir/integration_test/CMakeLists.txt
Owners: @chandlerc, @jonmeow, @zygoloid

[WebAssembly] Fix for use of uninitialized member in WasmObjectWriter.cpp
  llvm/lib/MC/WasmObjectWriter.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Move late-parsed class member attribute handling adjacent to all the other late-parsed class component handling.
  clang/lib/Parse/ParseCXXInlineMethods.cpp
  clang/lib/Parse/ParseDecl.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[AMDGPU] Update AMD GPU processor information
  llvm/docs/AMDGPUUsage.rst
Owners: @chandlerc, @jonmeow, @zygoloid

[ELF] Add -z start-stop-visibility= to set __start_/__stop_ symbol visibility
  lld/ELF/Config.h
  lld/ELF/Driver.cpp
  lld/ELF/Writer.cpp
  lld/test/ELF/startstop-visibility.s
Owners: @chandlerc, @jonmeow, @zygoloid

[lld][ELF][AArch64] Handle R_AARCH64_PLT32 relocation
  lld/ELF/Arch/AArch64.cpp
  lld/ELF/InputSection.cpp
  lld/ELF/Thunks.cpp
  lld/test/ELF/aarch64-range-thunk-extension-plt32.s
  lld/test/ELF/aarch64-reloc-plt32.s
  lld/test/ELF/aarch64-undefined-weak.s
Owners: @chandlerc, @jonmeow, @zygoloid

[IR] Prefer scalar type for struct indexes in GEP constant expressions.
  llvm/lib/IR/Constants.cpp
  llvm/lib/IR/DataLayout.cpp
  llvm/test/Analysis/ConstantFolding/vectorgep-crash.ll
  llvm/test/Transforms/InstSimplify/gep.ll
Owners: @chandlerc, @jonmeow, @zygoloid

Progress
  docs/design/interoperability/README.md
  docs/design/interoperability/vocabulary_types.md
Owners: @carbon-language/core-team, @jonmeow

[AArch64][SVE] Add legalization support for i32/i64 vector srem/urem
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/lib/CodeGen/SelectionDAG/LegalizeDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorOps.cpp
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.cpp
  llvm/lib/Target/ARM/ARMISelLowering.cpp
  llvm/test/CodeGen/AArch64/llvm-ir-to-intrinsic.ll
Owners: @chandlerc, @jonmeow, @zygoloid

Addressing comments
  docs/design/structs.md
  docs/design/templates.md
  proposals/p0083.md
Owners: @carbon-language/core-team, @jonmeow, @carbon-language/review-managers

[NFC] Remove outdated comment in llvm-symbolizer test case.
  llvm/test/tools/llvm-symbolizer/pdb/pdb-native.test
Owners: @chandlerc, @jonmeow, @zygoloid

DR458: Search template parameter scopes in the right order.
  clang/include/clang/Parse/Parser.h
  clang/include/clang/Sema/Scope.h
  clang/include/clang/Sema/Sema.h
  clang/lib/AST/DeclBase.cpp
  clang/lib/Parse/ParseCXXInlineMethods.cpp
  clang/lib/Parse/ParseDeclCXX.cpp
  clang/lib/Parse/ParseExprCXX.cpp
  clang/lib/Parse/ParseOpenMP.cpp
  clang/lib/Parse/ParseTemplate.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Sema/SemaLookup.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/test/CXX/drs/dr4xx.cpp
  clang/test/CXX/temp/temp.res/temp.local/p8.cpp
  clang/test/SemaCXX/lambda-expressions.cpp
  clang/www/cxx_dr_status.html
Owners: @chandlerc, @jonmeow, @zygoloid

[clang codegen] Fix alignment of "Address" for incomplete array pointer.
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/test/CodeGenCXX/alignment.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[MLIR] [NFC] Add new line and empty line before printing modified loop to make the debug output readable.
  mlir/lib/Transforms/LoopInvariantCodeMotion.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[WebAssebmly] Fully disable 'protected' visibility
  clang/lib/Basic/Targets/WebAssembly.h
Owners: @chandlerc, @jonmeow, @zygoloid

AMDGPU/GlobalISel: Fix fixed ABI special VGPR function arguments
  llvm/lib/Target/AMDGPU/AMDGPUCallLowering.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-fixed-function-abi-vgpr-args.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[SimplifyCFG] Drop debug loc in SpeculativelyExecuteBB
  llvm/lib/Transforms/Utils/SimplifyCFG.cpp
  llvm/test/Transforms/SimplifyCFG/drop-debug-loc-when-speculating.ll
Owners: @chandlerc, @jonmeow, @zygoloid

Remove GlobalValue::getAlignment().
  llvm/include/llvm/CodeGen/AsmPrinter.h
  llvm/include/llvm/IR/GlobalObject.h
  llvm/include/llvm/IR/GlobalValue.h
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/IR/ConstantFold.cpp
  llvm/lib/IR/Core.cpp
  llvm/lib/IR/Globals.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/lib/LTO/LTOModule.cpp
  llvm/lib/Object/IRSymtab.cpp
  llvm/lib/Target/AArch64/AArch64ISelDAGToDAG.cpp
  llvm/lib/Target/AArch64/GISel/AArch64InstructionSelector.cpp
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.cpp
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.cpp
  llvm/lib/Target/AMDGPU/AMDGPUMachineFunction.cpp
  llvm/lib/Target/AMDGPU/AMDGPUMachineFunction.h
  llvm/lib/Target/PowerPC/PPCAsmPrinter.cpp
  llvm/lib/Target/PowerPC/PPCISelDAGToDAG.cpp
  llvm/lib/Target/PowerPC/PPCInstrInfo.cpp
  llvm/lib/Target/SystemZ/SystemZSubtarget.cpp
  llvm/lib/Target/XCore/XCoreISelLowering.cpp
  llvm/test/CodeGen/AArch64/funcptr_cast.ll
  llvm/test/CodeGen/AArch64/global-alignment.ll
  llvm/test/CodeGen/PowerPC/atomics-constant.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[AArch64][GlobalISel] Improve codegen for some constant vectors by using constant pool loads.
  llvm/lib/Target/AArch64/GISel/AArch64InstructionSelector.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/select-const-vector.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-vector-icmp.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-vector-shift.mir
  llvm/test/CodeGen/AArch64/combine-loads.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[PowerPC] Add support for vector bool __int128 for Power10
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/DeclSpec.cpp
  clang/test/Parser/altivec-bool-128.c
  clang/test/Parser/cxx-altivec-bool-128.cpp
  clang/test/Parser/p10-vector-bool-128.c
Owners: @chandlerc, @jonmeow, @zygoloid

[BitcodeReader] Fix DelayedShuffle handling for ConstantExpr shuffles.
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/test/Bitcode/vscale-shuffle.ll
Owners: @chandlerc, @jonmeow, @zygoloid

Add option to symbolize inline frames for InternalSymbolizer
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer_posix_libcdep.cpp
  compiler-rt/lib/sanitizer_common/symbolizer/sanitizer_symbolize.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[NFC][MLIR] Undo anonymous namespace change from https://reviews.llvm.org/D82417
  mlir/lib/Transforms/LoopInvariantCodeMotion.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Apply suggestions from code review
  docs/project/code_review.md
  proposals/p0042.md
Owners: @carbon-language/core-team, @jonmeow, @carbon-language/review-managers

Match proposal name.
  proposals/p0042.md
Owners: @carbon-language/review-managers

[cmake] configure the host triple on an Apple Silicon machine correctly
  llvm/cmake/config.guess
Owners: @chandlerc, @jonmeow, @zygoloid

[clang][driver] set macOS as the target OS for -arch arm64 when clang is running on an Apple Silicon mac
  clang/lib/Driver/ToolChains/Darwin.cpp
  clang/test/Driver/apple-arm64-arch.c
  clang/test/Driver/apple-silicon-arch.c
  clang/test/lit.cfg.py
Owners: @chandlerc, @jonmeow, @zygoloid

test fix: add missing system-darwin REQUIRES
  clang/test/Driver/apple-arm64-arch.c
Owners: @chandlerc, @jonmeow, @zygoloid

[lldb/Test] Temporarily disable TestSimulatorPlatform.py
  lldb/test/API/macosx/simulator/TestSimulatorPlatform.py
Owners: @chandlerc, @jonmeow, @zygoloid

[X86] Add mayLoad/mayStore flags to some X87 instructions that don't have isel patterns to infer them from.
  llvm/lib/Target/X86/X86InstrFPStack.td
  llvm/test/tools/llvm-mca/X86/Atom/resources-x87.s
  llvm/test/tools/llvm-mca/X86/Barcelona/resources-x87.s
  llvm/test/tools/llvm-mca/X86/BdVer2/resources-x87.s
  llvm/test/tools/llvm-mca/X86/Broadwell/resources-x87.s
  llvm/test/tools/llvm-mca/X86/BtVer2/resources-x87.s
  llvm/test/tools/llvm-mca/X86/Generic/resources-x87.s
  llvm/test/tools/llvm-mca/X86/Haswell/resources-x87.s
  llvm/test/tools/llvm-mca/X86/SLM/resources-x87.s
  llvm/test/tools/llvm-mca/X86/SandyBridge/resources-x87.s
  llvm/test/tools/llvm-mca/X86/SkylakeClient/resources-x87.s
  llvm/test/tools/llvm-mca/X86/SkylakeServer/resources-x87.s
  llvm/test/tools/llvm-mca/X86/Znver1/resources-x87.s
  llvm/test/tools/llvm-mca/X86/Znver2/resources-x87.s
Owners: @chandlerc, @jonmeow, @zygoloid

[libc] Add long double flavors of the floating point manipulation functions.
  libc/config/linux/api.td
  libc/config/linux/x86_64/entrypoints.txt
  libc/spec/spec.td
  libc/spec/stdc.td
  libc/src/math/CMakeLists.txt
  libc/src/math/copysignl.cpp
  libc/src/math/copysignl.h
  libc/src/math/frexpl.cpp
  libc/src/math/frexpl.h
  libc/src/math/logbl.cpp
  libc/src/math/logbl.h
  libc/src/math/modfl.cpp
  libc/src/math/modfl.h
  libc/test/src/math/CMakeLists.txt
  libc/test/src/math/copysignl_test.cpp
  libc/test/src/math/frexpl_test.cpp
  libc/test/src/math/logbl_test.cpp
  libc/test/src/math/modfl_test.cpp
  libc/utils/FPUtil/ManipulationFunctions.h
Owners: @chandlerc, @jonmeow, @zygoloid

[libc][Obvious] Remove a debug #include of iostream.
  libc/test/src/math/frexpl_test.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[X86] Speculatively fix to X86AvoidStoreForwardingBlocks not deference a machine mem operand if there isn't one present.
  llvm/lib/Target/X86/X86AvoidStoreForwardingBlocks.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[libc] Enable copysignl, frexpl, logbl and modfl on aarch64.
  libc/config/linux/aarch64/entrypoints.txt
Owners: @chandlerc, @jonmeow, @zygoloid

[VE] Clang toolchain for VE
  clang/include/clang/Basic/TargetBuiltins.h
  clang/lib/Basic/CMakeLists.txt
  clang/lib/Basic/Targets.cpp
  clang/lib/Basic/Targets/VE.cpp
  clang/lib/Basic/Targets/VE.h
  clang/lib/CodeGen/TargetInfo.cpp
  clang/lib/Driver/CMakeLists.txt
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/Arch/VE.cpp
  clang/lib/Driver/ToolChains/Arch/VE.h
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Driver/ToolChains/Clang.h
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  clang/lib/Driver/ToolChains/Gnu.cpp
  clang/lib/Driver/ToolChains/Linux.cpp
  clang/lib/Driver/ToolChains/VE.cpp
  clang/lib/Driver/ToolChains/VE.h
  clang/test/CodeGen/ve-abi.c
Owners: @chandlerc, @jonmeow, @zygoloid

[AST][RecoveryExpr] Fix a crash: don't attach error-type base specifiers.
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/test/SemaCXX/invalid-template-base-specifier.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[gn build] Port 96d4ccf00c8
  llvm/utils/gn/secondary/clang/lib/Basic/BUILD.gn
  llvm/utils/gn/secondary/clang/lib/Driver/BUILD.gn
Owners: @chandlerc, @jonmeow, @zygoloid
