Repository carbon-language/carbon-lang, changes with the owners that CODEOWNERS names for each.
All owners: @chandlerc, @jonmeow, @zygoloid, @carbon-language/core-team, @carbon-language/review-managers

CODEOWNERS:

# Global owners.
* @chandlerc @jonmeow @zygoloid

# Owners for the the language and project documentation.
/docs/ @carbon-language/core-team @jonmeow

# Owners for the proposals.
/proposals/ @carbon-language/review-managers

# Owners for the website and related utilities.
/src/ @jonmeow

[SLP] Precommit short load / wide math test for AArch64.
  llvm/test/Transforms/SLPVectorizer/AArch64/getelementptr.ll
Owners: @chandlerc, @jonmeow, @zygoloid

GlobalISel: Add unit tests for some utils functions
  llvm/unittests/CodeGen/GlobalISel/CMakeLists.txt
  llvm/unittests/CodeGen/GlobalISel/GISelUtilsTest.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[SemaObjC] Fix a crash on invalid when 'auto' is used in a @property
  clang/lib/Sema/SemaType.cpp
  clang/test/SemaObjCXX/property-invalid-type.mm
Owners: @chandlerc, @jonmeow, @zygoloid

[OpenMP] Adopt std::set in HostDataToTargetMap
  openmp/libomptarget/src/device.cpp
  openmp/libomptarget/src/device.h
  openmp/libomptarget/src/omptarget.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Revert "[llvm] Added support for stand-alone cmake object libraries."
  llvm/cmake/modules/AddLLVM.cmake
Owners: @chandlerc, @jonmeow, @zygoloid

[llvm] Remove full stop frome error message
  llvm/test/tools/llvm-dwarfdump/cmdline.test
  llvm/tools/llvm-dwarfdump/llvm-dwarfdump.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[libTooling] Delete deprecated `Stencil` combinators.
  clang/include/clang/Tooling/Transformer/Stencil.h
  clang/lib/Tooling/Transformer/Stencil.cpp
  clang/unittests/Tooling/StencilTest.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[MLIR] Fix affine loop fusion private memref alloc
  mlir/lib/Transforms/LoopFusion.cpp
  mlir/test/Transforms/loop-fusion.mlir
Owners: @chandlerc, @jonmeow, @zygoloid

LoopUtils.h - reduce AliasAnalysis.h include to forward declarations. NFC.
  llvm/include/llvm/Transforms/Utils/LoopUtils.h
  llvm/lib/Target/ARM/MVETailPredication.cpp
  llvm/lib/Transforms/Scalar/LICM.cpp
  llvm/unittests/Transforms/Utils/LoopUtilsTest.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[gn build] (manually) port bdceefe95ba6a
  llvm/utils/gn/secondary/llvm/test/BUILD.gn
Owners: @chandlerc, @jonmeow, @zygoloid

[gn build] Port 4fb2116ee7f
  llvm/utils/gn/secondary/llvm/unittests/CodeGen/GlobalISel/BUILD.gn
Owners: @chandlerc, @jonmeow, @zygoloid

Start adding support for generating CC1 command lines from CompilerInvocation
  clang/include/clang/Driver/CC1Options.td
  clang/include/clang/Frontend/CompilerInvocation.h
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/unittests/Frontend/CMakeLists.txt
  clang/unittests/Frontend/CompilerInvocationTest.cpp
  llvm/include/llvm/Option/OptParser.td
  llvm/utils/TableGen/OptParserEmitter.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[gn build] Port 29125ddf132
  llvm/utils/gn/secondary/clang/unittests/Frontend/BUILD.gn
Owners: @chandlerc, @jonmeow, @zygoloid

Fix coding style. NFC.
  clang/lib/CodeGen/CodeGenModule.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Comments
  docs/design/interoperability/README.md
  docs/design/interoperability/enums.md
  docs/design/interoperability/example_incremental.md
Owners: @carbon-language/core-team, @jonmeow

[X86] Replace PROC macros with an enum and a lookup table of processor information.
  clang/lib/Basic/Targets/X86.cpp
  llvm/include/llvm/Support/X86TargetParser.def
  llvm/include/llvm/Support/X86TargetParser.h
  llvm/lib/Support/X86TargetParser.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[WPD] Allow virtual calls to be analyzed with multiple type tests
  llvm/lib/Transforms/IPO/WholeProgramDevirt.cpp
  llvm/test/ThinLTO/X86/devirt_multiple_type_test.ll
Owners: @chandlerc, @jonmeow, @zygoloid

Mention metrics
  proposals/p0051.md
Owners: @carbon-language/review-managers

Disable a flaky lldb-vscode test on aarch64
  lldb/test/API/tools/lldb-vscode/launch/TestVSCode_launch.py
Owners: @chandlerc, @jonmeow, @zygoloid

[X86] Rename O3-pipeline.ll to opt-pipeline.ll and add O1/O2 command lines
  llvm/test/CodeGen/X86/opt-pipeline.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[NVPTX] Fix for NVPTX module asm regression
  llvm/lib/Target/NVPTX/NVPTXAsmPrinter.cpp
  llvm/lib/Target/NVPTX/NVPTXAsmPrinter.h
  llvm/test/CodeGen/NVPTX/module-inline-asm.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[llvm-objcopy] Update help messages
  llvm/test/tools/llvm-objcopy/ELF/help-message.test
  llvm/test/tools/llvm-objcopy/MachO/install-name-tool-help-message.test
  llvm/tools/llvm-objcopy/CopyConfig.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[OpenMP][Docs] Mark TR8 `present` as claimed in docs
  clang/docs/OpenMPSupport.rst
Owners: @chandlerc, @jonmeow, @zygoloid

Local.h - reduce includes to forward declarations. NFC.
  llvm/include/llvm/Transforms/Utils/Local.h
  llvm/lib/CodeGen/HardwareLoops.cpp
  llvm/lib/Target/AArch64/AArch64StackTagging.cpp
  llvm/lib/Transforms/Scalar/SCCP.cpp
  llvm/lib/Transforms/Utils/FlattenCFG.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

InstCombineInternal.h - reduce AliasAnalysis.h include to forward declaration. NFC.
  llvm/lib/Transforms/InstCombine/InstCombineInternal.h
  llvm/lib/Transforms/InstCombine/InstCombineLoadStoreAlloca.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[OpenMP][NFC] Remove hard-coded line numbers from test
  clang/test/OpenMP/target_map_codegen.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[ObjC] Copy a block to the heap if it is passed as a variadic argument
  clang/lib/Sema/SemaExpr.cpp
  clang/test/CodeGenObjC/arc-blocks.m
Owners: @chandlerc, @jonmeow, @zygoloid

[FileCheck][NFC] Fix typo in test comment
  llvm/test/FileCheck/dump-input-enable.txt
Owners: @chandlerc, @jonmeow, @zygoloid

[docs] Fix typo
  llvm/docs/HowToUpdateDebugInfo.rst
Owners: @chandlerc, @jonmeow, @zygoloid

[SLP] Limit GEP lists based on width of index computation.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/AArch64/getelementptr.ll
Owners: @chandlerc, @jonmeow, @zygoloid

Apply suggestions from code review
  docs/project/principles/error_handling.md
Owners: @carbon-language/core-team, @jonmeow

[Apple Silicon] Initial support for Rosetta
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[Apple Silicon] Debugging of process under Rosetta is supported.
  lldb/source/Host/macosx/objcxx/Host.mm
Owners: @chandlerc, @jonmeow, @zygoloid

[lld-macho] Use namespace qualifiers (macho::) instead of `namespace lld { namespace macho {`
  lld/MachO/ExportTrie.cpp
  lld/MachO/SyntheticSections.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[BOLT] Do not emit duplicate org symbols
  bolt/src/RewriteInstance.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[llvm-objcopy] Update help message tests
  llvm/test/tools/llvm-objcopy/MachO/install-name-tool-help-message.test
  llvm/test/tools/llvm-objcopy/tool-help-message.test
Owners: @chandlerc, @jonmeow, @zygoloid

Fix crash on XCore on unused inline in EmitTargetMetadata
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/CodeGen/CodeGenModule.h
  clang/lib/CodeGen/TargetInfo.cpp
  clang/lib/CodeGen/TargetInfo.h
  clang/test/CodeGen/xcore-unused-inline.c
Owners: @chandlerc, @jonmeow, @zygoloid

Add --hot-func-list to llvm-profdata show for sample profiles
  llvm/include/llvm/ProfileData/SampleProf.h
  llvm/test/tools/llvm-profdata/Inputs/sample-hot-func-list.proftext
  llvm/test/tools/llvm-profdata/sample-hot-func-list.test
  llvm/tools/llvm-profdata/llvm-profdata.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Fix a pair of wtype-limits and 3 wparentheses warnings from 29125ddf1
  clang/lib/Frontend/CompilerInvocation.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[x86][AArch64] add tests for fmul-fma combine; NFC
  llvm/test/CodeGen/AArch64/fadd-combines.ll
  llvm/test/CodeGen/X86/fma_patterns.ll
Owners: @chandlerc, @jonmeow, @zygoloid
