Repository carbon-language/carbon-lang, changes with the owners that CODEOWNERS names for each.
All owners: @chandlerc, @jonmeow, @zygoloid, @carbon-language/core-team, @carbon-language/review-managers

CODEOWNERS:

# Global owners.
* @chandlerc @jonmeow @zygoloid

# Owners for the the language and project documentation.
/docs/ @carbon-language/core-team @jonmeow

# Owners for the proposals.
/proposals/ @carbon-language/review-managers

# Owners for the website and related utilities.
/src/ @jonmeow

[DSE,MSSA] Add additional tests with non-removable stores (NFC).
  llvm/test/Transforms/DeadStoreElimination/MSSA/simple.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[NPM] Bail out when -foo and --passes=foo are both specified
  llvm/test/Other/opt-old-new-pm-passes.ll
  llvm/test/Transforms/IRCE/bug-loop-varying-upper-limit.ll
  llvm/test/Transforms/IRCE/non-loop-invariant-rhs-instr.ll
  llvm/test/Transforms/LoadStoreVectorizer/X86/codegenprepare-produced-address-math.ll
  llvm/test/Transforms/RewriteStatepointsForGC/relocate-invoke-result.ll
  llvm/test/Transforms/RewriteStatepointsForGC/rewrite-invoke.ll
  llvm/tools/opt/opt.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[MCParser] Support quoted section name for COFF
  llvm/lib/MC/MCParser/COFFAsmParser.cpp
  llvm/test/MC/COFF/section.s
Owners: @chandlerc, @jonmeow, @zygoloid

[DSE,MSSA] Reorder DSE blocking checks.
  llvm/lib/Transforms/Scalar/DeadStoreElimination.cpp
  llvm/test/Transforms/DeadStoreElimination/MSSA/simple.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[VectorCombine] make helper function for shift-shuffle; NFC
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[lldb/Lua] Recognize "quit" as a way to exit the script interpreter.
  lldb/source/Plugins/ScriptInterpreter/Lua/ScriptInterpreterLua.cpp
  lldb/test/Shell/ScriptInterpreter/Lua/quit.test
Owners: @chandlerc, @jonmeow, @zygoloid

[flang] Shape analysis for result of MATMUL
  flang/lib/Evaluate/intrinsics.cpp
  flang/lib/Evaluate/shape.cpp
  flang/lib/Semantics/check-call.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[sve][acle] Add SVE BFloat16 extensions.
  clang/include/clang/Basic/arm_sve.td
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_bfdot.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_bfmlalb.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_bfmlalt.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_bfmmla.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_cvt-bfloat.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_cvtnt.c
  clang/utils/TableGen/SveEmitter.cpp
  llvm/include/llvm/IR/IntrinsicsAArch64.td
  llvm/lib/Target/AArch64/AArch64SVEInstrInfo.td
  llvm/lib/Target/AArch64/SVEInstrFormats.td
  llvm/test/CodeGen/AArch64/sve-intrinsics-bfloat.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[PGO][PGSO] Enable non-cold size opts under partial profile sample PGO.
  llvm/lib/Transforms/Utils/SizeOpts.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Add support of __builtin_expect_with_probability
  clang/include/clang/Basic/Builtins.def
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/test/CodeGen/builtin-expect-with-probability.cpp
  clang/test/Sema/builtin-expect-with-probability-avr.cpp
  clang/test/Sema/builtin-expect-with-probability.cpp
  llvm/docs/BranchWeightMetadata.rst
  llvm/docs/LangRef.rst
  llvm/include/llvm/IR/Intrinsics.td
  llvm/lib/Transforms/Scalar/LowerExpectIntrinsic.cpp
  llvm/test/Transforms/LowerExpectIntrinsic/expect-with-probability.ll
Owners: @chandlerc, @jonmeow, @zygoloid

Update docs/design/name_lookup.md
  docs/design/name_lookup.md
Owners: @carbon-language/core-team, @jonmeow

Update docs/design/functions.md
  docs/design/functions.md
Owners: @carbon-language/core-team, @jonmeow

Update docs/design/functions.md
  docs/design/functions.md
Owners: @carbon-language/core-team, @jonmeow

Update docs/design/structs.md
  docs/design/structs.md
Owners: @carbon-language/core-team, @jonmeow

Update docs/design/structs.md
  docs/design/structs.md
Owners: @carbon-language/core-team, @jonmeow

[clang-tidy] llvm-twine-local ignores parameters
  clang-tools-extra/clang-tidy/llvm/TwineLocalCheck.cpp
  clang-tools-extra/test/clang-tidy/checkers/llvm-twine-local.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[clang-tidy] RenamerClangTidy wont emit fixes in scratch space
  clang-tools-extra/clang-tidy/utils/RenamerClangTidyCheck.cpp
  clang-tools-extra/test/clang-tidy/checkers/readability-identifier-naming.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Update docs/design/structs.md
  docs/design/structs.md
Owners: @carbon-language/core-team, @jonmeow

No overview alternative
  proposals/p0083.md
Owners: @carbon-language/review-managers

[ARM][BFloat] Implement bf16 get/set_lane without casts to i16 vectors
  clang/include/clang/Basic/arm_neon.td
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/test/CodeGen/arm-bf16-getset-intrinsics.c
Owners: @chandlerc, @jonmeow, @zygoloid

No overview alternative
  proposals/p0083.md
Owners: @carbon-language/review-managers

<->
  docs/design/README.md
Owners: @carbon-language/core-team, @jonmeow

Remove ??? for alias
  docs/design/README.md
  docs/design/aliases.md
Owners: @carbon-language/core-team, @jonmeow

Update docs/design/README.md
  docs/design/README.md
Owners: @carbon-language/core-team, @jonmeow

Apply suggestions from code review
  docs/design/README.md
Owners: @carbon-language/core-team, @jonmeow

[llvm] Fix typo in test case comment (NFC)
  llvm/test/Transforms/Inline/always-inline.ll
Owners: @chandlerc, @jonmeow, @zygoloid

Let loops be conditional
  docs/design/README.md
  docs/design/control_flow.md
Owners: @carbon-language/core-team, @jonmeow

Fix
  docs/design/README.md
Owners: @carbon-language/core-team, @jonmeow

Applying suggestions
  docs/design/README.md
Owners: @carbon-language/core-team, @jonmeow

Addressed comments about integer types and classes
  docs/project/principles/interoperability.md
Owners: @carbon-language/core-team, @jonmeow

[mlir] Fix a doc link in LinalgBase.td
  mlir/include/mlir/Dialect/Linalg/IR/LinalgBase.td
Owners: @chandlerc, @jonmeow, @zygoloid

[flang] Fix bug checking SAVE attribute
  flang/lib/Evaluate/tools.cpp
  flang/test/Semantics/resolve45.f90
Owners: @chandlerc, @jonmeow, @zygoloid

Help with proper toc labeling (#86)
  src/scripts/pre-commit-toc.js
Owners: @jonmeow

Help with proper toc labeling (#86)
  src/scripts/pre-commit-toc.js
Owners: @jonmeow

[X86] Calculate the needed size of the feature arrays in _cpu_indicator_init and getHostCPUName using the size of the feature enum.
  compiler-rt/lib/builtins/cpu_model.c
  llvm/include/llvm/Support/X86TargetParser.h
  llvm/lib/Support/Host.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[X86] Remove encoding value from the X86_FEATURE and X86_FEATURE_COMPAT macro. NFCI
  clang/lib/Basic/Targets/X86.cpp
  clang/lib/CodeGen/CGBuiltin.cpp
  llvm/include/llvm/Support/X86TargetParser.def
  llvm/include/llvm/Support/X86TargetParser.h
Owners: @chandlerc, @jonmeow, @zygoloid

Revert "[X86] Calculate the needed size of the feature arrays in _cpu_indicator_init and getHostCPUName using the size of the feature enum."
  compiler-rt/lib/builtins/cpu_model.c
  llvm/include/llvm/Support/X86TargetParser.h
  llvm/lib/Support/Host.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[SVE] Remove calls to VectorType::getNumElements from WebASM
  llvm/lib/Target/WebAssembly/WebAssemblyTargetTransformInfo.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Revert "[X86][SSE] MatchVectorAllZeroTest - handle OR vector reductions"
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/pr45378.ll
  llvm/test/CodeGen/X86/vector-reduce-or-cmp.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[BOLT] Properly register symbols at secondary entry points
  bolt/src/BinaryFunction.cpp
Owners: @chandlerc, @jonmeow, @zygoloid
