Repository carbon-language/carbon-lang, changes with the owners that CODEOWNERS names for each.
All owners: @chandlerc, @jonmeow, @zygoloid, @carbon-language/core-team, @carbon-language/review-managers

CODEOWNERS:

# Global owners.
* @chandlerc @jonmeow @zygoloid

# Owners for the the language and project documentation.
/docs/ @carbon-language/core-team @jonmeow

# Owners for the proposals.
/proposals/ @carbon-language/review-managers

# Owners for the website and related utilities.
/src/ @jonmeow

[InlineCost] Added InlineCostCallAnalyzer::print()
  llvm/lib/Analysis/InlineCost.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[lldb][NFC] Use expect_expr in TestStructTypes.py
  lldb/test/API/lang/c/struct_types/main.c
Owners: @chandlerc, @jonmeow, @zygoloid

[NFCI][CostModel] Add const to Value*.
  llvm/include/llvm/Analysis/TargetTransformInfo.h
  llvm/include/llvm/Analysis/TargetTransformInfoImpl.h
  llvm/include/llvm/CodeGen/BasicTTIImpl.h
  llvm/lib/Analysis/TargetTransformInfo.cpp
  llvm/lib/Target/ARM/ARMTargetTransformInfo.cpp
  llvm/lib/Target/ARM/ARMTargetTransformInfo.h
  llvm/lib/Target/Hexagon/HexagonTargetTransformInfo.cpp
  llvm/lib/Target/Hexagon/HexagonTargetTransformInfo.h
  llvm/lib/Target/X86/X86TargetTransformInfo.cpp
  llvm/lib/Target/X86/X86TargetTransformInfo.h
  llvm/lib/Transforms/Scalar/LoopIdiomRecognize.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[ProcessGDBRemote] Placate the Windows buildbot.
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[SVE] Remove calls to VectorType::getNumElements from IPO
  llvm/lib/Transforms/IPO/GlobalOpt.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[NFC][PowerPC] Fix some typos in MachineCombiner comments
  llvm/lib/Target/PowerPC/PPCInstrInfo.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[lld-macho] Remove using namespace llvm::MachO
  lld/MachO/SyntheticSections.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[ProcessGDBRemote] Fix a typo in an ifdef from 58de2a3851391d
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Script a list of proposals in proposals/README.md
  proposals/README.md
  src/scripts/pre-commit-proposal-list.js
Owners: @carbon-language/review-managers, @jonmeow

Script a list of proposals in proposals/README.md
  .pre-commit-config.yaml
Owners: @chandlerc, @jonmeow, @zygoloid

[PowerPC][Power10] Implement Count Leading/Trailing Zeroes Builtins under bit Mask in LLVM/Clang
  clang/include/clang/Basic/BuiltinsPPC.def
  clang/lib/Headers/altivec.h
  clang/test/CodeGen/builtins-ppc-p10.c
  clang/test/CodeGen/builtins-ppc-p10vector.c
  llvm/include/llvm/IR/IntrinsicsPowerPC.td
  llvm/lib/Target/PowerPC/PPCInstrPrefix.td
  llvm/test/CodeGen/PowerPC/p10-bit-manip-ops.ll
  llvm/test/MC/Disassembler/PowerPC/p10insts.txt
  llvm/test/MC/PowerPC/p10.s
Owners: @chandlerc, @jonmeow, @zygoloid

Adjust trigger names
  .pre-commit-config.yaml
Owners: @chandlerc, @jonmeow, @zygoloid

Add a git hook script that can be manually setup to run some checks on every push
  llvm/docs/GettingStarted.rst
  llvm/docs/Phabricator.rst
  llvm/utils/git/arcfilter.sh
  llvm/utils/git/pre-push.py
Owners: @chandlerc, @jonmeow, @zygoloid

[InlineCost] InlineCostAnnotationWriterPass introduced
  llvm/include/llvm/Analysis/InlineCost.h
  llvm/lib/Analysis/InlineCost.cpp
  llvm/lib/Passes/PassRegistry.def
  llvm/test/Transforms/Inline/debuginline-cost-delta.ll
  llvm/test/Transforms/Inline/inline-cost-annotation-pass.ll
  llvm/test/Transforms/Inline/print-instructions-deltas-unfinished.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[ARM] Make cp10 and cp11 usage a warning
  llvm/lib/Target/ARM/ARMBaseInstrInfo.h
  llvm/lib/Target/ARM/ARMInstrInfo.td
  llvm/lib/Target/ARM/MCTargetDesc/ARMMCTargetDesc.cpp
  llvm/test/MC/ARM/coprocessors.s
  llvm/test/MC/ARM/diagnostics.s
Owners: @chandlerc, @jonmeow, @zygoloid

Revert "[BitcodeReader] Fix DelayedShuffle handling for ConstantExpr shuffles."
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/test/Bitcode/vscale-shuffle.ll
Owners: @chandlerc, @jonmeow, @zygoloid

Use concrete natural type alignment for masked load/store operations instead of 0.
  llvm/include/llvm/CodeGen/BasicTTIImpl.h
Owners: @chandlerc, @jonmeow, @zygoloid

[TextAPI/MachO] Fix style issues. NFC
  llvm/lib/TextAPI/MachO/InterfaceFile.cpp
  llvm/lib/TextAPI/MachO/TextStub.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

Add examples
  proposals/p0083.md
Owners: @carbon-language/review-managers

Add examples
  proposals/p0083.md
Owners: @carbon-language/review-managers

Remove Passes dependency on CodeGen
  llvm/lib/Passes/LLVMBuild.txt
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Passes/PassRegistry.def
  llvm/test/CodeGen/X86/unreachableblockelim.ll
  llvm/test/Transforms/PreISelIntrinsicLowering/load-relative.ll
  llvm/test/Transforms/PreISelIntrinsicLowering/objc-arc.ll
Owners: @chandlerc, @jonmeow, @zygoloid

Revert "Use concrete natural type alignment for masked load/store operations instead of 0."
  llvm/include/llvm/CodeGen/BasicTTIImpl.h
Owners: @chandlerc, @jonmeow, @zygoloid

[SROA] convertValue(): we can have <N x iK> to <M x iQ*> cast
  llvm/lib/Transforms/Scalar/SROA.cpp
  llvm/test/Transforms/SROA/vector-conversion.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[NFCI] SCEV: promote ScalarEvolutionDivision into an publicly usable class
  llvm/include/llvm/Analysis/ScalarEvolutionDivision.h
  llvm/lib/Analysis/CMakeLists.txt
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/lib/Analysis/ScalarEvolutionDivision.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[IR] GetUnderlyingObject(), stripPointerCastsAndOffsets(): don't crash on `bitcast <1 x i8*> to i8*`
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/lib/IR/Value.cpp
  llvm/test/Transforms/InstSimplify/icmp.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[InstCombine] visitBitCast(): do not crash on weird `bitcast <1 x i8*> to i8*`
  llvm/lib/Transforms/InstCombine/InstCombineCasts.cpp
  llvm/test/Transforms/InstCombine/bitcast.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[SROA] convertValue(): we can have <N x iK*> to <M x iQ> cast
  llvm/lib/Transforms/Scalar/SROA.cpp
  llvm/test/Transforms/SROA/vector-conversion.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[NFCI][InstSimplify] Add CHECK-LABEL to new icmp.ll test
  llvm/test/Transforms/InstSimplify/icmp.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[gn build] Port 1e2691fe238
  llvm/utils/gn/secondary/llvm/lib/Analysis/BUILD.gn
Owners: @chandlerc, @jonmeow, @zygoloid

[MIR] Fix CFI_INSTRUCTION escape printing
  llvm/lib/CodeGen/MachineOperand.cpp
  llvm/test/CodeGen/MIR/AArch64/cfi.mir
  llvm/test/CodeGen/MIR/Generic/cfi-escape.mir
Owners: @chandlerc, @jonmeow, @zygoloid

[llvm-profdata] --hot-func-list: fix some style issues in D81800
  llvm/include/llvm/ProfileData/SampleProf.h
  llvm/test/tools/llvm-profdata/sample-hot-func-list.test
  llvm/tools/llvm-profdata/llvm-profdata.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[clangd] Make background index thread count calculation clearer
  clang-tools-extra/clangd/index/Background.cpp
  clang-tools-extra/clangd/index/Background.h
  clang-tools-extra/clangd/index/BackgroundRebuild.h
Owners: @chandlerc, @jonmeow, @zygoloid

[InlineCost] PrinterPass prints constants to which instructions are simplified
  llvm/lib/Analysis/InlineCost.cpp
  llvm/test/Transforms/Inline/simplified_to.ll
Owners: @chandlerc, @jonmeow, @zygoloid

[unittest] Fix FrontendTests CanGenerateCC1CommandLineFlag when LLVM_DEFAULT_TARGET_TRIPLE is not normalized after D79796
  clang/unittests/Frontend/CompilerInvocationTest.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[lldb/API] Use std::make_unique<> (NFC)
  lldb/source/API/SBAddress.cpp
  lldb/source/API/SBBreakpointName.cpp
  lldb/source/API/SBCommandInterpreterRunOptions.cpp
  lldb/source/API/SBDeclaration.cpp
  lldb/source/API/SBError.cpp
  lldb/source/API/SBLineEntry.cpp
  lldb/source/API/SBProcessInfo.cpp
  lldb/source/API/SBSourceManager.cpp
  lldb/source/API/SBStream.cpp
  lldb/source/API/SBStringList.cpp
  lldb/source/API/SBSymbolContext.cpp
  lldb/source/API/SBType.cpp
  lldb/source/API/SBTypeEnumMember.cpp
  lldb/source/API/SBTypeSummary.cpp
  lldb/source/API/SBValueList.cpp
  lldb/source/API/SBVariablesOptions.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[Apple Silicon] Handle macOS in PlatformDarwin
  lldb/source/Plugins/Platform/MacOSX/PlatformDarwin.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[HostInfoMacOS] Parse correctly the triple for Apple Silicon.
  lldb/source/Host/macosx/objcxx/HostInfoMacOSX.mm
Owners: @chandlerc, @jonmeow, @zygoloid

[MLIR][NFC] Adopt variadic isa<>
  mlir/lib/Analysis/AffineAnalysis.cpp
  mlir/lib/Analysis/LoopAnalysis.cpp
  mlir/lib/Analysis/NestedMatcher.cpp
  mlir/lib/Analysis/SliceAnalysis.cpp
  mlir/lib/Analysis/Utils.cpp
  mlir/lib/Dialect/Affine/IR/AffineOps.cpp
  mlir/lib/Dialect/Affine/Transforms/AffineDataCopyGeneration.cpp
  mlir/lib/Dialect/Affine/Transforms/AffineLoopInvariantCodeMotion.cpp
  mlir/lib/Dialect/Affine/Transforms/SimplifyAffineStructures.cpp
  mlir/lib/Dialect/Affine/Transforms/SuperVectorize.cpp
  mlir/lib/Dialect/GPU/Transforms/KernelOutlining.cpp
  mlir/lib/Dialect/Linalg/Transforms/Hoisting.cpp
  mlir/lib/Dialect/Linalg/Transforms/Interchange.cpp
  mlir/lib/Dialect/Linalg/Transforms/Vectorization.cpp
  mlir/lib/Dialect/SCF/SCF.cpp
  mlir/lib/Dialect/SPIRV/SPIRVDialect.cpp
  mlir/lib/Interfaces/SideEffectInterfaces.cpp
  mlir/lib/Pass/IRPrinting.cpp
  mlir/lib/TableGen/Dialect.cpp
  mlir/lib/TableGen/Operator.cpp
  mlir/lib/TableGen/Pattern.cpp
  mlir/lib/Target/LLVMIR/ConvertFromLLVMIR.cpp
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  mlir/lib/Transforms/LoopFusion.cpp
  mlir/lib/Transforms/MemRefDataFlowOpt.cpp
  mlir/lib/Transforms/PipelineDataTransfer.cpp
  mlir/lib/Transforms/Utils/LoopFusionUtils.cpp
  mlir/lib/Transforms/Utils/Utils.cpp
  mlir/tools/mlir-tblgen/OpDefinitionsGen.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[DWARFYAML][debug_gnu_*] 'Descriptor' field should be 1-byte. NFC.
  llvm/lib/ObjectYAML/DWARFEmitter.cpp
Owners: @chandlerc, @jonmeow, @zygoloid

[mlir] Refactor OpInterface internals to be faster and factor out common bits.
  mlir/docs/Interfaces.md
  mlir/include/mlir/IR/OpDefinition.h
  mlir/include/mlir/IR/OperationSupport.h
  mlir/include/mlir/Support/InterfaceSupport.h
  mlir/lib/IR/MLIRContext.cpp
Owners: @chandlerc, @jonmeow, @zygoloid
